// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"github.com/joshuar/go-feed-me/server/session"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials"
)

templ Drawer() {
	// Mobile: drawer sidebar.
	<el-dialog>
		<dialog id="sidebar" class="backdrop:bg-transparent lg:hidden">
			<el-dialog-backdrop class="fixed inset-0 bg-base-100/80 transition-opacity duration-300 ease-linear data-closed:opacity-0"></el-dialog-backdrop>
			<div tabindex="0" class="fixed inset-0 flex focus:outline-none">
				<el-dialog-panel class="group/dialog-panel relative mr-16 flex w-full max-w-xs flex-1 transform transition duration-300 ease-in-out data-closed:-translate-x-full">
					<div class="absolute top-0 left-full flex w-16 justify-center pt-5 duration-300 ease-in-out group-data-closed/dialog-panel:opacity-0">
						<button type="button" command="close" commandfor="sidebar" class="-m-2.5 p-2.5">
							<span class="sr-only">Close sidebar</span>
							<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-base-content">
								<path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</button>
					</div>
					// Sidebar
					<div class="relative flex grow flex-col gap-y-5 overflow-y-auto bg-base-200 px-6 pb-4 ring ring-base-content/10 before:pointer-events-none before:absolute before:inset-0 before:bg-base-200/10">
						// TODO: replace me!
						<div class="relative flex h-16 shrink-0 items-center">
							<img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" class="h-8 w-auto"/>
						</div>
						@DrawerSidebar("relative flex flex-1 flex-col", "mobile")
					</div>
				</el-dialog-panel>
			</div>
		</dialog>
	</el-dialog>
	// Desktop: static sidebar.
	<div class="hidden bg-base-200 lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
		<div
			class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-base-content/10 bg-base-200/10 px-6 pb-4"
			_="on intersection(intersecting) call document.getElementById('navigation-menu-desktop').show()"
		>
			// TODO: replace me!
			<div class="flex h-16 shrink-0 items-center">
				<img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" class="h-8 w-auto"/>
			</div>
			@DrawerSidebar("flex flex-1 flex-col", "desktop")
		</div>
	</div>
	<div class="lg:pl-72">
		@Header()
		<main class="content-width">
			<div id={ partials.ContentID.String() }>
				@templ.Fragment(templates.ContentFragment) {
					{ children... }
				}
			</div>
			<div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6 z-999">
				<div id={ partials.NotificationsID.String() } class="flex w-full flex-col items-center space-y-4 sm:items-end"></div>
			</div>
		</main>
	</div>
}

templ DrawerSidebar(classes, layout string) {
	// <div class="flex h-16 shrink-0 items-center">
	// 	@partials.partials.NewAction("/home", partials.DisplayActionAsLink,
	// 		partials.ActionPushURL(),
	// 	) {
	// 		@partials.Logo("h-8 w-auto")
	// 	}
	// </div>
	<nav class={ classes }>
		<ul role="list" class="flex flex-1 flex-col gap-y-7">
			<li>
				<ul role="list" class="-mx-2 space-y-1">
					<li>
						<button
							type="button"
							command="--toggle"
							commandfor={ "navigation-menu-" + layout }
							aria-expanded="true"
							aria-controls={ "navigation-menu-" + layout }
							class="flex w-full items-center inactive-link"
						>
							Navigation
							<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="ml-auto size-5 shrink-0 not-in-aria-expanded:text-base-content in-aria-expanded:rotate-90 in-aria-expanded:text-base-content">
								<path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd"></path>
							</svg>
						</button>
						<el-disclosure id={ "navigation-menu-" + layout } hidden class="contents transition transition-discrete duration-1000 data-closed:opacity-0">
							<ul class="mt-1 px-2">
								<li>
									<a
										href="/home"
										class="group inactive-link"
									>
										@partials.HeroIconHome("size-6 shrink-0 text-current")
										Home
									</a>
								</li>
								<li>
									<a
										hx-get="/subscriptions"
										hx-target={ partials.ContentID.Target() }
										hx-push-url="true"
										hx-vals={ session.SubscriptionFiltersFromSession(ctx).HXVals() }
										hx-on::after-request="if(event.detail.successful) document.getElementById('drawer-sidebar').hide()"
										class="group inactive-link"
									>
										@partials.HeroIconSubscription("size-6 shrink-0 text-current")
										Subscriptions
									</a>
								</li>
								<li>
									<a
										hx-get="/articles"
										hx-target={ partials.ContentID.Target() }
										hx-push-url="true"
										hx-vals={ session.ArticleFiltersFromSession(ctx).HXVals() }
										hx-on::after-request="if(event.detail.successful) document.getElementById('drawer-sidebar').hide()"
										class="group inactive-link"
									>
										@partials.HeroIconArticle("size-6 shrink-0 text-current")
										Articles
									</a>
								</li>
							</ul>
						</el-disclosure>
					</li>
					<li>
						<button
							type="button"
							command="--toggle"
							commandfor={ "favorites-menu-" + layout }
							aria-expanded="false"
							aria-controls={ "favorites-menu-" + layout }
							class="flex w-full items-center inactive-link"
						>
							Favorites
							<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="ml-auto size-5 shrink-0 not-in-aria-expanded:text-base-content in-aria-expanded:rotate-90 in-aria-expanded:text-base-content">
								<path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd"></path>
							</svg>
						</button>
						<el-disclosure id={ "favorites-menu-" + layout } hidden class="contents transition transition-discrete duration-1000 data-closed:opacity-0">
							<ul
								class="mt-1 px-2"
								id={ "favorites-" + layout }
								hx-trigger="load, updateFavorites from:body"
								hx-get="/user/favorite"
								hx-target={ "#favorites-" + layout }
							></ul>
						</el-disclosure>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
}
