// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/server/session"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"slices"
)

templ Drawer() {
	<el-dialog>
		<dialog id="sidebar" class="backdrop:bg-transparent lg:hidden">
			<el-dialog-backdrop class="fixed inset-0 bg-base-100/80 transition-opacity duration-300 ease-linear data-closed:opacity-0"></el-dialog-backdrop>
			<div tabindex="0" class="fixed inset-0 flex focus:outline-none">
				<el-dialog-panel class="group/dialog-panel relative mr-16 flex w-full max-w-xs flex-1 transform transition duration-300 ease-in-out data-closed:-translate-x-full">
					<div class="absolute top-0 left-full flex w-16 justify-center pt-5 duration-300 ease-in-out group-data-closed/dialog-panel:opacity-0">
						<button type="button" command="close" commandfor="sidebar" class="-m-2.5 p-2.5">
							<span class="sr-only">Close sidebar</span>
							@partials.HeroIconClose("size-6")
						</button>
					</div>
					<div class="relative flex grow flex-col gap-y-5 overflow-y-auto bg-base-200 px-6 ring ring-base-content/10 before:pointer-events-none before:absolute before:inset-0 before:bg-base-200/10">
						@DrawerSidebar()
					</div>
				</el-dialog-panel>
			</div>
		</dialog>
	</el-dialog>
	<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
		<div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-base-content/10 bg-base-200 px-6 pb-4">
			@DrawerSidebar()
		</div>
	</div>
	<div class="lg:pl-72">
		<div class="sticky top-0 z-40 lg:mx-auto lg:w-full">
			<div class="flex h-16 items-center gap-x-4 border-b border-neutral bg-base-200 px-4 shadow-xs sm:gap-x-6 sm:px-6 lg:px-0 lg:shadow-none">
				<button type="button" command="show-modal" commandfor="sidebar" class="-m-2.5 p-2.5 lg:hidden hover:text-accent">
					<span class="sr-only">Open sidebar</span>
					@partials.HeroIconMenu("size-6")
				</button>
				<div aria-hidden="true" class="h-6 w-px bg-neutral lg:hidden"></div>
				<div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6 lg:mx-4">
					<form action="#" method="GET" class="grid flex-1 grid-cols-1">
						<input type="search" name="search" placeholder="Search" aria-label="Search" class="col-start-1 row-start-1 block size-full bg-base-200 pl-8 text-base outline-hidden placeholder:text-base-content/50 sm:text-sm/6"/>
						@partials.HeroIconSearch("size-5 pointer-events-none col-start-1 row-start-1 self-center")
					</form>
					<div class="flex items-center gap-x-4 lg:gap-x-6">
						<button type="button" class="-m-2.5 p-2.5 hover:text-accent">
							<span class="sr-only">View notifications</span>
							@partials.HeroIconNotification("size-6")
						</button>
						<!-- Separator -->
						<div aria-hidden="true" class="hidden lg:block lg:h-6 lg:w-px lg:bg-neutral"></div>
						<!-- Profile dropdown -->
						<el-dropdown class="relative">
							<button class="relative flex items-center">
								<span class="absolute -inset-1.5"></span>
								<span class="sr-only">Open user menu</span>
								<img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full bg-gray-50"/>
								<span class="hidden lg:flex lg:items-center">
									<span aria-hidden="true" class="ml-4 text-sm/6 font-semibold">Tom Cook</span>
									<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="ml-2 size-5 text-gray-400">
										<path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd"></path>
									</svg>
								</span>
							</button>
							<el-menu anchor="bottom end" popover class="w-32 app-context-menu">
								<a
									class="link link-hover block px-3 py-1 text-sm/6 hover:text-accent"
									hx-get="/user/settings"
									hx-target={ partials.ContentID.Target() }
									hx-push-url="true"
								>Settings</a>
								<a href="/logout" class="link link-hover block px-3 py-1 text-sm/6 hover:text-accent">Log out</a>
							</el-menu>
						</el-dropdown>
					</div>
				</div>
			</div>
		</div>
		<main>
			<div id={ partials.ContentID.String() } class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				{ children... }
			</div>
		</main>
	</div>
}

templ DrawerSidebar() {
	// <div class="flex h-16 shrink-0 items-center">
	// 	@partials.NewAction("/home", partials.DisplayActionAsLink,
	// 		partials.ActionPushURL(),
	// 	) {
	// 		@partials.Logo("h-8 w-auto")
	// 	}
	// </div>
	<nav class="flex flex-1 flex-col mt-16 mb-8">
		<ul role="list" class="flex flex-1 flex-col gap-y-7">
			<li>
				<ul role="list" class="-mx-2 space-y-1">
					<li>
						@partials.NewAction("/subscriptions", partials.DisplayActionAsLink,
							partials.ActionValues(session.SubscriptionFiltersFromSession(ctx).Parameters()),
							partials.ActionPushURL(),
							partials.ActionClasses("group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold hover:bg-accent hover:text-accent-content"),
						) {
							@partials.HeroIconSubscription("")
							Subscriptions
						}
					</li>
					<li>
						@partials.NewAction("/articles", partials.DisplayActionAsLink,
							partials.ActionValues(session.ArticleFiltersFromSession(ctx).Parameters()),
							partials.ActionPushURL(),
							partials.ActionClasses("group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold hover:bg-accent hover:text-accent-content"),
						) {
							@partials.HeroIconArticle("")
							Articles
						}
					</li>
				</ul>
			</li>
			<li>
				<div class="text-sm/6 font-semibold text-base-content/40">Your Favorites</div>
				<ul role="list" class="-mx-2 mt-2 space-y-1">
					<div
						id={ partials.FavoritesID.String() }
						hx-trigger="load, updateFavorites from:body"
						hx-get="/user/favorite"
						hx-target={ partials.FavoritesID.Target() }
					></div>
				</ul>
			</li>
			<li class="mt-auto">
				@partials.NewAction("/user/settings", partials.DisplayActionAsLink,
					partials.ActionTarget(partials.ContentID.Target()),
					partials.ActionPushURL(),
					partials.ActionClasses("group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold hover:bg-accent hover:text-accent-content"),
				) {
					@partials.HeroIconSettings("")
					Settings
				}
			</li>
		</ul>
	</nav>
}

templ FavoritesList(favorites models.FavoritesSlice) {
	{{ subscriptions := favorites.FilterByType(models.FavoriteTypeSubscription) }}
	{{ articles := favorites.FilterByType(models.FavoriteTypeArticle) }}
	{{ searches := favorites.FilterByType(models.FavoriteTypeSearch) }}
	if len(subscriptions) > 0 {
		// Show favorite subscriptions.
		<li>
			// <div class="text-xs/8 font-semibold text-gray-400">Subscriptions</div>
			<ul>
				for fav := range slices.Values(subscriptions) {
					<li>
						@partials.FavoriteLink(fav, "group flex items-center gap-x-3 rounded-md p-2 text-sm/6 font-semibold hover:bg-accent hover:text-accent-content")
					</li>
				}
			</ul>
		</li>
	}
	if len(articles) > 0 {
		// Show favorite articles.
		<li>
			// <div class="text-xs/8 font-semibold text-gray-400">Articles</div>
			<ul>
				for fav := range slices.Values(articles) {
					<li>
						@partials.FavoriteLink(fav, "group flex items-center gap-x-3 rounded-md p-2 text-sm/6 font-semibold hover:bg-accent hover:text-accent-content")
					</li>
				}
			</ul>
		</li>
	}
	if len(searches) > 0 {
		// Show favorite articles.
		<li>
			// <div class="text-xs/8 font-semibold text-gray-400">Searches</div>
			<ul>
				for fav := range slices.Values(searches) {
					<li>
						@partials.FavoriteLink(fav, "group flex items-center gap-x-3 rounded-md p-2 text-sm/6 font-semibold hover:bg-accent hover:text-accent-content")
					</li>
				}
			</ul>
		</li>
	}
}
