// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

type DrawerData struct {
	Subscriptions models.SubscriptionsSlice
	User          *models.User
}

templ Drawer(data DrawerData, content templ.Component) {
	// Mobile: drawer sidebar.
	<el-dialog id="mobile-sidebar-dialog">
		<dialog id="mobile-sidebar" class="backdrop:bg-transparent lg:hidden">
			<el-dialog-backdrop class="bg-base-100/80 fixed inset-0 transition-opacity duration-300 ease-linear data-closed:opacity-0"></el-dialog-backdrop>
			<div tabindex="0" class="fixed inset-0 flex focus:outline-none">
				<el-dialog-panel class="group/dialog-panel relative mr-16 flex w-full max-w-xs flex-1 transform transition duration-300 ease-in-out data-closed:-translate-x-full">
					<div class="absolute top-0 left-full flex w-16 justify-center pt-5 duration-300 ease-in-out group-data-closed/dialog-panel:opacity-0">
						<button type="button" command="close" commandfor="mobile-sidebar" class="-m-2.5 p-2.5">
							<span class="sr-only">Close sidebar</span>
							@tabler.X(i.Props{Class: "size-6 text-base-content"})
						</button>
					</div>
					// Sidebar
					<div class="relative flex grow flex-col gap-y-5 overflow-y-auto bg-base-200 px-6 pb-4 ring ring-base-content/10 before:pointer-events-none before:absolute before:inset-0 before:bg-base-200/10">
						<div class="relative flex h-16 shrink-0 gap-4 items-center">
							@partials.Logo("logo-drawer size-12")
							Foragd
						</div>
						@DrawerSidebar(data.Subscriptions, data.User.GetFavorites(), "relative flex flex-1 flex-col", "mobile")
					</div>
				</el-dialog-panel>
			</div>
		</dialog>
	</el-dialog>
	// Desktop: static sidebar.
	<div class="hidden bg-base-200 lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
		<div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-base-content/10 bg-base-200/10 px-6 pb-4">
			<div class="flex h-16 shrink-0 gap-4 items-center">
				@partials.Logo("logo-drawer size-12")
				Foragd
			</div>
			@DrawerSidebar(data.Subscriptions, data.User.GetFavorites(), "flex flex-1 flex-col", "desktop")
		</div>
	</div>
	<div class="lg:pl-72">
		@Header(data.User)
		<div id={ partials.ContentID.String() } hx-indicator="#content-loading">
			@templ.Fragment(templates.FragmentContent) {
				@content
			}
		</div>
		<div id="content-loading" class="htmx-indicator">
			<div class="text-center">
				<span class="loading loading-bars loading-xl"></span>
				<h3 class="mt-2 text-base font-semibold">Loading content...</h3>
			</div>
		</div>
	</div>
}

templ DrawerSidebar(subscriptions models.SubscriptionsSlice, favorites models.FavoritesSlice, classes, layout string) {
	// Remove any subscription filter from the saved filters in the session and use these filters for links in the drawer.
	{{ filters := models.ListFiltersFromCtx(ctx).Values() }}
	{{ delete(filters, models.ParamSubscriptions) }}
	<nav aria-label="Sidebar" class={ classes }>
		<ul role="list" class="flex flex-1 flex-col gap-y-7">
			<li>
				<ul role="list" class="-mx-2 space-y-1">
					<li>
						<a
							href="/home"
							class="group link link-hover hover:text-accent flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold"
						>
							<span class="sr-only">Go to home page</span>
							@tabler.Home(i.Props{Class: "size-6 shrink-0 text-current"})
							Home
						</a>
					</li>
					<li>
						<a
							hx-get="/list/subscriptions"
							hx-target={ partials.ContentID.Target() }
							hx-push-url="true"
							hx-vals={ models.GenerateHXVals(filters) }
							class="group link link-hover hover:text-accent flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold"
							_="on click toggle @open on #mobile-sidebar-dialog"
						>
							<span class="sr-only">Show all unread subscriptions</span>
							@tabler.Rss(i.Props{Class: "size-6 shrink-0 text-current"})
							Subscriptions
						</a>
					</li>
					<li>
						<a
							hx-get="/list/articles"
							hx-target={ partials.ContentID.Target() }
							hx-push-url="true"
							hx-vals={ models.GenerateHXVals(filters) }
							class="group link link-hover hover:text-accent flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold"
							_="on click toggle @open on #mobile-sidebar-dialog"
						>
							<span class="sr-only">Show all unread articles</span>
							@tabler.FileRss(i.Props{Class: "size-6 shrink-0 text-current"})
							Articles
						</a>
					</li>
				</ul>
			</li>
			<li>
				<div class="text-sm/6 font-semibold text-base-content/80">Favorites</div>
				@partials.FavoritesList(favorites, models.OOBSwapFalse)
			</li>
			if len(subscriptions) > 0 {
				<li>
					<div class="text-sm/6 font-semibold text-base-content/80">Subscriptions</div>
					for subscription := range slices.Values(subscriptions) {
						@partials.ViewSubscriptionLink(subscription)
					}
				</li>
			}
		</ul>
	</nav>
}

// id={ "favorites-" + layout }
// hx-trigger="load, updateFavorites from:body"
// hx-get="/user/favorite"
// hx-target={ "#favorites-" + layout }
