// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
)

templ EmptyLayout() {
	@Drawer() {
		@EmptyContent()
	}
}

templ EmptyContent() {
	<div class="hero bg-base-200 min-h-screen rounded-box">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">No content to show</h1>
				<p class="py-6">
					Try adjusting your filters, or maybe there is nothing left to read?
				</p>
				@partials.NewAction("/home", partials.DisplayActionAsButton,
					partials.ActionPushURL(),
					partials.ActionButtonOptions(
						button.WithClasses(button.Primary),
					),
				) {
					Take me home
				}
			</div>
		</div>
	</div>
}
