// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import "github.com/joshuar/go-feed-me/web/templates/partials"

templ EmptyLayout() {
	@Drawer() {
		@EmptyContent()
	}
}

templ EmptyContent() {
	<div class="text-center">
		@partials.HeroIconQuestionMark("mx-auto size-12 text-base-content")
		<h3 class="mt-2 text-base font-semibold">No content to show</h3>
		<p class="mt-1 text-sm text-base-content">Try adjusting your filters, or maybe you are all caught up?</p>
		<div class="mt-6">
			<button type="button" hx-get="/home" hx-push-url="true" hx-target={ partials.ContentID.Target() } class="app-button inline-flex items-center">
				Home
			</button>
		</div>
	</div>
}
