package layouts

// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

import (
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
)

templ EmptyContent() {
	<div class="text-center">
		@tabler.FileUnknown(i.Props{Class: "mx-auto size-12 text-base-content"})
		<h3 class="mt-2 text-base font-semibold">Nothing to show</h3>
		<p class="mt-1 text-sm text-base-content">Try adjusting your filters/search, or maybe you are all caught up?</p>
	</div>
}
