// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"context"
	"fmt"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
	"strings"
)

// Grid layout renders children in a responsive grid.
templ Grid() {
	<ul
		role="list"
		class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2 sm:gap-4 items-center"
		id="grid-objects"
	>
		{ children... }
	</ul>
}

// PaginationControl generates an element that will cause a pagination request when scrolled into view.
templ PaginationControl(ctx context.Context, route string, pagination models.Pagination) {
	<div
		class="isolate"
		hx-post={ route }
		hx-include="#content-filters,[name='csrf_token']"
		hx-vals={ fmt.Sprintf("{%q:%q}", models.ParamPagination, pagination) }
		hx-trigger="intersect once"
		hx-target="#grid-objects"
		hx-swap="beforeend"
		hx-indicator="#content-loading"
		preload
		_="on htmx:afterRequest remove me"
	></div>
}

templ SubscriptionsGrid(subscriptions models.Subscriptions, pagination models.Pagination) {
	{{ filters := models.ListFiltersFromCtx(ctx) }}
	<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		// Hidden content filters.
		<div id="content-filters" class="hidden">
			<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
			<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
			<input type="hidden" name={ models.ParamSortBy } value={ string(filters.GetSort().SortBy) }/>
			<input type="hidden" name={ models.ParamSortOrder } value={ string(filters.GetSort().SortOrder) }/>
			if len(filters.GetCategories()) > 0 {
				<input type="hidden" name={ models.ParamCategories } value={ strings.Join(filters.GetCategories(), ",") }/>
			}
			if len(filters.GetSubscriptions()) > 0 {
				<input type="hidden" name={ models.ParamSubscriptions } value={ strings.Join(filters.GetSubscriptions(), ",") }/>
			}
		</div>
		// Mobile breadcrumbs/navigation.
		<div class="breadcrumbs-mobile">
			<ul>
				<li aria-label="Back">
					<a hx-get="/home" hx-target={ partials.ContentID.Target() } hx-push-url="true" class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
						@tabler.ChevronLeft(i.Props{Class: "mr-1 -ml-1 size-5 shrink-0 text-base-content/50"})
						Back to home
					</a>
				</li>
			</ul>
		</div>
		// Desktop breadcrumbs/navigation.
		<div class="breadcrumbs-desktop">
			<ul>
				<li aria-label="Home">
					<a hx-get="/home" hx-target={ partials.ContentID.Target() } hx-push-url="true" class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
						Home
					</a>
				</li>
				<li aria-label="Subscriptions">
					<a href="#" class="ml-4 link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
						Subscriptions
					</a>
				</li>
			</ul>
		</div>
		<div id="update-notifications" sse-connect={ "/list/subscriptions/updates?" + filters.QueryParams().Encode() } sse-swap="message" class="toast toast-center z-50"></div>
		if len(subscriptions) > 0 {
			@partials.ListDisplayFilters(subscriptions.GetCategoryCounts(), filters, true)
		} else {
			@partials.ListDisplayFilters(subscriptions.GetCategoryCounts(), filters, false)
		}
		@Grid() {
			@SubscriptionsList(subscriptions, pagination)
		}
	</main>
}

templ SubscriptionsList(subscriptions models.Subscriptions, pagination models.Pagination) {
	{{ filters := models.ListFiltersFromCtx(ctx) }}
	for subscription := range slices.Values(subscriptions) {
		@partials.SubscriptionCard(subscription)
	}
	if pagination != "" && len(subscriptions) == filters.GetCount() {
		// Add pagination htmx props to last article.
		@PaginationControl(ctx, "/list/subscriptions/paginate", pagination)
	}
}

templ ArticlesGrid(articles models.Articles, pagination models.Pagination) {
	{{ filters := models.ListFiltersFromCtx(ctx) }}
	<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div id="content-filters" class="hidden">
			<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
			<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
			<input type="hidden" name={ models.ParamSortBy } value={ string(filters.GetSort().SortBy) }/>
			<input type="hidden" name={ models.ParamSortOrder } value={ string(filters.GetSort().SortOrder) }/>
			if len(filters.GetCategories()) > 0 {
				<input type="hidden" name={ models.ParamCategories } value={ strings.Join(filters.GetCategories(), ",") }/>
			}
			if len(filters.GetSubscriptions()) > 0 {
				<input type="hidden" name={ models.ParamSubscriptions } value={ strings.Join(filters.GetSubscriptions(), ",") }/>
			}
		</div>
		// Mobile breadcrumbs/navigation.
		<div class="breadcrumbs-mobile">
			<ul>
				<li aria-label="Back">
					<a
						hx-get="/list/subscriptions"
						hx-target={ partials.ContentID.Target() }
						hx-vals={ models.GenerateHXVals(filters.Values()) }
						hx-params={ "not " + models.ParamSubscriptions }
						hx-push-url="true"
						class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content"
					>
						@tabler.ChevronLeft(i.Props{Class: "mr-1 -ml-1 size-5 shrink-0 text-base-content/50"})
						Back to subscriptions
					</a>
				</li>
			</ul>
		</div>
		// Desktop breadcrumbs/navigation.
		<div class="breadcrumbs-desktop">
			<ul>
				<li aria-label="Subscriptions">
					<a
						hx-get="/list/subscriptions"
						hx-target={ partials.ContentID.Target() }
						hx-vals={ models.GenerateHXVals(filters.Values()) }
						hx-params={ "not " + models.ParamSubscriptions }
						hx-push-url="true"
						class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content"
					>Subscriptions</a>
				</li>
				if len(filters.Subscriptions) > 0 && len(articles) > 0 {
					<li>
						<a href="#" class="ml-4 link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
							{ articles[0].GetFeedTitle() }
						</a>
					</li>
				}
			</ul>
		</div>
		<div id="update-notifications" sse-connect={ "/list/articles/updates?" + filters.QueryString() } sse-swap="message" class="toast toast-center z-50"></div>
		if len(articles) > 0 {
			@partials.ListDisplayFilters(articles.GetCategoryCounts(), filters, true)
		} else {
			@partials.ListDisplayFilters(articles.GetCategoryCounts(), filters, false)
		}
		@Grid() {
			@ArticlesList(articles, pagination)
		}
	</main>
}

templ ArticlesList(articles models.Articles, pagination models.Pagination) {
	{{ filters := models.ListFiltersFromCtx(ctx) }}
	for article := range slices.Values(articles) {
		@partials.NewArticleContent(article).Card(filters.GetView())
	}
	// Add pagination element if pagination is required.
	if pagination != "" && len(articles) == filters.GetCount() {
		// Add pagination htmx props to last article.
		@PaginationControl(ctx, "/list/articles/paginate", pagination)
	}
}
