// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"context"
	"fmt"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
)

var CardsID = attributes.ID("cards")

// CardGrid renders the given card components in a grid container.
templ CardGrid() {
	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4 m-2"
		id={ CardsID.String() }
	>
		{ children... }
	</div>
	<div id="content-loading" class="items-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
}

// PaginationControl generates an element that will cause a pagination request when scrolled into view.
templ PaginationControl(ctx context.Context, route string, pagination models.Pagination) {
	<div
		hx-post={ route }
		hx-include="#content-filters"
		hx-vals={ fmt.Sprintf("{%q:%q}", models.ParamPagination, pagination) }
		hx-trigger="intersect once"
		hx-target={ CardsID.Target() }
		hx-swap="beforeend"
		hx-indicator="#content-loading"
		_="on htmx:afterRequest remove me"
	></div>
}
