// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"context"
	"fmt"
	"github.com/immanent-tech/go-feed-me/models"
	"github.com/immanent-tech/go-feed-me/server/session"
	"github.com/immanent-tech/go-feed-me/web/templates/partials"
	"slices"
)

// Grid layout renders children in a responsive grid.
templ Grid() {
	<ul
		role="list"
		class="grid grid-cols-[repeat(auto-fit,_minmax(400px,_1fr))] gap-2 sm:gap-4"
		id="grid-objects"
	>
		{ children... }
	</ul>
}

// PaginationControl generates an element that will cause a pagination request when scrolled into view.
templ PaginationControl(ctx context.Context, route string, pagination models.Pagination) {
	<div
		hx-post={ route }
		hx-include="#content-filters"
		hx-vals={ fmt.Sprintf("{%q:%q}", models.ParamPagination, pagination) }
		hx-trigger="intersect once"
		hx-target="#grid-objects"
		hx-swap="beforeend"
		hx-indicator="#content-loading"
		preload
	></div>
}

templ SubscriptionsGrid(subscriptions models.SubscriptionsSlice, filters *models.SubscriptionFilters, pagination models.Pagination) {
	<main class="px-4 pt-8">
		// Hidden content filters.
		<div id="content-filters" class="hidden">
			for name, value := range filters.Parameters() {
				<input type="hidden" name={ name } value={ value }/>
			}
		</div>
		// Mobile breadcrumbs/navigation.
		<div class="breadcrumbs-mobile">
			<ul>
				<li aria-label="Back">
					<a href="/home" class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
						<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="mr-1 -ml-1 size-5 shrink-0 text-base-content/50">
							<path d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" fill-rule="evenodd"></path>
						</svg>
						Back to home
					</a>
				</li>
			</ul>
		</div>
		// Desktop breadcrumbs/navigation.
		<div class="breadcrumbs-desktop">
			<ul>
				<li aria-label="Home">
					<a href="/home" class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
						Home
					</a>
				</li>
				<li aria-label="Subscriptions">
					<a href="#" class="ml-4 link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
						Subscriptions
					</a>
				</li>
			</ul>
		</div>
		<div id="update-notifications" sse-connect={ "/subscriptions/updates?" + filters.Query() } sse-swap="message" class="toast toast-center z-50"></div>
		@partials.ListControls{
			Path:       "/subscriptions",
			Filters:    filters,
			Categories: subscriptions.GetCategoryCounts(),
		}.Template()
		if len(subscriptions) >0 {
			@Grid() {
				@SubscriptionsList(subscriptions, filters, pagination)
			}
		} else {
			@EmptyContent()
		}
	</main>
}

templ SubscriptionsList(subscriptions models.SubscriptionsSlice, filters *models.SubscriptionFilters, pagination models.Pagination) {
	for subscription := range slices.Values(subscriptions) {
		@partials.NewSubscriptionContent(subscription).Card()
	}
	if pagination != "" && len(subscriptions) == filters.GetCount() {
		// Add pagination htmx props to last article.
		@PaginationControl(ctx, "/subscriptions", pagination)
	}
}

templ ArticlesGrid(articles models.Articles, filters *models.ArticleFilters, pagination models.Pagination) {
	<main class="px-4 pt-8">
		<div id="content-filters" class="hidden">
			for name, value := range filters.Parameters() {
				<input type="hidden" name={ name } value={ value }/>
			}
		</div>
		// Mobile breadcrumbs/navigation.
		<div class="breadcrumbs-mobile">
			<ul>
				<li aria-label="Back">
					<a
						hx-get="/subscriptions"
						hx-target={ partials.ContentID.Target() }
						hx-vals={ models.GenerateHXVals(session.SubscriptionFiltersFromSession(ctx).Parameters()) }
						hx-push-url="true"
						class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content"
					>
						<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="mr-1 -ml-1 size-5 shrink-0 text-base-content/50">
							<path d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" fill-rule="evenodd"></path>
						</svg>
						Back to subscriptions
					</a>
				</li>
			</ul>
		</div>
		// Desktop breadcrumbs/navigation.
		<div class="breadcrumbs-desktop">
			<ul>
				<li aria-label="Subscriptions">
					<a
						hx-get="/subscriptions"
						hx-target={ partials.ContentID.Target() }
						hx-vals={ models.GenerateHXVals(session.SubscriptionFiltersFromSession(ctx).Parameters()) }
						hx-push-url="true"
						class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content"
					>Subscriptions</a>
				</li>
				if len(filters.Subscriptions) > 0 && len(articles) > 0 {
					<li>
						<a href="#" class="ml-4 link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
							{ articles[0].GetFeedTitle() }
						</a>
					</li>
				}
			</ul>
		</div>
		<div id="update-notifications" sse-connect={ "/articles/updates?" + filters.Query() } sse-swap="message" class="toast toast-center z-50"></div>
		@partials.ListControls{
			Path:       "/articles",
			Filters:    filters,
			Categories: articles.GetCategoryCounts(),
		}.Template()
		if len(articles) > 0 {
			@Grid() {
				@ArticlesList(articles, filters, pagination)
			}
		} else {
			@EmptyContent()
		}
	</main>
}

templ ArticlesList(articles models.Articles, filters *models.ArticleFilters, pagination models.Pagination) {
	for article := range slices.Values(articles) {
		@partials.NewArticleContent(article).Card(filters.GetView())
	}
	// Add pagination element if pagination is required.
	if pagination != "" && len(articles) == filters.GetCount() {
		// Add pagination htmx props to last article.
		@PaginationControl(ctx, "/articles", pagination)
	}
}
