// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/partials"
)

templ Header(user *models.User) {
	<div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-base-content/10 bg-base-200 px-4 sm:gap-x-6 sm:px-6 lg:px-8">
		<button type="button" command="show-modal" commandfor="mobile-sidebar" class="-m-2.5 p-2.5 btn btn-ghost btn-square hover:text-primary lg:hidden">
			<span class="sr-only">Open sidebar</span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
			</svg>
		</button>
		<a href="/home" role="button" class="-m-2.5 p-2.5 btn btn-ghost btn-square hover:text-primary lg:hidden">
			<span class="sr-only">Go to home page</span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0 text-current">
				<path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"></path>
			</svg>
		</a>
		<div aria-hidden="true" class="h-6 w-px bg-base-content/10 lg:hidden"></div>
		<div class="flex flex-1 gap-x-4 self-stretch items-center lg:gap-x-6">
			<div class="sm:relative grid flex-1 grid-cols-1 mx-auto sm:max-w-3xl">
				@GlobalSearch(user)
			</div>
			<div class="flex items-center gap-x-4 lg:gap-x-6">
				// <button type="button" class="-m-2.5 p-2.5 btn btn-ghost btn-square hover:text-primary">
				// 	<span class="sr-only">View notifications</span>
				// 	<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
				// 		<path d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" stroke-linecap="round" stroke-linejoin="round"></path>
				// 	</svg>
				// </button>
				<div aria-hidden="true" class="hidden lg:block lg:h-6 lg:w-px lg:bg-base-content/10"></div>
				@HeaderUserMenu(user)
			</div>
		</div>
	</div>
}

templ HeaderUserMenu(user *models.User) {
	<el-dropdown id="header-user-menu" class="relative">
		<button id="header-menu-button" class="btn btn-ghost btn-square hover:text-primary">
			<span class="sr-only">Open user menu</span>
			<img src={ user.GetAvatar() } alt={ user.GetNickname() } class="size-8 rounded-full outline -outline-offset-1 outline-base-content/10"/>
		</button>
		<el-menu id="header-menu" anchor="bottom end" popover class="origin-top-right rounded-md bg-base-300 py-2 outline-1 -outline-offset-1 outline-base-content/10 transition transition-discrete [--anchor-gap:--spacing(2.5)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
			// Open settings menu.
			<a
				class="menu-item"
				hx-get="/user/settings"
				hx-target={ partials.ContentID.Target() }
				hx-push-url="true"
				_="on click remove @open from #header-menu"
			>
				<div class="flex flex-1 items-center gap-x-2">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
						<path stroke-linecap="round" stroke-linejcoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75"></path>
					</svg>
					Settings
				</div>
			</a>
			// Report issue.
			<a
				hx-get={ "/user/issue" }
				hx-target={ partials.ContentID.Target() }
				class="link link-hover menu-item"
			>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0 2.77-.693a9 9 0 0 1 6.208.682l.108.054a9 9 0 0 0 6.086.71l3.114-.732a48.524 48.524 0 0 1-.005-10.499l-3.11.732a9 9 0 0 1-6.085-.711l-.108-.054a9 9 0 0 0-6.208-.682L3 4.5M3 15V4.5"></path>
				</svg>
				Report an issue
			</a>
			// Logout
			<a href="/logout" class="menu-item">
				<div class="flex flex-1 items-center gap-x-2">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"></path>
					</svg>
					Log out
				</div>
			</a>
		</el-menu>
	</el-dropdown>
}
