// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import "github.com/joshuar/go-feed-me/web/templates/partials"

type IndexLayout struct{}

templ (i *IndexLayout) FullRender() {
	@partials.NewPage("Go Feed Me",
		partials.WithDescription("Welcome to Go Feed Me"),
	).Template() {
		<div id="index-hero" class="hero bg-base-200 min-h-screen">
			<div class="hero-content text-center">
				<div class="max-w-md">
					<h1 class="text-5xl font-bold">Go Feed Me</h1>
					<p class="py-6">
						Your new homepage on the internet.
					</p>
					<a
						class="btn btn-primary"
						hx-boost="false"
						href="/login/auth0"
					>Login with Auth0</a>
					<a
						class="btn btn-primary"
						hx-boost="false"
						href="/signup"
					>Sign-up</a>
				</div>
			</div>
		</div>
	}
}

templ (i *IndexLayout) PartialRender() {
	@i.FullRender()
}
