// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/joshuar/go-templ-daisyui/layout/join"
	"github.com/sebasvil20/templicons/tabler"
)

templ SearchForm() {
	<div class="dropdown dropdown-center">
		@form.Build(
			form.WithExtraAttributes(templ.Attributes{
				"hx-post":     "/search/results",
				"hx-target":   partials.ContentID.Target(),
				"hx-push-url": "true",
			}),
		).Show() {
			@join.Horizontally() {
				@textinput.Build(
					textinput.WithID("search"),
					textinput.WithName("text"),
					textinput.WithPlaceholder("Search anything..."),
					textinput.WithExtraAttributes(templ.Attributes{
						"hx-post":      "/search",
						"hx-trigger":   "input changed delay:500ms",
						"hx-target":    "#search-suggestions",
						"hx-indicator": ".htmx-indicator",
						"tabindex":     0,
						"hx-push-url":  "false",
					}),
					textinput.WithExtraClasses("join-item"),
				).Show()
				@button.Build(
					button.AsSubmit(),
					button.WithClasses("join-item"),
					button.WithAttributes(templ.Attributes{
						"tabindex":   1,
						"hx-trigger": "keyup[key=='Enter']",
					}),
				) {
					@tabler.Search()
				}
			}
		}
		<div id="search-suggestions"></div>
	</div>
}
