// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"slices"
)

// SearchSuggestions will render suggestions for a given search.
templ SearchSuggestions(request *models.SearchRequest, subscriptions []*partials.Subscription, articles []*partials.Article) {
	// Always generate a suggestion to execute a full search.
	<a
		href="#"
		hx-get="/search"
		hx-target={ partials.ContentID.Target() }
		hx-include="[name='text']"
		hx-push-url="true"
		hidden
		class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
		_="on htmx:afterRequest add @hidden to #global-search-suggestions"
	>
		@partials.HeroIconSearch("size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]")
		<span class="ml-3 flex-auto truncate">Search for { request.Text }</span>
		<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Search...</span>
	</a>
	// Subscription suggestions.
	<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="subscriptions-group-label">
		<div id="subscriptions-group-label">Subscriptions</div>
		for subscription := range slices.Values(subscriptions) {
			<a href="#" hidden class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content">
				@partials.HeroIconSubscription("size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]")
				<span class="ml-3 flex-auto truncate">{ subscription.GetTitle() } </span>
				<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
			</a>
		}
	</el-command-group>
	// Article suggestions.
	<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="articles-group-label">
		<div id="articles-group-label">Articles</div>
		for article := range slices.Values(articles) {
			<a href="#" hidden class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content">
				@partials.HeroIconArticle("size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]")
				<span class="ml-3 flex-auto truncate">{ article.GetTitle() } </span>
				<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
			</a>
		}
	</el-command-group>
	// Page suggestions.
	<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="pages-group-label">
		<div id="pages-group-label">Pages</div>
		<a href="/home" hidden class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content">
			@partials.HeroIconHome("size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]")
			<span class="ml-3 flex-auto truncate">Home</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a href="#" hidden class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content">
			@partials.HeroIconSubscription("size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]")
			<span class="ml-3 flex-auto truncate">All subscriptions</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a href="#" hidden class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content">
			@partials.HeroIconArticle("size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]")
			<span class="ml-3 flex-auto truncate">All articles</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a href="#" hidden class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content">
			@partials.HeroIconSettings("size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]")
			<span class="ml-3 flex-auto truncate">Settings</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a href="#" hidden class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content">
			@partials.HeroIconAdd("size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]")
			<span class="ml-3 flex-auto truncate">Add subscription</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
	</el-command-group>
}

// GlobalSearch renders a command palette element for powering global search within the app.
// col-start-1 row-start-1 block size-full bg-base-200 pl-8 text-base text-white outline-hidden placeholder:text-gray-500 sm:text-sm/6
templ GlobalSearch() {
	<el-command-palette>
		<div class="grid grid-cols-1">
			@partials.HeroIconSearch("pointer-events-none col-start-1 row-start-1 self-center text-base-content size-5")
			<input
				id="global-search"
				type="text"
				name="text"
				hx-push-url="false"
				autofocus
				placeholder="Search..."
				class="col-start-1 row-start-1 block size-full outline-hidden pr-4 pl-6 text-base sm:text-sm/6 placeholder:text-base-content/50"
			/>
			<button
				type="button"
				class="row-start-1 col-start-1 mr-4 self-center justify-self-end"
				_="on click set #global-search.value to '' then add @hidden to #global-search-suggestions"
			>
				@partials.HeroIconClose("text-base-content size-5")
			</button>
			<div
				hx-trigger="input changed from:#global-search delay:500ms"
				hx-get="/search/suggestions"
				hx-target="#global-search-suggestions"
				hx-include="[name='text']"
			></div>
		</div>
		<el-command-list
			id="global-search-suggestions"
			class="absolute w-full left-0 sm:left-21 lg:left-5 sm:w-(--input-width) block max-h-80 lg:max-h-160 scroll-py-2 overflow-y-auto rounded-md shadow-lg bg-base-300 text-base sm:text-sm/6"
		></el-command-list>
		<el-no-results
			hidden
			class="absolute w-(--input-width) block px-6 py-14 text-center sm:px-14 rounded-md shadow-lg bg-base-300"
		>
			@partials.HeroIconQuestionMark("mx-auto size-6 text-base-content")
			<p class="mt-4 text-sm text-base-content">No suggestions found.</p>
		</el-no-results>
	</el-command-palette>
}
