package layouts

// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

// SearchSuggestions will render suggestions for a given search.
templ SearchSuggestions(request *models.SearchRequest, subscriptions []*partials.Subscription, articles []*partials.Article) {
	// Always generate a suggestion to execute a full search.
	<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="search-group-label">
		<form
			hx-post="/search"
			hx-target={ partials.ContentID.Target() }
			hx-include="[name='csrf_token'],#search-filters"
			hx-vals="js:{timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}"
			hx-push-url="true"
			hx-trigger="click, keydown['Enter']"
			_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			<input type="hidden" name="text" value={ request.Text }/>
			<a
				href="#"
				hidden
				class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content text-sm"
			>
				@tabler.Search(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
				<span class="ml-3 flex-auto truncate">Search for { request.Text }</span>
				<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Search...</span>
			</a>
		</form>
	</el-command-group>
	// Page suggestions.
	<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="pages-group-label">
		<div id="pages-group-label" class="text-base-content/80 px-3 py-2">Pages</div>
		<a
			href="/home"
			hidden
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			@tabler.Home(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Home</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="/subscriptions"
			hidden
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			_="on click or keyup[key is 'Enter']  add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			@tabler.Rss(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">All subscriptions</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="/articles"
			hidden
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			@tabler.FileRss(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">All articles</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="/user/settings"
			hidden
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			_="on click or keyup[key is 'Enter']  add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			@tabler.Settings(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Settings</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="#"
			hx-get="/user/subscription/add"
			hx-target={ partials.ContentID.Target() }
			hx-push-url="true"
			hidden
			_="on click or keyup[key is 'Enter']  add @hidden to #global-search-suggestions then set #global-search.value to ''"
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
		>
			@tabler.CirclePlus(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Add subscription</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
	</el-command-group>
	// Subscription suggestions.
	<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="subscriptions-group-label">
		<div id="subscriptions-group-label" class="text-base-content/80 px-3 py-2">Subscriptions</div>
		for subscription := range slices.Values(subscriptions) {
			{{ filters := models.ListFiltersFromCtx(ctx).Values() }}
			{{ filters[models.ParamSubscriptions] = subscription.GetID() }}
			<a
				href="#"
				hx-get={ subscription.ViewURL() }
				hx-vals={ models.GenerateHXVals(filters) }
				hx-target={ partials.ContentID.Target() }
				hx-push-url="true"
				hidden
				_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
				class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			>
				@tabler.Rss(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
				<span class="ml-3 flex-auto truncate">{ subscription.GetTitle() } </span>
				<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
			</a>
		}
	</el-command-group>
	// Article suggestions.
	<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="articles-group-label">
		<div id="articles-group-label" class="text-base-content/80 px-3 py-2">Articles</div>
		for article := range slices.Values(articles) {
			<a
				href="#"
				hx-get={ article.ViewURL() }
				hx-target={ partials.ContentID.Target() }
				hx-push-url="true"
				hidden
				class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
				_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
			>
				@tabler.File(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
				<span class="ml-3 flex-auto truncate">{ article.GetTitle() } </span>
				<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
			</a>
		}
	</el-command-group>
}

templ SearchFilters(user *models.User, request *models.SearchRequest) {
	// Search form.
	<div class="mx-auto max-w-3xl mt-4 p-4 overflow-y-auto">
		<form
			hx-post="/search"
			hx-target={ partials.ContentID.Target() }
			hx-push-url="true"
			hx-include="[name='csrf_token']"
			hx-vals="js:{timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}"
			_="on htmx:afterRequest(successful) if successful add .hidden to #search-filters"
		>
			<div class="grid grid-cols-1 gap-x-6 gap-y-2 sm:gap-y-8 sm:grid-cols-6 md:col-span-2">
				// Full text search filter.
				<div class="col-span-full">
					<label for="text" class="block text-sm/6 font-medium">Includes the words</label>
					<div class="mt-2">
						<input
							id="text"
							type="text"
							name="text"
							if request.Text != "" {
								value={ request.Text }
							}
							class="input input-sm w-full bg-base-content/10"
						/>
					</div>
				</div>
				// Categories filter.
				<div class="sm:col-span-3">
					<label form="categories" class="block text-sm/6 font-medium">Categories</label>
					<div class="mt-2">
						<input
							id="categories"
							type="text"
							name="categories"
							if request.Categories != "" {
								value={ request.Categories }
							}
							class="input input-sm bg-base-content/10"
						/>
					</div>
				</div>
				// Authors filter.
				<div class="sm:col-span-3">
					<label for="authors" class="block text-sm/6 font-medium">Authors</label>
					<div class="mt-2">
						<input
							id="authors"
							type="text"
							name="authors"
							if request.Authors != "" {
								value={ request.Authors }
							}
							class="input input-sm bg-base-content/10"
						/>
					</div>
				</div>
				// Include subscriptions filter.
				<div class="sm:col-span-full">
					<label for="subscriptions-filter-select" class="block text-sm/6 font-medium">In subscriptions</label>
					<select
						id="subscriptions-filter-select"
						hx-post="/search/filter/subscription"
						hx-target="next #subscription-filters"
						hx-swap="beforeend"
						hx-push-url="false"
						name="subscription-filter-select"
						class="select select-sm w-full bg-base-300"
						_="on htmx:afterRequest halt"
					>
						<option disabled selected>Choose...</option>
						for s := range slices.Values(user.GetSubscriptionMetadata().SortByTitle()) {
							<option value={ s.GetID() + "|" + s.Customisation.Nickname }>{ s.Customisation.Nickname }</option>
						}
					</select>
					<div class="mx-auto max-w-7xl px-4 py-3 sm:flex sm:items-center sm:px-6 lg:px-8">
						<div class="mt-2 sm:mt-0">
							<div id="subscription-filters" class="-m-1 flex flex-wrap items-center">
								for id := range slices.Values(request.Subscriptions) {
									{{ subscription := user.GetSubscriptionMetadata().GetByID(id) }}
									if subscription != nil {
										@SubscriptionFilter(id, subscription.Customisation.Nickname)
									}
								}
							</div>
						</div>
					</div>
				</div>
				// View filter.
				<div class="sm:col-span-3">
					<fieldset>
						<legend class="text-sm/6 font-medium">View</legend>
						<div>
							<div class="flex items-center gap-x-3">
								<input
									id="view_unread"
									type="radio"
									name="view"
									value="unread"
									if request.View == models.ViewUnread {
										checked
									}
									class="radio radio-sm"
								/>
								<label for="view_unread" class="block text-sm/6 font-medium">Unread</label>
							</div>
							<div class="flex items-center gap-x-3">
								<input
									id="view_read"
									type="radio"
									name="view"
									value="read"
									if request.View == models.ViewRead {
										checked
									}
									class="radio radio-sm"
								/>
								<label for="view_read" class="block text-sm/6 font-medium">Read</label>
							</div>
							<div class="flex items-center gap-x-3">
								<input
									id="view_all"
									type="radio"
									name="view"
									value="all"
									if request.View == models.ViewAll {
										checked
									}
									class="radio radio-sm"
								/>
								<label for="view_all" class="block text-sm/6 font-medium">All</label>
							</div>
						</div>
					</fieldset>
				</div>
				// Date range filter.
				<div class="sm:col-span-3">
					<label for="published_within" class="block text-sm/6 font-medium">Published within</label>
					<select id="published_within" name="published_within" class="select select-sm my-2 bg-base-300 outline-1 -outline-offset-1 outline-solid shadow-xl">
						<option
							value="last_hour"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLastHour {
								selected
							}
						>Last hour</option>
						<option
							value="last_half_day"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLast12hours {
								selected
							}
						>Last 12 hours</option>
						<option
							value="last_day"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLastDay {
								selected
							}
						>Last day</option>
						<option
							value="last_week"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLastWeek {
								selected
							}
						>Last week</option>
						<option
							value="last_month"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLastMonth {
								selected
							}
						>Last month</option>
						<option
							value="all_time"
							if request.PublishedWithin == models.SearchRequestPublishedWithinAllTime || request.PublishedWithin == "" {
								selected
							}
						>All time</option>
					</select>
				</div>
			</div>
			{ children... }
		</form>
	</div>
	// Help dialog.
	<div class="absolute right-2 top-2">
		@partials.HelpPopover("filter-operators-help", "bottom end") {
			<div tabindex="0" class="card-body card-sm bg-base-300">
				<p>By default words are matched with OR (i.e., cats dogs will match cats OR dogs). The following operators can be used for more refined searches:</p>
				<ul class="gap-y-2">
					<li>+ signifies AND operation (i.e., food AND beverages)</li>
					<li>| signifies OR operation (i.e., food OR beverages)</li>
					<li>- negates a the word (i.e., NOT alcoholic)</li>
					<li>"" represents an exact phrase match (i.e., "rum-based drinks")</li>
					<li>* at the end of indicates a prefix match (i.e., match bird, birding and birds)</li>
				</ul>
			</div>
		}
	</div>
	// <button type="button" command="show-modal" commandfor="search-filters-help" class="btn btn-sm btn-ghost btn-square absolute right-2 top-2">
	// 	<span class="sr-only">Search filters help</span>
	// 	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-info">
	// 		<path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"></path>
	// 	</svg>
	// </button>
	// <el-dialog>
	// 	<dialog id="search-filters-help" aria-labelledby="dialog-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
	// 		<el-dialog-backdrop class="fixed inset-0 bg-base-100/80 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in"></el-dialog-backdrop>
	// 		<div tabindex="0" class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
	// 			<el-dialog-panel class="relative transform overflow-hidden rounded-lg bg-base-300 px-4 pt-5 pb-4 text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-sm sm:p-6 data-closed:sm:translate-y-0 data-closed:sm:scale-95">
	// 				<div>
	// 					<div class="mt-3 sm:mt-5">
	// 						<h3 id="dialog-title" class="text-base font-semibold">Search Help</h3>
	// 						<div class="mt-2 text-sm space-y-2">
	// 							<p>By default words are matched with OR (i.e., cats OR dogs). The following operators can be used for more refined searches:</p>
	// 							<ul class="gap-y-2">
	// 								<li>+ signifies AND operation (i.e., food AND beverages)</li>
	// 								<li>| signifies OR operation (i.e., food OR beverages)</li>
	// 								<li>- negates a the word (i.e., NOT alcoholic)</li>
	// 								<li>"" represents an exact phrase match (i.e., "rum-based drinks")</li>
	// 								<li>* at the end of indicates a prefix match (i.e., match bird, birding and birds)</li>
	// 							</ul>
	// 						</div>
	// 					</div>
	// 				</div>
	// 				<div class="mt-5 sm:mt-6 text-center">
	// 					<button type="button" command="close" commandfor="search-filters-help" class="btn btn-wide btn-outline">Close</button>
	// 				</div>
	// 			</el-dialog-panel>
	// 		</div>
	// 	</dialog>
	// </el-dialog>
}

templ SubscriptionFilter(id, name string) {
	<span id={ id } class="m-1 inline-flex items-center rounded-full border border-base-content/90 bg-base-300 py-1.5 pr-2 pl-3 text-sm font-medium text-base-content">
		<span>{ name }</span>
		<input type="hidden" name="subscriptions" value={ id }/>
		<button type="button" _={ "on click remove #" + id } class="ml-1 inline-flex size-4 shrink-0 rounded-full p-1">
			<span class="sr-only">Remove filter for { name }</span>
			@tabler.X(i.Props{Class: "size-2"})
		</button>
	</span>
}

// GlobalSearch renders a command palette element for powering global search within the app.
templ GlobalSearch(user *models.User) {
	<el-command-palette>
		<form
			hx-trigger="input changed from:#global-search delay:100ms"
			hx-post="/search/suggestions"
			hx-target="#global-search-suggestions"
			hx-include="[name='csrf_token'],#search-filters"
			hx-vals="js:{timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}"
		>
			<div class="grid grid-cols-1">
				<input
					id="global-search"
					type="search"
					name="text"
					hx-push-url="false"
					placeholder="Search..."
					class="col-start-1 row-start-1 block size-full outline-hidden pr-4 pl-10 text-base sm:text-sm/6 placeholder:text-base-content/50 bg-base-content/10 rounded-box py-2"
					_="on customCtrlK from body me.focus()"
				/>
				@tabler.Search(i.Props{Class: "pointer-events-none col-start-1 row-start-1 self-center size-5 ml-4"})
				// Filters button.
				<button
					type="button"
					class="row-start-1 col-start-1 mr-4 self-center justify-self-end"
					_="on click toggle .hidden on #search-filters then halt bubbling"
				>
					@tabler.Filter(i.Props{Class: "size-5"})
				</button>
			</div>
		</form>
		<el-command-list
			id="global-search-suggestions"
			class="absolute w-full left-0 sm:w-(--input-width) block max-h-80 lg:max-h-160 scroll-py-2 overflow-y-auto rounded-md shadow-lg bg-base-300 text-base sm:text-sm/6  outline-1 -outline-offset-1 outline-solid"
			_="on keydown[key is 'Escape'] from body add @hidden end on click from elsewhere add .hidden end"
		></el-command-list>
		<div
			id="search-filters"
			class="hidden absolute w-full h-auto lg:max-h-160 left-0 sm:w-(--input-width) scroll-py-2 overflow-y-auto rounded-md shadow-lg bg-base-300 text-base sm:text-sm/6 p-2  outline-1 -outline-offset-1 outline-solid"
			_="on keydown[key is 'Escape'] from body add .hidden end on click from elsewhere add .hidden end"
		>
			// or focusout from body
			@SearchFilters(user, models.NewSearchRequest()) {
				<div class="mt-6 flex items-center justify-end gap-x-6">
					<button type="button" class="btn btn-sm btn-outline" _="on click add .hidden to #search-filters">Cancel</button>
					<button type="submit" class="btn btn-sm btn-primary">Search</button>
				</div>
			}
		</div>
	</el-command-palette>
}

// _="on click from elsewhere add .hidden to me"

type SearchResultsPage struct {
	user          *models.User
	subscriptions models.SubscriptionsSlice
	articles      []*models.Article
	search        *models.SearchRequest
	favoriteID    models.FavoriteID
}

func NewSearchResultsPage(user *models.User, fav *models.Favorite, search *models.SearchRequest, subscriptions models.SubscriptionsSlice, articles []*models.Article) *SearchResultsPage {
	page := &SearchResultsPage{
		user:          user,
		search:        search,
		subscriptions: subscriptions,
		articles:      articles,
	}
	if fav != nil {
		page.favoriteID = fav.GetID()
	}
	return page
}

templ (page *SearchResultsPage) Content() {
	@partials.MainContainer() {
		<div class="py-6 first:pt-0 last:pb-0">
			<dt>
				<button type="button" command="--toggle" commandfor="faq-0" class="flex w-full items-start justify-between text-left text-base-content">
					<span class="text-base/7 font-semibold">Filters</span>
					<span class="ml-6 flex h-7 items-center">
						@tabler.Plus(i.Props{Class: "size-6 in-aria-expanded:hidden"})
						@tabler.Minus(i.Props{Class: "size-6 not-in-aria-expanded:hidden"})
					</span>
				</button>
			</dt>
			<el-disclosure id="faq-0" hidden class="contents">
				<dd id="current-search-filters" class="mt-2 pr-12">
					@SearchFilters(page.user, page.search) {
						<input type="hidden" name="search_id" value={ page.search.ID() }/>
						<button type="submit" class="btn btn-sm btn-primary">Update</button>
					}
				</dd>
			</el-disclosure>
		</div>
		<nav class="relative flex items-center">
			<div id="favorite-button" class="fab">
				if page.favoriteID != "" {
					@RemoveFavoriteSearchButton(page.favoriteID)
				} else {
					@AddFavoriteSearchButton()
				}
			</div>
		</nav>
		// Show results.
		@Grid() {
			for article := range slices.Values(page.articles) {
				@partials.NewArticleContent(article).Card(models.ViewAll)
			}
		}
		// <ul role="list">
		// 	// Subscription results.
		// 	if len(page.subscriptions) > 0 {
		// 		<div class="flex items-center mt-8">
		// 			<div class="relative flex justify-start">
		// 				<span class="pr-3 text-base/7 font-semibold text-base-content">Subscriptions</span>
		// 			</div>
		// 			<div aria-hidden="true" class="w-full border-t border-base-content/15"></div>
		// 		</div>
		// 		<ul id="subscription-results" role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-3">
		// 			for subscription := range slices.Values(page.subscriptions) {
		// 				@showSearchResult(subscription)
		// 			}
		// 		</ul>
		// 	}
		// 	// Article results.
		// 	if len(page.articles) > 0 {
		// 		<div class="flex items-center mt-8">
		// 			<div class="relative flex justify-start">
		// 				<span class="pr-3 text-base/7 font-semibold text-base-content">Articles</span>
		// 			</div>
		// 			<div aria-hidden="true" class="w-full border-t border-base-content/15"></div>
		// 		</div>
		// 		<ul id="article-results" role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2">
		// 			for article := range slices.Values(page.articles) {
		// 				@showSearchResult(article)
		// 			}
		// 		</ul>
		// 	}
		// </ul>
		// <button class="btn btn-neutral fixed right-0 bottom-0 m-4" hidden _="on intersect remove @hidden from me" href={ partials.ContentID.Target() }>Back to top</button>
	}
}

// AddFavoriteSearchButton renders a button that the user can action to favorite the search. It presents a modal to name
// the search (name is required) before saving.
templ AddFavoriteSearchButton() {
	<button type="button" command="show-modal" commandfor="add-favorite-search" class="btn btn-primary btn-square">
		<span class="sr-only">Add favorite search</span>
		@tabler.Star(i.Props{Class: "size-4"})
	</button>
	<el-dialog>
		<dialog id="add-favorite-search" aria-labelledby="dialog-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
			<el-dialog-backdrop class="fixed inset-0 bg-base-100/80 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in"></el-dialog-backdrop>
			<div tabindex="0" class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
				<el-dialog-panel class="relative transform overflow-hidden rounded-lg bg-base-300 px-4 pt-5 pb-4 text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-sm sm:p-6 data-closed:sm:translate-y-0 data-closed:sm:scale-95">
					<form
						hx-post="/user/favorite/add/search"
						hx-target="#favorite-button"
						hx-include="#current-search-filters,[name='csrf_token']"
						hx-vals="js:{timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}"
					>
						<div>
							<div class="mt-3 sm:mt-5">
								<fieldset class="fieldset">
									<legend class="fieldset-legend">Name this search</legend>
									<input type="text" class="input" name="search_name" required placeholder="Type here"/>
								</fieldset>
							</div>
						</div>
						<div class="mt-5 sm:mt-6 text-center">
							<button type="submit" class="btn btn-primary btn-outline">Save</button>
							<button type="button" command="close" commandfor="add-favorite-search" class="btn btn-outline">Close</button>
						</div>
					</form>
				</el-dialog-panel>
			</div>
		</dialog>
	</el-dialog>
}

templ RemoveFavoriteSearchButton(id models.FavoriteID) {
	<button
		class="btn btn-primary btn-square"
		hx-post="/user/favorite/remove/search"
		hx-target="#favorite-button"
		hx-include="#current-search-filters,[name='csrf_token']"
		hx-vals="js:{timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}"
	>
		@tabler.StarFilled(i.Props{Class: "size-4"})
	</button>
}

templ showSearchResult(result partials.Object) {
	<li>
		<div class="flex gap-x-4 py-5">
			// Show article image or placeholder thumbnail.
			if img := result.GetImage(); img != nil {
				<div class="avatar">
					<div class="rounded-box size-12">
						<img
							src={ img.GetURL() }
							if img.GetTitle() != "" {
								alt={ img.GetTitle() }
							}
						/>
					</div>
				</div>
			} else {
				<div class="avatar avatar-placeholder">
					<div class="bg-neutral text-neutral-content w-12 mask mask-squircle">
						<span class="text-3xl capitalize">{ result.GetTitle()[0:1] }</span>
					</div>
				</div>
			}
			<div class="flex-auto">
				// Show article title.
				<div class="flex items-baseline justify-between gap-x-4">
					@partials.ViewObjectLink(result, "", nil) {
						<p class="text-sm/6 font-semibold text-pretty line-clamp-2">{ result.GetTitle() }</p>
					}
					<p class="flex-none text-xs text-base-content/80">
						@partials.ShowTimestamp(result.GetUpdatedDate())
					</p>
				</div>
			</div>
		</div>
		// Show article description (if exists).
		if result.GetDescription() != "" {
			<div class="flex">
				<article class="mt-1 prose prose-sm prose-img:hidden prose-figure:hidden dark:prose-invert line-clamp-2">
					@templ.Raw(result.GetDescription())
				</article>
			</div>
		}
	</li>
}

// SimilarArticles renders a page of articles that are the result of a search for similar articles to a given input set.
templ SimilarArticles(articles models.Articles) {
	@partials.MainContainer() {
		// Show results.
		@Grid() {
			for article := range slices.Values(articles) {
				@partials.NewArticleContent(article).Card(models.ViewAll)
			}
		}
	}
}

// NoSearchResults renders an informational message for when no search results were returned.
templ NoSearchResults() {
	<div class="text-center">
		<h1 class="mt-4 text-2xl font-semibold tracking-tight text-balance sm:text-4xl">Nothing found 😕</h1>
		<p class="mt-6 text-lg font-medium text-pretty text-base-content sm:text-xl/8">Looks like there are no matches for that search.</p>
		<div class="mt-10 flex items-center justify-center gap-x-6">
			<a href="/home" role="button" class="btn btn-primary">Go to home</a>
		</div>
	</div>
}
