// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import (
	"github.com/immanent-tech/go-feed-me/models"
	"github.com/immanent-tech/go-feed-me/server/session"
	"github.com/immanent-tech/go-feed-me/web/templates/partials"
	"slices"
	"strconv"
)

templ EditSubscription(request *models.EditSubscriptionRequest) {
	@partials.MainContainer() {
		@partials.PageHeader("Editing Subscription")
		if request.HasError() {
			<div role="alert" class="alert alert-error alert-outline mt-12">
				<div class="px-4 py-5 sm:p-6 space-y-4">
					<span class="gap-y-2">
						<p class="font-semibold text-base">Invalid Details</p>
						<p class="text-sm">There is a problem with the details. Please check and try again.</p>
					</span>
				</div>
			</div>
		}
		<fieldset class="fieldset border-base-300 rounded-box border p-4">
			<legend class="fieldset-legend text-base/7">Settings</legend>
			<div class="sm:grid sm:grid-cols-3 sm:items-start gap-x-4 sm:py-6">
				<div class="flex items-center">
					<label class="block text-sm/6 font-medium">
						<input
							type="checkbox"
							if request.ShowFullArticleContent {
								checked="checked"
							}
							name="show_full_article_content"
							class="toggle toggle-sm toggle-primary"
						/>
						Always show full article content
					</label>
					<div class="dropdown dropdown-end">
						<div tabindex="0" role="button" class="btn btn-circle btn-ghost btn-xs text-info">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-info">
								<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"></path>
							</svg>
						</div>
						<div
							tabindex="0"
							class="card card-sm dropdown-content bg-base-100 rounded-box z-1 w-64 shadow-sm"
						>
							<div tabindex="0" class="card-body">
								<p>If articles in the subscription are only showing a summary, set this toggle to attempt to fetch the full content from the website.</p>
								<p>Note: fetching full content is based on a heuristic that tries to locate the article content on the page. It does not always produce optimal results.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset class="fieldset border-base-300 rounded-box border p-4">
			<legend class="fieldset-legend text-base/7">Customisation</legend>
			<form
				id="edit-subscription"
				hx-put={ "/user/subscription/edit/" + request.GetID() }
				hx-include="[name='user_categories'],[name='show_full_article_content']"
				hx-target={ partials.ContentID.Target() }
				hx-target-error={ partials.ContentID.Target() }
				hx-indicator="#processing"
			>
				<input type="hidden" name="subscription_id" value={ request.GetID() }/>
				<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
					<label for="username" class="block text-sm/6 font-medium">Nickname</label>
					<div class="mt-2 sm:col-span-2 sm:mt-0">
						<input
							id="nickname"
							required
							type="text"
							name="user_nickname"
							value={ request.GetNickname() }
							placeholder="My Subscription"
							class="input input-primary bg-base-content/10"
						/>
					</div>
				</div>
			</form>
			<div>
				@partials.AddCategoryForm(request.SuggestedCategories, templ.Attributes{
					"hx-post":     "/user/subscription/category",
					"hx-push-url": "false",
					"hx-target":   "#current-categories",
					"hx-swap":     "beforeend",
					"hx-trigger":  "change,submit",
				})
				// Show current categories.
				<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
					<label class="input-label">Current Categories</label>
					<div class="mt-2 sm:col-span-2 sm:mt-0">
						@partials.ManageCategories(request.GetCategories())
					</div>
				</div>
			</div>
		</fieldset>
		<div class="mt-6 flex items-center justify-end gap-x-6">
			<div id="processing" class="htmx-indicator">
				Processing...
				<span class="loading loading-spinner loading-md"></span>
			</div>
			<button type="button" onclick="history.back()" class="btn btn-primary">Back</button>
			<button
				type="submit"
				form="edit-subscription"
				class="btn btn-primary"
			>Save</button>
		</div>
	}
}

templ EditSubscriptionSuccessNotification(metadata *models.SubscriptionMetadata) {
	@partials.Notification(&models.UserMessage{
		Status:  models.UserMessageStatusSuccess,
		Summary: metadata.Customisation.Nickname + " updated",
	}) {
		<div class="mt-3 flex space-x-7">
			<button
				type="button"
				class="rounded-md text-sm font-medium hover:bg-accent/20 hover:text-accent-content focus:outline-2 focus:outline-offset-2 focus:outline-primary"
				hx-get="/subscriptions"
				hx-target={ partials.ContentID.Target() }
				hx-vals={ models.GenerateHXVals(session.SubscriptionFiltersFromSession(ctx).Parameters()) }
				hx-push-url="true"
				_={ "on click remove #" + partials.GetNotificationIDFromCtx(ctx) }
			>Go to subscriptions <span aria-hidden="true">&rarr;</span></button>
		</div>
	}
}

// AddSubscription is a page for adding a new subscription.
templ AddSubscription(request *models.SubscriptionRequest) {
	@partials.MainContainer() {
		@partials.PageHeader("Add a subscription")
		if request.HasError() {
			<div role="alert" class="alert alert-error alert-outline mt-12">
				<div class="px-4 py-5 sm:p-6 space-y-4">
					<span class="gap-y-2">
						<p class="font-semibold text-base">Invalid Details</p>
						<p class="text-sm">There is a problem with the details. Please check and try again.</p>
					</span>
				</div>
			</div>
		}
		<fieldset class="fieldset border-base-content/10 sm:divide-base-content/10 sm:border-t-base-content/10 mt-10 space-y-8 pb-12 sm:space-y-0 sm:divide-y sm:border-t sm:pb-0">
			<form
				id="add-subscription"
				hx-post="/user/subscription/add"
				hx-target={ partials.ContentID.Target() }
				hx-include="[name='user_categories']"
				hx-indicator="#processing"
				hx-on::after-request="if(event.detail.successful) this.reset()"
			>
				<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 py-2 sm:py-6">
					<div>
						<label for="username" class="block text-sm/6 font-medium">URL</label>
						<p id="url-hint" class="mt-3 text-sm/6 text-base-content/60">Required. The feed's URL or website.</p>
					</div>
					<div class="mt-2 sm:col-span-2 sm:mt-0">
						<input
							id="url"
							required
							type="url"
							name="url"
							value={ request.URL }
							placeholder="https://my-favorite-site/feed"
							class="input input-primary bg-base-content/10 w-full"
						/>
						if request.URLErr != nil {
							<p class="text-error py-2 text-xs/4 font-semibold">Error: { request.URLErr.Error() }</p>
						}
					</div>
				</div>
				<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 py-2 sm:py-6">
					<div>
						<label for="nickname" class="block text-sm/6 font-medium">Nickname</label>
						<p id="nickname-hint" class="mt-3 text-sm/6 text-base-content/60">Optional. A Friendly name for the subscription. Will use the feed's name if not specified.</p>
					</div>
					<div class="mt-2 sm:col-span-2 sm:mt-0">
						<input
							id="nickname"
							type="text"
							name="user_nickname"
							value={ request.Nickname }
							placeholder="My cool subscription"
							class={ templ.KV("input input-primary bg-base-content/10",request.NicknameErr == nil), templ.KV("input input-error bg-base-content/10",request.NicknameErr !=nil) }
						/>
						if request.NicknameErr != nil {
							<p class="text-error py-2 text-xs/4 font-semibold">{ request.NicknameErr.Error() }</p>
						}
					</div>
				</div>
			</form>
			<div>
				@partials.AddCategoryForm(nil, templ.Attributes{
					"hx-post":     "/user/subscription/category",
					"hx-push-url": "false",
					"hx-target":   "#current-categories",
					"hx-swap":     "beforeend",
					"hx-trigger":  "change,submit",
				})
				<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 py-2 sm:py-6">
					<label class="block text-sm/6 font-medium">Current Categories</label>
					<div class="mt-2 sm:col-span-2 sm:mt-0">
						@partials.ManageCategories(request.Categories)
					</div>
				</div>
			</div>
		</fieldset>
		<div class="flex items-center justify-end gap-x-6">
			<div id="processing" class="htmx-indicator">
				Processing...
				<span class="loading loading-spinner loading-md"></span>
			</div>
			<button
				type="button"
				onclick="history.back()"
				class="btn btn-primary"
			>Back</button>
			<button
				type="submit"
				form="add-subscription"
				class="btn btn-primary"
			>Add</button>
		</div>
	}
}

// AddSubscriptionSuccess displays success feedback and navigation options on successful addition of a subscription.
templ AddSubscriptionSuccess(result *models.AddSubscriptionResult) {
	<div class="text-center">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 mx-auto text-success">
			<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
		</svg>
		<h3 class="mt-2 text-base font-semibold">Subscription added: { result.Subscription.GetTitle() }</h3>
		<p class="mt-1 text-sm text-base-content">Articles will be fetched shortly...</p>
		<div class="mt-6">
			<button
				type="button"
				hx-get="/subscriptions"
				hx-target={ partials.ContentID.Target() }
				hx-vals={ models.GenerateHXVals(session.SubscriptionFiltersFromSession(ctx).Parameters()) }
				hx-push-url="true"
				class="btn btn-outline hover:bg-accent"
			>
				Go to subscriptions
			</button>
			<button
				type="button"
				hx-get="/user/subscription/add"
				hx-target={ partials.ContentID.Target() }
				hx-push-url="true"
				class="btn btn-outline hover:bg-accent"
			>
				Add another
			</button>
		</div>
	</div>
}

// ImportPage is a page for importing subscriptions from an external source (e.g., an OPML file).
templ ImportSubscriptions() {
	@partials.MainContainer() {
		@partials.PageHeader("Import Subscriptions")
		@partials.PageDescription("You can import your existing subscriptions from an OPML file. Most feed services support generating an OPML file you can use.")
		<div class="form-fieldset">
			<form
				id="import"
				hx-encoding="multipart/form-data"
				hx-post="/user/import"
				hx-target="#import-results"
				hx-indicator="#processing"
			>
				<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
					<label for="source" class="block text-sm/6 font-medium">OPML file</label>
					<div class="mt-2 sm:col-span-2 sm:mt-0">
						<fieldset class="fieldset">
							<input id="source" type="file" required name="source" class="file-input file-input-primary bg-base-content/10"/>
							<span class="validator-hint hidden">Make sure the file is a valid OPML file.</span>
						</fieldset>
					</div>
				</div>
				<div class="mt-6 flex items-center justify-end gap-x-6">
					<div id="processing" class="htmx-indicator">
						Processing...
						<span class="loading loading-spinner loading-md"></span>
					</div>
					<button type="button" onclick="history.back()" class="btn btn-primary">
						Back
					</button>
					<button
						type="submit"
						class="btn btn-primary"
					>
						Import
					</button>
				</div>
			</form>
		</div>
		<div id="import-results" class="space-y-4"></div>
	}
}

type AddSubscriptionResults map[*models.SubscriptionRequest]*models.AddSubscriptionResult

func (r AddSubscriptionResults) GetSuccessful() []*models.AddSubscriptionResult {
	return slices.Collect(models.FilterMapValues(r, func(result *models.AddSubscriptionResult) bool {
		return result.Message.Status == models.UserMessageStatusSuccess
	}))
}

func (r AddSubscriptionResults) GetFailed() []*models.AddSubscriptionResult {
	return slices.Collect(models.FilterMapValues(r, func(result *models.AddSubscriptionResult) bool {
		return result.Message.Status != models.UserMessageStatusSuccess
	}))
}

// ImportResults is a partial template that displays the results of an import.
templ ImportResults(results AddSubscriptionResults) {
	{{ successfulResults := results.GetSuccessful() }}
	{{ failedResults := results.GetFailed() }}
	@partials.PageHeader("Import Results")
	@partials.PageDescription("Imported: " + strconv.Itoa(len(successfulResults)) + " Failed: " + strconv.Itoa(len(failedResults)))
	<button
		class="btn btn-primary"
		hx-get="/subscriptions"
		hx-target={ partials.ContentID.Target() }
		hx-vals={ models.GenerateHXVals(session.SubscriptionFiltersFromSession(ctx).Parameters()) }
	>
		Go to your subscriptions
	</button>
	<div class="mt-10 space-y-8 border-t border-neutral">
		<ul class="list">
			for response := range slices.Values(slices.Concat(successfulResults,failedResults)) {
				<li class="list-row items-center">
					switch response.Message.Status {
						case models.UserMessageStatusSuccess:
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10 text-success-content">
								<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
							</svg>
							<div>
								<div>{ response.Message.Summary }</div>
							</div>
						case models.UserMessageStatusError:
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10 text-error-content">
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"></path>
							</svg>
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
						case models.UserMessageStatusWarning:
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10 text-warn-content">
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"></path>
							</svg>
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
					}
				</li>
			}
		</ul>
	</div>
	<button class="btn btn-neutral fixed right-0 bottom-0 m-4" href="#">Back to top</button>
}

templ ExportSubscriptions() {
	@partials.MainContainer() {
		@partials.PageHeader("Export subscriptions")
		@partials.PageDescription("You can export your current subscription to an OPML file, which all good feed readers can import.")
		<div class="mt-10 space-y-8">
			<div class="mt-6 flex items-center justify-end gap-x-6">
				<button type="button" onclick="history.back()" class="btn btn-primary">
					Back
				</button>
				<a
					role="button"
					class="btn btn-primary"
					href="/user/export/opml"
					download
				>
					Export
				</a>
			</div>
		</div>
		<center id="processing" class="htmx-indicator">
			Processing, this could take a few minutes...
			<span class="loading loading-spinner loading-md"></span>
		</center>
	}
}
