package partials

import (
	"github.com/joshuar/go-feed-me/templates/commands"
	components "github.com/joshuar/go-templ-daisyui"
)

templ NavigationHeader() {
	<div class="w-full">
		<!-- Header -->
		<div class="py-4">
			<div class="navbar bg-base-100">
				<div class="navbar-start">
					Go Feed Me
				</div>
				<div class="navbar-center">
					@navBarSearch()
				</div>
				<div class="navbar-end">
					@navBarMenu()
				</div>
			</div>
		</div>
	</div>
}

templ navBarSearch() {
	@components.InputTempl(components.NewInput("Search",
		components.AsFormControl(),
		components.WithInputModifier(components.InputAccent),
		components.WithInputType(components.InputTypeSearch),
		components.WithInputIcon(components.NewIcon("magnifying-glass"), components.AlignLeft),
		components.WithPlaceholder("Search anything..."),
		components.WithInputAttributes(templ.Attributes{
			"tabindex":     0,
			"hx-post":      "/home/search",
			"hx-trigger":   "input changed delay:500ms, SearchRequest",
			"hx-target":    "#search-results",
			"hx-indicator": ".htmx-indicator",
		}),
	))
}

templ navBarMenu() {
	@components.DropDownTempl(
		components.NewDropDown(
			components.AsButton("Menu"),
			components.WithOpen(components.DropDownBottom),
			components.AsCustom(),
			components.WithAlignEnd(),
		)) {
		<label class="btn btn-circle swap">
			<!-- this hidden checkbox controls the state -->
			<input type="checkbox"/>
			<!-- hamburger icon -->
			@components.FontAwesomeTempl(components.NewIcon("bars", components.WithExtraIconClasses("swap-off")))
			<!-- close icon -->
			@components.FontAwesomeTempl(components.NewIcon("xmark", components.WithExtraIconClasses("swap-on")))
			@components.ListTempl(components.NewList(components.ListUnordered,
				components.ListAttributes(templ.Attributes{
					"tabindex": "0",
					"class":    "dropdown-content bg-base-100 rounded-box justify-start shadow swap-on",
				}),
				components.WithItems(
					components.ButtonTempl(commands.HelpCommand),
					components.ButtonTempl(commands.ProfileCommand),
					components.ButtonTempl(commands.SettingsCommand),
				),
			))
		</label>
	}
}
