package partials

// NavigationSmallScreen is a container for navigation control on smaller screens (i.e., mobile devices).
templ NavigationSmallScreen() {
	<div class="sticky top-0 block bg-pink-500 py-5 md:hidden">
		<h1 class="text-center text-xl">Mobile Navigation</h1>
	</div>
}
