// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package settings

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-feed-me/web/templates/partials/appbar"
)

type SettingsLayout struct{}

func NewSettingsLayout() *SettingsLayout {
	return &SettingsLayout{}
}

templ (l *SettingsLayout) Template() {
	@SettingsHeader()
	<div id={ templates.ContentID.String() }>
		@SettingsContent()
	</div>
	@layouts.Footer() {
		@layouts.FooterItem() {
			@partials.UpdateBacklink(models.NewPageView("/home", nil))
		}
	}
}

templ SettingsHeader() {
	@appbar.AppBar().Show()
}

templ SettingsContent() {
	<h2>Display</h2>
	@themeChangeMenu()
	@templates.SetPageTitle("Settings")
}

templ ResetFooter() {
	<div id="content-filters" hx-swap-oob="true"></div>
	<div id="content-sorting" hx-swap-oob="true"></div>
}
