// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package settings

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-feed-me/web/templates/partials/appbar"
)

type SettingsLayout struct {
}

func BuildSettingsLayout() *SettingsLayout {
	return &SettingsLayout{}
}

templ (l *SettingsLayout) FullRender() {
	@templates.NewPage("Settings").Show() {
		@appbar.AppBar().Show()
		<div id="content">
			<h2>Display</h2>
			@themeChangeMenu()
		</div>
		@SettingsFooter(models.NewPageView("/home", nil))
	}
}

templ (l *SettingsLayout) PartialRender() {
	<h2>Display</h2>
	@themeChangeMenu()
	@templates.SetPageTitle("Settings")
}

templ SettingsFooter(lastViewed models.PageView) {
	<div
		id="content-footer"
		hx-swap-oob="true"
		hx-swap="morph:outerHTML"
		class="bg-base-200 dock dock-sm"
	>
		<div title="Back" class="basis-xs">
			@partials.BackButton(lastViewed.AsAction().Attributes())
		</div>
	</div>
}
