// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package settings

import (
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials/appbar"
	"github.com/joshuar/go-templ-daisyui/attributes"
)

var FooterID = attributes.ID("settings-footer")

type SettingsLayout struct {
	BackButton templ.Component
}

func BuildSettingsLayout(back templ.Component) *SettingsLayout {
	return &SettingsLayout{
		BackButton: back,
	}
}

templ (l *SettingsLayout) FullRender() {
	@templates.NewPage("Settings").Show() {
		@appbar.AppBar().Show()
		<div class="p-2 m-2">
			<h2>Display</h2>
			@themeChangeMenu()
		</div>
		@l.footer()
	}
}

templ (l *SettingsLayout) footer() {
	<div
		id={ FooterID.String() }
		hx-swap-oob="true"
		hx-swap="morph:outerHTML"
		class="bg-base-200 dock dock-sm"
	>
		<div title="Back" class="basis-xs">
			@l.BackButton
		</div>
	</div>
}
