// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package settings

// themeChangeMenu displays a menu containing the themes that can be selected for the app.
templ themeChangeMenu() {
	<div tabindex="0" class="collapse bg-base-100 border-base-300 border">
		<div class="collapse-title font-semibold">
			Change Theme
		</div>
		<div class="collapse-content text-sm">
			<fieldset class="fieldset">
				@themeSelect("light")
				@themeSelect("dark")
				@themeSelect("synthwave")
				@themeSelect("retro")
				@themeSelect("valentine")
				@themeSelect("aqua")
				@themeSelect("lofi")
				@themeSelect("black")
				@themeSelect("dracula")
				@themeSelect("business")
				@themeSelect("night")
				@themeSelect("coffee")
				@themeSelect("dim")
				@themeSelect("nord")
				@themeSelect("sunset")
				@themeSelect("caramellatte")
				@themeSelect("mocha")
			</fieldset>
		</div>
	</div>
}

// themeSelect presents a button to change the theme to the given theme.
templ themeSelect(theme string) {
	<label class="flex gap-2 cursor-pointer items-center">
		<input
			type="radio"
			name="theme"
			class="radio radio-sm theme-controller"
			value={ theme }
			hx-put="/settings/theme"
			_="on click send setTheme(theme: (my value))"
		/>
		<div data-theme={ theme } class="bg-base-100 grid shrink-0 grid-cols-2 gap-0.5 rounded-md p-1 shadow-sm">
			@themeBox()
		</div>
		<div class="truncate">{ theme }</div>
	</label>
}

// themeBox displays a little box showing the common colors for a theme.
templ themeBox() {
	<div class="bg-base-content size-1 rounded-full"></div>
	<div class="bg-primary size-1 rounded-full"></div>
	<div class="bg-secondary size-1 rounded-full"></div>
	<div class="bg-accent size-1 rounded-full"></div>
}
