// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package settings

// themeChangeMenu displays a dropdown menu containing the themes that can be selected for the app.
templ themeChangeMenu() {
	<div title="Change Theme" class="dropdown dropdown-end block">
		<div tabindex="0" role="button" class="btn group btn-sm btn-ghost" aria-label="Change Theme">
			Theme:
			<div class="bg-base-100 group-hover:border-base-content/20 border-base-content/10 grid shrink-0 grid-cols-2 gap-0.5 rounded-md border p-1 transition-colors">
				@themeBox()
			</div>
			// <svg width="12px" height="12px" class="mt-px hidden size-2 fill-current opacity-60 sm:inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path></svg>
		</div>
		<div>
			<script>
            me().innerText = document.documentElement.getAttributeNode('data-theme').value
            console.log(document.documentElement.getAttributeNode('data-theme').innerText)
            </script>
		</div>
		<div tabindex="0" class="dropdown-content bg-base-200 text-base-content rounded-box top-px h-[30.5rem] max-h-[calc(100vh-8.6rem)] overflow-y-auto border border-white/5 shadow-2xl outline-1 outline-black/5">
			<ul class="menu max-w-56">
				<li class="menu-title text-xs">Choose a theme</li>
				@themeSelect("light")
				@themeSelect("dark")
				@themeSelect("synthwave")
				@themeSelect("retro")
				@themeSelect("valentine")
				@themeSelect("aqua")
				@themeSelect("lofi")
				@themeSelect("black")
				@themeSelect("dracula")
				@themeSelect("business")
				@themeSelect("night")
				@themeSelect("coffee")
				@themeSelect("dim")
				@themeSelect("nord")
				@themeSelect("sunset")
				@themeSelect("caramellatte")
			</ul>
		</div>
	</div>
}

// themeSelect presents a button to change the theme to the given theme.
templ themeSelect(theme string) {
	<li>
		<button class="gap-3 px-2" data-set-theme={ theme } data-act-class="[&_svg]:visible">
			<div data-theme={ theme } class="bg-base-100 grid shrink-0 grid-cols-2 gap-0.5 rounded-md p-1 shadow-sm">
				@themeBox()
			</div>
			<div class="truncate">{ theme }</div>
			// <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="invisible h-3 w-3 shrink-0"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path></svg>
		</button>
	</li>
}

// themeBox displays a little box showing the common colors for a theme.
templ themeBox() {
	<div class="bg-base-content size-1 rounded-full"></div>
	<div class="bg-primary size-1 rounded-full"></div>
	<div class="bg-secondary size-1 rounded-full"></div>
	<div class="bg-accent size-1 rounded-full"></div>
}
