// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/action"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-feed-me/web/templates/partials/subscription"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"strings"
)

// actionAttributes are the common htmx attributes for mark actions.
var actionAttributes = templ.Attributes{
	"hx-push-url":     "false",
	"hx-target":       templates.ContentID.Target(),
	"hx-target-error": templates.ErrorID.Target(),
	"hx-swap":         "morph:innerHTML swap:1s",
}

const actionTextClasses = "w-fit text-xs"

// addSubscriptionButton creates a button for displaying a modal to add a new subscription.
func addSubscriptionAction(classes ...string) templ.Component {
	return link.Build(
		link.WithContent(templ.Join(tabler.CloudPlus(i.Props{Size: i.SizeXS}), components.SetContent("Add Subscription"))),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":    "/subscription/new",
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal(subscription.SubscriptionModalID.Target()) + " then " + partials.HyperscriptCloseDropdown(),
		}),
		link.WithExtraClasses(actionTextClasses),
		link.WithUnderlineOnHover(),
	).Show(classes...)
}

// importAction creates a button for displaying a modal to import feeds (i.e.
// via opml).
func importAction(classes ...string) templ.Component {
	return link.Build(
		link.WithContent(templ.Join(tabler.CloudUpload(i.Props{Size: i.SizeXS}), components.SetContent("Import Subscriptions"))),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":    "/subscription/import",
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal(subscription.ImportModalID.Target()) + " then " + partials.HyperscriptCloseDropdown(),
		}),
		link.WithExtraClasses(actionTextClasses),
		link.WithUnderlineOnHover(),
	).Show(classes...)
}

func markReadLink(label string, attributes templ.Attributes) templ.Component {
	return link.Build(
		link.WithContent(
			templ.Join(tabler.Bookmark(i.Props{Size: i.SizeXS}), components.SetContent(label)),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(attributes),
		link.WithExtraClasses(actionTextClasses),
	).Show()
}

func markUnreadLink(label string, attributes templ.Attributes) templ.Component {
	return link.Build(
		link.WithContent(
			templ.Join(tabler.BookmarkFilled(i.Props{Size: i.SizeXS}), components.SetContent(label)),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(attributes),
		link.WithExtraClasses(actionTextClasses),
	).Show()
}

// markAllItemsAction generates an action for the footer menu to mark all items of a feed as either read or unread,
// depending on the current view.
func markAllItemsAction(ctx context.Context, feeds []models.FeedID) templ.Component {
	switch models.FiltersFromCtx(ctx).View {
	case models.ViewUnread:
		action := action.Build(models.FeedsRoute+"/mark/"+string(models.MarkRead),
			action.WithMethod(http.MethodPost),
			action.WithAttributes(actionAttributes),
			action.WithParam(models.ParamRedirect, models.FeedsRoute),
			action.WithParam(models.ParamFeeds, strings.Join(feeds, ",")),
		)
		return markReadLink("Mark All Read", action.Attributes())
	case models.ViewRead:
		action := action.Build(models.FeedsRoute+"/mark/"+string(models.MarkUnread),
			action.WithMethod(http.MethodPost),
			action.WithAttributes(actionAttributes),
			action.WithParam(models.ParamRedirect, models.FeedsRoute),
			action.WithParam(models.ParamFeeds, strings.Join(feeds, ",")),
		)
		return markUnreadLink("Mark All Unread", action.Attributes())
	default:
		return nil
	}
}

func markItemAction(feedID models.FeedID, itemID models.ItemID, isUnread bool) templ.Component {
	action := action.Build(models.ItemsRoute,
		action.WithMethod(http.MethodPost),
		action.WithAttributes(actionAttributes),
		action.WithParam(models.ParamFeedID, feedID),
		action.WithParam(models.ParamItems, itemID),
	)
	if isUnread {
		action.Params.Add("mark", string(models.MarkRead))
		return markReadLink("Mark Read", action.Attributes())
	}

	action.Params.Add("mark", string(models.MarkUnread))
	return markUnreadLink("Mark Unread", action.Attributes())
}

// markAllFeedsAction generates an action for the footer menu to mark all feeds as either read or unread, depending on
// the current view.
func markAllFeedsAction(ctx context.Context) templ.Component {
	switch models.FiltersFromCtx(ctx).View {
	case models.ViewUnread:
		action := action.Build("/subscriptions/mark/"+string(models.MarkRead),
			action.WithMethod(http.MethodPost),
			action.WithAttributes(actionAttributes),
			action.WithParam(models.ParamRedirect, "/home"),
		)
		return markReadLink("Mark All Read", action.Attributes())
	case models.ViewRead:
		action := action.Build("/subscriptions/mark/"+string(models.MarkUnread),
			action.WithMethod(http.MethodPost),
			action.WithAttributes(actionAttributes),
			action.WithParam(models.ParamRedirect, "/home"),
		)
		return markUnreadLink("Mark All Unread", action.Attributes())
	default:
		return nil
	}
}

func markFeedAction(id models.SubscriptionID, isRead bool) templ.Component {
	if isRead {
		action := action.Build("/subscription/mark/"+string(models.MarkRead)+"/"+id,
			action.WithMethod(http.MethodPost),
			action.WithAttributes(templ.Attributes{
				"hx-push-url":     "false",
				"hx-target":       templates.ContentID.Target(),
				"hx-target-error": templates.ErrorID.Target(),
				"hx-swap":         "morph:innerHTML swap:1s",
			}),
			action.WithParam(models.ParamRedirect, models.FeedsRoute),
		)
		return markReadLink("Mark Read", action.Attributes())
	}
	action := action.Build("/subscription/mark/"+string(models.MarkUnread)+"/"+id,
		action.WithMethod(http.MethodPost),
		action.WithAttributes(templ.Attributes{
			"hx-push-url":     "false",
			"hx-target":       templates.ContentID.Target(),
			"hx-target-error": templates.ErrorID.Target(),
			"hx-swap":         "morph:innerHTML swap:1s",
		}),
		action.WithParam(models.ParamRedirect, models.FeedsRoute),
	)
	return markUnreadLink("Mark Unread", action.Attributes())
}

func markAction(mark models.Mark, attributes templ.Attributes) templ.Component {
	switch mark {
	case models.MarkRead:
		return markReadLink("Mark Read", attributes)
	case models.MarkUnread:
		return markUnreadLink("Mark Unread", attributes)
	}
	return nil
}

templ shareAction(attributes templ.Attributes) {
	@link.Build(
		link.WithContent(
			templ.Join(tabler.Share(i.Props{Size: i.SizeXS}), components.SetContent("Share")),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(attributes),
		link.WithExtraClasses(actionTextClasses),
	).Show()
}

templ visitExternalLinkAction(label, url string) {
	@link.Build(
		link.WithContent(
			templ.Join(tabler.ExternalLink(i.Props{Size: i.SizeXS}), components.SetContent("Visit "+label)),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(templ.Attributes{
			"href": url,
			"_":    "on mouseenter add .menu-active to me end on mouseleave remove .menu-active from me end",
		}),
		link.WithExtraClasses(actionTextClasses),
	).Show()
}

func editSubscriptionAction(id models.SubscriptionID) templ.Component {
	action := action.Build("/subscription/edit/"+id,
		action.WithAttributes(templ.Attributes{
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal("#modal_"+id) + " then " + partials.HyperscriptCloseDropdown(),
		}),
	)
	return link.Build(
		link.WithContent(
			templ.Join(tabler.Edit(i.Props{Size: i.SizeXS}), components.SetContent("Edit")),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraClasses(actionTextClasses),
		link.WithExtraAttributes(action.Attributes()),
	).Show()
}

func unsubscribeAction(id models.SubscriptionID) templ.Component {
	action := action.Build("/subscription/edit/"+id,
		action.WithMethod(http.MethodDelete),
		action.WithAttributes(templ.Attributes{
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal("#modal_"+id) + " then " + partials.HyperscriptCloseDropdown(),
		}),
	)
	return link.Build(
		link.WithContent(
			templ.Join(tabler.Trash(i.Props{Size: i.SizeSM}), components.SetContent("Unsubscribe")),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraClasses(actionTextClasses),
		link.WithExtraAttributes(action.Attributes()),
	).Show()
}

templ UnsubscribeConfirmModal(id models.SubscriptionID) {
	@modal.Build(
		modal.WithID("modal_"+id),
		modal.WithCloseOutside(),
	).Show() {
		<h3 class="font-bold">Unsubscribe from feed?</h3>
		<div class="modal-action">
			<form method="dialog" _={ partials.HyperscriptCloseModalOnClick("#modal_" + id) }>
				<button name="decision" value="confirmed" class="btn" hx-delete={ "/subscription/edit/" + id } hx-target={ "#" + id } hx-swap="outerHTML">Yes</button>
				<button name="decision" value="cancelled" class="btn">No</button>
			</form>
		</div>
	}
}

templ UnsubscribeSuccess() {
	<div role="alert" class="alert alert-success alert-soft" _="on load wait 2s then transition opacity to 0 then settle then remove me" style="transition: all 2s fade-in-out">
		<span>Unsubscribed</span>
	</div>
}
