// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-feed-me/web/templates/partials/subscription"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"net/http"
)

const actionTextClasses = "w-fit text-xs"

// addSubscriptionButton creates a button for displaying a modal to add a new subscription.
func addSubscriptionAction(classes ...string) templ.Component {
	return link.Build(
		link.WithContent("Add Subscription"),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":    "/subscription/new",
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal(subscription.SubscriptionModalID.Target()) + " then " + partials.HyperscriptCloseDropdown(),
		}),
		link.WithExtraClasses(actionTextClasses),
		link.WithUnderlineOnHover(),
	).Show(classes...)
}

// importAction creates a button for displaying a modal to import feeds (i.e.
// via opml).
func importAction(classes ...string) templ.Component {
	return link.Build(
		link.WithContent("Import Subscriptions"),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":    "/subscription/import",
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal(subscription.ImportModalID.Target()) + " then " + partials.HyperscriptCloseDropdown(),
		}),
		link.WithExtraClasses(actionTextClasses),
		link.WithUnderlineOnHover(),
	).Show(classes...)
}

func markReadLink(label string, attributes templ.Attributes) templ.Component {
	return link.Build(
		link.WithContent(
			templ.Join(icon.Build("fa-envelope").Show(), components.SetContent(label)),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(attributes),
		link.WithExtraClasses(actionTextClasses),
	).Show()
}

func markUnreadLink(label string, attributes templ.Attributes) templ.Component {
	return link.Build(
		link.WithContent(
			templ.Join(icon.Build("fa-envelope-open").Show(), components.SetContent(label)),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(attributes),
		link.WithExtraClasses(actionTextClasses),
	).Show()
}

// markAllItemsAction generates an action for the footer menu to mark all items of a feed as either read or unread,
// depending on the current view.
func markAllItemsAction(feeds []models.FeedID, view models.View) templ.Component {
	route := models.NewRoute(
		models.ItemsRoute,
		nil,
		models.WithAttributes(actionAttributes),
		models.WithMethod(http.MethodPost),
	)
	route.AddQueryParam(models.ParamFeedID, feeds[0])

	switch view {
	case models.ViewUnread:
		route.AddQueryParam("mark", string(models.MarkRead))
		return markReadLink("Mark All Read", route.GetAttributes())
	case models.ViewRead:
		route.AddQueryParam("mark", string(models.MarkUnread))
		return markUnreadLink("Mark All Unread", route.GetAttributes())
	default:
		return nil
	}
}

func markItemAction(feedID models.FeedID, itemID models.ItemID, view models.View) templ.Component {
	route := models.NewRoute(
		models.ItemsRoute,
		nil,
		models.WithAttributes(actionAttributes),
		models.WithMethod(http.MethodPost),
	)
	route.AddQueryParam(models.ParamFeedID, feedID)
	route.AddQueryParam(models.ParamItems, itemID)

	switch view {
	case models.ViewUnread:
		route.AddQueryParam("mark", string(models.MarkRead))
		return markReadLink("Mark Read", route.GetAttributes())
	case models.ViewRead:
		route.AddQueryParam("mark", string(models.MarkUnread))
		return markUnreadLink("Mark Unread", route.GetAttributes())
	default:
		return nil
	}
}

// markAllFeedsAction generates an action for the footer menu to mark all feeds as either read or unread, depending on
// the current view.
func markAllFeedsAction(view models.View) templ.Component {
	route := models.NewRoute(
		models.FeedsRoute,
		nil,
		models.WithAttributes(actionAttributes),
		models.WithMethod(http.MethodPost),
	)

	switch view {
	case models.ViewUnread:
		route.AddQueryParam("mark", string(models.MarkRead))
		return markReadLink("Mark All Read", route.GetAttributes())
	case models.ViewRead:
		route.AddQueryParam("mark", string(models.MarkUnread))
		return markUnreadLink("Mark All Unread", route.GetAttributes())
	default:
		return nil
	}
}

func markFeedAction(id models.FeedID, view models.View) templ.Component {
	route := models.NewRoute(
		models.FeedsRoute,
		nil,
		models.WithAttributes(actionAttributes),
		models.WithMethod(http.MethodPost),
	)
	route.AddQueryParam(models.ParamFeeds, id)

	switch view {
	case models.ViewUnread:
		route.AddQueryParam("mark", string(models.MarkRead))
		return markReadLink("Mark Read", route.GetAttributes())
	case models.ViewRead:
		route.AddQueryParam("mark", string(models.MarkUnread))
		return markUnreadLink("Mark Unread", route.GetAttributes())
	default:
		return nil
	}
}

// backButton generates a button for going back to the given path. It fetches
// the last state of the path (i.e., any parameters used) from the user session.
func BackButton(route *models.Route) templ.Component {
	route.SetAttributes(viewAttributes)
	return button.Build(
		button.WithContent(icon.Build("fa-left-long")),
		button.WithStyle(button.Ghost),
		button.WithExtraAttributes(route.GetAttributes()),
	).Show()
}

func markAction(mark models.Mark, attributes templ.Attributes) templ.Component {
	switch mark {
	case models.MarkRead:
		return markReadLink("Mark Read", attributes)
	case models.MarkUnread:
		return markUnreadLink("Mark Unread", attributes)
	}
	return nil
}

templ shareAction(action *templates.Action) {
	@link.Build(
		link.WithContent(
			templ.Join(icon.Build("fa-share").Show(), components.SetContent("Share")),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(action.Attributes()),
		link.WithExtraClasses(actionTextClasses),
	).Show()
}

templ visitExternalLinkAction(label, url string) {
	@link.Build(
		link.WithContent(
			templ.Join(icon.Build("fa-arrow-up-right-from-square").Show(), components.SetContent("Visit "+label)),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(templ.Attributes{
			"href": url,
			"_":    "on mouseenter add .menu-active to me end on mouseleave remove .menu-active from me end",
		}),
		link.WithExtraClasses(actionTextClasses),
	).Show()
}

func editSubscriptionAction(id models.SubscriptionID) templ.Component {
	route := models.NewRoute("/subscription/edit/"+id, nil,
		models.WithAttributes(templ.Attributes{
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal("#modal_"+id) + " then " + partials.HyperscriptCloseDropdown(),
		}))
	return link.Build(
		link.WithContent(
			templ.Join(icon.Build("fa-pen").Show(), components.SetContent("Edit")),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraClasses(actionTextClasses),
		link.WithExtraAttributes(route.GetAttributes()),
	).Show()
}

func unsubscribeAction(id models.SubscriptionID) templ.Component {
	route := models.NewRoute("/subscription/edit/"+id, nil,
		models.WithMethod(http.MethodDelete),
		models.WithAttributes(templ.Attributes{
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal("#modal_"+id) + " then " + partials.HyperscriptCloseDropdown(),
		}))
	return link.Build(
		link.WithContent(
			templ.Join(icon.Build("fa-trash").Show(), components.SetContent("Unsubscribe")),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraClasses(actionTextClasses),
		link.WithExtraAttributes(route.GetAttributes()),
	).Show()
}

templ UnsubscribeConfirmModal(id models.SubscriptionID) {
	@modal.Build(
		modal.WithID("modal_"+id),
		modal.WithCloseOutside(),
	).Show() {
		<h3 class="font-bold">Unsubscribe from feed?</h3>
		<div class="modal-action">
			<form method="dialog" _={ partials.HyperscriptCloseModalOnClick("#modal_" + id) }>
				<button name="decision" value="confirmed" class="btn" hx-delete={ "/subscription/edit/" + id } hx-target={ "#" + id } hx-swap="outerHTML">Yes</button>
				<button name="decision" value="cancelled" class="btn">No</button>
			</form>
		</div>
	}
}

templ UnsubscribeSuccess() {
	<div role="alert" class="alert alert-success alert-soft" _="on load wait 2s then transition opacity to 0 then settle then remove me" style="transition: all 2s fade-in-out">
		<span>Unsubscribed</span>
	</div>
}
