// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

import (
	"github.com/davecgh/go-spew/spew"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-feed-me/web/templates/partials/subscription"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/classes/width"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/joshuar/go-templ-daisyui/navigation/menu"
	"net/http"
)

// AddSubscriptionButton creates a button for displaying a modal to add a new subscription.
func AddSubscriptionAction(classes ...string) templ.Component {
	return link.Build(
		link.WithContent(text.Build("Add Subscription", text.WithSize(text.SM))),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":    "/subscription/new",
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal(subscription.SubscriptionModalID.Target()) + " then " + partials.HyperscriptCloseDropdown(),
		}),
		link.WithUnderlineOnHover(),
	).Show(classes...)
}

// ImportAction creates a button for displaying a modal to import feeds (i.e.
// via opml).
func ImportAction(classes ...string) templ.Component {
	return link.Build(
		link.WithContent(text.Build("Import", text.WithSize(text.SM))),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":    "/subscription/import",
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal(subscription.ImportModalID.Target()) + " then " + partials.HyperscriptCloseDropdown(),
		}),
		link.WithUnderlineOnHover(),
	).Show(classes...)
}

// backButton generates a button for going back to the given path. It fetches
// the last state of the path (i.e., any parameters used) from the user session.
func BackButton(path string, filters *models.Filters) templ.Component {
	route := models.NewRoute(path, filters, models.WithAttributes(viewAttributes))
	return button.Build(
		button.WithContent(icon.Build("fa-left-long")),
		button.WithStyle(button.Ghost),
		button.WithExtraAttributes(route.GetAttributes()),
	).Show()
}

templ BuildActionsMenu(actions ...templ.Component) {
	<div id="content-actions" hx-swap-oob="true">
		@dropdown.Build(
			dropdown.WithOpenOptions(
				dropdown.From(dropdown.OpenTop),
				dropdown.Align(dropdown.AlignEnd),
			),
			dropdown.WithButton(
				button.WithStyle(button.Ghost),
				button.WithContent(icon.Build("fa-ellipsis-vertical")),
			),
			dropdown.WithMenuContent(
				menu.WithMenuTitle("Actions"),
				menu.WithBaseColor(color.Base200),
				menu.WithExtraClasses(width.W52),
				menu.WithItems(actions...),
			),
		).Show()
		{{spew.Dump(menu.Build(menu.WithMenuTitle("Actions"),
	menu.WithBaseColor(color.Base200),
	menu.WithExtraClasses(width.W52),
	menu.WithItems(actions...),
))
		}}
	</div>
}

func markAction(mark models.Mark, attributes templ.Attributes) templ.Component {
	var (
		iconLabel templ.Component
		textLabel string
	)
	switch mark {
	case models.MarkRead:
		iconLabel = icon.Build("fa-envelope").Show()
		textLabel = "Mark Read"
	case models.MarkUnread:
		iconLabel = icon.Build("fa-envelope-open").Show()
		textLabel = "Mark Unread"
	}
	return link.Build(
		link.WithContent(
			templ.Join(iconLabel, components.SetContent(textLabel)),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(attributes),
		link.WithExtraClasses("w-fit"),
	).Show()
}

templ shareAction(action *templates.Action) {
	@link.Build(
		link.WithContent(
			templ.Join(icon.Build("fa-share").Show(), components.SetContent("Share")),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(action.Attributes()),
		link.WithExtraClasses("w-fit"),
	).Show()
}

templ visitExternalLinkAction(label, url string) {
	@link.Build(
		link.WithContent(
			templ.Join(icon.Build("fa-arrow-up-right-from-square").Show(), components.SetContent("Visit "+label)),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(templ.Attributes{
			"href": url,
		}),
		link.WithExtraClasses("w-fit"),
	).Show()
}

func unsubscribeAction(id models.SubscriptionID) templ.Component {
	route := models.NewRoute("/subscription/edit/"+id, nil,
		models.WithMethod(http.MethodDelete),
		models.WithAttributes(templ.Attributes{
			"hx-target": partials.CommandModalID.Target(),
			"_":         partials.HyperscriptOpenModal("#modal_"+id) + " then " + partials.HyperscriptCloseDropdown(),
		}))
	return link.Build(
		link.WithContent(
			templ.Join(icon.Build("fa-trash").Show(), components.SetContent("Unsubscribe")),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraClasses("w-fit"),
		link.WithExtraAttributes(route.GetAttributes()),
	).Show()
}

templ UnsubscribeConfirmModal(id models.SubscriptionID) {
	@modal.Build(
		modal.WithID("modal_"+id),
		modal.WithCloseOutside(),
	).Show() {
		<h3 class="font-bold">Unsubscribe from feed?</h3>
		<div class="modal-action">
			<form method="dialog" _={ partials.HyperscriptCloseModalOnClick("#modal_" + id) }>
				<button name="decision" value="confirmed" class="btn" hx-delete={ "/subscription/edit/" + id } hx-target={ "#" + id } hx-swap="outerHTML">Yes</button>
				<button name="decision" value="cancelled" class="btn">No</button>
			</form>
		</div>
	}
}

templ UnsubscribeSuccess() {
	<div role="alert" class="alert alert-success alert-soft" _="on load wait 2s then transition opacity to 0 then settle then remove me" style="transition: all 2s fade-in-out">
		<span>Unsubscribed</span>
	</div>
}
