// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"net/http"
	"strings"
)

templ (a *Article) Show(classes ...string) {
	<div id="content" class="flex flex-wrap p-4 h-full items-start">
		@article.Build(
			article.WithExtraAttributes(templ.Attributes{
				"hx-post":     "/home/" + a.GetFeedID() + "/" + a.GetID() + "/read",
				"hx-swap":     "none",
				"hx-push-url": "false",
				"hx-trigger":  "load delay:2s",
			}),
		).Show(classes...) {
			@a.showItemArticle()
		}
	</div>
}

templ (a *Article) showTitle() {
	<h2>
		@text.Build(a.GetTitle(),
			text.WithTextWeight(text.Semibold),
			text.WithTextSize(text.LG),
		).Show("flex-1")
	</h2>
}

templ (a *Article) showDescription() {
	if desc := a.GetDescription(); desc != "" {
		@templ.Raw(desc)
	}
}

templ (a *Article) showContent() {
	<div id="article_content" class="text-sm max-w-prose">
		if a.GetContent() != "" {
			@templ.Raw(a.GetContent())
		} else {
			@a.showDescription()
		}
	</div>
}

templ (a *Article) showAuthors() {
	if len(a.GetAuthors()) > 0 {
		<div class="flex-1">
			@text.Build(strings.Join(a.GetAuthors(), ","),
				text.WithTextSize(text.XS),
				text.AsItalicText(),
			).Show()
		</div>
	}
}

templ (a *Article) showTimestamp() {
	<div class="flex-none">
		@text.Build(a.GetUpdatedDate().String(),
			text.WithTextSize(text.XS),
			text.AsItalicText(),
		).Show()
	</div>
}

templ (a *Article) showCategories() {
	if len(a.GetCategories()) > 0 {
		<div class="flex flex-wrap justify-items-center">
			for _, category := range a.GetCategories() {
				@badge.Build(
					badge.WithSize(badge.SM),
					badge.WithColor(badge.Secondary),
					badge.WithStyle(badge.Outline),
					badge.WithContent(category),
				).Show("p-1", "m-1")
			}
		</div>
	}
}

templ (a *Article) showItemArticle() {
	@a.showTitle()
	<div class="flex w-full justify-items-end px-2">
		@a.showAuthors()
		@a.showTimestamp()
	</div>
	@a.showCategories()
	@a.showContent()
}

templ (a Article) Render(req *http.Request) {
	if htmx.IsHTMX(req) {
		@a.Show()
	} else {
		<div class="@container">
			<div id="content" class="flex flex-wrap @md:flex-row p-4 h-full items-start justify-center">
				@a.Show()
			</div>
			<div id="content-loading" class="flex items-center justify-center">
				@loading.Build(loading.Bars,
					loading.AsHTMXIndicator(),
					loading.WithThemeColor(color.Accent),
				).Show()
			</div>
		</div>
	}
}
