// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/layout/mask"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"slices"
	"strconv"
)

templ (c *Card) showTitle() {
	if c.GetImage() != nil {
		@image.Build(c.GetImage().URL(),
			image.WithAltText(c.GetImage().String()),
			image.WithExtraClasses("w-16", "h-16", "object-scale-down"),
			image.WithLazyLoading()).Show()
	} else {
		@image.Build("/static/images/square-rss-solid.svg",
			image.WithExtraClasses("w-16", "h-16", "object-scale-down"),
			image.WithLazyLoading()).Show()
	}
	// Title text is a link to the view action of the card.
	@link.Build(
		link.WithContent(c.GetTitle()),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(c.viewAction.Attributes()),
		link.WithExtraClasses("flex-1", "text-md"),
	).Show()
}

templ (c *Card) showDescription() {
	if desc := c.GetDescription(); desc != "" {
		@text.Build(desc, text.WithTextSize(text.SM), text.AsItalicText()).Show()
	}
}

templ (s *Card) showCategories() {
	if len(s.GetCategories()) > 0 {
		// <div class="flex flex-wrap px-2">
		for category := range slices.Values(s.GetCategories()) {
			@badge.Build(
				badge.WithSize(size.SM),
				badge.WithThemeColor(color.Accent),
				badge.WithStyle(badge.Outline),
				badge.WithContent(category),
			).Show()
			//"p-1", "m-1"
		}
		// </div>
	}
}

// setImageOption will set the image of the card to the source image, or a placeholder if the source has no image.
func (c *Card) setImageOption() card.Option {
	if c.GetImage() != nil {
		return card.WithImage(c.GetImage().URL(),
			image.WithAltText(c.GetImage().String()),
			image.WithLazyLoading(),
			image.WithExtraClasses("max-w-md", "h-full", "object-cover"),
			image.WithMask(mask.MaskSquircle),
		)
	}
	return card.WithImage("/static/images/square-rss-solid.svg",
		image.WithLazyLoading(),
		image.WithMask(mask.MaskSquircle),
		image.WithExtraClasses("max-w-32", "h-full", "object-cover"),
	)
}

templ (c *FeedCard) ShowUnreadCount() {
	if c.IsUnread() {
		@badge.Build(
			badge.WithSize(size.SM),
			badge.WithThemeColor(color.Secondary),
			badge.WithContent(strconv.Itoa(c.UnreadCount)+" Unread"),
			badge.WithExtraAttributes(templ.Attributes{
				"sse-swap": c.GetFeedID() + "_unread",
			}),
		).Show()
	}
}

templ (c *FeedCard) showContent() {
	@c.showDescription()
	// <div class="flex flew-row">
	// 	<div class="flex-1">
	// 		@showLastUpdated("", c.GetUpdatedDate())
	// 	</div>
	// 	// <div class="flex-wrap">
	// 	// 	@c.showCategories()
	// 	// </div>
	// </div>
}

templ (c *ItemCard) showContent() {
	<div class="flex flew-row">
		<div class="flex-1">
			@showLastUpdated("", c.GetUpdatedDate())
		</div>
	</div>
}

func (c *FeedCard) build() {
	c.Props = card.Build(
		card.WithLayout(card.LayoutSide),
		card.Bordered(),
		card.WithSize(size.MD),
		card.WithShadow(size.SM),
		card.WithBodyOptions(
			card.WithTitle(templ.Join(c.showTitle(), c.ShowUnreadCount())),
			card.WithContent(c.showContent()),
			card.WithActions(c.menuActions.Show()),
			card.WithBodyExtraClasses("p-2"),

			// card.WithBodyExtraAttributes(c.setCardAttributes(c.GetFeedID())),
		),
		card.WithID(c.id),
		// c.setImageOption(),
	)
}

func (c *ItemCard) build() {
	c.Props = card.Build(
		card.WithLayout(card.LayoutSide),
		card.WithSize(size.MD),
		card.Bordered(),
		card.WithShadow(size.SM),
		card.WithBodyOptions(
			card.WithTitle(c.showTitle()),
			// card.WithContent(c.showContent()),
			card.WithActions(c.menuActions.Show()),
			// card.WithBodyExtraAttributes(c.setCardAttributes(c.GetFeedID())),
			card.WithBodyExtraClasses("p-2"),
		),
		card.WithID(c.id),
		// c.setImageOption(),
	)
}

templ (a cardActions) Show() {
	@templ.Join(a...)
	// @partials.ResponsiveMenu(a...)
}

templ (c *Card) Show(classes ...string) {
	@c.Props.Show("flex-grow", "max-h-1/4", "w-full", "md:max-w-lg", "m-2")
}
