// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/classes/width"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/avatar"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/placeholder"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/layout/mask"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/joshuar/go-templ-daisyui/navigation/menu"
	"net/http"
	"slices"
	"strconv"
)

templ (c *Card) showTitle() {
	@c.showAvatar()
	<div class="text-base flex-1">
		// Title text is a link to the view action of the card.
		@link.Build(
			link.WithContent(c.GetTitle()),
			link.WithUnderlineOnHover(),
			link.WithExtraAttributes(c.viewAction.Attributes()),
			link.WithExtraClasses(),
		).Show()
	</div>
}

templ (c *Card) showAvatar() {
	if c.GetImage() != nil {
		// If the source has an image, use that as the avatar.
		@avatar.Build(
			c.GetImage().URL(),
			avatar.WithWidth(width.W8),
			avatar.WithImageOptions(image.WithLazyLoading()),
		).Show()
	} else {
		// Otherwise, take the first letter of the title and create a placeholder avatar.
		@placeholder.Build(c.GetTitle()[0:1], placeholder.SM).Show()
	}
}

templ (c *Card) showDescription() {
	if desc := c.GetDescription(); desc != "" {
		@text.Build(desc, text.WithTextSize(text.SM), text.AsItalicText()).Show()
	}
}

templ (s *Card) showCategories() {
	if len(s.GetCategories()) > 0 {
		// <div class="flex flex-wrap px-2">
		for category := range slices.Values(s.GetCategories()) {
			@badge.Build(
				badge.WithSize(badge.SM),
				badge.WithColor(badge.Accent),
				badge.WithStyle(badge.Outline),
				badge.WithContent(category),
			).Show()
			//"p-1", "m-1"
		}
		// </div>
	}
}

// setImageOption will set the image of the card to the source image, or a placeholder if the source has no image.
func (c *Card) setImageOption() card.Option {
	if c.GetImage() != nil {
		return card.WithImage(c.GetImage().URL(),
			image.WithAltText(c.GetImage().String()),
			image.WithLazyLoading(),
			image.WithExtraClasses("max-w-md", "h-full", "object-cover"),
			image.WithMask(mask.MaskSquircle),
		)
	}
	return card.WithImage("/static/images/square-rss-solid.svg",
		image.WithLazyLoading(),
		image.WithMask(mask.MaskSquircle),
		image.WithExtraClasses("max-w-32", "h-full", "object-cover"),
	)
}

templ (c *FeedCard) ShowUnreadCount() {
	if c.IsUnread() {
		@badge.Build(
			badge.WithSize(badge.SM),
			badge.WithColor(badge.Secondary),
			badge.WithContent(strconv.Itoa(c.UnreadCount)+" Unread"),
			badge.WithExtraAttributes(templ.Attributes{
				"sse-swap": c.GetFeedID() + "_unread",
			}),
		).Show()
	}
}

templ (c *FeedCard) showContent() {
	@article.Build(c.showDescription()).Show()
}

templ (c *ItemCard) showContent() {
	<div class="flex flew-row">
		<div class="flex-1">
			@showLastUpdated("", c.GetUpdatedDate())
		</div>
	</div>
}

func (c *FeedCard) build() {
	c.Props = card.Build(
		card.WithLayout(card.LayoutSide),
		card.Bordered(),
		card.WithSize(size.MD),
		card.WithShadow(size.SM),
		card.WithBodyOptions(
			card.WithTitle(templ.Join(c.showTitle(), c.ShowUnreadCount())),
			card.WithContent(c.showContent()),
			card.WithActions(c.menuActions.Show()),
		),
		card.WithID(c.id),
	)
}

func (c *ItemCard) build() {
	c.Props = card.Build(
		card.WithLayout(card.LayoutSide),
		card.WithSize(size.MD),
		card.Bordered(),
		card.WithShadow(size.SM),
		card.WithBodyOptions(
			card.WithTitle(c.showTitle()),
			card.WithActions(c.menuActions.Show()),
		),
		card.WithID(c.id),
	)
}

templ (a cardActions) Show() {
	@dropdown.Build(
		dropdown.WithButton(
			button.WithSize(button.XS),
			button.AsShape(button.Square),
			button.WithStyle(button.Ghost),
			button.WithContent(icon.Build("fa-ellipsis-vertical")),
		),
		dropdown.WithOpenOptions(
			dropdown.From(dropdown.OpenTop),
			dropdown.Align(dropdown.AlignEnd),
		),
		dropdown.WithMenuContent(
			menu.WithLayout(menu.Vertical),
			menu.WithItems(a...),
			menu.WithBaseColor(color.Base200),
			menu.WithExtraClasses("rounded-field", "justify-end"),
		),
	).Show()
}

templ (c *Card) Show(classes ...string) {
	@c.Props.Show("max-h-1/4", "w-full", "md:max-w-lg", "m-2")
}

type Cards []templ.Component

templ (c Cards) Render(req *http.Request) {
	if htmx.IsHTMX(req) {
		@c.Show()
	} else {
		<div class="@container">
			<div id="content" class="flex flex-wrap @md:flex-row p-4 h-full items-start justify-center">
				@c.Show()
			</div>
			<div id="content-loading" class="flex items-center justify-center">
				@loading.Build(loading.Bars,
					loading.AsHTMXIndicator(),
					loading.WithThemeColor(color.Accent),
				).Show()
			</div>
		</div>
	}
}

templ (c Cards) Show() {
	if len(c) > 0 {
		for card := range slices.Values(c) {
			@card
		}
	} else {
		@emptyContent()
	}
}
