// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/action"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/classes/opacity"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/avatar"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/placeholder"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/joshuar/go-templ-daisyui/layout/mask"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
	"strconv"
)

const defaultCardClasses = "bg-base-300 m-2 p-2"

// viewAction returns the action for viewing the card's content. For a Feed card this would be the Feed's item as cards.
// For a Item card, this would be the item content.
func (c *Card) generateViewAction(ctx context.Context) *action.Action {
	var route Route
	switch models.IdentifyID(c.id) {
	case models.FeedPFX:
		route = Route{Path: models.ItemsRoute, Filters: CurrentRouteFromCtx(ctx).Filters}
		route.Filters.Feeds = []models.FeedID{c.GetFeedID()}
		route.Filters.SortBy = models.SortByLastUpdated
	case models.ItemPFX:
		route = Route{Path: "/home/" + c.GetFeedID() + "/" + c.id}
	}
	action := route.AsAction()
	action.SetAttributes(viewAttributes)
	return action
}

templ (c *Card) timestamp() {
	@text.Build(
		partials.ShowRelativeTimestamp(),
		text.WithSize(text.XS),
		text.AsItalicText(),
		text.WithAttributes(templ.Attributes{
			"value": c.GetUpdatedDate().Format("2006-01-02T15:04:05-0700"),
		}),
	).Show()
}

templ (c *Card) showDescription() {
	if desc := c.GetDescription(); desc != "" {
		@text.Build(desc, text.WithSize(text.SM), text.AsItalicText()).Show()
	}
}

templ (c *FeedCard) showUnreadCount() {
	if c.IsUnread() {
		@badge.Build(
			badge.WithSize(badge.SM),
			badge.WithColor(badge.Secondary),
			badge.WithContent(strconv.Itoa(c.UnreadCount)+" Unread"),
			badge.WithExtraAttributes(templ.Attributes{
				"sse-swap": c.GetFeedID() + "_unread",
			}),
		).Show()
	}
}

templ (c *FeedCard) showTitle() {
	// Generate a thumbnail to display next to the title.
	if c.GetImage() != nil {
		// If the source has an image, use that as the avatar.
		@avatar.Build(
			c.GetImage().URL(),
			avatar.WithWidth("w-12"),
			avatar.WithImageOptions(image.WithLazyLoading()),
		).Show()
	} else {
		// Otherwise, take the first letter of the title and create a placeholder avatar.
		@placeholder.Build(c.GetTitle()[0:1], placeholder.SM).Show()
	}
	// Title text is a link to the view action of the card.
	<div class="text-sm flex-1">
		@link.Build(
			link.WithContent(c.GetTitle()),
			link.WithUnderlineOnHover(),
			link.WithExtraAttributes(c.generateViewAction(ctx).Attributes()),
		).Show()
	</div>
	// Display unread count (if any).
	<div class="flex-none">
		@c.showUnreadCount()
	</div>
}

templ (c *FeedCard) showContent() {
	@c.timestamp()
	@c.showDescription()
}

func newFeedCard(ctx context.Context, subscription *models.Subscription) *FeedCard {
	feedCard := &FeedCard{
		Card: Card{
			Source: subscription,
			id:     subscription.GetFeedID(),
		},
		UnreadCount: subscription.GetUnreadCount(),
	}
	feedCard.menuActions = append(feedCard.menuActions,
		shareAction(nil),
		visitExternalLinkAction(models.ParseDomain(subscription.GetLink()), subscription.GetLink()),
		markFeedAction(subscription.GetID(), subscription.IsUnread()),
		editSubscriptionAction(subscription.GetID()),
		unsubscribeAction(subscription.GetID()),
	)

	feedCard.Props = card.Build(
		card.WithStyle(card.Border),
		card.WithSize(card.MD),
		card.WithShadow(shadow.MD),
		card.WithBodyOptions(
			card.WithTitle(feedCard.showTitle()),
			card.WithContent(feedCard.showContent()),
			card.WithActions(feedCard.menuActions.Show()),
		),
		card.WithID(feedCard.GetID()),
		card.WithExtraClasses(defaultCardClasses),
	)

	if feedCard.UnreadCount == 0 {
		card.WithExtraClasses(opacity.Apply(75))(feedCard.Props)
	}

	return feedCard
}

templ (c *ItemCard) showTitle() {
	@link.Build(
		link.WithContent(
			text.Build(c.GetTitle(),
				text.WithWeight(text.Semibold),
				text.WithExtraClasses("text-pretty"),
			).Show(),
		),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(c.generateViewAction(ctx).Attributes()),
	).Show()
}

templ (c *ItemCard) showContent() {
	<div class="flex-1">
		@c.showTitle()
	</div>
	<div class="flex-none">
		@c.timestamp()
	</div>
}

func newItemCard(ctx context.Context, item *models.Item) *ItemCard {
	itemCard := &ItemCard{
		Card: Card{
			Source: item,
			id:     item.GetID(),
		},
	}
	itemCard.menuActions = append(itemCard.menuActions,
		shareAction(nil),
		visitExternalLinkAction("External URL", item.GetLink()),
		markItemAction(item.GetFeedID(), item.GetID(), item.IsUnread()),
	)

	var imageOption card.Option
	if itemCard.GetImage() != nil {
		imageOption = card.WithImage(
			itemCard.GetImage().URL(),
			image.WithLazyLoading(),
			image.WithMask(mask.MaskSquircle),
			image.WithExtraClasses("object-cover", "max-w-1/4"),
		)
	}
	itemCard.Props = card.Build(
		card.WithLayout(card.LayoutSide),
		imageOption,
		card.WithSize(card.MD),
		card.WithStyle(card.Border),
		card.WithShadow(shadow.MD),
		card.WithBodyOptions(
			card.WithContent(itemCard.showContent()),
			card.WithActions(itemCard.menuActions.Show()),
			card.WithBodyExtraClasses("p-2"),
		),
		card.WithID(itemCard.id),
		card.WithExtraClasses(defaultCardClasses),
	)
	switch {
	case CurrentRouteFromCtx(ctx).Filters.View == models.ViewRead:
		fallthrough
	case item.GetUserState() == models.StateRead:
		card.WithExtraClasses(opacity.Apply(75))(itemCard.Props)
	}

	return itemCard
}

templ (a cardActions) Show() {
	@tooltip.Build("Actions").Show() {
		@dropdown.Build(
			dropdown.WithButtonContent(tabler.DotsVertical(i.Props{Size: i.SizeXS})),
			dropdown.WithButtonClasses(button.Ghost, button.XS),
			dropdown.WithOpenFrom(dropdown.OpenTop),
			dropdown.WithOpenAlignment(dropdown.AlignEnd),
			dropdown.WithMenuClasses("justify-end", "flex-nowrap", "grow"),
		).Show() {
			for item := range slices.Values(a) {
				<li _="on click call document.activeElement.blur()">
					@item
				</li>
			}
		}
	}
}
