// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"slices"
)

// CategoryFilters is a slice of category filters.
type CategoryFilters []CategoryFilter

// CategoryFilter is a filter for viewing objects by category.
type CategoryFilter struct {
	models.CategoryCount
	attributes templ.Attributes
	active     bool
}

// BuildCategoryFilters generates a list of category filters.
func BuildCategoryFilters(ctx context.Context, categoryCounts models.CategoryCounts) CategoryFilters {
	categoryFilters := make(CategoryFilters, 0, len(categoryCounts))
	for categoryCount := range slices.Values(categoryCounts.GetTopCategories(10)) {
		route := models.NewRouteFromCtx(ctx, models.WithAttributes(viewAttributes))
		var active bool
		if slices.Contains(models.FiltersFromCtx(ctx).Categories, categoryCount.Category) {
			active = true
			route.UnsetCategories()
		} else {
			route.SetCategories(categoryCount.Category)
		}
		categoryFilters = append(categoryFilters, CategoryFilter{
			CategoryCount: categoryCount,
			attributes:    route.GetAttributes(),
			active:        active,
		})
	}

	return categoryFilters
}

templ (filters CategoryFilters) Show(classes ...string) {
	@text.Build("Categories:", text.WithWeight(text.Semibold), text.WithSize(text.XS)).Show()
	<div class="flex flex-wrap">
		for _, filter := range filters {
			@filter.Show(classes...)
		}
	</div>
}

templ (filter *CategoryFilter) Show(classes ...string) {
	switch  {
		case filter.active:
			@text.Build(filter.Category,
				text.WithColor(text.Primary),
				text.WithWeight(text.Semibold),
				text.WithSize(text.XS),
				text.WithAttributes(filter.attributes),
				text.WithExtraClasses("capitalize", "p-2", "border", "rounded-sm"),
			).Show()
		default:
			@text.Build(filter.Category,
				text.WithSize(text.XS),
				text.WithAttributes(filter.attributes),
				text.WithExtraClasses("capitalize", "p-2", "border", "rounded-sm"),
			).Show()
	}
}

// ViewFilters is a slice of filters for changing the view.
type ViewFilters []templ.Component

// newViewFilter creates a new view filter.
func viewFilter(ctx context.Context, view models.View) templ.Component {
	route := models.NewRouteFromCtx(ctx, models.WithAttributes(viewAttributes))
	route.SetView(view)
	switch {
	case view == models.FiltersFromCtx(ctx).View:
		return text.Build(string(view),
			text.WithColor(text.Primary),
			text.WithWeight(text.Semibold),
			text.WithSize(text.XS),
			text.WithAttributes(route.GetAttributes()),
			text.WithExtraClasses("join-item", "capitalize", "p-2", "border", "rounded-sm"),
		).Show()
	default:
		return text.Build(string(view),
			text.WithSize(text.XS),
			text.WithAttributes(route.GetAttributes()),
			text.WithExtraClasses("join-item", "capitalize", "p-2", "border", "rounded-sm"),
		).Show()
	}
}

// BuildViewFilters creates all view filters.
func BuildViewFilters(ctx context.Context) ViewFilters {
	return ViewFilters{
		viewFilter(ctx, models.ViewRead),
		viewFilter(ctx, models.ViewUnread),
		viewFilter(ctx, models.ViewAll),
	}
}

// Show renders the view filter as a set of badges joined together.
templ (filters ViewFilters) Show() {
	@text.Build("View:", text.WithWeight(text.Semibold), text.WithSize(text.XS)).Show()
	<div class="join">
		for viewFilter := range slices.Values(filters) {
			@viewFilter
		}
	</div>
}

templ BuildFiltersMenu(viewFilters ViewFilters, categoryFilters CategoryFilters) {
	<div id="content-filters" hx-swap-oob="true">
		@partials.DockMenu("Filter",
			icon.Build("fa-sliders"),
			viewFilters.Show(), categoryFilters.Show(),
		)
	</div>
}
