// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
	"strings"
)

// Filter represents a filter action on a page. It has a value (displayed in the UI) and a link which will trigger a
// htmx request.
type Filter struct {
	value  string
	link   models.PageState
	active bool
}

// AsBadge displays the category filter as a badge with appropriate htmx attributes.
templ (f *Filter) AsBadge() {
	switch  {
		case f.active:
			@activeOption(f.value, templ.Attributes{
				"hx-get":         f.link.String(),
				"hx-replace-url": "true",
				"hx-target":      templates.ContentID.Target(),
			})
		default:
			@inactiveOption(f.value, templ.Attributes{
				"hx-get":         f.link.String(),
				"hx-replace-url": "true",
				"hx-target":      templates.ContentID.Target(),
			})
	}
}

// NewCategoryFilter creates a new category filter component. Existing filters will be utilised and the request URL will
// use the given path.
func newCategoryFilter(ctx context.Context, category models.CategoryCount) *Filter {
	filter := &Filter{
		value: category.Category,
	}
	view := models.PageStateFromCtx(ctx)
	filters := models.FiltersFromCtx(ctx)
	// Check if this category is in the current view filters.
	if found, _ := filters.HasCategory(category.Category); found {
		filter.active = true
		filters.RemoveCategory(category.Category)
	} else {
		filters.AddCategory(category.Category)
	}
	// Generate a view.
	view.Params = filters.ToQueryParams()
	filter.link = view

	return filter
}

// CategoryFilters is a slice of category filters.
type CategoryFilters []*Filter

func newViewFilter(ctx context.Context, view models.View) *Filter {
	// Get the current view.
	link := models.PageStateFromCtx(ctx)
	filters := models.FiltersFromCtx(ctx)
	filter := &Filter{
		value: string(view),
	}
	// If the current view filters indicate this view is active, mark as so.
	if view == filters.View {
		filter.active = true
	}
	// Set the view filter to this view.
	filters.View = view
	link.Params = filters.ToQueryParams()
	filter.link = link

	return filter
}

// ViewFilters is a slice of filters for changing the view.
type ViewFilters []*Filter

templ UpdateFilters(categories models.CategoryCounts) {
	<div id="content-filters">
		@tooltip.Build("Filtering").Show() {
			@dropdown.Build(
				dropdown.WithButtonContent(tabler.Filter(i.Props{Size: i.SizeSM})),
				dropdown.WithOpenFrom(dropdown.OpenTop),
				dropdown.WithOpenAlignment(dropdown.AlignCenter),
				dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
			).Show() {
				<li class="menu-title">View:</li>
				for view := range slices.Values(buildViewFilters(ctx)) {
					<li>
						@view.AsBadge()
					</li>
				}
				<li class="menu-title">Category:</li>
				for category := range slices.Values(buildCategoryFilters(ctx,categories)) {
					<li>
						@category.AsBadge()
					</li>
				}
			}
		}
	</div>
}

func buildViewFilters(ctx context.Context) ViewFilters {
	return ViewFilters{
		newViewFilter(ctx, models.ViewRead),
		newViewFilter(ctx, models.ViewUnread),
		newViewFilter(ctx, models.ViewAll),
	}
}

func buildCategoryFilters(ctx context.Context, categoryCounts models.CategoryCounts) CategoryFilters {
	categoryFilters := make(CategoryFilters, 0, len(categoryCounts))
	for categoryCount := range slices.Values(categoryCounts.GetTopCategories(10)) {
		categoryFilters = append(categoryFilters, newCategoryFilter(ctx, categoryCount))
	}

	return categoryFilters
}

templ UpdateSorting() {
	<div id="content-sorting">
		@tooltip.Build("Sorting").Show() {
			@dropdown.Build(
				dropdown.WithButtonContent(tabler.ArrowsSort(i.Props{Size: i.SizeSM})),
				dropdown.WithOpenFrom(dropdown.OpenTop),
				dropdown.WithOpenAlignment(dropdown.AlignCenter),
				dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
			).Show() {
				<li class="menu-title">Sorting:</li>
				for sort := range slices.Values(buildSortFilters(ctx)) {
					<li>
						@sort.AsBadge()
					</li>
				}
			}
		}
	</div>
}

func buildSortFilters(ctx context.Context) SortFilters {
	var sorts SortFilters
	// Add sorting options for updated date.
	sorts = append(sorts,
		NewSortFilter(ctx, models.SortLastUpdatedDesc),
		NewSortFilter(ctx, models.SortLastUpdatedAsc),
	)
	// If viewing feeds and not viewing read items, add additional sorting options on unread count.
	view := models.PageStateFromCtx(ctx)
	if (strings.HasPrefix(view.Path, "/home/feeds") || strings.HasPrefix(view.Path, "/feed")) && models.FiltersFromCtx(ctx).View != models.ViewRead {
		sorts = append(sorts,
			NewSortFilter(ctx, models.SortUnreadCountDesc),
			NewSortFilter(ctx, models.SortUnreadCountAsc),
		)
	}
	return sorts
}

// SortFilters is a slice of filters for sorting the view.
type SortFilters []*Filter

func NewSortFilter(ctx context.Context, sort models.Sort) *Filter {
	view := models.PageStateFromCtx(ctx)
	filters := models.FiltersFromCtx(ctx)
	filter := &Filter{
		value: sort.String(),
	}
	// Set this sort as active if indicated in the current view filters.
	if filters.SortBy == sort.SortBy && filters.SortOrder == sort.SortOrder {
		filter.active = true
	} else {
		filters.SortBy = sort.SortBy
		filters.SortOrder = sort.SortOrder
	}
	// Generate a view.
	view.Params = filters.ToQueryParams()
	filter.link = view

	return filter
}

templ activeOption(label string, attributes templ.Attributes) {
	@button.Build(
		button.WithContent(label),
		button.WithColor(button.Primary),
		button.WithStyle(button.Soft),
		button.WithSize(button.XS),
		button.WithExtraAttributes(attributes),
		button.WithExtraClasses("join-item", "capitalize", "p-2"),
	).Show()
}

templ inactiveOption(label string, attributes templ.Attributes) {
	@button.Build(
		button.WithContent(label),
		button.WithSize(button.XS),
		button.WithExtraAttributes(attributes),
		button.WithExtraClasses("join-item", "capitalize", "p-2"),
	).Show()
}
