// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
)

var ContentFooterID = attributes.ID("content-footer")

// ListHeader represents the content header for a list of objects.
type ListFooter struct {
	backButton  templ.Component
	filtersMenu templ.Component
	sortMenu    templ.Component
	actions     []templ.Component
}

templ (f *ListFooter) Show() {
	@footer(ContentFooterID.String()) {
		@footerItem("Back") {
			@f.backButton
		}
		@footerItem("Filter") {
			@f.filtersMenu
		}
		@footerItem("Sort") {
			@f.sortMenu
		}
		@footerItem("Actions") {
			@buildfooterMenu(f.actions...)
		}
	}
}

func BuildListFooter(ctx context.Context, backButton templ.Component, categories models.CategoryCounts) *ListFooter {
	// Build view filters.
	viewFilters := BuildViewFilters(ctx)
	// Build category filters.
	categoryFilters := BuildCategoryFilters(ctx, categories)
	// Build footer.
	return &ListFooter{
		backButton:  backButton,
		filtersMenu: BuildFiltersMenu(viewFilters, categoryFilters),
		sortMenu:    BuildSortingMenu(),
		actions:     []templ.Component{AddSubscriptionAction(), ImportAction()},
	}
}

// ArticleHeader represents the content header for an individual article.
type ArticleFooter struct {
	backButton templ.Component
	item       *models.Item
}

templ (f *ArticleFooter) Show() {
	@footer(ContentFooterID.String()) {
		@footerItem("Back") {
			@f.backButton
		}
		@footerItem("View Item") {
			<a href={ templ.URL(f.item.GetLink()) } target="_blank">
				@icon.Build("fa-globe").Show()
			</a>
		}
	}
}

func BuildArticleFooter(item *models.Item, backButton templ.Component) *ArticleFooter {
	return &ArticleFooter{
		backButton: backButton,
		item:       item,
	}
}

templ buildfooterMenu(actions ...templ.Component) {
	<div id="content-actions" hx-swap-oob="true">
		@partials.DockMenu(icon.Build("fa-ellipsis-vertical"), actions...)
	</div>
}

// footer renders the /home page footer.
templ footer(id string) {
	<div
		id={ id }
		hx-swap-oob="true"
		hx-swap="morph:outerHTML"
		class="bg-base-200 dock dock-sm"
	>
		{ children... }
	</div>
}

// footerItem renders an item in the footer.
templ footerItem(tip string) {
	<div class="basis-xs grow">
		@tooltip.Build(tip).Show() {
			{ children... }
		}
	</div>
}
