// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

var ContentFooterID = attributes.ID("content-footer")

// ListHeader represents the content header for a list of objects.
type ListFooter struct {
	filtersMenu templ.Component
	sortMenu    templ.Component
	actions     []templ.Component
}

templ (f *ListFooter) Show() {
	@footer(ContentFooterID.String()) {
		@footerItem("Filter") {
			@f.filtersMenu
		}
		@footerItem("Sort") {
			@f.sortMenu
		}
		@footerItem("Actions") {
			<div id="content-actions" hx-swap-oob="true">
				@footerMenu(tabler.Menu(i.Props{Size: i.SizeSM}), f.actions...)
			</div>
		}
	}
}

func BuildListFooter(ctx context.Context, path string, categories models.CategoryCounts, actions ...templ.Component) *ListFooter {
	// Build view filters.
	viewFilters := BuildViewFilters(ctx, path)
	// Build category filters.
	categoryFilters := BuildCategoryFilters(ctx, categories, path)
	// Build sort filters.
	sortFilters := BuildSortFilters(ctx, path)
	// Build footer.
	return &ListFooter{
		filtersMenu: BuildFiltersMenu(viewFilters, categoryFilters),
		sortMenu:    BuildSortingMenu(sortFilters),
		actions:     actions,
	}
}

// ArticleHeader represents the content header for an individual article.
type ArticleFooter struct {
	backButton templ.Component
	item       *models.Item
}

templ (f *ArticleFooter) Show() {
	@footer(ContentFooterID.String()) {
		@footerItem("Back") {
			@f.backButton
		}
		@footerItem("View Item") {
			<a href={ templ.URL(f.item.GetLink()) } target="_blank">
				@tabler.ExternalLink()
			</a>
		}
	}
}

func BuildArticleFooter(ctx context.Context, item *models.Item) *ArticleFooter {
	return &ArticleFooter{
		item: item,
	}
}

// footer renders the /home page footer.
templ footer(id string) {
	<div
		id={ id }
		hx-swap-oob="true"
		hx-swap="morph:outerHTML"
		class="bg-base-200 dock dock-sm"
	>
		{ children... }
	</div>
}

// footerItem renders an item in the footer.
templ footerItem(tip string) {
	<div class="basis-xs grow">
		@tooltip.Build(tip).Show() {
			{ children... }
		}
	</div>
}

templ footerMenu(label any, items ...templ.Component) {
	@dropdown.Build(
		dropdown.WithButtonContent(label),
		dropdown.WithOpenFrom(dropdown.OpenTop),
		dropdown.WithOpenAlignment(dropdown.AlignCenter),
		dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
	).Show() {
		for item := range slices.Values(items) {
			if item != nil {
				<li>
					@item
				</li>
			}
		}
	}
}
