// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

import (
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-feed-me/web/templates/partials/appbar"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"slices"
	"strings"
)

// EmptyContent renders a hero with options for the user when the request
// returned no other content.
templ emptyContent() {
	<div class="hero bg-base-200 min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">Nothing to show.</h1>
				<p class="py-6">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
					quasi. In deleniti eaque aut repudiandae et a id nisi.
				</p>
				@AddSubscriptionAction()
				@ImportAction()
			</div>
		</div>
	</div>
}

// HomeLayout contains the components for rendering a /home page layout.
type HomeLayout struct {
	Title         string
	Header        templ.Component
	FooterContent []templ.Component
	Content       []templ.Component
}

templ (l *HomeLayout) Template() {
	@HomeHeader()
	<div
		id={ templates.ContentID.String() }
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center p-2"
		hx-swap="morph:innerHTML"
		hx-target-error={ templates.ErrorID.Target() }
	>
		@HomeContent(l.Content...)
	</div>
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
	@layouts.Footer(l.FooterContent...)
}

templ HomeHeader() {
	@appbar.AppBar().Show()
}

templ HomeContent(parts ...templ.Component) {
	// Render any content templates.
	if len(parts) > 0 {
		for part := range slices.Values(parts) {
			@part
		}
	} else {
		@emptyContent()
	}
}

// Show renders an item as an article.
templ (a *Article) Show(classes ...string) {
	@article.Build(
		article.WithExtraAttributes(templ.Attributes{
			"hx-post":        "/home/" + a.GetFeedID() + "/" + a.GetID() + "/read",
			"hx-swap":        "none",
			"hx-replace-url": "false",
			"hx-trigger":     "load delay:2s",
		}),
	).Show(classes...) {
		<h2>
			@text.Build(a.GetTitle(),
				text.WithWeight(text.Semibold),
				text.WithSize(text.LG),
			).Show("flex-1")
		</h2>
		<div class="flex w-full justify-items-end px-2">
			if len(a.GetAuthors()) > 0 {
				<div class="flex-1">
					@text.Build(strings.Join(a.GetAuthors(), ","),
						text.WithSize(text.XS),
						text.AsItalicText(),
					).Show()
				</div>
			}
			<div class="flex-none">
				@text.Build(a.GetUpdatedDate().String(),
					text.WithSize(text.XS),
					text.AsItalicText(),
				).Show()
			</div>
		</div>
		@partials.ShowCategoriesAsBadges(a.GetCategories()...)
		<div id="article_content" class="text-sm max-w-prose">
			if a.GetContent() != "" {
				@templ.Raw(a.GetContent())
			} else {
				if desc := a.GetDescription(); desc != "" {
					@templ.Raw(desc)
				}
			}
		</div>
	}
}
