// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

import (
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-feed-me/web/templates/partials/appbar"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"slices"
)

// EmptyContent renders a hero with options for the user when the request
// returned no other content.
templ emptyContent() {
	<div class="hero bg-base-200 min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">Nothing to show.</h1>
				<p class="py-6">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
					quasi. In deleniti eaque aut repudiandae et a id nisi.
				</p>
				@addSubscriptionAction("btn", "btn-accent")
				@importAction("btn", "btn-accent")
			</div>
		</div>
	</div>
}

// HomeLayout contains the components for rendering a /home page layout.
type HomeLayout struct {
	Title   string
	Header  templ.Component
	Content []templ.Component
	Footer  templ.Component
}

templ (l *HomeLayout) Template() {
	@HomeHeader()
	<div id="content" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center p-2">
		@HomeContent(l.Content...)
	</div>
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
	@HomeFooter(l.Footer)
}

templ HomeHeader() {
	@partials.CommandModal()
	@appbar.AppBar().Show()
}

templ HomeContent(parts ...templ.Component) {
	// Render any content templates.
	if len(parts) > 0 {
		for part := range slices.Values(parts) {
			@part
		}
	} else {
		@emptyContent()
	}
}

templ HomeFooter(footer templ.Component) {
	@partials.NotificationsArea()
	@footer
}
