// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

import (
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-feed-me/web/templates/partials/appbar"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"slices"
)

// EmptyContent renders a hero with options for the user when the request
// returned no other content.
templ emptyContent() {
	<div class="hero bg-base-200 min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">Nothing to show.</h1>
				<p class="py-6">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
					quasi. In deleniti eaque aut repudiandae et a id nisi.
				</p>
				@AddSubscriptionAction("btn", "btn-accent")
				@ImportAction("btn", "btn-accent")
			</div>
		</div>
	</div>
}

// HomeLayout contains the components for rendering a /home page layout.
type HomeLayout struct {
	title   string
	content []templ.Component
	footer  templ.Component
}

templ (l *HomeLayout) FullRender() {
	@templates.NewPage(l.title).Show() {
		@partials.CommandModal()
		@appbar.AppBar().Show()
		<div id="content" class="flex flex-wrap @md:flex-row p-4 h-full items-start justify-center">
			if len(l.content) > 0 {
				for part := range slices.Values(l.content) {
					@part
				}
			} else {
				@emptyContent()
			}
		</div>
		<div id="content-loading" class="flex items-center justify-center">
			@loading.Build(loading.Bars,
				loading.AsHTMXIndicator(),
				loading.WithThemeColor(color.Accent),
			).Show()
		</div>
		@partials.NotificationsArea()
		@l.footer
	}
}

templ (l *HomeLayout) PartialRender() {
	// Render any content templates.
	if len(l.content) > 0 {
		for part := range slices.Values(l.content) {
			@part
		}
	} else {
		@emptyContent()
	}
	if l.footer != nil {
		@l.footer
	}
	// Update the page title if one has been provided.
	if l.title != "" {
		@templates.SetPageTitle(l.title)
	}
}
