// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/icon"
)

type SortBadge struct {
	models.Sort
	active     bool
	attributes templ.Attributes
}

templ (s *SortBadge) Show() {
	{{ var styleOption badge.Option }}
	if s.active {
		{{ styleOption = badge.WithStyle(badge.Outline) }}
	} else {
		{{ styleOption = badge.WithStyle(badge.Dashed) }}
	}
	@badge.Build(
		badge.WithSize(badge.SM),
		badge.WithColor(badge.Accent),
		styleOption,
		badge.WithContent(s.String()),
		badge.WithExtraAttributes(s.attributes),
	).Show()
}

templ BuildSortingMenu() {
	<div id="content-sorting" hx-swap-oob="true">
		@partials.DockMenu("Sort",
			icon.Build("fa-sort"),
			generateSortOptions(ctx)...,
		)
	</div>
}
