// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
)

type SortOption struct {
	models.Sort
	active     bool
	attributes templ.Attributes
}

func newSortAction(ctx context.Context, sort models.Sort) templ.Component {
	sortAction := &SortOption{
		Sort: sort,
	}
	route := CurrentRouteFromCtx(ctx)
	if route.Filters.SortBy == sort.SortBy && route.Filters.SortOrder == sort.SortOrder {
		sortAction.active = true
	} else {
		route.Filters.SortBy = sort.SortBy
		route.Filters.SortOrder = sort.SortOrder
	}
	req := route.AsAction()
	req.SetAttributes(viewAttributes)
	sortAction.attributes = req.Attributes()
	switch sortAction.active {
	case true:
		return activeOption(sortAction.String(), sortAction.attributes)
	default:
		return inactiveOption(sortAction.String(), sortAction.attributes)
	}
}

//nolint:contextcheck
func generateSortOptions(ctx context.Context) []templ.Component {
	var sorts []templ.Component
	// Add sorting options for updated date.
	sorts = append(sorts,
		newSortAction(ctx, models.SortLastUpdatedDesc),
		newSortAction(ctx, models.SortLastUpdatedAsc),
	)
	// If viewing /home/feeds and not viewing read items, add additional sorting options on unread count.
	if CurrentRouteFromCtx(ctx).Path == models.FeedsRoute && CurrentRouteFromCtx(ctx).Filters.View != models.ViewRead {
		sorts = append(sorts,
			newSortAction(ctx, models.SortUnreadCountDesc),
			newSortAction(ctx, models.SortUnreadCountAsc),
		)
	}

	return sorts
}

templ BuildSortingMenu() {
	<div id="content-sorting" hx-swap-oob="true">
		@footerMenu(tabler.ArrowsSort(i.Props{Size: i.SizeSM}),
			generateSortOptions(ctx)...,
		)
	</div>
}
