// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"context"
	"github.com/go-chi/chi/v5"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"reflect"
)

type SortOption struct {
	models.Sort
	active     bool
	attributes templ.Attributes
}

func newSortAction(sort models.Sort, path string, filters models.Filters) templ.Component {
	sortAction := &SortOption{
		Sort: sort,
	}
	if reflect.DeepEqual(filters.Sort(), sortAction.Sort) {
		sortAction.active = true
	}
	route := models.NewRoute(path, &filters, models.WithAttributes(viewAttributes))
	route.SetSortBy(sort.SortBy)
	route.SetSortOrder(sort.SortOrder)
	sortAction.attributes = route.GetAttributes()
	return sortAction.Show()
}

templ (s *SortOption) Show() {
	if s.active {
		@text.Build(s.String(),
			text.WithSize(text.XS),
			text.WithColor(text.Primary),
			text.WithWeight(text.Semibold),
			text.WithAttributes(s.attributes),
			text.WithExtraClasses("p-2", "m-2", "border", "rounded-sm"),
		).Show()
	} else {
		@text.Build(s.String(),
			text.WithSize(text.XS),
			text.WithAttributes(s.attributes),
			text.WithExtraClasses("p-2", "m-2", "border", "rounded-sm"),
		).Show()
	}
}

//nolint:contextcheck
func generateSortOptions(ctx context.Context) []templ.Component {
	path := chi.RouteContext(ctx).RoutePattern()
	filters := models.FiltersFromCtx(ctx)

	var sorts []templ.Component
	// Add sorting options for updated date.
	sorts = append(sorts,
		newSortAction(models.SortLastUpdatedDesc, path, filters),
		newSortAction(models.SortLastUpdatedAsc, path, filters),
	)
	// If viewing /home/feeds and not viewing read items, add additional sorting options on unread count.
	if path == models.FeedsRoute && !filters.ViewRead() {
		sorts = append(sorts,
			newSortAction(models.SortUnreadCountDesc, path, filters),
			newSortAction(models.SortUnreadCountAsc, path, filters),
		)
	}

	return sorts
}

templ BuildSortingMenu() {
	<div id="content-sorting" hx-swap-oob="true">
		@partials.DockMenu("Sort",
			icon.Build("fa-sort"),
			generateSortOptions(ctx)...,
		)
	</div>
}
