package templates

templ PageTempl(data Page, bodyContent ...templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@Head(data.CustomHeaders)
		for _, content := range bodyContent {
			@content
		}
	</html>
}
