# Ignore folders.
.git/
.github/
.vscode/
.devcontainer
node_modules/
bin/
tmp/
test/
deployments/

# Ignore files.
.dockerignore
.gitignore
.postcssrc
Dockerfile
**/*_test.go
*-lock.json
*.lockb
*.config.*
*.yml
*.yaml
*.toml
*.md
*.out
cosign.*
