[submodule "models/feeds"]
	path = pkg/go-syndication
	url = git@github.com:immanent-tech/go-syndication.git
[submodule "logging/slog-elasticsearch"]
	path = pkg/slog-elasticsearch
	url = git@github.com:immanent-tech/slog-elasticsearch.git
