[submodule "web/templates/components"]
	path = web/templates/components
	url = git@github.com:joshuar/go-templ-daisyui.git
[submodule "models/feeds"]
	path = models/feeds
	url = git@github.com:immanent-tech/go-syndication.git
[submodule "logging/slog-elasticsearch"]
	path = logging/slog-elasticsearch
	url = git@github.com:immanent-tech/slog-elasticsearch.git
