{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss-extra-plus",
    "prettier-plugin-tailwindcss",
    "@prettier/plugin-xml"
  ],
  "tailwindStylesheet": "./web/assets/styles.css"
}
