// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/joshuar/go-feed-me/models"

templ AlertError(msg *models.UserMessage) {
	<div id="alert-error" class="rounded-md bg-error/70 p-4">
		<div class="flex">
			<div class="shrink-0">
				@HeroIconError("size-5")
			</div>
			<div class="ml-3">
				<h3 class="text-sm font-medium text-error-content">{ msg.Summary }</h3>
				if msg.HasDetails() {
					<div class="mt-2 text-sm text-error-content">
						<p>{ msg.Details }</p>
					</div>
				}
			</div>
			<div class="ml-auto pl-3">
				<div class="-mx-1.5 -my-1.5">
					<button
						type="button"
						class="inline-flex rounded-md bg-error p-1.5 text-error-content focus-visible:ring-2 focus-visible:ring-error focus-visible:ring-offset-2 focus-visible:ring-offset-error focus-visible:outline-hidden"
						_="on click remove #alert-error"
					>
						<span class="sr-only">Dismiss</span>
						@HeroIconClose("size-4")
					</button>
				</div>
			</div>
		</div>
	</div>
}

templ AlertWarn(msg *models.UserMessage) {
	<div id="alert-warning" class="rounded-md bg-warning/70 p-4">
		<div class="flex">
			<div class="shrink-0">
				@HeroIconWarn("size-5")
			</div>
			<div class="ml-3">
				<h3 class="text-sm font-medium text-warning-content">{ msg.Summary }</h3>
				if msg.HasDetails() {
					<div class="mt-2 text-sm text-warning-content">
						<p>{ msg.Details }</p>
					</div>
				}
			</div>
			<div class="ml-auto pl-3">
				<div class="-mx-1.5 -my-1.5">
					<button
						type="button"
						class="inline-flex rounded-md bg-warning p-1.5 text-warning-content focus-visible:ring-2 focus-visible:ring-warning focus-visible:ring-offset-2 focus-visible:ring-offset-warning focus-visible:outline-hidden"
						_="on click remove #alert-warning"
					>
						<span class="sr-only">Dismiss</span>
						@HeroIconClose("size-4")
					</button>
				</div>
			</div>
		</div>
	</div>
}

templ AlertSuccess(msg *models.UserMessage) {
	<div id="alert-success" role="alert" class="rounded-md bg-success/70 p-4">
		<div class="flex items-center">
			<div class="shrink-0">
				@HeroIconSuccess("size-5")
			</div>
			<div class="ml-3">
				<h3 class="text-sm font-medium text-success-content">{ msg.Summary }</h3>
				if msg.HasDetails() {
					<div class="mt-2 text-sm text-success-content">
						<p>{ msg.Details }</p>
					</div>
				}
			</div>
			<div class="ml-auto pl-3">
				<div class="-mx-1.5 -my-1.5">
					<button
						type="button"
						class="inline-flex rounded bg-success p-1 text-success-content focus-visible:ring-2 focus-visible:ring-success focus-visible:ring-offset-2 focus-visible:ring-offset-success focus-visible:outline-hidden"
						_="on click remove #alert-success"
					>
						<span class="sr-only">Dismiss</span>
						@HeroIconClose("size-4")
					</button>
				</div>
			</div>
		</div>
	</div>
}
