// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/joshuar/go-feed-me/models"

templ AlertError(msg *models.UserMessage) {
	<div id="alert-error" class="rounded-md bg-error/70 p-4">
		<div class="flex">
			<div class="shrink-0">
				@HeroIconError("size-5")
			</div>
			@ErrorMessage(msg)
			<div class="ml-auto pl-3">
				<div class="-mx-1.5 -my-1.5">
					<button
						type="button"
						class="inline-flex rounded-md bg-error p-1.5 text-error-content focus-visible:ring-2 focus-visible:ring-error focus-visible:ring-offset-2 focus-visible:ring-offset-error focus-visible:outline-hidden"
						_="on click remove #alert-error"
					>
						<span class="sr-only">Dismiss</span>
						@HeroIconClose("size-4")
					</button>
				</div>
			</div>
		</div>
	</div>
}

templ AlertWarn(msg *models.UserMessage) {
	<div id="alert-warning" class="rounded-md bg-warning/70 p-4">
		<div class="flex">
			<div class="shrink-0">
				@HeroIconWarn("size-5")
			</div>
			@WarningMessage(msg)
			<div class="ml-auto pl-3">
				<div class="-mx-1.5 -my-1.5">
					<button
						type="button"
						class="inline-flex rounded-md bg-warning p-1.5 text-warning-content focus-visible:ring-2 focus-visible:ring-warning focus-visible:ring-offset-2 focus-visible:ring-offset-warning focus-visible:outline-hidden"
						_="on click remove #alert-warning"
					>
						<span class="sr-only">Dismiss</span>
						@HeroIconClose("size-4")
					</button>
				</div>
			</div>
		</div>
	</div>
}

templ AlertSuccess(msg *models.UserMessage) {
	<div id="alert-success" role="alert" class="rounded-md bg-success/70 p-4">
		<div class="flex items-center">
			<div class="shrink-0">
				@HeroIconSuccess("size-5")
			</div>
			@SuccessMessage(msg)
			<div class="ml-auto pl-3">
				<div class="-mx-1.5 -my-1.5">
					<button
						type="button"
						class="inline-flex rounded bg-success p-1 text-success-content focus-visible:ring-2 focus-visible:ring-success focus-visible:ring-offset-2 focus-visible:ring-offset-success focus-visible:outline-hidden"
						_="on click remove #alert-success"
					>
						<span class="sr-only">Dismiss</span>
						@HeroIconClose("size-4")
					</button>
				</div>
			</div>
		</div>
	</div>
}

// WarningMessage renders the given message in a warning style.
templ WarningMessage(msg *models.UserMessage) {
	<div class="ml-3">
		<h3 class="text-sm font-medium text-warning">{ msg.Summary }</h3>
		if msg.HasDetails() {
			<div class="mt-2 text-sm text-warning/80">
				<p>{ msg.Details }</p>
			</div>
		}
		{ children... }
	</div>
}

// ErrorMessage renders the given message in an error style.
templ ErrorMessage(msg *models.UserMessage) {
	<div class="ml-3">
		<h3 class="text-sm font-medium text-error">{ msg.Summary }</h3>
		if msg.HasDetails() {
			<div class="mt-2 text-sm text-error/80">
				<p>{ msg.Details }</p>
			</div>
		}
		{ children... }
	</div>
}

// SuccessMessage renders the given message in a success style.
templ SuccessMessage(msg *models.UserMessage) {
	<div class="ml-3">
		<h3 class="text-sm font-medium text-success">{ msg.Summary }</h3>
		if msg.HasDetails() {
			<div class="mt-2 text-sm text-success/80">
				<p>{ msg.Details }</p>
			</div>
		}
		{ children... }
	</div>
}

// FormSuccess renders a div that can be used to highlight successful form submission details.
templ FormSuccess() {
	<div class="rounded-md bg-success/10 p-4 outline outline-success/20">
		<div class="flex">
			<div class="shrink-0">
				@HeroIconSuccess("size-5", "text-success")
			</div>
			{ children... }
		</div>
	</div>
}

// FormWarning renders a div that can be used to highlight a warning about form submission.
templ FormWarning() {
	<div class="rounded-md bg-warning/10 p-4 outline outline-warning/15">
		<div class="flex">
			<div class="shrink-0">
				@HeroIconWarn("size-5", "text-warning")
			</div>
			{ children... }
		</div>
	</div>
}

// FormError renders a div that can be used to highlight an error about form submission.
templ FormError() {
	<div class="rounded-md bg-error/10 p-4 outline outline-error/15">
		<div class="flex">
			<div class="shrink-0">
				@HeroIconError("size-5", "text-error")
			</div>
			{ children... }
		</div>
	</div>
}
