// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/figure"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"net/url"
	"slices"
	"strings"
)

type Article struct {
	*models.Article
	classes []components.Class
}

func NewArticleContent(article *models.Article) *Article {
	card := &Article{
		Article: article,
	}
	if !article.IsUnread() {
		card.classes = append(card.classes, "brightness-50")
	}
	return card
}

templ (c *Article) ShowAsItem() {
	<div class="grid-item" id={ c.GetID() }>
		@link.Build(
			link.WithAttributes(c.viewAttributes()),
		) {
			<div>
				<div class="list-col-wrap text-xs">
					<div class="flex flex-row gap-2 m-2">
						@c.image()
						<div class="text-sm font-semibold flex-1">{ c.GetTitle() }</div>
					</div>
					<div class="flex flex-row m-4 justify-end gap-2">
						<div class="flex flex-1 italic">
							{ strings.Join(c.GetAuthors(),",") }
						</div>
						<div class="flex text-xs uppercase font-semibold">
							@ShowTimestamp(c.GetUpdatedDate())
						</div>
					</div>
				</div>
			</div>
		}
	</div>
}

templ (c *Article) ShowAsSearchSuggestion() {
	<li class="list-row" _="on click call document.activeElement.blur()">
		<div>
			<div class="list-col-wrap text-xs">
				@c.link()
			</div>
		</div>
	</li>
}

templ (c *Article) ShowAsSearchResult() {
	<div class="col-span-2">
		<div class="flex flex-row gap-2 m-2 items-center">
			@c.link()
		</div>
	</div>
}

// Content shows the full article content.
templ (c *Article) Content() {
	<div class="flex justify-center">
		@article.Build(
			article.WithClasses("article"),
		) {
			<h2>
				{ c.GetTitle() }
			</h2>
			<div class="flex flex-row justify-start gap-2">
				if len(c.GetAuthors()) > 0 {
					<div class="text-sm font-semibold">{ strings.Join(c.GetAuthors(), ",") }</div>
				}
				<div class="text-sm">
					@ShowTimestamp(c.GetUpdatedDate())
				</div>
			</div> // Display the categories associated with the article.
			for category := range slices.Values(c.GetCategories()) {
				@badge.Build(
					badge.WithClasses(badge.Ghost, badge.XS, "capitalize", "w-fit-content"),
				) {
					{ category }
				}
			}
			// Display the article content.
			<div id="article-content">
				switch  {
					case c.GetContent() != "":
						@templ.Raw(c.GetContent())
					case c.GetDescription() != "":
						@templ.Raw(c.GetDescription())
				}
			</div>
			<div class="article-actions">
				// Visit external link.
				<div class="flex">
					@c.visitActionLink()
				</div>
				// Toggle favorite.
				<div class="flex" id={ "favorite_" + c.GetID() }>
					@ToggleFavoriteArticleText(c.GetID(), c.Favorite, "#favorite_"+c.GetID(), "innerHTML")
				</div>
				// Share.
				<div class="flex">
					@shareArticleLink(c.GetSubscriptionID(), c.GetID())
				</div>
			</div>
		}
	</div>
	<div
		hx-post={ "/subscription/" + c.GetSubscriptionID() + "/article/" + c.GetID() + "/mark/read" }
		hx-swap="none"
		hx-trigger="load delay:1m"
		hx-vals='{"view": "unread"}'
		hx-push-url="false"
		_="on htmx:afterRequest remove me"
	></div>
}

// MarkArticleLink generates a link/action that will mark the article read/unread depending on its current
// read state.
templ MarkArticleLink(subscriptionID models.SubscriptionID, itemID models.ItemID, unread bool) {
	{{ var mark string }}
	if unread {
		{{ mark = "read" }}
	} else {
		{{ mark = "unread" }}
	}
	@NewAction("/subscription/"+subscriptionID+"/article/"+itemID+"/mark/"+mark, DisplayActionAsLink,
		ActionMethod(http.MethodPost),
		ActionTarget("#"+itemID),
		ActionSwap("outerHTML"),
		ActionInclude("[name='view']"),
		ActionLinkOptions(
			link.WithClasses("text-xs"),
		),
	) {
		<div class="icontext">
			switch mark {
				case "read":
					@tabler.Bookmark()
					Mark Read
				case "unread":
					@tabler.BookmarkFilled()
					Mark Unread
			}
		</div>
	}
}

// ShowAsSummary shows a summarised version of the article.
templ (c *Article) link() {
	@link.Build(
		link.WithAttributes(c.viewAttributes()),
	) {
		<div class="flex flex-row gap-2">
			@c.image()
			<div class="text-sm flex-1 font-semibold">{ c.GetTitle() }</div>
		</div>
		<div class="flex flex-row justify-end">
			<div class="text-xs uppercase font-semibold">{ c.GetFeedTitle() }</div>
		</div>
	}
}

// image returns an appropriate image to use in the article card. It will either be the article's image or a
// placeholder.
templ (c Article) image() {
	if c.GetImage().URL != "" {
		@figure.Build(
			image.Build(
				c.GetImage().URL,
				image.WithLazyLoading(),
				image.WithExtraClasses("rounded"),
			),
			figure.WithFigureClasses("max-w-24"),
		).Show()
	}
}

func (c *Article) viewAttributes() templ.Attributes {
	return templ.Attributes{
		"hx-get":      "/subscription/" + c.GetSubscriptionID() + "/article/" + c.GetID(),
		"hx-target":   ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "innerHTML scroll:top",
	}
}

// ToggleFavoriteArticleText renders an icon and text that when clicked will toggle the favorite status of the
// article.
templ ToggleFavoriteArticleText(id models.SubscriptionID, isFavorite bool, target string, swap string) {
	@favoriteArticleLink(id, isFavorite, target, swap) {
		<div class="icontext">
			switch isFavorite {
				case true:
					@tabler.HeartFilled(i.Props{Size: i.SizeXS})
					Remove Favorite
				case false:
					@tabler.Heart(i.Props{Size: i.SizeXS})
					Add Favorite
			}
		</div>
	}
}

// favoriteSubscription link will generate an appropriate link action to favorite a subscription.
templ favoriteArticleLink(id models.ItemID, isFavorite bool, target string, swap string) {
	{{ var method string }}
	switch isFavorite {
		case true:
			{{ method = http.MethodDelete }}
		case false:
			{{ method = http.MethodPut }}
	}
	@NewAction("/user/favorite/article/"+id, DisplayActionAsLink,
		ActionMethod(method),
		ActionTarget(target),
		ActionSwap(swap),
		ActionLinkOptions(
			link.WithClasses("text-xs"),
		),
	) {
		{ children... }
	}
}

// visitActionLink generates a link that redirects to the original article.
templ (a *Article) visitActionLink() {
	@link.Build(
		link.WithAttributes(templ.Attributes{"href": a.GetLink()}),
		link.WithClasses("text-xs"),
	) {
		<div class="flex gap-2">
			@tabler.ExternalLink(i.Props{Size: i.SizeXS})
			Original Article
		</div>
	}
}

// shareArticleLink generates a link that triggers a modal with options for sharing the article externally.
templ shareArticleLink(subscriptionID models.SubscriptionID, itemID models.ItemID) {
	@NewAction("/subscription/"+subscriptionID+"/article/"+itemID+"/share", DisplayActionAsLink,
		ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+ModalID.Target()),
		ActionTarget(ModalContainerID.Target()),
		ActionLinkOptions(
			link.WithClasses("text-xs"),
		),
	) {
		<div class="icontext">
			@tabler.Share(i.Props{Size: i.SizeXS})
			Share article
		</div>
	}
}

// AskQuestion displays a modal that asks the given question, with the given actions as options.
templ ShareArticleModal(article *models.Article) {
	@Modal() {
		<h3 class="font-bold">Share via...</h3>
		<div class="flex justify-center">
			<div class="grid grid-cols-4 gap-4">
				@link.Build(
					link.WithAttributes(mailToAttrs(article)),
					link.WithClasses("btn"),
				) {
					<div class="icontext text-sm">
						@tabler.Mail()
						Send Email
					</div>
				}
				@button.Build(
					button.WithAttributes(templ.Attributes{
						"_": "on click call navigator.clipboard.writeText('" + article.GetLink() + "')",
					}),
				) {
					<div class="icontext text-sm">
						@tabler.Copy()
						Copy Link
					</div>
				}
			</div>
		</div>
	}
}

func mailToAttrs(article *models.Article) templ.Attributes {
	var href strings.Builder
	href.WriteString("mailto:?subject=")
	href.WriteString(url.QueryEscape(article.GetTitle()))
	href.WriteString("&body=")
	href.WriteString(url.QueryEscape(article.GetLink()))
	return templ.Attributes{
		"href":   href.String(),
		"target": "_blank",
	}
}
