// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/immanent-tech/go-feed-me/models"
	"github.com/immanent-tech/go-feed-me/server/session"
	"strings"
)

type Article struct {
	*models.Article
}

func NewArticleContent(article *models.Article) *Article {
	return &Article{
		Article: article,
	}
}

// Card renders an article as a card, for displaying in a list.
templ (a *Article) Card(view models.View) {
	<li id={ a.GetID() }>
		<div
			class={ "card-base",
		templ.KV("row-span-1", a.GetImage().URL == ""), templ.KV("md:row-span-2 md:col-span-1", a.GetImage().URL != ""),
			templ.KV("opacity-50",!a.IsUnread()) }
		>
			// Header.
			<div class="px-4 py-5 sm:px-6">
				if a.GetImage().URL != "" {
					@a.ViewLink() {
						<div class="relative w-full">
							<img
								class="aspect-video w-full rounded-2xl bg-base-content-10 object-cover sm:aspect-2/1 lg:aspect-3/2"
								src={ a.GetImage().URL }
								if a.GetImage().Title != "" {
									alt={ a.GetImage().Title }
								}
							/>
							<div class="inset-0 rounded-2xl inset-ring inset-ring-base-content/20"></div>
						</div>
						<div class="flex max-w-xl grow flex-col justify-between">
							<div class="group relative grow">
								<h3 class="mt-3 text-lg/6 font-semibold text-pretty">
									{ a.GetTitle() }
								</h3>
							</div>
						</div>
					}
				} else {
					@a.ViewLink() {
						<div class="group relative grow">
							<h3 class="mt-3 text-lg/6 font-semibold text-pretty">
								{ a.GetTitle() }
							</h3>
						</div>
					}
				}
			</div>
			// Body.
			<div class="px-4 py-5 sm:p-6">
				if a.GetDescription() != "" {
					<article class="prose prose-sm prose-img:hidden prose-figure:hidden dark:prose-invert line-clamp-3">
						@templ.Raw(a.GetDescription())
					</article>
				}
			</div>
			// Footer.
			<div class="px-4 py-4 sm:px-6">
				<div class="flex">
					@a.articleInfo()
					@ContextMenu(a.GetTitle() + " Actions") {
						// View action.
						<a href={ a.GetLink() } target="_blank" rel="noopener" class="menu-item">
							@HeroIconExternalLink("size-4")
							Original Article
						</a>
						// Find similar action.
						<a hx-post={ "/subscription/" + a.GetFeedID() + "/article/" + a.GetID() + "/similar" } hx-target={ ContentID.Target() } class="menu-item">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
								<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
							</svg>
							Find similar...
						</a>
						// Mark action.
						if view == models.ViewAll {
							@a.markLink("#"+a.GetID(), "outerHTML", "menu-item") {
								switch a.IsUnread() {
									case true:
										@HeroIconMarkRead("size-4")
										Mark Read
									case false:
										@HeroIconMarkUnread("size-4")
										Mark Unread
								}
							}
						} else {
							@a.markLink("#"+a.GetID(), "delete", "menu-item") {
								switch a.IsUnread() {
									case true:
										@HeroIconMarkRead("size-4")
										Mark Read
									case false:
										@HeroIconMarkUnread("size-4")
										Mark Unread
								}
							}
						}
						// Favorite action. Wrapped in a div that can be targeted for hx-swapping.
						<div id={ "favorite_" + a.GetID() }>
							@a.favoriteLink("menu-item") {
								switch a.Favorite {
									case true:
										@HeroIconHeartFilled("size-4")
										Remove Favorite
									case false:
										@HeroIconHeart("size-4")
										Add Favorite
								}
							}
						</div>
						// Share action.
						@a.shareLink("menu-item") {
							@HeroIconShare("size-4")
							Share
						}
					}
				</div>
			</div>
		</div>
	</li>
}

// Content shows the full article content.
templ (a *Article) Content() {
	// Mobile breadcrumbs/navigation.
	<div class="breadcrumbs-mobile">
		<ul>
			<li aria-label="Back">
				<a _="on click call history.back()" class="link link-hover flex items-center text-sm font-medium text-base-content/50 hover:text-base-content">
					<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="mr-1 -ml-1 size-5 shrink-0 text-base-content/50">
						<path d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" fill-rule="evenodd"></path>
					</svg>
					Back
				</a>
			</li>
		</ul>
	</div>
	// Desktop breadcrumbs/navigation.
	<div class="breadcrumbs-desktop">
		<ul>
			<li aria-label="Subscriptions">
				<a
					hx-get="/subscriptions"
					hx-target={ ContentID.Target() }
					hx-vals={ models.GenerateHXVals(session.SubscriptionFiltersFromSession(ctx).Parameters()) }
					hx-push-url="true"
					class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content"
				>Subscriptions</a>
			</li>
			<li aria-label="Articles">
				{{ viewSubscriptionVals := session.ArticleFiltersFromSession(ctx).Parameters() }}
				{{ viewSubscriptionVals[models.ParamSubscriptions] = a.GetSubscriptionID() }}
				<a
					hx-get="/articles"
					hx-target={ ContentID.Target() }
					hx-vals={ models.GenerateHXVals(viewSubscriptionVals) }
					hx-push-url="true"
					class="link link-hover ml-4 text-sm font-medium text-base-content/50 hover:text-base-content min-w-0"
				>
					<p class="truncate min-w-0">{ a.GetFeedTitle() }</p>
				</a>
			</li>
			<li class="min-w-0">
				<a href="#" aria-current="page" class="ml-4 text-sm font-medium text-base-content/50 hover:text-base-content min-w-0"><p class="truncate min-w-0">{ a.GetTitle() }</p></a>
			</li>
		</ul>
	</div>
	// Article.
	<div class="flex justify-center bg-base-200 border border-base-content/20 rounded-xl">
		<article id={ a.GetID() } class="prose prose-sm sm:prose-lg w-full dark:prose-invert px-4 py-4 sm:px-6">
			<a href={ a.GetLink() } target="_blank" rel="noopener" class="link link-hover">
				<h2 class="text-xl font-bold text-pretty sm:text-2xl sm:tracking-tight">{ a.GetTitle() }</h2>
			</a>
			<div id="article-info" class="flex items-center justify-between">
				@a.articleInfo()
				@ContextMenu(a.GetTitle() + "Actions") {
					// View action.
					<a href={ a.GetLink() } target="_blank" rel="noopener" class="link link-hover menu-item">
						@HeroIconExternalLink("size-4")
						Original Article
					</a>
					// Mark action.
					<div id={ "mark_" + a.GetID() }>
						@a.markLink("mark_"+a.GetID(), "innerHTML", "menu-item") {
							switch a.IsUnread() {
								case true:
									@HeroIconMarkRead("size-4")
									Mark Read
								case false:
									@HeroIconMarkUnread("size-4")
									Mark Unread
							}
						}
					</div>
					// Favorite action. Wrapped in a div that can be targeted for hx-swapping.
					<div id={ "favorite_" + a.GetID() }>
						@a.favoriteLink("menu-item") {
							switch a.Favorite {
								case true:
									@HeroIconHeartFilled("size-4")
									Remove Favorite
								case false:
									@HeroIconHeart("size-4")
									Add Favorite
							}
						}
					</div>
					// Share action.
					@a.shareLink("menu-item") {
						@HeroIconShare("size-4")
						Share
					}
				}
			</div>
			<div id="article-text">
				switch  {
					case a.GetContent() != "":
						@templ.Raw(a.GetContent())
					case a.GetDescription() != "":
						@templ.Raw(a.GetDescription())
				}
			</div>
		</article>
	</div>
	// TODO: display a category cloud of the article's categories underneath it, all linked to categories.
	// <ul
	// 	role="list"
	// 	class="grid grid-cols-6 auto-rows-max justify-center gap-x-4 max-w-prose rounded-xl border border-gray-200 bg-base-200 p-4 mt-2"
	// >
	// 	for category := range slices.Values(a.GetCategories()) {
	// 		<li>
	// 			if len(category) > 10 {
	// 				<span class="inline-flex items-center rounded-md bg-accent/30 px-2 py-1 mx-2 my-1 text-xs text-nowrap col-span-2 font-medium">{ category }</span>
	// 			} else {
	// 				<span class="inline-flex items-center rounded-md bg-accent/30 px-2 py-1 mx-2 my-1 text-xs text-nowrap font-medium">{ category }</span>
	// 			}
	// 		</li>
	// 	}
	// </ul>
	// After a delay or when the user scrolls this div into view, assume the article is read and mark it so.
	<div
		hx-post={ "/subscription/" + a.GetSubscriptionID() + "/article/" + a.GetID() + "/mark/" + string(models.MarkRead) }
		hx-target={ "#mark_" + a.GetID() }
		hx-swap="innerHTML"
		hx-trigger="intersect once,load delay:10s"
		hx-push-url="false"
		_="on htmx:afterRequest remove me"
	></div>
}

// articleInfo renders additional information about the article, ideal to put under the title.
templ (a *Article) articleInfo() {
	<div class="flex flex-none text-sm/6 gap-x-4 items-center">
		<p class="text-base-content/80 capitalize">
			@ShowTimestamp(a.GetUpdatedDate())
		</p>
		<p class="text-base-content/80 italic">
			{ strings.Join(a.GetAuthors(),",") }
		</p>
	</div>
}

// ToggleFavorite renders an updated favorite link based on the article favorite status.
templ (a *Article) ToggleFavorite() {
	@a.favoriteLink("menu-item") {
		switch a.Favorite {
			case true:
				@HeroIconHeartFilled("size-4")
				Remove Favorite
			case false:
				@HeroIconHeart("size-4")
				Add Favorite
		}
	}
}

// viewLink generates a link for viewing the article.
templ (a *Article) ViewLink(classes ...string) {
	<a
		hx-get={ "/subscription/" + a.GetSubscriptionID() + "/article/" + a.GetID() }
		hx-target={ ContentID.Target() }
		hx-push-url="true"
		hx-swap="innerHTML show:top"
		class={ "link link-hover", classes }
	>
		{ children... }
	</a>
}

// ToggleFavorite renders an updated favorite link based on the article favorite status.
templ (a *Article) ToggleMark() {
	@a.markLink("#mark_"+a.GetID(), "innerHTML", "menu-item") {
		switch a.IsUnread() {
			case true:
				@HeroIconMarkRead("size-4")
				Mark Read
			case false:
				@HeroIconMarkUnread("size-4")
				Mark Unread
		}
	}
}

// markLink generates a link that will toggle the mark status (read/unread) of the subscription.
templ (a *Article) markLink(target, swap string, classes ...string) {
	{{ var mark string }}
	if a.IsUnread() {
		{{ mark = "read" }}
	} else {
		{{ mark = "unread" }}
	}
	<a
		hx-post={ "/subscription/" + a.GetSubscriptionID() + "/article/" + a.GetID() + "/mark/" + mark }
		hx-target={ target }
		hx-swap={ swap }
		class={ "link link-hover", classes }
	>
		{ children... }
	</a>
}

// favoriteLink generates a link that will toggle the favorite status of the subscription.
templ (a *Article) favoriteLink(classes ...string) {
	<a
		if a.Favorite {
			hx-delete={ "/user/favorite/article/" + a.GetID() }
		} else {
			hx-put={ "/user/favorite/article/" + a.GetID() }
		}
		hx-target={ "#favorite_" + a.GetID() }
		class={ "link link-hover", classes }
	>
		{ children... }
	</a>
}

// shareLink generates a link that can be used for sharing the article externally
templ (a *Article) shareLink(classes string) {
	<a
		_={ "on click set currentValue to (my innerHTML) then writeText('" + a.GetLink() + "') on navigator.clipboard put 'Copied!' into me wait 1s put currentValue into me" }
		class={ "link link-hover", classes }
	>
		{ children... }
	</a>
}
