// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"slices"
)

var CardsID = attributes.ID("cards")

// CardGrid renders the given card components in a grid container.
templ CardGrid(cards ...templ.Component) {
	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4"
		id={ CardsID.String() }
		hx-trigger="htmx:historyRestore from:body"
		hx-get={ models.PageStateFromCtx(ctx).String() }
		hx-target={ ContentID.Target() }
	>
		for cards := range slices.Values(cards) {
			@cards
		}
	</div>
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
}

// CardControls renders a list of controls for manipulating cards.
templ CardControls(controls ...templ.Component) {
	<div id="card-controls" class="flex flex-row justify-end gap-2 m-2">
		for control := range slices.Values(controls) {
			@control
		}
	</div>
}
