// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/immanent-tech/foragd/web/templates/element"

templ Card(options ...element.PropertiesOption) {
	{{ props := element.NewProperties(options...) }}
	<div
		class={ "card bg-base-200 border border-neutral/20 transition-shadow duration-250 ease-in-out hover:shadow-lg", props.Classes() }
		{ props.Attributes()... }
	>
		{ children... }
	</div>
}

templ CardHeader(options ...element.PropertiesOption) {
	{{ props := element.NewProperties(options...) }}
	<div
		class={ "card-header px-4 pt-5 pb-2 sm:px-6", props.Classes() }
		{ props.Attributes()... }
	>
		{ children... }
	</div>
}

templ CardBody(options ...element.PropertiesOption) {
	{{ props := element.NewProperties(options...) }}
	<div
		class={ "px-4 py-5 sm:p-6", props.Classes() }
		{ props.Attributes()... }
	>
		{ children... }
	</div>
}

templ CardFooter(options ...element.PropertiesOption) {
	{{ props := element.NewProperties(options...) }}
	<div
		class={ "card-footer mt-auto px-4 pb-4 pt-2 sm:px-6", props.Classes() }
		{ props.Attributes()... }
	>
		{ children... }
	</div>
}
