// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/immanent-tech/go-feed-me/models"
	"slices"
)

// AddCategoryForm renders a form that can be used to add categories to a subscription.
templ AddCategoryForm(categories []models.Category, attributes templ.Attributes) {
	<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
		<label for="category" class="block font-medium">Add category</label>
		<div class="mt-2 sm:col-span-2 sm:mt-0">
			<fieldset class="fieldset">
				<form
					{ attributes... }
					hx-on::after-request="if(event.detail.successful) this.reset()"
				>
					<el-autocomplete>
						<div class="flex">
							<div class="join">
								<input
									id="add-category"
									type="text"
									name="category"
									placeholder="Cool Stuff"
									class="input input-primary join-item"
								/>
								<button type="submit" class="btn btn-primary join-item">
									@HeroIconAdd("size-4")
								</button>
							</div>
						</div>
						<el-options popover anchor="bottom start">
							<div class="mt-2 grid grid-cols-1 bg-base-200 rounded p-4 pr-8 pl-3 text-base outline-1 -outline-offset-1 outline-neutral focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-accent sm:text-sm/6 capitalize">
								for category := range slices.Values(categories) {
									<el-option value={ category }>{ category }</el-option>
								}
							</div>
						</el-options>
					</el-autocomplete>
				</form>
				<span id="category-hint" class="label text-base-content/50 text-xs/4">Optional. Add a category to the subscription.</span>
			</fieldset>
		</div>
	</div>
}

type AddSubscriptionCategories struct {
	Categories []models.Category `form:"user_categories"`
}

func (c *AddSubscriptionCategories) Valid() (bool, error) {
	return true, nil
}

func (c *AddSubscriptionCategories) Sanitise() error {
	return nil
}

// ManageCategories renders a list containing existing categories of a subscription.
templ ManageCategories(categories []models.Category) {
	<ul id="current-categories" class="-my-3 divide-y divide-base-content/10 px-6 py-4 text-sm/6">
		for category := range slices.Values(categories) {
			@AddCategory(category)
		}
	</ul>
}

// AddCategory renders a new category item to the list of categories of a subscription.
templ AddCategory(category models.Category) {
	@categoryListItem(category, templ.Attributes{
		"hx-delete":   "/user/subscription/category",
		"hx-push-url": "false",
		"hx-target":   "closest li",
		"hx-swap":     "delete",
	})
}

templ categoryListItem(category models.Category, attributes templ.Attributes) {
	<li class="flex flex-row items-center py-4 gap-x-4 group-hover:text-accent">
		<input type="hidden" name="user_categories" value={ category }/>
		{ category }
		<button { attributes... }>
			@HeroIconTrash("size-4")
		</button>
	</li>
}
