// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import tabler "github.com/dimmerz92/go-icons/tabler-filled"

templ NoContent() {
	<div class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
		<div class="text-center">
			@tabler.Confetti(templ.Attributes{"class": "mx-auto text-accent size-12", "aria-hidden": "true"})
			<h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance">All caught up!</h1>
			<p class="mt-6 text-lg font-medium text-pretty">Congratulations, you've read everything!</p>
			<div class="mt-10 flex items-center justify-center gap-x-6">
				<a
					hx-get="/list/favorites"
					hx-target="#content"
					hx-swap="innerHTML scroll:#content:top transition:true"
					class="btn btn-accent"
				>
					View favorites
				</a>
			</div>
		</div>
	</div>
}
