// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/immanent-tech/foragd/models"
	"strconv"
)

// ListControls represents the controls (filtering/sorting options) for lists of objects.
type ListControls struct {
	Path       string
	Filters    models.Filters
	Categories models.CategoryCounts
}

// Template will display controls for sorting and filtering lists.
//
// Reference: https://tailwindcss.com/plus/ui-blocks/ecommerce/components/category-filters#component-cb75aacd7c636865835476c98f606a38
templ (c ListControls) Template() {
	<div>
		// Mobile filter dialog.
		<el-dialog>
			<dialog id="mobile-filters" class="overflow-hidden backdrop:bg-transparent sm:hidden">
				<el-dialog-backdrop class="bg-base-100/80 fixed inset-0 transition-opacity duration-300 ease-linear data-closed:opacity-0"></el-dialog-backdrop>
				<div tabindex="0" class="fixed inset-0 flex focus:outline-none">
					<el-dialog-panel class="relative ml-auto flex size-full max-w-xs transform flex-col overflow-y-auto bg-base-300 pt-4 pb-6 shadow-xl transition duration-300 ease-in-out data-closed:translate-x-full">
						<div class="flex items-center justify-between px-4">
							<h2 class="text-lg font-medium">Filters</h2>
							<button type="button" command="close" commandfor="mobile-filters" class="relative -mr-2 flex size-10 items-center justify-center rounded-md p-2 text-base-content hover:text-base-content/50 focus:ring-2 focus:ring-accent focus:outline-hidden">
								<span class="absolute -inset-0.5"></span>
								<span class="sr-only">Close menu</span>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
								</svg>
							</button>
						</div>
						@c.controlForm("mt-4") {
							// Category Filters (mobile).
							if len(c.Categories.GetTopCategories(10)) > 0 {
								<div class="border-t border-base-content/10 px-4 py-6">
									<h3 class="-mx-2 -my-3 flow-root">
										<button type="button" command="--toggle" commandfor="filter-section-category" class="flex w-full items-center justify-between px-2 py-3 text-sm">
											<span class="font-medium">Category</span>
											<span class="ml-6 flex items-center">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 transform not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180">
													<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
												</svg>
											</span>
										</button>
									</h3>
									<el-disclosure id="filter-section-category" hidden class="block pt-6">
										<div class="space-y-6">
											// Top 10 categories only.
											for idx, category := range c.Categories.GetTopCategories(10) {
												@categoryFilter("filter-mobile-category-"+strconv.Itoa(idx), category, c.Filters.GetCategories())
											}
											<a
												class="link link-hover"
												hx-get={ c.Path }
												hx-push-url="true"
												hx-target={ ContentID.Target() }
												hx-include="#content-filters"
												hx-params={ "not " + models.ParamCategories }
											>
												<div class="flex items-center">
													<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
														<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
													</svg>
													<p class="ml-3 text-sm font-medium capitalize hover:underline">Clear</p>
												</div>
											</a>
										</div>
									</el-disclosure>
								</div>
							}
							// View Filters (mobile).
							<div class="border-t border-base-content/10 px-4 py-6">
								<h3 class="-mx-2 -my-3 flow-root">
									<button type="button" command="--toggle" commandfor="filter-section-view" class="flex w-full items-center justify-between px-2 py-3 text-sm">
										<span class="font-medium">View</span>
										<span class="ml-6 flex items-center">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 transform not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180">
												<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
											</svg>
										</span>
									</button>
								</h3>
								<el-disclosure id="filter-section-view" hidden class="block pt-6">
									<div class="space-y-6">
										@viewFilter("filter-mobile-view-unread", models.ViewUnread, c.Filters.GetView())
										@viewFilter("filter-mobile-view-read", models.ViewRead, c.Filters.GetView())
										@viewFilter("filter-mobile-view-all", models.ViewAll, c.Filters.GetView())
									</div>
								</el-disclosure>
							</div>
						}
					</el-dialog-panel>
				</div>
			</dialog>
		</el-dialog>
		<div>
			<div class="py-6">
				<div class="flex items-center justify-between">
					// Sort Options.
					<div class="group inline-block">
						<button
							class="group-has-open:bg-accent/50 hover:bg-accent/50 btn btn-outline"
							popovertarget="sort-menu"
							type="button"
						>
							<span class="sr-only">Sort options</span>
							Sort
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-mr-1 ml-1 size-5 shrink-0">
								<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
							</svg>
						</button>
						<el-popover popover id="sort-menu" anchor="bottom start" popover class="bg-base-300 ring-base-content/10 origin-top-right overflow-visible rounded-md p-4 shadow-2xl ring-1 transition transition-discrete [--anchor-gap:--spacing(2)] backdrop:bg-transparent open:block focus:outline-hidden data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
							<fieldset>
								<div class="space-y-4">
									@sortOption(c.Path, models.SortLastUpdatedDesc, c.Filters.GetSort())
									@sortOption(c.Path, models.SortLastUpdatedAsc, c.Filters.GetSort())
									if c.Path == "/subscriptions" {
										@sortOption(c.Path, models.SortUnreadCountDesc, c.Filters.GetSort())
										@sortOption(c.Path, models.SortUnreadCountAsc, c.Filters.GetSort())
									}
								</div>
							</fieldset>
						</el-popover>
					</div>
					{{ var mark string }}
					if c.Filters.GetView() == models.ViewUnread {
						{{ mark = "read" }}
					} else {
						{{ mark = "unread" }}
					}
					<div class="sm:hidden space-x-4">
						switch c.Path {
							case "/articles":
								<button
									type="button"
									class="group-has-open:bg-accent/50 hover:bg-accent/50 btn btn-outline"
									hx-put="/articles"
									hx-include="#content-filters,[name='csrf_token']"
									hx-target={ ContentID.Target() }
								>
									<span class="sr-only">Mark all { mark }</span>
									Mark all { mark }
								</button>
							case "/subscriptions":
								<button
									type="button"
									class="group-has-open:bg-accent/50 hover:bg-accent/50 btn btn-outline"
									hx-put="/subscriptions"
									hx-include="#content-filters,[name='csrf_token']"
									hx-target={ ContentID.Target() }
								>
									<span class="sr-only">Mark all { mark }</span>
									Mark all { mark }
								</button>
						}
						// Button to reveal filters sidebar on mobile.
						<button type="button" command="show-modal" commandfor="mobile-filters" class="group-has-open:bg-accent/50 hover:bg-accent/50 btn btn-outline">
							<span class="sr-only">Filter options</span>
							Filters
						</button>
					</div>
					// Desktop Filters.
					<el-popover-group class="hidden sm:flex sm:items-baseline sm:space-x-8">
						switch c.Path {
							case "/articles":
								<button
									type="button"
									class="group-has-open:bg-accent/50 hover:bg-accent/50 btn btn-outline"
									hx-put="/articles"
									hx-include="#content-filters,[name='csrf_token']"
									hx-target={ ContentID.Target() }
								>
									<span class="sr-only">Mark all { mark }</span>
									Mark all { mark }
								</button>
							case "/subscriptions":
								<button
									type="button"
									class="group-has-open:bg-accent/50 hover:bg-accent/50 btn btn-outline"
									hx-put="/subscriptions"
									hx-include="#content-filters,[name='csrf_token']"
									hx-target={ ContentID.Target() }
								>
									<span class="sr-only">Mark all { mark }</span>
									Mark all { mark }
								</button>
						}
						// Category Filters (desktop).
						if len(c.Categories.GetTopCategories(10)) > 0 {
							<div class="relative inline-block text-left">
								<div class="group">
									<button popovertarget="desktop-menu-category" class="group-has-open:bg-accent/50 hover:bg-accent/50 btn btn-outline">
										<span class="sr-only">Category filters</span>
										<span>Category</span>
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-mr-1 ml-1 size-5 shrink-0">
											<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
										</svg>
									</button>
									<el-popover id="desktop-menu-category" anchor="bottom end" popover class="bg-base-300 ring-base-content/10 origin-top-right overflow-visible rounded-md p-4 shadow-2xl ring-1 transition transition-discrete [--anchor-gap:--spacing(2)] backdrop:bg-transparent open:block focus:outline-hidden data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
										<div class="space-y-4">
											@c.controlForm("space-y-4") {
												<input type="hidden" name={ models.ParamView } value={ string(c.Filters.GetView()) }/>
												// Top 10 categories only.
												for idx, category := range c.Categories.GetTopCategories(10) {
													@categoryFilter("filter-mobile-category-"+strconv.Itoa(idx), category, c.Filters.GetCategories())
												}
											}
											<a
												class="link link-hover"
												hx-get={ c.Path }
												hx-push-url="true"
												hx-target={ ContentID.Target() }
												hx-include="#content-filters"
												hx-params={ "not " + models.ParamCategories }
											>
												<div class="flex items-center">
													<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
														<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
													</svg>
													<p class="ml-3 text-sm font-medium capitalize hover:underline">Clear</p>
												</div>
											</a>
										</div>
									</el-popover>
								</div>
							</div>
						}
						// View Filters (desktop).
						<div class="relative inline-block text-left">
							<div class="group">
								<button popovertarget="desktop-menu-view" class="group-has-open:bg-accent/50 hover:bg-accent/50 btn btn-outline">
									<span class="sr-only">View filters</span>
									<span>View</span>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-mr-1 ml-1 size-5 shrink-0">
										<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
									</svg>
								</button>
								<el-popover id="desktop-menu-view" anchor="bottom end" popover class="bg-base-300 ring-base-content/10 origin-top-right overflow-visible rounded-md p-4 shadow-2xl ring-1 transition transition-discrete [--anchor-gap:--spacing(2)] backdrop:bg-transparent open:block focus:outline-hidden data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
									@c.controlForm("space-y-4") {
										@viewFilter("filter-view-unread", models.ViewUnread, c.Filters.GetView())
										@viewFilter("filter-view-read", models.ViewRead, c.Filters.GetView())
										@viewFilter("filter-view-all", models.ViewAll, c.Filters.GetView())
									}
								</el-popover>
							</div>
						</div>
					</el-popover-group>
				</div>
			</div>
		</div>
	</div>
}

// controlForm wraps controls in a form that will handle applying the given controls.
templ (c *ListControls) controlForm(classes ...string) {
	<form
		hx-get={ c.Path }
		hx-push-url="true"
		hx-target={ ContentID.Target() }
		class={ classes }
		hx-trigger="change,selectionchange"
		hx-include="[name='subscriptions']"
	>
		<input id="csrf_token" type="hidden" name="csrf_token" value={ models.CSRFTokenFromCtx(ctx) }/>
		// Add other filters.
		<input type="hidden" name={ models.ParamSortBy } value={ string(c.Filters.GetSort().SortBy) }/>
		<input type="hidden" name={ models.ParamSortOrder } value={ string(c.Filters.GetSort().SortOrder) }/>
		<input type="hidden" name={ models.ParamCount } value={ c.Filters.GetCount() }/>
		{ children... }
	</form>
}

// viewFilter renders a checkbox for a view filter.
templ viewFilter(id string, view models.View, current models.View) {
	<div class="flex items-center">
		<input
			id={ id }
			type="radio"
			name={ models.ParamView }
			value={ string(view) }
			class={ "radio radio-sm",templ.KV("radio-accent",current == view) }
			if current == view {
				checked
			}
			hx-vals={ models.GenerateHXVals(map[string]string{models.ParamView: string(view)}) }
		/>
		<label for={ id } class="ml-3 text-sm font-medium capitalize hover:underline">{ string(view) }</label>
	</div>
}

// categoryFilter renders a checkbox for a category filter.
templ categoryFilter(id string, category models.CategoryCount, current models.Categories) {
	<div class="flex items-center">
		<input
			id={ id }
			type="radio"
			name={ models.ParamCategories }
			value={ category.Category }
			if current.HasCategory(category.Category) {
				checked
				_="on click toggle @checked on me"
			} else {
				hx-vals={ models.GenerateHXVals(map[string]string{models.ParamCategories: category.Category}) }
			}
			class={ "radio radio-sm", templ.KV("radio-accent",current.HasCategory(category.Category)) }
		/>
		<label for={ id } class="ml-3 text-sm font-medium capitalize hover:underline">{ category.Category }</label>
	</div>
}

// sortOption renders a checkbox for a sort option.
templ sortOption(path string, sort models.Sort, current models.Sort) {
	<div class="flex items-center">
		<input
			id={ sort.ID() }
			type="radio"
			class={ "radio radio-sm", templ.KV("radio-accent", current.IsEqual(sort)) }
			if current.IsEqual(sort) {
				checked
			}
			hx-get={ path }
			hx-push-url="true"
			hx-include="#content-filters"
			hx-target={ ContentID.Target() }
			hx-vals={ models.GenerateHXVals(map[string]string{models.ParamSortBy: string(sort.SortBy), models.ParamSortOrder: string(sort.SortOrder)}) }
		/>
		<label for={ sort.ID() } class="ml-3 text-sm font-medium capitalize hover:underline">
			{ sort.String() }
		</label>
	</div>
}
