// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"encoding/json"
	"strings"
	"time"
)

// Content is the container for the main content of the page.
templ Content() {
	<div id={ ContentID.String() } class="m-2 h-full" hx-swap="innerHTML">
		{ children... }
	</div>
}

// GenerateHXVals generates a JSON-formatted object containing the given key-value pairs suitable for use as a hx-vals attribute.
// See also: https://htmx.org/attributes/hx-vals/
func GenerateHXVals(values map[string]string) string {
	data, err := json.Marshal(values)
	if err != nil {
		return ""
	}
	return string(data)
}

// ContentMetadata renders some metadata (author info, updated date) for content.
templ ContentMetadata(authors []string, updated time.Time) {
	<div>
		if len(authors) > 0 {
			<strong>{ strings.Join(authors, ",") }</strong>
		}
		<span class="text-xs">
			@ShowTimestamp(updated)
		</span>
	</div>
}
