// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/classes/width"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/menu"
)

templ DockMenu(title string, label any, items ...templ.Component) {
	@dropdown.Build(
		dropdown.WithOpenOptions(
			dropdown.From(dropdown.OpenTop),
			dropdown.Align(dropdown.AlignCenter),
		),
		dropdown.WithButton(
			button.WithSize(button.SM),
			button.AsShape(button.Square),
			button.WithContent(label),
		),
		dropdown.WithMenuContent(
			menu.WithMenuTitle(title),
			menu.WithBaseColor(color.Base200),
			menu.WithExtraClasses(width.W52),
			menu.WithItems(items...),
			menu.WithExtraItemClasses("p-2"),
		),
	).Show()
}
