// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

templ Drawer(contents ...templ.Component) {
	<div class="drawer-side">
		<label for="body-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
		<ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
			<li class="menu-title">Navigation</li>
			<li>
				@LinkWithIcon(tabler.Home(), "Home", templ.Attributes{
					"hx-get":      "/home",
					"hx-target":   ContentID.Target(),
					"hx-push-url": "true",
				}, nil)
			</li>
			for content := range slices.Values(contents) {
				@content
			}
		</ul>
	</div>
}
