// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"encoding/json"
	"net/http"
	"slices"
	"sync"
)

// Option is a generic type for functional options.
type Option[T any] func(T)

type HTMLElement struct {
	sync.Mutex
	attributes templ.Attributes
}

func NewHTMLElement() HTMLElement {
	return HTMLElement{
		attributes: make(templ.Attributes),
	}
}

func (e *HTMLElement) SetAttribute(key string, value any) {
	e.Lock()
	defer e.Unlock()
	e.attributes[key] = value
}

type element interface {
	SetAttribute(key string, value any)
}

func WithHXMethod(method, path string) Option[element] {
	return func(e element) {
		switch method {
		case http.MethodGet:
			e.SetAttribute("hx-get", path)
		case http.MethodPost:
			e.SetAttribute("hx-post", path)
		case http.MethodPut:
			e.SetAttribute("hx-put", path)
		case http.MethodDelete:
			e.SetAttribute("hx-delete", path)
		}
	}
}

func WithHXTarget(value string) Option[element] {
	return func(e element) {
		e.SetAttribute("hx-target", value)
	}
}

func WithHXSwap(value string) Option[element] {
	return func(e element) {
		e.SetAttribute("hx-swap", value)
	}
}

func WithHXInclude(value string) Option[element] {
	return func(e element) {
		e.SetAttribute("hx-include", value)
	}
}

func WithHXVals(vals map[string]string) Option[element] {
	return func(e element) {
		e.SetAttribute("hx-vals", generateHXVals(vals))
	}
}

func WithCustomAttribute(key string, value any) Option[element] {
	return func(e element) {
		e.SetAttribute(key, value)
	}
}

type Link struct {
	HTMLElement
}

templ NewLink(options ...Option[element]) {
	{{ link := &Link{HTMLElement: NewHTMLElement()} }}
	for option := range slices.Values(options) {
		{{ option(link) }}
	}
	<a { link.attributes... }>
		{ children... }
	</a>
}

func generateHXVals(values map[string]string) string {
	data, err := json.Marshal(values)
	if err != nil {
		return ""
	}
	return string(data)
}
