// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

// FavoritesList renders the given favorites in a list, grouped by type.
templ FavoritesList(favorites models.FavoritesSlice, swap models.HTMXFlag) {
	{{ subscriptions := favorites.FilterByType(models.FavoriteTypeSubscription) }}
	{{ articles := favorites.FilterByType(models.FavoriteTypeArticle) }}
	{{ searches := favorites.FilterByType(models.FavoriteTypeSearch) }}
	// Show a message if user doesn't have any favorites.
	if len(favorites) == 0 {
		<div class="text-center">
			<p class="text-sm/6 text-base-content/80 font-semibold mt-4">No favorites!</p>
			<p class="text-sm/6 text-base-content/80 text-pretty">Favorite a subscription, article or search...</p>
		</div>
	}
	<ul
		id="favorites-list"
		class="-mx-2 mt-2 space-y-1"
		if swap {
			hx-swap-oob="true"
		}
	>
		if len(subscriptions) > 0 {
			// Show favorite subscriptions.
			for fav := range slices.Values(subscriptions) {
				<li>
					{{ values := models.ListFiltersFromCtx(ctx).Values() }}
					{{ values[models.ParamSubscriptions] = fav.GetID() }}
					<a
						hx-get="/articles"
						hx-target={ ContentID.Target() }
						hx-vals={ models.GenerateHXVals(values) }
						hx-push-url="true"
						_="on click toggle @open on #mobile-sidebar-dialog"
						class="group link link-hover hover:text-accent flex gap-x-3 rounded-md p-2"
					>
						<div class="flex items-center gap-x-2">
							@tabler.Rss(i.Props{Class: "size-4"})
							<p class="text-sm/6 line-clamp-3 text-ellipsis text-pretty">
								{ fav.Nickname }
							</p>
						</div>
					</a>
				</li>
			}
		}
		if len(articles) > 0 {
			// Show favorite articles.
			for fav := range slices.Values(articles) {
				<li>
					{{ article, err := fav.ObjectData.AsFavoriteArticle() }}
					if err == nil {
						<a
							hx-get={ "/subscription/" + article.SubscriptionID + "/article/" + fav.GetID() }
							hx-target={ ContentID.Target() }
							hx-push-url="true"
							_="on click toggle @open on #mobile-sidebar-dialog"
							class="group link link-hover hover:text-accent flex gap-x-3 rounded-md p-2"
						>
							<div class="flex items-center gap-x-2">
								@tabler.FileRss(i.Props{Class: "size-4"})
								<p class="text-sm/6 line-clamp-3 text-ellipsis text-pretty">
									{ fav.Nickname }
								</p>
							</div>
						</a>
					}
				</li>
			}
		}
		if len(searches) > 0 {
			// Show favorite searches.
			for fav := range slices.Values(searches) {
				<li>
					{{ search, err := fav.ObjectData.AsFavoriteSearch() }}
					if err == nil {
						<a
							hx-get="/search"
							hx-target={ ContentID.Target() }
							hx-vals={ search.HXVals() }
							hx-push-url="true"
							_="on click toggle @open on #mobile-sidebar-dialog"
							class="group link link-hover hover:text-accent flex gap-x-3 rounded-md p-2"
						>
							<div class="flex items-center gap-x-2">
								@tabler.Search(i.Props{Class: "size-4"})
								<p class="text-sm/6 line-clamp-3 text-ellipsis text-pretty">
									{ fav.Nickname }
								</p>
							</div>
						</a>
					}
				</li>
			}
		}
	</ul>
}
