// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package partials

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/server/session"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/input/fieldset"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/sebasvil20/templicons/tabler"
)

templ favoriteIcon(fav models.Favorite) {
	switch fav.Type {
		case models.FavoriteTypeSubscription:
			@tabler.Rss()
		case models.FavoriteTypeArticle:
			@tabler.Article()
		case models.FavoriteTypeSearch:
			@tabler.Search()
		default:
			@tabler.Bookmark()
	}
}

// FavoriteLink generates a link to the given favorite.
templ FavoriteLink(fav models.Favorite) {
	switch fav.Type {
		case models.FavoriteTypeSubscription:
			// FavouriteSubscription.
			{{ values := session.SubscriptionFiltersFromSession(ctx).Parameters() }}
			{{ values[models.ParamSubscriptions] = fav.GetID() }}
			@NewAction("/subscriptions", DisplayActionAsLink,
				ActionValues(values),
				ActionPushURL(),
				ActionHyperScript("on click call document.activeElement.blur() end"),
			) {
				<div class="icontext">
					@favoriteIcon(fav)
					{ fav.String() }
				</div>
			}
		case models.FavoriteTypeArticle:
			// FavoriteArticle.
			@NewAction("/article/"+fav.GetID(), DisplayActionAsLink,
				ActionPushURL(),
				ActionHyperScript("on click call document.activeElement.blur() end"),
			) {
				<div class="icontext">
					@favoriteIcon(fav)
					{ fav.String() }
				</div>
			}
		case models.FavoriteTypeSearch:
			// FavoriteArticle.
			{{ search, err := fav.ObjectData.AsFavoriteSearch() }}
			if err != nil {
				@NewAction("/search/results", DisplayActionAsLink,
					ActionPushURL(),
					ActionHyperScript("on click call document.activeElement.blur() end"),
					ActionValues(map[string]string{"text": search.Text}),
				) {
					<div class="icontext">
						@favoriteIcon(fav)
						{ fav.String() }
					</div>
				}
			}
	}
}

templ AddFavoriteSearchModal(action *Action, search string) {
	@modal.Build(
		modal.WithID(ModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
	).Show() {
		@text.Build(text.WithSize(text.LG)) {
			Add Favorite
		}
		// if msg != nil {
		// 	@partials.Alert(msg)
		// }
		// Display the Subscription details.
		@form.Build(
			form.WithID("add-favorite"),
		) {
			@hiddeninput.Build(
				hiddeninput.WithName("text"),
				hiddeninput.WithValue(search),
			)
			@fieldset.Build() {
				<label class="fieldset-label">Nickname (optional)</label>
				@textinput.Build(
					textinput.WithName("nickname"),
				).Show()
			}
		}
		@fieldset.Build() {
			@action
		}
	}
}
