// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/immanent-tech/go-feed-me/models"
	"github.com/immanent-tech/go-feed-me/server/session"
	"slices"
)

// FavoritesList renders the given favorites in a list, grouped by type.
templ FavoritesList(favorites models.FavoritesSlice) {
	{{ subscriptions := favorites.FilterByType(models.FavoriteTypeSubscription) }}
	{{ articles := favorites.FilterByType(models.FavoriteTypeArticle) }}
	{{ searches := favorites.FilterByType(models.FavoriteTypeSearch) }}
	<ul id="favorites-list" hx-swap-oob="true" class="mt-1 px-2">
		if len(subscriptions) > 0 {
			// Show favorite subscriptions.
			<li class="text-xs/4 font-semibold text-base-content/80">Subscriptions</li>
			<ul id="subscription-favorites-list">
				for fav := range slices.Values(subscriptions) {
					<li>
						@FavoriteLink(fav, "group drawer-sidebar-link")
					</li>
				}
			</ul>
		}
		if len(articles) > 0 {
			// Show favorite articles.
			<li class="text-xs/4 font-semibold text-base-content/80">Articles</li>
			<ul id="articles-favorites-list">
				for fav := range slices.Values(articles) {
					<li>
						@FavoriteLink(fav, "group drawer-sidebar-link")
					</li>
				}
			</ul>
		}
		if len(searches) > 0 {
			// Show favorite searches.
			<li class="text-xs/4 font-semibold text-base-content/80">Searches</li>
			<ul id="searches-favorites-list">
				for fav := range slices.Values(searches) {
					<li>
						@FavoriteLink(fav, "group drawer-sidebar-link")
					</li>
				}
			</ul>
		}
	</ul>
}

templ FavoriteLink(fav *models.Favorite, classes string) {
	switch fav.Type {
		case models.FavoriteTypeSubscription:
			// FavouriteSubscription.
			{{ values := session.ArticleFiltersFromSession(ctx).Parameters() }}
			{{ values[models.ParamSubscriptions] = fav.GetID() }}
			<a
				hx-get="/articles"
				hx-target={ ContentID.Target() }
				hx-vals={ models.GenerateHXVals(values) }
				hx-push-url="true"
				_="on click toggle @open on #mobile-sidebar-dialog"
				class={ classes }
			>
				<div class="flex items-center gap-x-2">
					@HeroIconSubscription("size-4")
					{ fav.String() }
				</div>
			</a>
		case models.FavoriteTypeArticle:
			// FavoriteArticle.
			{{ article, err := fav.ObjectData.AsFavoriteArticle() }}
			if err == nil {
				<a
					hx-get={ "/subscription/" + article.SubscriptionID + "/article/" + fav.GetID() }
					hx-target={ ContentID.Target() }
					hx-push-url="true"
					_="on click toggle @open on #mobile-sidebar-dialog"
					class={ classes }
				>
					<div class="flex items-center gap-x-2">
						@HeroIconArticle("size-4")
						{ fav.String() }
					</div>
				</a>
			}
		case models.FavoriteTypeSearch:
			// FavoriteArticle.
			{{ search, err := fav.ObjectData.AsFavoriteSearch() }}
			if err == nil {
				<a
					hx-get="/search"
					hx-target={ ContentID.Target() }
					hx-vals={ models.GenerateHXVals(map[string]string{"text": search.Text}) }
					hx-push-url="true"
					_="on click toggle @open on #mobile-sidebar-dialog"
					class={ classes }
				>
					<div class="flex items-center gap-x-2">
						@HeroIconSearch("size-4")
						{ fav.String() }
					</div>
				</a>
			}
	}
}
