// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package partials

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/server/session"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/input/fieldset"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
)

// FavoriteLink generates a link to the given favorite.
templ FavoriteLink(fav *models.Favorite) {
	switch fav.Type {
		case models.FavoriteTypeSubscription:
			// FavouriteSubscription.
			{{ values := session.SubscriptionFiltersFromSession(ctx).Parameters() }}
			{{ values[models.ParamSubscriptions] = fav.GetID() }}
			@NewAction("/subscriptions", DisplayActionAsLink,
				ActionValues(values),
				ActionPushURL(),
				ActionHyperScript("on click call document.activeElement.blur() end"),
				ActionClasses("group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-gray-50 hover:text-accent"),
			) {
				<span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-accent group-hover:text-accent">
					@HeroIconSubscription("size-4")
				</span>
				{ fav.String() }
			}
		case models.FavoriteTypeArticle:
			// FavoriteArticle.
			@NewAction("/article/"+fav.GetID(), DisplayActionAsLink,
				ActionPushURL(),
				ActionHyperScript("on click call document.activeElement.blur() end"),
				ActionClasses("group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-gray-50 hover:text-accent"),
			) {
				<span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-accent group-hover:text-accent">
					@HeroIconArticle("size-4")
				</span>
				{ fav.String() }
			}
		case models.FavoriteTypeSearch:
			// FavoriteArticle.
			{{ search, err := fav.ObjectData.AsFavoriteSearch() }}
			if err != nil {
				@NewAction("/search/results", DisplayActionAsLink,
					ActionPushURL(),
					ActionHyperScript("on click call document.activeElement.blur() end"),
					ActionValues(map[string]string{"text": search.Text}),
					ActionClasses("group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-gray-50 hover:text-accent"),
				) {
					<span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-accent group-hover:text-accent">
						@HeroIconSearch("size-4")
					</span>
					{ fav.String() }
				}
			}
	}
}

templ AddFavoriteSearchModal(action *Action, search string) {
	@Modal() {
		@text.Build(text.WithSize(text.LG)) {
			Add Favorite
		}
		@form.Build(
			form.WithID("add-favorite"),
		) {
			@hiddeninput.Build(
				hiddeninput.WithName("text"),
				hiddeninput.WithValue(search),
			)
			@fieldset.Build() {
				<label class="fieldset-label">Nickname (optional)</label>
				@textinput.Build(
					textinput.WithName("nickname"),
				).Show()
			}
		}
		@fieldset.Build() {
			@action
		}
	}
}
