// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/feedback/alert"
)

templ AskQuestion(question string, attributes templ.Attributes) {
	@modal.Build(
		modal.WithID(ModalID.String()),
		modal.WithCloseOutside(),
	).Show() {
		<h3 class="font-bold">Unsubscribe from feed?</h3>
		<div class="modal-action">
			<form method="dialog" _={ "on click remove @open from " + ModalID.Target() + " then send removeModal" }>
				<button name="confirmation" value="yes" class="btn" { attributes... }>Yes</button>
				<button name="confirmation" value="cancel" class="btn">No</button>
			</form>
		</div>
	}
}

templ Alert(msg *models.UserMessage, attrs templ.Attributes) {
	@alert.Build(
		alert.AlertState(msgStatusToAlertState(msg.Status)),
		alert.WithExtraAttributes(attrs),
	).Show() {
		if msg.HasDetails() {
			<div>
				<h3 class="font-bold">{ msg.Summary }</h3>
				<p class="text-xs">{ *msg.Details }</p>
			</div>
		} else {
			<h3 class="font-bold">{ msg.Summary }</h3>
		}
	}
}

func msgStatusToAlertState(status models.UserMessageStatus) alert.AlertState {
	switch status {
	case models.UserMessageStatusError:
		return alert.Error
	case models.UserMessageStatusWarning:
		return alert.Warning
	case models.UserMessageStatusInfo:
		return alert.Info
	case models.UserMessageStatusSuccess:
		fallthrough
	default:
		return alert.Success
	}
}
