// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/feedback/alert"
)

type UserMessage struct {
	*models.Message
}

func NewMessage(msg *models.Message) *UserMessage {
	return &UserMessage{Message: msg}
}

// hsCopyText is hyperscript to insert the given text into the clipboard.
func hsCopyText(text string) string {
	return "on click writeText(" + text + ") on navigator.clipboard put 'Copied!' into me wait 1s put 'Copy' into me"
}

func (m *UserMessage) applyBackgroundColor() string {
	switch m.Status {
	case models.MessageStatusError:
		return "bg-error/50"
	case models.MessageStatusWarning:
		return "bg-warning/50"
	case models.MessageStatusSuccess:
		return "bg-success/50"
	case models.MessageStatusInfo:
		fallthrough
	default:
		return "bg-info/50"
	}
}

func (m *UserMessage) applyTextColor() string {
	switch m.Status {
	case models.MessageStatusError:
		return "text-error-content"
	case models.MessageStatusWarning:
		return "text-warning-content"
	case models.MessageStatusSuccess:
		return "text-success-content"
	case models.MessageStatusInfo:
		fallthrough
	default:
		return "text-info-content"
	}
}

// ShowMessage will show a models.Message as a collapsable component, with the summary shown and details revealed when
// the collapse is opened.
templ (m *UserMessage) AsNote() {
	<div tabindex="0" class={ "collapse", "collapse-arrow", m.applyBackgroundColor() }>
		<input type="checkbox"/>
		<div class={ "collapse-title", "font-semibold", "text-justify", "text-sm", m.applyTextColor() }>
			{ m.Summary }
		</div>
		<div class={ "collapse-content", "text-xs", "text-justify", m.applyTextColor() }>
			if m.HasDetails() {
				{ *m.Details }
			}
		</div>
	</div>
}

templ (m *UserMessage) AsNotification() {
	@alert.Build(
		alert.AlertState(m.Status),
		alert.WithStyle(alert.Soft),
		alert.WithText(m.Summary),
	).Show()
}

// CopyTextButton builds a button that will copy the given text to the clipboard when clicked.
templ CopyTextButton(label, text string) {
	<div>
		@button.Build(
			button.WithContent(label),
			button.WithSize(button.SM),
			button.WithExtraAttributes(templ.Attributes{
				"_": hsCopyText(text),
			}),
		).Show()
	</div>
}
