// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/navigation/dock"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

var FooterID = attributes.ID("footer")

templ Footer(items ...templ.Component) {
	@dock.Build(
		dock.WithID(FooterID.String()),
		dock.WithSize(dock.SM),
		dock.WithClasses("bg-base-200"),
	).Show() {
		for item := range slices.Values(items) {
			@item
		}
	}
}

templ FooterItem(hidden bool) {
	<div class={ "basis-xs", "grow", templ.KV("invisible",hidden) }>
		{ children... }
	</div>
}

// BackButton generates a button for navigating back using the browser history.
templ FooterBackButton() {
	<button id="backlink" _="on click call history.back()">
		@tabler.ArrowBackUp()
		<span class="dock-label">Back</span>
	</button>
}
