// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-templ-daisyui/attributes"
	"slices"
)

var FooterID = attributes.ID("footer")

templ Footer(items ...templ.Component) {
	<div id={ FooterID.String() } class="bg-base-200 dock dock-sm" hx-swap-oob="true" hx-swap="morph:outerHTML">
		if len(items) > 0 {
			for item := range slices.Values(items) {
				@FooterItem() {
					@item
				}
			}
		} else {
			{ children... }
		}
	</div>
}

templ FooterItem() {
	<div class="basis-xs grow">
		{ children... }
	</div>
}
