// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

templ FormSection() {
	<div class="mt-10 space-y-8 border-b border-base-300 pb-12 sm:space-y-0 sm:divide-y sm:divide-base-300 sm:border-t sm:border-t-base-300 sm:pb-0">
		{ children... }
	</div>
}

templ FormField() {
	<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
		{ children... }
	</div>
}

templ FormDisclosure(label string) {
	<button type="button" command="--toggle" commandfor="customisation" class="flex w-full items-center justify-between text-left">
		<h3>{ label }</h3>
		<span class="ml-6 flex h-7 items-center">
			<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
				<path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
			<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
				<path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</span>
	</button>
	<el-disclosure hidden id="customisation">
		{ children... }
	</el-disclosure>
}
