// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/input"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/joshuar/go-templ-daisyui/navigation/navbar"
	"github.com/sebasvil20/templicons/tabler"
)

var HeaderID = attributes.ID("header")

templ Header(start, center, end templ.Component) {
	@navbar.Build(navbar.WithID("header"),
		navbar.WithBaseColor(color.Base200),
		navbar.NavBarStart(start),
		navbar.NavBarCenter(center),
		navbar.NavBarEnd(end),
		navbar.WithExtraAttributes(templ.Attributes{
			"hx-swap-oob": "true",
			"hx-swap":     "morph:outerHTML",
		}),
	).Show()
}

templ DefaultHeaderStart() {
	<div class="flex-none">
		<label for="body-drawer" class="btn btn-square drawer-button">
			@tabler.Menu()
		</label>
	</div>
}

templ DefaultHeaderCenter() {
	<div class="flex-1">
		@input.Build(
			textinput.Build(
				textinput.WithID("search"),
				textinput.WithPlaceholder("Search anything..."),
				textinput.WithExtraAttributes(templ.Attributes{
					"tabindex":     0,
					"hx-post":      "/home/search",
					"hx-trigger":   "input changed delay:500ms, SearchRequest",
					"hx-target":    "#search-results",
					"hx-indicator": ".htmx-indicator",
				}),
			),
			input.WithLabel(input.Left, tabler.Search()),
		).Show()
	</div>
}

templ DefaultHeaderEnd() {
	<div title="Settings" class="flex-none">
		@dropdown.Build(
			dropdown.WithButtonContent(tabler.User()),
			dropdown.WithOpenAlignment(dropdown.AlignEnd),
			dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
		).Show() {
			<li>
				@link.Build(
					link.WithContent("Settings"),
					link.WithExtraAttributes(templ.Attributes{
						"hx-get":         "/settings",
						"hx-target":      "#content",
						"hx-replace-url": "true",
					}),
					link.WithUnderlineOnHover(),
				).Show()
			</li>
			<li>
				@link.Build(
					link.WithContent("Logout"),
					link.WithExtraAttributes(templ.Attributes{
						"href": "/logout",
					}),
					link.WithUnderlineOnHover(),
				).Show()
			</li>
		}
	</div>
}

templ DefaultHeader() {
	@Header(
		DefaultHeaderStart(),
		DefaultHeaderCenter(),
		DefaultHeaderEnd(),
	)
}
