// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import tabler "github.com/dimmerz92/go-icons/tabler-outline"

// HelpPopover can be used to render a help icon, that when clicked, will open a popover displaying informational or
// help text.
templ HelpPopover(id, anchor string) {
	<button id={ id + "-button" } popovertarget={ id } type="button" class="btn btn-circle btn-ghost btn-xs text-info">
		<span class="sr-only">Additional information</span>
		@tabler.InfoCircle(templ.Attributes{"class": "size-6 text-info", "aria-hidden": "true"})
	</button>
	<el-popover ppover id={ id } anchor={ anchor } class="mx-4 sm:mx-auto sm:max-w-prose [--anchor-gap:4px]">
		<div class="card-body bg-base-300 shadow-sm rounded-box outline-1 -outline-offset-1 outline-base-content/15">
			{ children... }
		</div>
	</el-popover>
}
