// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/joshuar/go-templ-daisyui/input/fieldset"

import "github.com/sebasvil20/templicons/tabler"
import "github.com/joshuar/go-templ-daisyui/navigation/link"

templ LoginAuth0Button() {
	@link.Build(
		link.WithClasses("btn", "bg-white", "text-black", "border-[#e5e5e5]"),
		link.WithHref("/login/auth0"),
	) {
		@tabler.BrandAuth0()
		Login with Auth0
	}
}

templ LoginSelect() {
	@fieldset.Build(
		fieldset.WithLegend("Choose Provider"),
	) {
		@LoginAuth0Button()
	}
}
