// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/immanent-tech/foragd/web/templates/element"

templ Logo(options ...element.PropertiesOption) {
	{{ props := element.NewProperties(options...) }}
	<svg
		width="1023.9999"
		height="1023.9999"
		viewBox="0 0 270.93331 270.93331"
		version="1.1"
		id="svg1"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		class={ "flex", props.Classes() }
		{ props.Attributes()... }
	>
		<defs id="defs1"></defs>
		<g id="layer1">
			<g
				transform="matrix(4.86927,0,0,4.86927,5.2136937,7.6483287)"
				id="g3"
			>
				<path
					d="M 8,46 Q 8,10 42,10"
					class="stroke-primary"
					stroke-width="4"
					fill="none"
					stroke-linecap="round"
					id="path1"
				></path>
				<path
					d="M 8,46 Q 8,22 32,22"
					class="stroke-primary"
					stroke-width="3"
					fill="none"
					stroke-linecap="round"
					opacity="0.7"
					id="path2"
				></path>
				<path
					d="M 8,46 Q 8,34 22,36"
					class="stroke-primary"
					stroke-width="2"
					fill="none"
					stroke-linecap="round"
					opacity="0.42"
					id="path3"
				></path>
				<circle
					cx="42"
					cy="10"
					r="5.5"
					class="fill-accent"
					id="circle3"
				></circle>
			</g>
		</g>
	</svg>
}
