// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	tabler "github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/models"
)

// ModalContainerID points to an element that holds a modal.
const ModalContainerID = models.ElementID("modals")

// Modal will render a modal with the given content.
templ Modal(id string, open bool) {
	<el-dialog
		if open {
			open
		}
	>
		<dialog
			id={ id }
			aria-labelledby="dialog-title"
			class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent"
		>
			<el-dialog-backdrop></el-dialog-backdrop>
			<div tabindex="0" class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
				<el-dialog-panel class="relative transform overflow-hidden rounded-lg bg-base-300 px-4 pt-5 pb-4 text-left shadow-xl sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
					<div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
						<button
							type="button"
							command="close"
							commandfor={ id }
							class="rounded-md hover:text-primary focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:outline-hidden"
						>
							<span class="sr-only">Close</span>
							@tabler.X(templ.Attributes{"class": "size-6", "aria-hidden": "true"})
						</button>
					</div>
					{ children... }
				</el-dialog-panel>
			</div>
		</dialog>
	</el-dialog>
}
