// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package partials

import (
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/icon"
)

var NotificationsID = attributes.ID("notifications")
var ModalID = attributes.ID("modal")

templ NotificationsArea() {
	<div id={ NotificationsID.String() } class="container my-12 mx-auto absolute inset-x-0 bottom-0 z-999"></div>
}

// CloseModalButton will position a button in the top-right of a modal that can
// be used to close the modal.
templ CloseModalButton() {
	<div class="absolute right-2 top-2 m-2">
		@button.Build(
			button.AsShape(button.Circle),
			button.WithSize(button.SM),
			button.WithContent(icon.Build("fa-xmark")),
			button.WithExtraAttributes(templ.Attributes{
				"_": "on click or keyup[key=='Esc'] remove @open from " + ModalID.Target() + " wait 200ms then remove " + ModalID.Target(),
			}),
		).Show()
	</div>
}

templ QuestionModal(question string, attributes templ.Attributes) {
	@modal.Build(
		modal.WithID(ModalID.String()),
		modal.WithCloseOutside(),
	).Show() {
		<h3 class="font-bold">Unsubscribe from feed?</h3>
		<div class="modal-action">
			<form method="dialog" _={ "on click remove @open from " + ModalID.Target() }>
				<button name="confirmation" value="yes" class="btn" { attributes... }>Yes</button>
				<button name="confirmation" value="cancel" class="btn" { attributes... }>No</button>
			</form>
		</div>
	}
}
