// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
)

// BackButton generates a button for navigating back using the browser history.
templ BackButton() {
	<div id="backlink" hx-swap-oob="true">
		@tooltip.Build("Back").Show() {
			@link.Build(
				link.WithContent(tabler.ArrowBackUp(i.Props{Size: i.SizeSM})),
				link.WithUnderlineOnHover(),
				link.WithExtraAttributes(templ.Attributes{
					"_":              "on click call history.back()",
					"hx-target":      ContentID.Target(),
					"hx-replace-url": "true",
					"hx-swap":        "morph:innerHTML show:top",
				}),
			).Show()
		}
	</div>
}

templ LinkWithIcon(icon templ.Component, label string, attributes templ.Attributes, classes []string) {
	<div class="flex gap-2">
		@icon
		@link.Build(
			link.WithContent(label),
			link.WithUnderlineOnHover(),
			link.WithExtraAttributes(attributes),
			link.WithExtraClasses(classes...),
		).Show()
	</div>
}
