// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "time"

templ Logo(classes ...string) {
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class={ classes }>
		<path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"></path>
	</svg>
}

// ShowTimestamp will display the given timestamp as a relative/human-friendly timestamp that will update as time
// passes.
templ ShowTimestamp(timestamp time.Time) {
	<human-time datetime={ timestamp.Format("2006-01-02T15:04:05-0700") }>{ timestamp.Format("2006-01-02 15:04:05 -0700") }</human-time>
}

// ContentLoadingIndicator is used as a HTMX indicator on content pages. While a HTMX request is processing, this
// element will be displayed.
templ ContentLoadingIndicator() {
	<div class="text-center htmx-indicator">
		<span class="loading loading-bars loading-xl"></span>
		<h3 class="mt-2 text-base font-semibold">Loading content...</h3>
	</div>
}
