// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/avatar"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"strconv"
)

type Subscription struct {
	*models.Subscription
	classes []components.Class
}

func NewSubscriptionContent(subscription *models.Subscription) *Subscription {
	card := &Subscription{
		Subscription: subscription,
	}
	if !subscription.IsUnread() {
		card.classes = append(card.classes, "brightness-50")
	}
	return card
}

// Summary displays the subscription's image (or a avatar), title and unread count (if any).
templ (c *Subscription) Summary() {
	@link.Build(
		link.WithAttributes(c.viewAttributes()),
	) {
		<div class="flex flex-row gap-2 items-center">
			<div class="flex-none">
				// Generate a thumbnail to display next to the title.
				if c.GetImage().URL != "" {
					// If the source has an image, use that as the avatar.
					@avatar.Build(
						avatar.WithClasses("w-12", "rounded"),
					) {
						@image.Build(
							c.GetImage().URL,
							image.WithLazyLoading(),
						).Show()
					}
				} else {
					// Otherwise, take the first letter of the title and create a placeholder avatar.
					@avatar.Build(
						avatar.WithClasses("w-12", "rounded", "bg-secondary/30"),
						avatar.AsPlaceholder(),
					) {
						<span class="text-sm">{ c.GetTitle()[0:1] }</span>
					}
				}
			</div>
			<div class="grow-2 content-center">
				// Title text is a link to the view action of the card.
				{ c.GetTitle() }
			</div>
			<div class="flex-none justify-end">
				// Display unread count (if any).
				<div class="content-center">
					if c.IsUnread() {
						@badge.Build(
							// badge.WithSize(badge.SM),
							badge.WithColor(badge.Accent),
							badge.WithContent(strconv.Itoa(c.GetUnreadCount())),
							badge.WithExtraClasses("badge-unread-count", "grow", "text-nowrap"),
						).Show()
					}
				</div>
			</div>
		</div>
	}
}

// State displays the subscription title and its unread count (if any).
templ (s *Subscription) State() {
	@link.Build(
		link.WithAttributes(s.viewAttributes()),
	) {
		<div class="flex gap-2 w-full">
			<div class="flex-1 text-sm content-center">
				{ s.GetTitle() }
			</div>
			// Display unread count (if any).
			<div class="content-center">
				if s.IsUnread() {
					@badge.Build(
						badge.WithSize(badge.SM),
						badge.WithColor(badge.Secondary),
						badge.WithContent(strconv.Itoa(s.GetUnreadCount())+" Unread"),
						badge.WithExtraAttributes(templ.Attributes{
							"sse-swap": s.GetFeedID() + "_unread",
						}),
						badge.WithExtraClasses("grow", "text-nowrap"),
					).Show()
				}
			</div>
		</div>
	}
}

// Card displays the subscription as a card.
templ (c *Subscription) Card() {
	@card.Build(
		card.WithStyle(card.Border),
		card.WithShadow(shadow.SM),
		card.WithClasses("subscription-card"),
		card.WithClasses(c.classes...),
		card.WithAttributes(templ.Attributes{
			"id": c.GetID(),
		}),
	) {
		@card.BuildBody() {
			// Card title.
			<div class="card-title">
				@c.Summary()
			</div>
			// Card body.
			<span class="text-xs italic absolute bottom-0 left-0 m-2">
				@ShowTimestamp(c.GetUpdatedDate())
			</span>
			@text.Build(
				text.WithSize(text.XS),
				text.WithOverflow(text.Truncate),
			) {
				{ c.GetDescription() }
			}
			// Actions menu.
			@card.Actions() {
				@tooltip.Build("Actions") {
					@dropdown.Build(
						dropdown.WithButtonContent(tabler.DotsVertical()),
						dropdown.WithOpenFrom(dropdown.OpenTop),
						dropdown.WithOpenAlignment(dropdown.AlignEnd),
						dropdown.WithMenuClasses("justify-end", "flex-nowrap", "grow"),
					).Show() {
						// Visit action.
						<li _="on click call document.activeElement.blur()">
							@link.Build(
								link.WithAttributes(templ.Attributes{"href": c.GetLink()}),
								link.WithClasses("text-xs"),
							) {
								<div class="icontext">
									@tabler.ExternalLink(i.Props{Size: i.SizeXS})
									Feed Website
								</div>
							}
						</li>
						// Mark action.
						<li _="on click call document.activeElement.blur()">
							@MarkSubscriptionLink(c.GetID(), c.IsUnread())
						</li>
						// Edit action.
						<li _="on click call document.activeElement.blur()">
							@NewAction("/user/subscription/edit/"+c.GetID(), DisplayActionAsLink,
								ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+ModalID.Target()),
								ActionTarget(ModalContainerID.Target()),
								ActionLinkOptions(
									link.WithClasses("text-xs"),
								),
							) {
								<div class="icontext">
									@tabler.Edit(i.Props{Size: i.SizeXS})
									Edit Subscription
								</div>
							}
						</li>
						// Favorite action.
						<li id={ "favorite_" + c.GetID() } _="on click call document.activeElement.blur()">
							if c.Favorite {
								@RemoveFavoriteSubscriptionButton(c.GetID())
							} else {
								@AddFavoriteSubscriptionButton(c.GetID())
							}
						</li>
						// Unsubscribe action.
						<li _="on click call document.activeElement.blur()">
							@NewAction("/subscriptions/remove", DisplayActionAsLink,
								ActionMethod(http.MethodPost),
								ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+ModalID.Target()),
								ActionTarget(ModalContainerID.Target()),
								ActionValues(map[string]string{
									"subscriptions": c.GetID(),
									"confirmation":  "no",
								}),
								ActionLinkOptions(
									link.WithClasses("text-xs"),
								),
							) {
								<div class="icontext">
									@tabler.Trash()
									Remove Subscription
								</div>
							}
						</li>
					}
				}
			}
		}
	}
}

templ (c *Subscription) ShowAsSearchSuggestion() {
	<li class="list-row" _="on click call document.activeElement.blur()">
		<div>
			<div class="list-col-wrap text-xs">
				@c.Summary()
			</div>
			// <div class="text-xs uppercase font-semibold opacity-60">{ article.Item.FeedTitle }</div>
		</div>
	</li>
}

// MarkSubscriptionLink generates a link/action that will mark the subscription read/unread depending on its current
// read state.
templ MarkSubscriptionLink(id models.SubscriptionID, unread bool) {
	{{ var mark string }}
	if unread {
		{{ mark = "read" }}
	} else {
		{{ mark = "unread" }}
	}
	@NewAction("/subscription/"+id+"/mark/"+mark, DisplayActionAsLink,
		ActionMethod(http.MethodPost),
		ActionTarget("#"+id),
		ActionSwap("outerHTML"),
		ActionInclude("[name='view']"),
		ActionLinkOptions(
			link.WithClasses("text-xs"),
		),
	) {
		<div class="icontext">
			switch mark {
				case "read":
					@tabler.Bookmark()
					Mark Read
				case "unread":
					@tabler.BookmarkFilled()
					Mark Unread
			}
		</div>
	}
}

templ AddFavoriteSubscriptionButton(id models.SubscriptionID) {
	@NewAction("/user/favorite/subscription/"+id, DisplayActionAsLink,
		ActionMethod(http.MethodPut),
		ActionTarget("#favorite_"+id),
		ActionLinkOptions(
			link.WithClasses("text-xs"),
		),
	) {
		<div class="icontext">
			@tabler.Bookmark(i.Props{Size: i.SizeXS})
			Add Favorite
		</div>
	}
}

templ RemoveFavoriteSubscriptionButton(id models.SubscriptionID) {
	@NewAction("/user/favorite/subscription/"+id, DisplayActionAsLink,
		ActionMethod(http.MethodDelete),
		ActionTarget("#favorite_"+id),
		ActionLinkOptions(
			link.WithClasses("text-xs"),
		),
	) {
		<div class="icontext">
			@tabler.BookmarkOff(i.Props{Size: i.SizeXS})
			Remove Favorite
		</div>
	}
}

func (c *Subscription) viewAttributes() templ.Attributes {
	overrides := map[string]string{
		models.ParamSortBy: string(models.SortByLastUpdated),
		"subscriptions":    c.GetID(),
	}
	if c.IsUnread() {
		overrides[models.ParamView] = string(models.ViewUnread)
	} else {
		overrides[models.ParamView] = string(models.ViewRead)
	}
	return templ.Attributes{
		"hx-get":      "/articles",
		"hx-include":  "#content-filters",
		"hx-vals":     GenerateHXVals(overrides),
		"hx-target":   ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "innerHTML show:top",
	}
}
