// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import (
	tabler "github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/web/templates/element"
)

// UpdatesToast renders a toast notification to inform the user that updated content is available.
templ UpdatesToast(options ...element.PropertiesOption) {
	{{ props := element.NewProperties(options...) }}
	<div
		id="updates-toast"
		role="alert"
		class="z-99 alert border border-info-content alert-soft alert-info"
	>
		<span>New updates available.</span>
		<div>
			<button
				class="group btn btn-square btn-soft btn-info btn-sm"
				{ props.Attributes()... }
				_="on click scroll to top of #content smoothly"
			>
				<span class="sr-only">Refresh</span>
				@tabler.Refresh(templ.Attributes{"class": "inline-flex group-[.htmx-request]:hidden size-4 text-info", "aria-hidden": "true"})
				@tabler.Refresh(templ.Attributes{"class": "hidden group-[.htmx-request]:inline-flex size-4 text-info animate-spin", "aria-hidden": "true"})
			</button>
			<button class="btn btn-square btn-soft btn-info btn-sm" _="on click remove #updates-toast">
				<span class="sr-only">Close</span>
				@tabler.X(templ.Attributes{"class": "size-4 text-info", "aria-hidden": "true"})
			</button>
		</div>
	</div>
}
