// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package subscription

import "github.com/joshuar/go-templ-daisyui/input/fileinput"
import "github.com/joshuar/go-templ-daisyui/input/fieldset"
import "github.com/joshuar/go-templ-daisyui/input/hiddeninput"
import "github.com/joshuar/go-templ-daisyui/input/option"
import "github.com/joshuar/go-templ-daisyui/actions/modal"
import "github.com/joshuar/go-templ-daisyui/actions/button"
import "github.com/joshuar/go-templ-daisyui/attributes"
import "github.com/joshuar/go-templ-daisyui/display/text"
import "github.com/joshuar/go-templ-daisyui/input/form"
import "github.com/joshuar/go-feed-me/internal/api"
import "github.com/joshuar/go-feed-me/web/templates/partials"

import "github.com/joshuar/go-templ-daisyui/modifiers/state"
import "github.com/joshuar/go-templ-daisyui/modifiers/style"
import "github.com/joshuar/go-templ-daisyui/feedback/loading"

// ImportFormID is the id attribute for the import form.
var ImportFormID = attributes.ID("import-form")

// ImportModalID is the id attribute for the import modal.
var ImportModalID = attributes.ID("import-modal")

var ImportFeedBackID = attributes.ID("import-modal-feedback")

// ImportOptions are the methods that can be used for importing.
var ImportOptions = []option.Value{
	{Label: "From OPML URL", Value: string(api.ImportSourceOPMLURL)},
	{Label: "From OPML File", Value: string(api.ImportSourceOPMLFile)},
	{Label: "From a list URLs", Value: string(api.ImportSourceURLs)},
}

// ShowImportFrom shows a input select for the user to choose a method for the
// import. the chosen method will load the form with appropriate inputs for
// importing via the chosen method.
templ ShowImportFrom() {
	<div>
		@option.Build(
			option.WithLabel("Pick Import Method:"),
			option.Required(),
			option.WithValues(ImportOptions...),
			option.WithName("source"),
			option.WithExtraAttributes(templ.Attributes{
				"hx-put":    "/subscription/import",
				"hx-target": ImportFormID.Target(),
			}),
		).Show()
	</div>
	<div>
		@form.BuildForm(
			form.WithID("import-form"),
			form.WithExtraAttributes(
				templ.Attributes{
					"hx-post":     "/subscription/import",
					"hx-encoding": "multipart/form-data",
					"hx-target":   ImportFeedBackID.Target(),
					// "hx-indicator": "#import-processing",
					// "_":           "on htmx:xhr:progress(loaded, total) set #import-form-progress.value to (loaded/total)*100",
				},
			),
		).Show()
	</div>
	<center>
		@loading.Build(loading.Infinity,
			loading.AsHTMXIndicator(),
			loading.WithID("import-processing"),
		).Show()
	</center>
}

// ImportFromOPML shows inputs for choosing an OPML file as the input source.
templ ImportFromOPML() {
	@fieldset.Build(
		fieldset.WithLegend("Select the OPML file to use:"),
		fieldset.WithField("",
			hiddeninput.Build(
				hiddeninput.WithName("source"),
				hiddeninput.WithValue(string(api.ImportSourceOPMLFile)),
			),
		),
		fieldset.WithField("",
			fileinput.Build(
				fileinput.WithName("data"),
				fileinput.Required(),
			),
		),
		fieldset.WithField("",
			button.Build(
				button.WithContent("Import"),
			),
		),
	).Show()
	// <progress id="import-form-progress" class="progress" value="0" max="100"></progress>
}

// NewSubscriptionModal displays a modal for a user to enter new subscription details.
templ ImportModal() {
	@modal.Build(
		modal.WithID(ImportModalID.String()),
		modal.WithModalCloseOutside(),
		modal.OpenModalInitially(),
	).Show() {
		@partials.CloseModalButton(ImportModalID.Target())
		@text.Build("Import Your Feeds", text.WithTextSize(text.LG), text.WithTextWeight(text.Semibold)).Show()
		<div id="import-modal-content">
			@ShowImportFrom()
		</div>
		<div id={ ImportFeedBackID.String() }></div>
	}
}

templ ImportError(problems *api.ExternalError) {
	// @alert.Build(state.Error,
	// 	alert.WithID("import-error"),
	// 	alert.WithStyle(style.Soft),
	// ).Show() {
	<div
		id="import-error"
		tabindex="0"
		class="collapse collapse-arrow bg-error
	border"
	>
		<input type="checkbox"/>
		<div class="collapse-title font-semibold text-sm text-error-content">Error: { problems.Summary }</div>
		<div class="collapse-content text-error-content text-sm">
			{ problems.Details }
			@button.Build(
				button.WithContent("Okay"),
				button.WithStateColor(state.Error, false),
				button.WithStyle(style.Soft),
				button.WithExtraAttributes(templ.Attributes{
					"_": "on click remove #import-error",
				}),
			).Show()
		</div>
	</div>
	// }
}

templ ImportStatus(text string) {
	<div class="text-sm">{ text }</div>
}

templ ImportProcessing(partCh chan string) {
	for part := range partCh {
		@templ.Flush() {
			{ part }
		}
	}
}
