// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package subscription

import (
	"github.com/joshuar/go-feed-me/internal/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/input/fieldset"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
	"slices"
)

var SubscriptionRequestID = attributes.ID("subscription-request-form")
var CategoryChangeID = attributes.ID("category-change-form")
var CategoryListID = attributes.ID("category-list")

type SubscriptionRequest struct {
	*models.SubscriptionRequest
}

func (r *SubscriptionRequest) inputURL() *textinput.Props {
	return textinput.Build(
		textinput.WithName("url"),
		textinput.AsType(textinput.TypeURL),
		textinput.WithPlaceholder("https://awesomefeed.lol.rss"),
		textinput.Required(),
		textinput.Validate(),
		textinput.ValidateHint("A valid URL to a feed is required."),
		textinput.WithValue(r.URL),
	)
}

func (r *SubscriptionRequest) inputNickname() *textinput.Props {
	return textinput.Build(
		textinput.WithName("user_nickname"),
		textinput.WithValue(r.UserNickname),
		textinput.WithPlaceholder("My memorable feed name"),
	)
}

templ (r *SubscriptionRequest) Form() {
	if r.Msg != nil {
		@partials.NewUserMessage(r.Msg).Show()
	}
	// Display the Subscription details.
	@form.BuildForm(
		form.WithID(SubscriptionRequestID.String()),
		form.WithExtraAttributes(
			templ.Attributes{
				"hx-put":    "/subscription/add",
				"hx-target": SubscriptionRequestID.Target(),
				"hx-swap":   "morph:outerHTML",
			},
		),
		form.WithElements(
			fieldset.Build(
				fieldset.WithField("",
					hiddeninput.Build(
						hiddeninput.WithName("subscription_id"),
						hiddeninput.WithValue(r.ID),
					),
				),
				fieldset.WithLegend("Subscription details:"),
				fieldset.WithField("URL", r.inputURL()),
				fieldset.WithField("Nickname (optional)", r.inputNickname()),
			).Show(),
		),
	).Show()
	// Display an input to add a Category to the Subscription.
	@form.BuildForm(
		form.WithID(CategoryChangeID.String()),
		form.WithExtraAttributes(
			templ.Attributes{
				"hx-put":               "/subscription/edit/category",
				"hx-swap":              "beforeend",
				"hx-on::after-request": "if(event.detail.successful) this.reset()",
				"hx-target":            CategoryListID.Target(),
			},
		),
		form.WithElements(
			fieldset.Build(
				fieldset.WithField("Category (optional)", newCategoryInput()),
			).Show(),
		),
	).Show()
	// Display any Categories assigned to the Subscription with a button to
	// remove them.
	<div id={ CategoryListID.String() } hx-target="closest div" hx-swap="outerHTML swap:1s">
		for category := range slices.Values(r.UserCategories) {
			@ShowCategory(category)
		}
	</div>
	// Add a button to submit the Subscription details when finished editing.
	@fieldset.Build(
		fieldset.WithField("",
			button.Build(
				button.WithContent("Make it so!"),
				button.WithExtraAttributes(templ.Attributes{
					"form": SubscriptionRequestID.String(),
				})),
		),
	).Show()
}

func NewSubscriptionRequest(req *models.SubscriptionRequest) *SubscriptionRequest {
	return &SubscriptionRequest{
		SubscriptionRequest: req,
	}
}

// NewSubscriptionModal displays a modal for a user to enter new subscription details.
templ Modal(req *models.SubscriptionRequest) {
	@modal.Build(
		modal.WithID("add_subscription_modal"),
		modal.WithModalCloseOutside(),
		modal.OpenModalInitially(),
	).Show() {
		<div id="warnings_toast"></div>
		<div class="absolute right-2 top-2 p-2">
			@button.Build(
				button.AsShape(button.Circle, false),
				button.WithID("close"),
				button.WithSize(size.SM),
				button.WithContent(icon.Build("fa-xmark")),
				button.WithExtraAttributes(templ.Attributes{
					"_": "on click or keyup[key=='Esc'] take .modal-open from #add_subscription_modal wait 200ms then remove #add_subscription_modal",
				}),
			).Show()
		</div>
		@text.Build("Add a new subscription", text.WithTextSize(text.LG)).Show()
		if req != nil {
			@NewSubscriptionRequest(req).Form()
		}
	}
}
