// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package subscription

import (
	"github.com/joshuar/go-feed-me/internal/models"
	"github.com/joshuar/go-templ-daisyui"
)

templ detailsInputs(id models.SubscriptionID, req *models.APISubscriptionRequest) {
	@components.Form(
		components.WithID[*components.FormProps]("new_subscription"),
		components.WithFormComponents(
			components.HiddenInput(
				components.WithName[*components.HiddenInputProps]("subscription_id"),
				components.WithValue[*components.HiddenInputProps](id),
			),
			generateNameInput(req),
			generateURLInput(req),
		),
		components.WithAttributes[*components.FormProps](
			templ.Attributes{
				"hx-put": "/subscription/" + id,
			},
		),
	)
}

templ categoriesInput(id models.SubscriptionID) {
	@generateCategoriesInput(id)
}

templ manageCategories(id models.SubscriptionID, categories ...models.Category) {
	@generateCategoriesList(id, categories...)
}

templ Form(id models.SubscriptionID, req *models.APISubscriptionRequest) {
	<div id="add_subscription_form" hx-target="this">
		@detailsInputs(id, req)
		@categoriesInput(id)
		@manageCategories(id, req.Categories...)
		@components.FormControl() {
			@components.Button(
				components.WithID[*components.ButtonProps]("add"),
				components.WithButtonContent(components.AsTextContent("Add")),
				components.WithColor[*components.ButtonProps](components.ColorPrimary, true),
				components.WithAttributes[*components.ButtonProps](templ.Attributes{
					"form": "new_subscription",
				}),
			)
		}
	</div>
}

// AddSubscriptionModal displays a modal for a user to enter new subscription details.
templ Modal(id models.SubscriptionID, req *models.APISubscriptionRequest) {
	@components.Modal(
		components.WithID[*components.ModalProps]("add_subscription_modal"),
		components.WithModalCloseButton(),
		components.WithModalCloseOutside(),
		components.OpenModalInitially(),
	) {
		<div id="add_subscription_toast"></div>
		@components.Text("Add a new subscription", components.WithTextSize(components.TextLG))
		@components.Text("Enter the details and click Add", components.AsItalicText())
		if req != nil {
			@Form(id, req)
		}
	}
}

templ AddCategory(id models.SubscriptionID, category models.Category) {
	<li>
		@generateCategoryItem(id, category)
	</li>
}

templ AddSubscriptionSuccess() {
	<div id="add_subscription_toast" hx-swap-oob="true">
		<div id="success">
			@components.Alert(components.AlertSuccess, "Subscription Added!",
				"subscription_added", false) {
				@components.Button(
					components.WithResponsiveSize[*components.ButtonProps](components.SM),
					components.WithButtonContent(components.AsTextContent("Close")),
					components.WithAutofocus[*components.ButtonProps](),
					components.WithAttributes[*components.ButtonProps](templ.Attributes{
						"_": "on click transition opacity to 0 then remove #success",
					}),
				)
			}
		</div>
	</div>
}

templ AddSubscriptionWarning(warning string) {
	<div id="add_subscription_toast" hx-swap-oob="true">
		<div id="warning">
			@components.Alert(components.AlertWarning,
				"There was a problem adding the subscription!",
				"subscription_failed", false) {
				if warning != "" {
					@components.Text(warning, components.AsItalicText(), components.WithTextSize(components.TextSM))
				}
				@components.Button(
					components.WithResponsiveSize[*components.ButtonProps](components.SM),
					components.WithButtonContent(components.AsTextContent("Close")),
					components.WithAutofocus[*components.ButtonProps](),
					components.WithAttributes[*components.ButtonProps](templ.Attributes{
						"_": "on click remove me wait 200ms then remove #warning",
					}),
				)
			}
		</div>
	</div>
}
