// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package subscription

import (
	"github.com/joshuar/go-feed-me/internal/models"
	"github.com/joshuar/go-templ-daisyui"
)

templ detailsInputs(id models.SubscriptionID, req *models.APISubscriptionRequest) {
	@components.Form(
		components.WithID[*components.FormProps]("add_subscription_form"),
		components.WithFormComponents(
			generateNameInput(req),
			generateURLInput(req),
		),
		components.WithAttributes[*components.FormProps](
			templ.Attributes{
				"hx-put":    "/home/subscription/" + id,
				"hx-target": "#command_modal",
			},
		),
	)
}

templ categoriesInput(id models.SubscriptionID) {
	@generateCategoriesInput(id)
}

templ manageCategories(id models.SubscriptionID, categories ...models.Category) {
	@generateCategoriesList(id, categories...)
}

templ form(id models.SubscriptionID, req *models.APISubscriptionRequest) {
	@detailsInputs(id, req)
	@categoriesInput(id)
	@manageCategories(id, req.GetCategories()...)
	@components.FormControl() {
		@components.Button(
			components.WithID[*components.ButtonProps]("add"),
			components.WithButtonContent(components.AsTextContent("Add")),
			components.WithColor[*components.ButtonProps](components.ColorPrimary, true),
			components.WithAttributes[*components.ButtonProps](templ.Attributes{
				"form": "add_subscription_form",
			}),
		)
	}
}

// AddSubscriptionModal displays a modal for a user to enter new subscription details.
templ Modal(id models.SubscriptionID, req *models.APISubscriptionRequest) {
	@components.Modal(
		components.WithID[*components.ModalProps]("add_subscription_modal"),
		components.WithModalCloseButton(),
		components.WithModalCloseOutside(),
		components.OpenModalInitially(),
	) {
		if req.HasErrors() {
			@components.Alert(components.AlertWarning,
				"There are problems with the inputs. Please correct and try	again.",
				"", false,
			)
		}
		@components.Text("Add a new subscription", components.WithTextSize(components.TextLG))
		@components.Text("Enter the details and click Add", components.AsItalicText())
		if req != nil {
			@form(id, req)
		}
	}
}

templ AddCategory(id models.SubscriptionID, category models.Category) {
	<li>
		@generateCategoryItem(id, category)
	</li>
}

templ AddSubscriptionSuccess() {
	@components.Modal(
		components.WithID[*components.ModalProps]("add_subscription_modal"),
		components.WithModalCloseOutside(),
		components.OpenModalInitially(),
	) {
		<h2>Subscription added!</h2>
		@components.Button(
			components.WithButtonContent(components.AsTextContent("Close")),
			components.WithAutofocus[*components.ButtonProps](),
			components.WithAttributes[*components.ButtonProps](templ.Attributes{
				"_": "on click take .modal-open from #command_modal wait 200ms then remove #command_modal",
			}),
		)
	}
}

templ AddSubscriptionWarning(warnings []string) {
	@components.Modal(
		components.WithID[*components.ModalProps]("add_subscription_modal"),
		components.WithModalCloseOutside(),
		components.OpenModalInitially(),
	) {
		<h2>There was an issue with adding the subscription!</h2>
		for _, warning := range warnings {
			<p>{ warning }</p>
		}
		@components.Button(
			components.WithButtonContent(components.AsTextContent("Close")),
			components.WithAutofocus[*components.ButtonProps](),
			components.WithAttributes[*components.ButtonProps](templ.Attributes{
				"_": "on click take .modal-open from #command_modal wait 200ms then remove #command_modal",
			}),
		)
	}
}
