// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/joshuar/go-templ-daisyui/navigation/navbar"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
)

var HeaderID = attributes.ID("header")

templ Header() {
	@navbar.Build(navbar.WithID(HeaderID.String()),
		navbar.WithBaseColor(color.Base200),
		navbar.WithExtraAttributes(templ.Attributes{
			"hx-swap-oob": "true",
		}),
		navbar.NavBarStart(DefaultHeaderStart()),
		navbar.NavBarCenter(DefaultHeaderCenter()),
		navbar.NavBarEnd(DefaultHeaderEnd()),
	).Show()
}

templ DefaultHeaderStart() {
	<label for="body-drawer" class="btn btn-square drawer-button">
		@tabler.Menu()
	</label>
}

templ DefaultHeaderCenter() {
	@SearchForm()
}

templ DefaultHeaderEnd() {
	@dropdown.Build(
		dropdown.WithButtonContent(tabler.User()),
		dropdown.WithOpenAlignment(dropdown.AlignEnd),
		dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
	).Show() {
		<li>
			@link.Build(
				link.WithContent(
					partials.IconText(tabler.Settings(i.Props{Size: i.SizeXS}), "Settings")),
				link.WithUnderlineOnHover(),
				link.WithExtraAttributes(templ.Attributes{
					"hx-get":         "/settings",
					"hx-target":      partials.ContentID.Target(),
					"hx-replace-url": "true",
				}),
				link.WithExtraClasses("text-xs"),
			).Show()
		</li>
		<li _="on click call document.activeElement.blur()">
			@link.Build(
				link.WithContent(
					partials.IconText(tabler.FilePlus(i.Props{Size: i.SizeXS}), "Add Subscription")),
				link.WithUnderlineOnHover(),
				link.WithExtraAttributes(templ.Attributes{
					"hx-get":    "/subscription/new",
					"hx-target": partials.ModalContainerID.Target(),
					// "_":         "on htmx:afterOnLoad wait 10ms then add @open to " + ModalID.Target(),
				}),
				link.WithExtraClasses("text-xs"),
			).Show()
		</li>
		<li _="on click call document.activeElement.blur()">
			@link.Build(
				link.WithContent(
					partials.IconText(tabler.FilePlus(i.Props{Size: i.SizeXS}), "Import Subscriptions")),
				link.WithUnderlineOnHover(),
				link.WithExtraAttributes(templ.Attributes{
					"hx-get":    "/subscriptions/import",
					"hx-target": partials.ModalContainerID.Target(),
					// "_":         "on htmx:afterOnLoad wait 10ms then add @open to " + ModalID.Target(),
				}),
				link.WithExtraClasses("text-xs"),
			).Show()
		</li>
		<li>
			@link.Build(
				link.WithContent(
					partials.IconText(tabler.Logout(i.Props{Size: i.SizeXS}), "Logout")),
				link.WithUnderlineOnHover(),
				link.WithExtraAttributes(templ.Attributes{"href": "/logout"}),
				link.WithExtraClasses("text-xs"),
			).Show()
		</li>
	}
}
