// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/content"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/joshuar/go-templ-daisyui/layout/join"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

templ SearchForm() {
	<div class="dropdown">
		@form.Build(
			form.WithExtraAttributes(templ.Attributes{
				"hx-post":     "/search/results",
				"hx-target":   partials.ContentID.Target(),
				"hx-push-url": "true",
			}),
		).Show() {
			@join.Horizontally() {
				@textinput.Build(
					textinput.WithID("search"),
					textinput.WithName("search_terms"),
					textinput.WithPlaceholder("Search anything..."),
					textinput.WithExtraAttributes(templ.Attributes{
						"hx-post":      "/search/suggest",
						"hx-trigger":   "input changed delay:500ms",
						"hx-target":    "#search-suggestions",
						"hx-indicator": ".htmx-indicator",
						"tabindex":     0,
					}),
					textinput.WithExtraClasses("join-item"),
				).Show()
				@button.Build(
					button.AsSubmit(),
					button.WithContent(tabler.Search()),
					button.WithExtraAttributes(templ.Attributes{
						"tabindex":   1,
						"hx-trigger": "keyup[key=='Enter']",
					}),
					button.WithExtraClasses("join-item"),
				).Show()
			}
		}
		<div id="search-suggestions"></div>
	</div>
}

templ SearchSuggestions(suggestions ...templ.Component) {
	<ul class="list dropdown-content self-center bg-base-200 w-screen lg:w-full rounded-box shadow-md" tabindex="3">
		for suggestion := range slices.Values(suggestions) {
			@suggestion
		}
	</ul>
}

templ SearchSuggestionHeader(text string) {
	<li class="p-4 pb-2 text-xs opacity-60 tracking-wide">{ text }</li>
}

templ SearchSuggestionSubscription(subscription *models.Subscription) {
	<li class="list-row" _="on click call document.activeElement.blur()">
		<div>
			<div class="list-col-wrap text-xs">
				@content.NewSubscriptionContent(subscription).Summary()
			</div>
			// <div class="text-xs uppercase font-semibold opacity-60">{ article.Item.FeedTitle }</div>
		</div>
	</li>
}

templ SearchSuggestionArticle(article *models.Article) {
	<li class="list-row" _="on click call document.activeElement.blur()">
		<div>
			<div class="list-col-wrap text-xs">
				@NewArticleContent(article).Summary()
			</div>
		</div>
	</li>
}

templ SearchResultsPage(subscriptions models.Subscriptions, articles models.Articles) {
	// <script type="text/hyperscript">
	// 	on load hide #search-suggestions
	// </script>
	<div class="m-2">
		if len(subscriptions) > 0 {
			<div id="subscription-results">
				<div class="grid grid-cols-2 md:grid-cols-6 justify-center gap-4">
					for subscription := range slices.Values(subscriptions) {
						<div class="rounded-box shadow-md bg-base-300 p-4">
							@content.NewSubscriptionContent(subscription).Summary()
						</div>
					}
				</div>
			</div>
		}
		if len(articles) > 0 {
			<div id="article-results">
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4">
					for article := range slices.Values(articles) {
						<div class="rounded-box shadow-md bg-base-300 p-4">
							@NewArticleContent(article).Summary()
						</div>
					}
				</div>
			</div>
		}
	</div>
}
