package pages

import components "github.com/joshuar/go-templ-daisyui"
import "github.com/joshuar/go-feed-me/web/templates"


templ IndexPage() {
	<div id="index-hero" class="hero bg-base-200 min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">Go Feed Me</h1>
				<p class="py-6">
					Your new homepage on the internet.
				</p>
				<a class="btn btn-primary" href="/login/auth0">Login with Auth0</a>
				@components.NewButton("Sign-up", "signup",
					components.WithModifier(components.ButtonSecondary),
					components.ButtonAttributes(templ.Attributes{
						"hx-get": "/signup",
						"hx-target": "#index-hero",
						"hx-push-url": true,
					}),
				).Show()
			</div>
		</div>
	</div>
	@templates.Footer()
}
