// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import "github.com/joshuar/go-templ-daisyui"

templ HomeLayout(content, drawer templ.Component) {
	<div id="command_modal" class="container mx-auto px-4"></div>
	@components.Drawer("home_drawer",
		components.WithDrawerVisibility(components.LG),
		components.WithMainContent(content),
		components.WithSideContent(drawer),
	)
}
