// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package layouts

import "github.com/joshuar/go-templ-daisyui/feedback/alert"
import "github.com/joshuar/go-templ-daisyui/modifiers/state"

// {{ signup := UserSignupFromCtx(ctx) }}
// if signup != nil {
// 	<div id="signup">
// 		@signup.Form()
// 	</div>
// }

// SignupLayout is the page content for the signup page.
templ SignupLayout() {
	<div id="signup-hero" class="hero bg-base-200 min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md gap-2">
				<h1 class="text-3xl font-bold">Sign-up to Go Feed Me</h1>
				<div id="signup-notifications"></div>
			</div>
		</div>
	</div>
}

templ SignupSuccess() {
	@alert.Build(state.Success,
		alert.WithText("Account Created!"),
	).Show() {
		<a class="btn btn-primary" href="/login/auth0">Login with Auth0</a>
	}
}

templ SignupError() {
	<div id="signup-notifications" hx-swap-oob="true">
		@alert.Build(state.Error,
			alert.WithText("Oops! We had a problem creating your account account!"),
		).Show()
	</div>
}
