<script props>
  let menuItems = props.menu || [
    { "label": "Home", "href": "https://foragd.app" },
    { "label": "Terms of Service", "href": "https://foragd.app/policies/tos" },
    { "label": "Acceptable Use", "href": "https://foragd.app/policies/acceptable-use" },
    { "label": "Privacy", "href": "https://foragd.app/policies/privacy" },
  ]

  module.exports = {
    menuItems,
    containerClasses: props['container-class'] || '',
  }
</script>

<table
  class="w-full bg-base-100"
>
  <tr>
    <td>&zwj;</td>
    <td
      class="w-[600px] pt-11 pb-6 max-w-full [[ containerClasses ]]"
    >
      <div class="text-center">
          <a href="/">
            <img src="/content/icons/icon-light-1024.png" width="64" alt="Foragd Icon" class="max-w-full align-middle">
          </a>
      </div>

      <x-spacer height="64px" />

      <div class="flex flex-row lg:flex-col gap-x-4 justify-center">
          <each loop="item, index in menuItems">
            <a href="[[[ item.href ]]]" class="text-sm/5 text-neutral hover:text-accent no-underline">[[[ item.label ]]]</a>
          </each>
      </div>

      <x-spacer height="36px" />

      <table class="w-full">
        <tr>
          <td class="p-0 px-6">
            <slot:copyright>
              <p class="m-0 text-center text-sm/6 text-neutral">
                &copy; [[ new Date().getFullYear() ]] Immanent Tech
                <br>
                Immanent Tech <span>&nbsp;|&nbsp;</span> PO Box 528 Hamilton Central  <span>&nbsp;|&nbsp;</span> QLD 4007 Australia
              </p>
            </slot:copyright>

            <!-- <slot:unsubscribe>
              <x-spacer height="24px" />

              <p class="m-0 text-center text-base/6 text-gray-300">
                You're receiving this because you subscribed to updates.
                <br class="sm:hidden">
                No longer want to receive emails?
                <a href="https://example.com/unsub" class="underline hover:no-underline text-gray-300">Unsubscribe</a>
              </p>
            </slot:unsubscribe> -->
          </td>
        </tr>
      </table>
    </td>
    <td>&zwj;</td>
  </tr>
</table>

