<script props>
  let align = "";

  if (props.align) {
    align = {
      left: "text-left",
      center: "text-center",
      right: "text-right",
    }[props.align];
  }

  let alignMargins =
    {
      left: "",
      center: "m-0 mx-auto",
      right: "m-0 ml-auto",
    }[props.align] || "";

  module.exports = {
    props,
    align,
    alignMargins,
    containerClasses: props["container-class"] || "",
  };
</script>

<table class="w-full">
  <tr>
    <td>&zwj;</td>
    <td class="[[ containerClasses ]] w-[600px] max-w-full pt-11 pb-6">
      <table class="w-full">
        <tr>
          <td class="p-0 px-6">
            <if condition="props.align !== 'center'">
              <div class="[[ align ]]">
                <a href="/">
                  <img
                    src="/content/icons/icon-light-1024.png"
                    width="64"
                    alt="Foragd Icon"
                    class="max-w-full align-middle"
                  />
                </a>
              </div>

              <x-spacer height="24px" />
            </if>

            <if condition="props.align === 'center'">
              <div
                class="m-0 mb-6 h-px bg-gray-300 leading-px"
                role="separator"
              >
                &zwj;
              </div>
            </if>

            <if condition="props.align === 'center'">
              <table class="w-full">
                <tr>
                  <td class="w-4/12 sm:block sm:w-full sm:pb-6 sm:text-center">
                    <a href="/">
                      <img
                        src="/content/icons/icon-light-1024.png"
                        width="64"
                        alt="Foragd Icon"
                        class="max-w-full align-middle"
                      />
                    </a>
                  </td>
                  <td class="sm:block sm:w-full sm:text-center">
                    <slot:copyright>
                      &copy; [[ new Date().getFullYear() ]] Immanent Tech. All
                      rights reserved.
                    </slot:copyright>
                  </td>
                </tr>
              </table>
            </if>
            <else>
              <div class="[[ align ]]">
                <slot:copyright>
                  &copy; [[ new Date().getFullYear() ]] Immanent Tech. All
                  rights reserved.
                </slot:copyright>
              </div>
            </else>
          </td>
        </tr>
      </table>
    </td>
    <td>&zwj;</td>
  </tr>
</table>
