<script props>
  let containerClasses = props["container-class"] || "";

  let align = "";

  if (props.align) {
    align = {
      left: "text-left",
      center: "text-center",
      right: "text-right",
    }[props.align];
  }

  module.exports = {
    align,
    containerClasses: [containerClasses, align].filter(Boolean).join(" "),
  };
</script>

<table class="w-full bg-base-200 py-8">
  <tr>
    <td>&zwj;</td>
    <td class="w-[600px] max-w-full">
      <table class="w-full">
        <tr>
          <td class="[[ containerClasses ]]">
            <a href="/">
              <img
                src="/content/logo-horizontal-light.png"
                width="247"
                height="64"
                alt="Foragd Logo"
                class="max-w-full align-middle"
              />
            </a>
          </td>
        </tr>
      </table>
    </td>
    <td>&zwj;</td>
  </tr>
</table>
