@font-face {
  font-family: MonaspaceArgonVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/monaspace/monaspace-argon-variable.woff2') format('woff2');
}
