// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"errors"
	"slices"
)

var ErrRenderElement = errors.New("failed to render template element")

// Element represents a single templ.Component that can be rendered on the page with
// its Show method.
type Element interface {
	Show(classes ...string) templ.Component
}

// Components represents a list of components that should be rendered together.
type Elements []Element

// Show will render a list of components. An optional list of classes can be
// provided that all components will inherit.
templ (c Elements) Show(classes ...string) {
	for  component := range slices.Values(c) {
		@component.Show(classes...)
	}
}
