// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"errors"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
	"github.com/joshuar/go-templ-daisyui/navigation/menu"
	"strconv"
)

func (c *Component) Show() (templ.Component, error) {
	switch c.DisplayType {
	case FeedCard:
		return c.ShowFeedCard()
	}

	return nil, ErrDisplayComponent
}

func (c *Component) ShowFeedCard() (templ.Component, error) {

	feed, err := c.DataSource.AsFeed()
	if err != nil {
		return nil, errors.Join(ErrDisplayComponent, err)
	}

	var actionButtons []templ.Component

	for _, action := range c.Actions {
		actionButtons = append(actionButtons, action.cardActionButton())
	}

	props := card.Build(
		card.Bordered(),
		card.WithTitle(feed.GetTitle()),
		card.WithContent(feedCardContent(feed)),
		card.WithShadow(size.XL),
		card.WithLayout(card.LayoutSide),
		card.WithID(attributes.ID(feed.GetID())),
		card.WithExtraAttributes(c.Attributes),
		card.WithActions(cardActions(actionButtons...)...),
	)

	return props.Show(), nil
}

templ feedCardContent(feed Feed) {
	@badge.Build(
		badge.WithSize(size.SM),
		badge.WithThemeColor(color.Accent, true),
		badge.WithText(strconv.Itoa(feed.GetUserUnreadCount())+" Unread"),
	).Show()
}

templ (a *Action) cardActionButton() {
	<a
		role="button"
		class="btn btn-xs"
		{ a.Attributes... }
	>
		{ a.Label }
	</a>
}

func cardActions(actions ...templ.Component) []templ.Component {
	var menus []templ.Component

	menus = append(menus,
		// Menu for large screens: horizontal layout, all buttons shown.
		menu.Build(
			menu.WithSize(size.SM),
			menu.WithLayout(menu.Horizontal),
			menu.WithRevealedBreakpoint(size.LG),
			menu.WithItems(actions...),
		).Show(),
		// Menu for small screens: buttons hidden behind drop-down.
		dropdown.Build(
			dropdown.WithHiddenBreakpoint(size.LG),
			dropdown.WithOpenFrom(dropdown.OpenTop, true),
			dropdown.WithButton(
				button.WithSize(size.XS),
				button.AsShape(button.Square, true),
				button.WithContent(icon.Build("fa-bars")),
			),
			dropdown.WithMenuOptions(
				// menu.WithSize(size.SM),
				menu.WithLayout(menu.Vertical),
				menu.WithItems(actions...),
			),
		).Show(),
	)

	return menus
}
