// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package subscription

import (
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/joshuar/go-templ-daisyui/layout/join"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

// categoryInput provides an input field for adding a Category to a Subscription.
type categoryInput struct {
	input *textinput.Props
	btn   *button.Props
}

func (i *categoryInput) GetID() string {
	return i.input.GetID()
}

func (i *categoryInput) SetValue(value attributes.Value) {
	i.input.SetValue(value)
}

templ (i *categoryInput) Show(classes ...string) {
	@join.Horizontally() {
		@textinput.Build(
			textinput.WithName("category"),
			textinput.WithPlaceholder("CoolStuff"),
		).Show("join-item")
		@button.Build(
			button.AsShape(button.Square),
			button.WithContent(tabler.CategoryPlus()),
		).Show("join-item")
	}
}

func newCategoryInput() *categoryInput {
	return &categoryInput{}
}

templ manageCategories(categories ...string) {
	<script type="text/hyperscript" src="/static/category-mgmt._hs"></script>
	<form
		id="addCategoryForm"
		_="on submit
      halt the event
      set categoryInput to (first <input/> in me).value
      send newCategory(category: categoryInput) to #categories
      set value of first <input/> in me to ''"
	>
		<fieldset class="fieldset">
			<label class="label">Add Category (optional)</label>
			@join.Horizontally() {
				@textinput.Build(
					textinput.WithPlaceholder("CoolStuff"),
				).Show("join-item")
				@button.Build(
					button.AsShape(button.Square),
					button.WithContent(tabler.CategoryPlus()),
				).Show("join-item")
			}
		</fieldset>
	</form>
	<form>
		<fieldset
			id="categories"
			class="fieldset"
			_="
			on newCategory(category)
			  addCategory(add-subscription-details-form)
			end

			on delCategory(category)
			  tell <input[id=`${category}`]/>
			  	remove yourself
			  end
			for el in #shown-categories.children
         	  if innerHTML of el == category
           	  	remove el
         	  end
       		end
			"
		>
			<label class="label">Current Categories (click a category to remove):</label>
			<ul
				id="shown-categories"
				_="on click send delCategory(category: innerHTML of target) to #categories"
			>
				for category := range slices.Values(categories) {
					<li>{ category }</li>
				}
			</ul>
		</fieldset>
	</form>
}
