// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package subscription

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/input/fieldset"
	"github.com/joshuar/go-templ-daisyui/input/fileinput"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/input/option"
	"strconv"
)

// ImportFormID is the id attribute for the import form.
var ImportFormID = attributes.ID("import-form")

// ImportModalID is the id attribute for the import modal.
var ImportModalID = attributes.ID("import-modal")

var ImportFeedBackID = attributes.ID("import-modal-feedback")

// ImportOptions are the methods that can be used for importing.
var ImportOptions = []option.Value{
	{Label: "From OPML URL", Value: string(models.ImportSourceOPMLURL)},
	{Label: "From OPML File", Value: string(models.ImportSourceOPMLFile)},
	{Label: "From a list URLs", Value: string(models.ImportSourceURLs)},
}

// ShowImportFrom shows a input select for the user to choose a method for the
// import. the chosen method will load the form with appropriate inputs for
// importing via the chosen method.
templ ShowImportFrom() {
	<div>
		@option.Build(
			option.WithLabel("Pick Import Method:"),
			option.Required(),
			option.WithValues(ImportOptions...),
			option.WithName("source"),
			option.WithExtraAttributes(templ.Attributes{
				"hx-put":    "/subscription/import",
				"hx-target": ImportFormID.Target(),
			}),
		).Show()
	</div>
	<div>
		@form.BuildForm(
			form.WithID("import-form"),
			form.WithExtraAttributes(
				templ.Attributes{
					"hx-post":      "/subscription/import",
					"hx-encoding":  "multipart/form-data",
					"hx-target":    ImportFeedBackID.Target(),
					"hx-indicator": "#import-processing",
				},
			),
		).Show()
	</div>
	<center id="import-processing" class="htmx-indicator">
		Processing
		@loading.Build(loading.Infinity).Show()
	</center>
}

// ImportFromOPML shows inputs for choosing an OPML file as the input source.
templ ImportFromOPML() {
	@fieldset.Build(
		fieldset.WithLegend("Select the OPML file to use:"),
		fieldset.WithField("",
			hiddeninput.Build(
				hiddeninput.WithName("source"),
				hiddeninput.WithValue(string(models.ImportSourceOPMLFile)),
			),
		),
		fieldset.WithField("",
			fileinput.Build(
				fileinput.WithName("data"),
				fileinput.Required(),
			),
		),
		fieldset.WithField("",
			button.Build(
				button.WithContent("Import"),
			),
		),
	).Show()
	// <progress id="import-form-progress" class="progress" value="0" max="100"></progress>
}

// NewSubscriptionModal displays a modal for a user to enter new subscription details.
templ ImportModal() {
	@modal.Build(
		modal.WithID(ImportModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
	).Show() {
		@text.Build("Import Your Feeds", text.WithSize(text.LG), text.WithWeight(text.Semibold)).Show()
		<div id="import-modal-content" hx-disabled-elt="find button">
			@ShowImportFrom()
		</div>
		<div id={ ImportFeedBackID.String() }></div>
	}
}

templ ImportResultsModal(content templ.Component) {
	@modal.Build(
		modal.WithID(ImportModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
	).Show() {
		@content
	}
}

templ ImportFailed(msg *models.UserMessage) {
	@partials.NewMessage(msg).AsNote()
	<div class="modal-action">
		@button.Build(
			button.WithSize(button.SM),
			button.WithContent("Try again?"),
			button.WithExtraAttributes(templ.Attributes{
				"hx-get":    "/subscription/import",
				"hx-target": partials.ModalID.Target(),
			}),
		).Show()
	</div>
}

templ ImportSuccess(successful, failed int, all string) {
	<h3 class="text-lg font-bold">Import completed!</h3>
	<p class="py-4">Imported: { strconv.Itoa(successful) } Failed: { strconv.Itoa(failed) }</p>
	<div class="modal-action">
		@templ.Raw(all)
		@partials.CopyTextButton("Copy results (as CSV)", "resultscsv.innerText")
		@button.Build(
			button.WithSize(button.SM),
			button.WithContent("Import more?"),
			button.WithExtraAttributes(templ.Attributes{
				"hx-get":    "/subscription/import",
				"hx-target": templates.ModalID.Target(),
			}),
		).Show()
	</div>
}
