// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package subscription

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/input/fieldset"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
)

// SubscriptionDetailsID is the ID of the element containing Subscription details.
var SubscriptionDetailsID = attributes.ID("subscription-details")

// AddSubscriptionDetailsFormID is the ID of the form for adding Subscription details.
var AddSubscriptionDetailsFormID = attributes.ID("add-subscription-details-form")

// AddCategoryFormID is the ID of the form for adding a Category.
var AddCategoryFormID = attributes.ID("add-category-form")

// CategoryListID is the ID of the element containing a list of Categories for a subscription.
var CategoryListID = attributes.ID("category-list")

// SubscriptionRequest is a wrapper around models.SubscriptionRequest to allow extending it with templates.
type SubscriptionRequest struct {
	*models.SubscriptionRequest
	TopCategories []models.Category
}

func (r *SubscriptionRequest) inputURL() *textinput.Props {
	return textinput.Build(
		textinput.WithName("url"),
		textinput.AsType(textinput.URL),
		textinput.WithPlaceholder("https://awesomefeed.lol.rss"),
		textinput.Required(),
		textinput.Validate(),
		textinput.ValidateHint("A valid URL to a feed is required."),
		textinput.WithValue(r.URL),
	)
}

func (r *SubscriptionRequest) inputNickname() *textinput.Props {
	return textinput.Build(
		textinput.WithName("user_nickname"),
		textinput.WithValue(r.UserNickname),
		textinput.WithPlaceholder("My memorable feed name"),
	)
}

templ (r *SubscriptionRequest) Form(msg *models.Message) {
	<div id={ SubscriptionDetailsID.String() }>
		if msg != nil {
			@partials.NewMessage(msg).AsNotification()
		}
		// Display the Subscription details.
		@form.BuildForm(
			form.WithID(AddSubscriptionDetailsFormID.String()),
			form.WithExtraAttributes(
				templ.Attributes{
					"hx-put":       "/subscription/add",
					"hx-swap":      "none",
					"hx-indicator": "#add-processing",
				},
			),
			form.WithElements(
				fieldset.Build(
					fieldset.WithField("",
						hiddeninput.Build(
							hiddeninput.WithName("subscription_id"),
							hiddeninput.WithValue(r.GetID()),
						),
					),
					fieldset.WithLegend("Subscription details:"),
					fieldset.WithField("URL", r.inputURL()),
					fieldset.WithField("Nickname (optional)", r.inputNickname()),
				).Show(),
			),
		).Show()
		@manageCategories(r.UserCategories...)
		// Add a button to submit the Subscription details when finished editing.
		@fieldset.Build(
			fieldset.WithField("",
				button.Build(
					button.WithContent("Make it so!"),
					button.WithExtraAttributes(templ.Attributes{
						"form": AddSubscriptionDetailsFormID.String(),
						"_":    "on click remove @open from " + partials.ModalID.Target(),
					})),
			),
		).Show()
		<center id="add-processing" class="htmx-indicator">
			Adding
			@loading.Build(loading.Infinity).Show()
		</center>
	</div>
}

func NewSubscriptionRequest(req *models.SubscriptionRequest) *SubscriptionRequest {
	return &SubscriptionRequest{
		SubscriptionRequest: req,
	}
}

// NewSubscriptionModal will display a modal for the user to enter new Subscription details.
templ NewSubscriptionModal(req *models.SubscriptionRequest, msg *models.Message) {
	@modal.Build(
		modal.WithID(partials.ModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
	).Show() {
		@text.Build("Add a new subscription", text.WithSize(text.LG)).Show()
		if req != nil {
			@NewSubscriptionRequest(req).Form(msg)
		}
	}
}
