// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

import (
	"context"
	"github.com/joshuar/go-feed-me/internal/models"
	"github.com/joshuar/go-feed-me/internal/session"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-feed-me/web/templates/partials/subscription"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/classes/width"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/joshuar/go-templ-daisyui/navigation/menu"
	"net/url"
)

var AddSubscriptionModalID = attributes.ID("add_subscription_modal")

// AddSubscriptionButton creates a button for displaying a modal to add a new subscription.
func AddSubscriptionAction(classes ...string) templ.Component {
	return link.Build(
		link.WithContent("Add Subscription"),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":    "/subscription/new",
			"hx-target": partials.CommandModalID.Target(),
			"_":         "on htmx:afterOnLoad wait 10ms then add .modal-open to " + AddSubscriptionModalID.Target(),
		}),
		link.WithUnderlineOnHover(),
	).Show(classes...)
}

// ImportAction creates a button for displaying a modal to import feeds (i.e.
// via opml).
func ImportAction(classes ...string) templ.Component {
	return link.Build(
		link.WithContent("Import..."),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":    "/subscription/import",
			"hx-target": partials.CommandModalID.Target(),
			"_":         "on htmx:afterOnLoad wait 10ms then add .modal-open to" + subscription.ImportModalID.Target(),
		}),
		link.WithUnderlineOnHover(),
	).Show(classes...)
}

// backButton generates a button for going back to the given path. It fetches
// the last state of the path (i.e., any parameters used) from the user session.
func BackButton(ctx context.Context, path string) templ.Component {
	var (
		filters *models.Filters
		params  url.Values
	)
	switch path {
	case models.FeedsRoute:
		filters, _ = session.GetFeedFilters(ctx)
	case models.ItemsRoute:
		filters, _ = session.GetItemFilters(ctx)
	}
	if filters != nil {
		params = filters.ToQueryParams()
	}
	attrs := templates.BuildAction(path,
		templates.WithQueryParams(params),
		templates.WithAttributes(templ.Attributes{
			"hx-target":   ContentID.Target(),
			"hx-push-url": "true",
			"hx-swap":     "morph:innerHTML",
		}),
	).Attributes()

	return button.Build(
		button.WithContent(icon.Build("fa-left-long")),
		button.WithExtraAttributes(attrs),
	).Show()
}

templ BuildActionsMenu(actions ...templ.Component) {
	<div id="content-actions" hx-swap-oob="true">
		@dropdown.Build(
			dropdown.WithOpenOptions(
				dropdown.From(dropdown.OpenTop),
				dropdown.Align(dropdown.AlignEnd),
			),
			dropdown.WithButton(
				button.WithSize(size.SM),
				button.AsShape(button.Square, false),
				button.WithContent(icon.Build("fa-ellipsis-vertical")),
			),
			dropdown.WithMenuContent(
				menu.WithMenuTitle("Actions"),
				menu.WithBaseColor(color.Base200),
				menu.WithExtraClasses(width.W52),
				menu.WithItems(actions...),
			),
		).Show()
	</div>
}
