// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

import (
	"github.com/joshuar/go-feed-me/internal/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
	"net/http"
)

// ShowFeedCard shows a feed as a Card Component.
func ShowFeedCard(c *templates.Component) templ.Component {
	feed, err := c.DataSource.AsFeed()
	if err != nil {
		return nil
	}

	// Rebuild feed route with common options.
	c.Route.Rebuild(
		models.WithAttribute("hx-target", ContentTarget),
		models.WithSubPath("/items"),
	)

	// Build route to show feed items.
	showItemsRoute := models.BuildRoute(c.Route.String(),
		models.WithAttribute("hx-push-url", "true"),
	)

	var cardMenuItems []templ.Component
	// Add card menu item for marking read/unread.
	if feed.GetUserUnreadCount() > 0 {
		cardMenuItems = append(cardMenuItems, buildMarkButton("Mark Read",
			models.MarkRead, c.Route))
	} else {
		cardMenuItems = append(cardMenuItems, buildMarkButton("Mark Unread",
			models.MarkUnread, c.Route))
	}

	props := card.Build(
		card.Bordered(),
		card.WithBodyOptions(
			card.WithContent(feedCardContent(feed)),
			card.WithActions(partials.DisplayCardActions(cardMenuItems...)...),
		),
		card.WithShadow(size.XL),
		card.WithID(attributes.ID(feed.GetID())),
		card.WithExtraAttributes(showItemsRoute.Attributes()),
	)

	if itemImage := feed.GetImage(); itemImage != nil {
		card.WithImage(itemImage.URL,
			image.WithAltText(itemImage.Title),
			image.WithLazyLoading(),
		)(props)
	}

	return props.Show("w-prose", "lg:w-1/2", "card-side", "max-h-80", "p-2", "mx-auto")
}

templ feedCardContent(feed templates.Feed) {
	@partials.DisplayFeedTitle(feed)
	@text.Build(feed.GetContent(), text.WithTextSize(text.SM)).Show()
}

func ShowItemCard(c *templates.Component) templ.Component {
	item, err := c.DataSource.AsItem()
	if err != nil {
		return nil
	}

	// Build route to show item.
	itemRoute := models.BuildRoute(c.Route.String(),
		models.WithAttribute("hx-push-url", "true"),
		models.WithAttribute("hx-target", ContentTarget),
	)

	var cardMenuItems []templ.Component
	// Add card menu item for marking read/unread.
	if item.GetUserState() == models.Unread {
		cardMenuItems = append(cardMenuItems, buildMarkButton("Mark Read",
			models.MarkRead, c.Route))
	} else {
		cardMenuItems = append(cardMenuItems, buildMarkButton("Mark Unread",
			models.MarkUnread, c.Route))
	}

	props := card.Build(
		card.Bordered(),
		card.WithBodyOptions(
			card.WithContent(itemCardContent(item)),
			card.WithActions(partials.DisplayCardActions(cardMenuItems...)...),
		),
		card.WithShadow(size.XL),
		card.WithLayout(card.LayoutSide),
		card.WithID(attributes.ID(item.GetID())),
		card.WithExtraAttributes(itemRoute.Attributes()),
	)

	if itemImage := item.GetImage(); itemImage != nil {
		card.WithImage(itemImage.URL,
			image.WithSize(size.SizeAuto),
			image.WithAltText(itemImage.Title),
			image.WithLazyLoading(),
		)(props)
	}

	return props.Show("max-w-prose", "max-h-80")
}

templ itemCardContent(item templates.Item) {
	@partials.DisplayItemTitle(item)
	@partials.DisplayLastUpdated("Last Updated:", item.GetTimestamp())
}

// Article displays an item as an article.
func ShowArticle(c *templates.Component) templ.Component {
	item, err := c.DataSource.AsItem()
	if err != nil {
		return nil
	}

	return article.Build(partials.DisplayItemArticle(item)).Show()
}

func buildMarkButton(label string, mark models.Mark, route *models.APIRoute) templ.Component {
	return button.Build(
		button.WithSize(size.XS),
		button.WithContent(label),
		button.WithExtraAttributes(buildMarkRoute(route, mark)),
	).Show()
}

func buildMarkRoute(r *models.APIRoute, mark models.Mark) templ.Attributes {
	r.Rebuild(
		models.WithMethod(http.MethodPost),
		models.WithParams(
			models.WithMarkParam(mark),
		),
		models.WithAttribute("_", "on click halt the event's bubbling"),
	)

	return r.Attributes()
}
