// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

import (
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
)

// ShowFeedCard shows a feed as a Card Component.
func ShowFeedCard(c *templates.Component) templ.Component {
	feed, err := c.DataSource.AsFeed()
	if err != nil {
		return nil
	}

	actionButtons := make([]templ.Component, 0, len(c.Actions))

	for _, action := range c.Actions {
		actionButtons = append(actionButtons, cardActionButton(action))
	}

	props := card.Build(
		card.Bordered(),
		card.WithContent(feedCardContent(feed)),
		card.WithShadow(size.XL),
		card.WithLayout(card.LayoutSide),
		card.WithID(attributes.ID(feed.GetID())),
		card.WithExtraAttributes(c.Attributes),
		card.WithActions(partials.DisplayCardActions(actionButtons...)...),
	)

	if itemImage := feed.GetImage(); itemImage != nil {
		card.WithImage(itemImage.URL,
			image.WithSize(size.SizeAuto),
			image.WithAltText(itemImage.Title),
			image.WithLazyLoading(),
		)(props)
	}

	return props.Show("max-w-prose", "max-h-80")
}

templ feedCardContent(feed templates.Feed) {
	@partials.DisplayFeedTitle(feed)
	@partials.DisplayCategories(feed.GetCategories()...)
}

func ShowItemCard(c *templates.Component) templ.Component {
	item, err := c.DataSource.AsItem()
	if err != nil {
		return nil
	}

	actionButtons := make([]templ.Component, 0, len(c.Actions))

	for _, action := range c.Actions {
		actionButtons = append(actionButtons, cardActionButton(action))
	}

	props := card.Build(
		card.Bordered(),
		card.WithContent(itemCardContent(item)),
		card.WithShadow(size.XL),
		card.WithLayout(card.LayoutSide),
		card.WithID(attributes.ID(item.GetID())),
		card.WithExtraAttributes(c.Attributes),
		card.WithActions(partials.DisplayCardActions(actionButtons...)...),
	)

	if itemImage := item.GetImage(); itemImage != nil {
		card.WithImage(itemImage.URL,
			image.WithSize(size.SizeAuto),
			image.WithAltText(itemImage.Title),
			image.WithLazyLoading(),
		)(props)
	}

	return props.Show("max-w-prose", "max-h-80")
}

templ itemCardContent(item templates.Item) {
	@partials.DisplayItemTitle(item)
	@partials.DisplayLastUpdated("Last Updated:", item.GetTimestamp())
}

templ cardActionButton(action templates.Action) {
	<a
		role="button"
		class="btn btn-xs"
		{ action.Attributes... }
	>
		{ action.Label }
	</a>
}

// Article displays an item as an article.
func ShowArticle(c *templates.Component) templ.Component {
	item, err := c.DataSource.AsItem()
	if err != nil {
		return nil
	}

	return article.Build(partials.DisplayItemArticle(item)).Show()
}
