// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import (
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/classes/width"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
	"github.com/joshuar/go-templ-daisyui/navigation/menu"
)

templ (filters CategoryFilters) Show(classes ...string) {
	@text.Build("Categories:", text.WithTextWeight(text.Semibold), text.WithTextSize(text.XS)).Show()
	<div class="flex flex-wrap">
		for _, filter := range filters {
			@filter.Show(classes...)
		}
	</div>
}

templ (filter *CategoryFilter) Show(classes ...string) {
	{{ var styleOption badge.Option }}
	if filter.active {
		{{ styleOption = badge.WithStyle(badge.Outline) }}
	} else {
		{{ styleOption = badge.WithStyle(badge.DashedOutline) }}
	}
	@badge.Build(
		badge.WithSize(size.SM),
		badge.WithThemeColor(color.Neutral),
		styleOption,
		badge.WithContent(filter.name),
		badge.WithExtraAttributes(filter.route.Attributes()),
	).Show(classes...)
}

// Show renders the view filter as a set of badges joined together.
templ (view *ViewFilters) Show(classes ...string) {
	{{ classes = append(classes, "join-item") }}
	@text.Build("View:", text.WithTextWeight(text.Semibold), text.WithTextSize(text.XS)).Show()
	<div class="join">
		for _, view := range view.badges {
			@view.Show(classes...)
		}
	</div>
}

templ BuildFiltersMenu(viewFilters templates.Element, categoryFilters templates.Element) {
	<div id="content-filters" hx-swap-oob="true">
		@dropdown.Build(
			dropdown.WithOpenOptions(
				dropdown.From(dropdown.OpenTop),
				dropdown.Align(dropdown.AlignCenter),
			),
			dropdown.WithButton(
				button.WithSize(size.SM),
				button.AsShape(button.Square, false),
				button.WithContent(icon.Build("fa-sliders")),
			),
			dropdown.WithMenuContent(
				menu.WithMenuTitle("Filters"),
				menu.WithBaseColor(color.Base200),
				menu.WithExtraClasses(width.W52),
				menu.WithItems(viewFilters.Show(), categoryFilters.Show()),
			),
		).Show()
	</div>
}
