// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

templ Footer() {
	<div
		id="content-footer"
		hx-swap-oob="true"
		class="bg-base-300 sticky bottom-0 py-12"
	>
		<h1 class="text-center text-xl">Footer</h1>
	</div>
}
