// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package home

import "github.com/joshuar/go-templ-daisyui/actions/button"
import "github.com/joshuar/go-templ-daisyui/display/icon"
import "github.com/joshuar/go-feed-me/internal/models"

type ListHeader struct {
	filtersMenu templ.Component
	sortMenu    templ.Component
}

templ (h *ListHeader) Show(classes ...string) {
	<div id="list-header" hx-swap-oob="true">
		<div class="navbar bg-base-100 justify-end">
			// <div class="flex-1"></div>
			<div class="flex flex-row">
				@h.filtersMenu
				@h.sortMenu
			</div>
		</div>
	</div>
}

func BuildListHeader(filters templ.Component, sorts templ.Component) *ListHeader {
	return &ListHeader{
		filtersMenu: filters,
		sortMenu:    sorts,
	}
}

// ArticleHeader generates a content header for article views.
templ ArticleHeader(item models.APIItem) {
	<head>
		<title>{ item.GetTitle() }</title>
	</head>
	<div id="content_header" hx-swap-oob="true" hx-swap="morph:outerHTML">
		<div class="navbar bg-base-100">
			<div class="flex-1"></div>
			<div class="justify-end flex-row-reverse">
				<form action={ templ.URL(item.GetLink()) } hx-boost="false" method="get" target="_blank">
					@button.Build(
						button.AsShape(button.Square, false),
						button.WithContent(icon.Build("fa-globe")),
					).Show()
				</form>
			</div>
		</div>
	</div>
}

type Header struct {
	content []templ.Component
}

templ (h *Header) FullRender() {
	if len(h.content) > 0 {
		<div class="z-50 sticky top-0">
			for _, element := range h.content {
				@element
			}
		</div>
	}
}

templ (h *Header) PartialRender() {
	for _, element := range h.content {
		@element
	}
}

func BuildHeaders(elements ...templ.Component) *Header {
	return &Header{
		content: elements,
	}
}
