// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package home

// // homeDrawer renders home page content in a DaisyUI drawer.
// templ (home *LayoutProps) homeDrawer() {
// 	<div id="command_modal" class="container mx-auto px-4"></div>
// 	@drawer.Build("home_drawer", home.showDrawerContent(), home.showDrawerSide(),
// 		drawer.WithDrawerVisibility(size.LG),
// 	).Show()
// }

// // showDrawerSide renders the side rail of the home drawer.
// templ (home *LayoutProps) showDrawerSide() {
// 	if home.SideBar != nil {
// 		<div class="bg-base-200 min-h-full p-4">
// 			@home.SideBar.Show()
// 		</div>
// 	}
// }
templ commandModal() {
	<div id="command_modal" class="container mx-auto px-4"></div>
}

templ notifications() {
	<!-- Open the modal using ID.showModal() method -->
	<div class="container mx-auto">
		<button class="btn" onclick="my_modal_1.showModal()">open modal</button>
		<dialog id="my_modal_1" class="modal modal-top">
			<div role="alert" class="modal-box alert alert-info alert-soft">
				Foobar
				<div class="modal-action">
					<form method="dialog">
						<!-- if there is a button in form, it will close the modal -->
						<button class="btn">Close</button>
					</form>
				</div>
			</div>
		</dialog>
	</div>
	<div sse-connect="/home/notifications" sse-swap="notification"></div>
}
