// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package pages

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"net/http"
)

type Settings struct {
	CurrentPage     string
	user            *models.User
	editUserRequest *models.EditUserRequest
}

func NewSettingsPage(page string, user *models.User, editUser *models.EditUserRequest) *Settings {
	return &Settings{
		CurrentPage:     page,
		user:            user,
		editUserRequest: editUser,
	}
}

// Template will render the home page based on the request details.
func (page *Settings) Template(req *http.Request) templ.Component {
	switch {
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Settings",
			templates.WithBodyContent(page.layout()),
		)
	}
}

templ (page *Settings) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

templ (page *Settings) content() {
	<div class="mt-8">
		<el-tab-group>
			<el-tab-list>
				<div class="-mb-px flex">
					<button id="btn-settings-subscriptions" type="button" class="w-1/3 border-b-2 border-transparent px-1 py-4 text-center text-sm font-medium text-base-content hover:border-accent/20 hover:text-accent">Subscriptions</button>
					<button id="btn-settings-app" type="button" class="w-1/3 border-b-2 border-transparent px-1 py-4 text-center text-sm font-medium text-base-content hover:border-accent/20 hover:text-accent">App</button>
					<button id="btn-settings-billing" type="button" class="w-1/3 border-b-2 border-transparent px-1 py-4 text-center text-sm font-medium text-base-content hover:border-accent/20 hover:text-accent">Billing</button>
				</div>
			</el-tab-list>
			<el-tab-panels>
				<div id="settings-subscriptions">
					@SubscriptionSettings()
				</div>
				<div id="settings-app" hidden>
					@AppSettings()
				</div>
				<div id="settings-billing" hidden>Billing</div>
			</el-tab-panels>
		</el-tab-group>
	</div>
}

// SubscriptionSettings shows settings for managing user subscriptions.
templ SubscriptionSettings() {
	<div class="flex flex-col mt-2 gap-y-4 max-w-prose">
		<div class="border-b border-base-content/10 pb-12">
			<h2 class="text-sm/7 font-semibold pb-4">Actions</h2>
			<div class="flex flex-row gap-x-4">
				<button
					type="button"
					class="app-button text-xs"
					hx-get="/user/subscription/add"
					hx-target={ partials.ContentID.Target() }
					hx-push-url="true"
				>Add</button>
				<button
					type="button"
					class="app-button text-xs"
					hx-get="/user/import"
					hx-target={ partials.ContentID.Target() }
					hx-push-url="true"
				>Import</button>
				<button
					type="button"
					class="app-button text-xs"
					hx-get="/user/export"
					hx-target={ partials.ContentID.Target() }
					hx-push-url="true"
				>Export</button>
			</div>
		</div>
		<div>
			<h2 class="text-sm/7 font-semibold pb-4">Manage</h2>
			<form
				hx-post="/user/settings/subscriptions"
				hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
				hx-target="#subscriptions-list"
				hx-indicator=".htmx-indicator"
				hx-push-url="false"
			>
				<div class="grid grid-cols-1">
					<input id="filter-subscriptions" type="text" name="text" placeholder="Filter..." class="app-textinput text-xs"/>
					<span class="htmx-indicator loading loading-spinner loading-sm"></span>
				</div>
			</form>
		</div>
	</div>
	<ul id="subscriptions-list" role="list" class="divide-y divide-base-content/5 max-w-prose"></ul>
}

templ ShowSubscriptionSettings(subscription *models.Subscription) {
	@partials.NewSubscriptionContent(subscription).Settings()
}

// AppSettings shows settings for the application.
templ AppSettings() {
	<div class="divide-y divide-base-content/5">
		<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
			<div class="col-span-full">
				<h2 class="text-sm/7 font-semibold">Theme</h2>
			</div>
			@themePreview("light")
			@themePreview("dark")
			@themePreview("synthwave")
			@themePreview("lofi")
			@themePreview("black")
			@themePreview("dracula")
			@themePreview("business")
			@themePreview("night")
			@themePreview("dim")
			@themePreview("nord")
		</div>
	</div>
}

templ themePreview(theme string) {
	<div
		class="border-base-content/20 hover:border-base-content/40 overflow-hidden rounded-lg border outline-2 outline-offset-2 outline-transparent"
		data-act-class="outline-base-content!"
		data-set-theme={ theme }
		_="on click set #page-theme.value to @data-set-theme"
		hx-trigger="click"
		hx-put={ "/user/settings/theme/" + theme }
		hx-swap="none"
	>
		<div class="bg-base-100 text-base-content w-full cursor-pointer font-sans" data-theme={ theme }>
			<div class="grid grid-cols-5 grid-rows-3">
				<div class="bg-base-200 col-start-1 row-span-2 row-start-1"></div>
				<div class="bg-base-300 col-start-1 row-start-3"></div>
				<div class="bg-base-100 col-span-4 col-start-2 row-span-3 row-start-1 flex flex-col gap-1 p-2">
					<div class="font-bold capitalize">{ theme }</div>
					<div class="flex flex-wrap gap-1">
						<div class="bg-primary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-primary-content text-sm font-bold">A</div>
						</div>
						<div class="bg-secondary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-secondary-content text-sm font-bold">A</div>
						</div>
						<div class="bg-accent flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-accent-content text-sm font-bold">A</div>
						</div>
						<div class="bg-neutral flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-neutral-content text-sm font-bold">A</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
