// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package pages

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/server/session"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"net/http"
	"slices"
	"strconv"
)

// EditSubscriptionPage is a page for editing a subscription.
type EditSubscriptionPage struct {
	request *models.EditSubscriptionRequest
}

// NewEditSubscriptionPage creates a new edit subscription page with the given data.
func NewEditSubscriptionPage(edits *models.EditSubscriptionRequest) *EditSubscriptionPage {
	return &EditSubscriptionPage{
		request: edits,
	}
}

// Template renders the edit subscription page.
func (page *EditSubscriptionPage) Template(req *http.Request) templ.Component {
	switch {
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Edit "+page.request.Nickname,
			templates.WithBodyContent(page.layout()),
		)
	}
}

templ (page *EditSubscriptionPage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

templ (page *EditSubscriptionPage) content() {
	<div class="mt-8 max-w-prose">
		<div class="space-y-12 sm:space-y-16">
			<div>
				<h2 class="text-base/7 font-semibold">Editing { page.request.Nickname }</h2>
				<div class="mt-10 space-y-8 pb-12 sm:space-y-0 sm:pb-0">
					<form
						id="edit-subscription"
						hx-put={ "/user/subscription/edit/" + page.request.SubscriptionID }
						hx-include="[name='user_categories']"
						hx-target={ partials.ContentID.Target() }
						hx-target-error={ partials.ContentID.Target() }
						hx-indicator="#processing"
					>
						<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
							<label for="nickname" class="app-textinput-label">Nickname</label>
							<input type="hidden" id="subscription-id" name="subscription_id" value={ page.request.SubscriptionID }/>
							<div class="mt-2 sm:col-span-2 sm:mt-0">
								<input
									id="nickname"
									type="text"
									required
									name="user_nickname"
									value={ page.request.Nickname }
									placeholder="My favorite feed"
									class="app-textinput validator"
								/>
								<span class="validator-hint hidden">Nickname is required</span>
								<span id="url-hint" class="app-textinput-hint">Required. A friendly name for the subscription.</span>
							</div>
						</div>
					</form>
					@partials.AddCategoryForm(page.request.SuggestedCategories, templ.Attributes{
						"hx-post":     "/user/subscription/category",
						"hx-push-url": "false",
						"hx-target":   "#current-categories",
						"hx-swap":     "beforeend",
						"hx-trigger":  "change,submit",
						"hx-include":  "[name='user_categories']",
					})
					// Show current categories.
					<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
						<label class="app-textinput-label">Current Categories</label>
						<div class="col-span-full">
							@partials.ManageCategories(page.request.Categories)
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-6 flex items-center justify-end gap-x-6">
			<div id="processing" class="htmx-indicator">
				Processing...
				@loading.Build(loading.Infinity).Show()
			</div>
			<button type="button" onclick="history.back()" class="text-sm/6 font-semibold">Back</button>
			<button
				type="submit"
				form="edit-subscription"
				class="app-button"
			>Save</button>
		</div>
	</div>
}

// AddSubscription is a page for adding a new subscription.
type AddSubscription struct {
	request *models.SubscriptionRequest
	message *models.UserMessage
}

func NewAddSubscription(request *models.SubscriptionRequest, msg *models.UserMessage) *AddSubscription {
	page := &AddSubscription{
		message: msg,
		request: &models.SubscriptionRequest{},
	}
	if request != nil {
		page.request = request
	}
	return page
}

// Template renders the add subscription page.
func (page *AddSubscription) Template(req *http.Request) templ.Component {
	switch {
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Add Subscription",
			templates.WithBodyContent(page.layout()),
		)
	}
}

templ (page *AddSubscription) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

templ (page *AddSubscription) content() {
	<div class="mt-8 max-w-prose">
		<div class="space-y-12 sm:space-y-16">
			<div>
				<h2 class="text-base/7 font-semibold">Add a new subscription</h2>
				<div class="mt-10 space-y-8 pb-12 sm:space-y-0 sm:pb-0">
					if page.message != nil {
						switch page.message.Status {
							case models.UserMessageStatusSuccess:
								@partials.FormSuccess() {
									@partials.SuccessMessage(page.message) {
										@partials.NewAction("/subscriptions", partials.DisplayActionAsLink,
											partials.ActionValues(session.SubscriptionFiltersFromSession(ctx).Parameters()),
											partials.ActionPushURL(),
											partials.ActionClasses("text-sm/6 text-success font-semibold hover:bg-accent hover:text-accent-content"),
										) {
											<p class="mt-4">Go to subscriptions <span aria-hidden="true">&rarr;</span></p>
										}
									}
								}
							case models.UserMessageStatusWarning:
								@partials.FormWarning() {
									@partials.WarningMessage(page.message)
								}
							case models.UserMessageStatusError:
								@partials.FormError() {
									@partials.ErrorMessage(page.message)
								}
						}
					}
					<form
						id="add-subscription"
						hx-post="/user/subscription/add"
						hx-target={ partials.ContentID.Target() }
						hx-target-error={ partials.ContentID.Target() }
						hx-indicator="#processing"
						hx-on::after-request="if(event.detail.successful) this.reset()"
					>
						<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
							<label for="url" class="block font-medium">Feed URL</label>
							<div class="mt-2 sm:col-span-2 sm:mt-0">
								<input
									id="url"
									type="url"
									required
									name="url"
									value={ page.request.URL }
									placeholder="https://feed.lol/rss"
									class={ templ.KV("app-textinput",page.request.URLErr == nil), templ.KV("app-textinput-error",page.request.URLErr !=nil) }
								/>
								if page.request.URLErr != nil {
									<span class="text-error text-xs/4">Error: { page.request.URLErr.Error() }</span>
								} else {
									<span id="url-hint" class="text-base-content/50 text-xs/4">Required. The feed's URL or website.</span>
								}
							</div>
						</div>
						<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
							<label for="nickname" class="block font-medium">Nickname</label>
							<div class="mt-2 sm:col-span-2 sm:mt-0">
								<input
									id="nickname"
									type="text"
									name="user_nickname"
									value={ page.request.Nickname }
									placeholder="My cool subscription"
									class={ templ.KV("app-textinput",page.request.NicknameErr == nil), templ.KV("app-textinput-error",page.request.NicknameErr !=nil) }
								/>
								if page.request.NicknameErr != nil {
									<span class="text-error text-xs/4">{ page.request.NicknameErr.Error() }</span>
								} else {
									<span id="nickname-hint" class="text-base-content/50 text-xs/4">Optional. A Friendly name for the subscription. Will use the feed's name if not specified.</span>
								}
							</div>
						</div>
					</form>
					@partials.AddCategoryForm(nil, templ.Attributes{
						"hx-post":     "/user/subscription/category",
						"hx-push-url": "false",
						"hx-target":   "#current-categories",
						"hx-swap":     "beforeend",
						"hx-trigger":  "change,submit",
						"hx-include":  "[name='user_categories']",
					})
					// Show current categories.
					<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
						<label class="block font-medium">Current Categories</label>
						<div class="col-span-full">
							@partials.ManageCategories(page.request.Categories)
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-6 flex items-center justify-end gap-x-6">
			<div id="processing" class="htmx-indicator">
				Processing...
				@loading.Build(loading.Infinity).Show()
			</div>
			<button
				type="button"
				onclick="history.back()"
				class="bg-primary/80 hover:bg-primary hover:text-primary-content focus-visible:outline-primary text-primary-content block rounded-md px-3 py-2 text-center text-sm font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2"
			>Back</button>
			<button
				type="submit"
				form="add-subscription"
				class="bg-primary/80 hover:bg-primary hover:text-primary-content focus-visible:outline-primary text-primary-content block rounded-md px-3 py-2 text-center text-sm font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2"
			>Add</button>
		</div>
	</div>
}

// ImportPage is a page for importing subscriptions from an external source (e.g., an OPML file).
type ImportPage struct{}

func NewImportPage() *ImportPage {
	return &ImportPage{}
}

// Template renders the add subscription page.
func (page *ImportPage) Template(req *http.Request) templ.Component {
	switch {
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Import",
			templates.WithBodyContent(page.layout()),
		)
	}
}

templ (page *ImportPage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

templ (page *ImportPage) content() {
	<div class="mt-8 max-w-prose">
		<div class="space-y-12 sm:space-y-16">
			<div>
				<h2 class="text-base/7 font-semibold">Import subscriptions</h2>
				<div class="mt-10 space-y-8">
					<form
						id="import"
						hx-encoding="multipart/form-data"
						hx-post="/user/import"
						hx-target="#import-results"
						hx-indicator="#import-processing"
					>
						<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
							<label for="source" class="app-textinput-label">OPML file</label>
							<div class="mt-2 sm:col-span-2 sm:mt-0">
								<input id="source" type="file" required name="source" class="app-textinputvalidator"/>
								<span class="validator-hint hidden">Make sure the file is a valid OPML file.</span>
								<span id="source-hint" class="app-textinput-hint">Required.</span>
							</div>
						</div>
						<div class="mt-6 flex items-center justify-end gap-x-6">
							<button type="button" onclick="history.back()" class="text-sm/6 font-semibold">Back</button>
							<button
								type="submit"
								class="app-button"
							>Import</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<center id="import-processing" class="htmx-indicator">
			Processing, this could take a few minutes...
			@loading.Build(loading.Infinity).Show()
		</center>
		<div id="import-results" class="space-y-4"></div>
	</div>
}

type AddSubscriptionResults map[*models.SubscriptionRequest]*models.AddSubscriptionResult

func (r AddSubscriptionResults) GetSuccessful() []*models.AddSubscriptionResult {
	return slices.Collect(models.FilterMapValues(r, func(result *models.AddSubscriptionResult) bool {
		return result.Message.Status == models.UserMessageStatusSuccess
	}))
}

func (r AddSubscriptionResults) GetFailed() []*models.AddSubscriptionResult {
	return slices.Collect(models.FilterMapValues(r, func(result *models.AddSubscriptionResult) bool {
		return result.Message.Status != models.UserMessageStatusSuccess
	}))
}

// ImportResults is a partial template that displays the results of an import.
templ ImportResults(results AddSubscriptionResults) {
	{{ successfulResults := results.GetSuccessful() }}
	{{ failedResults := results.GetFailed() }}
	<h2 class="text-base/7 font-semibold">Import Results</h2>
	<p class="text-sm italic">Imported: { strconv.Itoa(len(successfulResults)) } Failed: { strconv.Itoa(len(failedResults)) }</p>
	<button
		class="app-button"
		hx-get="/subscriptions"
		hx-target={ partials.ContentID.Target() }
		hx-vals={ partials.GenerateHXVals(session.SubscriptionFiltersFromSession(ctx).Parameters()) }
	>
		Go to your subscriptions
	</button>
	<div class="mt-10 space-y-8 border-t border-neutral">
		<ul class="list">
			for response := range slices.Values(slices.Concat(successfulResults,failedResults)) {
				<li class="list-row items-center">
					switch response.Message.Status {
						case models.UserMessageStatusSuccess:
							@partials.HeroIconSuccess("size-10")
							<div>
								<div>{ response.Message.Summary }</div>
							</div>
						case models.UserMessageStatusError:
							@partials.HeroIconError("size-10")
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
						case models.UserMessageStatusWarning:
							@partials.HeroIconWarn("size-10")
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
					}
				</li>
			}
		</ul>
	</div>
	<button class="app-button fixed right-0 bottom-0 m-4" href="#">Back to top</button>
}

// ExportPage is a page for exporting subscriptions via an OPML file.
type ExportPage struct{}

func NewExportPage() *ExportPage {
	return &ExportPage{}
}

// Template renders the add subscription page.
func (page *ExportPage) Template(req *http.Request) templ.Component {
	switch {
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Export",
			templates.WithBodyContent(page.layout()),
		)
	}
}

templ (page *ExportPage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

templ (page *ExportPage) content() {
	<div class="mt-8 max-w-prose">
		<div class="space-y-12 sm:space-y-16">
			<div>
				<h2 class="text-base/7 font-semibold">Export subscriptions</h2>
				<p class="mt-1 text-sm/6">You can export your current subscription to an OPML file, which all good feed readers can import.</p>
				<div class="mt-10 space-y-8">
					<div class="mt-6 flex items-center justify-end gap-x-6">
						<button type="button" onclick="history.back()" class="text-sm/6 font-semibold">Back</button>
						<a
							role="button"
							class="app-button"
							href="/user/export/opml"
							download
						>
							Export
						</a>
					</div>
				</div>
			</div>
		</div>
		<center id="processing" class="htmx-indicator">
			Processing, this could take a few minutes...
			@loading.Build(loading.Infinity).Show()
		</center>
	</div>
}
