// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package pages

import (
	"github.com/immanent-tech/go-feed-me/models"
	"github.com/immanent-tech/go-feed-me/server/session"
	"github.com/immanent-tech/go-feed-me/web/templates/partials"
	"slices"
	"strconv"
)

templ EditSubscription(request *models.EditSubscriptionRequest) {
	<div class="space-y-12 sm:space-y-16">
		<div>
			<h2 class="text-base/7 font-semibold">Edit { request.Nickname }</h2>
			<p class="mt-1 max-w-2xl text-sm/6 text-base-content/80">This information will be used in various places when displaying subscription information.</p>
			<div class="form-fieldset">
				<form
					id="edit-subscription"
					hx-put={ "/user/subscription/edit/" + request.SubscriptionID }
					hx-include="[name='user_categories']"
					hx-target={ partials.ContentID.Target() }
					hx-target-error={ partials.ContentID.Target() }
					hx-indicator="#processing"
				>
					<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
						<label for="username" class="input-label">Nickname</label>
						<div class="mt-2 sm:col-span-2 sm:mt-0">
							<input id="nickname" required type="text" name="nickname" value={ request.Nickname } placeholder="My Subscription" class="input-text"/>
						</div>
					</div>
				</form>
				<div>
					@partials.AddCategoryForm(request.SuggestedCategories, templ.Attributes{
						"hx-post":     "/user/subscription/category",
						"hx-push-url": "false",
						"hx-target":   "#current-categories",
						"hx-swap":     "beforeend",
						"hx-trigger":  "change,submit",
					})
					// Show current categories.
					<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
						<label class="input-label">Current Categories</label>
						<div class="mt-2 sm:col-span-2 sm:mt-0">
							@partials.ManageCategories(request.Categories)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-6 flex items-center justify-end gap-x-6">
		<div id="processing" class="htmx-indicator">
			Processing...
			<span class="loading loading-spinner loading-md"></span>
		</div>
		<button type="button" onclick="history.back()" class="btn btn-primary">Back</button>
		<button
			type="submit"
			form="edit-subscription"
			class="btn btn-primary"
		>Save</button>
	</div>
}

// AddSubscription is a page for adding a new subscription.
templ AddSubscription(request *models.SubscriptionRequest) {
	<div class="space-y-12 sm:space-y-16 pb-16">
		<div>
			<div>
				<h2 class="text-base/7 font-semibold">Add a new subscription</h2>
				<p class="mt-1 max-w-2xl text-sm/6 text-base-content/80">Fill out the following details and hit enter/click add.</p>
			</div>
			if request.HasError() {
				<div role="alert" class="alert alert-error alert-outline mt-12">
					<div class="px-4 py-5 sm:p-6 space-y-4">
						<h3 class="text-base font-semibold text-error-content">Invalid Details</h3>
						<div class="mt-2 max-w-xl text-sm text-error-content/50">
							<p>There is a problem with the details. Please check and try again.</p>
						</div>
						<button
							type="button"
							class="btn btn-error btn-soft"
							hx-get="/user/support"
							hx-target={ partials.ContentID.Target() }
							hx-push-url="true"
						>Contact support <span aria-hidden="true">&rarr;</span></button>
					</div>
				</div>
			}
			<div class="form-fieldset">
				<form
					id="add-subscription"
					hx-post="/user/subscription/add"
					hx-target={ partials.ContentID.Target() }
					hx-include="[name='user_categories']"
					hx-indicator="#processing"
					hx-on::after-request="if(event.detail.successful) this.reset()"
				>
					<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 py-2 sm:py-6">
						<div>
							<label for="username" class="input-label">URL</label>
							<p id="url-hint" class="input-hint">Required. The feed's URL or website.</p>
						</div>
						<div class="mt-2 sm:col-span-2 sm:mt-0">
							<input id="url" required type="url" name="url" value={ request.URL } placeholder="https://my-favorite-site/feed" class="input-text w-full"/>
							if request.URLErr != nil {
								<p class="input-hint-error">Error: { request.URLErr.Error() }</p>
							}
						</div>
					</div>
					<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 py-2 sm:py-6">
						<div>
							<label for="nickname" class="input-label">Nickname</label>
							<p id="nickname-hint" class="input-hint">Optional. A Friendly name for the subscription. Will use the feed's name if not specified.</p>
						</div>
						<div class="mt-2 sm:col-span-2 sm:mt-0">
							<input id="nickname" type="text" name="user_nickname" value={ request.Nickname } placeholder="My cool subscription" class={ templ.KV("input-text",request.NicknameErr == nil), templ.KV("input-text-error",request.NicknameErr !=nil) }/>
							if request.NicknameErr != nil {
								<p class="input-hint-error">{ request.NicknameErr.Error() }</p>
							}
						</div>
					</div>
				</form>
				<div>
					@partials.AddCategoryForm(nil, templ.Attributes{
						"hx-post":     "/user/subscription/category",
						"hx-push-url": "false",
						"hx-target":   "#current-categories",
						"hx-swap":     "beforeend",
						"hx-trigger":  "change,submit",
					})
					<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 py-2 sm:py-6">
						<label class="input-label">Current Categories</label>
						<div class="mt-2 sm:col-span-2 sm:mt-0">
							@partials.ManageCategories(request.Categories)
						</div>
					</div>
				</div>
			</div>
			<div class="flex items-center justify-end gap-x-6">
				<div id="processing" class="htmx-indicator">
					Processing...
					<span class="loading loading-spinner loading-md"></span>
				</div>
				<button
					type="button"
					onclick="history.back()"
					class="btn btn-primary"
				>Back</button>
				<button
					type="submit"
					form="add-subscription"
					class="btn btn-primary"
				>Add</button>
			</div>
		</div>
	</div>
}

templ AddSubscriptionSuccess(result *models.AddSubscriptionResult) {
	<div role="alert" class="alert alert-success alert-outline mt-12">
		<div class="px-4 py-5 sm:p-6 space-y-4">
			<h3 class="text-base font-semibold text-success-content">Subscription Added!</h3>
			<button
				type="button"
				class="btn btn-success btn-soft"
				hx-get="/user/support"
				hx-target={ partials.ContentID.Target() }
				hx-push-url="true"
			>Contact support <span aria-hidden="true">&rarr;</span></button>
		</div>
	</div>
}

// ImportPage is a page for importing subscriptions from an external source (e.g., an OPML file).
templ ImportSubscriptions() {
	<div class="space-y-12 sm:space-y-16">
		<div>
			<h2 class="text-base/7 font-semibold">Import subscriptions</h2>
			<p class="mt-1 max-w-2xl text-sm/6 text-base-content/80">You can import your existing subscriptions from an OPML file. Most feed services support generating an OPML file you can use.</p>
			<div class="form-fieldset">
				<form
					id="import"
					hx-encoding="multipart/form-data"
					hx-post="/user/import"
					hx-target="#import-results"
					hx-indicator="#processing"
				>
					<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
						<label for="source" class="input-label">OPML file</label>
						<div class="mt-2 sm:col-span-2 sm:mt-0">
							<fieldset class="fieldset">
								<input id="source" type="file" required name="source" class="file-input file-input-primary"/>
								<span class="validator-hint hidden">Make sure the file is a valid OPML file.</span>
							</fieldset>
						</div>
					</div>
					<div class="mt-6 flex items-center justify-end gap-x-6">
						<div id="processing" class="htmx-indicator">
							Processing...
							<span class="loading loading-spinner loading-md"></span>
						</div>
						<button type="button" onclick="history.back()" class="btn btn-primary">
							Back
						</button>
						<button
							type="submit"
							class="btn btn-primary"
						>
							Import
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="import-results" class="space-y-4"></div>
}

type AddSubscriptionResults map[*models.SubscriptionRequest]*models.AddSubscriptionResult

func (r AddSubscriptionResults) GetSuccessful() []*models.AddSubscriptionResult {
	return slices.Collect(models.FilterMapValues(r, func(result *models.AddSubscriptionResult) bool {
		return result.Message.Status == models.UserMessageStatusSuccess
	}))
}

func (r AddSubscriptionResults) GetFailed() []*models.AddSubscriptionResult {
	return slices.Collect(models.FilterMapValues(r, func(result *models.AddSubscriptionResult) bool {
		return result.Message.Status != models.UserMessageStatusSuccess
	}))
}

// ImportResults is a partial template that displays the results of an import.
templ ImportResults(results AddSubscriptionResults) {
	{{ successfulResults := results.GetSuccessful() }}
	{{ failedResults := results.GetFailed() }}
	<h2 class="text-base/7 font-semibold">Import Results</h2>
	<p class="text-sm italic">Imported: { strconv.Itoa(len(successfulResults)) } Failed: { strconv.Itoa(len(failedResults)) }</p>
	<button
		class="btn btn-primary"
		hx-get="/subscriptions"
		hx-target={ partials.ContentID.Target() }
		hx-vals={ models.GenerateHXVals(session.SubscriptionFiltersFromSession(ctx).Parameters()) }
	>
		Go to your subscriptions
	</button>
	<div class="mt-10 space-y-8 border-t border-neutral">
		<ul class="list">
			for response := range slices.Values(slices.Concat(successfulResults,failedResults)) {
				<li class="list-row items-center">
					switch response.Message.Status {
						case models.UserMessageStatusSuccess:
							@partials.HeroIconSuccess("size-10")
							<div>
								<div>{ response.Message.Summary }</div>
							</div>
						case models.UserMessageStatusError:
							@partials.HeroIconError("size-10")
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
						case models.UserMessageStatusWarning:
							@partials.HeroIconWarn("size-10")
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
					}
				</li>
			}
		</ul>
	</div>
	<button class="btn btn-neutral fixed right-0 bottom-0 m-4" href="#">Back to top</button>
}

// ExportPage is a page for exporting subscriptions via an OPML file.
type ExportPage struct{}

func NewExportPage() *ExportPage {
	return &ExportPage{}
}

templ (page *ExportPage) Content() {
	<div class="mt-8 max-w-prose">
		<div class="space-y-12 sm:space-y-16">
			<div>
				<h2 class="text-base/7 font-semibold">Export subscriptions</h2>
				<p class="mt-1 text-sm/6">You can export your current subscription to an OPML file, which all good feed readers can import.</p>
				<div class="mt-10 space-y-8">
					<div class="mt-6 flex items-center justify-end gap-x-6">
						<button type="button" onclick="history.back()" class="text-sm/6 font-semibold">Back</button>
						<a
							role="button"
							class="btn btn-primary"
							href="/user/export/opml"
							download
						>
							Export
						</a>
					</div>
				</div>
			</div>
		</div>
		<center id="processing" class="htmx-indicator">
			Processing, this could take a few minutes...
			<span class="loading loading-spinner loading-md"></span>
		</center>
	</div>
}
