// Copyright 2025 Joshua Rich <joshuarticle.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
	"strconv"
	"strings"
)

type article interface {
	object[models.ItemID]

	IsUnread() bool
	GetSubscriptionID() models.SubscriptionID
	GetFeedTitle() string
	GetContent() string
	IsRemoteContent() bool
}

// Card renders an article as a card, for displaying in a list.
templ ArticleCard(article article) {
	<li id={ article.GetID() }>
		<div
			class={ "card-base", templ.KV("opacity-50",!article.IsUnread()) }
		>
			// Header.
			<div class="flex items-center">
				<div class="flex flex-1 px-4 py-5 sm:px-6">
					if img := article.GetImage(); img != nil {
						@NewLink(
							WithHXMethod(http.MethodGet, "/view/article/"+article.GetID()),
							WithHXTarget(ContentID.Target()),
							WithHXPushURL(),
						) {
							<div class="relative w-full">
								<img
									class="w-full rounded-2xl bg-base-content-10 object-cover aspect-3/2"
									src={ "/img-proxy/300x200/" + img.GetURL() }
									if img.GetTitle() != "" {
										alt={ img.GetTitle() }
									}
								/>
								<div class="inset-0 rounded-2xl inset-ring inset-ring-base-content/20"></div>
							</div>
							<div class="flex max-w-xl grow flex-col justify-between">
								<div class="group relative grow">
									<h3 class="mt-3 text-lg/6 font-semibold text-pretty">
										if article.GetTitle() != "" {
											{ article.GetTitle() }
										} else {
											(no title)
										}
									</h3>
								</div>
							</div>
						}
					} else {
						@NewLink(
							WithHXMethod(http.MethodGet, "/view/article/"+article.GetID()),
							WithHXTarget(ContentID.Target()),
							WithHXPushURL(),
						) {
							<div class="group relative grow">
								<h3 class="mt-3 text-lg/6 font-semibold text-pretty line-clamp-3">
									if article.GetTitle() != "" {
										{ article.GetTitle() }
									} else {
										(no title)
									}
								</h3>
							</div>
						}
					}
				</div>
			</div>
			// Body.
			<div class="grid grid-flow-row items-center px-4 sm:px-6">
				<p class="grid text-xs/4 text-base-content/80 truncate">
					@NewLink(
						WithHXMethod(http.MethodGet, "/list/articles"),
						WithHXTarget(ContentID.Target()),
						WithHXPushURL(),
						WithHXVals(map[string]string{models.ParamSubscriptions: article.GetSubscriptionID()}),
						WithClasses("truncate"),
					) {
						{ article.GetFeedTitle() }
					}
				</p>
				if len(article.GetAuthors()) > 0 {
					<p class="inline-block text-xs/4 text-base-content/80 italic truncate">
						{ strings.Join(article.GetAuthors(),",") }
					</p>
				}
			</div>
			{{ text, err := models.ExtractText(article.GetContent()) }}
			// No error and text content is more than 5 words.
			if err == nil && len(strings.Fields(text)) > 5 {
				<div class="px-4 py-5 sm:p-6">
					<article class="prose prose-sm line-clamp-3">
						{ text }
					</article>
				</div>
			}
			// Footer.
			<div class="px-4 py-4 sm:px-6">
				<div class="flex justify-between items-center">
					<div class="flex flex-1 gap-x-2">
						<p class="text-xs/4 text-base-content/80 capitalize">
							Updated&nbsp;
							@ShowTimestamp(article.GetUpdatedDate())
						</p>
					</div>
					<div class="flex flex-none">
						@ContextMenu(article.GetTitle() + " Actions") {
							// Find similar action.
							@NewLink(
								WithHXMethod(http.MethodGet, "/view/article/"+article.GetID()+"/similar"),
								WithHXTarget(ContentID.Target()),
								WithHXPushURL(),
								WithClasses("context-menu-item-base"),
							) {
								@tabler.FileSearch(i.Props{Class: "size-4"})
								Find similar...
							}
							// Mark action.
							<form id={ "mark-" + article.GetID() }>
								<input type="hidden" name={ models.ParamSubscriptionID } value={ article.GetSubscriptionID() }/>
								{{ var markSwap string }}
								if models.PageFiltersFromCtx(ctx,"/list/subscriptions").GetView() == models.ViewAll {
									{{ markSwap = "outerHTML " }}
									// @MarkObjectLink(article, "#"+article.GetID(), "outerHTML", "context-menu-item-base")
								} else {
									{{ markSwap = "delete " }}
									// @MarkObjectLink(article, "#"+article.GetID(), "delete", "context-menu-item-base")
								}
								{{ var markURL string }}
								if article.IsUnread() {
									{{ markURL = "/mark/article/" + article.GetID() + "/read" }}
								} else {
									{{ markURL = "/mark/article/" + article.GetID() + "/unread" }}
								}
								@NewLink(
									WithHXMethod(http.MethodPost, markURL),
									WithHXTarget("#"+article.GetID()),
									WithHXSwap(markSwap),
									WithHXInclude("[name='csrf_token']"),
									WithClasses("context-menu-item-base"),
								) {
									switch article.IsUnread() {
										case true:
											@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
											Mark Read
										case false:
											@tabler.MailFilled(i.Props{Class: "size-4"})
											Mark Unread
									}
								}
							</form>
							// Favorite action. Wrapped in a div that can be targeted for hx-swapping.
							<form>
								<input type="hidden" name="display" value="card"/>
								<div id={ "favorite_" + article.GetID() }>
									@ToggleFavorite(article)
									// @FavoriteObjectLink(article, "context-menu-item-base")
								</div>
							</form>
							// Share action.
							@NewLink(
								// WithHXMethod(http.MethodGet, article.ViewURL()+"/share"),
								// WithHXTarget(ModalContainerID.Target()),
								WithClasses("context-menu-item-base"),
								WithCustomAttribute("_", "on click if navigator.share then "+shareAPIDialog(article)+" else call document.getElementById('share-"+article.GetID()+"').show() "),
								// WithCustomAttribute("_", "on htmx:afterOnLoad wait 10ms then call document.getElementById('share').show()"),
							) {
								@tabler.Share(i.Props{Class: "size-4"})
								Share
							}
							// Report issue action.
							@NewLink(
								WithHXMethod(http.MethodGet, "/issue/article/"+article.GetID()),
								WithHXTarget(ContentID.Target()),
								WithClasses("context-menu-item-base"),
							) {
								@tabler.FlagFilled(i.Props{Class: "size-4"})
								Report an issue
							}
						}
					</div>
				</div>
			</div>
		</div>
		@ShareObjectModal(article)
	</li>
}

// ArticleContent renders the complete content of an article.
templ ArticleContent(article article) {
	// Add the subscription ID as a hidden input that htmx can use for actions.
	<input type="hidden" name={ models.ParamSubscriptions } value={ article.GetSubscriptionID() }/>
	@Main() {
		// Title and actions menu.
		<div class="flex justify-center">
			<article id={ article.GetID() } class="prose prose-sm sm:prose-lg dark:prose-invert w-full sm:w-prose">
				<div class="flex mt-4 items-center">
					<div class="flex flex-1">
						<h2 class=" text-2xl/7 sm:text-3xl font-bold tracking-tight">
							{ article.GetTitle() }
						</h2>
					</div>
					<el-dropdown class="flex justify-self-end self-center">
						<button>
							<span class="sr-only">Article Actions</span>
							@tabler.DotsVertical(i.Props{Class: "size-6"})
						</button>
						<el-menu anchor="bottom end" popover class="context-menu-base py-2">
							// Toggle view full content action.
							@NewLink(
								WithHXMethod(http.MethodGet, "/view/article/"+article.GetID()),
								WithHXTarget(ContentID.Target()),
								WithHXInclude("#content-filters,[name='csrf_token']"),
								WithHXVals(map[string]string{models.ParamFullArticleContent: strconv.FormatBool(!article.IsRemoteContent())}),
								WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "no-underline", "hover:underline", "text-sm", "gap-4", "focus:text-accent", "focus:outline-hidden"),
							) {
								@tabler.FileDownloadFilled(i.Props{Class: "size-4"})
								if article.IsRemoteContent() {
									Show Feed Content
								} else {
									Show Remote Article
								}
							}
							// View original article action.
							@NewLink(
								WithCustomAttribute("href", article.GetLink()),
								WithCustomAttribute("target", "_blank"),
								WithCustomAttribute("rel", "noopener"),
								WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "no-underline", "hover:underline", "text-sm", "gap-4", "focus:text-accent", "focus:outline-hidden"),
							) {
								@tabler.ExternalLink(i.Props{Class: "size-4"})
								View Original Article
							}
							<form>
								<input type="hidden" name={ models.ParamSubscriptionID } value={ article.GetSubscriptionID() }/>
								<div id={ "mark_" + article.GetID() }>
									@UpdateViewArticleMark(article)
								</div>
							</form>
							// Favorite action.
							<form>
								<input type="hidden" name="display" value="content"/>
								<div id={ "favorite_" + article.GetID() }>
									@UpdateViewArticleFavorite(article)
								</div>
							</form>
							@NewLink(
								WithHXMethod(http.MethodGet, "/issue/article/"+article.GetID()),
								WithHXTarget(ContentID.Target()),
								WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "no-underline", "hover:underline", "text-sm", "gap-4", "focus:text-accent", "focus:outline-hidden"),
							) {
								@tabler.FlagFilled(i.Props{Class: "size-4"})
								Report An Issue
							}
						</el-menu>
					</el-dropdown>
				</div>
				// Author(s) and Published Time.
				<div class="flex flex-col">
					if len(article.GetAuthors()) > 0 {
						<p class="flex flex-1 text-sm/6 text-base-content/80 italic truncate">
							{ strings.Join(article.GetAuthors(),",") }
						</p>
					}
					<p class="flex flex-1 text-sm/6 text-base-content/80 capitalize">
						Updated&nbsp;
						@ShowTimestamp(article.GetUpdatedDate())
					</p>
				</div>
				// Content.
				<section>
					switch  {
						case article.GetContent() != "":
							@templ.Raw(article.GetContent())
						case article.GetDescription() != "":
							@templ.Raw(article.GetDescription())
					}
				</section>
			</article>
			// If the article is unread, after a delay or when the user scrolls this div into view, assume the article is
			// read and mark it so (when the user has set this option).
			{{ user, _ := models.UserFromCtx(ctx) }}
			if user.GetSettings().MarkArticleReadOnView && article.IsUnread() {
				<div
					hx-post={ "/mark/article/" + article.GetID() + "/read" }
					hx-target={ "#mark_" + article.GetID() }
					hx-include="[name='csrf_token']"
					hx-vals={ models.GenerateHXVals(map[string]string{models.ParamSubscriptionID: article.GetSubscriptionID(), models.ParamMark: string(models.MarkRead)}) }
					hx-swap="innerHTML"
					hx-trigger="intersect once,load delay:10s"
					hx-push-url="false"
					_="on htmx:afterRequest remove me"
				></div>
			}
		</div>
	}
}

// UpdateViewArticleMark updates the mark action when viewing an article.
templ UpdateViewArticleMark(article article) {
	{{ var markURL string }}
	if article.IsUnread() {
		{{ markURL = "/mark/article/" + article.GetID() + "/read" }}
	} else {
		{{ markURL = "/mark/article/" + article.GetID() + "/unread" }}
	}
	@NewLink(
		WithHXMethod(http.MethodPost, markURL),
		WithHXTarget("#mark_"+article.GetID()),
		WithHXInclude("[name='csrf_token']"),
		WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "no-underline", "hover:underline", "text-sm", "gap-4", "focus:text-accent", "focus:outline-hidden"),
	) {
		switch article.IsUnread() {
			case true:
				@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
				Mark Read
			case false:
				@tabler.MailFilled(i.Props{Class: "size-4"})
				Mark Unread
		}
	}
}

// UpdateViewArticleFavorite updates the favorite action when viewing an article.
templ UpdateViewArticleFavorite(article article) {
	{{ var favoriteURL string }}
	if article.IsFavorite() {
		{{ favoriteURL = "/user/favorite/remove/article/" + article.GetID() }}
	} else {
		{{ favoriteURL = "/user/favorite/add/article/" + article.GetID() }}
	}
	@NewLink(
		WithHXMethod(http.MethodPost, favoriteURL),
		WithHXTarget("#favorite_"+article.GetID()),
		WithHXInclude("[name='csrf_token']"),
		WithHXVals(map[string]string{"display": "content"}),
		WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "no-underline", "hover:underline", "text-sm", "gap-4", "focus:text-accent", "focus:outline-hidden"),
	) {
		switch article.IsFavorite() {
			case true:
				@tabler.HeartFilled(i.Props{Class: "size-4"})
				Remove Favorite
			case false:
				@tabler.Heart(i.Props{Class: "size-4"})
				Add Favorite
		}
	}
}

templ ArticlesGrid(articles models.Articles, pagination models.Pagination) {
	{{ filters := models.PageFiltersFromCtx(ctx, "/list/articles") }}
	@Main() {
		// Dynamic title with view and sort state.
		<div class="flex items-center justify-between mt-4">
			<div class="min-w-0 flex-1">
				<h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight capitalize">
					if len(articles.GetSubscriptionIDs()) == 1 {
						{ articles[0].GetFeedTitle() }
					} else {
						Articles
					}
				</h2>
			</div>
			// Actions menu.
			<el-dropdown class="inline-block flex-none">
				<button class="inline-flex flex-col items-center">
					<span class="sr-only">Articles Actions</span>
					@tabler.DotsVertical(i.Props{Class: "size-6"})
				</button>
				<el-menu anchor="bottom end" popover class="context-menu-base">
					<div class="py-1">
						// Mark all subscriptions action.
						@NewLink(
							WithHXMethod(http.MethodPost, "/list/articles/mark"),
							WithHXTarget(ContentID.Target()),
							WithHXInclude("#content-filters,[name='csrf_token']"),
							WithClasses("context-menu-item-base"),
						) {
							if models.PageFiltersFromCtx(ctx,"/list/articles").GetView() == models.ViewUnread {
								@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
								<span class="sr-only">Mark All Read</span>
								Mark all Read
							} else {
								@tabler.MailFilled(i.Props{Class: "size-4"})
								<span class="sr-only">Mark All Unread</span>
								Mark all Unread
							}
						}
						if len(articles.GetSubscriptionIDs()) == 1 {
							@NewLink(
								WithHXMethod(http.MethodGet, "/edit/subscription/"+articles.GetSubscriptionIDs()[0]),
								WithHXTarget(ContentID.Target()),
								WithHXPushURL(),
								WithClasses("context-menu-item-base"),
							) {
								@tabler.Edit(i.Props{Class: "size-4"})
								Edit Subscription
							}
						}
					</div>
				</el-menu>
			</el-dropdown>
		</div>
		<div id="content-filters" class="hidden">
			<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
			<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
			<input type="hidden" name={ models.ParamSortBy } value={ string(filters.GetSort().SortBy) }/>
			<input type="hidden" name={ models.ParamSortOrder } value={ string(filters.GetSort().SortOrder) }/>
			if len(filters.GetCategories()) > 0 {
				<input type="hidden" name={ models.ParamCategories } value={ strings.Join(filters.GetCategories(), ",") }/>
			}
			if len(filters.GetSubscriptions()) > 0 {
				<input type="hidden" name={ models.ParamSubscriptions } value={ strings.Join(filters.GetSubscriptions(), ",") }/>
			}
		</div>
		<div id="update-notifications" sse-connect={ "/list/articles/updates?" + filters.QueryString() } sse-swap="message" class="toast toast-center z-50"></div>
		@FilterControls(articles.GetCategoryCounts(), filters)
		<section class="mt-4">
			@Grid() {
				@ArticlesList(articles, pagination)
			}
		</section>
	}
}

templ ArticlesList(articles models.Articles, pagination models.Pagination) {
	{{ filters := models.PageFiltersFromCtx(ctx, "/list/articles") }}
	for article := range slices.Values(articles) {
		@ArticleCard(article)
	}
	// Add pagination element if pagination is required.
	if pagination != "" && len(articles) == filters.GetCount() {
		// Add pagination htmx props to last article.
		@PaginationControl(ctx, "/list/articles/paginate", pagination)
	}
}
