// Copyright 2025 Joshua Rich <joshuarticle.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"fmt"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/server/session"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"html"
	"slices"
	"strconv"
	"strings"
)

type Article struct {
	*models.Article
}

// NewArticleView wraps an Article object with additional methods for templates involving the article.
func NewArticleView(a *models.Article) *Article {
	return &Article{Article: a}
}

func (a *Article) SimilarArticlesAttributes() templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["hx-get"] = "/view/article/" + a.GetID() + "/similar"
	attrs["hx-target"] = ContentID.Target()
	attrs["hx-trigger"] = "click consume"
	return attrs
}

func (a *Article) ReportIssueAttributes() templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["hx-get"] = "/issue/article/" + a.GetID()
	attrs["hx-target"] = ContentID.Target()
	attrs["hx-replace-url"] = "true"
	attrs["hx-trigger"] = "click consume"
	return attrs
}

// Card renders an article as a card, for displaying in a list.
templ (a *Article) Card() {
	<article
		hx-get={ "/view/article/" + a.GetID() }
		hx-target={ ContentID.Target() }
		hx-swap="innerHTML show:window:top transition:true"
		hx-trigger="click"
		hx-push-url="true"
		hx-disinherit="*"
		id={ a.GetID() }
		class={
			"card bg-base-200 h-full w-full max-w-prose shadow-md cursor-pointer touch-manipulation",
			templ.KV("row-span-1", a.GetImage() == nil),
			templ.KV("row-span-2", a.GetImage() != nil),
		}
	>
		if img := a.GetImage(); img != nil {
			{{ img := a.GetImage() }}
			if img.GetTitle() == "" {
				{{ img.Title = new(a.GetTitle()) }}
			}
			<figure>
				@partials.NewProxiedImage(img, "rs:auto:400:300/sh:0.5/q:80/el:1/ex:1/gravity:sm/sm:1/kcr:1/scp:1/ext:webp",
					element.WithAttribute("width", "400"),
					element.WithAttribute("height", "300"),
					element.WithClasses("card-img"),
				)
			</figure>
		}
		// Hidden inputs used for some group article actions.
		<input type="hidden" name={ "displayed_articles[" + a.GetSubscriptionID() + "]" } value={ a.GetID() }/>
		<div class="card-body">
			<div class="mt-auto card-title line-clamp-3 tracking-tight text-pretty">
				if a.GetTitle() != "" {
					{ a.GetTitle() }
				} else {
					(no title)
				}
			</div>
			// Author and subscription details.
			<div class="mb-4 grid grid-flow-row grid-cols-1">
				if len(a.GetAuthors()) > 0 {
					<p class="inline-block truncate text-xs/4 italic">
						{ strings.Join(a.GetAuthors(),",") }
					</p>
				}
				<p class="inline-block truncate text-xs/4">
					<a
						hx-get="/list/articles"
						hx-target={ ContentID.Target() }
						hx-swap="innerHTML show:window:top transition:true"
						hx-trigger="click consume"
						hx-vals={ generateHXVals(map[string]any{models.ParamView: models.ViewUnread, models.ParamSubscriptions: a.GetSubscriptionID()}) }
						class="link truncate link-hover"
					>
						{ a.GetFeedTitle() }
					</a>
				</p>
			</div>
			// Add summarised description if article has one.
			if a.GetDescription() != "" {
				<div class="prose-summary">
					@templ.Raw(a.GetDescription())
				</div>
			}
			<div class="mt-auto card-actions items-center justify-between">
				// Timestamp.
				<div class="flex flex-1 gap-x-2">
					<span class="label text-xs/4 capitalize">
						Updated&nbsp;
						<relative-time
							datetime={ a.GetUpdatedDate().Format("2006-01-02T15:04:05-0700") }
							format="relative"
						>
							{ a.GetUpdatedDate().Format("ANSIC") }
						</relative-time>
					</span>
				</div>
				<form>
					<input type="hidden" name={ models.ParamSubscriptionID } value={ a.GetSubscriptionID() }/>
					<input type="hidden" name={ models.ParamItemID } value={ a.GetID() }/>
					<label class="swap touch-manipulation" _="on click halt the event's bubbling">
						<input
							hx-post={ "/favorite/article/" + a.GetID() }
							hx-swap="none"
							id={ a.GetID() + "-favorite-state" }
							type="checkbox"
							if a.IsFavorite() {
								checked
							}
							_="on htmx:afterRequest(failed) toggle @checked on me"
						/>
						@tabler.HeartFilled(i.Props{Class: "size-5 text-primary swap-on"})
						@tabler.Heart(i.Props{Class: "size-5 text-primary swap-off"})
					</label>
				</form>
				<form>
					<input type="hidden" name={ models.ParamSubscriptionID } value={ a.GetSubscriptionID() }/>
					<input type="hidden" name={ models.ParamItemID } value={ a.GetID() }/>
					<input
						type="hidden"
						name={ models.ParamMark }
						if a.IsUnread() {
							value={ models.MarkRead }
						} else {
							value={ models.MarkUnread }
						}
					/>
					<label class="swap touch-manipulation" _="on click halt the event's bubbling">
						<input
							hx-post={ "/mark/article/" + a.GetID() }
							hx-swap="none"
							id={ a.GetID() + "-read-state" }
							type="checkbox"
							if !a.IsUnread() {
								checked
							}
							_="
					on htmx:afterRequest(successful)
					tell the previous <input />
						get your value
						if your value equals 'read'
						set your value to 'unread'
						else
						set your value to 'read'
						end
					on htmx:afterRequest(failed) toggle @checked on me
					"
						/>
						@tabler.MailOpened(i.Props{Class: "size-5 text-primary swap-on"})
						@tabler.Mail(i.Props{Class: "size-5 text-primary swap-off"})
					</label>
				</form>
				// Actions menu.
				<div class="flex flex-none">
					<el-dropdown class="relative ml-auto touch-manipulation" _="on click halt the event's bubbling">
						<button class="btn btn-square btn-ghost btn-sm">
							<span class="sr-only">{ a.GetTitle() + " Actions" }</span>
							@tabler.Menu2(i.Props{Class: "size-5 text-primary"})
						</button>
						<el-menu
							anchor="bottom end"
							popover
							_="on htmx:afterRequest(successful) hidePopover() on me"
							class="w-fit"
						>
							<ul class="menu">
								// View original article action.
								<li>
									<a
										href={ a.GetLink() }
										target="_blank"
										rel="noopener"
										_="on click halt the event's bubbling"
										role="menuitem"
										tabindex="-1"
									>
										@tabler.ExternalLink(i.Props{Class: "size-4"})
										Go To Article
									</a>
								</li>
								// Find similar action.
								<li>
									<a
										role="menuitem"
										tabindex="-1"
										{ a.SimilarArticlesAttributes()... }
									>
										@tabler.FileSearch(i.Props{Class: "size-4"})
										Find similar...
									</a>
								</li>
								// Mobile share action via navigator API.
								<li _="init if not navigator.share then hide me">
									<a
										role="menuitem"
										tabindex="-1"
										_={ "on click " + shareAPIDialog(a.GetTitle(), a.GetLink()) + "then halt the event's bubbling" }
									>
										@tabler.Share(i.Props{Class: "size-4"})
										Share
									</a>
								</li>
								// Desktop share action with modal and options.
								<li _="init if navigator.share then hide me">
									<form>
										<input type="hidden" name="item_id" value={ a.GetID() }/>
										<input type="hidden" name="title" value={ a.GetTitle() }/>
										<input type="hidden" name="link" value={ a.GetLink() }/>
										<a
											role="menuitem"
											tabindex="-1"
											hx-post={ "/share/article/" + a.GetID() }
											hx-target={ partials.ModalContainerID.Target() }
											hx-trigger="click consume"
											class="flex items-center gap-x-2"
										>
											@tabler.Share(i.Props{Class: "size-4"})
											Share
										</a>
									</form>
								</li>
								// Report issue action.
								<li>
									<a
										role="menuitem"
										tabindex="-1"
										{ a.ReportIssueAttributes()... }
									>
										@tabler.FlagFilled(i.Props{Class: "size-4"})
										Report an issue
									</a>
								</li>
							</ul>
						</el-menu>
					</el-dropdown>
				</div>
			</div>
		</div>
	</article>
}

// ArticleContent renders the complete content of an article.
templ (a *Article) Content() {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				// Add the subscription ID as a hidden input that htmx can use for actions.
				<input type="hidden" name={ models.ParamSubscriptions } value={ a.GetSubscriptionID() }/>
				<article id={ a.GetID() } class="w-full sm:mx-auto sm:max-w-prose">
					// Article title.
					<div class="flex flex-1 pb-2">
						if a.SourceType != models.SourceTypeEmail {
							<a
								href={ a.GetLink() }
								target="_blank"
								rel="noopener"
								class="link link-hover focus:text-primary focus:outline-hidden"
							>
								<h1>{ a.GetTitle() }</h1>
							</a>
						} else {
							<h1>{ a.GetTitle() }</h1>
						}
					</div>
					// Subscription link.
					<div class="flex flex-1 pb-4">
						<form>
							{{ filters := session.GetListArticleFiltersFromSession(ctx) }}
							<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
							<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
							<input type="hidden" name={ models.ParamSort } value={ filters.GetSort() }/>
							<input type="hidden" name={ models.ParamSubscriptions } value={ a.GetSubscriptionID() }/>
							<input type="hidden" name={ models.ParamSubscriptionName } value={ a.GetFeedTitle() }/>
							<input type="hidden" name={ models.ParamSubscriptionID } value={ a.GetSubscriptionID() }/>
							<a
								hx-post="/list/articles"
								hx-target={ ContentID.Target() }
								hx-swap="innerHTML show:window:top transition:true"
								class="link link-hover focus:text-primary focus:outline-hidden"
							>
								{  a.GetFeedTitle() }
							</a>
						</form>
					</div>
					<div class="flex items-center">
						<div class="inline-grid flex-1">
							if a.SourceType != models.SourceTypeEmail {
								// Show authors if found.
								if len(a.GetAuthors()) > 0 {
									<p class="col-span-full truncate text-sm/6 italic">
										{ strings.Join(a.GetAuthors(),",") }
									</p>
								}
							}
							// Show updated date.
							<p class="col-span-full text-sm/6 capitalize">
								Updated&nbsp;
								<relative-time
									datetime={ a.GetUpdatedDate().Format("2006-01-02T15:04:05-0700") }
									format="relative"
								>
									{ a.GetUpdatedDate().Format("ANSIC") }
								</relative-time>
							</p>
						</div>
						<form class="p-2">
							<input type="hidden" name={ models.ParamSubscriptionID } value={ a.GetSubscriptionID() }/>
							<input type="hidden" name={ models.ParamItemID } value={ a.GetID() }/>
							<label class="swap" _="on click halt the event's bubbling">
								<input
									hx-post={ "/favorite/article/" + a.GetID() }
									hx-swap="none"
									id={ a.GetID() + "-favorite-state" }
									type="checkbox"
									if a.IsFavorite() {
										checked
									}
									_="on htmx:afterRequest(failed) toggle @checked on me"
								/>
								@tabler.HeartFilled(i.Props{Class: "size-5 swap-on"})
								@tabler.Heart(i.Props{Class: "size-5 swap-off"})
							</label>
						</form>
						<form class="p-2">
							<input type="hidden" name={ models.ParamSubscriptionID } value={ a.GetSubscriptionID() }/>
							<input type="hidden" name={ models.ParamItemID } value={ a.GetID() }/>
							<input
								type="hidden"
								name={ models.ParamMark }
								if a.IsUnread() {
									value={ models.MarkRead }
								} else {
									value={ models.MarkUnread }
								}
							/>
							<label class="swap" _="on click halt the event's bubbling">
								<input
									hx-post={ "/mark/article/" + a.GetID() }
									hx-swap="none"
									id={ a.GetID() + "-read-state" }
									type="checkbox"
									if !a.IsUnread() {
										checked
									}
									_="
					on htmx:afterRequest(successful)
					tell the previous <input />
						get your value
						if your value equals 'read'
						set your value to 'unread'
						else
						set your value to 'read'
						end
					on htmx:afterRequest(failed) toggle @checked on me
					"
								/>
								@tabler.MailOpened(i.Props{Class: "size-6 swap-on"})
								@tabler.Mail(i.Props{Class: "size-6 swap-off"})
							</label>
						</form>
						<div class="flex items-center justify-end">
							<el-dropdown>
								<button
									class="btn btn-square btn-ghost"
								>
									<span class="sr-only">Article Actions</span>
									@tabler.Menu2(i.Props{Class: "size-6"})
								</button>
								<el-menu
									anchor="bottom end"
									popover
									_="on htmx:afterRequest(successful) hidePopover() on me"
									class="w-fit"
								>
									<ul class="menu">
										// Find similar action.
										<li>
											<a { a.SimilarArticlesAttributes()... } role="menuitem">
												@tabler.FileSearch(i.Props{Class: "size-4"})
												Find similar...
											</a>
										</li>
										// Report article issue action.
										<li>
											<a { a.ReportIssueAttributes()... } role="menuitem">
												@tabler.FlagFilled(i.Props{Class: "size-4"})
												Report an issue
											</a>
										</li>
									</ul>
								</el-menu>
							</el-dropdown>
						</div>
					</div>
					// Content.
					switch  {
						case a.SourceType == models.SourceTypeEmail:
							// Article from email newsletter.
							<div
								class="prose-email mt-4 forced-width"
								data-disable-scripting
								hx-disable
							>
								@templ.Raw(a.GetContent())
							</div>
						case a.Item.ExtensionType != nil && *a.Item.ExtensionType == models.ItemExtensionTypeYoutube:
							// Youtube video.
							if youtubeData, err := a.Item.ExtensionData.AsItemExtensionYoutube(); err == nil {
								<div class="mt-8">
									<embed-youtube
										video-id={ youtubeData.VideoId }
										width={ *youtubeData.Width }
										height={ *youtubeData.Height }
										origin="https://foragd.app"
										credentialless
									></embed-youtube>
								</div>
							}
							if a.GetDescription() != "" {
								<div
									data-disable-scripting
									hx-disable
									class="prose-article mt-4 forced-width"
								>
									@templ.Raw(a.GetDescription())
								</div>
							}
							<nav class="my-16 flex flex-col items-center justify-center gap-2 text-sm sm:flex-row">
								@shareArticleButton(a)
							</nav>
						default:
							// Try to display content or description.
							if a.GetContent() != "" || a.GetDescription() != "" {
								<div
									data-disable-scripting
									hx-disable
									class="prose-article mt-4 forced-width"
									if a.ShowFullContent {
										transition-style="in:wipe:down"
									}
								>
									switch  {
										case a.GetContent() != "":
											@templ.Raw(a.GetContent())
										case a.GetDescription() != "":
											@templ.Raw(a.GetDescription())
									}
								</div>
							}
							<nav class="my-16 flex flex-col items-center justify-center gap-2 text-sm sm:flex-row">
								@getRemoteContentButton(a)
								@viewRemoteContentButton(a)
								@shareArticleButton(a)
							</nav>
					}
				</article>
				@partials.LoadingIndicator("")
				@partials.ButtonBackToTop()
				// If the article is unread, after a delay or when the user scrolls this div into view, assume the article is
				// read and mark it so (when the user has set this option).
				if a.IsUnread() && a.MarkArticleReadOnView {
					<form
						id="auto-mark-read"
						hx-target="#auto-mark-read"
						hx-post={ "/mark/article/" + a.GetID() }
						hx-swap="delete transition:false"
						hx-trigger="intersect once delay:5s,load delay:5s"
						aria-hidden="true"
						_={ "on htmx:afterRequest(successful) toggle @checked on #" + a.GetID() + "-read-state" }
					>
						<input type="hidden" name={ models.ParamItemID } value={ a.GetID() }/>
						<input type="hidden" name={ models.ParamSubscriptionID } value={ a.GetSubscriptionID() }/>
						<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
					</form>
				}
			}
		}
	}
}

templ getRemoteContentButton(a *Article) {
	// Show a toggle for fetching full content where it appears the feed content is only a summary
	// if len(strings.Fields(a.GetContent())) < 100 && !a.IsRemoteContent() {
	<a
		role="button"
		class="btn btn-wide btn-outline"
		hx-get={ "/view/article/" + a.GetID() }
		hx-target={ ContentID.Target() }
		hx-swap="innerHTML transition:true"
		hx-replace-url="true"
		hx-trigger="click consume"
		hx-indicator="#content-loading"
		hx-vals={ generateHXVals(map[string]any{models.ParamFullArticleContent: strconv.FormatBool(!a.IsRemoteContent())}) }
	>
		// _="on htmx:afterResponse[detail.failed] add @disabled to me"
		if a.IsRemoteContent() {
			@tabler.FileRss()
			Show Feed Content
		} else {
			@tabler.FileDownload()
			Get Remote Content
		}
	</a>
}

templ viewRemoteContentButton(a *Article) {
	// View original article action.
	<a
		role="button"
		class="btn btn-wide btn-outline"
		href={ a.GetLink() }
		target="_blank"
		rel="noopener"
		_="on click halt the event's bubbling"
	>
		@tabler.ExternalLink()
		View Remote
	</a>
}

templ shareArticleButton(a *Article) {
	// Mobile share action via navigator API.
	<div class="flex w-full justify-center" _="init if not navigator.share then hide me">
		<button
			class="btn btn-wide btn-outline"
			_={ "on click " + shareAPIDialog(a.GetTitle(), a.GetLink()) + "then halt the event's bubbling" }
		>
			@tabler.Share()
			Share
		</button>
	</div>
	// Desktop share action with modal and options.
	<form class="flex w-full justify-center" _="init if navigator.share then hide me">
		<input type="hidden" name="item_id" value={ a.GetID() }/>
		<input type="hidden" name="title" value={ a.GetTitle() }/>
		<input type="hidden" name="link" value={ a.GetLink() }/>
		<button
			class="btn btn-wide btn-outline"
			hx-post={ "/share/article/" + a.GetID() }
			hx-target={ partials.ModalContainerID.Target() }
			hx-trigger="click consume"
		>
			@tabler.Share()
			Share
		</button>
	</form>
}

// ListArticles renders the list of articles in a grid layout with filtering controls and an actions menu.
templ ListArticles(response *models.ListArticlesResponse) {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				// Watch for updates.
				// <div
				// 	id="update-notifications"
				// 	sse-connect={ "/list/articles/updates?" + response.Filters.QueryString() }
				// 	sse-swap="updates"
				// 	class="toast toast-center z-50"
				// ></div>
				// Show a page header.
				<div class="md:flex md:items-center md:justify-between">
					<div class="min-w-0 flex-1">
						{{ var title string }}
						if response.Subscription != nil {
							{{ title = response.Subscription.GetTitle() }}
						} else {
							{{ title = "Articles" }}
						}
						<h1>{ title }</h1>
					</div>
					<div class="mt-4 mb-2 flex space-x-4 sm:mt-8 sm:mb-4 md:ml-4">
						<span class="text-lg font-medium capitalize">{ response.Filters.GetView() }</span>
						<span class="text-lg font-medium capitalize">{ response.Filters.GetSort().String() }</span>
					</div>
				</div>
				<div
					if response.Subscription != nil {
						hx-vals={ templ.JSONString(map[string]string{models.ParamSubscriptionID: response.Subscription.GetID()}) }
					}
				>
					@FilterControls("/list/articles", &response.Filters) {
						<el-dropdown class="inline-block flex-none">
							<button id="articles-actions-button" class="btn inline-flex btn-wide">
								Actions
								@tabler.ChevronDown(i.Props{Class: "-mr-1 size-5"})
							</button>
							<el-menu
								id="articles-actions-menu"
								anchor="bottom start"
								popover
								_="
						on keydown from body if the event's key is 'x' and event.altKey then togglePopover() on me end
						on htmx:afterRequest(successful) hidePopover() on me
						"
								class="w-fit"
							>
								<ul class="menu">
									if response.Subscription == nil {
										if len(response.Articles) > 0 {
											// Mark all articles action.
											<form class="flex w-full items-center">
												<li>
													<a
														role="menuitem"
														tabindex="-1"
														if response.Filters.GetView() == models.ViewUnread {
															hx-post="/list/articles/mark/read"
														} else {
															hx-post="/list/articles/mark/unread"
														}
														hx-target={ ContentID.Target() }
														hx-include="article > input"
													>
														if response.Filters.GetView() == models.ViewUnread {
															@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
															<span class="sr-only">Mark All Read</span>
															Mark Articles Read
															<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
														} else {
															@tabler.Mail(i.Props{Class: "size-4"})
															<span class="sr-only">Mark All Unread</span>
															Mark Articles Unread
															<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
														}
													</a>
												</li>
											</form>
										} else {
											<li>
												<p class="px-4 py-2 italic">No actions.</p>
											</li>
										}
									} else {
										// Show mark read/unread action when not viewing all articles.
										if response.Filters.GetView() != models.ViewAll {
											// Mark subscription action.
											<form id={ "mark-" + response.Subscription.GetID() } class="flex w-full items-center">
												<input type="hidden" name={ models.ParamSubscriptionID } value={ response.Subscription.GetID() }/>
												<input type="hidden" name={ models.ParamView } value={ response.Filters.GetView() }/>
												// MarkURL returns the app URL for marking the subscription.
												{{ var markText string }}
												{{ var markIcon templ.Component }}
												if response.Filters.GetView() == models.ViewUnread {
													{{ markText = "Mark Subscription Read" }}
													{{ markIcon = tabler.MailOpenedFilled(i.Props{Class: "size-4"}) }}
													<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
												} else {
													{{ markText = "Mark Subscription Unread" }}
													{{ markIcon = tabler.MailFilled(i.Props{Class: "size-4"}) }}
													<input type="hidden" name={ models.ParamMark } value={ models.MarkUnread }/>
												}
												<li>
													<a
														hx-post={ "/mark/subscription/" + response.Subscription.GetID() }
														role="menuitem"
														tabindex="-1"
													>
														@markIcon
														{ markText }
													</a>
												</li>
											</form>
										}
										// Edit subscription action.
										<li>
											<a
												hx-get={ "/subscription/edit/" + response.Subscription.GetID() }
												hx-target={ ContentID.Target() }
												hx-params="not subscription_id"
												role="menuitem"
												tabindex="-1"
											>
												@tabler.Edit(i.Props{Class: "size-4"})
												Edit Subscription
											</a>
										</li>
									}
								</ul>
							</el-menu>
						</el-dropdown>
					}
				</div>
				<section class="mt-4">
					if len(response.Articles) > 0 {
						@grid(element.WithAttribute("hx-indicator", "")) {
							@templ.Fragment(PaginateFragment) {
								for article := range slices.Values(response.Articles) {
									@NewArticleView(article).Card()
								}
								// Add pagination element if pagination is required.
								if response.Pagination != "" && len(response.Articles) == response.Filters.GetCount() {
									<form
										class="invisible"
										hx-post="/list/articles/paginate"
										hx-vals={ generateHXVals(response.Filters.Values()) }
										hx-trigger="intersect once"
										hx-target="#grid-objects"
										hx-swap="beforeend transition:false"
										hx-indicator="#loading-articles"
										preload
										preload-images="true"
										_="on htmx:afterRequest remove me"
									>
										<input type="hidden" name={ models.ParamPagination } value={ response.Pagination }/>
									</form>
								}
							}
						}
						@partials.LoadingIndicator("loading-articles")
						@partials.ButtonBackToTop()
					} else {
						{{ response.Filters.Subscriptions = nil }}
						<div class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
							<div class="text-center">
								@tabler.Confetti(i.Props{Class: "mx-auto text-accent size-12"})
								<h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance">All caught up!</h1>
								<p class="mt-6 text-lg font-medium text-pretty">Congratulations, you've read everything!</p>
								<div class="mt-10 flex items-center justify-center gap-x-6">
									<a
										hx-get="/list/favorites"
										hx-target={ ContentID.Target() }
										hx-swap="innerHTML show:window:top transition:true"
										class="btn btn-accent"
									>
										View favorites
									</a>
								</div>
							</div>
						</div>
					}
				</section>
			}
		}
	}
}

templ ShareArticleModal(request *models.ShareArticleRequest) {
	{{ id := string(request.ItemID) + "-share" }}
	// _={ "on click if navigator.share then " + shareAPIDialog(a.GetTitle(), a.GetLink()) + " else call document.getElementById('share-" + a.GetID() + "').show() then halt the event's bubbling" }
	@partials.Modal(id, true) {
		<div class="sm:flex sm:items-start">
			<div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full sm:mx-0 sm:size-10">
				@tabler.Share(i.Props{Class: "size-12"})
			</div>
			<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
				<h3 id="dialog-title" class="text-base font-semibold">Share</h3>
				<div class="mt-2">
					<p class="text-sm">{ request.Title }</p>
				</div>
			</div>
		</div>
		<div class="mt-5 grid grid-flow-row grid-cols-3 items-center justify-center gap-x-2 gap-y-2 sm:mt-4">
			// @NewLink(
			// 	WithAttribute("href", fmt.Sprintf("https://twitter.com/intent/tweet?text=%s&url%s", html.EscapeString(obj.GetTitle()), html.EscapeString(obj.GetLink()))),
			// 	WithClasses("btn", "col-span-1", "twitter-share-button"),
			// ) {
			// 	@tabler.Mail(i.Props{Class: "size-4"})
			// 	Email
			// }
			<a
				href={ fmt.Sprintf("mailto:?subject=%q&body=%s", html.EscapeString(request.Title), request.Link) }
				class="btn col-span-1 col-start-2"
			>
				@tabler.Mail(i.Props{Class: "size-4"})
				Email
			</a>
			<div class="join col-span-3 flex space-x-2">
				<div class="flex-1">
					<label class="input join-item w-full">
						<input type="text" value={ request.Link } readonly/>
					</label>
				</div>
				<button
					_={ "on click set currentValue to (my innerHTML) then writeText('" + request.Link + "') on navigator.clipboard put 'Copied!' into me wait 1s put currentValue into me" }
					class="btn join-item flex items-center"
				>
					@tabler.Copy(i.Props{Class: "size-4"})
					Copy Link
				</button>
			</div>
		</div>
	}
}

func shareAPIDialog(title, link string) string {
	return fmt.Sprintf("navigator.share({title: %q, url: %q})", title, link)
}
