// Copyright 2025 Joshua Rich <joshuarticle.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
	"strconv"
	"strings"
)

type Article struct {
	*models.Article
}

// NewArticleView wraps an Article object with additional methods for templates involving the article.
func NewArticleView(a *models.Article) *Article {
	return &Article{Article: a}
}

// ViewRemoteAttributes generates a templ.Attributes object containing htmx directives for viewing the article remote content.
func (a *Article) ViewRemoteAttributes() templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["href"] = a.GetLink()
	attrs["target"] = "_blank"
	attrs["rel"] = "noopener"
	attrs["_"] = "on click halt the event's bubbling"
	return attrs
}

// ViewAttributes generates a templ.Attributes object containing htmx directives for viewing the article content.
func (a *Article) ViewAttributes() templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["hx-get"] = "/view/article/" + a.GetID()
	attrs["hx-target"] = ContentID.Target()
	attrs["hx-swap"] = "innerHTML show:window:top transition:true"
	attrs["hx-push-url"] = "true"
	attrs["hx-trigger"] = "click"
	return attrs
}

func (a *Article) SimilarArticlesAttributes() templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["hx-get"] = "/view/article/" + a.GetID() + "/similar"
	attrs["hx-target"] = ContentID.Target()
	attrs["hx-push-url"] = "true"
	attrs["hx-trigger"] = "click consume"
	return attrs
}

func (a *Article) MarkAttributes() templ.Attributes {
	attrs := make(templ.Attributes)
	vals := make(map[string]any)
	if a.IsUnread() {
		attrs["hx-post"] = "/mark/article/" + a.GetID() + "/read"
		vals[models.ParamMark] = models.MarkRead
	} else {
		attrs["hx-post"] = "/mark/article/" + a.GetID() + "/unread"
		vals[models.ParamMark] = models.MarkUnread
	}
	vals[models.ParamSubscriptionID] = a.GetSubscriptionID()
	vals[models.ParamItemID] = a.GetID()
	attrs["hx-vals"] = generateHXVals(vals)
	attrs["hx-include"] = "[name='csrf_token']"
	attrs["hx-trigger"] = "click consume"
	return attrs

}

func (a Article) FavoriteAttributes() templ.Attributes {
	attrs := make(templ.Attributes)
	if a.IsFavorite() {
		attrs["hx-post"] = "/user/favorite/remove/article/" + a.GetID()
	} else {
		attrs["hx-post"] = "/user/favorite/add/article/" + a.GetID()
	}
	attrs["hx-target"] = ID("favorite_" + a.GetID()).Target()
	attrs["hx-include"] = "[name='csrf_token']"
	attrs["hx-trigger"] = "click consume"
	return attrs
}

func (a *Article) ShareAttributes() templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["_"] = "on click if navigator.share then " + shareAPIDialog(a.GetTitle(), a.GetLink()) + " else call document.getElementById('share-" + a.GetID() + "').show() then halt the event's bubbling"
	return attrs
}

func (a *Article) ReportIssueAttributes() templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["hx-get"] = "/issue/article/" + a.GetID()
	attrs["hx-target"] = ContentID.Target()
	attrs["hx-replace-url"] = "true"
	attrs["hx-trigger"] = "click consume"
	return attrs
}

// Card renders an article as a card, for displaying in a list.
templ (a *Article) Card() {
	<article
		id={ a.GetID() }
		class={ "card card-link w-full max-w-100 h-full bg-base-200 shadow-md",
		templ.KV("row-span-1",a.GetImage() == nil),
		templ.KV("row-span-2",a.GetImage() != nil),
		templ.KV("opacity-50",!a.IsUnread()) }
		hx-disinherit="*"
		{ a.ViewAttributes()... }
	>
		// Hidden inputs used for some group article actions.
		<input type="hidden" name={ "displayed_articles[" + a.GetSubscriptionID() + "]" } value={ a.GetID() }/>
		if img := a.GetImage(); img != nil {
			{{ img := a.GetImage() }}
			if img.GetTitle() == "" {
				{{ img.Title = a.GetTitle() }}
			}
			<figure>
				@NewProxiedImage(img, "rs:auto:400:266/sh:0.5/q:80/el:1/ex:1/gravity:sm/sm:1/kcr:1/scp:1",
					WithAttribute("width", "400"),
					WithAttribute("height", "266"),
					WithClasses("inline"),
				)
			</figure>
		}
		<div class="card-body">
			<h2 class="card-title text-pretty line-clamp-3 tracking-tight">
				if a.GetTitle() != "" {
					{ a.GetTitle() }
				} else {
					(no title)
				}
			</h2>
			<div class="grid grid-cols-1 grid-flow-row mb-4">
				if len(a.GetAuthors()) > 0 {
					<p class="inline-block text-xs/4 italic truncate">
						{ strings.Join(a.GetAuthors(),",") }
					</p>
				}
				<p class="inline-block text-xs/4 truncate">
					<a
						hx-get="/list/articles"
						hx-target={ ContentID.Target() }
						hx-push-url="true"
						hx-swap="innerHTML show:window:top transition:true"
						hx-trigger="click consume"
						hx-vals={ generateHXVals(map[string]any{models.ParamView: models.ViewUnread, models.ParamSubscriptions: a.GetSubscriptionID()}) }
						class="link link-hover truncate"
					>
						{ a.GetFeedTitle() }
					</a>
				</p>
			</div>
			<div class="card-actions mt-auto justify-between items-center">
				// Timestamp.
				<div class="flex flex-1 gap-x-2">
					<p class="text-xs/4 capitalize">
						Updated&nbsp;
						@showTimestamp(a.GetUpdatedDate())
					</p>
				</div>
				// Actions menu.
				<div class="flex flex-none">
					<el-dropdown class="relative ml-auto" _="on click halt the event's bubbling">
						<button class="btn btn-sm btn-ghost btn-square">
							<span class="sr-only">a.GetTitle() + " Actions"</span>
							@tabler.DotsVertical(i.Props{Class: "size-5"})
						</button>
						<el-menu
							anchor="bottom end"
							popover
							_="on htmx:afterRequest(successful) hidePopover() on me"
							class="w-fit"
						>
							<div class="py-1">
								// View original article action.
								<a class="link link-hover focus:text-primary flex items-center px-4 focus:outline-hidden" { a.ViewRemoteAttributes()... }>
									@tabler.ExternalLink(i.Props{Class: "size-4"})
									Go To Article
								</a>
								// Find similar action.
								<a class="link link-hover focus:text-primary flex items-center px-4 focus:outline-hidden" { a.SimilarArticlesAttributes()... }>
									@tabler.FileSearch(i.Props{Class: "size-4"})
									Find similar...
								</a>
								// Mark action.
								<form
									if models.PageFiltersFromCtx(ctx, "/list/articles").GetView() == models.ViewAll {
										hx-swap="outerHTML transition:true"
									}
									if models.PageFiltersFromCtx(ctx, "/list/articles").GetView() != models.ViewAll {
										hx-swap="delete transition:true"
									}
									hx-target={ "#" + a.GetID() }
								>
									@a.MenuActionMark()
								</form>
								// Favorite action. Wrapped in a div that can be targeted for hx-swapping.
								<form>
									<input type="hidden" name="display" value="card"/>
									<div id={ "favorite_" + a.GetID() }>
										<a class="link link-hover focus:text-primary flex items-center px-4 focus:outline-hidden" { a.FavoriteAttributes()... }>
											switch a.IsFavorite() {
												case true:
													@tabler.HeartFilled(i.Props{Class: "size-4"})
													Remove Favorite
												case false:
													@tabler.Heart(i.Props{Class: "size-4"})
													Add Favorite
											}
										</a>
									</div>
								</form>
								// Share action.
								<a class="link link-hover focus:text-primary flex items-center px-4 focus:outline-hidden" { a.ShareAttributes()... }>
									@tabler.Share(i.Props{Class: "size-4"})
									Share
								</a>
								// Report issue action.
								<a class="link link-hover focus:text-primary flex items-center px-4 focus:outline-hidden" { a.ReportIssueAttributes()... }>
									@tabler.FlagFilled(i.Props{Class: "size-4"})
									Report an issue
								</a>
							</div>
						</el-menu>
					</el-dropdown>
				</div>
			</div>
		</div>
		@ShareObjectModal(a.GetID(), "Sharing "+a.GetTitle(), a.GetLink())
	</article>
}

// ArticleContent renders the complete content of an article.
templ (a *Article) Content() {
	// Add the subscription ID as a hidden input that htmx can use for actions.
	<input type="hidden" name={ models.ParamSubscriptions } value={ a.GetSubscriptionID() }/>
	@container() {
		<article id={ a.GetID() } class="w-full sm:max-w-prose sm:mx-auto">
			// Article title.
			<div class="flex flex-1 pb-2">
				if a.SourceType != models.SourceTypeEmail {
					@NewLink(
						WithAttribute("href", a.GetLink()),
						WithAttribute("target", "_blank"),
						WithAttribute("rel", "noopener"),
						WithClasses("group/item", "no-underline", "hover:underline", "focus:text-primary", "focus:outline-hidden"),
					) {
						@h2(a.GetTitle())
					}
				} else {
					@h2(a.GetTitle())
				}
			</div>
			// Subscription link.
			<div class="flex flex-1 pb-4">
				<form>
					{{ filters := models.PageFiltersFromCtx(ctx, "/list/articles") }}
					<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
					<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
					<input type="hidden" name={ models.ParamSort } value={ filters.GetSort() }/>
					<input type="hidden" name={ models.ParamSubscriptions } value={ a.GetSubscriptionID() }/>
					<input type="hidden" name={ models.ParamSubscriptionName } value={ a.GetFeedTitle() }/>
					<input type="hidden" name={ models.ParamSubscriptionID } value={ a.GetSubscriptionID() }/>
					@NewLink(
						WithHXMethod(http.MethodPost, "/list/articles"),
						WithHXTarget(ContentID.Target()),
						WithHXInclude("[name='csrf_token']"),
						WithHXPushURL(true),
						WithHXSwap("innerHTML show:window:top transition:true"),
						WithClasses("group/item", "no-underline", "hover:underline", "focus:text-primary", "focus:outline-hidden"),
					) {
						<h3>{ a.GetFeedTitle() }</h3>
					}
				</form>
			</div>
			<div class="flex items-center">
				<div class="flex-1 inline-grid">
					// Author(s) and Published Time.
					if len(a.GetAuthors()) > 0 {
						<p class="col-span-full text-sm/6 italic truncate">
							{ strings.Join(a.GetAuthors(),",") }
						</p>
					}
					<p class="col-span-full text-sm/6 capitalize">
						Updated&nbsp;
						@showTimestamp(a.GetUpdatedDate())
					</p>
				</div>
				<div class="flex items-center justify-end">
					<el-dropdown>
						<button
							id="btn-article-actions"
							class="btn btn-ghost btn-square"
						>
							<span class="sr-only">Article Actions</span>
							@tabler.DotsVertical()
						</button>
						<el-menu
							id="menu-article-actions"
							anchor="bottom end"
							popover
							_="on htmx:afterRequest(successful) hidePopover() on me"
							class="w-fit"
						>
							<div class="py-1">
								// Find similar action.
								<a class="link link-hover focus:text-primary flex items-center px-4 focus:outline-hidden" { a.SimilarArticlesAttributes()... }>
									@tabler.FileSearch(i.Props{Class: "size-4"})
									Find similar...
								</a>
								// Mark action.
								<form hx-swap="outerHTML transition:true" hx-target={ "#" + a.GetID() + "-mark-action" }>
									@a.MenuActionMark()
								</form>
								// Favorite action.
								<form>
									<input type="hidden" name="display" value="card"/>
									<div id={ "favorite_" + a.GetID() }>
										<a class="link link-hover focus:text-primary flex items-center px-4 focus:outline-hidden" { a.FavoriteAttributes()... }>
											switch a.IsFavorite() {
												case true:
													@tabler.HeartFilled(i.Props{Class: "size-4"})
													Remove Favorite
												case false:
													@tabler.Heart(i.Props{Class: "size-4"})
													Add Favorite
											}
										</a>
									</div>
								</form>
								// Report article issue action.
								<a class="link link-hover focus:text-primary flex items-center px-4 focus:outline-hidden" { a.ReportIssueAttributes()... }>
									@tabler.FlagFilled(i.Props{Class: "size-4"})
									Report an issue
								</a>
							</div>
						</el-menu>
					</el-dropdown>
				</div>
			</div>
			// Content.
			if a.GetContent() != "" || a.GetDescription() != "" {
				<div data-disable-scripting class="prose-custom forced-width">
					switch  {
						case a.GetContent() != "":
							@templ.Raw(a.GetContent())
						case a.GetDescription() != "":
							@templ.Raw(a.GetDescription())
					}
				</div>
			}
		</article>
	}
	if a.SourceType != models.SourceTypeEmail {
		<nav class="my-16 flex flex-col sm:flex-row gap-2 items-center justify-center text-sm">
			// Show a toggle for fetching full content where it appears the feed content is only a summary
			if len(strings.Fields(a.GetContent())) < 100 && !a.IsRemoteContent() {
				<a
					role="button"
					class="btn btn-primary"
					hx-vals={ generateHXVals(map[string]any{models.ParamFullArticleContent: strconv.FormatBool(!a.IsRemoteContent())}) }
					{ a.ViewAttributes()... }
				>
					if a.IsRemoteContent() {
						@tabler.FileRss()
						Feed content
					} else {
						@tabler.FileDownload()
						Remote content
					}
				</a>
			}
			// View original article action.
			<a role="button" class="btn btn-primary" { a.ViewRemoteAttributes()... }>
				@tabler.ExternalLink()
				View Remote
			</a>
			// Share article action.
			<a role="button" class="btn btn-primary" { a.ShareAttributes()... }>
				@tabler.Share()
				Share
			</a>
		</nav>
	}
	@btnBackToTop()
	// If the article is unread, after a delay or when the user scrolls this div into view, assume the article is
	// read and mark it so (when the user has set this option).
	if a.IsUnread() && a.MarkArticleReadOnView {
		<input type="hidden" name="view" value={ models.ViewAll }/>
		<div
			aria-hidden="true"
			hx-post={ "/mark/article/" + a.GetID() + "/read" }
			hx-swap="none"
			hx-include="[name='csrf_token'],[name='view']"
			hx-vals={ templ.JSONString(map[string]any{models.ParamSubscriptionID: a.GetSubscriptionID(), models.ParamMark: string(models.MarkRead)}) }
			hx-trigger="intersect once,load delay:10s"
			hx-push-url="false"
			_="on htmx:afterRequest remove me"
		></div>
	}
	@ShareObjectModal(a.GetID(), "Sharing "+a.GetTitle(), a.GetLink())
}

// MenuActionMark renders a menu action for marking an article.
templ (a *Article) MenuActionMark() {
	<a
		id={ a.GetID() + "-mark-action" }
		class="link link-hover focus:text-primary flex items-center px-4 focus:outline-hidden"
		{ a.MarkAttributes()... }
	>
		switch a.IsUnread() {
			case true:
				@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
				Mark Read
			case false:
				@tabler.MailFilled(i.Props{Class: "size-4"})
				Mark Unread
		}
	</a>
}

// UpdateViewArticleMark updates the mark action when viewing an article.
templ UpdateViewArticleMark(id string, isUnread bool) {
	{{ var markURL string }}
	if isUnread {
		{{ markURL = "/mark/article/" + id + "/read" }}
		<input type="hidden" name={ models.ParamView } value={ models.ViewUnread }/>
	} else {
		{{ markURL = "/mark/article/" + id + "/unread" }}
		<input type="hidden" name={ models.ParamView } value={ models.ViewRead }/>
	}
	@NewLink(
		WithHXMethod(http.MethodPost, markURL),
		WithHXTarget("#mark_"+id),
		WithHXInclude("[name='csrf_token']"),
		WithClasses("link-hover", "group/item", "flex", "items-center", "px-4", "py-2", "no-underline", "hover:underline", "text-sm", "gap-4", "focus:text-primary", "focus:outline-hidden"),
	) {
		switch isUnread {
			case true:
				@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
				Mark Read
			case false:
				@tabler.MailFilled(i.Props{Class: "size-4"})
				Mark Unread
		}
	}
}

// UpdateViewArticleFavorite updates the favorite action when viewing an article.
templ UpdateViewArticleFavorite(id models.ItemID, isFavorite bool) {
	{{ var favoriteURL string }}
	if isFavorite {
		{{ favoriteURL = "/user/favorite/remove/article/" + id }}
	} else {
		{{ favoriteURL = "/user/favorite/add/article/" + id }}
	}
	@NewLink(
		WithHXMethod(http.MethodPost, favoriteURL),
		WithHXTarget("#favorite_"+id),
		WithHXInclude("[name='csrf_token']"),
		WithHXVals(map[string]any{"display": "content"}),
		WithClasses("link-hover", "group/item", "flex", "items-center", "px-4", "py-2", "no-underline", "hover:underline", "text-sm", "gap-4", "focus:text-primary", "focus:outline-hidden"),
	) {
		switch isFavorite {
			case true:
				@tabler.HeartFilled(i.Props{Class: "size-4"})
				Remove Favorite
			case false:
				@tabler.Heart(i.Props{Class: "size-4"})
				Add Favorite
		}
	}
}

// ListArticles renders the list of articles in a grid layout with filtering controls and an actions menu.
templ ListArticles(response *models.ListArticlesResponse) {
	@container() {
		// Watch for updates.
		<div id="update-notifications" sse-connect={ "/list/articles/updates?" + response.Filters.QueryString() } sse-swap="message" class="toast toast-center z-50"></div>
		// Show a page header.
		<div class="md:flex md:items-center md:justify-between">
			<div class="min-w-0 flex-1">
				{{ var title string }}
				if response.Subscription != nil {
					{{ title = response.Subscription.GetTitle() }}
				} else {
					{{ title = "Articles" }}
				}
				@h2(title)
			</div>
			<div class="mt-4 flex md:mt-0 md:ml-4 space-x-4">
				@h3(response.Filters.GetView())
				@h3(response.Filters.GetSort().String())
			</div>
		</div>
		<div
			if response.Subscription != nil {
				hx-vals={ templ.JSONString(map[string]string{models.ParamSubscriptionID: response.Subscription.GetID()}) }
			}
		>
			@FilterControls("/list/articles", &response.Filters) {
				<el-dropdown class="inline-block flex-none">
					<button id="articles-actions-button" class="inline-flex btn btn-wide">
						Actions
						@tabler.ChevronDown(i.Props{Class: "-mr-1 size-5"})
					</button>
					<el-menu
						id="articles-actions-menu"
						anchor="bottom end"
						popover
						_="
						on keydown from body if the event's key is 'x' and event.altKey then togglePopover() on me end
						on htmx:afterRequest(successful) hidePopover() on me
						"
						class="w-fit"
					>
						<div class="py-1">
							if response.Subscription == nil {
								// Mark all articles action.
								<form class="flex items-center">
									<a
										class="link link-hover px-4 py-2 focus:text-primary focus:outline-hidden"
										if response.Filters.GetView() == models.ViewUnread {
											hx-post="/list/articles/mark/read"
										} else {
											hx-post="/list/articles/mark/unread"
										}
										hx-target={ ContentID.Target() }
										hx-include="[name='displayed_articles'],[name='csrf_token']"
									>
										if response.Filters.GetView() == models.ViewUnread {
											@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
											<span class="sr-only">Mark All Read</span>
											Mark Articles Read
											<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
										} else {
											@tabler.MailFilled(i.Props{Class: "size-4"})
											<span class="sr-only">Mark All Unread</span>
											Mark Articles Unread
											<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
										}
									</a>
								</form>
							} else {
								// Mark subscription action.
								<form id={ "mark-" + response.Subscription.GetID() } class="flex items-center">
									// MarkURL returns the app URL for marking the subscription.
									{{ var markURL string }}
									{{ var markText string }}
									{{ var markIcon templ.Component }}
									if response.Filters.GetView() == models.ViewUnread {
										{{ markURL = "/mark/subscription/" + response.Subscription.GetID() + "/read" }}
										{{ markText = "Mark Subscription Read" }}
										{{ markIcon = tabler.MailOpenedFilled(i.Props{Class: "size-4"}) }}
									} else {
										{{ markURL = "/mark/subscription/" + response.Subscription.GetID() + "/unread" }}
										{{ markText = "Mark Subscription Unread" }}
										{{ markIcon = tabler.MailFilled(i.Props{Class: "size-4"}) }}
									}
									<a
										hx-post={ markURL }
										hx-include="[name='csrf_token']"
										hx-vals={ generateHXVals(map[string]any{models.ParamView: models.PageFiltersFromCtx(ctx, "/list/articles").GetView()}) }
										class="link link-hover px-4 py-2 focus:text-primary focus:outline-hidden"
									>
										@markIcon
										{ markText }
									</a>
								</form>
								// Edit subscription action.
								<a
									hx-get={ "/edit/subscription/" + response.Subscription.GetID() }
									hx-target={ ContentID.Target() }
									hx-push-url="true"
									class="link link-hover px-4 py-2 flex items-center focus:text-primary focus:outline-hidden"
								>
									@tabler.Edit(i.Props{Class: "size-4"})
									Edit Subscription
								</a>
							}
						</div>
					</el-menu>
				</el-dropdown>
			}
		</div>
		<section class="mt-4">
			if len(response.Articles) > 0 {
				@grid() {
					@PaginateArticles(response)
				}
			} else {
				{{ response.Filters.Subscriptions = nil }}
				@emptyContent()
			}
		</section>
	}
}

// PaginateArticles renders the given list of articles as cards with an optional element to trigger pagination to load more.
templ PaginateArticles(response *models.ListArticlesResponse) {
	for article := range slices.Values(response.Articles) {
		@NewArticleView(article).Card()
	}
	// Add pagination element if pagination is required.
	if response.Pagination != "" && len(response.Articles) == response.Filters.GetCount() {
		// Add pagination htmx props to last article.
		@PaginationControl(ctx, "/list/articles/paginate", response.Pagination)
	}
}
