// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
	"strings"
)

templ CategoryManagement(suggested []models.Category, existing []models.Category) {
	<h2 class="text-base/7 font-semibold">Categories</h2>
	<p class="mt-1 max-w-2xl text-sm/6">Manage the categories for the subscription.</p>
	@partials.FormSection() {
		@partials.FormField() {
			<label for="category-suggestions" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Add category</label>
			<div class="mt-2 sm:col-span-2 sm:mt-0 join">
				<el-autocomplete class="sm:col-span-4 join join-item">
					<input
						id="category"
						name="category"
						class="input input-primary bg-base-300 brightness-95 join-item"
						placeholder="Category..."
					/>
					<button
						type="button"
						if len(suggested) == 0 {
							disabled
						}
						class="btn bg-base-100 brightness-95 join-item"
					>
						@tabler.ChevronDown()
					</button>
					<el-options popover anchor="bottom start" class="w-(--input-width) overflow-auto">
						for category := range slices.Values(suggested) {
							<el-option value={ category }>{ category }</el-option>
						}
					</el-options>
				</el-autocomplete>
				<button
					hx-post="/subscription/category"
					hx-params={ strings.Join([]string{"category", models.ParamCustomisationCategories}, ",") }
					hx-target="#current-categories"
					hx-swap="beforeend"
					type="button"
					class="btn btn-primary join-item"
					_="on htmx:afterRequest if event.detail.successful then set #category.value to ''"
				>
					@tabler.Plus()
				</button>
			</div>
		}
		@partials.FormField() {
			<label for="categories" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Categories</label>
			<div id="current-categories" class="mt-2 sm:col-span-2 sm:mt-0 flex flex-row flex-wrap p-2 gap-2">
				for category := range slices.Values(existing) {
					@AddCategory(category)
				}
			</div>
		}
	}
}

// AddCategory renders a new category item to the list of categories of a subscription.
templ AddCategory(category models.Category) {
	<div class="badge badge-outline m-1 flex items-center">
		<input type="hidden" name={ models.ParamCustomisationCategories } value={ category }/>
		{ category }
		<button
			type="button"
			aria-label={ "Remove category " + category }
			_="on click remove the closest <div/>"
		>
			@tabler.X(i.Props{Class: "size-4"})
		</button>
	</div>
}
