// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	tableroutline "github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
	gonanoid "github.com/matoous/go-nanoid/v2"
	"slices"
	"strings"
)

templ CategoryManagement(suggested []models.Category, existing []models.Category) {
	<div>
		<button type="button" command="--toggle" commandfor="categories" class="flex w-full items-center justify-between text-left">
			<div>
				<h2 class="text-base/7 font-semibold">Categories</h2>
				<p class="mt-1 max-w-2xl text-sm/6">Add/remove categories to the subscription.</p>
			</div>
			<span class="ml-6 flex h-7 items-center">
				@tableroutline.Plus(templ.Attributes{"class": "in-aria-expanded:hidden"})
				@tableroutline.Minus(templ.Attributes{"class": "not-in-aria-expanded:hidden"})
			</span>
		</button>
		@partials.FormSection() {
			<el-disclosure
				hidden
				id="categories"
			>
				<div class="space-y-8 border-b border-neutral/20 sm:space-y-0 sm:divide-y sm:divide-base-300 sm:border-t sm:border-t-base-300">
					@partials.FormField() {
						<label for="category-suggestion" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Add category</label>
						<div class="join mt-2 sm:col-span-2 sm:mt-0">
							<el-autocomplete class="join join-item sm:col-span-4">
								<input
									id="category-suggestion"
									name="category"
									class="input join-item bg-base-300 brightness-95 input-primary"
									placeholder="Category..."
									_="on keydown[key=='Enter'] send categorySuggestionSelected then halt the event"
								/>
								<button
									type="button"
									if len(suggested) == 0 {
										disabled
									}
									class="btn join-item bg-base-100 brightness-95"
								>
									<span class="sr-only">Show category suggestions</span>
									@tableroutline.ChevronDown(templ.Attributes{
										"class":       "transform transition-transform transition-discrete duration-200 not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180",
										"aria-hidden": "true"})
								</button>
								<el-options popover anchor="bottom start" class="w-(--input-width) overflow-auto">
									for category := range slices.Values(suggested) {
										<el-option value={ category }>{ category }</el-option>
									}
								</el-options>
							</el-autocomplete>
							<button
								hx-post="/subscription/category"
								hx-params={ strings.Join([]string{"category", models.ParamCustomisationCategories}, ",") }
								hx-target="#current-categories"
								hx-swap="beforeend"
								hx-trigger="click, categorySuggestionSelected from:body"
								type="button"
								class="btn join-item btn-primary"
								_="on htmx:afterRequest if event.detail.successful then set #category-suggestion.value to ''"
							>
								<span class="sr-only">Add category</span>
								@tableroutline.Plus(templ.Attributes{"aria-hidden": "true"})
							</button>
						</div>
					}
					@partials.FormField() {
						<label for="categories" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Categories</label>
						<div id="current-categories" class="mt-2 flex flex-row flex-wrap gap-2 p-2 sm:col-span-2 sm:mt-0">
							for category := range slices.Values(existing) {
								@AddCategory(category)
							}
						</div>
					}
				</div>
			</el-disclosure>
		}
	</div>
}

// AddCategory renders a new category item to the list of categories of a subscription.
templ AddCategory(category models.Category) {
	<div class="m-1 badge flex items-center badge-outline">
		<input type="hidden" name={ models.ParamCustomisationCategories } value={ category }/>
		{ category }
		<button
			type="button"
			aria-label={ "Remove category " + category }
			_="on click remove the closest <div/>"
		>
			<span class="sr-only">Remove category</span>
			@tableroutline.X(templ.Attributes{"aria-hidden": "true"})
		</button>
	</div>
}

// CategoryBadge renders a badge containing a category. Options can be used to apply additional styling or attributes
// (i.e. HTMX options) to the badge.
templ CategoryBadge(category models.Category, options ...element.PropertiesOption) {
	{{ props := element.NewProperties(options...) }}
	<span
		class={ "category-badge flex items-center rounded-lg bg-accent px-2 py-1 text-xs font-medium font-display text-accent-content transition-transform ease-in-out duration-400 active:bg-secondary active:text-secondary-content hover:scale-[1.1]", props.Classes() }
		{ props.Attributes()... }
	>
		{ category }
		{ children... }
	</span>
}

templ CategoryFilters(data *models.CategoryFilters) {
	if len(data.Categories) == 0 {
		<div class="flex p-4">
			<div class="flex h-5 shrink-0 items-center">
				<div class="group grid grid-cols-1">
					No categories
				</div>
			</div>
		</div>
	} else {
		for category := range slices.Values(data.Categories.Limit(10)) {
			@categoryOption(data.Path, category.Category, data.Filters)
		}
		if len(data.Filters.GetCategories()) > 0 {
			@clearCategoryFiltersOption(data.Path, data.Filters)
		}
	}
}

// categoryFilter renders a checkbox for a category filter.
templ categoryOption(path string, category models.Category, filters models.ListFilters) {
	{{
		var checked bool
		if filters.GetCategories().HasCategory(category) {
			checked = true
		}
		filters.Categories = []models.Category{category}
		var id string
		id, err := gonanoid.New()
		if err != nil {
			id = strings.ToLower(strings.ReplaceAll(category, " ", "-"))
		} else {
			id = id + "-" + strings.ToLower(strings.ReplaceAll(category, " ", "-"))
		}
	}}
	@partials.MenuItem() {
		<button
			aria-label={ category }
			class="group relative flex items-center"
			hx-get={ path }
			hx-target={ ContentID.Target() }
			hx-replace-url="true"
			hx-swap="innerHTML transition:true"
			hx-vals={ templ.JSONString(filters.Values()) }
			hx-params="not selected_subscriptions"
		>
			if checked {
				@tableroutline.Check(templ.Attributes{"class": "size-5 shrink-0 stroke-accent opacity-100", "aria-hidden": "true"})
			} else {
				@tableroutline.Check(templ.Attributes{"class": "size-5 shrink-0 stroke-accent opacity-0", "aria-hidden": "true"})
			}
			<span class="block text-sm/6 font-medium">{ category }</span>
		</button>
	}
}

templ clearCategoryFiltersOption(path string, filters models.ListFilters) {
	// Remove all current category filters.
	{{ filters.Categories = nil }}
	@partials.MenuItem() {
		<button
			class="group relative flex items-center"
			hx-get={ path }
			hx-target={ ContentID.Target() }
			hx-replace-url="true"
			hx-swap="innerHTML transition:true"
			hx-vals={ templ.JSONString(filters.Values()) }
			hx-params="not selected_subscriptions,categories"
		>
			@tableroutline.X(templ.Attributes{"class": "size-5 shrink-0 stroke-accent", "aria-hidden": "true"})
			<span class="block text-sm/6 font-medium">Clear</span>
		</button>
	}
}
