// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "github.com/immanent-tech/foragd/web/templates/partials"

templ Comparison(service string) {
	@content() {
		<main class="sm:pb-32">
			@container() {
				<div class="mx-auto lg:mx-0">
					<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">{ "Foragd vs "+service }</h1>
					<p class="mt-2 text-lg/8">
						A comparison of pricing and key features of each service. Here's how they differ.
					</p>
				</div>
				switch service {
					case "Feedly":
						@VsFeedly()
					case "Inoreader","Innoreader":
						@VsInoreader()
					default:
						<p class="mt-16 text-center font-semibold text-lg/8">
							We don't have a comparison of { service } yet. <a class="link" href="mailto:hello@foragd.app?subject=Service Comparison Request">Email us</a> to request it!
						</p>
				}
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<a class="btn text-sm/6 font-semibold btn-outline" href="/#features">
						More Foragd features
					</a>
					<a class="btn text-sm/6 font-semibold btn-primary" href="/signup">
						Start a free trial
					</a>
				</div>
				<div class="mt-10 text-center">
					<h2 class="my-4 text-lg/8">Compare Foragd with more services:</h2>
					<ul>
						<li><a class="link" href="/compare/feedly">Foragd vs Feedly</a></li>
						<li><a class="link" href="/compare/inoreader">Foragd vs Inoreader</a></li>
					</ul>
					<p class="my-4">See also: <a class="link" href="/posts/foragd-vs-inoreader-vs-feedly">Foragd vs Inoreader vs Feedly: a feed reader comparison</a>.</p>
				</div>
			}
			@partials.ButtonBackToTop()
		</main>
	}
}

templ VsFeedly() {
	<div class="mx-auto mt-10 max-w-2xl">
		<div class="overflow-x-auto">
			<table class="table w-full">
				<thead>
					<tr>
						<th>Feature</th>
						<th>Foragd</th>
						<th>Feedly</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3" class="font-semibold">Pricing and Plans</td>
					</tr>
					<tr>
						<td>Price (USD)</td>
						<td>Single plan $4.92/mo billed annually or $7.00/mo billed monthly</td>
						<td>Starting at $6.99/mo billed annually for base plan</td>
					</tr>
					<tr>
						<td>Trial Period</td>
						<td>Free access during beta period. 14 days when launched.</td>
						<td>None</td>
					</tr>
					<tr>
						<td colspan="3" class="font-semibold">Inclusions and Limits</td>
					</tr>
					<tr>
						<td>Subscription Limit</td>
						<td>3000</td>
						<td>1000</td>
					</tr>
					<tr>
						<td>Email Newsletters</td>
						<td>50</td>
						<td>None in base plan</td>
					</tr>
					<tr>
						<td colspan="3" class="font-semibold">Core Features</td>
					</tr>
					<tr>
						<td>Full-text search</td>
						<td>Yes</td>
						<td>Yes</td>
					</tr>
					<tr>
						<td>Article filtering</td>
						<td>Unlimited per subscription filters</td>
						<td><span class="italic">Limited in base plan</span></td>
					</tr>
					<tr>
						<td>Topic monitoring</td>
						<td>Unlimited saved searches</td>
						<td><span class="italic">Limited</span></td>
					</tr>
					<tr>
						<td>Fetch remote content</td>
						<td>Yes</td>
						<td>No</td>
					</tr>
					<tr>
						<td>Android/iOS Apps</td>
						<td>Not needed. Fully responsive web app</td>
						<td>Yes</td>
					</tr>
					<tr>
						<td colspan="3" class="italic">Last updated: 2026-04-09</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="mx-auto mt-10 max-w-2xl">
		<p>Based on this, we believe Foragd is better priced with more inclusions at a single subscription price.</p>
	</div>
}

templ VsInoreader() {
	<div class="mx-auto mt-10 max-w-2xl">
		<div class="overflow-x-auto">
			<table class="table w-full">
				<thead>
					<tr>
						<th>Feature</th>
						<th>Foragd</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3" class="font-semibold">Pricing and Plans</td>
					</tr>
					<tr>
						<td>Price (USD)</td>
						<td>$4.92/mo billed annually or $7.00/mo billed monthly</td>
						<td>$7.50/mo billed annually or $9.99/mo billed monthly</td>
					</tr>
					<tr>
						<td>Trial Period</td>
						<td>Free access during beta period. 14 days when launched.</td>
						<td>15 days</td>
					</tr>
					<tr>
						<td colspan="3" class="font-semibold">Inclusions and Limits</td>
					</tr>
					<tr>
						<td>Subscription Limit</td>
						<td>3000</td>
						<td>2500</td>
					</tr>
					<tr>
						<td>Email Newsletters</td>
						<td>50</td>
						<td>20</td>
					</tr>
					<tr>
						<td colspan="3" class="font-semibold">Core Features</td>
					</tr>
					<tr>
						<td>Full-text search</td>
						<td>Yes</td>
						<td>Yes</td>
					</tr>
					<tr>
						<td>Article filtering</td>
						<td>Unlimited per subscription filters</td>
						<td>Up to 30 filters across all subscriptions</td>
					</tr>
					<tr>
						<td>Topic monitoring</td>
						<td>Saved searches (up to subscription limit)</td>
						<td>Up to 30 topic monitors</td>
					</tr>
					<tr>
						<td>Fetch remote content</td>
						<td>Yes</td>
						<td>Yes</td>
					</tr>
					<tr>
						<td>Android/iOS Apps</td>
						<td>Not needed. Fully responsive web app</td>
						<td>Yes</td>
					</tr>
					<tr>
						<td colspan="3" class="italic">Last updated: 2026-04-09</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="mx-auto mt-10 max-w-2xl">
		<p>Based on this, we believe Foragd is better priced with more inclusions at a single subscription price.</p>
	</div>
}
