// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "github.com/immanent-tech/go-base/pkg/markdownx"
import "github.com/immanent-tech/foragd/web/templates/element"

templ Comparison(text *markdownx.File) {
	@LayoutExternal() {
		@buttonBackToTop()
		@narrowContainer() {
			@pageHeading(element.WithClasses("mt-12")) {
				@pageTitle(text.Frontmatter.PageTitle)
			}
			// Main content.
			<article class="prose-document mt-12">
				@templ.Raw(string(text.Content))
			</article>
			// Links.
			<div class="mt-10 flex items-center justify-center gap-x-6">
				<a role="button" class="btn btn-outline text-sm/6 font-semibold" href="/features">
					More Foragd features
				</a>
				<a role="button" class="btn text-sm/6 font-semibold btn-primary" href="/signup">
					Start a free trial
				</a>
			</div>
			// Navigation.
			<nav class="mt-10 text-center" aria-label="Related comparisons">
				<h2 class="my-4 text-lg/8 font-semibold">Compare Foragd with more services:</h2>
				<ul>
					<li><a role="button" class="link" href="/compare/feedly">Foragd vs Feedly</a></li>
					<li><a role="button" class="link" href="/compare/inoreader">Foragd vs Inoreader</a></li>
					<li><a role="button" class="link" href="/compare/freshrss">Foragd vs FreshRSS</a></li>
				</ul>
				<p class="my-4">See also: <a class="link" href="/blog/foragd-vs-inoreader-vs-feedly">Foragd vs Inoreader vs Feedly: a feed reader comparison</a>.</p>
			</nav>
		}
	}
}
