// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "github.com/immanent-tech/foragd/models"

// container restricts content to a max width and adds padding.
templ container() {
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-8">
		{ children... }
	</div>
}

// grid can be used as a container for defining a responsive grid layout for children elements.
templ grid() {
	<div
		role="list"
		class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2 sm:gap-4 items-center"
		id="grid-objects"
	>
		{ children... }
	</div>
	@btnBackToTop()
}

// Document renders the given raw HTML data as full-page prose content. Used primarily for hosted markdown documents
// (i.e., privacy policy, terms of service, etc.)
templ Document(data []byte) {
	@container() {
		<div class="prose sm:prose-lg prose-img:shadow-md my-4">
			@templ.Raw(string(data))
		</div>
		@btnBackToTop()
	}
}

// Content renders the given template wrapped with appropriate header/footer navigation. Used for most user content
// pages.
templ Content(user *models.User, content templ.Component) {
	@header(user)
	@SideBar(nil)
	<main aria-label="Main Content" class="lg:pl-36 scroll-mt-16 pb-20 sm:pb-8">
		<div id={ ContentID.String() } hx-indicator="#content-loading">
			@content
		</div>
		<div id="content-loading" class="mt-8 flex mx-auto justify-center items-center space-x-2 htmx-indicator">
			<span class="loading loading-bars loading-xl"></span>
			<p class="text-lg/loose font-semibold text-accent">Loading content...</p>
		</div>
	</main>
	@Dock(nil)
}
