// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
	"strconv"
	"strings"
)

templ FilterControls(path string, categories models.CategoryCounts, filters *models.ListDisplayFilters) {
	// Mobile filters dialog slides in from the right.
	<el-dialog>
		<dialog id="mobile-filters-menu" class="overflow-hidden sm:hidden">
			<el-dialog-backdrop></el-dialog-backdrop>
			<div tabindex="0" class="fixed inset-0 flex focus:outline-none">
				<el-dialog-panel class="relative ml-auto flex size-full max-w-xs transform flex-col overflow-y-auto bg-base-300 pt-4 pb-6 shadow-xl">
					<div class="flex items-center justify-between px-4">
						<h2 class="text-lg font-medium">Filters</h2>
						<button
							type="button"
							command="close"
							commandfor="mobile-filters-menu"
							class="relative -mr-2 flex size-10 items-center justify-center rounded-md  p-2"
						>
							<span class="absolute -inset-0.5"></span>
							<span class="sr-only">Close menu</span>
							@tabler.X(i.Props{Class: "size-6"})
						</button>
					</div>
					// Category Filters.
					if len(categories.GetTopCategories(10)) > 0 {
						<div class="border-t border-base-content/10 px-4 py-6">
							<h3 class="-mx-2 -my-3 flow-root">
								<button
									type="button"
									command="--toggle"
									commandfor="filter-section-category"
									class="flex w-full items-center justify-between px-2 py-3 text-sm"
								>
									<span class="font-medium">Category</span>
									<span class="ml-6 flex items-center">
										@tabler.ChevronDown(i.Props{Class: "size-5 transform not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180"})
									</span>
								</button>
							</h3>
							<el-disclosure id="filter-section-category" hidden class="block pt-6">
								<div class="flex flex-col">
									// Top 10 categories only.
									for idx, category := range categories.GetTopCategories(10) {
										@categoryFilter(path, "filter-mobile-category-"+strconv.Itoa(idx), category, filters)
									}
									if len(filters.GetCategories()) > 0 {
										<div class="flex justify-end">
											@clearCategoryFilters(path, "clear-category-filters-mobile", filters)
										</div>
									}
								</div>
							</el-disclosure>
						</div>
					}
					// View Filters (mobile).
					<div class="mt-4 border-t border-base-content/10 px-4 py-6">
						<h3 class="-mx-2 -my-3 flow-root">
							<button
								type="button"
								command="--toggle"
								commandfor="filter-section-view"
								class="flex w-full items-center justify-between px-2 py-3 text-sm"
							>
								<span class="font-medium">View</span>
								<span class="ml-6 flex items-center">
									@tabler.ChevronDown(i.Props{Class: "size-5 transform not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180"})
								</span>
							</button>
						</h3>
						<el-disclosure id="filter-section-view" hidden class="block pt-6">
							<div class="space-y-6">
								@viewFilter(path, "filter-mobile-view-unread", models.ViewUnread, filters)
								@viewFilter(path, "filter-mobile-view-read", models.ViewRead, filters)
								@viewFilter(path, "filter-mobile-view-all", models.ViewAll, filters)
								if path == "/list/subscriptions" {
									@viewFilterOnlyFavorites(path, "filter-mobile-only-favorites", filters)
								}
							</div>
						</el-disclosure>
					</div>
					// Sorting (mobile).
					<div class="mt-4 border-t border-base-content/10 px-4 py-6">
						<h3 class="-mx-2 -my-3 flow-root">
							<button
								type="button"
								command="--toggle"
								commandfor="filter-section-sort"
								class="flex w-full items-center justify-between px-2 py-3 text-sm"
							>
								<span class="font-medium">Sort</span>
								<span class="ml-6 flex items-center">
									@tabler.ChevronDown(i.Props{Class: "size-5 transform not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180"})
								</span>
							</button>
						</h3>
						<el-disclosure id="filter-section-sort" hidden class="block pt-6">
							<div class="space-y-6">
								@sortOption(path, models.SortNewestFirst, filters)
								@sortOption(path, models.SortOldestFirst, filters)
								if path == "/list/subscriptions" {
									@sortOption(path, models.SortMostUnread, filters)
									@sortOption(path, models.SortLeastUnread, filters)
								}
							</div>
						</el-disclosure>
					</div>
				</el-dialog-panel>
			</div>
		</dialog>
	</el-dialog>
	<section aria-labelledby="filter-heading">
		<h2 id="filter-heading" class="sr-only">Filters</h2>
		<div class="border-b border-base-content/40 py-4">
			<div class="mx-auto flex max-w-7xl items-center justify-between">
				{ children... }
				<button
					type="button"
					command="show-modal"
					commandfor="mobile-filters-menu"
					class="inline-block sm:hidden btn"
				>Filters</button>
				<div class="hidden sm:flex">
					<div class="flex gap-x-4 ">
						if len(categories.GetTopCategories(10)) > 0 {
							<el-dropdown class="inline-block">
								<button class="inline-flex btn btn-wide">
									Category
									@tabler.ChevronDown(i.Props{Class: "-mr-1 size-5"})
								</button>
								<el-menu anchor="bottom end" popover>
									<div class="py-1">
										// Top 10 categories only.
										for idx, category := range categories.GetTopCategories(10) {
											@categoryFilter(path, "filter-mobile-category-"+strconv.Itoa(idx), category, filters)
										}
									</div>
									if len(filters.GetCategories()) > 0 {
										<div class="py-1">
											@clearCategoryFilters(path, "clear-category-filters-desktop", filters)
										</div>
									}
								</el-menu>
							</el-dropdown>
						}
						// View filters.
						<el-dropdown class="inline-block">
							<button class="inline-flex btn btn-wide">
								View
								@tabler.ChevronDown(i.Props{Class: "-mr-1 size-5"})
							</button>
							<el-menu anchor="bottom end" popover>
								<div class="py-1">
									@viewFilter(path, "filter-view-unread-desktop", models.ViewUnread, filters)
									@viewFilter(path, "filter-view-read-desktop", models.ViewRead, filters)
									@viewFilter(path, "filter-view-all-desktop", models.ViewAll, filters)
								</div>
								if path == "/list/subscriptions" {
									<div class="py-1">
										@viewFilterOnlyFavorites(path, "filter-only-favorites-desktop", filters)
									</div>
								}
							</el-menu>
						</el-dropdown>
						// Sorting.
						<el-dropdown class="inline-block">
							<button class="inline-flex btn btn-wide">
								Sort
								@tabler.ChevronDown(i.Props{Class: "-mr-1 size-5"})
							</button>
							<el-menu anchor="bottom end" popover>
								<div class="py-1">
									@sortOption(path, models.SortNewestFirst, filters)
									@sortOption(path, models.SortOldestFirst, filters)
									if path == "/list/subscriptions" {
										@sortOption(path, models.SortMostUnread, filters)
										@sortOption(path, models.SortLeastUnread, filters)
									}
								</div>
							</el-menu>
						</el-dropdown>
					</div>
				</div>
			</div>
		</div>
		// Active Filters.
		if (path == "/list/subscriptions" && filters.OnlyFavorites) || len(filters.GetCategories()) > 0 {
			<div>
				<div class="mx-auto max-w-7xl px-4 py-3 sm:flex sm:items-center sm:px-6 lg:px-8">
					<h3 class="text-sm font-medium">
						Filtered By
					</h3>
					<div aria-hidden="true" class="hidden h-5 w-px bg-base-content/40 sm:ml-4 sm:block"></div>
					<div class="mt-2 sm:mt-0 sm:ml-4">
						<div class="-m-1 flex flex-wrap items-center">
							// // Show view filter badge indicator.
							// <div class="badge badge-secondary m-1 capitalize">
							// 	{ filters.GetView() }
							// </div>
							// // Show sort filter badge indicator.
							// <div class="badge badge-secondary m-1 capitalize">
							// 	{ filters.GetSort().String() }
							// </div>
							// Add favorites filter badge if listing subscriptions and favorites filter is active.
							if path == "/list/subscriptions" && filters.OnlyFavorites {
								<div class="badge badge-secondary m-1">
									<form id="filter-clear-only-favorites" class="flex items-center">
										<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
										<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
										<input type="hidden" name={ models.ParamSort } value={ string(filters.GetSort()) }/>
										for subscription := range slices.Values(filters.GetSubscriptions()) {
											<input type="hidden" name={ models.ParamSubscriptions } value={ subscription }/>
										}
										for category := range slices.Values(filters.GetCategories()) {
											<input type="hidden" name={ models.ParamCategories } value={ category }/>
										}
										Favorites
										<button
											hx-get={ models.PathFromCtx(ctx) }
											hx-replace-url="true"
											hx-target={ ContentID.Target() }
											hx-vals={ `{"only_favorites": "false"}` }
											hx-swap="innerHTML transition:true"
										>
											@tabler.X(i.Props{Class: "size-4"})
										</button>
									</form>
								</div>
							}
							// Add filter badges for any active category filters.
							for category := range slices.Values(categories.GetTopCategories(10)) {
								if slices.Contains(filters.GetCategories(),category.Category) {
									@activeCategoryFilterBadge(path, category.Category, filters)
								}
							}
						</div>
					</div>
				</div>
			</div>
		}
	</section>
}

// viewFilter renders a checkbox for a view filter.
templ viewFilter(path, id string, view models.View, filters *models.ListDisplayFilters) {
	{{ var class string }}
	if view == filters.GetView() {
		{{ class = "text-primary font-semibold" }}
	}
	<form id={ "view-filter-" + view }>
		<input type="hidden" name={ models.ParamView } value={ view }/>
		<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
		<input type="hidden" name={ models.ParamSort } value={ string(filters.GetSort()) }/>
		for subscription := range slices.Values(filters.GetSubscriptions()) {
			<input type="hidden" name={ models.ParamSubscriptions } value={ subscription }/>
		}
		for category := range slices.Values(filters.GetCategories()) {
			<input type="hidden" name={ models.ParamCategories } value={ category }/>
		}
		@NewLink(
			WithHXMethod(http.MethodPost, path),
			WithHXTarget(ContentID.Target()),
			WithHXInclude("[name='csrf_token']"),
			WithHXReplaceURL(true),
			WithHXSwap("innerHTML transition:true"),
			WithClasses("link-hover", "block", "px-4", "py-2", "text-sm", "focus:text-primary", "focus:outline-hidden", "capitalize", class),
		) {
			{ string(view) }
		}
	</form>
}

templ viewFilterOnlyFavorites(path, id string, filters *models.ListDisplayFilters) {
	{{ var onlyFavoritesActiveClass string }}
	{{ overrides := make(map[string]any) }}
	if filters.OnlyFavorites {
		{{ onlyFavoritesActiveClass = "text-primary font-semibold" }}
		{{ overrides[models.ParamOnlyFavorites] = "false" }}
	}
	<form id={ id }>
		<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
		<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
		<input type="hidden" name={ models.ParamSort } value={ string(filters.GetSort()) }/>
		for subscription := range slices.Values(filters.GetSubscriptions()) {
			<input type="hidden" name={ models.ParamSubscriptions } value={ subscription }/>
		}
		for category := range slices.Values(filters.GetCategories()) {
			<input type="hidden" name={ models.ParamCategories } value={ category }/>
		}
		@NewLink(
			WithHXMethod(http.MethodGet, path),
			WithHXTarget(ContentID.Target()),
			WithHXVals(overrides),
			WithHXReplaceURL(true),
			WithHXSwap("innerHTML transition:true"),
			WithHXVals(map[string]any{"only_favorites": strconv.FormatBool(!filters.OnlyFavorites)}),
			WithClasses("link-hover", "block", "px-4", "py-2", "text-sm", "focus:text-primary", "focus:outline-hidden", "capitalize", onlyFavoritesActiveClass),
		) {
			Only Favorites
		}
	</form>
}

// categoryFilter renders a checkbox for a category filter.
templ categoryFilter(path, id string, category models.CategoryCount, filters *models.ListDisplayFilters) {
	{{ var class string }}
	if filters.GetCategories().HasCategory(category.Category) {
		{{ class = "text-primary font-semibold" }}
	}
	<form id={ "filter-category-" + strings.ToLower(strings.ReplaceAll(category.Category, " ", "_")) }>
		<input type="hidden" name={ models.ParamCategories } value={ category.Category }/>
		<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
		<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
		<input type="hidden" name={ models.ParamSort } value={ string(filters.GetSort()) }/>
		for subscription := range slices.Values(filters.GetSubscriptions()) {
			<input type="hidden" name={ models.ParamSubscriptions } value={ subscription }/>
		}
		@NewLink(
			WithHXMethod(http.MethodPost, path),
			WithHXTarget(ContentID.Target()),
			WithHXInclude("[name='csrf_token']"),
			WithHXReplaceURL(true),
			WithHXSwap("innerHTML transition:true"),
			WithID(id),
			WithClasses("link-hover", "block", "px-4", "py-2", "text-sm", "focus:text-primary", "focus:outline-hidden", "capitalize", class),
		) {
			{ string(category.Category) }
		}
	</form>
}

templ clearCategoryFilters(path, id string, filters *models.ListDisplayFilters) {
	<form id={ id }>
		<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
		<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
		<input type="hidden" name={ models.ParamSort } value={ string(filters.GetSort()) }/>
		for subscription := range slices.Values(filters.GetSubscriptions()) {
			<input type="hidden" name={ models.ParamSubscriptions } value={ subscription }/>
		}
		@NewLink(
			WithHXMethod(http.MethodPost, path),
			WithHXTarget(ContentID.Target()),
			WithHXInclude("[name='csrf_token']"),
			WithHXReplaceURL(true),
			WithHXSwap("innerHTML transition:true"),
			WithClasses("link link-hover flex items-center gap-x-4 px-4 py-2 text-sm focus:text-primary focus:outline-hidden capitalize"),
		) {
			@tabler.X(i.Props{Class: "size-4"})
			Clear
		}
	</form>
}

templ activeCategoryFilterBadge(path string, category models.Category, filters *models.ListDisplayFilters) {
	<div class="badge badge-secondary m-1">
		{ category }
		<form id={ "clear-filter-category-" + strings.ToLower(strings.ReplaceAll(category, " ", "_")) }>
			<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
			<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
			<input type="hidden" name={ models.ParamSort } value={ string(filters.GetSort()) }/>
			for subscription := range slices.Values(filters.GetSubscriptions()) {
				<input type="hidden" name={ models.ParamSubscriptions } value={ subscription }/>
			}
			@NewLink(
				WithHXMethod(http.MethodPost, path),
				WithHXTarget(ContentID.Target()),
				WithHXInclude("[name='csrf_token']"),
				WithHXReplaceURL(true),
				WithHXSwap("innerHTML transition:true"),
				WithClasses("link-hover"),
			) {
				@tabler.X(i.Props{Class: "size-4"})
			}
		</form>
	</div>
}

templ sortOption(path string, sort models.Sort, filters *models.ListDisplayFilters) {
	{{ var class string }}
	if sort == filters.GetSort() {
		{{ class = "text-primary font-semibold" }}
	}
	<form id={ "sort-" + string(sort) }>
		<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
		<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
		<input type="hidden" name={ models.ParamSort } value={ string(sort) }/>
		for subscription := range slices.Values(filters.GetSubscriptions()) {
			<input type="hidden" name={ models.ParamSubscriptions } value={ subscription }/>
		}
		for category := range slices.Values(filters.GetCategories()) {
			<input type="hidden" name={ models.ParamCategories } value={ category }/>
		}
		@NewLink(
			WithHXMethod(http.MethodPost, path),
			WithHXTarget(ContentID.Target()),
			WithHXInclude("[name='csrf_token']"),
			WithHXReplaceURL(true),
			WithHXSwap("innerHTML transition:true"),
			WithClasses("link-hover", "flex", "items-center", "gap-x-2", "px-4", "py-2", "text-sm", "focus:text-primary", "focus:outline-hidden", "capitalize", class),
		) {
			switch sort {
				case models.SortNewestFirst:
					@tabler.SortDescending2(i.Props{Class: "size-4"})
				case models.SortOldestFirst:
					@tabler.SortAscending2(i.Props{Class: "size-4"})
				case models.SortMostUnread:
					@tabler.SortDescendingNumbers(i.Props{Class: "size-4"})
				case models.SortLeastUnread:
					@tabler.SortAscendingNumbers(i.Props{Class: "size-4"})
			}
			{ sort.String() }
		}
	</form>
}
