// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"slices"
)

// Document renders the given raw HTML data as full-page prose content. Used primarily for hosted markdown documents
// (i.e., privacy policy, terms of service, etc.)
templ Document(data []byte) {
	@content() {
		@container() {
			<article class="prose sm:prose-lg prose-img:shadow-md my-4 mx-auto">
				@templ.Raw(string(data))
			</article>
			@partials.ButtonBackToTop()
		}
	}
}

// content renders children wrapped with appropriate header/footer navigation.
templ content(options ...element.Option) {
	{{
		e := element.New()
		for option := range slices.Values(options) {
			option(e)
		}
		user := models.UserFromCtx(ctx)
	}}
	// Header.
	@header(user)
	if user != nil {
		// Navigation sidebar (on large displays) for logged in user.
		@SideBar(nil)
	}
	// Main content.
	// if user != nil {
	// 	<div
	// 		id="update-notifications"
	// 		sse-connect="/user/updates"
	// 		sse-swap="updates"
	// 		class="toast toast-center z-50"
	// 	></div>
	// }
	<main
		id={ ContentID.String() }
		aria-label="Main Content"
		class={ "mb-12 sm:mb-24 scroll-mt-16 pt-16", templ.KV("lg:pl-36",user!=nil),  templ.KV(e.GetClasses(),len(e.GetClasses())>0) }
		{ e.GetAttributes()... }
	>
		{ children... }
	</main>
	if user != nil {
		// Bottom navigation dock (on small displays) for logged in user.
		@Dock(nil)
	} else {
		// Footer for non logged in user (external) pages.
		@footer()
	}
}

// container constrains children to a nominal width and adds some padding.
templ container(options ...element.Option) {
	{{
		e := element.New()
		for option := range slices.Values(options) {
			option(e)
		}
	}}
	<div
		class={ "mx-auto max-w-7xl px-4 pt-4 sm:px-6 sm:pt-8", templ.KV(e.GetClasses(),len(e.GetClasses())>0) }
		{ e.GetAttributes()... }
	>
		{ children... }
	</div>
}

templ grid(options ...element.Option) {
	{{
		e := element.New()
		for option := range slices.Values(options) {
			option(e)
		}
	}}
	<div
		id="grid-objects"
		class={ "grid grid-cols-1 place-items-center gap-4 sm:grid-cols-2 sm:gap-8 xl:grid-cols-3 xl:gap-12", templ.KV(e.GetClasses(),len(e.GetClasses())>0) }
	>
		{ children... }
	</div>
}
