// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"fmt"
	tablerfilled "github.com/dimmerz92/go-icons/tabler-filled"
	tableroutline "github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/providers/ollama"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"slices"
)

templ Discover(request *models.SuggestFeedsRequest) {
	@LayoutInternal(NavDiscover, &InternalLayoutProps{User: models.UserFromCtx(ctx)}) {
		@templ.Fragment(ContentFragment) {
			@container(element.WithClasses("pt-4")) {
				@pageHeading() {
					@pageTitle("Discover Feeds")
				}
				<label class="input mt-4 w-full p-2 input-primary sm:w-2/3 sm:p-0">
					<span class="label">
						@tableroutline.Search(templ.Attributes{"class": "sm:ml-1 stroke-primary"})
					</span>
					<input
						id="discover"
						type="search"
						name="text"
						if request != nil && request.Text != "" {
							value={ request.Text }
						}
						autocomplete="off"
						placeholder="Site name, URL or topic..."
						hx-post="/discover/suggest"
						hx-target="#discover-suggestions"
						hx-trigger="keyup changed delay:500ms, keyup[key=='Enter'], categorySuggestions"
						hx-sync="this:replace"
						hx-indicator="#discover-loading"
						hx-include="#category-suggestions"
						_="
						on htmx:before:request set #discover-suggestions.innerHTML to ''
						on keydown[key=='Enter'] halt the event
						"
					/>
				</label>
				<form>
					<div id="category-suggestions" class="filter mt-4 gap-1">
						for category := range slices.Values(ollama.IABTier1Categories) {
							<input
								class="btn btn-sm"
								type="checkbox"
								name="categories"
								aria-label={ category.Label }
								value={ category.Label }
								if request != nil && slices.Contains(request.Categories, category.Label) {
									checked
								}
								_="on change send categorySuggestions to #discover"
							/>
						}
						<input
							class="btn btn-square btn-sm"
							type="reset"
							value="×"
							_="on change send categorySuggestions to #discover"
						/>
					</div>
				</form>
				// Loading skeleton.
				<div id="discover-loading" class="group">
					<div class="mt-8 hidden w-full group-[.htmx-request]:inline-flex sm:max-w-5xl">
						@partials.Grid() {
							@partials.CardSkeleton()
							@partials.CardSkeleton()
							@partials.CardSkeleton()
						}
					</div>
				</div>
				// Suggestions.
				<div id="discover-suggestions" class="mt-8"></div>
			}
			@partials.BackToTopButton()
		}
	}
}

templ DiscoverSuggestions(suggestions models.SuggestFeedsResults) {
	if len(suggestions.Feeds) == 0 {
		// No matches.
		<div class="flex">
			<div class="mr-4 shrink-0 self-center">
				@tablerfilled.ZoomQuestion(templ.Attributes{"class": "size-16 fill-primary"})
			</div>
			<div>
				<h2 class="text-lg font-semibold">No results.</h2>
				if suggestions.Text != "" {
					<p class="mt-1 text-neutral">
						We could not find any good matches for <strong>{ suggestions.Text }</strong>.
					</p>
				}
				<p class="mt-1 text-neutral">
					Double-check the keywords you've entered or add additional ones to focus the search.
				</p>
				<p class="mt-1 text-neutral">
					Try expanding the category selections.
				</p>
			</div>
		</div>
	} else {
		@partials.Grid() {
			for feed := range slices.Values(suggestions.Feeds) {
				@feedSuggestion(feed, suggestions.LatestItems[feed.GetID()])
			}
		}
	}
}

templ feedSuggestion(feed *models.Feed, items models.Items) {
	{{ styleAttr := fmt.Sprintf("--hue: %ddeg", hueFromText(feed.GetTitle()+feed.GetLink())) }}
	@partials.Card(element.WithAttribute("style", styleAttr),
		element.WithClasses("group", "group-active:scale-[0.96]", "relative")) {
		// Header: feed title, thumbnail and description (if any).
		@partials.CardHeader(element.WithClasses()) {
			<div class="flex">
				<div class="mr-4 shrink-0">
					@thumbnail(feed.GetImage(), feed.GetTitle())
				</div>
				<div>
					// Title.
					<h3 id={ "feed-title-" + feed.GetID() } class="m-0 card-title line-clamp-2 font-serif text-lg text-balance group-hover:underline">{ feed.GetTitle() }</h3>
					// Description (if any).
					if  desc := feed.GetDescription(); desc != "" {
						<div class="tooltip tooltip-bottom tooltip-end" data-tip={ desc }>
							<p class="mt-2 line-clamp-2 font-serif text-sm/6">{ desc }</p>
						</div>
					}
				</div>
			</div>
		}
		// Body: item previews.
		@partials.CardBody(element.WithClasses("flex-1")) {
			if len(items) > 0 {
				<div class="mt-auto h-full">
					<ul class="latest-items">
						for item := range slices.Values(items) {
							@latestItemSummary(item)
						}
					</ul>
				</div>
			}
		}
		// Footer: subscribe button.
		@partials.CardFooter(element.WithClasses("mt-auto")) {
			<div class="border-t border-neutral/20 pt-1">
				<div class="mt-2 flex items-center justify-center">
					// Display some additional details from the source.
					<p>
						if feedType := feed.SourceType; feedType != "" {
							<span class="badge badge-soft badge-sm capitalize badge-info">{ feedType }</span>
						}
						if link := feed.GetLink(); link != "" {
							<a
								class="btn inline-flex items-center btn-ghost btn-sm"
								href={ link }
								rel="noopener"
								target="_blank"
								_="on click halt the event's bubbling"
							>
								if domain := feed.Domain; domain != "" {
									{ domain }
								} else {
									Website
								}
								@tableroutline.ExternalLink(templ.Attributes{"class": "size-4"})
							</a>
						}
					</p>
				</div>
				<div class="flex items-center justify-between">
					// Last updated relative timestamp.
					<p class="mt-2 text-center text-sm/6 tabular-nums">
						Updated
						<relative-time
							datetime={ feed.GetTimestamp().Format("2006-01-02T15:04:05-0700") }
							format="relative"
							class="font-semibold"
						>
							{ feed.GetTimestamp().Format("Jan _2, 2006") }
						</relative-time>
					</p>
					<form>
						<input type="hidden" name="url" value={ feed.GetSourceURLs()[0] }/>
						<input type="hidden" name="feed_id" value={ feed.GetID() }/>
						<button
							type="submit"
							class="group btn btn-primary"
							hx-post="/subscription/add/feed"
							hx-swap="none"
							hx-disable="this"
							hx-encoding="multipart/form-data"
							data-suggestionid={ "#suggestion-" + feed.GetID() }
							_="on htmx:after:request(successful) remove me"
						>
							<span class="hidden items-center group-[.htmx-request]:inline-flex">
								<span class="loading mr-3 loading-spinner text-primary"></span>
								Subscribing
							</span>
							<span class="inline-flex items-center group-[.htmx-request]:hidden">
								Subscribe
							</span>
						</button>
					</form>
				</div>
			</div>
		}
	}
}
