// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "github.com/immanent-tech/foragd/models"
import "github.com/dimmerz92/go-icons/tabler-outline"

const ErrorFragment templFragmentKey = "error"

templ InternalError(user *models.User, referer string, msg *models.UserMessage) {
	@LayoutInternal(&InternalLayoutProps{User: user}) {
		@templ.Fragment(ErrorFragment) {
			@container() {
				<div class="mt-12 text-center">
					@tableroutline.MoodConfuzed(templ.Attributes{"class": "mx-auto size-12 text-accent"})
					if msg != nil {
						<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">{ msg.Summary }</h1>
						if msg.HasDetails() {
							<p>{ *msg.Details }</p>
						}
					} else {
						<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">Whoops!</h1>
						<p>An unexpected problem occurred and the request could not be completed. This is likely a temporary problem. Please try again.</p>
					}
					<div class="mt-6">
						<a
							if referer != "" {
								href={ referer }
							} else {
								href="/home"
							}
							role="button"
							class="btn btn-outline"
						>
							Go Back
						</a>
						<a href="/contact" class="btn btn-primary">
							Contact Support <span aria-hidden="true">&rarr;</span>
						</a>
					</div>
				</div>
			}
		}
	}
}

templ ExternalError(user *models.User, msg *models.UserMessage) {
	@LayoutExternal() {
		@templ.Fragment(ErrorFragment) {
			@container() {
				<div class="my-auto py-24 sm:pt-12 sm:pb-32">
					@container() {
						<div class="text-center">
							@tableroutline.MoodConfuzed(templ.Attributes{"class": "mx-auto size-12 text-accent"})
							if msg != nil {
								<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">{ msg.Summary }</h1>
								if msg.HasDetails() {
									<p>{ *msg.Details }</p>
								}
							} else {
								<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">Whoops!</h1>
								<p>An unexpected problem occurred and the request could not be completed. This is likely a temporary problem. Please try again.</p>
							}
							<div class="mx-auto mt-8 flex items-center justify-center space-x-4">
								<a href="/" role="button" class="btn btn-primary">
									Go Back
								</a>
								<a role="button" href="mailto:support@immanent.tech&subject=Foragd Issue" class="btn btn-primary">
									Email Support <span aria-hidden="true">&rarr;</span>
								</a>
							</div>
						</div>
					}
				</div>
			}
		}
	}
}

templ NotFound() {
	@templ.Fragment(ErrorFragment) {
		@container() {
			<div class="my-auto py-24 sm:pt-12 sm:pb-32">
				<div class="text-center">
					@tableroutline.FileUnknown(templ.Attributes{"class": "mx-auto size-12 text-accent"})
					<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">Not Found</h1>
					<p>Sorry, we couldn't find the page you're looking for.</p>
					<div class="mt-6">
						<a href="/home" role="button" class="btn btn-primary">
							Go Back Home
						</a>
						<a href="mailto:support@immanent.tech&subject=Foragd Issue" class="btn btn-primary">
							Email Support <span aria-hidden="true">&rarr;</span>
						</a>
					</div>
				</div>
			</div>
		}
	}
}
