// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package templates

import (
	"github.com/immanent-tech/foragd/models"
	"net/http"
	"slices"
	"strings"
)

templ FavoritesLayout(subscriptions models.Subscriptions, articles models.Articles, searches map[string]models.FavoriteSearch) {
	@Main() {
		<div id="top" class="flex items-center justify-between mt-4">
			<div class="min-w-0 flex-1">
				<h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight capitalize">
					Favorites
				</h2>
			</div>
		</div>
		// Jump to links for quick access.
		<section>
			<div class="mx-auto max-w-7xl px-4 py-3 sm:flex sm:items-center sm:px-6 lg:px-8 text-sm">
				<h3 class="font-medium text-accent">
					Jump To:
				</h3>
				<div class="flex items-center px-2">
					if len(searches) > 0 {
						<a href="#searches" class="link link-hover">Searches</a>
						<div aria-hidden="true" class="h-5 w-px bg-base-content/40 m-4 block"></div>
					}
					if len(subscriptions) > 0 {
						<a href="#subscriptions" class="link link-hover">Subscriptions</a>
						<div aria-hidden="true" class="h-5 w-px bg-base-content/40 m-4 block"></div>
					}
					if len(articles) > 0 {
						<a href="#articles" class="link link-hover">Articles</a>
					}
				</div>
			</div>
		</section>
		if len(searches) > 0 {
			<section id="searches" class="mt-4">
				<div class="pb-5">
					<h3 class="text-base font-semibold">Searches</h3>
				</div>
				@Grid() {
					for nickname, search := range searches {
						<li>
							<form
								hx-post="/search"
								hx-target={ ContentID.Target() }
								hx-push-url="true"
								hx-include="[name='csrf_token']"
								hx-vals="js:{timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}"
							>
								<input type="hidden" name="text" value={ search.Text }/>
								<input type="hidden" name="view" value={ search.View }/>
								<input type="hidden" name="published_within" value={ string(search.PublishedWithin) }/>
								if len(search.Subscriptions) > 0 {
									<input type="hidden" name="authors" value={ strings.Join(search.Subscriptions, ",") }/>
								}
								if search.Authors != "" {
									<input type="hidden" name="authors" value={ search.Authors }/>
								}
								if search.Categories != "" {
									<input type="hidden" name="categories" value={ search.Categories }/>
								}
								@NewButton(
									WithCustomAttribute("type", "submit"),
								) {
									{ nickname }
								}
							</form>
						</li>
					}
				}
			</section>
		}
		if len(subscriptions) > 0 {
			<section id="subscriptions" class="mt-4">
				<div class="pb-5">
					<h3 class="text-base font-semibold">Subscriptions</h3>
				</div>
				@Grid() {
					for subscription := range slices.Values(subscriptions) {
						@SubscriptionFavorite(subscription)
					}
				}
			</section>
		}
		if len(articles) > 0 {
			<section id="articles" class="mt-4">
				<div class="pb-5">
					<h3 class="text-base font-semibold">Articles</h3>
				</div>
				@Grid() {
					for article := range slices.Values(articles) {
						<li id={ article.GetID() }>
							<div class="bg-base-200 border-base-content/20 hover:border-base-content/40 overflow-hidden rounded-lg border shadow-sm dark:shadow-none">
								<div class="flex flex-col sm:flex-row items-center p-4">
									// Article image.
									if img := article.GetImage(); img != nil {
										<div class="mb-4 shrink-0 sm:mr-4 sm:mb-0">
											<img
												src={ img.GetURL() }
												if img.GetTitle() != "" {
													alt={ article.GetImage().GetTitle() }
												}
												class="h-32 sm:w-32 w-full object-cover sm:aspect-2/1 lg:aspect-3/2 rounded-box border border-base-content"
											/>
										</div>
									}
									// Title.
									<div class="space-y-4">
										<a
											hx-get={ article.ViewURL() }
											hx-target={ ContentID.Target() }
											hx-push-url="true"
											hx-swap="innerHTML show:top"
											class={ "link link-hover" }
										>
											<h4 class="text-lg font-bold">{ article.GetTitle() }</h4>
										</a>
										// Timestamp, subscription info.
										<div class="flex gap-x-4">
											<p class="flex-none text-xs text-base-content/80">
												@ShowTimestamp(article.GetUpdatedDate())
											</p>
											<p class="flex-none text-xs text-base-content/80">
												@NewLink(
													WithHXMethod(http.MethodGet, "/list/articles"),
													WithHXTarget(ContentID.Target()),
													WithHXPushURL(),
													WithHXVals(map[string]string{models.ParamSubscriptions: article.GetSubscriptionID()}),
												) {
													{ article.GetFeedTitle() }
												}
											</p>
										</div>
										// Truncated summary.
										{{ text, err := models.ExtractText(article.GetContent()) }}
										if err == nil {
											<article class="prose prose-sm line-clamp-3">
												{ text }
											</article>
										}
									</div>
								</div>
							</div>
						</li>
					}
				}
			</section>
		}
		<button class="btn btn-neutral fixed right-0 bottom-4 m-4" hidden _="on intersect remove @hidden from me" href="#top">Back to top</button>
	}
}
