// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "slices"
import "github.com/dimmerz92/go-icons/tabler-filled"

var featureGroups = []ListItem{
	ListItem{
		Name: "Collect",
		Description: `
<p class="mx-auto prose mt-12 text-neutral">
	<span class="font-semibold">Collect everything from one place.</span> Add any website, blog, YouTube channel, Reddit
	subreddit, or email newsletter easily. Foragd does the heavy lifting of find feeds for you. No more checking dozens
	of tabs or missing posts because an algorithm buried them.
</p>
<p class="text-center mt-12 text-accent font-semibold">
	<a class="link" href="/features/collect">Learn More <span aria-hidden="true">→</span></a>
</p>
`,
	},
	ListItem{
		Name: "Curate",
		Description: `
<p class="mx-auto prose mt-12 text-neutral">
	<span class="font-semibold">Organise your feeds your way.</span> Group subscriptions into a single unified feed.
	Search across every article you've ever received. Then save it as a subscription to follow new articles as they come
	in. Filter out articles you aren't interested in with easy text-based options. You're in control, no
	algorithm, no sponsored suggestions.
</p>
<p class="text-center mt-12 text-accent font-semibold">
	<a class="link" href="/features/curate">Learn More <span aria-hidden="true">→</span></a>
</p>
`,
	},
	ListItem{
		Name: "Consume",
		Description: `
<p class="mx-auto prose mt-12 text-neutral">
	<span class="font-semibold">Read without distractions.</span> Foragd can fetch the full
	article text directly from the source, so you get clean, readable content even when a site
	only publishes a summary in its feed. It has beautiful typography, theme support, and no ads
	mean the content always comes first. Save articles to read later, or share them with a link.
</p>
<p class="text-center mt-12 text-accent font-semibold">
	<a class="link" href="/features/consume">Learn More <span aria-hidden="true">→</span></a>
</p>
`,
	},
}

templ Features() {
	@LayoutExternal() {
		@LandingHeaderSlot()
		<div class="isolate bg-base-100">
			<div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
				<div class="soft-gradient-top"></div>
			</div>
			<div class="lg:pb-40">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
						<h1 class="text-5xl font-semibold tracking-tight text-primary">
							Everything you need to follow the web, on your terms
						</h1>
						<p class="prose mt-8 text-neutral">
							Foragd is a web-based RSS and feed reader for people who want to follow websites,
							newsletters, and YouTube channels without algorithms or ads. It's designed as an alternative
							to Feedly, Inoreader, and NewsBlur, with a focus on simplicity and clean reading.
						</p>
					</div>
				</div>
			</div>
			@container() {
				<dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
					for group := range slices.Values(featureGroups) {
						<div class="flex flex-col">
							<dt class="flex items-center gap-x-3 text-lg font-semibold text-secondary">
								{ group.Name }
							</dt>
							<dd class="mt-4 flex flex-auto flex-col">
								@templ.Raw(group.Description)
							</dd>
						</div>
					}
				</dl>
			}
			@ItemList("Foragd Features", featureGroups)
			<div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
				<div class="soft-gradient-bottom"></div>
			</div>
		</div>
	}
}

templ FeaturesPageCollect() {
	@LayoutExternal() {
		<div class="lg:pb-40">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
					<h1 class="text-5xl font-semibold tracking-tight text-primary">
						Collect
					</h1>
					<p class="mx-auto prose mt-12 text-neutral">
						<span class="font-semibold">Collect everything from one place.</span> Add any website, blog, YouTube channel, Reddit
						subreddit, or email newsletter easily. Foragd does the heavy lifting of find feeds for you. No more checking dozens
						of tabs or missing posts because an algorithm buried them.
					</p>
				</div>
			</div>
		</div>
		@FeatureAddContent(false)
		@FeatureEmailNewsletters(true)
		@FeatureImport(false)
	}
}

templ FeaturesPageCurate() {
	@LayoutExternal() {
		<div class="lg:pb-40">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
					<h1 class="text-5xl font-semibold tracking-tight text-primary">
						Curate
					</h1>
					<p class="mx-auto prose mt-12 text-neutral">
						<span class="font-semibold">Organise your feeds your way.</span> Group subscriptions into a single unified feed.
						Search across every article you've ever received. Then save it as a subscription to follow new articles as they come
						in. Filter out articles you aren't interested in with easy text-based options. You're in control, no
						algorithm, no sponsored suggestions.
					</p>
				</div>
			</div>
		</div>
		@FeatureGroupSubscriptions(false)
		@FeatureSearchSubscription(true)
		@FeatureArticleFilters(false)
		@FeatureSubscriptionCustomisation(true)
	}
}

templ FeaturesPageConsume() {
	@LayoutExternal() {
		<div class="lg:pb-40">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
					<h1 class="text-5xl font-semibold tracking-tight text-primary">
						Consume
					</h1>
					<p class="mx-auto prose mt-12 text-neutral">
						<span class="font-semibold">Read without distractions.</span> Foragd can fetch the full
						article text directly from the source, so you get clean, readable content even when a site
						only publishes a summary in its feed. It has beautiful typography, theme support, and no ads
						mean the content always comes first. Save articles to read later, or share them with a link.
					</p>
				</div>
			</div>
		</div>
		@FeatureLayout(false)
		@FeatureFetchRemoteContent(true)
		@FeatureFavorites(false)
		@FeatureThemes(true)
	}
}

templ NewFeaturePanel(id string) {
	<div class="py-12" id={ id }>
		<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
			<div class="relative isolate overflow-hidden bg-base-200 px-6 py-20 sm:rounded-3xl sm:px-10 sm:py-24 lg:py-24 xl:px-24">
				<div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-center lg:gap-y-0">
					{ children... }
				</div>
				<div aria-hidden="true" class="pointer-events-none absolute top-1/2 left-12 -z-10 -translate-y-1/2 transform-gpu blur-3xl lg:top-auto lg:-bottom-48 lg:translate-y-0">
					<div
						style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
						class="aspect-1155/678 w-288.75 bg-linear-to-tr from-(--color-primary) to-(--color-secondary) opacity-25 dark:opacity-20"
					></div>
				</div>
			</div>
		</div>
	</div>
}

templ FeatureAddContent(flipped bool) {
	@NewFeaturePanel("feature-add-content") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Easily add content from anywhere
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				Enter a URL and Foragd will attempt to find and subscribe to the site's content. Or just enter a search
				term or phrase and explore Foragd's existing database of feeds.
			</p>
			<p class="mt-2 text-lg/8 text-neutral">
				For YouTube, you can enter a channel name
				like
				<span class="italic">
					{ `@TED` }
				</span> directly.
			</p>
			<p class="mt-2 text-lg/8 text-neutral">
				For Google News, enter your search query such as
				<span class="italic">
					when:24h site:reuters.com
				</span>.
			</p>
			<p class="mt-2 text-lg/8 text-neutral">
				Whether its a Google News search, Youtube channel, or just a URL, Foragd will find any
				available feeds for you to subscribe to. No need to hunt around for obscure URL links, formats and parameters.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-addcontent"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<div class="relative inline-block">
				<img
					width="1920"
					height="1200"
					src="/content/screenshots/screenshot-feature-addcontent.webp"
					alt="Screenshot of add content page"
					class="relative -z-20"
				/>
				@tablerfilled.PlayerPlay(templ.Attributes{"class": "absolute top-[30%] left-[35%] size-32 text-accent", "aria-label": "Play video"})
			</div>
		</button>
		@imagePopup("feature-addcontent") {
			<video
				controls
				height="1128"
				width="720"
				class="mx-auto h-auto w-full sm:max-w-180"
			>
				<source
					src="/content/screenshots/screencast-feature-addcontent.webm"
					type="video/webm"
				/>
			</video>
		}
	}
}

templ FeatureEmailNewsletters(flipped bool) {
	@NewFeaturePanel("feature-email-newsletters") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Sign up for email newsletters
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				Protect your email and your inbox. Each Foragd account can generate a unique masked email you can use to
				sign up to email newsletters. Use this email when signing up for newsletters to get your website and
				email updates in the one place. You can favorite and search through newsletters just like any other feed.
			</p>
		</div>
		<img
			width="482"
			height="381"
			src="/content/screenshots/screenshot-feature-emailnewsletters.webp"
			alt="Screenshot of email newsletter option"
			class={ "relative -z-20 rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("max-w-xl min-w-full lg:w-5xl lg:max-w-none",!flipped) }
		/>
	}
}

templ FeatureImport(flipped bool) {
	@NewFeaturePanel("feature-import") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Migrate from other services
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				Coming from Feedly, Inoreader or another service? Foragd can import your existing subscriptions easily.
				Foragd supports using the OPML file format, a widely used standard for imports and exports. You always
				own and control your data. Import and export your subscriptions freely.
			</p>
		</div>
		<img
			width="1920"
			height="1200"
			src="/content/screenshots/screenshot-feature-import.webp"
			alt="Desktop screenshot showing import results"
			class={ "relative -z-20 rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("max-w-xl min-w-full lg:w-5xl lg:max-w-none",!flipped) }
		/>
	}
}

templ FeatureGroupSubscriptions(flipped bool) {
	@NewFeaturePanel("feature-group-subscriptions") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Group subscriptions
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				Group multiple site subscriptions together to view a unified feed of their articles. Great for combining
				sites on similar topics into one (e.g., all Android or Apple news). You can then apply <a
	class="link"
	href="#feature-article-filters"
>article filters</a> across all grouped subscriptions, further refining
				the list of articles displayed.
			</p>
		</div>
		<img
			width="1920"
			height="1080"
			src="/content/screenshots/screenshot-feature-groupsubscription.webp"
			alt="Screenshot showing adding multiple feeds to create a group subscription"
			class={ "relative -z-20 rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start max-h-md",flipped),
         templ.KV("w-full max-h-md",!flipped) }
		/>
	}
}

templ FeatureSearchSubscription(flipped bool) {
	@NewFeaturePanel("feature-search-subscriptions") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Saved search subscriptions
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				Use full text search across articles. Find that thing mentioned in that post on that blog a while ago
				easily.
			</p>
			<p class="mt-2 text-lg/8 text-neutral">
				Want to keep up to date when new posts arrive that match? Save the search as a <span
	class="italic"
>Search Subscription</span> to keep up to date with new articles that match. This a great way to keep up to date with a
				topic across multiple sources or for research and data analysis.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-searchsubscription"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<div class="relative inline-block">
				<img
					width="1920"
					height="1200"
					src="/content/screenshots/screenshot-feature-searchsubscription-thumbnail.webp"
					alt="Screenshots of search subscription page"
					class="relative -z-20"
				/>
				@tablerfilled.PlayerPlay(templ.Attributes{"class": "absolute top-[30%] left-[35%] size-32 text-accent", "aria-label": "Play video"})
			</div>
		</button>
		@imagePopup("feature-searchsubscription") {
			<video
				controls
				height="1128"
				width="720"
				class="mx-auto h-auto w-full sm:max-w-180"
			>
				<source
					src="/content/screenshots/screencast-feature-searchsubscription.webm"
					type="video/webm"
				/>
			</video>
		}
	}
}

templ FeatureArticleFilters(flipped bool) {
	@NewFeaturePanel("feature-article-filters") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Article filtering
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				Filter articles with straight-forward +/- keyword/phrase matching. No complicated AND/OR forms and
				logic.
			</p>
			<p class="mt-2 text-lg/8 text-neutral">
				For example, <span class="italic">`AI -chatgpt`</span> will filter for AI news, but not about
				ChatGPT.
			</p>
			<p class="mt-2 text-lg/8 text-neutral">
				Use <span class="italic">`+python +tutorial`</span> to find articles that are only about python
				and are also tutorials.
			</p>
			<p class="mt-2 text-lg/8 text-neutral">
				Combine them for further refinement:
				<span class="italic">
					`+python +tutorial AI
					-chatgpt`
				</span>.
			</p>
		</div>
		<img
			width="463"
			height="261"
			src="/content/screenshots/screenshot-feature-articlefiltering.webp"
			alt="Screenshot showing example article filters with +/ keyword and phrase matching"
			class={ "relative -z-20 rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		/>
	}
}

templ FeatureSubscriptionCustomisation(flipped bool) {
	@NewFeaturePanel("feature-subscription-customisation") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Subscription customisation
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				You can customise each subscription, choosing your own nickname and/or image to represent each. Useful
				where the feed does not include its own image or its name is verbose or generic.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-subscriptioncustomisation"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<img
				width="1920"
				height="1200"
				src="/content/screenshots/screenshot-feature-subscriptioncustomisation.webp"
				alt="Screenshot showing subscription customisation options and settings"
				class="relative -z-20"
			/>
		</button>
		@imagePopup("feature-subscriptioncustomisation") {
			<img
				width="1920"
				height="1200"
				src="/content/screenshots/screenshot-feature-subscriptioncustomisation.webp"
				alt="Screenshot showing subscription customisation options and settings"
				decoding="async"
				class="mx-auto w-full rounded-box object-scale-down sm:max-w-360"
			/>
		}
	}
}

templ FeatureLayout(flipped bool) {
	@NewFeaturePanel("feature-layout") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Content comes first
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				Foragd has an interface that stays out of the way, letting the content shine. Beautiful typography and
				large images.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-layout-popover"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<img
				width="2002"
				height="1288"
				src="/content/screenshots/screenshot-feature-layout.webp"
				alt="Screenshot showing available themes"
				class="relative -z-20"
			/>
		</button>
		@imagePopup("feature-layout-popover") {
			<img
				width="2002"
				height="1288"
				src="/content/screenshots/screenshot-feature-layout.webp"
				alt="Screenshot showing available themes"
				decoding="async"
				class="mx-auto w-full rounded-box object-scale-down sm:max-w-360"
			/>
		}
	}
}

templ FeatureFetchRemoteContent(flipped bool) {
	@NewFeaturePanel("feature-fetch-remote-content") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Get remote content
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				For subscriptions where only article summaries are shown, Foragd can attempt to fetch and display the
				remote content. Foragd tries to fetch all images and other relevant content to recreate the reading
				experience without needing to switch browser tabs.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-fetchremote"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<div class="relative inline-block">
				<img
					width="1920"
					height="1200"
					src="/content/screenshots/screenshot-feature-fetchremote.webp"
					alt="Screenshot of article preview (before remote content fetched)"
					class="relative -z-20"
				/>
				@tablerfilled.PlayerPlay(templ.Attributes{"class": "absolute top-[30%] left-[35%] size-32 text-accent", "aria-label": "Play video"})
			</div>
		</button>
		@imagePopup("feature-fetchremote") {
			<video
				controls
				height="1128"
				width="720"
				class="mx-auto h-auto w-full sm:max-w-180"
			>
				<source
					src="/content/screenshots/screencast-feature-fetchremote.webm"
					type="video/webm"
				/>
			</video>
		}
	}
}

templ FeatureFavorites(flipped bool) {
	@NewFeaturePanel("feature-favorites") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Favorites
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				Favorite subscriptions to keep them top and center. Favorite articles to easily reference them later.
				Your favorite articles are kept forever, even if the source removes them from their feed.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-favorites-popover"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<div class="relative inline-block">
				<img
					width="1920"
					height="1200"
					src="/content/screenshots/screenshot-feature-favorites.webp"
					alt="Screenshot of favorites page"
					class="relative -z-20"
				/>
				@tablerfilled.PlayerPlay(templ.Attributes{"class": "absolute top-[30%] left-[35%] size-32 text-accent", "aria-label": "Play video"})
			</div>
		</button>
		@imagePopup("feature-favorites-popover") {
			<video
				controls
				height="1128"
				width="720"
				class="mx-auto h-auto w-full sm:max-w-180"
			>
				<source
					src="/content/screenshots/screencast-feature-favorites.webm"
					type="video/webm"
				/>
			</video>
		}
	}
}

templ FeatureThemes(flipped bool) {
	@NewFeaturePanel("feature-themes") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-balancesm:text-4xl text-3xl font-semibold tracking-tight">
				Themes
			</h2>
			<p class="mt-2 text-lg/8 text-neutral">
				Choose from a selection of curated light and dark themes to your liking.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-themes-popover"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<img
				width="1920"
				height="1200"
				src="/content/screenshots/screenshot-feature-themes.webp"
				alt="Screenshot showing available themes"
				class="relative -z-20"
			/>
		</button>
		@imagePopup("feature-themes-popover") {
			<img
				width="1920"
				height="1200"
				src="/content/screenshots/screenshot-feature-themes.webp"
				alt="Screenshot showing available themes"
				decoding="async"
				class="mx-auto w-full rounded-box object-scale-down sm:max-w-360"
			/>
		}
	}
}

templ imagePopup(id string) {
	<el-dialog>
		<dialog id={ id } class="relative z-10 backdrop:bg-transparent">
			<el-dialog-backdrop class="fixed inset-0 hidden transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in md:block">
				<div aria-hidden="true" class="pointer-events-none absolute top-1/2 left-12 -z-10 -translate-y-1/2 transform-gpu blur-3xl lg:top-auto lg:-bottom-48 lg:translate-y-0">
					<div
						style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
						class="aspect-1155/678 w-288.75 bg-linear-to-tr from-(--color-primary) to-(--color-secondary) opacity-25 dark:opacity-20"
					></div>
				</div>
			</el-dialog-backdrop>
			<div tabindex="0" class="fixed inset-0 z-10 w-screen overflow-y-auto focus:outline-none">
				<div class="flex min-h-full items-stretch justify-center text-center md:items-center">
					<span aria-hidden="true" class="hidden md:inline-block md:h-screen md:align-middle">&#8203;</span>
					<el-dialog-panel
						class="flex w-full transform text-left text-base transition data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in data-closed:md:translate-y-0 data-closed:md:scale-95"
						_="on click remove @open from  the closest <el-dialog/>"
					>
						{ children... }
					</el-dialog-panel>
				</div>
			</div>
		</dialog>
	</el-dialog>
}
