// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

templ Features() {
	@HeaderExternal()
	<main class="isolate bg-base-100">
		<div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
			<div class="soft-gradient-top"></div>
		</div>
		<div class="lg:pb-40">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
					<h1 class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl">
						Features
					</h1>
					<h2 class="mt-8 text-lg font-medium text-pretty sm:text-xl/8">
						Follow what you want. Control the noise.
					</h2>
				</div>
			</div>
		</div>
		<script type="module">
  const tabGroup = document.getElementById('features-tabs');

  // Map hash → tab index
  const tabMap = {
    '#collect': 0,
    '#curate': 1,
    '#consume': 2,
  };

  function activateTabFromHash() {
    const index = tabMap[window.location.hash];
    if (index !== undefined) {
      tabGroup.setActiveTab(index);
    }
  }

  // Activate on initial load
  activateTabFromHash();

  // Also handle back/forward navigation
  window.addEventListener('hashchange', activateTabFromHash);
</script>
		<div class="mt-16">
			<el-tab-group id="features-tabs">
				<el-tab-list class="grid grid-cols-3 w-sm sm:w-md mx-auto justify-between align-middle gap-x-8 rounded-md py-2 pr-8 pl-3 text-base outline-1 -outline-offset-1 outline-neutral/15 focus:outline-2 focus:-outline-offset-2 focus:outline-accent">
					<button
						id="collect-button"
						type="button"
						class="btn"
						onclick="location.hash = '#collect'"
					>Collect</button>
					<button
						id="curate-button"
						type="button"
						class="btn"
						onclick="location.hash = '#curate'"
					>Curate</button>
					<button
						id="consume-button"
						type="button"
						class="btn"
						onclick="location.hash = '#consume'"
					>Consume</button>
				</el-tab-list>
				<el-tab-panels class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
					<div
						id="collect"
						hx-get="/features/collect"
						hx-trigger="load, collect-revealed"
						_="on load
                           	set hash to window.location.hash.replace('#', '')
                            if hash is 'collect'
                              add .btn-primary to #collect-button
                        	else
                              remove .btn-primary from #collect-button
                            end
                           end
                           on hashchange from window
                            set hash to window.location.hash.replace('#', '')
                            if hash is 'collect'
                              add .btn-primary to #collect-button
                              else
                                remove .btn-primary from #collect-button
                              end
                            end
						   on mutation of @hidden
       					     if not @hidden and my innerHTML is ''
         					   htmx.trigger(me, 'collect-revealed')
       						 end
						   end
						"
						class="content-auto"
					></div>
					<div
						id="curate"
						hx-get="/features/curate"
						hx-trigger="curate-revealed"
						_="on load
                                set hash to window.location.hash.replace('#', '')
                                if hash is 'curate'
                                  add .btn-primary to #curate-button
            					  if my innerHTML is '' then htmx.trigger(me, 'curate-revealed') end
                                else
                                  remove .btn-primary from #curate-button
                                end
                               end
                               on hashchange from window
                                set hash to window.location.hash.replace('#', '')
                                if hash is 'curate'
                                  add .btn-primary to #curate-button
                                else
                                  remove .btn-primary from #curate-button
                                end
                               end
  						   on mutation of @hidden
       					     if not @hidden and my innerHTML is ''
         					   htmx.trigger(me, 'curate-revealed')
       						 end
						   end
                             "
						class="content-auto"
					></div>
					<div
						id="consume"
						hx-get="/features/consume"
						hx-trigger="consume-revealed"
						_="on load
                                set hash to window.location.hash.replace('#', '')
                                if hash is 'consume'
                                  add .btn-primary to #consume-button
            					  if my innerHTML is '' then htmx.trigger(me, 'consume-revealed') end
                                else
                                  remove .btn-primary from #consume-button
                                end
                               end
                               on hashchange from window
                                set hash to window.location.hash.replace('#', '')
                                if hash is 'consume'
                                  add .btn-primary to #consume-button
                                else
                                  remove .btn-primary from #consume-button
                                end
                               end
   						   on mutation of @hidden
       					     if not @hidden and my innerHTML is ''
         					   htmx.trigger(me, 'consume-revealed')
       						 end
						   end
                             "
						class="content-auto"
					></div>
				</el-tab-panels>
			</el-tab-group>
		</div>
		<div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
			<div class="soft-gradient-bottom"></div>
		</div>
	</main>
	@footer()
}

templ NewFeaturePanel(id string) {
	<div class="py-12" id={ id }>
		<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
			<div class="relative isolate overflow-hidden bg-base-200 px-6 py-20 sm:rounded-3xl sm:px-10 sm:py-24 lg:py-24 xl:px-24">
				<div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-center lg:gap-y-0">
					{ children... }
				</div>
				<div aria-hidden="true" class="pointer-events-none absolute top-1/2 left-12 -z-10 -translate-y-1/2 transform-gpu blur-3xl lg:top-auto lg:-bottom-48 lg:translate-y-0">
					<div
						style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
						class="aspect-1155/678 w-288.75 bg-linear-to-tr from-(--color-primary) to-(--color-secondary) opacity-25 dark:opacity-20"
					></div>
				</div>
			</div>
		</div>
	</div>
}

templ FeatureAddContent(flipped bool) {
	@NewFeaturePanel("feature-add-content") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Easily add content from anywhere.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Just enter a URL and Foragd will attempt to find and subscribe to the site's content. Whether its a Youtube
				channel, Reddit subreddit or Tumblr blog, Foragd will parse and subscribe. No need to worry about finding the right
				links; Foragd does it for you!
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-addcontent"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<img
				width="2333"
				height="2160"
				src="/content/screenshots/screenshot-feature-addcontent.webp"
				alt="Screenshots showing different add feed URLs"
				class="relative -z-20"
			/>
		</button>
		@imagePopup("feature-addcontent") {
			<img
				width="2333"
				height="2160"
				src="/content/screenshots/screenshot-feature-addcontent.webp"
				alt="Screenshots showing different add feed URLs"
				decoding="async"
				class="mx-auto w-full rounded-box object-scale-down sm:max-w-360"
			/>
		}
	}
}

templ FeatureEmailNewsletters(flipped bool) {
	@NewFeaturePanel("feature-email-newsletters") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Sign up for email newsletters.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Protect your email and your inbox. Each Foragd account can generate a unique masked email you can use to
				sign up to email newsletters. Get your website and email updates in the one place.
			</p>
		</div>
		<img
			width="482"
			height="381"
			src="/content/screenshots/screenshot-feature-emailnewsletters.webp"
			alt="Screenshot of email newsletter option"
			class={ "relative -z-20 rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("max-w-xl min-w-full lg:w-5xl lg:max-w-none",!flipped) }
		/>
	}
}

templ FeatureImport(flipped bool) {
	@NewFeaturePanel("feature-import") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Migrate from other services.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Coming from Feedly, Inoreader or another service? Foragd can
				import your existing subscriptions easily.
			</p>
		</div>
		<img
			width="1920"
			height="1200"
			src="/content/screenshots/screenshot-feature-import.webp"
			alt="Desktop screenshot showing import results"
			class={ "relative -z-20 rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("max-w-xl min-w-full lg:w-5xl lg:max-w-none",!flipped) }
		/>
	}
}

templ FeaturesCollect() {
	@FeatureAddContent(false)
	@FeatureEmailNewsletters(true)
	@FeatureImport(false)
}

templ FeatureGroupSubscriptions(flipped bool) {
	@NewFeaturePanel("feature-group-subscriptions") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Group subscriptions.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Group multiple site subscriptions together to view a unified feed of their articles. Great for combining
				sites on similar topics into one (e.g., all Android or Apple news).
			</p>
		</div>
		<img
			width="1920"
			height="1080"
			src="/content/screenshots/screenshot-feature-groupsubscription.webp"
			alt="Screenshot showing adding multiple feeds to create a group subscription"
			class={ "relative -z-20 rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start max-h-md",flipped),
         templ.KV("w-full max-h-md",!flipped) }
		/>
	}
}

templ FeatureSearchSubscription(flipped bool) {
	@NewFeaturePanel("feature-search-subscriptions") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Saved search subscriptions.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Use full text search across articles. Find that thing mentioned in that post on that blog, easily.
			</p>
			<p class="mt-6 text-lg/8 text-neutral">
				Save a search as a subscription to always keep up to date with matching articles from any feeds.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-searchsubscription"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<div class="relative inline-block">
				<img
					width="1920"
					height="1200"
					src="/content/screenshots/screenshot-feature-searchsubscription-thumbnail.webp"
					alt="Screenshots of search subscription page"
					class="relative -z-20"
				/>
				<svg aria-label="Play video" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-player-play text-accent absolute size-32 top-[30%] left-[35%]">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"></path>
				</svg>
			</div>
		</button>
		@imagePopup("feature-searchsubscription") {
			<video
				controls
				height="1128"
				width="720"
				class="mx-auto h-auto w-full sm:max-w-180"
			>
				<source
					src="/content/screenshots/screencast-feature-searchsubscription.webm"
					type="video/webm"
				/>
			</video>
		}
	}
}

templ FeatureArticleFilters(flipped bool) {
	@NewFeaturePanel("feature-article-filters") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Article filtering.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Filter articles with straight-forward +/- keyword/phrase matching. No complicated AND/OR forms and logic.
			</p>
		</div>
		<img
			width="463"
			height="261"
			src="/content/screenshots/screenshot-feature-articlefiltering.webp"
			alt="Screenshot showing example article filters with +/ keyword and phrase matching"
			class={ "relative -z-20 rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		/>
	}
}

templ FeatureSubscriptionCustomisation(flipped bool) {
	@NewFeaturePanel("feature-subscription-customisation") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Subscription customisation.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Customize any subscription with your own nickname and thumbnail image.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-subscriptioncustomisation"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<img
				width="1920"
				height="1200"
				src="/content/screenshots/screenshot-feature-subscriptioncustomisation.webp"
				alt="Screenshot showing subscription customisation options and settings"
				class="relative -z-20"
			/>
		</button>
		@imagePopup("feature-subscriptioncustomisation") {
			<img
				width="1920"
				height="1200"
				src="/content/screenshots/screenshot-feature-subscriptioncustomisation.webp"
				alt="Screenshot showing subscription customisation options and settings"
				decoding="async"
				class="mx-auto w-full rounded-box object-scale-down sm:max-w-360"
			/>
		}
	}
}

templ FeaturesCurate() {
	@FeatureGroupSubscriptions(false)
	@FeatureSearchSubscription(true)
	@FeatureArticleFilters(false)
	@FeatureSubscriptionCustomisation(true)
}

templ FeatureLayout(flipped bool) {
	@NewFeaturePanel("feature-layout") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Content comes first.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Foragd has an interface that stays out of the way, letting the content shine. Beautiful typography and
				large images.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-layout-popover"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<img
				width="2002"
				height="1288"
				src="/content/screenshots/screenshot-feature-layout.webp"
				alt="Screenshot showing available themes"
				class="relative -z-20"
			/>
		</button>
		@imagePopup("feature-layout-popover") {
			<img
				width="2002"
				height="1288"
				src="/content/screenshots/screenshot-feature-layout.webp"
				alt="Screenshot showing available themes"
				decoding="async"
				class="mx-auto w-full rounded-box object-scale-down sm:max-w-360"
			/>
		}
	}
}

templ FeatureFetchRemoteContent(flipped bool) {
	@NewFeaturePanel("feature-fetch-remote-content") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Get remote content.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				For subscriptions where only article summaries are shown, Foragd can attempt to fetch and display the remote content. No more tab-switching.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-fetchremote"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<div class="relative inline-block">
				<img
					width="1920"
					height="1200"
					src="/content/screenshots/screenshot-feature-fetchremote.webp"
					alt="Screenshot of article preview (before remote content fetched)"
					class="relative -z-20"
				/>
				<svg aria-label="Play video" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-player-play text-accent absolute size-32 top-[30%] left-[35%]">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"></path>
				</svg>
			</div>
		</button>
		@imagePopup("feature-fetchremote") {
			<video
				controls
				height="1128"
				width="720"
				class="mx-auto h-auto w-full sm:max-w-180"
			>
				<source
					src="/content/screenshots/screencast-feature-fetchremote.webm"
					type="video/webm"
				/>
			</video>
		}
	}
}

templ FeatureFavorites(flipped bool) {
	@NewFeaturePanel("feature-favorites") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Favorites.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Favorite subscriptions to keep them top and center. Favorite articles to easily reference them later.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-favorites-popover"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<div class="relative inline-block">
				<img
					width="1920"
					height="1200"
					src="/content/screenshots/screenshot-feature-favorites.webp"
					alt="Screenshot of favorites page"
					class="relative -z-20"
				/>
				<svg aria-label="Play video" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-player-play text-accent absolute size-32 top-[30%] left-[35%]">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"></path>
				</svg>
			</div>
		</button>
		@imagePopup("feature-favorites-popover") {
			<video
				controls
				height="1128"
				width="720"
				class="mx-auto h-auto w-full sm:max-w-180"
			>
				<source
					src="/content/screenshots/screencast-feature-favorites.webm"
					type="video/webm"
				/>
			</video>
		}
	}
}

templ FeatureThemes(flipped bool) {
	@NewFeaturePanel("feature-themes") {
		<div class={ "lg:row-start-2 lg:max-w-md", templ.KV("lg:col-start-2 justify-self-end",flipped) }>
			<h2 class="text-3xl font-semibold tracking-tight text-balancesm:text-4xl">
				Themes.
			</h2>
			<p class="mt-6 text-lg/8 text-neutral">
				Choose from a selection of curated light and dark themes to your liking.
			</p>
		</div>
		<button
			command="show-modal"
			commandfor="feature-themes-popover"
			type="button"
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10 lg:row-span-4",
         templ.KV("lg:col-start-1 lg:w-full lg:max-w-2xl lg:justify-self-start",flipped),
         templ.KV("w-full",!flipped) }
		>
			<img
				width="1920"
				height="1200"
				src="/content/screenshots/screenshot-feature-themes.webp"
				alt="Screenshot showing available themes"
				class="relative -z-20"
			/>
		</button>
		@imagePopup("feature-themes-popover") {
			<img
				width="1920"
				height="1200"
				src="/content/screenshots/screenshot-feature-themes.webp"
				alt="Screenshot showing available themes"
				decoding="async"
				class="mx-auto w-full rounded-box object-scale-down sm:max-w-360"
			/>
		}
	}
}

templ FeaturesConsume() {
	@FeatureLayout(false)
	@FeatureFetchRemoteContent(true)
	@FeatureFavorites(false)
	@FeatureThemes(true)
}

templ imagePopup(id string) {
	<el-dialog>
		<dialog id={ id } class="relative z-10 backdrop:bg-transparent">
			<el-dialog-backdrop class="fixed inset-0 hidden transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in md:block">
				<div aria-hidden="true" class="pointer-events-none absolute top-1/2 left-12 -z-10 -translate-y-1/2 transform-gpu blur-3xl lg:top-auto lg:-bottom-48 lg:translate-y-0">
					<div
						style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
						class="aspect-1155/678 w-288.75 bg-linear-to-tr from-(--color-primary) to-(--color-secondary) opacity-25 dark:opacity-20"
					></div>
				</div>
			</el-dialog-backdrop>
			<div tabindex="0" class="fixed inset-0 z-10 w-screen overflow-y-auto focus:outline-none">
				<div class="flex min-h-full items-stretch justify-center text-center md:items-center">
					<span aria-hidden="true" class="hidden md:inline-block md:h-screen md:align-middle">&#8203;</span>
					<el-dialog-panel
						class="flex w-full transform text-left text-base transition data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in data-closed:md:translate-y-0 data-closed:md:scale-95"
						_="on click remove @open from  the closest <el-dialog/>"
					>
						{ children... }
					</el-dialog-panel>
				</div>
			</div>
		</dialog>
	</el-dialog>
}
