// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/dimmerz92/go-icons/tabler-filled"
	"github.com/goforj/godump"
	"github.com/immanent-tech/foragd/web/templates/element"
	"slices"
)

var featureGroups = []ListItem{
	ListItem{
		Name: "Collect",
		Description: `
<p class="mx-auto prose mt-12 text-neutral">
	<span class="font-semibold">Collect everything from one place.</span> Add any website, blog, YouTube channel, Reddit
	subreddit, or email newsletter easily. Foragd does the heavy lifting of find feeds for you. No more checking dozens
	of tabs or missing posts because an algorithm buried them.
</p>
<p class="text-center mt-12 text-accent font-semibold">
	<a class="link" href="/features/collect">Learn More <span aria-hidden="true">→</span></a>
</p>
`,
	},
	ListItem{
		Name: "Curate",
		Description: `
<p class="mx-auto prose mt-12 text-neutral">
	<span class="font-semibold">Organise your feeds your way.</span> Group subscriptions into a single unified feed.
	Search across every article you've ever received. Then save it as a subscription to follow new articles as they come
	in. Filter out articles you aren't interested in with easy text-based options. You're in control, no
	algorithm, no sponsored suggestions.
</p>
<p class="text-center mt-12 text-accent font-semibold">
	<a class="link" href="/features/curate">Learn More <span aria-hidden="true">→</span></a>
</p>
`,
	},
	ListItem{
		Name: "Consume",
		Description: `
<p class="mx-auto prose mt-12 text-neutral">
	<span class="font-semibold">Read without distractions.</span> Foragd can fetch the full
	article text directly from the source, so you get clean, readable content even when a site
	only publishes a summary in its feed. It has beautiful typography, theme support, and no ads
	mean the content always comes first. Save articles to read later, or share them with a link.
</p>
<p class="text-center mt-12 text-accent font-semibold">
	<a class="link" href="/features/consume">Learn More <span aria-hidden="true">→</span></a>
</p>
`,
	},
}

templ Features() {
	@LayoutExternal() {
		@LandingHeaderSlot()
		<div class="isolate bg-base-100">
			<div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
				<div class="soft-gradient-top"></div>
			</div>
			<div class="lg:pb-40">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
						<h1 class="text-5xl font-semibold tracking-tight text-primary">
							Everything you need to follow the web, on your terms
						</h1>
						<p class="prose mt-8 text-neutral">
							Foragd is a web-based RSS and feed reader for people who want to follow websites,
							newsletters, and YouTube channels without algorithms or ads. It's designed as an alternative
							to Feedly, Inoreader, and NewsBlur, with a focus on simplicity and clean reading.
						</p>
					</div>
				</div>
			</div>
			@container() {
				<dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
					for group := range slices.Values(featureGroups) {
						<div class="flex flex-col">
							<dt class="flex items-center gap-x-3 text-lg font-semibold text-secondary">
								{ group.Name }
							</dt>
							<dd class="mt-4 flex flex-auto flex-col">
								@templ.Raw(group.Description)
							</dd>
						</div>
					}
				</dl>
			}
			@ItemList("Foragd Features", featureGroups)
			<div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
				<div class="soft-gradient-bottom"></div>
			</div>
		</div>
	}
}

templ FeaturesPageCollect() {
	@LayoutExternal() {
		<div class="lg:pb-40">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
					<h1 class="text-5xl font-semibold tracking-tight text-primary">
						Collect
					</h1>
					<p class="mx-auto prose prose-xl mt-12">
						<span class="font-semibold">Collect everything from one place.</span> Add any website, blog, YouTube channel, Reddit
						subreddit, or email newsletter easily. Foragd does the heavy lifting of find feeds for you. No more checking dozens
						of tabs or missing posts because an algorithm buried them.
					</p>
				</div>
			</div>
		</div>
		// Feature: Add Content.
		@featurePanel("feature-add-content") {
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Easily add content from anywhere")
				@featureText() {
					<p>
						Enter a URL and Foragd will attempt to find and subscribe to the site's content. Or just enter a search
						term or phrase and explore Foragd's existing database of feeds.
					</p>
					<p>
						For YouTube, you can enter a channel name
						like
						<span class="italic">
							{ `@TED` }
						</span> directly.
					</p>
					<p>
						For Google News, enter your search query such as
						<span class="italic">
							when:24h site:reuters.com
						</span>.
					</p>
					<p>
						Whether its a Google News search, Youtube channel, or just a URL, Foragd will find any
						available feeds for you to subscribe to. No need to hunt around for obscure URL links, formats and parameters.
					</p>
				}
			</div>
			@featureVideo("feature-addcontent-video",
				featureMedia{
					width:  1920,
					height: 1200,
					url:    "/content/screenshots/screenshot-feature-addcontent.webp",
					alt:    "Screenshot of add content page",
				},
				featureMedia{
					width:  720,
					height: 1128,
					url:    "/content/screenshots/screencast-feature-addcontent.webm",
				},
			)
		}
		// Feature: Email Newsletters.
		@featurePanel("feature-email-newsletters") {
			<img
				width="482"
				height="381"
				src="/content/screenshots/screenshot-feature-emailnewsletters.webp"
				alt="Screenshot of email newsletter option"
				class="rounded-xl shadow-xl ring-1 ring-neutral/10"
			/>
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Sign up for email newsletters")
				@featureText() {
					<p>
						Protect your email and your inbox. Each Foragd account can generate a unique masked email you can use to
						sign up to email newsletters. Use this email when signing up for newsletters to get your website and
						email updates in the one place. You can favorite and search through newsletters just like any other feed.
					</p>
				}
			</div>
		}
		// Feature: Import.
		@featurePanel("feature-import") {
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Migrate from other services")
				@featureText() {
					<p>
						Coming from Feedly, Inoreader or another service? Foragd can import your existing subscriptions easily.
						Foragd supports using the OPML file format, a widely used standard for imports and exports. You always
						own and control your data. Import and export your subscriptions freely.
					</p>
				}
			</div>
			@featureImage("feature-import-image",
				featureMedia{
					url:        "/content/screenshots/screenshot-feature-import.webp",
					alt:        "Desktop screenshot showing import results",
					width:      1920,
					height:     1200,
					Properties: element.NewProperties(),
				},
			)
		}
		// Navigation to other feature group pages.
		<div class="text-center text-xl font-semibold">Check out other features:</div>
		<nav class="flex justify-center">
			<ul class="menu menu-horizontal menu-lg">
				<li><a href="/features/curate">Curate</a></li>
				<li><a href="/features/consume">Consume</a></li>
			</ul>
		</nav>
	}
}

templ FeaturesPageCurate() {
	@LayoutExternal() {
		<div class="lg:pb-40">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
					<h1 class="text-3xl sm:text-5xl font-semibold tracking-tight text-primary">
						Curate
					</h1>
					<p class="mx-auto prose prose-lg sm:prose-xl mt-12">
						<span class="font-semibold">Organise your feeds your way.</span> Group subscriptions into a single unified feed.
						Search across every article you've ever received. Then save it as a subscription to follow new articles as they come
						in. Filter out articles you aren't interested in with easy text-based options. You're in control, no
						algorithm, no sponsored suggestions.
					</p>
				</div>
			</div>
		</div>
		// Feature: Group Subscriptions.
		@featurePanel("feature-group-subscriptions") {
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Group Subscriptions")
				@featureText() {
					<p>
						Group multiple site subscriptions together to view a unified feed of their articles. Great for combining
						sites on similar topics into one (e.g., all Android or Apple news). You can then apply <a
	href="#feature-article-filters"
>article filters</a> across all grouped subscriptions, further refining
						the list of articles displayed.
					</p>
				}
			</div>
			@featureImage("feature-group-subscriptions-screenshot",
				featureMedia{
					url:        "/content/screenshots/screenshot-feature-groupsubscription.webp",
					alt:        "Screenshot showing adding multiple feeds to create a group subscription",
					width:      1920,
					height:     1080,
					Properties: element.NewProperties(),
				},
			)
		}
		// Feature: Search Subscriptions.
		@featurePanel("feature-search-subscriptions") {
			@featureVideo("feature-search-subscription-video",
				featureMedia{
					width:  1920,
					height: 1200,
					url:    "/content/screenshots/screenshot-feature-searchsubscription-thumbnail.webp",
					alt:    "Screenshots of search subscription page",
				},
				featureMedia{
					width:  720,
					height: 1128,
					url:    "/content/screenshots/screencast-feature-searchsubscription.webm",
				},
			)
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Saved Search Subscriptions")
				@featureText() {
					<p>
						Use full text search across articles. Find that thing mentioned in that post on that blog a
						while ago easily.
					</p>
					<p>
						Want to keep up to date when new posts arrive that match? Save the search as a <span
	class="italic"
>Search Subscription</span> to keep up to date with new articles that match. This a great way to keep up to date with a
						topic across multiple sources or for research and data analysis.
					</p>
				}
			</div>
		}
		// Feature: Article Filters.
		@featurePanel("feature-article-filters") {
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Article Filtering")
				@featureText() {
					<p>
						Filter articles with straight-forward +/- keyword/phrase matching. No complicated AND/OR forms and
						logic.
					</p>
					<p>
						For example, <span class="italic">`AI -chatgpt`</span> will filter for AI news, but not about
						ChatGPT.
					</p>
					<p>
						Use <span class="italic">`+python +tutorial`</span> to find articles that are only about python
						and are also tutorials.
					</p>
					<p>
						Combine them for further refinement:
						<span class="italic">
							`+python +tutorial AI
							-chatgpt`
						</span>.
					</p>
					<p>
						More details:
						<a href="/blog/article-filtering-in-foragd">
							Clearing the Noise: Article Filtering in Foragd
						</a>
					</p>
				}
			</div>
			<img
				width="463"
				height="261"
				src="/content/screenshots/screenshot-feature-articlefiltering.webp"
				alt="Screenshot showing example article filters with +/ keyword and phrase matching"
				class="rounded-xl shadow-xl ring-1 ring-neutral/10"
			/>
		}
		// Feature: Subscription Customisation.
		@featurePanel("feature-subscription-customisation") {
			@featureImage("feature-subscription-customisation-screenshot",
				featureMedia{
					width:      1920,
					height:     1200,
					url:        "/content/screenshots/screenshot-feature-subscriptioncustomisation.webp",
					alt:        "Screenshot showing subscription customisation options and settings",
					Properties: element.NewProperties(),
				},
			)
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Subscription Customisation")
				@featureText() {
					<p>
						You can customise each subscription, choosing your own nickname and/or image to represent each. Useful
						where the feed does not include its own image or its name is verbose or generic.
					</p>
				}
			</div>
		}
		// Navigation to other feature group pages.
		<div class="text-center text-xl font-semibold">Check out other features:</div>
		<nav class="flex justify-center">
			<ul class="menu menu-horizontal menu-lg">
				<li><a href="/features/collect">Collect</a></li>
				<li><a href="/features/consume">Consume</a></li>
			</ul>
		</nav>
	}
}

templ FeaturesPageConsume() {
	@LayoutExternal() {
		<div class="lg:pb-40">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
					<h1 class="text-3xl sm:text-5xl font-semibold tracking-tight text-primary">
						Consume
					</h1>
					<p class="mx-auto prose prose-lg sm:prose-xl mt-12">
						<span class="font-semibold">Read without distractions.</span> Foragd can fetch the full
						article text directly from the source, so you get clean, readable content even when a site
						only publishes a summary in its feed. It has beautiful typography, theme support, and no ads
						mean the content always comes first. Save articles to read later, or share them with a link.
					</p>
				</div>
			</div>
		</div>
		// Feature: Layout.
		// @featurePanel("feature-layout") {
		// 	<div class="w-full sm:min-w-1/2">
		// 		@featureTitle("Content Comes First")
		// 		@featureText() {
		// 			<p>
		// 				Foragd has an interface that stays out of the way, letting the content shine. Beautiful typography and
		// 				large images.
		// 			</p>
		// 		}
		// 	</div>
		// 	@featureImage("feature-layout-popover",
		// 		featureMedia{
		// 			width:      2002,
		// 			height:     1288,
		// 			url:        "/content/screenshots/screenshot-feature-layout.webp",
		// 			alt:        "Screenshot showing available themes",
		// 			Properties: element.NewProperties(),
		// 		},
		// 	)
		// }
		// Feature: Get Full Content.
		@featurePanel("feature-fetch-remote-content") {
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Get Full Content")
				@featureText() {
					<p>
						For subscriptions where only article summaries are shown, Foragd can fetch and display the
						remote content. Foragd tries to fetch all images and other relevant content to recreate the
						reading experience without needing to switch browser tabs.
					</p>
				}
			</div>
			@featureImage("feature-fetchremote-screenshot",
				featureMedia{
					width:      1920,
					height:     1200,
					url:        "/content/screenshots/screenshot-feature-fetchremote.webp",
					alt:        "Screenshot of article preview (before remote content fetched)",
					Properties: element.NewProperties(),
				},
			)
		}
		// Feature: Favorites.
		@featurePanel("feature-favorites") {
			@featureVideo("feature-favorites-video",
				featureMedia{
					width:      1920,
					height:     1200,
					url:        "/content/screenshots/screenshot-feature-favorites.webp",
					alt:        "Screenshot of favorites page",
					Properties: element.NewProperties(),
				},
				featureMedia{
					width:  720,
					height: 1128,
					url:    "/content/screenshots/screencast-feature-favorites.webm",
				},
			)
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Save Favorite Subscriptions and Articles")
				@featureText() {
					<p>
						Favorite subscriptions to keep them top and center. Favorite articles to easily reference them
						later. Your favorite articles are kept forever, even if the source removes them from their feed.
					</p>
				}
			</div>
		}
		// Feature: Themes.
		@featurePanel("feature-themes") {
			<div class="w-full sm:min-w-1/2">
				@featureTitle("Choose Your Theme")
				@featureText() {
					<p>
						Choose from a selection of curated light and dark themes to your liking.
					</p>
				}
			</div>
			@featureImage("feature-themes-screenshot",
				featureMedia{
					width:      1920,
					height:     1200,
					url:        "/content/screenshots/screenshot-feature-themes.webp",
					alt:        "Screenshot showing available themes",
					Properties: element.NewProperties(),
				},
			)
		}
		// Navigation to other feature group pages.
		<div class="text-center text-xl font-semibold">Check out other features:</div>
		<nav class="flex justify-center">
			<ul class="menu menu-horizontal menu-lg">
				<li><a href="/features/collect">Collect</a></li>
				<li><a href="/features/curate">Curate</a></li>
			</ul>
		</nav>
	}
}

templ featurePanel(id string) {
	<div class="py-12" id={ id }>
		<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
			<div class="relative isolate overflow-hidden bg-base-200 px-6 py-20 sm:rounded-3xl sm:px-10 sm:py-24 lg:py-24 xl:px-24">
				<div class="flex flex-col sm:flex-row items-center justify-between gap-12">
					{ children... }
				</div>
				<div aria-hidden="true" class="pointer-events-none absolute top-1/2 left-12 -z-10 -translate-y-1/2 transform-gpu blur-3xl lg:top-auto lg:-bottom-48 lg:translate-y-0">
					<div class="soft-gradient-bottom"></div>
				</div>
			</div>
		</div>
	</div>
}

templ featureTitle(title string) {
	<h2 class="text-balance text-xl sm:text-3xl font-semibold tracking-tight">{ title }</h2>
}

templ featureText() {
	<div class="mt-2 prose sm:prose-lg">
		{ children... }
	</div>
}

type featureMedia struct {
	url    string
	alt    string
	width  int
	height int

	*element.Properties
}

// featureImage renders an image as either a link that when clicked opens the image original size, or in a lightbox/dialog.
templ featureImage(id string, img featureMedia) {
	{{ godump.Dump(img) }}
	<a href={ img.url } class="sm:hidden">
		<img
			width={ img.width }
			height={ img.height }
			src={ img.url }
			alt={ img.alt }
			class={ "rounded-xl shadow-xl ring-1 ring-neutral/10", img.Properties.Classes() }
			if img.Properties != nil {
				{ img.Properties.Attributes()... }
			}
		/>
	</a>
	<div class="hidden sm:flex sm:shrink">
		<button command="show-modal" commandfor={ id } type="button" class="rounded-xl shadow-xl ring-1 ring-neutral/10">
			<img
				width={ img.width }
				height={ img.height }
				src={ img.url }
				alt={ img.alt }
				class={ img.Properties.Classes() }
				if img.Properties != nil {
					{ img.Properties.Attributes()... }
				}
			/>
		</button>
		<el-dialog>
			<dialog id={ id }>
				<el-dialog-panel>
					<img
						width={ img.width }
						height={ img.height }
						src={ img.url }
						alt={ img.alt }
						class={ "mx-auto w-screen rounded-box object-scale-down", img.Properties.Classes() }
						if img.Properties != nil {
							{ img.Properties.Attributes()... }
						}
					/>
				</el-dialog-panel>
			</dialog>
		</el-dialog>
	</div>
}

templ featureVideo(id string, preview, video featureMedia) {
	<div class="relative inline-block">
		<button
			command="show-modal"
			commandfor={ id }
			type="button"
			class="rounded-xl shadow-xl ring-1 ring-neutral/10"
		>
			<img
				width={ preview.width }
				height={ preview.height }
				src={ preview.url }
				alt={ preview.alt }
			/>
			@tablerfilled.PlayerPlay(templ.Attributes{"class": "absolute top-[30%] left-[35%] size-32 text-accent", "aria-label": "Play video"})
		</button>
		<el-dialog>
			<dialog id={ id } class="mx-auto my-auto">
				<el-dialog-panel>
					<video
						controls
						height={ video.height }
						width={ video.width }
					>
						<source src={ video.url } type="video/webm"/>
					</video>
				</el-dialog-panel>
			</dialog>
		</el-dialog>
	</div>
}
