// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
)

templ feedThumbnail(feed *models.Feed) {
	if feed.GetImage() != nil {
		// If the source has an image, use that as the avatar.
		<div class="avatar" aria-hidden="true">
			// rs:auto:48:48 - resize to 48x48 https://docs.imgproxy.net/usage/processing#resize
			// sh:0.5 - sharpen https://docs.imgproxy.net/usage/processing#sharpen
			// q:80 - quality https://docs.imgproxy.net/usage/processing#quality
			// sm:1 - strip metadata
			// kcr:1 - keep copyright
			// scp:1 - convert color profile to sRGB
			@partials.NewProxiedImage(feed.GetImage(), "rs:auto:48:48/q:80/sm:1/kcr:1/scp:1/ext:webp",
				element.WithAttribute("width", "48"),
				element.WithAttribute("height", "48"),
				element.WithClasses("mask mask-squircle size-12", "ring-1", "ring-neutral-content/25"),
			)
		</div>
	} else {
		// Otherwise, take the first letter of the subscription name and create a placeholder avatar.
		<div class="avatar avatar-placeholder" aria-hidden="true">
			<div class="mask w-12 bg-neutral mask-squircle text-neutral-content ring-1 ring-neutral-content/25">
				if feed.GetTitle() != "" {
					<span class="text-3xl font-serif capitalize">{ feed.GetTitle()[0:1] }</span>
				} else {
					<span class="text-3xl font-serif capitalize">?</span>
				}
			</div>
		</div>
	}
}
