// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "time"

templ FooterExternal() {
	<footer class="footer bg-base-200 p-10 text-base-content sm:footer-horizontal">
		<aside>
			<img
				src="/content/logo-horizontal-light.webp"
				alt="Foragd logo"
				width="256"
				height="66"
				class="object-scale-down"
				loading="lazy"
			/>
			<p>
				<p>Copyright © { time.Now().Format("2006") } <br/> <a class="link" href="https://immanent.tech">Immanent Tech.</a> All rights reserved.</p>
			</p>
		</aside>
		<nav>
			<h3 class="footer-title">Product</h3>
			<a href="/features/collect" class="link link-hover">Collect</a>
			<a href="/features/curate" class="link link-hover">Curate</a>
			<a href="/features/consume" class="link link-hover">Consume</a>
			<a href="/#pricing" class="link link-hover">Pricing</a>
		</nav>
		<nav>
			<h3 class="footer-title">Info</h3>
			<a href="/about" class="link link-hover">About</a>
			<a href="/blog" class="link link-hover">Blog</a>
			<a href="/help" class="link link-hover">Help/Documentation</a>
		</nav>
		<nav>
			<h3 class="footer-title">Legal</h3>
			<a href="/policies/privacy" class="link link-hover">Privacy Policy</a>
			<a href="/policies/tos" class="link link-hover">Terms of Service</a>
			<a href="/policies/acceptable-use" class="link link-hover">Acceptable Use</a>
		</nav>
	</footer>
}
