// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
)

templ header(user *models.User) {
	<header
		aria-label="Header"
		class="sticky w-full top-0 z-50 flex h-16 items-center bg-base-200 border-b border-base-content/30"
	>
		@NewLink(
			WithAttribute("href", "/home"),
			WithClasses("link-hover"),
		) {
			<div class="flex flex-row shrink-0 p-2 items-center text-primary">
				@LogoSmall("flex size-8")
				<p class="font-bold hidden lg:flex">Foragd</p>
			</div>
		}
		if user != nil {
			// Global search bar.
			<div class="flex flex-1 justify-center">
				<el-command-palette class="grid w-full sm:max-w-3xl">
					<search>
						<label
							for="global-search"
							class="w-full sm:max-w-3xl input input-primary text-base sm:text-sm/6 placeholder:text-base-content/80 bg-base-content/10"
						>
							@tabler.Search(i.Props{Class: "pointer-events-none flex-none text-primary"})
							<input
								hx-post="/search/suggestions"
								hx-target="#global-search-suggestions"
								hx-include="#search-filters,[id='timezone']"
								hx-trigger="keyup changed delay:300ms"
								id="global-search"
								type="search"
								name="text"
								hx-push-url="false"
								placeholder="Search..."
								spellcheck="false"
								autocomplete="off"
								_="on keydown from body if the event's key is 'k' and event.altKey then focus() me"
							/>
							// Filters button opens advanced search dialog.
							<button
								type="button"
								command="show-modal"
								commandfor="search-filters-dialog"
								tabindex="0"
							>
								@tabler.Filter(i.Props{Class: "flex-none text-primary"})
							</button>
						</label>
					</search>
					<el-command-list
						id="global-search-suggestions"
						class="absolute left-0 sm:fixed sm:left-auto top-16 mt-2 w-full sm:max-w-3xl max-h-128 sm:h-fit scroll-py-2 overflow-y-auto p-2 rounded-md shadow-lg bg-base-300 text-base sm:text-sm/6 outline-1 -outline-offset-1 outline-base-content/10"
						_="on keydown[key is 'Escape'] add .hidden"
					></el-command-list>
				</el-command-palette>
				// Advanced search dialog.
				<el-dialog>
					<dialog id="search-filters-dialog" class="mt-16 mb-auto mx-auto p-4 sm:p-6 w-full sm:max-w-3xl max-h-9/10 overflow-y-auto bg-base-300 rounded-box shadow-sm outline-1 -outline-offset-1 outline-base-content/15">
						<el-dialog-panel>
							@SearchFilters(models.NewSearchRequest(), nil)
						</el-dialog-panel>
					</dialog>
				</el-dialog>
			</div>
			// User settings menu.
			<div class="flex items-center justify-end mx-2 sm:mr-4">
				<div aria-hidden="true" class="hidden lg:block lg:h-6 lg:w-px lg:bg-base-content/10"></div>
				<el-dropdown id="header-user-menu" class="relative">
					@NewButton(
						WithID("header-menu-button"),
						WithClasses("btn-ghost btn-square"),
					) {
						<span class="sr-only">Open settings menu</span>
						@UserAvatar(user, nil)
					}
					<el-menu id="header-menu" anchor="bottom end" popover>
						// Open settings menu.
						@NewLink(
							WithHXMethod(http.MethodGet, "/user/settings"),
							WithHXTarget(ContentID.Target()),
							WithHXPushURL(true),
							WithAttribute("_", "on click remove @open from #header-menu"),
							WithClasses("link-hover"),
						) {
							<div class="flex flex-1 items-center gap-x-2">
								@tabler.SettingsFilled(i.Props{Class: "size-4"})
								Settings
							</div>
						}
						// Help documentation.
						@NewLink(
							WithAttribute("href", "/help"),
							WithAttribute("rel", "noopener"),
							WithAttribute("target", "_blank"),
							WithClasses("link-hover"),
						) {
							<div class="flex flex-1 items-center gap-x-2">
								@tabler.Help(i.Props{Class: "size-4"})
								Help/Documentation
							</div>
						}
						// Report issue.
						@NewLink(
							WithHXMethod(http.MethodGet, "/issue"),
							WithHXTarget(ContentID.Target()),
							WithHXReplaceURL(true),
							WithClasses("link-hover"),
						) {
							<div class="flex flex-1 items-center gap-x-2">
								@tabler.FlagFilled(i.Props{Class: "size-4"})
								Report an issue
							</div>
						}
						// Logout
						@NewLink(
							WithAttribute("href", "/logout"),
							WithClasses("link-hover"),
						) {
							<div class="flex flex-1 items-center gap-x-2">
								@tabler.Logout(i.Props{Class: "size-4"})
								Log out
							</div>
						}
					</el-menu>
				</el-dropdown>
			</div>
		}
		//  else {
		// 	<div class="flex flex-1"></div>
		// 	<div class="flex items-center justify-end mx-2 sm:mr-4">
		// 		@NewLink(
		// 			WithAttribute("href", "/login"),
		// 			WithAttribute("role", "button"),
		// 			WithClasses("btn", "btn-primary", "link-hover"),
		// 		) {
		// 			Log in
		// 		}
		// 	</div>
		// }
	</header>
}
