// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
)

templ HeaderExternal() {
	<header id="page-header" aria-label="Header" class="absolute top-0 inset-x-safe-or-0 z-50 pt-safe">
		<nav aria-label="Global" class="flex w-full items-center justify-between p-6 lg:px-8">
			<div class="flex lg:hidden">
				<button aria-label="Open main menu" type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5">
					<span class="sr-only">Open menu</span>
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2 text-primary">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path d="M4 18l16 0"></path>
					</svg>
				</button>
			</div>
			<div class="hidden lg:flex lg:gap-x-12">
				<a href="/about" class="link text-sm/6 font-semibold text-primary link-hover">About</a>
				<a href="/features" class="link text-sm/6 font-semibold text-primary link-hover">Features</a>
				<a href="/#pricing" class="link text-sm/6 font-semibold text-primary link-hover">Pricing</a>
				<a href="/blog" class="link text-sm/6 font-semibold text-primary link-hover">Blog</a>
				<a href="/changelog" class="link text-sm/6 font-semibold text-primary link-hover">Changelog</a>
				<a href="/viewer" class="link text-sm/6 font-semibold text-primary link-hover">Feed Viewer</a>
			</div>
			<div class="hidden lg:flex lg:flex-1 lg:justify-end">
				<a href="/login" class="link text-sm/6 font-semibold text-primary link-hover">Log in <span aria-hidden="true">&rarr;</span></a>
			</div>
		</nav>
		<el-dialog>
			<dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
				<div tabindex="0" class="fixed inset-0 focus:outline-none">
					<el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-base-300 p-6 sm:max-w-sm sm:ring-1 sm:ring-base-300">
						<div class="flex items-center justify-between">
							<a href="/" class="-m-1.5 p-1.5" aria-label="Foragd home">
								<div class="flex items-center">
									@partials.Logo(element.WithClasses("size-10"))
									<p class="hidden font-bold text-primary lg:flex">Foragd</p>
								</div>
							</a>
							<button aria-label="Close menu" type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-neutral">
								<span class="sr-only">Close menu</span>
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icons-tabler-outline icon-tabler-x text-primary" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"></path>
								</svg>
							</button>
						</div>
						<div class="mt-6 flow-root">
							<div class="-my-6 divide-y divide-neutral">
								<div class="space-y-2 py-6">
									<a href="/about" class="-mx-3 block link rounded-lg px-3 py-2 text-base/7 font-semibold text-primary link-hover">About</a>
									<a href="/features" class="-mx-3 block link rounded-lg px-3 py-2 text-base/7 font-semibold text-primary link-hover">Features</a>
									<a href="/#pricing" class="-mx-3 block link rounded-lg px-3 py-2 text-base/7 font-semibold text-primary link-hover">Pricing</a>
									<a href="/blog" class="-mx-3 block link rounded-lg px-3 py-2 text-base/7 font-semibold text-primary link-hover">Blog</a>
									<a href="/changelog" class="-mx-3 block link rounded-lg px-3 py-2 text-base/7 font-semibold text-primary link-hover">Changelog</a>
									<a href="/viewer" class="-mx-3 block link rounded-lg px-3 py-2 text-base/7 font-semibold text-primary link-hover">Feed Viewer</a>
								</div>
								<div class="py-6">
									<a href="/login" class="-mx-3 block link rounded-lg px-3 py-2.5 text-base/7 font-semibold text-neutral link-hover">Log in</a>
								</div>
							</div>
						</div>
					</el-dialog-panel>
				</div>
			</dialog>
		</el-dialog>
	</header>
}

templ HeaderInternal(props *InternalLayoutProps) {
	<header
		id="page-header"
		aria-label="Header"
		class="fixed top-0 inset-x-safe-or-0 z-50 h-16 w-screen border-b border-neutral/10 bg-base-200 pt-safe shadow-sm"
	>
		<div class="flex w-full items-center justify-between">
			<a
				hx-get="/home"
				hx-target={ ContentID.Target() }
				hx-swap="innerHTML show:window:top transition:true"
				class="flex shrink link link-hover"
				aria-label="Foragd home"
			>
				<div class="flex shrink-0 items-center justify-center p-2 sm:w-36 sm:flex-row">
					@partials.Logo(element.WithClasses("size-10"))
					<span class="hidden font-serif text-xs font-bold text-primary sm:flex sm:text-lg">foragd</span>
				</div>
			</a>
			// Global search bar.
			<div class="flex flex-1 justify-center">
				@Search()
			</div>
			// User settings menu.
			<div class="mx-2 flex items-center justify-end space-x-2 sm:mr-4">
				<div aria-hidden="true" class="hidden lg:block lg:h-6 lg:w-px lg:bg-base-content/10"></div>
				<el-popover-group class="flex items-center gap-x-2">
					// Display a clickable warning popover to indicate the user's trial has expired and they need to purchase a subscription.
					if !props.User.InTrial() && props.User.InTrialGracePeriod() {
						<button popovertarget="trial-grace-period" type="button" class="btn btn-warning btn-square">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle text-warning-content"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M12 9v4"></path>
								<path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0"></path>
								<path d="M12 16h.01"></path>
							</svg>
						</button>
						<el-popover popover id="trial-grace-period" anchor="bottom end" class="rounded-box [--anchor-gap:--spacing(2.5)]">
							<div role="alert" class="alert alert-warning">
								<div class="grid grid-cols-3">
									<div class="col-span-full flex items-center">
										<div class="shrink-0">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="24"
												height="24"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
												class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle text-warning-content"
											>
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M12 9v4"></path>
												<path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0"></path>
												<path d="M12 16h.01"></path>
											</svg>
										</div>
										<span>
											Warning: Your trial has expired and your access will be removed within the next seven
											days. To continue using the app, please purchase a subscription.
										</span>
									</div>
									<a class="col-start-2 col-span-2 justify-self-end link font-semibold" href="/checkout">Purchase a subscription</a>
									<a class="col-start-2 col-span-2 justify-self-end link font-semibold" href="/contact">Contact support</a>
								</div>
							</div>
						</el-popover>
					}
					<el-dropdown id="header-user-menu" class="flex">
						<button class="inline-flex btn-square w-full btn-ghost">
							<span class="sr-only">Open settings menu</span>
							@UserAvatar(props.User, templ.Attributes{
								"loading": "eager",
							})
						</button>
						@partials.Menu(element.WithAttribute("id", "header-menu")) {
							// Open settings menu.
							@partials.MenuItem() {
								<a
									hx-get="/user/settings"
									hx-target={ ContentID.Target() }
								>
									<div class="flex flex-1 items-center gap-x-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											fill="none"
											stroke="currentColor"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round"
											class="icon icon-tabler icons-tabler-outline icon-tabler-settings text-accent"
										>
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
											<path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065"></path>
											<path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
										</svg>
										Settings
									</div>
								</a>
							}
							// Open Help/Documentation.
							@partials.MenuItem() {
								<a
									hx-get="/docs"
									hx-target={ ContentID.Target() }
									hx-swap="innerHTML transition:true"
									hx-replace-url="true"
								>
									<div class="flex flex-1 items-center gap-x-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											fill="none"
											stroke="currentColor"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round"
											class="icon icon-tabler icons-tabler-outline icon-tabler-lifebuoy text-accent"
										>
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
											<path d="M8 12a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
											<path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
											<path d="M15 15l3.35 3.35"></path>
											<path d="M9 15l-3.35 3.35"></path>
											<path d="M5.65 5.65l3.35 3.35"></path>
											<path d="M18.35 5.65l-3.35 3.35"></path>
										</svg> Help/Documentation
									</div>
								</a>
							}
							@partials.MenuItem() {
								<a
									href="/changelog"
								>
									<div class="flex flex-1 items-center gap-x-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											fill="none"
											stroke="currentColor"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round"
											class="icon icon-tabler icons-tabler-outline icon-tabler-transform text-accent"
										>
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
											<path d="M3 6a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
											<path d="M21 11v-3a2 2 0 0 0 -2 -2h-6l3 3m0 -6l-3 3"></path>
											<path d="M3 13v3a2 2 0 0 0 2 2h6l-3 -3m0 6l3 -3"></path>
											<path d="M15 18a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
										</svg>
										Changelog
									</div>
								</a>
							}
							// Report issue.
							@partials.MenuItem() {
								<a
									hx-get="/issue"
									hx-target={ ContentID.Target() }
									hx-replace-url="true"
								>
									<div class="flex flex-1 items-center gap-x-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											fill="none"
											stroke="currentColor"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round"
											class="icon icon-tabler icons-tabler-outline icon-tabler-flag text-accent"
										>
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
											<path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0v9a5 5 0 0 1 -7 0a5 5 0 0 0 -7 0v-9"></path>
											<path d="M5 21v-7"></path>
										</svg> Report an issue
									</div>
								</a>
							}
							// Logout.
							@partials.MenuItem() {
								<a
									_="
								on click
								    js localStorage.clear() end
								    js sessionStorage.clear() end
								    then go to url '/logout'
								"
								>
									<div class="flex flex-1 items-center gap-x-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											fill="none"
											stroke="currentColor"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round"
											class="icon icon-tabler icons-tabler-outline icon-tabler-logout text-accent"
										>
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
											<path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
											<path d="M9 12h12l-3 -3"></path>
											<path d="M18 15l3 -3"></path>
										</svg> Log out
									</div>
								</a>
							}
						}
					</el-dropdown>
				</el-popover-group>
			</div>
		</div>
	</header>
}
