// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/config"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"strconv"
)

// UserHome is the default user home page.
templ UserHome(data *models.HomeResponse) {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				<main class="pt-8 pb-32">
					<h1 class="sr-only">Home</h1>
					if len(data.LatestArticles) == 0 {
						// User has no unread content, show a message and link to favorites.
						@partials.NoContent()
					} else {
						<div class="grid grid-cols-1 items-start gap-4 px-2 lg:grid-cols-3 lg:gap-8">
							// Left column
							<div class="grid grid-cols-1 gap-4 lg:col-span-2">
								<section aria-labelledby="section-latest-articles">
									<h2 id="section-latest-articles" class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl">
										Latest Articles
									</h2>
									<div>
										// Grid of latest articles on large displays.
										<div class="hidden grid-cols-1 place-items-center gap-4 content-auto sm:inline-grid sm:grid-cols-2 sm:gap-8">
											for idx, article := range data.LatestArticles {
												@ArticleCard(idx, article)
											}
										</div>
										// Carousel of latest articles on small displays.
										<div class="carousel w-full carousel-center space-x-4 p-4 content-auto sm:hidden items-center">
											for idx, article := range data.LatestArticles {
												<div id={ "article" + strconv.Itoa(idx+1) } class="carousel-item max-w-9/10">
													@ArticleCard(idx, article)
												</div>
											}
										</div>
									</div>
								</section>
							</div>
							// Right column
							<div class="grid grid-cols-1 gap-4">
								if len(data.Subscriptions) > 0 {
									// List of subscriptions by last updated.
									<section aria-labelledby="section-last-updated-subscriptions">
										<h2
											id="section-last-updated-subscriptions"
											class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl"
										>
											Last Updated Subscriptions
										</h2>
										<ul role="list" class="divide-y divide-neutral/15">
											for idx, subscription := range data.Subscriptions {
												if idx >= 6 {
													{{ break }}
												}
												<li
													class="group hover:hover-shadow flex cursor-pointer touch-manipulation py-4 will-change-[opacity,transform] animate-fadeinup"
													style={ "--i: " + strconv.Itoa(idx) }
													id={ subscription.GetID() }
													{ generateSubscriptionViewArticlesAttributes(subscription)... }
												>
													<div class="mr-4 shrink-0 ease-[cubic-bezier(0.2, 0, 0, 1)] mr-4 shrink-0 self-center transition-transform duration-400 group-hover:scale-[1.1]">
														if subscription.GetImage() == "" {
															@subscriptionThumbnail(nil, subscription.GetTitle())
														} else {
															@subscriptionThumbnail(models.NewRemoteImage(subscription.GetImage(), subscription.GetTitle()), subscription.GetTitle())
														}
													</div>
													<div>
														<h4 class="text-lg font-bold">{ subscription.GetTitle() }</h4>
														<span class="mt-1 text-sm/6 text-neutral">
															<relative-time
																datetime={ subscription.GetUpdatedDate().Format("2006-01-02T15:04:05-0700") }
																format="relative"
															>
																{ subscription.GetUpdatedDate().Format("Jan _2, 2006") }
															</relative-time>
														</span>
													</div>
												</li>
											}
										</ul>
									</section>
								}
								if len(data.TopCategories) > 0 {
									<section aria-labelledby="section-top-categories">
										<h2
											id="section-top-categories"
											class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl"
										>
											Top Categories
										</h2>
										<div id="top-categories" class="m-2 flex flex-row flex-wrap justify-center gap-2 p-2">
											for category := range data.TopCategories {
												{{
													filters := models.NewListDisplayFilters()
													filters.Categories = append(filters.Categories, category.Category)
												}}
												<span
													hx-get="/list/articles"
													hx-target={ ContentID.Target() }
													hx-vals={ templ.JSONString(filters.Values()) }
													_="on click halt the event's bubbling"
													class="inline-flex items-center rounded-md bg-accent px-2 py-1 text-xs font-medium text-accent-content transition-transform duration-400 hover:scale-[1.04]"
												>
													{ category.Category }
												</span>
											}
										</div>
									</section>
								}
							</div>
						</div>
					}
					@partials.ButtonBackToTop()
				</main>
			}
		}
	}
}

// NewUserHome is a home page displayed for new users, with some instructions and actions to help them set up the app.
templ NewUserHome() {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">
					{ "Welcome to " + config.AppName }
				</h1>
				<p class="py-2">
					This is your home page, where you can find all your subscriptions. At the moment its a little bare!
				</p>
				<div class="py-4">
					<h2 class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl">
						Add/Import Subscriptions
					</h2>
					<p class="py-2">
						Import your subscriptions from an external service or start fresh.
					</p>
					<div class="relative flex max-w-prose items-center space-x-4 rounded-xl p-2 focus-within:outline-2 focus-within:outline-primary hover:bg-primary/50 hover:text-primary-content">
						<div class="flex size-16 shrink-0 items-center justify-center rounded-lg bg-primary">
							<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-6 text-secondary-content">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
							</svg>
						</div>
						<div>
							<h4 class="text-sm font-medium">
								<a
									hx-get="/subscription/add/feed"
									hx-target={ ContentID.Target() }
									hx-swap="innerHTML show:window:top transition:true"
									hx-push-url="true"
									class="focus:outline-hidden"
								>
									<span aria-hidden="true" class="absolute inset-0"></span>
									Add a feed subscription	<span aria-hidden="true">&rarr;</span>
								</a>
							</h4>
							<p class="mt-1 text-sm text-base-content">
								Add a single subscription from a URL or webpage.
							</p>
						</div>
					</div>
					<div class="relative flex max-w-prose items-center space-x-4 rounded-xl p-2 focus-within:outline-2 focus-within:outline-secondary hover:bg-secondary/50 hover:text-secondary-content">
						<div class="flex size-16 shrink-0 items-center justify-center rounded-lg bg-secondary">
							<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-download size-6 text-secondary-content">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4"></path><path d="M12 13l0 9"></path><path d="M9 19l3 3l3 -3"></path>
							</svg>
						</div>
						<div>
							<h4 class="text-sm font-medium">
								<a
									hx-get="/user/import"
									hx-target={ ContentID.Target() }
									hx-swap="innerHTML show:window:top transition:true"
									hx-push-url="true"
									class="focus:outline-hidden"
								>
									<span aria-hidden="true" class="absolute inset-0"></span>
									Import subscriptions <span aria-hidden="true">&rarr;</span>
								</a>
							</h4>
							<p class="mt-1 text-sm text-base-content">
								Import multiple subscriptions using an OPML file.
							</p>
						</div>
					</div>
				</div>
				<div class="py-4">
					<h2 class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl">
						Start With Curated Subscription Sets
					</h2>
					<p class="py-2">
						Or try one or more curated starter sets (you can also add these later in settings).
					</p>
					<form
						hx-post="/user/feedset"
						hx-swap="none"
						hx-indicator="#processing"
					>
						<fieldset>
							<div class="mt-6 space-y-6">
								<div class="flex gap-3">
									<div class="flex h-6 shrink-0 items-center">
										<div class="group grid size-4 grid-cols-1">
											<input
												id="informed"
												type="checkbox"
												name="feedset"
												value="informed"
												aria-describedby="informed-description"
												class="checkbox checkbox-sm checkbox-primary"
											/>
										</div>
									</div>
									<div class="text-sm/6">
										<label for="informed" class="font-medium">Informed</label>
										<p id="inspired-description" class="text-base-content brightness-95">
											News and information sites.
										</p>
									</div>
								</div>
								<div class="flex gap-3">
									<div class="flex h-6 shrink-0 items-center">
										<div class="group grid size-4 grid-cols-1">
											<input
												id="inspired"
												type="checkbox"
												name="feedset"
												value="inspired"
												aria-describedby="inspired-description"
												class="checkbox checkbox-sm checkbox-primary"
											/>
										</div>
									</div>
									<div class="text-sm/6">
										<label for="inspired" class="font-medium">Inspired</label>
										<p id="inspired-description" class="text-base-content brightness-95">
											Digital art and other oddities.
										</p>
									</div>
								</div>
								<div class="flex gap-3">
									<div class="flex h-6 shrink-0 items-center">
										<div class="group grid size-4 grid-cols-1">
											<input
												id="enlightened"
												type="checkbox"
												name="feedset"
												value="enlightened"
												aria-describedby="enlightened-description"
												class="checkbox checkbox-sm checkbox-primary"
											/>
										</div>
									</div>
									<div class="text-sm/6">
										<label for="enlightened" class="font-medium">Enlightened</label>
										<p id="enlightened-description" class="text-base-content brightness-95">
											Alternative and fringe sites.
										</p>
									</div>
								</div>
							</div>
						</fieldset>
						<div class="mt-6 flex max-w-prose items-center justify-end gap-x-6">
							<div id="processing" class="htmx-indicator">
								Processing...
								<span class="loading loading-md loading-spinner"></span>
							</div>
							<button type="submit" class="btn btn-primary">Add sets</button>
						</div>
					</form>
				</div>
				<div class="py-4">
					<h2 class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl">
						Get to know Foragd
					</h2>
					<p class="py-2">Read the documentation/help to get familiar with the app.</p>
					<ul class="list-inside list-disc">
						<li><a class="link" href="/help">Documentation Home</a></li>
					</ul>
				</div>
			}
		}
	}
}
