// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/dimmerz92/go-icons/tabler-filled"
	"github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
	slogctx "github.com/veqryn/slog-context"
	"log/slog"
	"slices"
	"strconv"
)

// ImportSubscriptions renders a form for the user to select or drag and drop an OPML file to import their
// subscriptions.
templ ImportSubscriptions() {
	@LayoutInternal("", &InternalLayoutProps{User: models.UserFromCtx(ctx)}) {
		@templ.Fragment(ContentFragment) {
			@narrowContainer(element.WithClasses("pt-4")) {
				@pageHeading() {
					@pageTitle("Import Subscriptions")
				}
				<p class="mt-4 text-sm/6">
					You can import your existing subscriptions from an OPML file. Most feed services support
					generating an OPML file you can use.
				</p>
				<fieldset class="fieldset min-w-0 py-8">
					<form
						id="import-subscriptions-form"
						hx-encoding="multipart/form-data"
						hx-post="/import"
						hx-target="#import-results"
						hx-indicator="#import-button"
						hx-push-url="false"
					>
						<div
							id="drop-zone"
							class="group mt-2 flex max-w-full justify-center rounded-lg border border-dashed border-neutral/20 px-6 py-10 sm:max-w-lg"
							_="
                            on dragover
                              halt the event
                              add .bg-base-300 .border-accent to me
                            end

                            on dragleave
                              remove .bg-base-300 .border-accent from me
                            end

                            on drop
                              halt the event
                              remove .bg-base-300 .border-accent from me
                              set files to event.dataTransfer.files
                              set #opml-upload's files to files
                              set #file-name's textContent to files[0].name
                            end
                            "
						>
							<div class="text-center">
								@tablerfilled.FileRss(templ.Attributes{"class": "mx-auto size-12 group-hover:fill-primary group-active:fill-primary"})
								<span id="file-name" class="block max-w-full truncate"></span>
								<div class="mt-4 flex flex-wrap items-center justify-center text-sm/6">
									<label for="opml-upload" class="relative cursor-pointer rounded-md bg-transparent font-semibold focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-primary hover:text-primary">
										<span class="btn btn-outline btn-neutral">Upload a file</span>
										<input
											id="opml-upload"
											type="file"
											name="source"
											class="sr-only"
											_="on change set #file-name's textContent to my files[0].name"
										/>
									</label>
									<p class="pl-1">or drag and drop</p>
								</div>
								<p class="text-xs/5">.opml up to 10MB</p>
							</div>
						</div>
						<div class="mt-4 flex w-full justify-end">
							<button id="import-button" type="submit" class="group btn btn-primary">
								<span class="hidden items-center group-[.htmx-request]:inline-flex">
									<span class="loading mr-3 loading-spinner"></span>
									<span class="text-sm/6">Processing</span>
								</span>
								<span class="inline-flex items-center group-[.htmx-request]:hidden">
									<span class="text-sm/6">Import</span>
								</span>
							</button>
						</div>
					</form>
				</fieldset>
				<div id="import-results"></div>
			}
		}
	}
}

templ ImportStatus(status *models.ImportStatus, results []*models.ImportResult, msg *models.UserMessage) {
	@LayoutInternal("", &InternalLayoutProps{User: models.UserFromCtx(ctx)}) {
		@templ.Fragment(ContentFragment) {
			@partials.BackToTopButton()
			@narrowContainer(element.WithClasses("pt-4")) {
				@pageHeading() {
					@pageTitle("Import Status")
				}
				if msg != nil {
					// Show a message if there is one.
					<div class="mt-12 text-center">
						@tableroutline.MoodConfuzed(templ.Attributes{"class": "mx-auto size-12 text-accent"})
						if msg != nil {
							<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">{ msg.Summary }</h1>
							if msg.HasDetails() {
								<p>{ *msg.Details }</p>
							}
						} else {
							<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">Whoops!</h1>
							<p>An unexpected problem occurred and the request could not be completed. This is likely a temporary problem. Please try again.</p>
						}
						// Show a contact support button if the status indicates a failure.
						if status != nil && status.Status == models.ImportStatusStatusFailed {
							<div class="mt-6">
								<a href="/contact" class="btn btn-primary">
									Contact Support <span aria-hidden="true">&rarr;</span>
								</a>
							</div>
						}
					</div>
				}
				if status != nil {
					// Generate seperate lists of successful/failed/warning imports.
					{{
						successfulResults := slices.Collect(models.FilterSlice(results, func(result *models.ImportResult) bool {
							return result.Error == nil && result.SubscriptionID != nil
						}))
						warningResults := slices.Collect(models.FilterSlice(results, func(result *models.ImportResult) bool {
							return result.Error != nil && result.Error.IsWarning()
						}))
						failedResults := slices.Collect(models.FilterSlice(results, func(result *models.ImportResult) bool {
							return result.Error != nil && result.Error.IsError()
						}))
						allSubscriptions := models.SubscriptionsFromCtx(ctx)
					}}
					<div
						id="import-status"
						if status.Status == "pending" || status.Status == "running" {
							hx-get={ "/import/status/" + status.GetID() }
							hx-trigger="every 10s"
							hx-target={ ContentID.Target() }
							hx-swap="morph:innerHTML"
						}
					>
						<p class="font-semibold text-lg py-4">Status: { string(status.Status) }...</p>
						// Import results summary.
						<div class="stats stats-vertical sm:stats-horizontal shadow">
							if len(successfulResults) > 0 {
								<a href="#successful">
									<div class="stat">
										<div class="stat-figure">
											@tableroutline.CircleCheck(templ.Attributes{"class": "stroke-2 size-10 text-success", "aria-hidden": "true"})
										</div>
										<div class="stat-title">Successful</div>
										<div class="stat-value text-success">{ strconv.Itoa(len(successfulResults)) }</div>
									</div>
								</a>
							}
							if len(failedResults) > 0 {
								<a href="#failed">
									<div class="stat">
										<div class="stat-figure">
											@tableroutline.ExclamationCircle(templ.Attributes{"class": "stroke-2 size-10 text-error", "aria-hidden": "true"})
										</div>
										<div class="stat-title">Failed</div>
										<div class="stat-value text-error">{ strconv.Itoa(len(failedResults)) }</div>
									</div>
								</a>
							}
							if len(warningResults) > 0 {
								<a href="#warning">
									<div class="stat">
										<div class="stat-figure">
											@tableroutline.AlertTriangle(templ.Attributes{"class": "stroke-2 size-10 text-warning", "aria-hidden": "true"})
										</div>
										<div class="stat-title">Warnings</div>
										<div class="stat-value text-warning">{ strconv.Itoa(len(warningResults)) }</div>
									</div>
								</a>
							}
						</div>
						<div class="py-4">
							{{ filters := models.NewListFilters() }}
							<button
								hx-get="/list/subscriptions"
								hx-target={ ContentID.Target() }
								hx-vals={ templ.JSONString(filters) }
								class="btn btn-primary"
							>
								Go to your subscriptions
							</button>
						</div>
						<div class="space-y-8 py-4">
							<ul class="list">
								<div id="successful">
									for result := range slices.Values(successfulResults) {
										if subscription := allSubscriptions.GetByID(*result.SubscriptionID); subscription != nil {
											<li class="list-row items-center">
												<div class="flex items-center space-x-2">
													@tableroutline.CircleCheck(templ.Attributes{"class": "stroke-2 size-6 text-success", "aria-hidden": "true"})
													<div class="space-y-2">
														<p>Subscription Created:</p>
														<p>{ subscription.GetTitle() }</p>
													</div>
												</div>
											</li>
										} else {
											{{
												slogctx.Warn(ctx, "Could not retrieve subscription details",
													slog.String("subscription_id", *result.SubscriptionID),
												)
											}}
										}
									}
								</div>
								<div id="failed">
									for result := range slices.Values(failedResults) {
										<li class="list-row items-center">
											<div class="flex items-center space-x-2">
												@tableroutline.ExclamationCircle(templ.Attributes{"class": "stroke-2 size-6 text-error", "aria-hidden": "true"})
												<div class="space-y-2">
													<div>{ result.Error.Summary }</div>
													if result.Error.HasDetails() {
														<p class="list-col-wrap text-xs">
															{ *result.Error.Details }
														</p>
													}
												</div>
											</div>
										</li>
									}
								</div>
								<div id="warning">
									for result := range slices.Values(warningResults) {
										<li class="list-row items-center">
											<div class="flex items-center space-x-2">
												@tableroutline.AlertTriangle(templ.Attributes{"class": "stroke-2 size-6 text-warning", "aria-hidden": "true"})
												<div class="space-y-2">
													<div>{ result.Error.Summary }</div>
													if result.Error.HasDetails() {
														<p class="list-col-wrap text-xs">
															{ *result.Error.Details }
														</p>
													}
												</div>
											</div>
										</li>
									}
								</div>
							</ul>
						</div>
					</div>
				}
			}
		}
	}
}
