// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/dimmerz92/go-icons/tabler-filled"
	"github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/models"
	"slices"
	"strconv"
)

// ImportSubscriptions renders a form for the user to select or drag and drop an OPML file to import their
// subscriptions.
templ ImportSubscriptions() {
	@LayoutInternal(&InternalLayoutProps{User: models.UserFromCtx(ctx)}) {
		@templ.Fragment(ContentFragment) {
			@container() {
				<h1 id="page-title" class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">Import Subscriptions</h1>
				<p>You can import your existing subscriptions from an OPML file. Most feed services support generating an OPML file you can use.</p>
				<form
					id="import-subscriptions-form"
					hx-encoding="multipart/form-data"
					hx-post="/user/import"
					hx-target="#import-results"
					hx-indicator="#processing"
					hx-push-url="false"
				>
					<div class="space-y-12 sm:space-y-16 text-center">
						<div
							id="drop-zone"
							class="group mt-2 mx-auto flex justify-center rounded-lg border border-dashed border-neutral/20 px-6 py-10 sm:max-w-prose"
							_="
                                        on dragover
                                          halt the event
                                          add .bg-base-300 .border-accent to me
                                        end

                                        on dragleave
                                          remove .bg-base-300 .border-accent from me
                                        end

                                        on drop
                                          halt the event
                                          remove .bg-base-300 .border-accent from me
                                          set files to event.dataTransfer.files
                                          set #opml-upload's files to files
                                          set #file-name's textContent to files[0].name
                                        end
                                    "
						>
							<div class="text-center">
								@tablerfilled.FileRss(templ.Attributes{"class": "mx-auto size-12 group-hover:fill-primary group-active:fill-primary"})
								<span id="file-name"></span>
								<div class="mt-4 flex items-center text-sm/6">
									<label for="opml-upload" class="relative cursor-pointer rounded-md bg-transparent font-semibold focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-primary hover:text-primary">
										<span class="btn btn-outline btn-neutral">Upload a file</span>
										<input
											id="opml-upload"
											type="file"
											name="source"
											class="sr-only"
											_="on change set #file-name's textContent to my files[0].name"
										/>
									</label>
									<p class="pl-1">or drag and drop</p>
								</div>
								<p class="text-xs/5">.opml up to 10MB</p>
							</div>
						</div>
					</div>
					<div class="mt-6 flex items-center justify-end gap-x-6">
						<div id="processing" class="htmx-indicator">
							Processing...
							<span class="loading loading-md loading-spinner"></span>
						</div>
						// Back button.
						<button
							type="button"
							class="btn btn-secondary hover:btn-error"
							hx-get={ FromPathFromCtx(ctx) }
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML transition:true"
							hx-push-url="true"
						>
							Back
						</button>
						// Import button.
						<button type="submit" class="btn btn-primary">Import</button>
					</div>
				</form>
				<div id="import-results"></div>
			}
		}
	}
}

// ImportSubscriptionsResults renders the results of importing the users subscriptions.
templ ImportSubscriptionsResults(results []models.FeedSubscriptionResult) {
	// Generate seperate lists of successful/failed/warning imports.
	{{
		successfulResults := slices.Collect(models.FilterSlice(results, func(result models.FeedSubscriptionResult) bool {
			return result.Error == nil && result.Subscription != nil
		}))
		warningResults := slices.Collect(models.FilterSlice(results, func(result models.FeedSubscriptionResult) bool {
			return result.Error != nil && result.Error.UserMessage.IsWarning()
		}))
		failedResults := slices.Collect(models.FilterSlice(results, func(result models.FeedSubscriptionResult) bool {
			return result.Error != nil && result.Error.UserMessage.IsError()
		}))
	}}
	<div class="min-w-0 flex-1 pb-8">
		<h2 class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl">
			Import Results
		</h2>
	</div>
	// Import results summary.
	<ul class="space-y-8 py-4">
		if len(successfulResults) > 0 {
			<li class="flex items-center">
				@tableroutline.CircleCheck(templ.Attributes{"class": "stroke-2 size-10 text-success", "aria-hidden": "true"})
				<p class="font-semibold text-success">{ strconv.Itoa(len(successfulResults)) } Created</p>
			</li>
		}
		if len(failedResults) > 0 {
			<li class="flex items-center">
				@tableroutline.ExclamationCircle(templ.Attributes{"class": "stroke-2 size-10 text-error", "aria-hidden": "true"})
				<p class="font-semibold text-error">{ strconv.Itoa(len(failedResults)) } Failed</p>
			</li>
		}
		if len(warningResults) > 0 {
			<li class="flex items-center">
				@tableroutline.AlertTriangle(templ.Attributes{"class": "stroke-2 size-10 text-warning", "aria-hidden": "true"})
				<p class="font-semibold text-warning">{ strconv.Itoa(len(warningResults)) } Warnings</p>
			</li>
		}
	</ul>
	<div class="py-4">
		{{ filters := models.NewListDisplayFilters() }}
		<button
			hx-get="/list/subscriptions"
			hx-target={ ContentID.Target() }
			hx-vals={ templ.JSONString(filters.Values()) }
			class="btn-primary"
		>
			Go to your subscriptions
		</button>
	</div>
	<div class="space-y-8 py-4">
		<ul class="list">
			for result := range slices.Values(successfulResults) {
				<li class="list-row items-center">
					<div class="flex items-center space-x-2">
						@tableroutline.CircleCheck(templ.Attributes{"class": "stroke-2 size-10 text-success", "aria-hidden": "true"})
						<div class="space-y-2">
							<p>Subscription Created:</p>
							<p>{ result.Subscription.GetTitle() }</p>
						</div>
					</div>
				</li>
			}
			for result := range slices.Values(failedResults) {
				<li class="list-row items-center">
					<div class="flex items-center space-x-2">
						@tableroutline.ExclamationCircle(templ.Attributes{"class": "stroke-2 size-10 text-error", "aria-hidden": "true"})
						{{ msg := result.Error.GetUserMessage() }}
						<div class="space-y-2">
							<div>{ msg.Summary }</div>
							if msg.HasDetails() {
								<p class="list-col-wrap text-xs">
									{ *msg.Details }
								</p>
							}
						</div>
					</div>
				</li>
			}
			for result := range slices.Values(warningResults) {
				<li class="list-row items-center">
					<div class="flex items-center space-x-2">
						@tableroutline.AlertTriangle(templ.Attributes{"class": "stroke-2 size-10 text-warning", "aria-hidden": "true"})
						{{ msg := result.Error.GetUserMessage() }}
						<div class="space-y-2">
							<div>{ msg.Summary }</div>
							if msg.HasDetails() {
								<p class="list-col-wrap text-xs">
									{ *msg.Details }
								</p>
							}
						</div>
					</div>
				</li>
			}
		</ul>
	</div>
	@buttonBackToTop()
}
