// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/helpers/mailto"
)

// ReportIssue renders a form for reporting issues with the app.
templ ReportIssue(details *models.ReportIssueRequest) {
	@LayoutInternal(&InternalLayoutProps{User: models.UserFromCtx(ctx)}) {
		@templ.Fragment(ContentFragment) {
			@narrowContainer(element.WithClasses("pt-4")) {
				@pageHeading() {
					@pageTitle("Report an Issue")
				}
				<p class="mt-4 text-sm/6">
					Use this form to report an issue with the app. We will look into it and get back to you as soon as
					we can.
				</p>
				<p class="mt-4 text-sm/6">
					Alternatively, you can <a
	class="link"
	href={ mailto.Build("support@immanent.tech",
					mailto.WithSubject("Foragd Issue")) }
>email us</a> instead.
				</p>
				<fieldset class="fieldset min-w-0">
					<form
						id="report-app-issue"
						hx-post={ "/issue" }
						hx-target={ ContentID.Target() }
						hx-target-error={ ContentID.Target() }
						hx-encoding="multipart/form-data"
						hx-swap="none"
						hx-push-url="false"
						class="mt-12"
					>
						<input type="hidden" name="page_url" value={ details.PageUrl }/>
						if details.ObjectID != nil && *details.ObjectID != "" {
							<input type="hidden" name="object_id" value={ *details.ObjectID }/>
						}
						<label class="fieldset">
							<span class="label">Email Address</span>
							<input
								id="email"
								type="email"
								name="user_email"
								value={ details.UserEmail }
								autocomplete="email"
								required
								class="input bg-base-300 brightness-95 input-primary"
							/>
							<p class="label">Please enter an email address you can be contacted through.</p>
						</label>
						<label class="fieldset">
							<span class="label">Screenshot</span>
							<div
								id="drop-zone"
								class="group mt-2 flex max-w-full justify-center rounded-lg border border-dashed border-neutral/20 px-6 py-10 sm:max-w-lg"
								_="
                                on dragover
                                  halt the event
                                  add .bg-base-300 .border-accent to me
                                end

                                on dragleave
                                  remove .bg-base-300 .border-accent from me
                                end

                                on drop
                                  halt the event
                                  remove .bg-base-300 .border-accent from me
                                  set files to event.dataTransfer.files
                                  set #screenshot-upload's files to files
                                  set #file-name's textContent to files[0].name
								  set f to event.dataTransfer.files[0]
								  js(f)
      								return new Promise(resolve => {
      								  if (!f.type.startsWith('image/')) { resolve(null); return; }
      								  const r = new FileReader();
      								  r.onload = e => resolve(e.target.result);
      								  r.readAsDataURL(f);
      								});
    							  end
                                end
                                "
							>
								<div class="text-center">
									<div id="preview-area">
										@tableroutline.FileUpload(templ.Attributes{"class": "group-hover:text-primary group-active:text-primary mx-auto size-12 stroke-1"})
										<p id="preview-meta" style="font-size:0.85rem; color:#666;"></p>
									</div>
									<span id="file-name" class="block max-w-full truncate"></span>
									<div class="mt-4 flex flex-wrap items-center justify-center text-sm/6">
										<label for="screenshot-upload" class="relative cursor-pointer rounded-md bg-transparent font-semibold focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-primary hover:text-primary">
											<span class="btn btn-dash btn-neutral">Upload a file</span>
											<input
												id="screenshot-upload"
												type="file"
												name="screenshot"
												class="sr-only"
												_="on change set #file-name's textContent to my files[0].name"
											/>
										</label>
										<p class="pl-1">or drag and drop</p>
									</div>
									<p class="text-xs/5">JPG, PNG or WEBP up to 10MB</p>
								</div>
							</div>
						</label>
						<label class="fieldset">
							<span class="label">Issue Description</span>
							<textarea
								id="details"
								name="details"
								rows="5"
								class="textarea w-full bg-base-300 brightness-95 textarea-primary sm:max-w-prose"
							></textarea>
							<p class="label">Describe the issue in as much detail as possible.</p>
						</label>
						<div class="mt-4 flex w-full justify-end gap-4">
							<button
								type="button"
								class="btn btn-secondary hover:btn-error"
								hx-get={ FromPathFromCtx(ctx) }
								hx-target={ ContentID.Target() }
								hx-swap="innerHTML transition:true"
								hx-push-url="true"
							>
								Back
							</button>
							<button
								type="submit"
								class="btn btn-primary"
							>
								<span class="show-loading items-center">
									<span class="loading mr-3 loading-spinner"></span>
									<span class="text-sm/6">Processing</span>
								</span>
								<span class="hide-loading items-center">
									<span class="text-sm/6">Submit</span>
								</span>
							</button>
						</div>
					</form>
				</fieldset>
			}
		}
	}
}
