// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "github.com/immanent-tech/foragd/models"

// ReportPageIssue renders a form for reporting issues with the app.
templ ReportPageIssue(details *models.IssueRequest) {
	@container() {
		<div class="mx-auto max-w-3xl">
			<div class="md:flex md:items-center md:justify-between">
				<div class="min-w-0 flex-1">
					<h2 class="page-title">Report An Issue</h2>
				</div>
			</div>
			<p class="mt-2 max-w-4xl text-sm text-base-content/80">
				Use this form to report an issue with the app. We will look into it and get back to you as soon as we can.
			</p>
			<p class="mt-2 max-w-4xl text-sm text-base-content/80">
				If you need to attach a screenshot, or cannot use this form, you can <a class="link" href="mailto:feedback@immanent.tech&subject=Foragd Feedback">email us</a> instead.
			</p>
			<form
				id="report-app-issue"
				hx-post={ "/issue" }
				hx-target={ ContentID.Target() }
				hx-target-error={ ContentID.Target() }
				hx-indicator="#processing"
				hx-include="[name='csrf_token']"
			>
				<input type="hidden" name="page_url" value={ details.PageUrl }/>
				<fieldset class="fieldset p-4">
					<p class="mt-1 text-sm/6 text-base-content/80">Your contact email</p>
					<div class="sm:grid sm:grid-cols-3 sm:items-start gap-x-4 sm:py-6">
						<div class="flex items-center col-span-full">
							<input
								type="email"
								name="user_email"
								value={ details.UserEmail }
								class="input"
								required
							/>
						</div>
					</div>
				</fieldset>
				<fieldset class="fieldset p-4">
					<p class="mt-1 text-sm/6 text-base-content/80">What is the problem or issue?</p>
					<div class="sm:grid sm:grid-cols-3 sm:items-start gap-x-4 sm:py-6">
						<div class="flex items-center col-span-full">
							<textarea
								id="details"
								name="details"
								class="textarea w-full"
								placeholder="What was expected, what is missing, etc."
								if details.Details != "" {
									value={ details.Details }
								}
							></textarea>
						</div>
					</div>
				</fieldset>
				<div class="mt-6 flex items-center justify-end gap-x-6">
					<div id="processing" class="htmx-indicator">
						Processing...
						<span class="loading loading-spinner loading-md"></span>
					</div>
					<button
						type="button"
						hx-get={ details.PageUrl }
						hx-target={ ContentID.Target() }
						class="btn btn-secondary"
					>Back</button>
					<button
						type="submit"
						class="btn btn-primary"
					>Submit</button>
				</div>
			</form>
		</div>
	}
}

templ ReportObjectIssues(objectType, id string, details *models.ObjectIssueRequest) {
	@container() {
		<div class="mx-auto max-w-3xl">
			<div class="md:flex md:items-center md:justify-between">
				<div class="min-w-0 flex-1">
					<h2 class="page-title">Report An Issue</h2>
				</div>
			</div>
			<p class="mt-2 max-w-4xl text-sm text-base-content/80">
				Use this form to report an issue with the app. We will look into it and get back to you as soon as we can.
			</p>
			<p class="mt-2 max-w-4xl text-sm text-base-content/80">
				If you need to attach a screenshot, or cannot use this form, you can <a class="link" href="mailto:feedback@immanent.tech&subject=Foragd Feedback">email us</a> instead.
			</p>
			<form
				id="report-subscription-issue"
				hx-post={ "/issue/" + objectType + "/" + id }
				hx-encoding="multipart/form-data"
				hx-target={ ContentID.Target() }
				hx-target-error={ ContentID.Target() }
				hx-indicator="#processing"
				hx-include="[name='csrf_token']"
			>
				<input type="hidden" name="id" value={ details.ObjectID }/>
				<input type="hidden" name="object" value={ details.Object }/>
				<input type="hidden" name="page_url" value={ details.PageUrl }/>
				<fieldset class="fieldset p-4">
					<p class="mt-1 text-sm/6 text-base-content/80">Your contact email</p>
					<div class="sm:grid sm:grid-cols-3 sm:items-start gap-x-4 sm:py-6">
						<div class="flex items-center col-span-full">
							<input
								type="email"
								name="user_email"
								value={ details.UserEmail }
								class="input"
								required
							/>
						</div>
					</div>
				</fieldset>
				<fieldset class="fieldset p-4">
					<p class="mt-1 text-sm/6 text-base-content/80">Select all that apply.</p>
					<div class="sm:grid sm:grid-cols-3 sm:items-start gap-x-4 sm:py-6">
						<div class="flex items-center">
							<div class="flex items-center gap-x-3">
								<input
									id="missing-image"
									type="checkbox"
									name="missing_image"
									if details.MissingImage {
										checked
									}
									class="checkbox checkbox-sm"
								/>
								<label for="missing-image" class="block text-sm/6 font-medium">Missing Image</label>
							</div>
						</div>
						<div class="flex items-center">
							<div class="flex items-center gap-x-3">
								<input
									id="mangled-text"
									type="checkbox"
									name="mangled_text"
									if details.MangledContent {
										checked
									}
									class="checkbox checkbox-sm"
								/>
								<label for="mangled-text" class="block text-sm/6 font-medium">Mangled Text</label>
							</div>
						</div>
						<div class="flex items-center">
							<div class="flex items-center gap-x-3">
								<input
									id="mangled-text"
									type="checkbox"
									name="duplicate"
									if details.Duplicate {
										checked
									}
									class="checkbox checkbox-sm"
								/>
								<label for="mangled-text" class="block text-sm/6 font-medium">Duplicate Content</label>
							</div>
						</div>
						<div class="flex items-center">
							<div class="flex items-center gap-x-3">
								<input
									type="checkbox"
									id="other"
									class="checkbox checkbox-sm"
								/>
								<label for="other" class="block text-sm/6 font-medium">Other</label>
							</div>
						</div>
					</div>
				</fieldset>
				// <p class="mt-1 text-sm/6 text-base-content/80">Add a screenshot.</p>
				// <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
				// 	<div class="mt-2 sm:col-span-2 sm:mt-0">
				// 		<input id="source" type="file" name="screenshot" accept="image/png, image/jpeg" class="file-input file-input-primary bg-base-content/10"/>
				// 	</div>
				// </div>
				<p class="mt-1 text-sm/6 text-base-content/80">Add any other details you think are relevant.</p>
				<div class="sm:grid sm:grid-cols-3 sm:items-start gap-x-4 sm:py-6">
					<div class="flex items-center col-span-full">
						<textarea
							id="details"
							name="details"
							class="textarea w-full"
							placeholder="What was expected, what is missing, etc."
							if details.Details != "" {
								value={ details.Details }
							}
						></textarea>
					</div>
				</div>
				<div class="mt-6 flex items-center justify-end gap-x-6">
					<div id="processing" class="htmx-indicator">
						Processing...
						<span class="loading loading-spinner loading-md"></span>
					</div>
					<button type="button" hx-get="#" class="btn btn-secondary">Back</button>
					<button
						type="submit"
						class="btn btn-primary"
					>Submit</button>
				</div>
			</form>
		</div>
	}
}

// IssueReportedConfirmation will show feedback to a user that the issue they reported has been recorded.
templ IssueReportedConfirmation(msg *models.UserMessage) {
	@container() {
		<div class="md:flex md:items-center md:justify-between">
			<div class="min-w-0 flex-1">
				<h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight">{ msg.Summary }</h2>
			</div>
		</div>
		<p class="mt-2 max-w-4xl text-sm text-base-content/80">
			{ msg.Details }
		</p>
		<div class="mt-3 flex space-x-7">
			<button
				type="button"
				class="bg-neutral/80 hover:bg-neutral focus-visible:outline-neutral text-neutral-content block rounded-md px-3 py-2 text-center text-xs shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2"
				hx-get="/home"
				hx-target={ ContentID.Target() }
			>Back home <span aria-hidden="true">&rarr;</span></button>
		</div>
	}
}
