// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"encoding/json"
	"github.com/immanent-tech/foragd/pkg/formats/html"
	"github.com/immanent-tech/foragd/web/templates/partials"
)

type ListItem struct {
	Name        string
	Description string
}

templ ItemList(name string, entries []ListItem) {
	@partials.RenderJSONLD("items", itemListJsonLD(name, entries))
}

func itemListJsonLD(name string, entries []ListItem) json.RawMessage {
	type mainEntity struct {
		Type        string `json:"@type"`
		Name        string `json:"name"`
		Description string `json:"description"`
		Position    int    `json:"position"`
	}

	type itemList struct {
		Context    string       `json:"@context"`
		Type       string       `json:"@type"`
		Name       string       `json:"name"`
		MainEntity []mainEntity `json:"itemListElement"`
	}

	list := itemList{
		Context:    "https://schema.org",
		Type:       "ItemList",
		Name:       name,
		MainEntity: make([]mainEntity, 0, len(entries)),
	}

	for idx, item := range entries {
		entity := mainEntity{
			Type:        "ListItem",
			Position:    idx + 1,
			Name:        item.Name,
			Description: html.ToPlainText(item.Description),
		}
		list.MainEntity = append(list.MainEntity, entity)
	}

	b, _ := json.MarshalIndent(list, "", "  ")
	return b
}
