// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
)

// Landing is the landing page layout.
templ Landing() {
	<div class="bg-base-100">
		<main class="isolate bg-base-100">
			<div class="relative pt-14">
				<div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
					<div
						style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
						class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-(--color-primary) to-(--color-secondary) opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75 dark:opacity-20"
					></div>
				</div>
				<div class="lg:pb-40">
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
						<div class="mx-auto flow-root">
							@Logo("logo-landing", "md:mx-auto", "md:size-96")
						</div>
						<div class="mx-auto max-w-2xl mt-16 sm:mt-24 text-center">
							<h1 class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl">Foragd&nbsp;<sup class="text-sm uppercase">beta</sup></h1>
							<p class="mt-8 text-lg font-medium text-pretty sm:text-xl/8">Collect. Curate. Consume.</p>
							<div class="mt-10 flex items-center justify-center gap-x-6">
								<a role="button" href="#features" class="btn btn-primary text-sm/6 font-semibold">See features</a>
								<a role="button" href="#pricing" class="btn btn-primary text-sm/6 font-semibold">Start a free trial</a>
							</div>
							<div class="text-sm/6 font-semibold mt-5">
								Already have an account?<a href="/login" class="link">&nbsp;Log in</a>
							</div>
						</div>
					</div>
				</div>
				<div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
					<div
						style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
						class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-(--color-primary) to-(--color-secondary) opacity-30 sm:left-[calc(50%+36rem)] sm:w-288.75 dark:opacity-20"
					></div>
				</div>
			</div>
			// Features.
			<div id="features" class="mt-32 sm:mt-56">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto max-w-4xl text-center">
						<h2 class="text-base/7 font-semibold text-primary">
							Collect, collate and consume.
						</h2>
						<p class="mt-2 text-4xl font-semibold tracking-tight text-balance sm:text-5xl">
							A beautiful, web based, online feed reader.
						</p>
						<p class="mt-6 mx-auto max-w-2xl text-center text-lg/8 text-pretty text-base-content/80">
							Keep your RSS, Atom and other syndication sources in one place. Stay up to date with news,
							blogs and other online sources, across your mobile, tablet, desktop and laptop.
						</p>
					</div>
					<div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
						<div class="relative lg:row-span-2">
							<div class="absolute inset-px rounded-lg bg-base-200 lg:rounded-l-4xl"></div>
							<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
								<div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-24">
									<p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
										Mobile and desktop friendly
									</p>
									<p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">
										Foragd is a web based online app. It works in any browser on any device, anywhere.
									</p>
								</div>
								<div class="@container relative min-h-120 sm:h-170 w-full max-lg:mx-auto max-lg:max-w-sm">
									<div class="absolute min-h-120 sm:h-170 inset-x-10 top-10 bottom-0 overflow-hidden rounded-t-[12cqw] rounded-b-[12cqw] border-x-[3cqw] border-t-[3cqw] border-b-[3cqw] bg-base-100 shadow-2xl">
										<img
											src="/content/screenshots/screenshot-article-content-mobile.png"
											height="1600"
											width="719"
											alt="Screenshot of Foragd viewing an article on a mobile device"
											class="w-full min-h-120 sm:h-170 object-scale-down object-top"
											loading="lazy"
											decoding="async"
										/>
									</div>
								</div>
							</div>
							<div class="pointer-events-none absolute inset-px rounded-lg shadow-sm outline outline-black/5 lg:rounded-l-4xl dark:outline-white/15"></div>
						</div>
						<div class="relative max-lg:row-start-1">
							<div class="absolute inset-px rounded-lg bg-base-200 max-lg:rounded-t-4xl"></div>
							<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]">
								<div class="px-8 pt-8 sm:px-10 sm:pt-10">
									<p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
										Article Filtering
									</p>
									<p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">
										Filter articles in subscriptions by text/phrase, category or authors, with easy to
										use operators.
									</p>
								</div>
								<div class="flex flex-1 items-center justify-center max-lg:pt-10 max-lg:pb-12">
									<img
										src="/content/screenshots/screenshot-example-article-filters-mobile.png"
										alt="Screenshot of article filter options"
										width="463"
										height="261"
										class="resposive-img rounded-box max-lg:max-w-xs"
										loading="lazy"
										decoding="async"
									/>
								</div>
							</div>
							<div class="pointer-events-none absolute inset-px rounded-lg shadow-sm outline outline-black/5 max-lg:rounded-t-4xl dark:outline-white/15"></div>
						</div>
						<div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
							<div class="absolute inset-px rounded-lg bg-base-200"></div>
							<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
								<div class="px-8 pt-8 sm:px-10 sm:pt-10">
									<p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">
										Content Comes First
									</p>
									<p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">
										Simple UI. Big images. Beautiful typography. Let the content shine.
									</p>
								</div>
								<div class="flex flex-1 items-center justify-center max-lg:pt-10 max-lg:pb-12 sm:px-10">
									<img
										src="/content/screenshots/screenshot-card.png"
										height="409"
										width="531"
										alt="Screenshot of an article card with large image, title and byline"
										class="max-w-100 h-auto rounded-box max-lg:max-w-xs sm:px-10"
										loading="lazy"
										decoding="async"
									/>
								</div>
							</div>
							<div class="pointer-events-none absolute inset-px rounded-lg shadow-sm outline outline-black/5 dark:outline-white/15"></div>
						</div>
						<div class="relative lg:row-span-2">
							<div class="absolute inset-px rounded-lg bg-base-200 max-lg:rounded-b-4xl lg:rounded-r-4xl"></div>
							<div class="relative flex flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]">
								<div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-24">
									<p class="mt-2 text-lg font-medium tracking-tight max-lg:text-center">Powerful Search</p>
									<p class="mt-2 max-w-lg text-sm/6 max-lg:text-center">
										Full-text search across subscriptions and articles. Quickly access subscriptions and
										perform actions from the search bar.
									</p>
								</div>
								<div class="@container relative min-h-120 w-full grow max-lg:mx-auto max-lg:max-w-sm sm:my-auto">
									<img
										src="/content/screenshots/screenshot-search-mobile.png"
										height="1600"
										width="719"
										alt="Screenshot of search suggestions"
										class="size-full object-cover sm:object-scale-down object-top sm:px-10"
										loading="lazy"
										decoding="async"
									/>
								</div>
							</div>
							<div class="pointer-events-none absolute inset-px rounded-lg shadow-sm outline outline-black/5 dark:outline-white/15"></div>
						</div>
					</div>
					<div class="mt-16">
						<div class="mx-auto max-w-4xl sm:text-center">
							<p class="text-lg/8 text-base-content/80 font-semibold">
								And additional features:
							</p>
						</div>
					</div>
					<div class="mt-16">
						<dl class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base/7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
							<div class="relative pl-9">
								<dt class="inline font-semibold">
									@tabler.Pencil(i.Props{Class: "absolute top-1 left-1 size-5 text-primary"})
									Subscription customisation.&nbsp;
								</dt>
								<dd class="inline">
									Set a nickname for your subscriptions. Add your own categories to easily group and find
									similar content.
								</dd>
							</div>
							<div class="relative pl-9">
								<dt class="inline font-semibold">
									@tabler.Heart(i.Props{Class: "absolute top-1 left-1 size-5 text-primary"})
									Subscription and article favorites.&nbsp;
								</dt>
								<dd class="inline">
									Mark subscriptions and articles as favorites, to quickly access them later.
								</dd>
							</div>
							<div class="relative pl-9">
								<dt class="inline font-semibold">
									@tabler.CategoryPlus(i.Props{Class: "absolute top-1 left-1 size-5 text-primary"})
									Group subscriptions.&nbsp;
								</dt>
								<dd class="inline">
									Combine multiple subscriptions to present a unified view of
									articles from any of them. Make it easy to keep up with similar posts across different
									sources.
								</dd>
							</div>
							<div class="relative pl-9">
								<dt class="inline font-semibold">
									@tabler.Search(i.Props{Class: "absolute top-1 left-1 size-5 text-primary"})
									Search subscriptions.&nbsp;
								</dt>
								<dd class="inline">
									Use the powerful search to find what you need. Save the search terms as a search
									subscription to always find new articles that match. Great for keeping track of news or
									topics across multiple subscriptions.
								</dd>
							</div>
							<div class="relative pl-9">
								<dt class="inline font-semibold">
									@tabler.FileDownload(i.Props{Class: "absolute top-1 left-1 size-5 text-primary"})
									Get remote article content.&nbsp;
								</dt>
								<dd class="inline">
									Fetch the remote article content where the feed only shows a summary.
								</dd>
							</div>
							<div class="relative pl-9">
								<dt class="inline font-semibold">
									@tabler.FileDownload(i.Props{Class: "absolute top-1 left-1 size-5 text-primary"})
									Cloud sync.&nbsp;
								</dt>
								<dd class="inline">
									All your preferences and state is synced to the cloud, so you are always up to date with
									your read/unread content.
								</dd>
							</div>
						</dl>
					</div>
					<div class="mt-16">
						<div class="mx-auto max-w-4xl sm:text-center">
							<p class="text-lg/8 text-base-content/80 font-semibold">
								And more features planned, such as email newsletters to RSS, semantic search (i.e., show me all articles about android)...
							</p>
						</div>
					</div>
				</div>
			</div>
			// Pricing.
			<div class="py-24 sm:pt-48">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto max-w-4xl text-center">
						<h2 id="pricing" class="text-base/7 font-semibold text-primary">
							Subscriptions and Pricing.
						</h2>
						<p class="mt-2 text-4xl font-semibold tracking-tight text-balance sm:text-5xl">
							Keep up to date without breaking the bank
						</p>
					</div>
					<p class="mt-6 mx-auto max-w-2xl text-center text-lg/8 text-pretty text-base-content/80">
						Choose an affordable plan with the features you need.
					</p>
					<p class="mx-auto max-w-2xl text-center text-lg/8 text-pretty text-base-content/80">
						All subscription plans come with a 14-day free trial. Change your plan any time.
					</p>
					<div class="mt-4">
						@pricingGrid(models.RouteSignup, "get", "Collector-07ad4d0", "Recommended")
					</div>
					<div class="mx-auto max-w-4xl text-center">
						<p class="mt-6 mx-auto max-w-2xl text-center text-lg/8 text-pretty text-base-content/80">
							Indicative pricing and feature sets. Subject to change until general release. Got questions about pricing?
							<a href="mailto:hello@immanent.tech&subject=Pricing" class="link text-base-content/80">
								Email Us.
							</a>
						</p>
					</div>
				</div>
			</div>
			<div id="faq" class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
				<div class="mx-auto max-w-4xl">
					<h2 class="text-4xl font-semibold tracking-tight sm:text-5xl">Frequently asked questions</h2>
					<dl class="mt-16 divide-y divide-accent">
						<div class="py-6 first:pt-0 last:pb-0">
							<dt>
								<button type="button" command="--toggle" commandfor="faq-0" class="flex w-full items-start justify-between text-left">
									<span class="text-base/7 font-semibold">Do you have an app?</span>
									<span class="ml-6 flex h-7 items-center">
										@tabler.Plus(i.Props{Class: "size-6 in-aria-expanded:hidden"})
										@tabler.Minus(i.Props{Class: "size-6 not-in-aria-expanded:hidden"})
									</span>
								</button>
							</dt>
							<el-disclosure id="faq-0" class="contents">
								<dd class="mt-2 pr-12">
									<p class="text-base/7">
										No, because you don't need an app to use Foragd! Foragd is a
										web based, online feed reader/viewer. It works on any browser (Chrome, Safari,
										Firefox), on any operating system (Windows, Mac, Linux). It has a responsive design
										to support all screen sizes from desktops down to mobiles.
									</p>
								</dd>
							</el-disclosure>
						</div>
						<div class="py-6 first:pt-0 last:pb-0">
							<dt>
								<button type="button" command="--toggle" commandfor="faq-1" class="flex w-full items-start justify-between text-left">
									<span class="text-base/7 font-semibold">Can I import my subscriptions from elsewhere?</span>
									<span class="ml-6 flex h-7 items-center">
										@tabler.Plus(i.Props{Class: "size-6 in-aria-expanded:hidden"})
										@tabler.Minus(i.Props{Class: "size-6 not-in-aria-expanded:hidden"})
									</span>
								</button>
							</dt>
							<el-disclosure id="faq-1" hidden class="contents">
								<dd class="mt-2 pr-12">
									<p class="text-base/7">
										Yes, Foragd supports importing (and exporting) with the OPML
										file format, which all good feed readers support.
									</p>
								</dd>
							</el-disclosure>
						</div>
						<div class="py-6 first:pt-0 last:pb-0">
							<dt>
								<button type="button" command="--toggle" commandfor="faq-2" class="flex w-full items-start justify-between text-left">
									<span class="text-base/7 font-semibold">Can I make changes to my subscription after purchase?</span>
									<span class="ml-6 flex h-7 items-center">
										@tabler.Plus(i.Props{Class: "size-6 in-aria-expanded:hidden"})
										@tabler.Minus(i.Props{Class: "size-6 not-in-aria-expanded:hidden"})
									</span>
								</button>
							</dt>
							<el-disclosure id="faq-2" hidden class="contents">
								<dd class="mt-2 pr-12">
									<p class="text-base/7">
										Yes, you can make changes to your subscription, including
										changing the plan level or cancelling at any time from within the app. Cancellation
										takes effect at your next billing cycle. Until then, you can continue using Foragd
										(and you can stop the cancellation if you change your mind).
									</p>
								</dd>
							</el-disclosure>
						</div>
						<div class="py-6 first:pt-0 last:pb-0">
							<dt>
								<button type="button" command="--toggle" commandfor="faq-3" class="flex w-full items-start justify-between text-left">
									<span class="text-base/7 font-semibold">Are my subscriptions private?</span>
									<span class="ml-6 flex h-7 items-center">
										@tabler.Plus(i.Props{Class: "size-6 in-aria-expanded:hidden"})
										@tabler.Minus(i.Props{Class: "size-6 not-in-aria-expanded:hidden"})
									</span>
								</button>
							</dt>
							<el-disclosure id="faq-3" hidden class="contents">
								<dd class="mt-2 pr-12">
									<p class="text-base/7">
										Foragd does not have any social features, so your subscriptions are private to
										you. We collect the minimal legally required personal information to provide the
										service (see our
										<a href="/policies/privacy" class="link link-hover">
											privacy
											policy
										</a>). We don't pass the data on to marketing third-parties and we don't inject
										ads or show sponsored content in your subscriptions.
									</p>
								</dd>
							</el-disclosure>
						</div>
						<div class="py-6 first:pt-0 last:pb-0">
							<dt>
								<button type="button" command="--toggle" commandfor="faq-4" class="flex w-full items-start justify-between text-left">
									<span class="text-base/7 font-semibold">Can I use Foragd offline?</span>
									<span class="ml-6 flex h-7 items-center">
										@tabler.Plus(i.Props{Class: "size-6 in-aria-expanded:hidden"})
										@tabler.Minus(i.Props{Class: "size-6 not-in-aria-expanded:hidden"})
									</span>
								</button>
							</dt>
							<el-disclosure id="faq-4" hidden class="contents">
								<dd class="mt-2 pr-12">
									<p class="text-base/7">
										Foragd is a web based online feed aggregator. It does not have any offline
										capabilities. If you need an app that can download and cache articles from your
										subscriptions to read offline later, there are lots of good alternatives out
										there.
									</p>
								</dd>
							</el-disclosure>
						</div>
						// <div class="py-6 first:pt-0 last:pb-0">
						// 	<dt>
						// 		<button type="button" command="--toggle" commandfor="faq-5" class="flex w-full items-start justify-between text-left">
						// 			<span class="text-base/7 font-semibold">Is Foragd open source?</span>
						// 			<span class="ml-6 flex h-7 items-center">
						// 				@tabler.Plus(i.Props{Class: "size-6 in-aria-expanded:hidden"})
						// 				@tabler.Minus(i.Props{Class: "size-6 not-in-aria-expanded:hidden"})
						// 			</span>
						// 		</button>
						// 	</dt>
						// 	<el-disclosure id="faq-5" hidden class="contents">
						// 		<dd class="mt-2 pr-12">
						// 			<p class="text-base/7">
						// 				Yes! Foragd is open source. You can find the source code
						// 				<a
						// 					class="link link-hover"
						// 					href="https://github.com/immanent-tech/foragd"
						// 				>
						// 					on
						// 					GitHub
						// 				</a>.
						// 			</p>
						// 		</dd>
						// 	</el-disclosure>
						// </div>
					</dl>
				</div>
			</div>
			// CTA.
			<div class="relative -z-10 mt-32 px-6 lg:px-8">
				<div class="mx-auto max-w-2xl text-center">
					<h2 class="text-4xl font-semibold tracking-tight text-balance sm:text-5xl">
						Rediscover the web. Start using Foragd today.
					</h2>
					<div class="mt-10 flex items-center justify-center gap-x-6">
						<a href="#pricing" role="button" class="btn btn-primary">Start a free trial</a>
					</div>
				</div>
			</div>
		</main>
		// Footer.
		@footer()
	</div>
}

templ footer() {
	<footer>
		<div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
			<nav aria-label="Footer" class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6">
				<a href="/about" class="link link-hover">About</a>
				<a href="#" class="link link-hover">Blog (Coming Soon)</a>
				<a href="/viewer" class="link link-hover">Feed Viewer</a>
				<a href="/policies/tos" class="link link-hover">Terms of Service</a>
				<a href="/policies/acceptable-use" class="link link-hover">Acceptable Use</a>
				<a href="/policies/privacy" class="link link-hover">Privacy Policy</a>
			</nav>
			<div class="mt-16 flex justify-center gap-x-10">
				// <a href="https://github.com/immanent-tech/foragd" class="link link-hover">
				// 	<span class="sr-only">GitHub</span>
				// 	<svg viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="size-6">
				// 		<path d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" fill-rule="evenodd"></path>
				// 	</svg>
				// </a>
				<a href="mailto:hello@immanent.tech" class="link link-hover">
					<span class="sr-only">Email</span>
					@tabler.Mail()
				</a>
			</div>
			<p class="mt-10 text-center text-sm/6 text-neutral">&copy; 2025 <a class="link" href="https://immanent.tech">Immanent Tech.</a> All rights reserved.</p>
		</div>
	</footer>
}
