// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "github.com/immanent-tech/foragd/web/templates/partials"
import "github.com/immanent-tech/foragd/web/templates/element"

// Landing is the landing page layout.
templ Landing() {
	<div class="bg-base-100">
		@HeaderExternal()
		<main class="isolate bg-base-100">
			<div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
				<div class="soft-gradient-top"></div>
			</div>
			<div class="relative pt-14">
				<div class="lg:pb-40">
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
						<div class="mx-auto mt-16 max-w-2xl text-center sm:mt-24">
							<h1 class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl">
								Algorithms decide.
								<br/>
								You scroll.
							</h1>
							<h2 class="mt-8 text-lg font-medium text-pretty sm:text-xl/8">
								Take back control of your reading. Follow any website, blog, or newsletter in one place.
							</h2>
							<div class="mx-auto items-center flow-root space-12 my-20">
								@partials.LogoSmall(element.WithClasses("size-64", "mx-auto"))
								<span class="text-3xl sm:text-5xl font-semibold">Foragd&nbsp;<sup class="text-sm uppercase badge badge-accent">beta</sup></span>
							</div>
							<div class="mt-10 flex items-center justify-center gap-x-6">
								<a class="btn text-sm/6 font-semibold btn-primary" href="/signup">
									Start a free trial
								</a>
								<a href="/features" class="btn text-sm/6 font-semibold btn-outline">
									See features
								</a>
							</div>
							<div class="mt-5 text-sm/6 font-semibold">
								Already have an account?<a href="/login" class="link">&nbsp;Log in</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			// Features.
			<div id="features" class="mt-32 sm:mt-56">
				<div class="mx-auto mb-12 max-w-7xl px-6 lg:px-8">
					<div class="mx-auto max-w-4xl text-center">
						<h2 class="mt-2 text-4xl font-semibold tracking-tight text-balance sm:text-5xl">
							See content YOU choose. Not what platforms push.
						</h2>
						<p class="mx-auto mt-6 max-w-2xl text-center text-lg/8 text-pretty text-base-content/80">
							Your internet, your way. One place for every feed, newsletter, and article. All fully
							searchable, always in sync, never algorithmic.
						</p>
					</div>
					// Main screenshot.
					<div class="mt-16 flow-root sm:mt-24">
						<button command="show-modal" commandfor="main-screenshot" type="button">
							<img
								src="/content/screenshots/screenshot-main.webp"
								width="1920"
								height="1200"
								decoding="async"
								fetchpriority="high"
								alt="Foragd desktop/mobile screenshots"
								class="rounded-box object-scale-down shadow-xl"
							/>
						</button>
						@imagePopup("main-screenshot") {
							<img
								src="/content/screenshots/screenshot-main-nobg.webp"
								width="1920"
								height="1200"
								decoding="async"
								alt="Foragd desktop/mobile screenshots"
								class="mx-auto w-full object-scale-down sm:max-w-360"
							/>
						}
					</div>
					// Main feature categories.
					<div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
						<dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
							<div class="flex flex-col">
								<dt class="text-xl sm:text-2xl font-semibold text-primary">
									Collect
								</dt>
								<dd class="mt-1 flex flex-auto flex-col text-base/7 text-neutral">
									<p class="flex-auto">
										Subscribe to websites, Youtube channels, Reddit subreddits and even email
										newletters.
									</p>
									<p class="mt-6">
										<a href="/features#collect" class="text-sm/6 font-semibold text-accent">
											Learn more <span aria-hidden="true">→</span>
										</a>
									</p>
								</dd>
							</div>
							<div class="flex flex-col">
								<dt class="text-xl sm:text-2xl font-semibold text-primary">
									Curate
								</dt>
								<dd class="mt-1 flex flex-auto flex-col text-base/7 text-neutral">
									<p class="flex-auto">
										Group subscriptions into single feeds, search across articles,
										then save the results as a subscription. Organise and filter by categories.
									</p>
									<p class="mt-6">
										<a href="/features#curate" class="text-sm/6 font-semibold text-accent">
											Learn more <span aria-hidden="true">→</span>
										</a>
									</p>
								</dd>
							</div>
							<div class="flex flex-col">
								<dt class="text-xl sm:text-2xl font-semibold text-primary">
									Consume
								</dt>
								<dd class="mt-1 flex flex-auto flex-col text-base/7 text-neutral">
									<p class="flex-auto">
										Beautiful typography and design. Content comes first. Fetch article content from
										websites. Save and share your favorites.
									</p>
									<p class="mt-6">
										<a href="/features#consume" class="text-sm/6 font-semibold text-accent">
											Learn more <span aria-hidden="true">→</span>
										</a>
									</p>
								</dd>
							</div>
						</dl>
					</div>
				</div>
			</div>
			// Pricing.
			<div class="py-24 sm:pt-48">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto max-w-4xl text-center">
						<h2 id="pricing" class="text-base/7 font-semibold text-primary">
							Subscriptions and Pricing.
						</h2>
						<p class="mt-2 text-4xl font-semibold tracking-tight text-balance sm:text-5xl">
							Keep up to date without breaking the bank
						</p>
					</div>
					// <p class="mx-auto max-w-2xl text-center text-lg/8 text-pretty text-base-content/80">
					// 	All subscription plans come with a 14-day free trial. Cancel any time.
					// </p>
					<div class="mt-4">
						@pricing()
					</div>
					<div class="mx-auto max-w-4xl text-center">
						<p class="mx-auto mt-6 max-w-2xl text-center text-lg/8 text-pretty text-base-content/80">
							Beta pricing. Sign up to lock in the price before launch. Got questions about pricing or
							features?
							<a
								href="mailto:hello@immanent.tech&subject=Pricing"
								class="link text-base-content/80"
							>
								Email Us.
							</a>
						</p>
					</div>
				</div>
			</div>
			<div id="compare" class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
				<div class="mx-auto max-w-4xl text-center">
					<h2 id="compare" class="text-base/7 font-semibold text-primary">
						Compare the market.
					</h2>
					<p class="mt-2 text-4xl font-semibold tracking-tight text-balance sm:text-5xl">
						Feed reader comparisons
					</p>
				</div>
				<div class="mx-auto flex mt-10 max-w-lg items-center justify-center space-x-8 sm:max-w-xl sm:space-x-10 lg:mx-0 lg:max-w-none">
					<div class="text-2xl">vs <a class="link link-hover font-semibold" href="/compare/feedly">Feedly</a></div>
					<div class="text-2xl">vs <a class="link link-hover font-semibold" href="/compare/feedly">Inoreader</a></div>
				</div>
			</div>
			<div id="faq" class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
				<div class="mx-auto max-w-4xl text-center">
					<h2 id="compare" class="text-base/7 font-semibold text-primary">
						Frequently asked questions.
					</h2>
					<p class="mt-2 text-4xl font-semibold tracking-tight text-balance sm:text-5xl">
						Got questions? Get answers.
					</p>
				</div>
				<div class="mx-auto max-w-4xl">
					<dl class="mt-16 divide-y divide-accent">
						@landingFAQEntry("whatisit", "What is a feed reader? How is it different from X, Facebook, Instagram, etc.?") {
							Feed readers allow you to follow a website, blog or newsletter directly. Rather
							than going to a central place for content, you pull in content from all across
							the web. You choose and control what content you see, no suggestions or promoted
							content by an algorithm or filtered and controlled by a single corporation.
						}
						@landingFAQEntry("app", "Do you have an app?") {
							Foragd is web-based and works on any browser (Chrome, Safari, Firefox), on any
							operating system (Windows, Mac, Linux). It has a responsive design to support
							all screen sizes from desktops down to mobiles. One tab. Every device. No
							install needed.
						}
						@landingFAQEntry("import", "Can I import my subscriptions from elsewhere?") {
							Yes, Foragd supports importing (and exporting) with the OPML file format, which
							all good feed readers support. Switching from Feedly or Inoreader? Import your
							OPML in seconds and be back up and running.
						}
						@landingFAQEntry("privacy", "Are my subscriptions private?") {
							Foragd does not have any social features, so your subscriptions are private to
							you. We collect the minimal legally required personal information to provide the
							service (see our <a href="/policies/privacy" class="link">privacy policy</a>).
							We don't pass the data on to marketing third-parties and we don't inject ads or
							show sponsored content in your subscriptions.
						}
						@landingFAQEntry("opensource", "Is Foragd open source?") {
							Yes! Foragd is open source. You can find the source code <a class="link link-hover" href="https://github.com/immanent-tech/foragd">on GitHub</a>.
						}
					</dl>
				</div>
			</div>
			// CTA.
			<div class="relative -z-10 px-6 py-10 lg:px-8">
				<div class="mx-auto max-w-2xl text-center">
					<h2 class="text-4xl font-semibold tracking-tight text-balance sm:text-5xl">
						Escape the algorithm. Own your information.
					</h2>
					<div class="mt-10 flex items-center justify-center gap-x-6">
						<a href="#pricing" class="btn btn-primary">Start a free trial</a>
					</div>
				</div>
			</div>
		</main>
		// Footer.
	</div>
	<div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
		<div class="soft-gradient-bottom"></div>
	</div>
	@footer()
}

templ landingFAQEntry(id, question string) {
	<div class="py-6 first:pt-0 last:pb-0">
		<dt>
			<button
				type="button"
				command="--toggle"
				commandfor={ "faq-" + id }
				class="flex w-full items-start justify-between text-left"
			>
				<span class="text-base/7 font-semibold">{ question }</span>
				<span class="ml-6 flex h-7 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-chevron-down -mr-1 size-5 transform transition-transform duration-200 not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18.707 8.293a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1 -1.414 0l-6 -6a1 1 0 0 1 1.414 -1.414l5.293 5.293l5.293 -5.293a1 1 0 0 1 1.414 0"></path>
					</svg>
				</span>
			</button>
		</dt>
		<el-disclosure id={ "faq-" + id } hidden class="contents">
			<dd class="mt-2 pr-12">
				<p class="text-base/7">
					{ children... }
				</p>
			</dd>
		</el-disclosure>
	</div>
}
