package templates

import (
	tableroutline "github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/go-base/pkg/htmlx"
	"github.com/immanent-tech/go-syndication/linter"
	"slices"
)

templ Linter() {
	@LayoutExternal() {
		@container() {
			<div class="isolate">
				@pageHeading(element.WithClasses("mt-12")) {
					@pageTitle("Free RSS and Atom Feed Linter")
				}
				<div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
					<div class="soft-gradient-top"></div>
				</div>
				<section id="viewer" class="mx-auto sm:max-w-5xl">
					<div class="prose-article">
						<p>
							The linter will check a feed to ensure it is valid according to the RSS/Atom/JSONFeed
							specifications. In addition, it checks whether the feed contains optional features
							that provide maximum compatibility with various readers and provide an optimal user
							experience.
						</p>
						<p>
							Currently, the linter supports linting RSS files. Atom, JSONFeed support coming soon!
						</p>
						<p>
							Enter a URL to an RSS feed and the tool will fetch and lint. Want to lint a local file? The
							linter is powered by <a
	href="https://github.com/immanent-tech/go-syndication"
	target="_blank"
	rel="noopener"
	class="link"
>go-syndication</a>,
							an open-source library for reading and writing syndicated formats. Click the link above to
							get instructions for running and linting your own local feeds.
						</p>
					</div>
					<form
						id="linter-form"
						hx-post="/linter"
						hx-push-url="true"
						hx-target="#linter-results"
						hx-swap="morph:innerHTML"
						hx-disabled-elt="find button[type='submit']"
						_="on htmx:beforeRequest set the innerHTML of #linter-results to ''"
						class="group"
					>
						<div class="mt-12">
							<label for="url" class="block text-sm/6 font-medium text-neutral">Feed URL</label>
							<div class="join mt-2 flex w-full">
								<input id="url" type="url" name="url" placeholder="https://some.site/feed.rss..." class="input join-item w-full bg-base-300 brightness-95 input-primary"/>
								<button id="lint-button" type="submit" class="btn join-item flex shrink-0 items-center gap-x-1.5 px-3 py-2 btn-primary">
									<span class="hidden items-center group-[.htmx-request]:inline-flex">
										<span class="loading mr-3 loading-spinner"></span>
										Linting
									</span>
									<span class="inline-flex group-[.htmx-request]:hidden">
										@tableroutline.WorldSearch(templ.Attributes{"aria-hidden": "true"})
										<span class="text-sm/6">Lint</span>
									</span>
								</button>
							</div>
						</div>
						<div class="hidden w-full group-[.htmx-request]:inline-flex sm:max-w-5xl mt-12">
							<span class="mx-auto loading loading-bars loading-xl"></span>
						</div>
					</form>
				</section>
				<section aria-live="polite" id="linter-results" class="mx-auto mt-8 mb-24 overflow-y-auto sm:max-w-5xl"></section>
				<div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
					<div class="soft-gradient-bottom"></div>
				</div>
			</div>
		}
	}
}

templ LinterResults(linterResults map[string][]linter.Result) {
	<div aria-live="polite">
		@buttonBackToTop()
		for ruleset, results := range linterResults {
			<div class="mb-4">
				<div class="px-4 sm:px-0">
					<h3 class="text-lg font-semibold">Ruleset: { ruleset }</h3>
				</div>
				for result := range slices.Values(results) {
					<dl class="flex flex-col">
						<div class="flex">
							<div class="flex-auto pt-6 pl-6">
								<dt class="text-base/7 font-semibold ">Rule: { result.ID }</dt>
								<dd class="mt-1 text-sm/6">{ result.Description } </dd>
							</div>
							<div class="flex-none self-end px-6 pt-4">
								<dt class="sr-only">Status</dt>
								<dd class={ "capitalize badge", templ.KV("badge-success",result.Status == linter.Passed), templ.KV("badge-error",result.Status == linter.Failed), templ.KV("badge-info",result.Status == linter.Ignored) }>{ result.Status }</dd>
							</div>
						</div>
						if result.Message != nil {
							<div class="flex-auto pt-6 pl-6">
								<dt class="text-sm/6 font-semibold">Reason:</dt>
								<dd class="mt-1 text-sm/6 font-semibold">{ *result.Message } </dd>
							</div>
						}
					</dl>
				}
			</div>
		}
		<ul class="mt-12 border-t border-neutral-content/15 py-8">
			<li>
				Need help interpreting the results or have questions/feedback?
				<a
					href="https://github.com/immanent-tech/go-syndication/discussions"
					rel="noopener"
					target="_blank"
					class="link"
				>
					Ask on GitHub
				</a>
			</li>
			<li>
				Found an issue with the results or a feed not working?
				<a
					href="https://github.com/immanent-tech/go-syndication/issues"
					rel="noopener"
					target="_blank"
					class="link"
				>
					Log an issue on GitHub
				</a>
			</li>
		</ul>
	</div>
}

templ LinterError(msg *models.UserMessage) {
	<div class="text-center">
		<h2 class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl">
			{ msg.Summary }
		</h2>
		if msg.HasDetails() {
			<p>{ *msg.Details }</p>
			<p>
				Found a known feed that is generating this error?
				<a
					href={ htmlx.NewMailTo("hello@immanent.tech", htmlx.WithMailToSubject("Broken Feed")) }
					class="link"
				>
					Let us know
				</a> and we will fix it!
			</p>
		}
	</div>
}
