// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "github.com/immanent-tech/foragd/models"

type listControls struct {
	path    string
	filters models.ListFilters
}

templ (c *listControls) viewFilters() {
	{{ currentView := c.filters.GetView() }}
	// On desktop screen sizes, show a horizontal menu of view options.
	<ul class="menu menu-horizontal hidden sm:flex">
		@viewFilterOption(c.path, models.ViewUnread, c.filters)
		@viewFilterOption(c.path, models.ViewRead, c.filters)
		@viewFilterOption(c.path, models.ViewAll, c.filters)
		@viewFilterFavorites(c.path, c.filters)
	</ul>
	// On mobile screen sizes, show a select menu for view options.
	<div
		_="
        on viewChanged(view) set #view-hidden.value to view then send triggerMe
        "
		hx-get={ c.path }
		hx-include="#sort-hidden,#view-hidden,#count-hidden"
		hx-replace-url="true"
		hx-swap="innerHTML transition:true"
		hx-target={ ContentID.Target() }
		hx-trigger="triggerMe"
		class="min-w-fit grow sm:hidden"
	>
		<input id="sort-hidden" name="sort" type="hidden" value={ string(c.filters.GetSort()) }/>
		<input id="view-hidden" name="view" type="hidden" value={ string(currentView) }/>
		<input id="count-hidden" name="count" type="hidden" value={ c.filters.GetCount() }/>
		<el-select id="select-view" _="on change send viewChanged(view: my value)" class="block">
			<button class="btn inline-flex w-full justify-start btn-ghost" type="button">
				<svg
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="icon icon-tabler icons-tabler-filled icon-tabler-chevron-down size-5 transform transition-transform transition-discrete duration-200 not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18.707 8.293a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1 -1.414 0l-6 -6a1 1 0 0 1 1.414 -1.414l5.293 5.293l5.293 -5.293a1 1 0 0 1 1.414 0"></path>
				</svg>
				<el-selectedcontent class="truncate capitalize">
					{ string(currentView) }
				</el-selectedcontent>
			</button>
			<el-options
				class="max-h-60 w-fit overflow-auto rounded-box bg-base-200 shadow-lg outline-1 outline-neutral/5 [--anchor-gap:--spacing(1)]"
				anchor="bottom start"
				popover
			>
				<div class="menu">
					<el-option value={ string(models.ViewUnread) }>
						@viewFilterOption(c.path, models.ViewUnread, c.filters)
					</el-option>
					<el-option value={ string(models.ViewRead) }>
						@viewFilterOption(c.path, models.ViewRead, c.filters)
					</el-option>
					<el-option value={ string(models.ViewAll) }>
						@viewFilterOption(c.path, models.ViewAll, c.filters)
					</el-option>
					@viewFilterFavorites(c.path, c.filters)
				</div>
			</el-options>
		</el-select>
	</div>
}

templ viewFilterOption(path string, view models.View, filters models.ListFilters) {
	{{
		var active bool
		if view == filters.GetView() {
			active = true
		}
		filters.View = view
	}}
	<li>
		<a
			hx-get={ path }
			hx-target={ ContentID.Target() }
			hx-replace-url="true"
			hx-swap="innerHTML transition:true"
			hx-vals={ templ.JSONString(filters.Values()) }
			class="group/option pr-9"
		>
			// For mobile screens where option is displayed in select menu.
			<div class="sm:hidden">
				<span class={ "block truncate font-normal capitalize pr-4", templ.KV("font-semibold",active) }>{ string(view) }</span>
				<span class={ "absolute inset-y-0 right-0 flex items-center text-accent", templ.KV("hidden",!active) }>
					<svg
						class="size-5"
						aria-hidden="true"
						data-slot="icon"
						fill="currentColor"
						viewBox="0 0 20 20"
					>
						<path
							clip-rule="evenodd"
							d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
							fill-rule="evenodd"
						></path>
					</svg>
				</span>
			</div>
			// For desktop screens where option is displayed in horizontal menu.
			<span class={ "hidden sm:flex capitalize", templ.KV("font-semibold",active) }>{ string(view) }</span>
		</a>
	</li>
}

templ viewFilterFavorites(path string, filters models.ListFilters) {
	{{
		var active bool
		values := filters.Values()
		if filters.OnlyFavorites {
			active = true
		}
		values["only_favorites"] = !filters.OnlyFavorites
	}}
	<li>
		<a
			hx-get={ path }
			hx-target={ ContentID.Target() }
			hx-replace-url="true"
			hx-swap="innerHTML transition:true"
			hx-vals={ templ.JSONString(values) }
			class="group/option pr-9"
		>
			// For mobile screens where option is displayed in select menu.
			<div class="sm:hidden">
				<span class={ "block truncate font-normal pr-4", templ.KV("font-semibold",active) }>Favorites</span>
				<span class={ "absolute inset-y-0 right-0 flex items-center text-accent", templ.KV("hidden",!active) }>
					<svg
						class="size-5"
						aria-hidden="true"
						data-slot="icon"
						fill="currentColor"
						viewBox="0 0 20 20"
					>
						<path
							clip-rule="evenodd"
							d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
							fill-rule="evenodd"
						></path>
					</svg>
				</span>
			</div>
			// For desktop screens where option is displayed in horizontal menu.
			<span class={ "hidden sm:flex", templ.KV("font-semibold",active) }>Favorites</span>
		</a>
	</li>
}

templ (c *listControls) sortOptions() {
	{{ currentSort := c.filters.GetSort() }}
	<div
		_="
        on sortChanged(sort) set #sort-hidden.value to sort then send triggerMe
        "
		hx-get={ c.path }
		hx-include="#sort-hidden,#view-hidden,#count-hidden"
		hx-replace-url="true"
		hx-swap="innerHTML transition:true"
		hx-target={ ContentID.Target() }
		hx-trigger="triggerMe"
		class="min-w-fit grow"
	>
		<input id="sort-hidden" name="sort" type="hidden" value={ string(currentSort) }/>
		<input id="view-hidden" name="view" type="hidden" value={ string(c.filters.GetView()) }/>
		<input id="count-hidden" name="count" type="hidden" value={ c.filters.GetCount() }/>
		<el-select id="select-sort" _="on change send sortChanged(sort: my value)" class="block">
			<button class="btn inline-flex w-full justify-end btn-ghost" type="button">
				<el-selectedcontent class="truncate">
					{ currentSort.String() }
				</el-selectedcontent>
				<svg
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="icon icon-tabler icons-tabler-filled icon-tabler-chevron-down size-5 transform transition-transform transition-discrete duration-200 not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18.707 8.293a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1 -1.414 0l-6 -6a1 1 0 0 1 1.414 -1.414l5.293 5.293l5.293 -5.293a1 1 0 0 1 1.414 0"></path>
				</svg>
			</button>
			<el-options
				class="max-h-60 w-fit overflow-auto rounded-box bg-base-200 shadow-lg outline-1 outline-neutral/5 [--anchor-gap:--spacing(1)]"
				anchor="bottom end"
				popover
			>
				<div class="menu">
					@sortOption(models.SortNewestFirst, currentSort)
					@sortOption(models.SortOldestFirst, currentSort)
					if c.path == "/list/subscriptions" {
						@sortOption(models.SortMostUnread, currentSort)
						@sortOption(models.SortLeastUnread, currentSort)
					}
				</div>
			</el-options>
		</el-select>
	</div>
}

templ sortOption(sort, current models.Sort) {
	<el-option value={ string(sort) }>
		<li class="group/option pr-9">
			<span class={ "block truncate font-normal", templ.KV("font-semibold",sort == current) }>{ sort.String() }</span>
			<span class={ "absolute inset-y-0 right-0 flex items-center pr-4 text-accent", templ.KV("hidden",sort != current) }>
				<svg
					class="size-5"
					aria-hidden="true"
					data-slot="icon"
					fill="currentColor"
					viewBox="0 0 20 20"
				>
					<path
						clip-rule="evenodd"
						d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
						fill-rule="evenodd"
					></path>
				</svg>
			</span>
		</li>
	</el-option>
}

// ListPaginationControl renders a sentinel element for controlling pagination of a list. It should be added as an OOB
// swap to the page whenever pagination needs to be updated (i.e., after loading the latest set of items).
templ ListPaginationControl(path string, filters *models.ListFilters, pagination models.Pagination) {
	{{
		values := filters.Values()
		values["pagination"] = pagination
	}}
	<div
		id="pagination-sentinel-wrapper"
		hx-swap-oob="true"
		hx-post={ path }
		hx-vals={ templ.JSONString(values) }
		hx-trigger="intersect once"
		hx-target="#grid-objects"
		hx-swap="beforeend transition:false"
		hx-indicator="#loading-items"
		hx-sync="#grid-objects:abort"
	></div>
}
