// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"context"
	"github.com/immanent-tech/foragd/models"
	nanoid "github.com/matoous/go-nanoid/v2"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"time"
)

const notificationIDCtxKey partialsCtxKey = "notificationID"

func GetNotificationIDFromCtx(ctx context.Context) string {
	id, _ := ctx.Value(notificationIDCtxKey).(string)
	return id
}

// Notification renders a notification with the given user message.
templ Notification(msg *models.UserMessage, timeout time.Duration) {
	// Generate a random id for this notification (to allow hyperscript to remove by id).
	{{ id, _ := nanoid.New() }}
	{{ id = "notification-" + id }}
	// Add the id to the context to allow children to know this notification's id.
	{{ ctx = context.WithValue(ctx, notificationIDCtxKey, id) }}
	<div hx-swap-oob={ "beforeend:" + NotificationsID.Target() }>
		<div
			id={ id }
			if timeout != 0 {
				_={ "on load wait for " + timeout.String() + " then remove me" }
			}
			class={
				"pointer-events-auto w-full max-w-sm translate-y-0 transform rounded-lg opacity-100 shadow-lg outline-1 -outline-offset-1 transition duration-300 ease-out sm:translate-x-0 starting:translate-y-2 starting:opacity-0 starting:sm:translate-x-2 starting:sm:translate-y-0",
				templ.KV("bg-success/80 outline-success/10 text-success-content", msg.IsSuccess()),
				templ.KV("bg-error/80 outline-error/10 text-error-content", msg.IsError()),
				templ.KV("bg-warning/80 outline-warning/10 text-warning-content", msg.IsWarning()),
				templ.KV("bg-info/80 outline-info/10 text-info-content", msg.IsInfo()),
			}
		>
			<div class="p-4">
				<div class="flex items-start">
					<div class="shrink-0">
						// Generate appropriate status icon.
						switch msg.Status {
							case models.UserMessageStatusSuccess:
								@tabler.CircleCheck(i.Props{Class: "size-6 text-success-content"})
							case models.UserMessageStatusError:
								@tabler.ExclamationCircle(i.Props{Class: "size-6 text-error-content"})
							case models.UserMessageStatusWarning:
								@tabler.AlertTriangle(i.Props{Class: "size-6 text-warning-content"})
							default:
								@tabler.InfoCircle(i.Props{Class: "size-6 text-info-content"})
						}
					</div>
					// Notification contents.
					<div class="ml-3 w-0 flex-1 pt-0.5">
						<p class="text-sm font-medium">{ msg.Summary }</p>
						if msg.HasDetails() {
							<p
								class={
									"mt-1 text-xs",
									templ.KV("text-success-content/80", msg.IsSuccess()),
									templ.KV("text-error-content/80", msg.IsError()),
									templ.KV("text-warning-content/80", msg.IsWarning()),
									templ.KV("text-info-content/80", msg.IsInfo()),
								}
							>{ msg.Details }</p>
						}
						// Any additional content goes here.
						{ children... }
					</div>
					// Close button.
					<div class="ml-4 flex shrink-0">
						<button
							type="button"
							class="inline-flex rounded-md"
							_={ "on click remove #" + id }
						>
							<span class="sr-only">Close</span>
							@tabler.X(i.Props{Class: "size-5"})
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}

// ServerErrorNotification creates an error notification that includes a button for reporting the error to support.
templ ServerErrorNotification(msg *models.UserMessage) {
	@Notification(msg, 0) {
		<div class="mt-3 flex space-x-7">
			<button
				type="button"
				class="bg-neutral/80 hover:bg-neutral focus-visible:outline-neutral text-neutral-content block rounded-md px-3 py-2 text-center text-xs shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2"
				hx-get="/user/support"
				hx-target={ ContentID.Target() }
				hx-push-url="true"
			>Contact support <span aria-hidden="true">&rarr;</span></button>
		</div>
	}
}

// IssueReportedConfirmation will show feedback to a user that the issue they reported has been recorded.
templ IssueReportedConfirmation(msg *models.UserMessage) {
	@Main() {
		@PageHeader(msg.Summary)
		@PageDescription(msg.Details)
		<div class="mt-3 flex space-x-7">
			<button
				type="button"
				class="bg-neutral/80 hover:bg-neutral focus-visible:outline-neutral text-neutral-content block rounded-md px-3 py-2 text-center text-xs shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2"
				hx-get="#"
				hx-target={ ContentID.Target() }
			>Back to content <span aria-hidden="true">&rarr;</span></button>
		</div>
	}
}

// UpdatesToast renders a toast notification to inform the user that updated content is available.
templ UpdatesToast() {
	<div
		id="updates-toast"
		role="alert"
		class="alert alert-info alert-outline alert-soft"
	>
		<span>New updates available.</span>
		<div>
			<button
				class="btn btn-sm btn-square btn-soft btn-info"
				hx-get="#"
				hx-target={ ContentID.Target() }
			>
				<span class="sr-only">Refresh</span>
				@tabler.Refresh(i.Props{Class: "size-4 text-info"})
			</button>
			<button class="btn btn-sm btn-square btn-soft btn-info" _="on click remove #updates-toast">
				<span class="sr-only">Close</span>
				@tabler.X(i.Props{Class: "size-4 text-info"})
			</button>
		</div>
	</div>
}

templ Error(msg *models.UserMessage) {
	<div class="grid min-h-full place-items-center bg-base-100 px-6 py-24 sm:py-32 lg:px-8">
		<div class="text-center">
			<h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance sm:text-7xl">Whoops 😿</h1>
			<h2 class="mt-4 text-2xl font-semibold tracking-tight text-balance sm:text-5xl">{ msg.Summary }</h2>
			if msg.HasDetails() {
				<p class="mt-6 text-lg font-medium text-pretty text-base-content sm:text-xl/8">{ msg.Details }</p>
			}
			<div class="mt-10 flex items-center justify-center gap-x-6">
				<a href="/home" role="button" class="btn btn-primary">Go back home</a>
				<a href="#" class="text-sm font-semibold">Contact support <span aria-hidden="true">&rarr;</span></a>
			</div>
		</div>
	</div>
}
