// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"context"
	"github.com/cespare/xxhash/v2"
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"strconv"
	"time"
)

const notificationIDCtxKey partialsCtxKey = "notificationID"
const DefaultNotificationTimeout = 5 * time.Second

func GetNotificationIDFromCtx(ctx context.Context) string {
	id, _ := ctx.Value(notificationIDCtxKey).(string)
	return id
}

// Notification renders a notification with the given user message.
templ Notification(msg *models.UserMessage, timeout time.Duration) {
	// Generate a random id for this notification (to allow hyperscript to remove by id).
	{{ id := "notification-" + strconv.FormatUint(xxhash.Sum64String(msg.Summary), 10) }}
	// Add the id to the context to allow children to know this notification's id.
	{{ ctx = context.WithValue(ctx, notificationIDCtxKey, id) }}
	<div hx-swap-oob={ "beforeend:" + NotificationsID.Target() }>
		<div
			id={ id }
			if timeout != 0 {
				_={ "on load wait for " + timeout.String() + " then remove me" }
			}
			class="card card-sm pointer-events-auto bg-base-300 w-full max-w-sm shadow-xl"
		>
			<div class="card-body">
				<div class="flex items-start">
					<div class="shrink-0">
						// Generate appropriate status icon.
						switch msg.Status {
							case models.UserMessageStatusSuccess:
								@tabler.CircleCheck(i.Props{Class: "size-6 text-success"})
							case models.UserMessageStatusError:
								@tabler.ExclamationCircle(i.Props{Class: "size-6 text-error"})
							case models.UserMessageStatusWarning:
								@tabler.AlertTriangle(i.Props{Class: "size-6 text-warning"})
							default:
								@tabler.InfoCircle(i.Props{Class: "size-6 text-info"})
						}
					</div>
					<h2 class="ml-4 card-title">{ msg.Summary }</h2>
				</div>
				if msg.HasDetails() {
					<p
						class={
							"mt-1 text-xs",
							templ.KV("text-success-content/80", msg.IsSuccess()),
							templ.KV("text-error-content/80", msg.IsError()),
							templ.KV("text-warning-content/80", msg.IsWarning()),
							templ.KV("text-info-content/80", msg.IsInfo()),
						}
					>{ msg.Details }</p>
				}
				// Close button.
				<div class="absolute top-0 right-0 p-2">
					<button
						type="button"
						class="btn btn-square btn-xs btn-ghost"
						_={ "on click remove #" + id }
					>
						<span class="sr-only">Close</span>
						@tabler.X()
					</button>
				</div>
			</div>
		</div>
	</div>
}

// UpdatesToast renders a toast notification to inform the user that updated content is available.
templ UpdatesToast() {
	<div
		id="updates-toast"
		role="alert"
		class="alert alert-info alert-outline alert-soft"
	>
		<span>New updates available.</span>
		<div>
			<button
				class="btn btn-sm btn-square btn-info btn-soft"
				hx-get="#"
				hx-target={ ContentID.Target() }
				hx-swap="innerHTML transition:true show:window:top"
			>
				<span class="sr-only">Refresh</span>
				@tabler.Refresh(i.Props{Class: "size-4 text-info"})
			</button>
			<button class="btn btn-sm btn-square btn-info btn-soft" _="on click remove #updates-toast">
				<span class="sr-only">Close</span>
				@tabler.X(i.Props{Class: "size-4 text-info"})
			</button>
		</div>
	</div>
}

// ErrorMessage displays a user-facing error message in a prominent way on a page, with navigation links for returning
// home or emailing support.
templ ErrorMessage(msg *models.UserMessage) {
	@container() {
		@userMessage("Whoops 😿", msg) {
			<div class="mt-10 flex items-center justify-center gap-x-6">
				@NewLink(
					WithAttribute("role", "button"),
					WithAttribute("href", "/home"),
					WithClasses("btn", "btn-primary"),
				) {
					Go Back Home
				}
				@NewLink(
					WithAttribute("role", "button"),
					WithAttribute("href", "mailto:support@immanent.tech&subject=Foragd Issue"),
					WithClasses("btn", "btn-ghost"),
				) {
					Email Support <span aria-hidden="true">&rarr;</span>
				}
			</div>
		}
	}
}

// userMessage displays a UserMessage in a center-aligned element, with the given title.
templ userMessage(title string, msg *models.UserMessage) {
	<div class="text-center">
		<h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance sm:text-7xl">{ title }</h1>
		<h2 class="mt-4 text-2xl font-semibold tracking-tight text-balance sm:text-5xl">{ msg.Summary }</h2>
		if msg.HasDetails() {
			<p class="mt-6 text-lg font-medium text-pretty sm:text-xl/8">{ msg.Details }</p>
		}
		{ children... }
	</div>
}
