// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/cespare/xxhash/v2"
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"strconv"
	"time"
)

const DefaultNotificationTimeout = 5 * time.Second

// Notification renders a notification with the given user message.
templ Notification(msg *models.UserMessage, timeout time.Duration) {
	// Generate a random id for this notification (to allow hyperscript to remove by id).
	{{ id := "notification-" + strconv.FormatUint(xxhash.Sum64String(msg.Summary), 10) }}
	<div
		hx-swap-oob={ "beforeend:" + NotificationsID.Target() }
		if timeout != 0 {
			_={ "on load wait for " + timeout.String() + " then remove me" }
		}
		class="w-full"
		id={ id }
	>
		<div
			class="card card-sm pointer-events-auto bg-base-300 w-full shadow-xl"
		>
			<div class="card-body pr-4">
				<div class="flex items-start">
					<div class="shrink-0">
						// Generate appropriate status icon.
						switch msg.Status {
							case models.UserMessageStatusSuccess:
								@tabler.CircleCheck(i.Props{Class: "size-6 text-success"})
							case models.UserMessageStatusError:
								@tabler.ExclamationCircle(i.Props{Class: "size-6 text-error"})
							case models.UserMessageStatusWarning:
								@tabler.AlertTriangle(i.Props{Class: "size-6 text-warning"})
							default:
								@tabler.InfoCircle(i.Props{Class: "size-6 text-info"})
						}
					</div>
					<h2 class="ml-4 card-title">{ msg.Summary }</h2>
				</div>
				if msg.HasDetails() {
					<p class="mt-1">
						{ *msg.Details }
					</p>
				}
			</div>
			// Close button.
			<div class="absolute top-0 right-0 p-2">
				<button
					type="button"
					class="btn btn-square btn-xs btn-ghost"
					_={ "on click remove #" + id }
				>
					<span class="sr-only">Close</span>
					@tabler.X(i.Props{Class: "text-neutral"})
				</button>
			</div>
		</div>
	</div>
}

// UpdatesToast renders a toast notification to inform the user that updated content is available.
templ UpdatesToast() {
	<div
		id="updates-toast"
		role="alert"
		class="alert alert-info alert-outline alert-soft"
	>
		<span>New updates available.</span>
		<div>
			<button
				class="btn btn-sm btn-square btn-info btn-soft"
				hx-get="#"
				hx-target={ ContentID.Target() }
				hx-swap="morph:innerHTML transition:true show:window:top"
			>
				<span class="sr-only">Refresh</span>
				@tabler.Refresh(i.Props{Class: "size-4 text-info"})
			</button>
			<button class="btn btn-sm btn-square btn-info btn-soft" _="on click remove #updates-toast">
				<span class="sr-only">Close</span>
				@tabler.X(i.Props{Class: "size-4 text-info"})
			</button>
		</div>
	</div>
}
