// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"fmt"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"html"
	"net/http"
)

// ToggleFavorite renders an updated favorite link based on the object's favorite status.
templ ToggleFavorite(id string, objectType string, isFavorite bool) {
	{{ var favoriteURL string }}
	if isFavorite {
		{{ favoriteURL = "/user/favorite/remove/" + objectType + "/" + id }}
	} else {
		{{ favoriteURL = "/user/favorite/add/" + objectType + "/" + id }}
	}
	@NewLink(
		WithHXMethod(http.MethodPost, favoriteURL),
		WithHXTarget("#favorite_"+id),
		WithHXInclude("[name='csrf_token']"),
		WithClasses("link-hover"),
	) {
		switch isFavorite {
			case true:
				@tabler.HeartFilled(i.Props{Class: "size-4"})
				Remove Favorite
			case false:
				@tabler.Heart(i.Props{Class: "size-4"})
				Add Favorite
		}
	}
}

// // MarkObjectLink will render a link for toggling the mark status of the object.
// templ MarkObjectLink[T ~string](obj object[T], target, swap string, classes ...string) {
// 	<a
// 		hx-post={ obj.MarkURL() }
// 		hx-include="[name='csrf_token']"
// 		hx-target={ target }
// 		hx-swap={ swap }
// 		class={ "link link-hover", classes }
// 	>
// 		switch obj.IsUnread() {
// 			case true:
// 				@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
// 				Mark Read
// 			case false:
// 				@tabler.MailFilled(i.Props{Class: "size-4"})
// 				Mark Unread
// 		}
// 	</a>
// }

// RemoveObjectModal renders a modal that will action an unsubscribe request when the user has confirmed.
templ ShareObjectModal(id, title, link string) {
	{{ id := string("share-" + id) }}
	@Modal(id) {
		<div class="sm:flex sm:items-start">
			<div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full sm:mx-0 sm:size-10">
				@tabler.Share(i.Props{Class: "size-12"})
			</div>
			<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
				<h3 id="dialog-title" class="text-base font-semibold">Share</h3>
				<div class="mt-2">
					<p class="text-sm">{ title }</p>
				</div>
			</div>
		</div>
		<div class="grid grid-flow-row grid-cols-3 mt-5 items-center justify-center sm:mt-4 gap-y-2 gap-x-2">
			// @NewLink(
			// 	WithAttribute("href", fmt.Sprintf("https://twitter.com/intent/tweet?text=%s&url%s", html.EscapeString(obj.GetTitle()), html.EscapeString(obj.GetLink()))),
			// 	WithClasses("btn", "col-span-1", "twitter-share-button"),
			// ) {
			// 	@tabler.Mail(i.Props{Class: "size-4"})
			// 	Email
			// }
			@NewLink(
				WithAttribute("href", fmt.Sprintf("mailto:?subject=%q&body=%s", html.EscapeString(title), link)),
				WithClasses("btn", "col-span-1", "col-start-2"),
			) {
				@tabler.Mail(i.Props{Class: "size-4"})
				Email
			}
			<div class="join col-span-3">
				<div class="flex-1">
					<label class="input join-item w-full">
						<input type="text" value={ link } readonly/>
					</label>
				</div>
				@NewButton(
					WithAttribute("_",
						"on click set currentValue to (my innerHTML) then writeText('"+link+"') on navigator.clipboard put 'Copied!' into me wait 1s put currentValue into me",
					),
					WithClasses("join-item"),
				) {
					@tabler.Copy(i.Props{Class: "size-4"})
					Copy Link
				}
			</div>
		</div>
	}
}

func shareAPIDialog(title, link string) string {
	return fmt.Sprintf("navigator.share({title: %q, url: %q})", title, link)
}
