// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/config"
	"github.com/immanent-tech/foragd/models"
)

const (
	FragmentContent FragmentKey = "content"
)

type FragmentKey string

// DefaultPageTitle is the default <title> tag value if none is set.
var DefaultPageTitle = config.AppName + ": " + config.AppDescription

// GeneratePageTitle generates an appropriate page title string by combining the input with the app name.
func GeneratePageTitle(title string) string {
	return title + " " + config.AppName
}

// SetPageTitle sets (or updates) the page's <title></title> tag. If the title is an empty string, a default title will
// be set instead.
templ SetPageTitle(title string) {
	if title != "" {
		<title>{ title }</title>
	} else {
		<title>{ DefaultPageTitle }</title>
	}
}

templ UpdateCSRFToken() {
	<input id="csrf_token" hx-swap-oob="true" hx-swap="outerHTML" type="hidden" name="csrf_token" value={ models.CSRFTokenFromCtx(ctx) }/>
}

// Page renders a full HTML page with the given body content and title.
templ Page(title string, body templ.Component) {
	<!DOCTYPE html>
	<html lang="en" class="h-full">
		<head>
			<meta charset="UTF-8"/>
			// https://developer.mozilla.org/en-US/docs/Web/HTML/Guides/Viewport_meta_element#interactive-widget
			<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, interactive-widget=resizes-visual"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<link rel="manifest" href="/content/manifest.json"/>
			<link rel="apple-touch-icon" href="/content/apple-touch-icon.png"/>
			<link rel="icon" href="/content/favicon.svg" type="image/svg+xml"/>
			<link rel="icon" href="/content/favicon-light.svg" type="image/svg+xml" media="(prefers-color-scheme: light)"/>
			<link rel="icon" href="/content/favicon-dark.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)"/>
			<link rel="shortcut icon" href="/content/favicon.ico" type="image/x-icon"/>
			<link href="/content/fonts/inter/inter.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
			<script src="/content/scripts.js"></script>
			<link href="/content/styles.css" rel="stylesheet"/>
			// Site-wide htmx config.
			<meta
				name="htmx-config"
				content='{
				"selfRequestsOnly":true,
				"allowNestedOobSwaps":true,
				"historyRestoreAsHxRequest":false,
				"historyCacheSize":0,
				"responseHandling":[
            		{"code":"204", "swap": false},
            		{"code":"[23]..", "swap": true},
            		{"code":"422", "swap": true},
            		{"code":"400", "swap": true},
            		{"code":"500", "swap": true},
            		{"code":"[45]..", "swap": false, "error":true},
            		{"code":"...", "swap": true}
        		]
			}'
			/>
			@SetPageTitle(title)
		</head>
		<body
			class="h-full"
			hx-ext="response-targets,preload,sse"
			_="on every htmx:beforeSend in <button:not(.no-disable)/> tell it toggle [@disabled='true'] until htmx:afterOnLoad"
			hx-target-404={ ContentID.Target() }
		>
			<input id="page-theme" type="checkbox" value={ models.GetUserTheme(ctx) } class="toggle theme-controller hidden" checked="checked"/>
			<input id="csrf_token" type="hidden" name="csrf_token" value={ models.CSRFTokenFromCtx(ctx) }/>
			<div id={ ModalContainerID.String() } hx-target-error="#modal-errors"></div>
			if body != nil {
				@body
			}
			{ children... }
			//  px-4 py-6 sm:p-6
			<div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end sm:items-start z-999">
				<div id={ NotificationsID.String() } class="flex w-full flex-col items-center space-y-4 m-4 sm:items-end"></div>
			</div>
			<div class="flex items-center m-2 fixed bottom-0 right-0 border border-gray-400 rounded p-2 bg-gray-300 text-pink-600 text-sm">
				<svg class="h-6 w-auto inline" viewBox="0 0 80 64" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill="url(#paint0_linear)" fill-rule="evenodd" clip-rule="evenodd" d="M32 16C24.8 16 20.3 19.6 18.5 26.8C21.2 23.2 24.35 21.85 27.95 22.75C30.004 23.2635 31.4721 24.7536 33.0971 26.4031C35.7443 29.0901 38.8081 32.2 45.5 32.2C52.7 32.2 57.2 28.6 59 21.4C56.3 25 53.15 26.35 49.55 25.45C47.496 24.9365 46.0279 23.4464 44.4029 21.7969C41.7557 19.1099 38.6919 16 32 16ZM18.5 32.2C11.3 32.2 6.8 35.8 5 43C7.7 39.4 10.85 38.05 14.45 38.95C16.504 39.4635 17.9721 40.9536 19.5971 42.6031C22.2443 45.2901 25.3081 48.4 32 48.4C39.2 48.4 43.7 44.8 45.5 37.6C42.8 41.2 39.65 42.55 36.05 41.65C33.996 41.1365 32.5279 39.6464 30.9029 37.9969C28.2557 35.3099 25.1919 32.2 18.5 32.2Z"></path>
					<defs>
						<linearGradient id="paint0_linear" x1="3.5" y1="16" x2="59" y2="48" gradientUnits="userSpaceOnUse">
							<stop stop-color="#2298BD"></stop>
							<stop offset="1" stop-color="#0ED7B5"></stop>
						</linearGradient>
					</defs>
				</svg>
				Current breakpoint
				<span class="ml-1 sm:hidden md:hidden lg:hidden xl:hidden">default (&lt; 640px)</span>
				<span class="ml-1 hidden sm:inline md:hidden font-extrabold">sm</span>
				<span class="ml-1 hidden md:inline lg:hidden font-extrabold">md</span>
				<span class="ml-1 hidden lg:inline xl:hidden font-extrabold">lg</span>
				<span class="ml-1 hidden xl:inline font-extrabold">xl</span>
			</div>
		</body>
	</html>
}
