// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/config"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/htmx"
	"github.com/immanent-tech/foragd/web/templates/opengraph"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"slices"
	"time"
)

templ UpdateHead(update templ.Component) {
	<head>
		@update
	</head>
}

type Page struct {
	Component   templ.Component
	Title       string
	Description string
	OGMetadata  *opengraph.Metadata
}

func NewPage(template templ.Component, options ...PageOption) *Page {
	p := &Page{
		Component:   template,
		Title:       config.AppName,
		Description: config.AppDescription,
		OGMetadata:  opengraph.NewMetadata(),
	}

	for option := range slices.Values(options) {
		option(p)
	}

	return p
}

type PageOption func(*Page)

func WithPageTitle(title string) PageOption {
	return func(p *Page) {
		p.Title = title + " | " + config.AppName
	}
}

func WithPageDescription(desc string) PageOption {
	return func(p *Page) {
		p.Description = desc
	}
}

func WithOGMetadata(metadata *opengraph.Metadata) PageOption {
	return func(p *Page) {
		p.OGMetadata = metadata
	}
}

// Page renders a full HTML page with the given body content and title.
templ (p *Page) FullTemplate() {
	<!DOCTYPE html>
	<html lang="en" class="h-full">
		@p.renderHead()
		@p.renderBody()
	</html>
}

templ (p *Page) PartialTemplate() {
	@p.Component
	<title>{ p.Title }</title>
}

// Head renders the `<head>` html element. If the title is blank, a default title is used.
templ (p *Page) renderHead() {
	<head>
		<meta charset="UTF-8" hx-preserve="true"/>
		<meta name="description" content={ p.Description } hx-preserve="true"/>
		// https://developer.mozilla.org/en-US/docs/Web/HTML/Guides/Viewport_meta_element#interactive-widget
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, interactive-widget=resizes-visual" hx-preserve="true"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" hx-preserve="true"/>
		<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width" hx-preserve="true"/>
		if p.OGMetadata != nil {
			@p.OGMetadata.Render()
		}
		<link rel="canonical" href="https://foragd.app" hx-preserve="true"/>
		<link rel="manifest" href="/content/manifest.json" hx-preserve="true"/>
		<link rel="apple-touch-icon" href="/content/apple-touch-icon.png" hx-preserve="true"/>
		<link rel="icon" href="/content/favicon.svg" type="image/svg+xml" hx-preserve="true"/>
		<link rel="icon" href="/content/favicon-light.svg" type="image/svg+xml" media="(prefers-color-scheme: light)" hx-preserve="true"/>
		<link rel="icon" href="/content/favicon-dark.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)" hx-preserve="true"/>
		<link rel="shortcut icon" href="/content/favicon.ico" type="image/x-icon" hx-preserve="true"/>
		<link href={ "/content/fonts/inter/inter.css?v=" + config.Version } rel="stylesheet" hx-preserve="true"/>
		if config.CurrentEnvironment == config.EnvProduction {
			<script defer src="https://cloud.umami.is/script.js" data-website-id="24250832-ccab-4bbc-bef9-6ba418e0ea51" crossorigin="anonymous" hx-preserve="true"></script>
		}
		<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module" crossorigin="anonymous" hx-preserve="true"></script>
		switch config.CurrentEnvironment {
			case config.EnvDevelopment:
				<script src={ "/content/scripts.js?v=" + time.Now().Format("2006-01-02T15:04:05.00Z07:00") } hx-preserve="true"></script>
				<link href={ "/content/styles.css?v=" + time.Now().Format("2006-01-02T15:04:05.00Z07:00") } rel="stylesheet" hx-preserve="true"/>
			default:
				<script src={ "/content/scripts.js?v=" + config.Version } hx-preserve="true"></script>
				<link href={ "/content/styles.css?v=" + config.Version } rel="stylesheet" hx-preserve="true"/>
		}
		// Site-wide htmx config.
		<meta
			name="htmx-config"
			content={ templ.JSONString(htmx.Config{
				AllowNestedOOBSwaps: false,
				ResponseHandling: []*htmx.ResponseHandling{
					{Code: "204",Swap: false},
					{Code:"[23]..",Swap: true},
					{Code:"422",Swap: true},
					{Code: "[45]..",Swap: true,Error: true},
					{Code:"...",Swap: false},
				},
				InlineStyleNonce: templ.GetNonce(ctx),
				InlineScriptNonce: templ.GetNonce(ctx),
				IncludeIndicatorStyles: true,
				HistoryRestoreAsHxRequest: false,
				GlobalViewTransitions: true,
			}) }
			hx-preserve="true"
		/>
		<title>{ p.Title }</title>
	</head>
}

// Body renders the `<body>` element. Body content can be passed directly or the children templ syntax can be used.
templ (p *Page) renderBody() {
	<body
		class="h-full"
		hx-ext="response-targets,preload,sse,head-support"
		_="on every htmx:beforeSend in <button:not(.no-disable)/> tell it toggle [@disabled='true'] until htmx:afterOnLoad"
		hx-target-404={ ContentID.Target() }
	>
		<input id="page-theme" type="checkbox" value={ models.GetUserTheme(ctx) } class="toggle theme-controller hidden" checked="checked"/>
		<input id="timezone" type="hidden" name="timezone" _="init set my value to Intl.DateTimeFormat().resolvedOptions().timeZone"/>
		<div id={ partials.ModalContainerID.String() } hx-target-error="#modal-errors"></div>
		@p.Component
		<div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end sm:items-start z-999">
			<div id={ NotificationsID.String() } class="flex w-full flex-col items-center space-y-4 m-4 sm:items-end"></div>
		</div>
	</body>
}

type Partial struct {
	Component templ.Component
}

func NewPartial(template templ.Component) *Partial {
	return &Partial{Component: template}
}

templ (p *Partial) PartialTemplate() {
	@p.Component
}
