// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"slices"
	"strings"
)

// Page represents a single HTML page.
type Page struct {
	Head           Head
	BodyAttributes templ.Attributes
	Body           Layout
}

templ (p *Page) Template() {
	<!DOCTYPE html>
	<html
		lang="en"
		data-theme=""
		_="
		on load
			log 'theme is currently '+ <html/>
			if @data-theme.value == null then
				fetch /settings/theme then
					put the result into @data-theme
		end
		on setTheme(theme)
			log 'theme changed to ' + theme
			set @data-theme to theme
		end
		"
	>
		@p.Head.Show()
		<body
			hx-ext="morph,sse,response-targets"
			hx-target-error={ NotificationsID.String() }
		>
			<div id={ ModalID.String() }></div>
			<div id={ NotificationsID.String() } class="fixed top-0 right-0 left-0 mt-4 p-2 z-50"></div>
			if p.Body != nil {
				@p.Body.Template()
			} else {
				{ children... }
			}
		</body>
	</html>
}

// PageOption is a functional option to apply to a page.
type PageOption func(*Page)

// WithDescription option sets the page description.
func WithDescription(description string) PageOption {
	return func(p *Page) {
		p.Head.AddMetaTag("description", description)
	}
}

// WithKeywords option sets the page keywords.
func WithKeywords(keywords ...string) PageOption {
	return func(p *Page) {
		p.Head.AddMetaTag("keywords", strings.Join(keywords, ","))
	}
}

func WithBody(body Layout) PageOption {
	return func(p *Page) {
		p.Body = body
	}
}

func NewPage(title string, options ...PageOption) *Page {
	page := &Page{}
	page.Head.Title = title

	for option := range slices.Values(options) {
		option(page)
	}

	return page
}
