// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"context"
	"github.com/immanent-tech/foragd/models"
)

// PaginationControl generates an element that will cause a pagination request when scrolled into view.
templ PaginationControl(ctx context.Context, route string, pagination models.Pagination) {
	{{ values := models.PageFiltersFromCtx(ctx, route).Values() }}
	{{ values[models.ParamPagination] = pagination }}
	<div
		class="invisible"
		hx-post={ route }
		if route == "/list/subscriptions/paginate" || route == "/list/articles/paginate" {
			hx-include="[name='csrf_token']"
			hx-vals={ generateHXVals(values) }
		}
		if route == "/search/paginate" {
			hx-include="[name='csrf_token'],#search-filters"
		}
		hx-trigger="intersect once"
		hx-target="#grid-objects"
		hx-swap="beforeend transition:false"
		hx-indicator="#content-loading"
		hx-push-url="false"
		preload
		preload-images="true"
		_="on htmx:afterRequest remove me"
	></div>
}
