// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"context"
	"fmt"
	"github.com/immanent-tech/foragd/models"
)

// PaginationControl generates an element that will cause a pagination request when scrolled into view.
templ PaginationControl(ctx context.Context, route, target string, pagination models.Pagination) {
	<div
		class="invisible"
		hx-post={ route }
		hx-include={ target }
		hx-vals={ fmt.Sprintf("{%q:%q}", models.ParamPagination, pagination) }
		hx-trigger="intersect once"
		hx-target="#grid-objects"
		hx-swap="beforeend"
		hx-indicator="#content-loading"
		preload
		preload-images="true"
		_="on htmx:afterRequest remove me"
	></div>
}
