// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"context"
	"fmt"
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
	"strings"
	"time"
)

// NotFound renders a layout appropriate to use for a 404 response.
templ NotFound() {
	@Main() {
		<div class="text-center">
			<h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance sm:text-7xl">Page not found</h1>
			<p class="mt-6 text-lg font-medium text-pretty text-base-content sm:text-xl/8">Sorry, we couldn't find the page you're looking for.</p>
			<div class="mt-10 flex items-center justify-center gap-x-6">
				@NewLink(
					WithCustomAttribute("role", "button"),
					WithCustomAttribute("href", "/home"),
					WithClasses("btn", "btn-primary", "btn-soft"),
				) {
					Go Back Home
				}
				@NewLink(
					WithCustomAttribute("role", "button"),
					WithCustomAttribute("href", "mailto:support@immanent.tech&subject=Foragd Issue"),
					WithClasses("btn", "btn-ghost"),
				) {
					Email Support <span aria-hidden="true">&rarr;</span>
				}
			</div>
		</div>
	}
}

templ ErrorPage(msg *models.UserMessage) {
	@Main() {
		<div class="text-center">
			<h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance sm:text-7xl">Whoops 😿</h1>
			<h2 class="mt-4 text-2xl font-semibold tracking-tight text-balance sm:text-5xl">{ msg.Summary }</h2>
			if msg.HasDetails() {
				<p class="mt-6 text-lg font-medium text-pretty text-base-content sm:text-xl/8">{ msg.Details }</p>
			}
			<div class="mt-10 flex items-center justify-center gap-x-6">
				@NewLink(
					WithCustomAttribute("role", "button"),
					WithCustomAttribute("href", "/home"),
					WithClasses("btn", "btn-primary", "btn-soft"),
				) {
					Go Back Home
				}
				@NewLink(
					WithCustomAttribute("role", "button"),
					WithCustomAttribute("href", "mailto:support@immanent.tech&subject=Foragd Issue"),
					WithClasses("btn", "btn-ghost"),
				) {
					Email Support <span aria-hidden="true">&rarr;</span>
				}
			</div>
		</div>
	}
}

// EmptyContent renders a layout appropriate for use when there is nothing to show.
templ EmptyContent() {
	@Main() {
		<div class="text-center mt-8">
			@tabler.FileUnknown(i.Props{Class: "mx-auto size-16 text-base-content"})
			<h3 class="mt-2 text-base font-semibold">Nothing to show</h3>
			<p class="mt-1 text-sm text-base-content">Try adjusting your filters/search, or maybe you are all caught up?</p>
			<btn class="btn btn-primary btn-soft mt-1" hx-get="/home" hx-target={ ContentID.Target() } hx-push-url="true">Home</btn>
		</div>
	}
}

templ Content(content templ.Component) {
	<header class="sticky w-full top-0 z-50 flex h-16 items-center bg-base-200 border-b border-base-content/30 lg:pl-36">
		<div class="flex flex-1 mx-auto items-center">
			<div class="flex flex-col lg:hidden h-16 shrink-0 mt-8 items-center text-accent mx-2">
				@LogoSmall("size-8")
			</div>
			<div class="flex flex-1 justify-center">
				@GlobalSearch()
			</div>
			<div class="flex items-center justify-end mx-2 sm:mr-4">
				<div aria-hidden="true" class="hidden lg:block lg:h-6 lg:w-px lg:bg-base-content/10"></div>
				{{ user, _ := models.UserFromCtx(ctx) }}
				if user != nil {
					<el-dropdown id="header-user-menu" class="relative">
						<button id="header-menu-button" class="btn btn-ghost btn-square hover:text-primary">
							<span class="sr-only">Open settings menu</span>
							<img src={ "/img-proxy/32x32/" + user.GetAvatar() } alt={ "Avatar for user " + user.GetNickname() } width="32" height="32" class="size-8 rounded-full outline -outline-offset-1 outline-base-content/10"/>
						</button>
						<el-menu id="header-menu" anchor="bottom end" popover class="context-menu-base">
							// Open settings menu.
							<a
								class="context-menu-item-base"
								hx-get="/user/settings"
								hx-target={ ContentID.Target() }
								hx-push-url="true"
								_="on click remove @open from #header-menu"
							>
								<div class="flex flex-1 items-center gap-x-2">
									@tabler.SettingsFilled(i.Props{Class: "size-4"})
									Settings
								</div>
							</a>
							// Report issue.
							<a
								hx-get={ "/issue" }
								hx-target={ ContentID.Target() }
								class="link link-hover context-menu-item-base"
							>
								<div class="flex flex-1 items-center gap-x-2">
									@tabler.FlagFilled(i.Props{Class: "size-4"})
									Report an issue
								</div>
							</a>
							// Logout
							<a href="/logout" class="context-menu-item-base">
								<div class="flex flex-1 items-center gap-x-2">
									@tabler.Logout(i.Props{Class: "size-4"})
									Log out
								</div>
							</a>
						</el-menu>
					</el-dropdown>
				}
			</div>
		</div>
		<el-dialog>
			<dialog id="search-filters-dialog" class="mt-16 mb-auto mx-auto p-4 sm:p-6 w-full sm:max-w-3xl sm:h-fit overflow-y-auto bg-base-300 rounded-box shadow-sm outline-1 -outline-offset-1 outline-base-content/15">
				<el-dialog-panel>
					// or focusout from body
					@SearchFilters(nil)
				</el-dialog-panel>
			</dialog>
		</el-dialog>
	</header>
	// <el-popover id="search-filters-dialog" popover class="top-16 mt-2 sm:mx-0 w-svh sm:max-w-3xl h-svh sm:h-fit overflow-y-auto rounded-box shadow-sm bg-base-300 text-base sm:text-sm/6 outline-1 -outline-offset-1 outline-base-content/15">
	// 	@SearchFilters(nil)
	// </el-popover>
	@ContentSideBar(nil)
	<div class="lg:pl-36 pt-16">
		<div id={ ContentID.String() } hx-indicator="#content-loading">
			// @templ.Fragment(FragmentContent) {
			@content
			// }
		</div>
		@ContentLoadingPlaceholder()
	</div>
	@ContentDock(nil)
}

templ ContentSideBar(attributes templ.Attributes) {
	<div id="page-sidebar" class="hidden bg-base-200 border-r border-base-content/30 lg:pt-16 lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-36 lg:flex-col" { attributes... }>
		<div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-base-content/10 px-6 pb-4">
			<nav aria-label="Sidebar" class="flex flex-1 flex-col items-center">
				<div class="flex flex-col shrink-0 h-16 p-2 items-center text-accent">
					@LogoSmall("size-8")
					Foragd
				</div>
				<ul role="list" class="flex flex-1 flex-col gap-y-7">
					<li>
						<a
							href="/home"
							class="group link link-hover hover:text-accent flex flex-col items-center p-2 text-xs/5 font-semibold text-center"
						>
							<span class="sr-only">Go to home page</span>
							@tabler.Home(i.Props{Class: "size-6 shrink-0 text-current"})
							Home
						</a>
					</li>
					<li>
						@NewLink(
							WithHXMethod(http.MethodGet, "/list/subscriptions"),
							WithHXTarget(ContentID.Target()),
							WithHXPushURL(),
							WithHXVals(models.PageFiltersFromCtx(ctx, "/list/subscriptions").Values()),
							WithClasses("group link link-hover hover:text-accent flex flex-col items-center p-2 text-xs/5 font-semibold text-center"),
						) {
							<span class="sr-only">Show all unread subscriptions</span>
							@tabler.Rss(i.Props{Class: "size-6 shrink-0 text-current"})
							Subscriptions
						}
					</li>
					<li>
						@NewLink(
							WithHXMethod(http.MethodGet, "/list/articles"),
							WithHXTarget(ContentID.Target()),
							WithHXPushURL(),
							WithHXVals(models.PageFiltersFromCtx(ctx, "/list/articles").Values()),
							WithClasses("group link link-hover hover:text-accent flex flex-col items-center p-2 text-xs/5 font-semibold text-center"),
						) {
							<span class="sr-only">Show all unread articles</span>
							@tabler.FileRss(i.Props{Class: "size-6 shrink-0 text-current"})
							Articles
						}
					</li>
					<li>
						@NewLink(
							WithHXMethod(http.MethodGet, "/list/favorites"),
							WithHXTarget(ContentID.Target()),
							WithHXPushURL(),
							WithClasses("group link link-hover hover:text-accent flex flex-col items-center p-2 text-xs/5 font-semibold text-center"),
						) {
							<span class="sr-only">Show favorites</span>
							@tabler.HeartFilled(i.Props{Class: "size-6 shrink-0 text-current"})
							Favorites
						}
					</li>
				</ul>
			</nav>
		</div>
	</div>
}

templ ContentDock(attributes templ.Attributes) {
	<div id="page-dock" class="dock bg-base-200 border-t border-base-content/10 lg:hidden" { attributes... }>
		<button
			hx-get="/home"
			hx-target={ ContentID.Target() }
			hx-push-url="true"
			if models.PathFromCtx(ctx) == "/home" {
				class="dock-active"
			}
		>
			@tabler.HomeFilled(i.Props{Class: "size-6"})
			<span class="dock-label">Home</span>
		</button>
		<button
			hx-get="/list/subscriptions"
			hx-target={ ContentID.Target() }
			hx-vals={ models.GenerateHXVals(models.PageFiltersFromCtx(ctx, "/list/subscriptions").Values()) }
			hx-params={ "not " + models.ParamSubscriptions }
			hx-push-url="true"
			if models.PathFromCtx(ctx) == "/list/subscriptions" {
				class="dock-active"
			}
		>
			@tabler.Rss(i.Props{Class: "size-6"})
			<span class="dock-label">Subscriptions</span>
		</button>
		<button
			hx-get="/list/articles"
			hx-target={ ContentID.Target() }
			hx-push-url="true"
			if models.PathFromCtx(ctx) == "/list/articles" {
				class="dock-active"
			}
			if strings.HasPrefix(models.PathFromCtx(ctx), "/view/article") {
				hx-include="[name='subscriptions']"
			}
		>
			@tabler.FileRssFilled(i.Props{Class: "size-6"})
			<span class="dock-label">Articles</span>
		</button>
		<button
			hx-get="/list/favorites"
			hx-target={ ContentID.Target() }
			hx-push-url="true"
			if models.PathFromCtx(ctx) == "/list/favorites" {
				class="dock-active"
			}
		>
			@tabler.HeartFilled(i.Props{Class: "size-6"})
			<span class="dock-label">Favorites</span>
		</button>
	</div>
}

// ContentLoadingPlaceholder renders a (hidden by default) element that is shown when a (HTMX) request is loading.
templ ContentLoadingPlaceholder() {
	<div id="content-loading" class="htmx-indicator">
		<div class="text-center">
			<span class="loading loading-bars loading-xl"></span>
			<h3 class="mt-2 text-base font-semibold">Loading content...</h3>
		</div>
	</div>
}

// PaginationControl generates an element that will cause a pagination request when scrolled into view.
templ PaginationControl(ctx context.Context, route string, pagination models.Pagination) {
	<div
		class="invisible"
		hx-post={ route }
		hx-include="#content-filters,[name='csrf_token']"
		hx-vals={ fmt.Sprintf("{%q:%q}", models.ParamPagination, pagination) }
		hx-trigger="intersect once"
		hx-target="#grid-objects"
		hx-swap="beforeend"
		hx-indicator="#content-loading"
		preload
		preload-images="true"
		_="on htmx:afterRequest remove me"
	></div>
}

// ShowTimestamp will display the given timestamp as a relative/human-friendly timestamp that will update as time
// passes.
templ ShowTimestamp(timestamp time.Time) {
	<human-time datetime={ timestamp.Format("2006-01-02T15:04:05-0700") }>{ timestamp.Format("2006-01-02 15:04:05 -0700") }</human-time>
}

// HelpPopover can be used to render a help icon, that when clicked, will open a popover displaying informational or
// help text.
templ HelpPopover(id, anchor string) {
	<button id={ id + "-button" } popovertarget={ id } type="button" class="btn btn-circle btn-ghost btn-xs text-info">
		@tabler.InfoCircle(i.Props{Class: "size-6 text-info"})
	</button>
	<el-popover popover id={ id } anchor={ anchor } class="[--anchor-gap:4px] rounded-box">
		{ children... }
	</el-popover>
}

templ ContextMenu(name string) {
	// Actions menu.
	<el-dropdown class="relative ml-auto">
		<button class="btn btn-sm btn-ghost btn-square">
			<span class="sr-only">{ name }</span>
			@tabler.DotsVertical(i.Props{Class: "size-5"})
		</button>
		<el-menu
			anchor="bottom end"
			popover
			class="context-menu-base"
		>
			{ children... }
		</el-menu>
	</el-dropdown>
}

templ CategoryManagement(path, inputName string, suggested []models.Category, existing []models.Category) {
	<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
		<div>
			<h2 class="text-base/7 font-semibold">Add Categories</h2>
			<p class="mt-1 text-sm/6 text-base-content/60">Optional. Add additional categories to the subscription.</p>
		</div>
		// Add categories.
		<div class="grid sm:max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
			// Add from suggested categories.
			if len(suggested) > 0 {
				<div class="sm:col-span-4 mt-2">
					<form
						id="add-categories"
						hx-post={ path }
						hx-on::after-request="if(event.detail.successful) this.reset()"
						hx-include="[name='csrf_token'],[name='categories']"
						hx-push-url="false"
						hx-target="#current-categories"
						hx-swap="beforeend"
						hx-trigger="change"
					>
						<select class="select select-primary bg-base-content/10" name="category">
							<option disabled selected>Suggested Categories</option>
							for category := range slices.Values(suggested) {
								<option class="text-sm/6 capitalize" value={ category }>{ category }</option>
							}
						</select>
					</form>
				</div>
			}
			// Add custom categories.
			<div class="sm:col-span-6 mt-2">
				<form
					id="add-categories"
					hx-post={ path }
					hx-on::after-request="if(event.detail.successful) this.reset()"
					hx-include="[name='csrf_token'],[name='categories']"
					hx-vals={ models.GenerateHXVals(map[string]string{"inputName": inputName}) }
					hx-push-url="false"
					hx-target="#current-categories"
					hx-swap="beforeend"
				>
					<div class="join">
						<label class="input input-primary bg-base-content/10 join-item">
							<input type="text" placeholder="Custom Category" name="category"/>
						</label>
						<button type="submit" class="btn btn-primary btn-soft join-item">
							@tabler.Plus()
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	// Manage categories.
	<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
		<div>
			<h2 class="text-base/7 font-semibold">Manage Existing Categories</h2>
			<p class="mt-1 text-sm/6 text-base-content/60">Existing categories. Click the X to remove them from the subscription.</p>
		</div>
		<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
			<div class="sm:col-span-4">
				<div class="flex gap-2 p-2 m-2">
					<div id="current-categories" class="flex flex-row flex-wrap p-2 gap-2">
						for category := range slices.Values(existing) {
							@AddCategory(path, inputName, category)
						}
					</div>
				</div>
			</div>
		</div>
	</div>
}

// AddCategory renders a new category item to the list of categories of a subscription.
templ AddCategory(path, inputName string, category models.Category) {
	{{ csrf_token := models.CSRFTokenFromCtx(ctx) }}
	<button
		hx-delete={ path }
		hx-push-url="false"
		hx-target="closest button"
		hx-swap="delete"
		hx-headers={ `{"X-CSRF-Token": "` + csrf_token + `"}` }
	>
		<input type="hidden" name={ inputName } value={ category }/>
		<div class="flex gap-2 text-sm capitalize">
			<div
				class="badge badge-soft badge-primary"
			>
				{ category }
				@tabler.X(i.Props{Class: "size-4"})
			</div>
		</div>
	</button>
}

// Modal will render a modal with the given content.
templ Modal(id string) {
	{{ modalID := id + "-modal" }}
	<el-dialog id={ modalID }>
		<dialog id={ id } aria-labelledby="dialog-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
			<el-dialog-backdrop class="fixed inset-0 bg-base-100/75 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in"></el-dialog-backdrop>
			<div tabindex="0" class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
				<el-dialog-panel class="relative transform overflow-hidden rounded-lg bg-base-300 px-4 pt-5 pb-4 text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg sm:p-6 data-closed:sm:translate-y-0 data-closed:sm:scale-95">
					<div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
						<button
							type="button"
							command="close"
							commandfor={ id }
							_={ "on click remove " + modalID }
							class="rounded-md text-base-content hover:text-primary focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:outline-hidden"
						>
							<span class="sr-only">Close</span>
							@tabler.X(i.Props{Class: "size-6"})
						</button>
					</div>
					{ children... }
				</el-dialog-panel>
			</div>
		</dialog>
	</el-dialog>
}

templ DeleteAccountModal() {
	{{ id := "delete-account" }}
	@Modal(id) {
		<div class="sm:flex sm:items-start">
			<div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full sm:mx-0 sm:size-10">
				@tabler.AlertTriangle(i.Props{Class: "size-12"})
			</div>
			<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
				<h3 id="dialog-title" class="text-base font-semibold">Delete Account Confirmation</h3>
				<div class="mt-2">
					<p class="text-sm">Are you sure you want to delete your account. Once done, it cannot be recovered.</p>
				</div>
			</div>
		</div>
		<div class="mt-5 sm:mt-4 sm:flex sm:justify-end gap-x-2">
			<button
				type="button"
				command="close"
				commandfor={ id }
				_={ "on click remove #" + id + "-modal" }
				class="btn btn-ghost"
			>Cancel</button>
			<button
				type="button"
				hx-post="/user/delete"
				hx-swap="none"
				_="on htmx:afterRequest(successful) if successful remove #delete-account-modal"
				hx-include="[name='csrf_token']"
				class="btn btn-error"
			>Yes</button>
		</div>
	}
}
