// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"slices"
)

templ PostsIndex(posts []*models.MarkdownFile) {
	@content() {
		@container() {
			<div class="mx-auto max-w-2xl lg:mx-0">
				@partials.Heading2() {
					Posts
				}
				@partials.Paragraph() {
					Posts from the Foragd team.
				}
			</div>
			@grid(
				WithClasses("mt-8 place-items-start sm:min-h-svh"),
			) {
				for post := range slices.Values(posts) {
					<a href={ "/posts/" + post.Details.Path }>
						<article class="card card-border bg-base-200 max-w-prose h-fit cursor-pointer">
							<div class="card-body">
								<h2 class="card-title">{ post.Frontmatter.Title }</h2>
								<p>{ post.Frontmatter.Description }</p>
								<div class="card-actions justify-end">
									<time datetime={ post.Frontmatter.CreatedAt } class="label">{ post.Frontmatter.CreatedAt }</time>
								</div>
							</div>
						</article>
					</a>
				}
			}
			@partials.ButtonBackToTop()
		}
	}
}

templ Post(post *models.MarkdownFile) {
	@content() {
		@container() {
			<div class="breadcrumbs text-sm">
				<ul>
					<li><a href="/posts">Posts</a></li>
					<li><a href="#">{ post.Frontmatter.Title }</a></li>
				</ul>
			</div>
			<article class="prose sm:prose-lg prose-img:shadow-md my-4 mx-auto">
				<h1>{ post.Frontmatter.Title }</h1>
				<p class="font-semibold">{ post.Frontmatter.Description }</p>
				<div class="mx-auto flex flex-1 space-x-2 mb-4 text-sm">
					<time datetime={ post.Frontmatter.CreatedAt } class="label">Published { post.Frontmatter.CreatedAt }</time>
					if post.Frontmatter.UpdatedAt != nil {
						<time datetime={ *post.Frontmatter.UpdatedAt } class="label">Updated { *post.Frontmatter.UpdatedAt }</time>
					}
				</div>
				@templ.Raw(string(post.Content))
			</article>
			@partials.ButtonBackToTop()
		}
	}
}
