// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"encoding/json"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/pkg/formats/text"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"slices"
	"time"
)

templ PostsIndex(posts []*models.MarkdownFile) {
	@content() {
		@container() {
			<div class="mx-auto max-w-2xl lg:mx-0">
				<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">From the blog</h1>
				<p class="mt-2 text-lg/8">Posts from the makers of Foragd.</p>
			</div>
			<div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-base-300 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-2">
				for post := range slices.Values(posts) {
					<a href={ "/blog/" + post.Details.Path }>
						<article class="card card-border bg-base-200 max-w-prose h-fit cursor-pointer touch-manipulation">
							if post.Frontmatter.Image != nil {
								<figure>
									<img
										src={ *post.Frontmatter.Image }
										alt={ post.Frontmatter.Title }
										fetchpriority="high"
									/>
								</figure>
							}
							<div class="card-body">
								<h2 class="card-title tracking-tight text-balance">{ post.Frontmatter.Title }</h2>
								if post.Frontmatter.Author != nil {
									<span class="text-sm text-neutral">{ *post.Frontmatter.Author }</span>
								}
								<p class="mt-4">{ post.Frontmatter.Description }</p>
								<div class="card-actions justify-end">
									<time datetime={ post.Frontmatter.CreatedAt } class="label">{ post.Frontmatter.CreatedAt }</time>
								</div>
							</div>
						</article>
					</a>
				}
			</div>
		}
		@partials.ButtonBackToTop()
	}
}

// Post renders a post.
//
// See also: https://developers.google.com/search/docs/appearance/structured-data/article#microdata
templ Post(post *models.MarkdownFile) {
	@content() {
		@narrowContainer() {
			<div class="breadcrumbs text-sm">
				<ul>
					<li><a href="/blog">Blog</a></li>
					<li><span>{ post.Frontmatter.Title }</span></li>
				</ul>
			</div>
			<article itemscope itemtype="https://schema.org/NewsArticle" class="prose sm:prose-lg prose-img:shadow-md my-4 mx-auto">
				<div class="fixed top-16 left-0 z-10 h-1 w-full bg-base-100">
					<div class="h-full origin-left transform-[scaleX(0)] animate-growbar bg-accent transform-border"></div>
				</div>
				<div class="flex flex-1 justify-self-end text-sm/6 text-neutral items-center space-x-2">
					<time datetime={ post.Frontmatter.CreatedAt }>Created: { post.Frontmatter.CreatedAt }</time>
					if post.Frontmatter.UpdatedAt != nil {
						<svg viewBox="0 0 2 2" class="size-0.5 flex-none fill-neutral">
							<circle r="1" cx="1" cy="1"></circle>
						</svg>
						<time datetime={ *post.Frontmatter.UpdatedAt }>Updated: { *post.Frontmatter.UpdatedAt }</time>
					}
				</div>
				<h1
					class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl"
					itemprop="headline"
				>
					{ post.Frontmatter.Title }
				</h1>
				<p class="font-semibold">{ post.Frontmatter.Description }</p>
				<div class="mb-4 flex items-center justify-between border-t border-b border-neutral/15 p-1">
					// Author.
					if post.Frontmatter.Author != nil {
						<strong
							itemprop="author"
							itemscope
							itemtype="https://schema.org/Person"
							class="label text-sm"
						>
							{ *post.Frontmatter.Author }
						</strong>
					}
					// Actions.
					<div class="flex shrink-0 items-center">
						<span class="text-sm/6">
							Reading time:
							{ text.ReadingTime(string(post.Content)).Round(time.Minute).String() }
						</span>
					</div>
				</div>
				@templ.Raw(string(post.Content))
			</article>
			@partials.ButtonBackToTop()
		}
	}
}

templ RenderPostJSONLD(jsonld *json.RawMessage) {
	if jsonld != nil {
		@templ.JSONScript("jsonld-data", jsonld).WithType("application/ld+json")
	}
}
