// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "github.com/immanent-tech/foragd/models"

templ pricingGrid(action, method, selectedID, selectedText string) {
	<div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
		<div class="-m-2 grid mx-auto col-span-full max-lg:mx-auto max-lg:w-full max-lg:max-w-md">
			<div class="grid grid-cols-1 sm:grid-cols-2 rounded-4xl p-2 gap-4">
				<div class="card w-full sm:w-lg bg-base-200 shadow-sm">
					<div class="card-body">
						<h2 class="text-lg/7 font-semibold text-primary">The One <span class="sr-only">plan</span> (monthly)</h2>
						<p class="mt-2 text-sm/6 text-pretty text-neutral">Single plan, all features, generous inclusions.</p>
						// <span class="badge badge-xs badge-warning">Most Popular</span>
						<div class="mt-4 mb-auto flex items-center gap-4">
							<div class="text-5xl font-semibold">$7</div>
							<div class="text-sm">
								<p>USD</p>
								<p>per month (pay nothing during beta, price on launch)</p>
							</div>
						</div>
						@featureList()
						<div class="mt-8">
							if user := models.UserFromCtx(ctx); user != nil {
								<form action={ action } method={ method }>
									<input type="hidden" name={ models.ParamPlanID } value="TheOne-85297d6"/>
									<button aria-label="Start a free trial on the One plan" id="checkout-theone" type="submit" class="btn btn-accent btn-block">Start a free trial</button>
								</form>
							} else {
								<a
									role="button"
									class="btn btn-accent btn-block"
									href="/signup"
								>Sign up for beta access</a>
							}
						</div>
					</div>
				</div>
				<div class="card w-full sm:w-lg bg-base-200 shadow-sm">
					<div class="card-body">
						<h2 class="text-lg/7 font-semibold text-primary">The One <span class="sr-only">plan</span> (yearly)</h2>
						<p class="mt-2 text-sm/6 text-pretty text-neutral">Single plan, all features, generous inclusions.</p>
						<div class="mt-4 mb-auto flex items-center gap-4">
							<div class="text-5xl font-semibold">$59</div>
							<div class="text-sm">
								<p>USD</p>
								<p>annually (pay nothing during beta, price on launch)</p>
							</div>
						</div>
						<p class="mt-2 text-sm/6 text-pretty text-neutral font-semibold">
							<span class="badge badge-sm badge-warning text-warning-content">Best value</span>
							Save ~30% discount vs. monthly subscription.
						</p>
						@featureList()
						<div class="mt-8">
							if user := models.UserFromCtx(ctx); user != nil {
								<form action={ action } method={ method }>
									<input type="hidden" name={ models.ParamPlanID } value="TheOne-85297d6"/>
									<button aria-label="Start a free trial on the One plan" id="checkout-theone" type="submit" class="btn btn-accent btn-block">Start a free trial</button>
								</form>
							} else {
								<a
									role="button"
									class="btn btn-accent btn-block"
									href="/signup"
								>Sign up for beta access</a>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

templ featureList() {
	<div class="mt-8">
		<h3 class="text-sm/6 font-medium">Features:</h3>
		<ul class="mt-3 space-y-3">
			<li class="group flex items-start gap-4 text-sm/6 data-disabled:text-neutral data-disabled:brightness-95">
				<span class="inline-flex h-6 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 group-data-disabled:text-neutral data-disabled:brightness-95">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
					</svg>
				</span>
				3000 subscriptions.
			</li>
			<li class="group flex items-start gap-4 text-sm/6 data-disabled:text-neutral data-disabled:brightness-95">
				<span class="inline-flex h-6 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 group-data-disabled:text-neutral data-disabled:brightness-95">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
					</svg>
				</span>
				50 email newsletters.
			</li>
			<li class="group flex items-start gap-4 text-sm/6 data-disabled:text-neutral data-disabled:brightness-95">
				<span class="inline-flex h-6 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 group-data-disabled:text-neutral data-disabled:brightness-95">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
					</svg>
				</span>
				Fetch remote article content.
			</li>
			<li class="group flex items-start gap-4 text-sm/6 data-disabled:text-neutral data-disabled:brightness-95">
				<span class="inline-flex h-6 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 group-data-disabled:text-neutral data-disabled:brightness-95">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
					</svg>
				</span>
				Add favorite subscriptions and articles.
			</li>
			<li class="group flex items-start gap-4 text-sm/6 data-disabled:text-neutral data-disabled:brightness-95">
				<span class="inline-flex h-6 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 group-data-disabled:text-neutral data-disabled:brightness-95">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
					</svg>
				</span>
				Group subscriptions (combine multiple feeds into one).
				// <a href="/help#group-subscriptions" rel="noopener" target="_blank" class="link">
				// 	@tabler.HelpCircle(i.Props{Class: "size-6"})
				// </a>
			</li>
			<li class="group flex items-start gap-4 text-sm/6 data-disabled:text-neutral data-disabled:brightness-95">
				<span class="inline-flex h-6 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 group-data-disabled:text-neutral data-disabled:brightness-95">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
					</svg>
				</span>
				Search subscriptions (save search results as a subscription).
				// <a href="/help#search-subscriptions" rel="noopener" target="_blank" class="link">
				// 	@tabler.HelpCircle(i.Props{Class: "size-6"})
				// </a>
			</li>
			<li class="group flex items-start gap-4 text-sm/6 data-disabled:text-neutral data-disabled:brightness-95">
				<span class="inline-flex h-6 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 group-data-disabled:text-neutral data-disabled:brightness-95">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
					</svg>
				</span>
				Full text search through articles.
			</li>
			<li class="group flex items-start gap-4 text-sm/6 data-disabled:text-neutral data-disabled:brightness-95">
				<span class="inline-flex h-6 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 group-data-disabled:text-neutral data-disabled:brightness-95">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
					</svg>
				</span>
				No ads, no recommended content, ever.
			</li>
			<li class="group flex items-start gap-4 text-sm/6 data-disabled:text-neutral data-disabled:brightness-95">
				<span class="inline-flex h-6 items-center">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 group-data-disabled:text-neutral data-disabled:brightness-95">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
					</svg>
				</span>
				Personal use only.
			</li>
		</ul>
	</div>
}
