// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later
package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
)

// SearchSuggestions will render suggestions for a given search.
templ SearchSuggestions(request *models.SearchRequest, subscriptions models.Subscriptions, articles models.Articles) {
	// Always generate a suggestion to execute a full search.
	<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="search-group-label">
		<form
			hx-post="/search"
			hx-target={ ContentID.Target() }
			hx-include="[name='csrf_token'],#search-filters"
			hx-vals="js:{timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}"
			hx-push-url="true"
			hx-trigger="click, keydown['Enter']"
			_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			<input type="hidden" name="text" value={ request.Text }/>
			<a
				href="#"
				hidden
				class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content text-sm"
			>
				@tabler.Search(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
				<span class="ml-3 flex-auto truncate">Search for { request.Text }</span>
				<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Search...</span>
			</a>
		</form>
	</el-command-group>
	// Page suggestions.
	<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="pages-group-label">
		<div id="pages-group-label" class="text-base-content/80 px-3 py-2">Actions</div>
		<a
			href="/home"
			hidden
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			@tabler.Home(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Go to Home</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="/list/subscriptions"
			hidden
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			_="on click or keyup[key is 'Enter']  add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			@tabler.Rss(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Go to Subscriptions</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="/list/articles"
			hidden
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			@tabler.FileRss(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Go to Articles</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="/list/favorites"
			hidden
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			@tabler.Heart(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Go to Favorites</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="/user/settings"
			hidden
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
			_="on click or keyup[key is 'Enter']  add @hidden to #global-search-suggestions then set #global-search.value to ''"
		>
			@tabler.Settings(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Go to Settings</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="#"
			hx-get="/user/subscription/add/feed"
			hx-target={ ContentID.Target() }
			hx-push-url="true"
			hidden
			_="on click or keyup[key is 'Enter']  add @hidden to #global-search-suggestions then set #global-search.value to ''"
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
		>
			@tabler.CirclePlus(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Add a feed subscription</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="#"
			hx-get="/user/subscription/add/search"
			hx-target={ ContentID.Target() }
			hx-push-url="true"
			hx-include="#search-filters"
			hidden
			_="on click or keyup[key is 'Enter']  add @hidden to #global-search-suggestions then set #global-search.value to ''"
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
		>
			@tabler.CirclePlus(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Add a search subscription</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
		<a
			href="#"
			hx-get="/user/subscription/add/group"
			hx-target={ ContentID.Target() }
			hx-push-url="true"
			hidden
			_="on click or keyup[key is 'Enter']  add @hidden to #global-search-suggestions then set #global-search.value to ''"
			class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
		>
			@tabler.CirclePlus(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
			<span class="ml-3 flex-auto truncate">Add a group subscription</span>
			<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
		</a>
	</el-command-group>
	if len(subscriptions) > 0 {
		// Subscription suggestions.
		<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="subscriptions-group-label">
			<div id="subscriptions-group-label" class="text-base-content/80 px-3 py-2">Subscriptions</div>
			for subscription := range slices.Values(subscriptions) {
				switch subscription.GetSubscriptionType() {
					case models.SubscriptionTypeFeed:
						{{ filters := models.PageFiltersFromCtx(ctx, "/list/subscriptions").Values() }}
						{{ filters[models.ParamSort] = string(models.SortNewestFirst) }}
						{{ filters[models.ParamSubscriptions] = subscription.GetID() }}
						if subscription.GetStats().IsUnread() {
							{{ filters[models.ParamView] = string(models.ViewUnread) }}
						} else {
							{{ filters[models.ParamView] = string(models.ViewRead) }}
						}
						@NewLink(
							WithCustomAttribute("href", "#"),
							WithHXMethod(http.MethodGet, "/list/articles"),
							WithHXVals(filters),
							WithHXTarget(ContentID.Target()),
							WithHXPushURL(),
							WithHXSwap("innerHTML show:top transition:true"),
							WithClasses("group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"),
							WithCustomAttribute("_", "on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"),
						) {
							@tabler.Rss(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
							<span class="ml-3 flex-auto truncate">{ subscription.GetTitle() } </span>
							<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
						}
					case models.SubscriptionTypeSearch:
						<form>
							<input type="hidden" name={ models.ParamSubscriptionID } value={ subscription.GetID() }/>
							@NewLink(
								WithCustomAttribute("href", "#"),
								WithHXMethod(http.MethodPost, "/search"),
								WithHXInclude("[name='csrf_token']"),
								WithHXValsJS(subscription.SearchData.Search.HXVals()),
								WithHXTarget(ContentID.Target()),
								WithHXPushURL(),
								WithHXSwap("innerHTML show:top transition:true"),
								WithClasses("group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"),
								WithCustomAttribute("_", "on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"),
							) {
								@tabler.Rss(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
								<span class="ml-3 flex-auto truncate">{ subscription.GetTitle() } </span>
								<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
							}
						</form>
				}
			}
		</el-command-group>
	}
	if len(articles) > 0 {
		// Article suggestions.
		<el-command-group hidden class="block p-2 text-sm text-base-content" aria-labelledby="articles-group-label">
			<div id="articles-group-label" class="text-base-content/80 px-3 py-2">Articles</div>
			for article := range slices.Values(articles) {
				<a
					href="#"
					hx-get={ "/view/article/" + article.GetID() }
					hx-target={ ContentID.Target() }
					hx-push-url="true"
					hidden
					class="group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-primary aria-selected:text-primary-content"
					_="on click or keyup[key is 'Enter'] add @hidden to #global-search-suggestions then set #global-search.value to ''"
				>
					@tabler.File(i.Props{Class: "size-6 flex-none text-base-content group-aria-selected:text-primary-content forced-colors:group-aria-selected:text-[Highlight]"})
					<span class="ml-3 flex-auto truncate">{ article.GetTitle() } </span>
					<span aria-hidden="true" class="ml-3 hidden flex-none text-primary-content/50 group-aria-selected:inline">Jump to...</span>
				</a>
			}
		</el-command-group>
	}
}

// SearchResultsGrid renders the given articles returned from the given search in a grid layout with an actions menu.
templ SearchResultsGrid(request *models.SearchRequest, articles models.Articles, pagination models.Pagination) {
	@Main() {
		<div class="flex items-center justify-between mt-4">
			// Page title.
			<div class="min-w-0 flex-1">
				<h2 class="page-title">
					Search Results
				</h2>
			</div>
			// Actions menu.
			<el-dropdown class="inline-block flex-none">
				<button class="inline-flex flex-col items-center">
					<span class="sr-only">Articles Actions</span>
					@tabler.DotsVertical(i.Props{Class: "size-6"})
				</button>
				<el-menu anchor="bottom end" popover>
					// Mark all read action.
					<form>
						<input type="hidden" name={ models.ParamView } value={ models.ViewUnread }/>
						<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
						<a
							hx-post="/list/articles/mark"
							hx-target={ ContentID.Target() }
							hx-include="#grid-objects,[name='csrf_token']"
							class="group/item flex items-center px-4 py-2 text-sm space-x-2 focus:text-accent focus:outline-hidden"
						>
							@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
							<span class="sr-only">Mark All Read</span>
							Mark all Read
						</a>
					</form>
					// Mark all unread action.
					<form>
						<input type="hidden" name={ models.ParamView } value={ models.ViewRead }/>
						<input type="hidden" name={ models.ParamMark } value={ models.MarkUnread }/>
						<a
							hx-post="/list/articles/mark"
							hx-target={ ContentID.Target() }
							hx-include="#grid-objects,[name='csrf_token']"
							class="group/item flex items-center px-4 py-2 text-sm space-x-2 focus:text-accent focus:outline-hidden"
						>
							@tabler.MailFilled(i.Props{Class: "size-4"})
							<span class="sr-only">Mark All Unread</span>
							Mark all Unread
						</a>
					</form>
					if request.ID != "" {
						<div class="py-1">
							// Edit action.
							@NewLink(
								WithHXMethod(http.MethodGet, "/edit/subscription/"+request.ID),
								WithHXTarget(ContentID.Target()),
								WithHXSwap("innerHTML show:top transition:true"),
								WithHXPushURL(),
							) {
								@tabler.Edit(i.Props{Class: "size-4"})
								Edit Subscription
							}
						</div>
					} else {
						<div class="py-1">
							@NewLink(
								WithHXMethod(http.MethodGet, "/user/subscription/add/search"),
								WithHXTarget(ContentID.Target()),
								WithHXInclude("#search-filters"),
								WithHXPushURL(),
								WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "text-sm", "space-x-2", "focus:text-accent", "focus:outline-hidden"),
							) {
								@tabler.Plus(i.Props{Class: "size-4"})
								Add Subscription
							}
						</div>
					}
				</el-menu>
			</el-dropdown>
		</div>
		// Watch for updates.
		<div id="update-notifications" sse-connect={ "/search/updates?" + request.Query() } sse-swap="message" class="toast toast-center z-50"></div>
		// Articles grid.
		<section class="mt-4">
			@Grid() {
				@SearchResults(articles, pagination)
			}
		</section>
	}
}

// SearchResults renders the list of articles as cards with an optional element to trigger pagination for loading more.
templ SearchResults(articles models.Articles, pagination models.Pagination) {
	for article := range slices.Values(articles) {
		<input type="hidden" name={ "metadata[" + article.GetSubscriptionID() + "]" } value={ article.GetID() }/>
		@ArticleCard(article)
	}
	if pagination != "" && len(articles) == 15 {
		@PaginationControl(ctx, "/search/paginate", "#search-filters,[name='csrf_token']", pagination)
	}
}

templ SearchFilters(attributes templ.Attributes) {
	{{ request := models.SearchRequestFromCtx(ctx) }}
	// Search form.
	<div id="search-filters" { attributes... }>
		<form
			id="search-results"
			hx-post="/search"
			hx-target={ ContentID.Target() }
			hx-push-url="true"
			hx-include="[name='csrf_token']"
			hx-vals="js:{timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}"
		>
			<div class="grid grid-cols-1 gap-x-6 gap-y-2 sm:gap-y-8 sm:grid-cols-6 md:col-span-2">
				// Full text search filter.
				<div class="col-span-full">
					<label for="text" class="block text-sm/6 font-medium">Includes the words</label>
					<div class="mt-2">
						<input
							id="search-text"
							type="text"
							name="text"
							if request.Text != "" {
								value={ request.Text }
							}
							placeholder="e.g. cat dog -mouse"
							class="input input-sm input-primary w-full bg-base-content/10"
							_="on change from #global-search set my value to #global-search.value"
						/>
					</div>
				</div>
				// Categories filter.
				<div class="sm:col-span-3">
					<label form="categories" class="block text-sm/6 font-medium">Categories</label>
					<div class="mt-2">
						<input
							id="search-categories"
							type="text"
							name="categories"
							if request.Categories != "" {
								value={ request.Categories }
							}
							class="input input-sm input-primary bg-base-content/10"
						/>
					</div>
				</div>
				// Authors filter.
				<div class="sm:col-span-3">
					<label for="authors" class="block text-sm/6 font-medium">Authors</label>
					<div class="mt-2">
						<input
							id="search-authors"
							type="text"
							name="authors"
							if request.Authors != "" {
								value={ request.Authors }
							}
							class="input input-sm input-primary bg-base-content/10"
						/>
					</div>
				</div>
				// Subscriptions filter.
				<div class="sm:col-span-full">
					<label class="block text-sm/6 font-medium">In subscriptions</label>
					<div class="mt-2">
						<label class="input input-sm input-primary bg-base-content/10 w-full">
							@tabler.Search(i.Props{Class: "size-5"})
							<input
								id="search-subscriptions-suggest"
								name="subscription-text"
								placeholder="Search subscriptions..."
								autocomplete="off"
								hx-post="/search/subscription/suggestions"
								hx-trigger="input changed delay:500ms,consume"
								hx-target="#search-subscriptions-options"
								hx-params="subscription-text,csrf_token"
								hx-include="[name='csrf_token']"
								hx-push-url="false"
							/>
						</label>
						<div
							class="flex flex-wrap items-center mx-auto gap-2 max-w-7xl px-4 py-3 sm:px-6 lg:px-8"
							id="search-subscriptions-options"
							hx-target="#search-subscriptions"
							hx-vals={ models.GenerateHXVals(map[string]any{"subscriptions-input-name": "subscriptions"}) }
							_="on htmx:afterRequest set #search-subscriptions-suggest.value to ''"
						></div>
						<div
							id="search-subscriptions"
							class="flex flex-wrap items-center mx-auto gap-2 max-w-7xl px-4 py-3 sm:px-6 lg:px-8"
						>
							for subscription := range slices.Values(models.SubscriptionsFromCtx(ctx)) {
								@AddSearchSubscriptionFilter(subscription.GetID(), subscription.GetTitle(), "subscriptions")
							}
						</div>
					</div>
				</div>
				// View filter.
				<div class="sm:col-span-2">
					<fieldset>
						<legend class="text-sm/6 font-medium">View</legend>
						<div>
							<div class="flex items-center gap-x-3">
								<input
									id="search-view-unread"
									type="radio"
									name="view"
									value="unread"
									if request.View == models.ViewUnread {
										checked
									}
									class="radio radio-sm radio-primary"
								/>
								<label for="view_unread" class="block text-sm/6 font-medium">Unread</label>
							</div>
							<div class="flex items-center gap-x-3">
								<input
									id="search-view-read"
									type="radio"
									name="view"
									value="read"
									if request.View == models.ViewRead {
										checked
									}
									class="radio radio-sm radio-primary"
								/>
								<label for="view_read" class="block text-sm/6 font-medium">Read</label>
							</div>
							<div class="flex items-center gap-x-3">
								<input
									id="search-view-all"
									type="radio"
									name="view"
									value="all"
									if request.View == models.ViewAll {
										checked
									}
									class="radio radio-sm radio-primary"
								/>
								<label for="view_all" class="block text-sm/6 font-medium">All</label>
							</div>
						</div>
					</fieldset>
				</div>
				// Date range filter.
				<div class="sm:col-span-2">
					<label for="published_within" class="block text-sm/6 font-medium">Published Within</label>
					<select id="search-published-within" name="published_within" class="select select-sm select-primary my-2 bg-base-content/10">
						<option
							value="last_hour"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLastHour {
								selected
							}
						>Last hour</option>
						<option
							value="last_half_day"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLast12hours {
								selected
							}
						>Last 12 hours</option>
						<option
							value="last_day"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLastDay {
								selected
							}
						>Last day</option>
						<option
							value="last_week"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLastWeek {
								selected
							}
						>Last week</option>
						<option
							value="last_month"
							if request.PublishedWithin == models.SearchRequestPublishedWithinLastMonth {
								selected
							}
						>Last month</option>
						<option
							value="all_time"
							if request.PublishedWithin == models.SearchRequestPublishedWithinAllTime || request.PublishedWithin == "" {
								selected
							}
						>All time</option>
					</select>
				</div>
				// Sort option.
				<div class="sm:col-span-2">
					<label for="sort" class="block text-sm/6 font-medium">Sort By</label>
					<select id="search-sort" name="sort" class="select select-sm select-primary my-2 bg-base-content/10">
						<option
							value={ string(models.SortMostRelevant) }
							if request.Sort == models.SortMostRelevant {
								selected
							}
						>
							Most Relevant
						</option>
						<option
							value={ string(models.SortNewestFirst) }
							if request.Sort == models.SortNewestFirst {
								selected
							}
						>Newest First</option>
						<option
							value={ string(models.SortOldestFirst) }
							if request.Sort == models.SortOldestFirst {
								selected
							}
						>Oldest First</option>
					</select>
				</div>
			</div>
			<div class="mt-6 flex items-center justify-end gap-x-6">
				<button
					type="button"
					class="btn btn-sm btn-seconday btn-soft hover:btn-error"
					command="close"
					commandfor="search-filters-dialog"
				>Cancel</button>
				<button
					type="submit"
					class="btn btn-sm btn-primary btn-soft"
					_="on click call #search-filters-dialog.close()"
				>Search</button>
			</div>
		</form>
		// Help dialog.
		<div class="absolute right-2 top-2">
			@HelpPopover("filter-operators-help", "bottom end") {
				<div tabindex="0" class="text-xs/tight sm:text-sm/tight rounded-box p-4 shadow-sm border border-base-content/15 bg-base-300 sm:max-w-2xl">
					<p>By default words are matched with OR (i.e., cats dogs will match cats OR dogs). The following operators can be used for more refined searches:</p>
					<ul class="gap-y-2">
						<li>+ signifies AND operation (i.e., food AND beverages)</li>
						<li>| signifies OR operation (i.e., food OR beverages)</li>
						<li>- negates a the word (i.e., NOT alcoholic)</li>
						<li>"" represents an exact phrase match (i.e., "rum-based drinks")</li>
						<li>* at the end of indicates a prefix match (i.e., match bird, birding and birds)</li>
					</ul>
				</div>
			}
		</div>
	</div>
}

templ SearchSubscriptionFilterSuggestions(subscriptions models.Subscriptions) {
	for subscription := range slices.Values(subscriptions) {
		@NewButton(
			WithHXMethod(http.MethodPost, "/search/subscription"),
			WithHXSwap("beforeend"),
			WithHXVals(map[string]any{"subscription_id": subscription.GetID(), "subscription_name": subscription.GetTitle()}),
			WithHXInclude("[name='csrf_token']"),
			WithHXParams("subscription_id,subscription_name,csrf_token,subscriptions-input-name"),
			WithoutHXPushURL(),
			WithClasses("btn-sm hover:btn-success"),
			WithCustomAttribute("_", "on htmx:afterRequest(successful) remove me"),
			// then set the previous #subscriptions-filter-select value to ''
		) {
			{ subscription.GetTitle() }
			@tabler.Plus(i.Props{Class: "size-5"})
		}
	}
}

templ AddSearchSubscriptionFilter(id, name, input string) {
	@NewButton(
		WithCustomAttribute("type", "button"),
		WithCustomAttribute("_", "on click remove me then halt"),
		WithClasses("btn-sm hover:btn-error"),
	) {
		<input type="hidden" name={ input } value={ id }/>
		{ name }
		@tabler.X(i.Props{Class: "size-5"})
	}
}

// SimilarArticles renders a page of articles that are the result of a search for similar articles to a given input set.
templ SimilarArticles(articles models.Articles) {
	@Main() {
		// Show results.
		@Grid() {
			for article := range slices.Values(articles) {
				@ArticleCard(article)
			}
		}
	}
}

// NoSearchResults renders an informational message for when no search results were returned.
templ NoSearchResults() {
	<div class="text-center">
		<h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance">Nothing found 😕</h1>
		<h2 class="mt-4 text-2xl font-semibold tracking-tight text-balance">Looks like there are no matches for that search.</h2>
		<div class="mt-10 flex items-center justify-center gap-x-6">
			@NewLink(
				WithCustomAttribute("role", "button"),
				WithCustomAttribute("href", "/home"),
				WithClasses("btn", "btn-primary", "btn-soft"),
			) {
				Go Back Home
			}
			@NewLink(
				WithCustomAttribute("role", "button"),
				WithCustomAttribute("href", "mailto:support@immanent.tech&subject=Foragd Issue"),
				WithClasses("btn", "btn-ghost"),
			) {
				Email Support <span aria-hidden="true">&rarr;</span>
			}
		</div>
	</div>
}
