// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"strings"
)

templ SettingsPage() {
	@Main() {
		<div
			class="tabs tabs-box"
			hx-trigger="load once"
			hx-get="/user/settings/display"
			hx-target="#current-settings"
		>
			<input
				type="radio"
				name="settings_tabs"
				class="tab"
				aria-label="Display"
				checked="checked"
				hx-get="/user/settings/display"
				hx-target="#current-settings"
			/>
			<input
				type="radio"
				name="settings_tabs"
				class="tab"
				aria-label="Account"
				hx-get="/user/settings/account"
				hx-target="#current-settings"
			/>
		</div>
		<section id="current-settings"></section>
	}
}

templ AccountSettings(user *models.User) {
	<div id="account-settings" class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
		<div>
			<h2 class="text-base/7 font-semibold">Import/Export</h2>
			<p class="mt-1 text-sm/6">Import or Export your subscriptions.</p>
		</div>
		<div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:place-items-center sm:grid-cols-6 md:col-span-2">
			<div class="sm:col-span-full">
				<button
					type="button"
					class="btn btn-primary"
					hx-get="/user/import"
					hx-target={ ContentID.Target() }
					hx-push-url="true"
				>Import</button>
				<button
					type="button"
					class="btn btn-primary"
					hx-get="/user/export"
					hx-target={ ContentID.Target() }
					hx-push-url="true"
				>Export</button>
			</div>
		</div>
		if !strings.HasPrefix(user.ExternalUserId,"auth0|") {
			<div class="col-span-full">
				<h2 class="text-base/7 font-semibold">Edit Account</h2>
				<p class="mt-1 text-sm/6">
					Your account is provided by an external service provider such as Google or Facebook, please log in to your account on the external service to make changes to your nickname, email, avatar or password.
				</p>
			</div>
		} else {
			// Account customisation.
			<div>
				<h2 class="text-base/7 font-semibold">Edit Account</h2>
				<p class="mt-1 text-sm/6">Use an email address that can receive messages.</p>
			</div>
			<form
				hx-post="/user/settings/account"
				hx-swap="none"
				hx-include="[name='csrf_token']"
				class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2"
			>
				<div class="sm:col-span-full">
					<label for="nickname" class="block text-sm/6 font-medium">Nickname</label>
					<div class="mt-2">
						<input id="nickname" type="text" class="input input-primary validator invalid:input-error bg-base-content/10" placeholder="Nickname" name="nickname" required value={ user.GetNickname() }/>
						<p class="validator-hint">Nickname is required</p>
					</div>
				</div>
				<div class="sm:col-span-full">
					<label for="nickname" class="block text-sm/6 font-medium">Email</label>
					<div class="mt-2">
						<input id="nickname" type="email" class="input input-primary invalid:input-error validator bg-base-content/10" placeholder="Email" name="email" required value={ user.GetEmail() }/>
						<p class="validator-hint">Must be a valid email address</p>
					</div>
				</div>
				<input type="hidden" name="avatar_url" value={ user.GetAvatar() }/>
				<div class="col-span-full place-self-end">
					<div id="processing" class="htmx-indicator">
						Processing...
						<span class="loading loading-spinner loading-md"></span>
					</div>
					<div class="mt-2 flex items-center justify-end gap-x-6">
						<button type="submit" class="btn btn-primary btn-soft">Save</button>
					</div>
				</div>
			</form>
			// Change password.
			<div>
				<h2 class="text-base/7 font-semibold">Change Password</h2>
				<p class="mt-1 text-sm/6">Update your password associated with your account.</p>
			</div>
			<form
				hx-post="/user/settings/password"
				hx-swap="none"
				hx-include="[name='csrf_token']"
				class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2"
				_="on htmx:afterOnLoad wait 10ms then call document.getElementById('delete-account').show()"
			>
				<div class="sm:col-span-full">
					<label for="new-password" class="block text-sm/6 font-medium">New Password</label>
					<div class="mt-2">
						<input id="nickname" type="password" class="input input-primary w-full bg-base-content/10" name="new_password" required/>
					</div>
				</div>
				<div class="sm:col-span-full">
					<label for="nickname" class="block text-sm/6 font-medium">Confirm New Password</label>
					<div class="mt-2">
						<input id="nickname" type="password" class="input input-primary w-full bg-base-content/10" name="confirm_new_password" required/>
					</div>
				</div>
				<div class="col-span-full place-self-end">
					<div id="processing" class="htmx-indicator">
						Processing...
						<span class="loading loading-spinner loading-md"></span>
					</div>
					<div class="mt-2 flex items-center justify-end gap-x-6">
						<button type="submit" class="btn btn-primary btn-soft">Change Password</button>
					</div>
				</div>
			</form>
		}
		// Delete account.
		<div>
			<h2 class="text-base/7 font-semibold">Delete Account</h2>
			<p class="mt-1 text-sm/6">
				No longer want to use our service? You can delete your account here. This action is not reversible. All
				information related to this account will be deleted permanently and you will be redirected back to the
				landing page.
			</p>
		</div>
		<div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:place-items-center sm:grid-cols-6 md:col-span-2">
			<div class="sm:col-span-full">
				<form
					hx-get="/user/delete"
					hx-target={ ModalContainerID.Target() }
					class="flex items-start md:col-span-2"
					_="on htmx:afterOnLoad wait 10ms then call document.getElementById('delete-account').show()"
				>
					<button type="submit" class="btn btn-error">
						Yes, delete my account
					</button>
				</form>
			</div>
		</div>
	</div>
}

templ DisplaySettings(user *models.User) {
	<div id="tab-app-settings" class="flex flex-col mt-2 gap-y-4">
		<form hx-post="/user/settings" hx-include="[name='csrf_token']" hx-swap="none">
			<fieldset class="fieldset">
				<legend class="fieldset-legend text-base/7">Settings</legend>
				<div class="sm:grid sm:grid-cols-3 sm:items-start gap-x-4 sm:py-6">
					<div class="flex items-center col-span-full space-x-2">
						<label class="block text-sm/6 font-medium">
							<input
								type="checkbox"
								if user.GetSettings().ShowUnreadCounts {
									checked="checked"
								}
								name="show_unread_counts"
								class="toggle toggle-sm toggle-primary"
							/>
							Show unread counts on subscriptions.
						</label>
						@HelpPopover("show-full-article-help", "top end") {
							<div tabindex="0" class="card-body card-sm">
								<div tabindex="0" class="card-body">
									<p>Toggles whether to show unread counts on subscriptions.</p>
								</div>
							</div>
						}
					</div>
					<div class="mt-6 flex items-center justify-end gap-x-6 col-span-full">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</fieldset>
		</form>
		<fieldset class="fieldset">
			<legend class="fieldset-legend text-base/7">Theme</legend>
			<p class="text-sm/6">Choose a theme from the selection below. It will be applied instantly.</p>
			<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 pb-16 sm:px-6 md:grid-cols-3 lg:px-8">
				{{ currentTheme := user.GetSettings().Theme }}
				@themePreview("light", currentTheme)
				@themePreview("dark", currentTheme)
				@themePreview("forest", currentTheme)
				@themePreview("garden", currentTheme)
				@themePreview("synthwave", currentTheme)
				@themePreview("lofi", currentTheme)
				@themePreview("black", currentTheme)
				@themePreview("dracula", currentTheme)
				@themePreview("business", currentTheme)
				@themePreview("night", currentTheme)
				@themePreview("dim", currentTheme)
				@themePreview("nord", currentTheme)
			</div>
		</fieldset>
	</div>
}

templ themePreview(theme string, currentTheme string) {
	<div
		class="border-base-content/20 hover:border-base-content/40 overflow-hidden rounded-lg border outline-2 outline-offset-2 outline-transparent"
		data-act-class="outline-base-content!"
		data-set-theme={ theme }
		_="on click set #page-theme.value to @data-set-theme"
		hx-trigger="click"
		hx-put={ "/user/settings/theme/" + theme }
		hx-include="[name='csrf_token']"
		hx-swap="outerHTML"
		hx-target="#tab-app-settings"
		id={ "theme-preview-" + theme }
	>
		<div class="bg-base-100 text-base-content w-full cursor-pointer font-sans" data-theme={ theme }>
			<div class="grid grid-cols-5 grid-rows-3">
				<div class="bg-base-200 col-start-1 row-span-2 row-start-1"></div>
				<div class="bg-base-300 col-start-1 row-start-3"></div>
				<div class="bg-base-100 col-span-4 col-start-2 row-span-3 row-start-1 flex flex-col gap-1 p-2">
					<div class="font-bold capitalize">
						if currentTheme == theme {
							{ theme } (current)
						} else {
							{ theme }
						}
					</div>
					<div class="flex flex-wrap gap-1">
						<div class="bg-primary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-primary-content text-sm font-bold">A</div>
						</div>
						<div class="bg-secondary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-secondary-content text-sm font-bold">A</div>
						</div>
						<div class="bg-accent flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-accent-content text-sm font-bold">A</div>
						</div>
						<div class="bg-neutral flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-neutral-content text-sm font-bold">A</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
