// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/dimmerz92/go-icons/tabler-filled"
	"github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/providers/paddle"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"github.com/veqryn/slog-context"
	"log/slog"
	"slices"
	"strings"
)

templ UserSettings() {
	@LayoutInternal(&InternalLayoutProps{User: models.UserFromCtx(ctx)}) {
		@templ.Fragment(ContentFragment) {
			@container(element.WithClasses("pt-4")) {
				<script type="module">
  const tabGroup = document.getElementById('settings-tabs');

  // Map hash → tab index
  const tabMap = {
    '#display': 0,
    '#account': 1,
	'#subscriptions': 2,
  };

  function activateTabFromHash() {
    const index = tabMap[window.location.hash];
    if (index !== undefined) {
      tabGroup.setActiveTab(index);
    }
  }

  // Activate on initial load
  activateTabFromHash();

  // Also handle back/forward navigation
  window.addEventListener('hashchange', activateTabFromHash);
</script>
				<el-tab-group
					id="settings-tabs"
					data-script="
					init
                       	set hash to window.location.hash.replace('#', '')
						if hash is empty
							set window.location.hash to '#display'
						end
					"
				>
					// Show a page header.
					@pageHeading() {
						@pageTitle("Settings")
						@pageActions() {
							<el-tab-list class="mt-4 flex gap-x-2 md:mt-0 md:ml-4">
								<button
									id="settings-display-button"
									type="button"
									class="btn"
									onclick="location.hash = '#display'"
								>Display</button>
								<button
									id="settings-account-button"
									type="button"
									class="btn"
									onclick="location.hash = '#account'"
								>Account</button>
								<button
									id="settings-subscriptions-button"
									type="button"
									class="btn"
									onclick="location.hash = '#subscriptions'"
								>Subscriptions</button>
							</el-tab-list>
						}
					}
					<el-tab-panels class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
						<div
							id="display"
							hx-get="/user/settings/display"
							hx-trigger="load, settings-display-revealed"
							data-script="on load
                           	set hash to window.location.hash.replace('#', '')
                            if hash is 'display'
                              add .btn-primary to #settings-display-button
                        	else
                              remove .btn-primary from #settings-display-button
                            end
                           end
                           on hashchange from window
                            set hash to window.location.hash.replace('#', '')
                            if hash is 'display'
                              add .btn-primary to #settings-display-button
                              else
                                remove .btn-primary from #settings-display-button
                              end
                            end
						   on mutation of @hidden
       					     if not @hidden and my innerHTML is ''
         					   htmx.trigger(me, 'settings-display-revealed')
       						 end
						   end
						"
							class="content-auto"
						></div>
						<div
							id="account"
							hx-get="/user/settings/account"
							hx-trigger="settings-account-revealed"
							data-script="on load
                                set hash to window.location.hash.replace('#', '')
                                if hash is 'account'
                                  add .btn-primary to #settings-account-button
            					  if my innerHTML is '' then htmx.trigger(me, 'settings-account-revealed') end
                                else
                                  remove .btn-primary from #settings-account-button
                                end
                               end
                               on hashchange from window
                                set hash to window.location.hash.replace('#', '')
                                if hash is 'account'
                                  add .btn-primary to #settings-account-button
                                else
                                  remove .btn-primary from #settings-account-button
                                end
                               end
  						   on mutation of @hidden
       					     if not @hidden and my innerHTML is ''
         					   htmx.trigger(me, 'settings-account-revealed')
       						 end
						   end
                             "
							class="content-auto"
						></div>
						<div
							id="subscriptions"
							hx-get="/user/settings/subscriptions"
							hx-trigger="settings-subscriptions-revealed"
							data-script="on load
                                set hash to window.location.hash.replace('#', '')
                                if hash is 'subscriptions'
                                  add .btn-primary to #settings-subscriptions-button
            					  if my innerHTML is '' then htmx.trigger(me, 'settings-subscriptions-revealed') end
                                else
                                  remove .btn-primary from #settings-subscriptions-button
                                end
                               end
                               on hashchange from window
                                set hash to window.location.hash.replace('#', '')
                                if hash is 'subscriptions'
                                  add .btn-primary to #settings-subscriptions-button
                                else
                                  remove .btn-primary from #settings-subscriptions-button
                                end
                               end
  						   on mutation of @hidden
       					     if not @hidden and my innerHTML is ''
         					   htmx.trigger(me, 'settings-subscriptions-revealed')
       						 end
						   end
                             "
							class="content-auto"
						></div>
					</el-tab-panels>
				</el-tab-group>
			}
		}
	}
}

templ AccountSettings(user *models.User) {
	<div id="account-settings" class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
		// Subscription management.
		<div>
			<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
				Subscription Plan
			</h3>
			switch  {
				case user.InTrial():
					<p>
						Trial, ending:
						<relative-time
							datetime={ user.CreatedAt.Add(models.DefaultTrialPeriod) }
							format="relative"
							class="tabular-nums"
						>
							{ user.CreatedAt.Add(models.DefaultTrialPeriod).Format("Jan _2, 2006") }
						</relative-time>
						({ user.CreatedAt.Add(models.DefaultTrialPeriod).Format("Jan _2, 2006") })
					</p>
				case user.InTrialGracePeriod():
					<span class="badge badge-warning">Trial Expired</span>
					<p>Please purchase a subscription to maintain access to your account.</p>
				default:
					switch *user.UserSubscriptionType {
						case models.UserSubscriptionTypePaddle:
							@showPaddleSubscriptionDetails(user)
					}
			}
		</div>
		<div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
			switch  {
				case user.InTrial(),user.InTrialGracePeriod():
					<div class="col-span-full mt-8 place-self-end">
						<div class="mt-2 sm:mt-0 flex items-center justify-end gap-x-6">
							<button
								role="button"
								class="btn btn-primary"
								hx-get="/checkout"
								hx-vals='js:{"has_dgs": ("getDigitalGoodsService" in window)}'
								hx-target={ ContentID.Target() }
							>
								Purchase a subscription
							</button>
							@androidRestorePurchaseScript()
							<div class="hidden" _="init if window.getDigitalGoodsService remove .hidden from me end">
								<button
									role="button"
									class="btn btn-secondary"
									onclick={ templ.JSFuncCall("restoreAndroidPurchases") }
								>Restore purchases</button>
							</div>
						</div>
					</div>
				default:
					<div class="col-span-full mt-8 place-self-end">
						<div class="mt-2 flex items-center justify-end gap-x-6">
							if mgmtLink, err := paddle.GetCustomerPortalURL(); err != nil {
								{{ slogctx.FromCtx(ctx).Warn("Unable to load customer portal URL.", slog.Any("error", err)) }}
								<a
									role="button"
									class="btn btn-primary"
									href="/contact"
								>Contact Us</a>
							} else {
								<a
									role="button"
									class="btn btn-primary"
									target="_blank"
									rel="noopener"
									href={ mgmtLink }
								>Manage Subscription Plan</a>
							}
						</div>
					</div>
			}
		</div>
		<div id="restore-status" class="col-span-full sm:col-start-1 sm:col-span-2 text-muted sm:text-end" aria-live="polite"></div>
		// Account customisation.
		if !strings.HasPrefix(user.GetExternalID(),"auth0|") {
			<div class="col-span-full">
				<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
					Edit Account
				</h3>
				<p>
					Your account is provided by an external service provider such as Google or Facebook, please log in
					to your account on the external service to make changes to your nickname, email, avatar or password.
				</p>
			</div>
		} else {
			<div>
				<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
					Edit Account
				</h3>
				<p>
					Use an email address that can receive messages.
				</p>
			</div>
			<form
				class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2"
				hx-encoding="multipart/form-data"
			>
				// Edit nickname.
				<div class="sm:col-span-full">
					<label for="nickname" class="block text-sm/6 font-medium">Nickname</label>
					<div class="mt-2">
						<input
							id="nickname"
							type="text"
							class="validator input bg-base-content/10 input-primary invalid:input-error"
							placeholder="Nickname"
							name="nickname"
							autocomplete="name"
							required
							value={ user.GetNickname() }
						/>
						<p class="validator-hint">Nickname is required</p>
					</div>
				</div>
				// Edit email.
				<div class="sm:col-span-full">
					<label for="email" class="block text-sm/6 font-medium">Email</label>
					<div class="mt-2">
						<input
							id="email"
							type="email"
							class="validator input bg-base-content/10 input-primary invalid:input-error"
							placeholder="Email"
							name="email"
							required
							autocomplete="email"
							value={ user.GetEmail() }
						/>
						<p class="validator-hint">Must be a valid email address</p>
					</div>
				</div>
				// Edit avatar.
				<div class="sm:col-span-full">
					<span class="block text-sm/6 font-medium">Avatar</span>
					<div
						id="drop-zone"
						class="group mt-2 flex justify-center rounded-lg border border-dashed border-neutral/20 px-6 py-10 sm:max-w-lg"
						_="
                                        on dragover
                                          halt the event
                                          add .bg-base-300 .border-accent to me
                                        end

                                        on dragleave
                                          remove .bg-base-300 .border-accent from me
                                        end

                                        on drop
                                          halt the event
                                          remove .bg-base-300 .border-accent from me
                                          set files to event.dataTransfer.files
                                          set #avatar-upload's files to files
                                          set #file-name's textContent to files[0].name
										  set f to event.dataTransfer.files[0]
									      js(f)
      										return new Promise(resolve => {
      										  if (!f.type.startsWith('image/')) { resolve(null); return; }
      										  const r = new FileReader();
      										  r.onload = e => resolve(e.target.result);
      										  r.readAsDataURL(f);
      										});
    									  end
    									  if it
    									    set #preview-img's src to it
    									  end
                                        end
                                    "
					>
						<div class="text-center">
							<div id="preview-area">
								@partials.NewProxiedImage(models.NewRemoteImage(user.GetAvatar(), "Avatar for user "+user.GetNickname()),
									"rs:auto:48:48/sh:0.5/ext:webp",
									element.WithClasses("mask mask-squircle"),
									element.WithAttribute("width", "48"),
									element.WithAttribute("height", "48"),
									element.WithAttribute("id", "preview-img"),
								)
								<p id="preview-meta" style="font-size:0.85rem; color:#666;"></p>
							</div>
							<span id="file-name"></span>
							<div class="mt-4 flex items-center justify-center text-sm/6">
								<label for="avatar-upload" class="relative cursor-pointer rounded-md bg-transparent font-semibold focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-primary hover:text-primary">
									<span class="btn btn-dash btn-neutral">Upload a file</span>
									<input
										id="avatar-upload"
										type="file"
										name="source"
										class="sr-only"
										_="on change set #file-name's textContent to my files[0].name"
									/>
								</label>
								<p class="pl-1">or drag and drop</p>
							</div>
							<p class="text-xs/5">JPG, PNG or WEBP up to 10MB</p>
						</div>
					</div>
				</div>
				// Edit promotional email.
				<div class="sm:col-span-full">
					<label for="settings-account-promotional-emails" class="block text-sm/6 font-medium">Promotional Emails</label>
					<p
						class="text-sm/6 text-base-content/80"
					>
						Allow promotional emails. Even if this setting is off, you
						will still receive important administrative and account emails.
					</p>
					<div
						class="mt-2 flex items-center space-x-2"
					>
						<input
							id="settings-account-promotional-emails"
							type="checkbox"
							name="promotional_email"
							if user.Metadata.PromotionalEmail {
								checked
							}
							class="toggle col-start-1 row-start-1 toggle-primary toggle-sm"
						/>
					</div>
				</div>
				// Buttons.
				<div class="col-span-full inline-grid grid-flow-col items-center gap-x-2 place-self-end">
					<button
						hx-post="/user/settings/account"
						hx-swap="none"
						type="submit"
						class="btn btn-primary"
					>
						<span class="show-loading items-center">
							<span class="loading mr-3 loading-spinner"></span>
							<span class="text-sm/6">Processing</span>
						</span>
						<span class="hide-loading items-center">
							<span class="text-sm/6">Save</span>
						</span>
					</button>
				</div>
			</form>
			// Change password.
			<div>
				<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
					Change Password
				</h3>
				<p>Update your password associated with your account.</p>
			</div>
			<form
				class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2"
			>
				<div class="sm:col-span-full">
					<label for="new-password" class="block text-sm/6 font-medium">New Password</label>
					<div class="mt-2">
						<input id="new-password" type="password" class="input bg-base-content/10 input-primary" name="new_password" required/>
					</div>
				</div>
				<div class="sm:col-span-full">
					<label for="confirm-new-password" class="block text-sm/6 font-medium">Confirm New Password</label>
					<div class="mt-2">
						<input id="confirm-new-password" type="password" class="input bg-base-content/10 input-primary" name="confirm_new_password" required/>
					</div>
				</div>
				<div class="col-span-full place-self-end">
					<button
						type="submit"
						class="btn btn-primary"
						hx-post="/user/settings/password"
						hx-swap="none"
					>
						<span class="show-loading items-center">
							<span class="loading mr-3 loading-spinner"></span>
							<span class="text-sm/6">Processing</span>
						</span>
						<span class="hide-loading items-center">
							<span class="text-sm/6">Change password</span>
						</span>
					</button>
				</div>
			</form>
		}
		// Subscription Email
		<div>
			<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
				Subscribe to Email Newsletters
			</h3>
			<p>Use or generate an email for subscribing to email newsletters.</p>
		</div>
		<div id="subscription-email" class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
			<div class="col-span-full mt-8 place-self-end">
				<div class="mt-2 sm:mt-0 flex flex-col items-start gap-y-3">
					if user.Settings.SubscriptionEmail == nil {
						<button
							hx-post="/user/settings/subscriptionemail"
							hx-target="#subscription-email"
							hx-swap="innerHTML transition:true"
							class="btn btn-primary"
						>
							<span class="show-loading items-center">
								<span class="loading mr-3 loading-spinner"></span>
								<span class="text-sm/6">Processing</span>
							</span>
							<span class="hide-loading items-center">
								<span class="text-sm/6">Generate email address</span>
							</span>
						</button>
					} else {
						@ShowSubscriptionEmail(*user.Settings.SubscriptionEmail)
					}
				</div>
			</div>
		</div>
		// Show action to deactivate account.
		<div>
			<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
				Deactivate Account
			</h3>
			<p>No longer want to use our service? You can deactivate your account here.</p>
		</div>
		<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
			<div class="col-span-full prose">
				switch  {
					case user.InTrial():
						<p class="text-sm/6">
							On completion, your account (including all subscriptions, favorites and settings) will
							be permanently deleted.
						</p>
						<p class="text-sm/6">
							You will be automatically logged out. You will no longer be able to log in.
						</p>
					default:
						<p class="text-sm/6">
							Any active subscription will be cancelled and stop at your next billing period.
						</p>
						<p class="text-sm/6">
							Until then, you can continue to use your account.
						</p>
						<p class="text-sm/6">
							After the cancellation date, your account (including all subscriptions, favorites and settings) will
							be permanently deleted. You will no longer be able to log in.
						</p>
				}
			</div>
			<div class="col-span-full mt-8 place-self-end">
				<div class="mt-2 flex items-center justify-end gap-x-6">
					<button
						hx-get={ models.RouteUserDeactivateAccount }
						hx-target={ partials.ModalContainerID.Target() }
						hx-vals={ templ.JSONString(map[string]string{"confirmed": "no"}) }
						type="submit"
						class="btn btn-error"
					>
						<span class="text-sm/6">Yes, deactivate my account</span>
					</button>
				</div>
			</div>
		</div>
	</div>
}

templ showPaddleSubscriptionDetails(user *models.User) {
	{{ subscription, err := user.Subscription.AsPaddleSubscription() }}
	if err != nil {
		<p class="mt-1 text-sm/6">
			Unable to show subscription details! Please contact support.
		</p>
	} else {
		<p class="mt-1 text-sm/6">
			{ subscription.SubscriptionName } ({ subscription.PriceName })
		</p>
		<p class="mt-1 text-sm/6">
			Next billing date:
			<relative-time
				datetime={ subscription.CurrentPeriodEnd }
				format="relative"
				class="tabular-nums"
			>
				{ subscription.CurrentPeriodEnd.Format("Jan _2, 2006") }
			</relative-time>
		</p>
	}
}

templ DisplaySettings(user *models.User) {
	<div id="display-settings">
		// Display settings.
		<div id="behaviour-settings" class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
			<div>
				<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
					Behaviour
				</h3>
				<p>Settings that control the display behaviour in the app.</p>
			</div>
			<form
				hx-post="/user/settings/display"
				hx-swap="none"
				hx-include="#theme-settings"
				class="col-span-full space-y-10 md:col-span-2"
			>
				<div class="flex items-center gap-x-4">
					<input
						id="setting-show-subscription-stats"
						type="checkbox"
						name="show_subscription_stats"
						if user.GetSettings().ShowSubscriptionStats {
							checked
						}
						aria-describedby="setting-show-subscription-stats-description"
						class="toggle col-start-1 row-start-1 toggle-primary toggle-sm"
					/>
					<div class="flex-1 text-sm/6">
						<label for="setting-show-subscription-stats" class="font-medium">Show Subscription Stats</label>
						<p id="setting-show-subscription-stats-description" class="text-base-content/80">
							Controls whether to show various stats (e.g., unread counts, articles per day) on subscriptions.
						</p>
					</div>
				</div>
				<div class="flex items-center gap-x-4">
					<input
						id="setting-mark-article-read-on-view"
						type="checkbox"
						name="mark_article_read_on_view"
						if user.GetSettings().MarkArticleReadOnView {
							checked
						}
						aria-describedby="setting-mark-article-read-on-view-description"
						class="toggle col-start-1 row-start-1 toggle-primary toggle-sm"
					/>
					<div class="flex-1 text-sm/6">
						<label for="setting-mark-article-read-on-view" class="font-medium">Mark Article Read on View</label>
						<p id="setting-mark-article-read-on-view-description" class="text-base-content/80">
							When viewing an article, mark it as read automatically when viewed.
						</p>
					</div>
				</div>
				<div class="flex flex-col items-center space-y-4 space-x-4 sm:flex-row">
					<div class="flex-1 text-sm/6">
						<label for="setting-max-view-history" class="font-medium">Max View History</label>
						<p id="setting-mark-article-read-on-view-description" class="text-base-content/80">
							Controls the max age of articles to show (read or unread). It does not affect searches.
						</p>
					</div>
					<select class="select" name="max_view_history">
						// NOTE: these are in hours for readability, need to be multiplied to nanoseconds before storing.
						<option
							value="168"
							if user.GetSettings().MaxViewHistory.Hours() == 168 {
								selected
							}
						>Last week</option>
						<option
							value="730"
							if user.GetSettings().MaxViewHistory.Hours() == 730 {
								selected
							}
						>Last month</option>
						<option
							value="4383"
							if user.GetSettings().MaxViewHistory.Hours() == 4383 {
								selected
							}
						>Last six months</option>
					</select>
				</div>
				<div class="col-span-full place-self-end">
					<div id="processing" class="htmx-indicator">
						Processing...
						<span class="loading loading-md loading-spinner"></span>
					</div>
					<div class="mt-2 flex items-center justify-end gap-x-6">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</form>
		</div>
		// Theme settings.
		<div id="theme-settings" class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
			<div class="md:col-span-full">
				<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
					Theme
				</h3>
				<p>Choose a theme from the selection below. It will be applied instantly.</p>
			</div>
			// * Changing themes here also requires updating the list in styles.css.
			<div class="col-span-full grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 pb-16 sm:px-6 md:grid-cols-3 lg:px-8">
				@themePreview("greenhouse")
				@themePreview("light")
				@themePreview("dark")
				@themePreview("grove")
				@themePreview("forest")
				@themePreview("catppuccin-mocha")
				@themePreview("catppuccin-latte")
				@themePreview("dracula")
				@themePreview("solarized-dark")
			</div>
		</div>
	</div>
}

type SubscriptionSettingsData struct {
	User          *models.User
	Subscriptions models.Subscriptions
}

const SubscriptionsTable templFragmentKey = "subscriptionsTable"

templ SubscriptionSettings(data *SubscriptionSettingsData) {
	<div class="px-2">
		<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
			Subscription Management
		</h3>
		<div class="w-full text-center sm:text-left">
			<div class="stats mx-auto stats-vertical shadow lg:stats-horizontal">
				<div class="stat">
					<div class="stat-title">Subscriptions</div>
					<div class={ "stat-value",templ.KV("text-warning",data.User.Metadata.SubscriptionLimit != nil && data.User.Metadata.SubscriptionLimit.Exceeded) }>{ len(data.Subscriptions) }</div>
					<div class="stat-desc">Limit: { models.MaxSubscriptions }</div>
				</div>
				<div class="stat">
					<div class="stat-title">Email Newsletters</div>
					<div class={ "stat-value",templ.KV("text-warning",data.User.Metadata.NewsletterLimit != nil && data.User.Metadata.NewsletterLimit.Exceeded) }>{ len(data.Subscriptions.FilterByType(models.SubscriptionTypeEmail)) }</div>
					<div class="stat-desc">Limit { models.MaxEmailNewsletters }</div>
				</div>
				<div class="stat">
					<div class="stat-title">Group Subscriptions</div>
					<div class="stat-value">{ len(data.Subscriptions.FilterByType(models.SubscriptionTypeGroup)) }</div>
				</div>
				<div class="stat">
					<div class="stat-title">Search Subscriptions</div>
					<div class="stat-value">{ len(data.Subscriptions.FilterByType(models.SubscriptionTypeSearch)) }</div>
				</div>
			</div>
		</div>
		<div class="py-4">
			<input
				type="text"
				class="subscription-search input"
				placeholder="Search subscriptions..."
				_="on input
            		add @hidden to <tr.subscription-row/>
              		when its textContent does not contain my value ignoring case"
			/>
		</div>
		<div class="overflow-x-auto">
			@templ.Fragment(SubscriptionsTable) {
				<table class="table">
					<thead>
						<tr>
							<th>
								<label>
									<input
										type="checkbox"
										class="checkbox"
										_="set :checkboxes to .select-subscription in the next <tbody/>
           								on change
           								  set checked of the :checkboxes to my checked
										  if my checked then
										  	remove @hidden from #selected-top
										  else
										  	add @hidden to #selected-top
										  end
           								on change from the next <tbody/>
           								  if no :checkboxes where it is checked
           								    set my indeterminate to false
           								    set my checked to false
											add @hidden to #selected-top
           								  else if no :checkboxes where it is not checked
           								    set my indeterminate to false
           								    set my checked to true
											remove @hidden from #selected-top
           								  else
           								    set my indeterminate to true
											remove @hidden from #selected-top
           								  end"
									/>
								</label>
							</th>
							// _="
							// on click
							// 	set tbody to #all-subscriptions
							// 	set rows to the <tr/> in tbody
							// 	if my @data-dir is 'asc'
							// 	  set my @data-dir to 'desc'
							// 	else
							// 	  set my @data-dir to 'asc'
							// 	end
							// 	set sortedRows to rows sorted by its @data-sort-name
							// 	if my @data-dir is 'desc'
							// 		set sortedRows to rows sorted by its @data-sort-name descending
							// 	end
							// 	put sortedRows into #all-subscriptions
							// 	if my @data-dir is 'asc'
							// 	  set #name-sort-order.checked to true
							// 	else
							// 	  set #name-sort-order.checked to false
							// 	end
							// end
							// "
							<th
								id="col-name"
								data-dir="desc"
							>
								Subscription
								// <div class="swap">
								// 	<input
								// 		id="name-sort-order"
								// 		type="checkbox"
								// 	/>
								// 	<span class="swap-off">↓</span>
								// 	<span class="swap-on">↑</span>
								// </div>
							</th>
							<th
								id="col-updated"
								_="
							on click
      							set tbody to #all-subscriptions
      							set rows to the <tr/> in tbody
      							if my @data-dir is 'asc'
      							  set my @data-dir to 'desc'
      							else
      							  set my @data-dir to 'asc'
      							end
      							set sortedRows to rows sorted by its @data-sort-updated
      							if my @data-dir is 'desc'
									set sortedRows to rows sorted by its @data-sort-updated descending
								end
								put sortedRows into #all-subscriptions
      							if my @data-dir is 'asc'
      							  set #updated-sort-order.checked to true
      							else
      							  set #updated-sort-order.checked to false
      							end
  							end
  							"
								data-dir="desc"
							>
								Last Updated
								<div class="swap space-x-2">
									<input
										id="updated-sort-order"
										type="checkbox"
										_="
									on load
										set sortOrder to #col-updated>@data-dir
										if sortOrder is 'asc'
											set my checked to true
										else
											set my checked to false
										end
									"
									/>
									<span class="swap-off">↓</span>
									<span class="swap-on">↑</span>
								</div>
							</th>
							<th>
								Actions
							</th>
						</tr>
						<tr id="selected-top" hidden>
							<td>
								<div class="flex shrink-0 items-center gap-1">
									// Mark all read action.
									<div class="tooltip" data-tip="Mark selected read">
										<button
											class="btn btn-square btn-ghost btn-md"
											hx-post={ "/list/subscriptions/mark/" + string(models.MarkRead) }
											hx-target={ ContentID.Target() }
											hx-include="[name='selected_subscriptions']"
											hx-vals={ templ.JSONString(map[string]string{
										"mark": string(models.MarkRead),
										"view": string(models.ViewAll),
									}) }
										>
											@tablerfilled.MailOpened(templ.Attributes{"class": "size-5 text-primary", "aria-hidden": "true"})
										</button>
									</div>
									// Mark all unread action.
									<div class="tooltip" data-tip="Mark selected unread">
										<button
											class="btn btn-square btn-ghost btn-md"
											hx-post={ "/list/subscriptions/mark/" + string(models.MarkUnread) }
											hx-target={ ContentID.Target() }
											hx-include="[name='selected_subscriptions']"
											hx-vals={ templ.JSONString(map[string]string{
										"mark": string(models.MarkUnread),
										"view": string(models.ViewAll),
									}) }
										>
											@tablerfilled.Mail(templ.Attributes{"class": "size-5 text-primary", "aria-hidden": "true"})
										</button>
									</div>
								</div>
							</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody id="all-subscriptions">
						for subscription := range slices.Values(data.Subscriptions) {
							{{ s := &Subscription{Subscription: subscription} }}
							<tr
								class="subscription-row"
								id={ subscription.GetID() }
								data-sort-updated={ subscription.GetUpdatedDate().UnixNano() }
								data-sort-name={ subscription.GetTitle() }
							>
								<th>
									// Subscription selection checkbox.
									<label>
										<input type="checkbox" class="select-subscription checkbox" name="selected_subscriptions" value={ subscription.GetID() }/>
									</label>
								</th>
								<td>
									// Subscription thumbnail and title.
									<div class="flex items-center gap-3">
										<div>
											if subscription.GetImage() == "" {
												@subscriptionThumbnail(nil, subscription.GetTitle())
											} else {
												@subscriptionThumbnail(models.NewRemoteImage(subscription.GetImage(), subscription.GetTitle()), subscription.GetTitle())
											}
										</div>
										<a class="link link-hover" { s.viewAttributes()... }>
											<div class="font-semibold text-pretty">{ subscription.GetTitle() }</div>
										</a>
									</div>
								</td>
								<td>
									// Subscription last updated timestamp.
									<span class="col-span-full justify-start text-xs/4 text-wrap text-neutral capitalize">
										<relative-time
											datetime={ subscription.GetUpdatedDate().Format("2006-01-02T15:04:05-0700") }
											format="relative"
											class="tabular-nums"
										>
											{ subscription.GetUpdatedDate().Format("Jan _2, 2006") }
										</relative-time>
									</span>
								</td>
								<td>
									// Subscription actions buttons.
									<div class="flex shrink-0 items-center gap-1">
										// Favorite action.
										@s.subscriptionFavoriteToggle()
										// Mark action.
										@s.subscriptionMarkToggle()
										// Edit action.
										<div class="tooltip" data-tip="Edit subscription">
											<button
												class="btn btn-square btn-ghost btn-md"
												{ s.editAttributes("/user/settings#subscriptions")... }
											>
												<span class="sr-only">{ "Edit "+s.GetTitle() }</span>
												@tableroutline.Edit(templ.Attributes{"class": "size-5 text-primary", "aria-hidden": "true"})
											</button>
										</div>
										// Unsubscribe action.
										<div class="tooltip" data-tip="Unsubscribe">
											<button
												class="btn btn-square btn-ghost btn-md"
												{ s.unsubscribeAttributes()... }
											>
												<span class="sr-only">{ "Unsubscribe from "+s.GetTitle() }</span>
												@tableroutline.Trash(templ.Attributes{"class": "size-5 text-primary", "aria-hidden": "true"})
											</button>
										</div>
									</div>
								</td>
							</tr>
						}
					</tbody>
					// <!-- foot -->
					// <tfoot>
					// 	<tr>
					// 		<th></th>
					// 		<th>Name</th>
					// 		<th>Job</th>
					// 		<th>Favorite Color</th>
					// 		<th></th>
					// 	</tr>
					// </tfoot>
				</table>
			}
		</div>
		// Import and Export.
		<h3 class="mt-4 mb-2 scroll-mt-1.5 text-lg font-medium sm:mt-8 sm:mb-4">
			Import/Export
		</h3>
		<div class="w-full text-center sm:text-left">
			<button
				type="button"
				class="btn btn-primary"
				hx-push-url="true"
				hx-get="/user/import"
				hx-target={ ContentID.Target() }
			>Import</button>
			<button
				type="button"
				class="btn btn-primary"
				hx-push-url="true"
				hx-get="/user/export"
				hx-target={ ContentID.Target() }
			>Export</button>
		</div>
	</div>
}

templ ShowSubscriptionEmail(email string) {
	<div>
		<label for="newsletter-email" class="text-sm/6">This is your unique subscription email. Use it in place of your own email to subscribe to email newsletters.</label>
	</div>
	<div class="join join-vertical sm:join-horizontal w-full">
		<input id="newsletter-email" type="text" class="input join-item w-full input-primary" value={ email } readonly/>
		<button
			class="btn join-item btn-outline btn-primary"
			_={ "on click set currentValue to (my innerHTML) then writeText('" + email + "') on navigator.clipboard put 'Copied!' into me wait 1s put currentValue into me" }
		>
			@tableroutline.Copy(templ.Attributes{"aria-hidden": "true"})
			<span class="sr-only">Copy</span>
		</button>
	</div>
}

templ themePreview(theme string) {
	@partials.Card(
		element.WithAttribute("data-theme", theme),
		element.WithAttribute("_", "on click set @data-theme of <html/> to '"+theme+"' then localStorage.setItem('theme','"+theme+"') then send themeChanged end"),
		element.WithClasses("group", "max-w-prose", "cursor-pointer", "touch-manipulation", "animate-fadeinup"),
	) {
		@partials.CardHeader() {
			<div class="flex items-center">
				<div class="mr-4 shrink-0 self-center transition-transform duration-400 ease-in-out group-hover:scale-[1.05]">
					<div class="avatar avatar-placeholder" aria-hidden="true">
						<div class="mask w-12 bg-primary mask-squircle text-primary-content">
							<span class="text-3xl capitalize">{ theme[0:1] }</span>
						</div>
					</div>
				</div>
				<div>
					<h2
						class="card-title line-clamp-3 tracking-tight text-pretty capitalize transition-transform duration-150 ease-in-out group-active:scale-[0.96] group-has-[.card-footer:active]:scale-none group-has-[.card-footer:active]:transition-none group-has-[.category-badge:active]:scale-none group-has-[.category-badge:active]:transition-none group-has-[.latest-items:active]:scale-none group-has-[.latest-items:active]:transition-none"
						_={ "on load set theme to localStorage.getItem('theme') if theme == '" + theme + "' then set my innerText to '" + theme + " (current)' else set my innerText to '" + theme + "' end on themeChanged from <body/> set theme to localStorage.getItem('theme') if theme == '" + theme + "' then set my innerText to '" + theme + " (current)' else set my innerText to '" + theme + "' end" }
					>
						{ theme }
					</h2>
				</div>
			</div>
		}
		@partials.CardBody() {
			<div class="grid grid-cols-5 grid-rows-3 items-center">
				<div class="col-start-1 row-span-2 row-start-1 bg-base-200"></div>
				<div class="col-start-1 row-start-3 bg-base-300"></div>
				<div class="col-span-4 col-start-2 row-span-3 row-start-1 flex flex-col gap-1 bg-base-100 p-2">
					<div class="mb-4 flex flex-row flex-wrap items-center gap-2 self-start">
						<span class="badge badge-primary">A</span>
						<span class="badge badge-secondary">B</span>
						<span class="badge badge-accent">C</span>
						<span class="badge badge-neutral">D</span>
					</div>
				</div>
			</div>
		}
	}
}
