// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/server/session"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
)

type SideBarComponent struct {
	attributes templ.Attributes
}

templ SideBar(attributes templ.Attributes) {
	<nav aria-label="Sidebar Navigation" id="page-sidebar" class="hidden mt-16 bg-base-200 border-r border-base-content/30 lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-36 lg:flex-col" { attributes... }>
		<div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-base-content/10 px-6 pb-4">
			<div class="flex flex-1 flex-col place-items-center">
				<ul role="list" class="flex flex-1 flex-col py-16 gap-y-8 my-auto">
					<li>
						<a
							hx-trigger="click,globalShortcutHome"
							hx-get="/home"
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML show:window:top transition:true"
							class="group link no-underline flex flex-col items-center p-2 text-xs/5 font-semibold text-center"
							_="on keydown from body if the event's key is 'h' and event.altKey then send globalShortcutHome"
						>
							<span class="sr-only">Go to Home Page</span>
							@tabler.HomeFilled(i.Props{Class: "size-10 shrink-0 text-primary"})
							<span class={ "text-primary", templ.KV("underline underline-offset-4 decoration-4",PathFromCtx(ctx) == models.RouteHome) }>Home</span>
						</a>
					</li>
					<li>
						<a
							hx-trigger="click,globalShortcutSubscriptions"
							hx-get="/list/subscriptions"
							hx-vals={ templ.JSONString(session.GetListSubscriptionFiltersFromSession(ctx).Values()) }
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML show:window:top transition:true"
							class="group link no-underline flex flex-col items-center p-2 text-xs/5 font-semibold text-center"
							_="on keydown from body if the event's key is 's' and event.altKey then send globalShortcutSubscriptions"
						>
							<span class="sr-only">Go to Subscriptions</span>
							@tabler.Rss(i.Props{Class: "size-10 shrink-0 text-primary"})
							<span class={ "text-primary", templ.KV("underline underline-offset-4 decoration-4",PathFromCtx(ctx) == models.RouteListSubscriptions) }>Subscriptions</span>
						</a>
					</li>
					<li>
						<a
							hx-trigger="click,globalShortcutArticles"
							hx-get="/list/articles"
							hx-vals={ templ.JSONString(session.GetListArticleFiltersFromSession(ctx).Values()) }
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML show:window:top transition:true"
							class="group link no-underline flex flex-col items-center p-2 text-xs/5 font-semibold text-center"
							_="on keydown from body if the event's key is 'a' and event.altKey then send globalShortcutArticles"
						>
							<span class="sr-only">Go to Articles</span>
							@tabler.FileRssFilled(i.Props{Class: "size-10 shrink-0 text-primary"})
							<span class={ "text-primary", templ.KV("underline underline-offset-4 decoration-4",PathFromCtx(ctx) == models.RouteListArticles) }>Articles</span>
						</a>
					</li>
					<li>
						<a
							hx-trigger="click,globalShortcutFavorites"
							hx-get="/list/favorites"
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML show:window:top transition:true"
							class="group link no-underline flex flex-col items-center p-2 text-xs/5 font-semibold text-center"
							_="on keydown from body if the event's key is 'f' and event.altKey then send globalShortcutFavorites"
						>
							<span class="sr-only">Go to Favorites</span>
							@tabler.HeartFilled(i.Props{Class: "size-10 shrink-0 text-primary"})
							<span class={ "text-primary", templ.KV("underline underline-offset-4 decoration-4",PathFromCtx(ctx) == models.RouteListFavorites) }>Favorites</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
}
