// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/dimmerz92/go-icons/tabler-filled"
	"github.com/dimmerz92/go-icons/tabler-outline"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/element"
)

templ SideBar(options ...element.PropertiesOption) {
	{{ props := element.NewProperties(options...) }}
	<nav
		aria-label="Sidebar Navigation"
		id="page-sidebar"
		class="mt-16 hidden border-r border-neutral/20 bg-base-200 shadow-[inset_-1px_0_0_rgba(0,0,0,0.06)] lg:fixed lg:inset-y-safe-or-0 lg:pl-safe lg:z-50 lg:flex lg:w-36 lg:flex-col"
		{ props.Attributes()... }
	>
		<div class="flex grow flex-col gap-y-5 overflow-y-auto px-6 pb-4">
			<div class="flex flex-1 flex-col place-items-center">
				<ul role="list" class="my-auto flex flex-1 flex-col gap-y-8 py-16">
					<li class={ "w-full flex justify-center", templ.KV("bg-primary/25 rounded-lg border-l-4 border-primary", PathFromCtx(ctx) == "/home") }>
						<a
							hx-trigger="click,globalShortcutHome"
							hx-get="/home"
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML scroll:#content:top transition:true"
							class="group flex shrink-0 flex-col items-center justify-center p-2 cursor-pointer touch-manipulation"
							_="on keydown from body if the event's key is 'h' and event.altKey then send globalShortcutHome end"
						>
							<span class="sr-only">Go to Home Page</span>
							<span class="show-loading items-center">
								<span class="loading loading-xl loading-spinner text-primary"></span>
							</span>
							<span class="hide-loading items-center">
								@tablerfilled.Home(templ.Attributes{
									"class":       "size-8 shrink-0 text-primary transition-transform duration-150 ease-in-out group-hover:scale-[1.05] group-active:scale-[0.9]",
									"aria-hidden": "true"})
							</span>
							<span class="not-sr-only font-display text-base font-semibold text-primary">Home</span>
						</a>
					</li>
					{{ filters := models.NewListDisplayFilters() }}
					<li class={ "w-full flex justify-center", templ.KV("bg-primary/25 rounded-lg border-l-4 border-primary", PathFromCtx(ctx) == "/list/subscriptions") }>
						<a
							hx-trigger="click,globalShortcutSubscriptions"
							hx-get="/list/subscriptions"
							hx-vals={ templ.JSONString(filters.Values()) }
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML scroll:#content:top transition:true"
							class="group flex shrink-0 flex-col items-center justify-center p-2 cursor-pointer touch-manipulation"
							_="on keydown from body if the event's key is 's' and event.altKey then send globalShortcutSubscriptions end"
						>
							<span class="sr-only">Go to Subscriptions</span>
							<span class="show-loading items-center">
								<span class="loading loading-xl loading-spinner text-primary"></span>
							</span>
							<span class="hide-loading items-center">
								@tableroutline.Rss(templ.Attributes{
									"class":       "size-8 shrink-0 text-primary transition-transform duration-150 ease-in-out group-hover:scale-[1.05] group-active:scale-[0.9]",
									"aria-hidden": "true"})
							</span>
							<span class="not-sr-only font-display text-base font-semibold text-primary">Subscriptions</span>
						</a>
					</li>
					<li
						class={ "w-full flex justify-center", templ.KV("bg-primary/25 rounded-lg border-l-4 border-primary", PathFromCtx(ctx) == "/list/articles") }
					>
						<a
							hx-trigger="click,globalShortcutArticles"
							hx-get="/list/articles"
							hx-vals={ templ.JSONString(filters.Values()) }
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML scroll:#content:top transition:true"
							class="group flex shrink-0 flex-col items-center justify-center p-2 cursor-pointer touch-manipulation"
							_="on keydown from body if the event's key is 'a' and event.altKey then send globalShortcutArticles end"
						>
							<span class="sr-only">Go to Articles</span>
							<span class="show-loading items-center">
								<span class="loading loading-xl loading-spinner text-primary"></span>
							</span>
							<span class="hide-loading items-center">
								@tablerfilled.FileRss(templ.Attributes{
									"class":       "size-8 shrink-0 text-primary transition-transform duration-150 ease-in-out group-hover:scale-[1.05] group-active:scale-[0.9]",
									"aria-hidden": "true"})
							</span>
							<span class="not-sr-only font-display text-base font-semibold text-primary">Articles</span>
						</a>
					</li>
					<li class={ "w-full flex justify-center", templ.KV("bg-primary/25 rounded-lg border-l-4 border-primary", PathFromCtx(ctx) == "/list/favorites") }>
						<a
							hx-trigger="click,globalShortcutFavorites"
							hx-get="/list/favorites"
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML scroll:#content:top transition:true"
							class="group flex shrink-0 flex-col items-center justify-center p-2 cursor-pointer touch-manipulation"
							_="on keydown from body if the event's key is 'f' and event.altKey then send globalShortcutFavorites end"
						>
							<span class="sr-only">Go to Favorites</span>
							<span class="show-loading items-center">
								<span class="loading loading-xl loading-spinner text-primary"></span>
							</span>
							<span class="hide-loading items-center">
								@tablerfilled.Heart(templ.Attributes{
									"class":       "size-8 shrink-0 text-primary transition-transform duration-150 ease-in-out group-hover:scale-[1.05] group-active:scale-[0.9]",
									"aria-hidden": "true"})
							</span>
							<span class="not-sr-only font-display text-base font-semibold text-primary">Favorites</span>
						</a>
					</li>
					<li class={ "w-full flex justify-center", templ.KV("bg-primary/25 rounded-lg border-l-4 border-primary", PathFromCtx(ctx) == "/subscription/add") }>
						<a
							hx-trigger="click,globalShortcutAdd"
							hx-get="/subscription/add"
							hx-target={ ContentID.Target() }
							hx-swap="innerHTML scroll:#content:top transition:true"
							class="group flex shrink-0 flex-col items-center justify-center p-2 cursor-pointer touch-manipulation"
							_="on keydown from body if the event's key is 'n' and event.altKey then send globalShortcutAdd end"
						>
							<span class="sr-only">Add Subscription</span>
							<span class="show-loading items-center">
								<span class="loading loading-xl loading-spinner text-primary"></span>
							</span>
							<span class="hide-loading items-center">
								@tableroutline.Plus(templ.Attributes{
									"class":       "size-8 shrink-0 text-primary transition-transform duration-150 ease-in-out group-hover:scale-[1.05] group-active:scale-[0.9]",
									"aria-hidden": "true"})
							</span>
							<span class="not-sr-only font-display text-base font-semibold text-primary">Add</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
}
