// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"net/http"
	"slices"
	"strconv"
)

// ViewAttributes generates a templ.Attributes object containing htmx directives for viewing a subscription.
func generateSubscriptionViewArticlesAttributes(s *models.Subscription) templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["hx-target"] = ContentID.Target()
	attrs["hx-swap"] = "innerHTML show:window:top transition:true"
	attrs["hx-trigger"] = "click consume"
	attrs["hx-push-url"] = "true"
	switch s.GetSubscriptionType() {
	case models.SubscriptionTypeFeed, models.SubscriptionTypeEmail:
		filters := models.NewListDisplayFilters()
		filters.Subscriptions = []string{s.GetID()}
		if s.GetStats().IsUnread() {
			filters.View = models.ViewUnread
		} else {
			filters.View = models.ViewRead
		}
		values := filters.Values()
		values[models.ParamSubscriptionID] = s.GetID()
		attrs["hx-vals"] = generateHXVals(values)
		attrs["hx-get"] = "/list/articles"
	case models.SubscriptionTypeGroup:
		filters := models.NewListDisplayFilters()
		filters.Subscriptions = s.GroupData.Subscriptions
		if s.GetStats().IsUnread() {
			filters.View = models.ViewUnread
		} else {
			filters.View = models.ViewRead
		}
		values := filters.Values()
		values[models.ParamSubscriptionID] = s.GetID()
		attrs["hx-vals"] = generateHXVals(values)
		attrs["hx-get"] = "/list/articles"
	case models.SubscriptionTypeSearch:
		attrs["hx-get"] = "/search"
		s.SearchData.Search.SubscriptionID = new(s.GetID())
		attrs["hx-vals"] = s.SearchData.Search.HXVals()
	}
	return attrs
}

// MarkAttributes generates a templ.Attributes object containing htmx directives for marking a subscription.
func generateSubscriptionMarkAttributes(s *models.Subscription) templ.Attributes {
	attrs := make(templ.Attributes)
	switch s.GetSubscriptionType() {
	case models.SubscriptionTypeFeed, models.SubscriptionTypeEmail, models.SubscriptionTypeGroup:
		attrs["hx-target"] = models.ElementID(s.GetID()).Target()
		attrs["hx-trigger"] = "click consume"
		if s.GetStats().IsUnread() {
			attrs["hx-post"] = "/mark/subscription/" + s.GetID() + "/read"
		} else {
			attrs["hx-post"] = "/mark/subscription/" + s.GetID() + "/unread"
		}
	}
	return attrs
}

// EditAttributes generates a templ.Attributes object containing htmx directives for editing a subscription.
func generateSubscriptionEditAttributes(s *models.Subscription) templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["hx-get"] = "/subscription/edit/" + s.GetID()
	attrs["hx-target"] = ContentID.Target()
	attrs["hx-swap"] = "innerHTML show:window:top transition:true"
	attrs["hx-trigger"] = "click consume"
	return attrs
}

// ReportIssueAttributes generates a templ.Attributes object containing directives for reporting an issue with the subscription.
func generateSubscriptionReportIssueAttributes(s *models.Subscription) templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["hx-get"] = "/issue/subscription/" + s.GetID()
	attrs["hx-target"] = ContentID.Target()
	attrs["hx-replace-url"] = "true"
	attrs["hx-trigger"] = "click consume"
	return attrs
}

// SubscriptionCard renders a subscription in a card format, suitable for showing together with other subscriptions in a
// list/grid. The idx argument is used to indicate the position of this subscription card relative to others in a
// grid/list (and is used for CSS-based animations).
templ SubscriptionCard(idx int, s *models.Subscription) {
	// Process any options passed in.
	{{
		attrs := generateSubscriptionViewArticlesAttributes(s)
		attrs["style"] = "--i: " + strconv.Itoa(idx)
		attrs["id"] = s.GetID()
		attrs["hx-disinherit"] = "*"
	}}
	@partials.Card(
		element.MergeAttributes(attrs),
		element.WithClasses("group", "max-w-prose", "cursor-pointer", "touch-manipulation", "animate-fadeinup", "has-[.animation-done]:will-change-auto"),
	) {
		<input type="hidden" name="displayed_subscriptions" value={ s.GetID() }/>
		// Card header.
		@partials.CardHeader() {
			<div class="flex items-center">
				<div class="mr-4 shrink-0 self-center transition-transform duration-400 ease-in-out group-hover:scale-[1.1]">
					if s.GetImage() == "" {
						@subscriptionThumbnail(nil, s.GetTitle())
					} else {
						@subscriptionThumbnail(models.NewRemoteImage(s.GetImage(), s.GetTitle()), s.GetTitle())
					}
				</div>
				<div>
					<h2 id="subscription-title" class="card-title line-clamp-2 tracking-tight text-pretty transition-transform duration-150 ease-in-out group-active:scale-[0.96] group-has-[.card-footer:active]:scale-none group-has-[.card-footer:active]:transition-none group-has-[.category-badge:active]:scale-none group-has-[.category-badge:active]:transition-none group-has-[.latest-items:active]:scale-none group-has-[.latest-items:active]:transition-none">
						{ s.GetTitle() }
					</h2>
				</div>
			</div>
		}
		// Card body.
		@partials.CardBody() {
			// Display up to 5 of the subscription categories.
			if len(s.GetCategories(0)) > 0 {
				<div class="mb-4 flex flex-row flex-wrap gap-2 self-start">
					for category := range slices.Values(s.GetCategories(5)) {
						{{
							filters := models.NewListDisplayFilters()
							filters.Subscriptions = nil
							filters.Categories = append(filters.Categories, category)
						}}
						@CategoryBadge(category,
							element.WithHXOptions(
								element.WithHXMethod(http.MethodGet, "/list/subscriptions"),
								element.WithHXTarget(ContentID.Target()),
								element.WithHXValues(filters.Values()),
								element.WithHXParams("not subscription_id,subscriptions"),
							),
							element.WithAttribute("_", "on click halt the event's bubbling"),
						)
					}
				</div>
			}
			// Any custom body.
			if templ.GetChildren(ctx) != nil {
				{ children... }
			}
		}
		// Card footer.
		@partials.CardFooter(element.WithClasses("items-center")) {
			<div class="flex items-center justify-between border-t border-neutral/15 pt-3">
				<div class="flex flex-col min-w-0">
					if user := models.UserFromCtx(ctx); user != nil && user.GetSettings().ShowSubscriptionStats {
						<div class="inline-grid grid-flow-row grid-cols-2 gap-x-2">
							<span class="col-span-full justify-start text-xs/4 text-wrap text-neutral capitalize">
								<relative-time
									datetime={ s.GetUpdatedDate().Format("2006-01-02T15:04:05-0700") }
									format="relative"
								>
									{ s.GetUpdatedDate().Format("Jan _2, 2006") }
								</relative-time>
							</span>
							if s.GetSubscriptionType() == models.SubscriptionTypeFeed {
								<span class="col-span-1 justify-start text-xs/4 text-neutral">
									{ s.GetStats().UpdateFrequency() }
								</span>
							}
							<span class="col-span-1 justify-end text-xs/4 text-neutral">
								{ s.GetStats().UnreadTotal() }
								Unread
							</span>
						</div>
					} else {
						<span class="text-xs/4 text-wrap text-neutral capitalize">
							<relative-time
								datetime={ s.GetUpdatedDate().Format("2006-01-02T15:04:05-0700") }
								format="relative"
							>
								{ s.GetUpdatedDate().Format("Jan _2, 2006") }
							</relative-time>
						</span>
					}
				</div>
				<div class="flex items-center gap-1 shrink-0">
					// Favorite action.
					<button class="btn btn-square btn-ghost btn-md">
						<form>
							<input type="hidden" name={ models.ParamSubscriptionID } value={ s.GetID() }/>
							<label class="swap touch-manipulation" _="on click halt the event's bubbling">
								<input
									hx-post={ "/favorite/subscription/" + s.GetID() }
									hx-swap="none"
									id={ s.GetID() + "-favorite-state" }
									type="checkbox"
									if s.IsFavorite() {
										checked
									}
									_="on htmx:afterRequest(failed) toggle @checked on me"
									aria-label={ "Toggle favorite status for " + s.GetTitle() }
								/>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-heart swap-on size-5 text-primary">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z"></path>
								</svg>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-heart swap-off size-5 text-primary">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
								</svg>
							</label>
						</form>
					</button>
					// Mark action.
					if s.GetSubscriptionType() != models.SubscriptionTypeSearch {
						<button class="btn btn-square btn-ghost btn-md">
							<form>
								<input type="hidden" name={ models.ParamSubscriptionID } value={ s.GetID() }/>
								<input
									type="hidden"
									name={ models.ParamMark }
									if s.GetStats().IsUnread() {
										value={ models.MarkRead }
									} else {
										value={ models.MarkUnread }
									}
								/>
								<label class="swap touch-manipulation" _="on click halt the event's bubbling">
									<input
										hx-post={ "/mark/subscription/" + s.GetID() }
										hx-swap="none"
										id={ s.GetID() + "-read-state" }
										type="checkbox"
										if !s.GetStats().IsUnread() {
											checked
										}
										_="
											on htmx:afterRequest(successful)
											  tell the previous <input />
												get your value
												if your value equals 'read'
												  set your value to 'unread'
												else
												  set your value to 'read'
												end

											on htmx:afterRequest(failed) toggle @checked on me
											"
										aria-label={ "Toggle read status for " + s.GetTitle() }
									/>
									<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mail-opened swap-on size-5 text-primary">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 9l9 6l9 -6l-9 -6l-9 6"></path><path d="M21 9v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10"></path><path d="M3 19l6 -6"></path><path d="M15 13l6 6"></path>
									</svg>
									<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mail swap-off size-5 text-primary">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10"></path><path d="M3 7l9 6l9 -6"></path>
									</svg>
								</label>
							</form>
						</button>
					}
					// Context menu actions.
					<div class="flex flex-none">
						<el-dropdown class="relative touch-manipulation" _="on click halt the event's bubbling">
							<button
								id={ "btn-" + s.GetID() + "-actions" }
								class="btn btn-ghost btn-sm"
							>
								<span class="sr-only">{ s.GetTitle() + " Actions" }</span>
								<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2 size-5 text-primary">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path d="M4 18l16 0"></path>
								</svg>
							</button>
							<el-menu
								id={ "menu-" + s.GetID() + "-actions" }
								anchor="bottom end"
								popover
								_="on htmx:afterRequest(successful) hidePopover() on me"
							>
								<ul class="menu">
									// View action.
									if s.GetSubscriptionType() == models.SubscriptionTypeFeed && s.GetLink() != "" {
										<li>
											<a
												role="menuitem"
												tabindex="-1"
												href={ s.GetLink() }
												rel="noopener"
												target="_blank"
												_="on click halt the event's bubbling"
											>
												<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-external-link size-4">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"></path>
												</svg>
												Feed Website
											</a>
										</li>
									}
									// Edit action.
									<li>
										<a
											role="menuitem"
											tabindex="-1"
											{ generateSubscriptionEditAttributes(s)... }
										>
											<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit size-4">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415"></path><path d="M16 5l3 3"></path>
											</svg>
											Edit Subscription
										</a>
									</li>
									// Unsubscribe action.
									<form>
										<input type="hidden" name="nickname" value={ s.GetTitle() }/>
										<input type="hidden" name="confirmed" value="false"/>
										<li>
											<a
												role="menuitem"
												tabindex="-1"
												hx-post={ "/remove/subscription/" + s.GetID() }
												hx-target={ partials.ModalContainerID.Target() }
												hx-trigger="click consume"
											>
												<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash size-4">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7l16 0"></path><path d="M10 11l0 6"></path><path d="M14 11l0 6"></path><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
												</svg>
												Remove Subscription
											</a>
										</li>
									</form>
									// Report issue action.
									<li>
										<a
											role="menuitem"
											tabindex="-1"
											{ generateSubscriptionReportIssueAttributes(s)... }
										>
											<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-flag-2 size-4">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19 4a1 1 0 0 1 .993 .883l.007 .117v9a1 1 0 0 1 -.883 .993l-.117 .007h-13v6a1 1 0 0 1 -.883 .993l-.117 .007a1 1 0 0 1 -.993 -.883l-.007 -.117v-16a1 1 0 0 1 .883 -.993l.117 -.007h14z"></path>
											</svg>
											Report an issue
										</a>
									</li>
								</ul>
							</el-menu>
						</el-dropdown>
					</div>
				</div>
			</div>
		}
	}
}

// ListSubscriptions renders the list of subscriptions in a grid layout with filtering controls and an actions menu.
templ ListSubscriptions(response *models.ListSubscriptionsResponse) {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				// Watch for updates.
				<div
					id="updates"
					class="toast toast-center"
					hx-post="/list/subscriptions/updates"
					hx-vals={ templ.JSONString(response.Filters.Values()) }
					hx-trigger="every 5m"
					hx-target="#updates"
				></div>
				// Show a page header.
				<div class="md:flex md:items-center md:justify-between">
					<div class="min-w-0 flex-1">
						<h1 id="page-title" class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">Subscriptions</h1>
					</div>
					<p aria-live="polite" class="mt-4 mb-2 flex space-x-4 sm:mt-8 sm:mb-4 md:ml-4">
						<span class="text-lg font-medium capitalize">{ response.Filters.GetView() }</span>
						<span class="text-lg font-medium capitalize">{ response.Filters.GetSort().String() }</span>
					</p>
				</div>
				@FilterControls("/list/subscriptions", &response.Filters) {
					// Subscriptions actions menu.
					<el-dropdown class="inline-block">
						<button
							id="subscriptions-actions-button"
							class="btn btn-wide"
						>
							Actions
							<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-chevron-down -mr-1 size-5 transform transition-transform duration-200 not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18.707 8.293a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1 -1.414 0l-6 -6a1 1 0 0 1 1.414 -1.414l5.293 5.293l5.293 -5.293a1 1 0 0 1 1.414 0"></path>
							</svg>
						</button>
						<el-menu
							id="subscriptions-actions-menu"
							anchor="bottom start"
							popover
							_="on keydown from body if the event's key is 'x' and event.altKey then togglePopover() on me"
							class="w-fit"
						>
							<ul class="menu w-full">
								// Mark all subscriptions action.
								if len(response.Subscriptions) > 0 {
									<form class="flex w-full flex-1 items-center">
										<input type="hidden" name={ models.ParamView } value={ response.Filters.GetView() }/>
										<li class="w-full">
											<a
												if response.Filters.GetView() == models.ViewUnread {
													hx-post={ "/list/subscriptions/mark/" + string(models.MarkRead) }
												} else {
													hx-post={ "/list/subscriptions/mark/" + string(models.MarkUnread) }
												}
												hx-target={ ContentID.Target() }
												hx-include="article > input"
												role="menuitem"
												tabindex="-1"
											>
												if response.Filters.GetView() == models.ViewUnread {
													<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-mail-opened size-4">
														<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M14.872 14.287l6.522 6.52a2.996 2.996 0 0 1 -2.218 1.188l-.176 .005h-14a2.995 2.995 0 0 1 -2.394 -1.191l6.521 -6.522l2.318 1.545l.116 .066a1 1 0 0 0 .878 0l.116 -.066l2.317 -1.545z"></path><path d="M2 9.535l5.429 3.62l-5.429 5.43z"></path><path d="M22 9.535v9.05l-5.43 -5.43z"></path><path d="M12.44 2.102l.115 .066l8.444 5.629l-8.999 6l-9 -6l8.445 -5.63a1 1 0 0 1 .994 -.065z"></path>
													</svg>
													Mark All Read
													<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
												} else {
													<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mail size-4">
														<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10"></path><path d="M3 7l9 6l9 -6"></path>
													</svg>
													Mark All Unread
													<input type="hidden" name={ models.ParamMark } value={ models.MarkUnread }/>
												}
											</a>
										</li>
									</form>
								}
								<li>
									<a
										hx-get="/subscription/add/feed"
										hx-target={ ContentID.Target() }
										hx-push-url="true"
										role="menuitem"
										tabindex="-1"
									>
										<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
										</svg>
										Add Feed Subscription
									</a>
								</li>
								<li>
									<a
										hx-get="/subscription/add/search"
										hx-target={ ContentID.Target() }
										hx-include="#search-filters"
										hx-push-url="true"
										role="menuitem"
										tabindex="-1"
									>
										<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
										</svg>
										Add Search Subscription
									</a>
								</li>
								<li>
									<a
										hx-get="/subscription/add/group"
										hx-target={ ContentID.Target() }
										hx-push-url="true"
										role="menuitem"
										tabindex="-1"
									>
										<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
										</svg>
										Add Group Subscription
									</a>
								</li>
							</ul>
						</el-menu>
					</el-dropdown>
				}
				<section class="mt-4">
					if len(response.Subscriptions) > 0 {
						@grid(element.WithClasses("content-auto")) {
							@templ.Fragment(PaginateFragment) {
								for idx, subscription := range response.Subscriptions {
									@SubscriptionCard(idx, subscription) {
										if response.LatestArticles != nil {
											{{ itemsData, ok := response.LatestArticles.Load(subscription.GetID()) }}
											if ok {
												{{ items, ok := itemsData.(models.Items) }}
												if ok {
													<div class="mt-auto h-full border-t border-neutral/15">
														<h3 class="mb-2 text-base font-semibold pt-2">
															if subscription.Type == models.SubscriptionTypeSearch {
																Top Results
															} else {
																Latest Articles
															}
														</h3>
														<ul role="list" class="latest-items list-disc marker:text-accent pl-5">
															for item := range slices.Values(items) {
																<li
																	hx-get={ "/view/article/" + item.GetID() }
																	hx-target={ ContentID.Target() }
																	hx-swap="innerHTML show:window:top transition:true"
																	hx-trigger="click"
																	hx-push-url="true"
																	_="on click halt the event's bubbling"
																	class="my-2 link link-hover"
																>{ item.GetTitle() }</li>
															}
														</ul>
													</div>
												}
											}
										}
									}
								}
								if response.Pagination != "" && len(response.Subscriptions) == response.Filters.GetCount() {
									<form
										class="invisible"
										hx-post="/list/subscriptions/paginate"
										hx-vals={ templ.JSONString(response.Filters.Values()) }
										hx-trigger="intersect once"
										hx-target="#grid-objects"
										hx-swap="beforeend transition:false"
										hx-indicator="#loading-subscriptions"
										preload
										preload-images="true"
										_="on htmx:afterRequest remove me"
									>
										<input type="hidden" name={ models.ParamPagination } value={ response.Pagination }/>
									</form>
								}
							}
						}
						// Show some actions at the bottom of the list.
						<nav class="my-16 flex flex-col items-center justify-center gap-2 text-sm sm:flex-row">
							// Mark all subscriptions action.
							<button
								class="btn btn-wide btn-outline"
								if response.Filters.GetView() == models.ViewUnread {
									hx-post={ "/list/subscriptions/mark/" + string(models.MarkRead) }
								} else {
									hx-post={ "/list/subscriptions/mark/" + string(models.MarkUnread) }
								}
								hx-target={ ContentID.Target() }
								hx-include="article > input"
								type="submit"
							>
								if response.Filters.GetView() == models.ViewUnread {
									<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-mail-opened size-4">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M14.872 14.287l6.522 6.52a2.996 2.996 0 0 1 -2.218 1.188l-.176 .005h-14a2.995 2.995 0 0 1 -2.394 -1.191l6.521 -6.522l2.318 1.545l.116 .066a1 1 0 0 0 .878 0l.116 -.066l2.317 -1.545z"></path><path d="M2 9.535l5.429 3.62l-5.429 5.43z"></path><path d="M22 9.535v9.05l-5.43 -5.43z"></path><path d="M12.44 2.102l.115 .066l8.444 5.629l-8.999 6l-9 -6l8.445 -5.63a1 1 0 0 1 .994 -.065z"></path>
									</svg>
									Mark All Read
									<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
								} else {
									<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mail size-4">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10"></path><path d="M3 7l9 6l9 -6"></path>
									</svg>
									Mark All Unread
									<input type="hidden" name={ models.ParamMark } value={ models.MarkUnread }/>
								}
							</button>
						</nav>
						@partials.LoadingIndicator("loading-subscriptions")
						@partials.ButtonBackToTop()
					} else {
						@partials.NoContent()
					}
				</section>
			}
		}
	}
}

templ subscriptionArticleFiltersFields(filters *models.SubscriptionArticleFilters) {
	<div>
		<button type="button" command="--toggle" commandfor="subscription-article-filtering" class="flex w-full items-center justify-between text-left">
			<div>
				<h2 class="text-base/7 font-semibold">Article Filtering</h2>
				<p class="mt-1 max-w-2xl text-sm/6">Optional filtering of articles.</p>
			</div>
			<span class="ml-6 flex h-7 items-center">
				<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus in-aria-expanded:hidden">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-minus not-in-aria-expanded:hidden">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path>
				</svg>
			</span>
		</button>
		@partials.FormSection() {
			<el-disclosure id="subscription-article-filtering" hidden>
				<div class="space-y-8 border-b border-base-300 sm:space-y-0 sm:divide-y sm:divide-base-300 sm:border-t sm:border-t-base-300">
					@partials.FormField() {
						<label for="article-text-filters" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Text</label>
						<div class="mt-2 sm:col-span-2 sm:mt-0">
							<textarea
								rows="2"
								id="article-text-filters"
								name="article_filters.text"
								placeholder={ `+keyword -"some phrase"` }
								class="textarea w-full bg-base-content/10 textarea-primary"
								spellcheck="false"
							>
								if filters != nil && filters.Text != nil {
									{ *filters.Text }
								}
							</textarea>
						</div>
					}
					@partials.FormField() {
						<label for="article-category-filters" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Categories</label>
						<div class="mt-2 sm:col-span-2 sm:mt-0">
							<textarea
								rows="2"
								id="article-category-filters"
								name="article_filters.categories"
								placeholder={ `+keyword -"some phrase"` }
								class="textarea w-full bg-base-content/10 textarea-primary"
								spellcheck="false"
							>
								if filters != nil && filters.Categories != nil {
									{ *filters.Categories }
								}
							</textarea>
						</div>
					}
					@partials.FormField() {
						<label for="article-author-filters" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Authors</label>
						<div class="mt-2 sm:col-span-2 sm:mt-0">
							<textarea
								rows="2"
								id="article-author-filters"
								name="article_filters.authors"
								placeholder={ `+keyword -"some phrase"` }
								class="textarea w-full bg-base-content/10 textarea-primary"
								spellcheck="false"
							>
								if filters != nil && filters.Authors != nil {
									{ *filters.Authors }
								}
							</textarea>
						</div>
					}
				</div>
			</el-disclosure>
		}
	</div>
}

// AddFeedSubscription is a page for adding a new subscription to a feed.
templ AddFeedSubscription(request *models.FeedSubscriptionRequest) {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container(element.WithClasses("mb-6")) {
				@manageFeedSubscription("add", request)
			}
		}
	}
}

// EditFeedSubscription is a page for editing an existing feed subscription.
templ EditFeedSubscription(request *models.FeedSubscriptionRequest) {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				@manageFeedSubscription("edit", request)
			}
		}
	}
}

// manageFeedSubscription generates the appropriate form layout for either adding or editing a feed subscription.
templ manageFeedSubscription(action string, request *models.FeedSubscriptionRequest) {
	<div class="min-w-0 flex-1 pb-8">
		switch action {
			case "add":
				<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">Add a subscription</h1>
			case "edit":
				<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">{ "Editing " + request.Customisation.GetNickname() }</h1>
		}
	</div>
	// hx-on::after-request="if(event.detail.successful) this.reset()"
	<form
		id="add-subscription"
		if action == "add" {
			hx-post="/subscription/add/feed"
		} else {
			hx-post={ "/subscription/save/" + request.SubscriptionID }
		}
		hx-swap="none"
		hx-indicator="#processing"
		hx-encoding="multipart/form-data"
		hx-disinherit="*"
	>
		// Add hidden inputs when editing a subscription to know which subscription we are editing.
		if action == "edit" {
			<input type="hidden" name={ models.ParamSubscriptionID } value={ request.SubscriptionID }/>
			<input type="hidden" name="subscription_type" value={ string(models.SubscriptionTypeFeed) }/>
		}
		<div class="space-y-12 sm:space-y-16">
			// Only show the feed URL when adding a subscription.
			if action == "add" {
				<div>
					@partials.FormSection() {
						@partials.FormField() {
							<label for="url" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">URL</label>
							<div class="mt-2 sm:col-span-2 sm:mt-0">
								<input
									id="url"
									required
									type="url"
									name="url"
									autocomplete="url"
									value={ request.URL }
									placeholder="https://my-favorite-site/feed…"
									class="input w-full bg-base-300 brightness-95 input-primary"
								/>
							</div>
						}
					}
				</div>
			}
			// Optional subscription customisation.
			<div>
				<button type="button" command="--toggle" commandfor="customisation" class="flex w-full items-center justify-between text-left">
					<div>
						<h2 class="text-base/7 font-semibold">Customisation</h2>
						<p class="mt-1 max-w-2xl text-sm/6">Optional customisation for the subscription.</p>
					</div>
					<span class="ml-6 flex h-7 items-center">
						<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus in-aria-expanded:hidden">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-minus not-in-aria-expanded:hidden">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path>
						</svg>
					</span>
				</button>
				@partials.FormSection() {
					<el-disclosure
						if action == "add" {
							hidden
						}
						id="customisation"
					>
						<div class="space-y-8 border-b border-base-300 sm:space-y-0 sm:divide-y sm:divide-base-300 sm:border-t sm:border-t-base-300">
							@partials.FormField() {
								<label for="nickname" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Nickname</label>
								<div class="mt-2 sm:col-span-2 sm:mt-0">
									<input
										id="nickname"
										type="text"
										name="customisation.nickname"
										if request.Customisation != nil && request.Customisation.GetNickname() != "" {
											value={ request.Customisation.GetNickname() }
										}
										placeholder="My cool subscription…"
										class="input bg-base-content/10 input-primary"
									/>
								</div>
							}
							@partials.FormField() {
								<label for="thumbnail" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Thumbnail</label>
								<div class="mt-2 sm:col-span-2 sm:mt-0">
									<div class="col-span-full mt-2 flex items-center gap-x-2">
										if request.Customisation != nil && request.Customisation.ImageURL != nil {
											@subscriptionThumbnail(&models.RemoteImage{URL: request.Customisation.ImageURL}, "")
										} else {
											@subscriptionThumbnail(nil, "")
										}
										<input
											id="thumbnail"
											type="file"
											class="file-input flex bg-base-content/10 file-input-primary"
											name="customisation.thumbnail"
											accept=".jpg,.png,.webp"
										/>
									</div>
								</div>
							}
						</div>
					</el-disclosure>
				}
			</div>
			// Subscription category management.
			if request.Customisation != nil {
				@CategoryManagement(request.SuggestedCategories, request.Customisation.GetCategories())
			} else {
				@CategoryManagement(request.SuggestedCategories, nil)
			}
			// Optional article filtering.
			@subscriptionArticleFiltersFields(request.ArticleFilters)
			// Subscription settings.
			if action == "edit" {
				<div>
					<button type="button" command="--toggle" commandfor="subscription-settings" class="flex w-full items-center justify-between text-left">
						<div>
							<h2 class="text-base/7 font-semibold">Settings</h2>
							<p class="mt-1 max-w-2xl text-sm/6">Additional subscription settings/tweaks.</p>
						</div>
						<span class="ml-6 flex h-7 items-center">
							<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus in-aria-expanded:hidden">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
							</svg>
							<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-minus not-in-aria-expanded:hidden">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path>
							</svg>
						</span>
					</button>
					@partials.FormSection() {
						<el-disclosure
							hidden
							id="subscription-settings"
						>
							<div class="space-y-8 border-b border-base-300 sm:space-y-0 sm:divide-y sm:divide-base-300 sm:border-t sm:border-t-base-300">
								@partials.FormField() {
									<div class="flex items-center">
										<label for="show-full-article-content" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">
											Show full article content.
										</label>
										@partials.HelpPopover("show-full-article-help", "top center") {
											<p>
												If articles in the subscription are only showing a summary, set this
												toggle to attempt to fetch the full content from the website.
											</p>
											<p>
												Note: fetching full content is based on a heuristic that tries to locate
												the article content on the page. It does not always produce optimal
												results.
											</p>
										}
									</div>
									<div class="mt-2 sm:col-span-2 sm:mt-0">
										<input
											id="show-full-article-content"
											type="checkbox"
											if request.Settings != nil && request.Settings.ShowFullArticleContent {
												checked="checked"
											}
											name="show_full_article_content"
											class="toggle toggle-primary toggle-sm"
										/>
									</div>
								}
							</div>
						</el-disclosure>
					}
				</div>
			}
		</div>
		<div class="mt-6 flex items-center justify-end gap-x-6">
			<div id="processing" class="htmx-indicator">
				Processing...
				<span class="loading loading-md loading-spinner"></span>
			</div>
			@partials.ButtonBack()
			switch action {
				case "add":
					<button type="submit" class="btn btn-primary">Add</button>
				case "edit":
					<button type="submit" class="btn btn-primary">Save</button>
			}
		</div>
	</form>
}

// AddSearchSubscription is a page for adding a new search subscription.
templ AddSearchSubscription(request *models.SearchSubscriptionRequest) {
	// Change the sort order to newest first as in most cases, when creating a search subscription. Users will be
	// interested in the newest articles that match.
	{{ request.Search.Sort = models.SortNewestFirst }}
	@manageSearchSubscription("add", request)
}

// EditSearchSubscription is a page for editing a search subscription.
templ EditSearchSubscription(request *models.SearchSubscriptionRequest) {
	@manageSearchSubscription("edit", request)
}

// manageSearchSubscription generates the appropriate form layout for either adding or editing a search subscription.
templ manageSearchSubscription(action string, request *models.SearchSubscriptionRequest) {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				<div class="min-w-0 flex-1 pb-8">
					switch action {
						case "add":
							<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">
								Add a search subscription
							</h1>
						case "edit":
							<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">
								{ "Editing " + request.Customisation.GetNickname() }
							</h1>
					}
				</div>
				// hx-on::after-request="if(event.detail.successful) this.reset()"
				<form
					id="add-subscription"
					if action == "add" {
						hx-post="/subscription/add/search"
					} else {
						hx-post={ "/subscription/save/" + string(*request.Search.SubscriptionID) }
					}
					hx-swap="none"
					hx-indicator="#processing"
					hx-encoding="multipart/form-data"
					hx-disinherit="*"
				>
					// Add hidden inputs when editing a subscription to know which subscription we are editing.
					if action == "edit" {
						<input type="hidden" name={ models.ParamSubscriptionID } value={ string(*request.Search.SubscriptionID) }/>
						<input type="hidden" name="subscription_type" value={ string(models.SubscriptionTypeSearch) }/>
					}
					<div class="space-y-12 sm:space-y-16">
						// Subscription nickname and search text.
						<div>
							@partials.FormSection() {
								@partials.FormField() {
									<label for="nickname" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Nickname</label>
									<div class="mt-2 sm:col-span-2 sm:mt-0">
										<input
											id="nickname"
											type="text"
											name="customisation.nickname"
											if request.Customisation != nil && request.Customisation.GetNickname() != "" {
												value={ request.Customisation.GetNickname() }
											}
											placeholder="My cool subscription…"
											autocomplete="off"
											class="input bg-base-300 brightness-95 input-primary"
										/>
									</div>
								}
								@partials.FormField() {
									<label for="search-text" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Includes the words</label>
									<div class="mt-2 sm:col-span-2 sm:mt-0">
										<textarea
											rows="2"
											id="search-text"
											type="text"
											name="search.text"
											placeholder={ `+keyword -"some phrase"` }
											class="textarea mt-2 w-full bg-base-300 textarea-sm brightness-95 textarea-primary"
										>
											if request.Search.Text != "" {
												{ request.Search.Text }
											}
										</textarea>
									</div>
								}
							}
						</div>
						// Optional additional filtering.
						<div>
							<button type="button" command="--toggle" commandfor="filtering" class="flex w-full items-center justify-between text-left">
								<div>
									<h2 class="text-base/7 font-semibold">Additional Filtering</h2>
									<p class="mt-1 max-w-2xl text-sm/6">Add additional filters to the search.</p>
								</div>
								<span class="ml-6 flex h-7 items-center">
									<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus in-aria-expanded:hidden">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-minus not-in-aria-expanded:hidden">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path>
									</svg>
								</span>
							</button>
							@partials.FormSection() {
								<el-disclosure
									id="filtering"
									hidden
								>
									<div class="space-y-8 border-b border-base-300 sm:space-y-0 sm:divide-y sm:divide-base-300 sm:border-t sm:border-t-base-300">
										@partials.FormField() {
											<label for="search-categories" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Categories</label>
											<div class="mt-2 sm:col-span-2 sm:mt-0">
												<textarea
													rows="2"
													id="search-categories"
													type="text"
													name="search.categories"
													placeholder={ `+keyword -"some phrase"` }
													class="textarea mt-2 w-full bg-base-300 textarea-sm brightness-95 textarea-primary"
												>
													if request.Search.Categories != nil {
														{ *request.Search.Categories }
													}
												</textarea>
											</div>
										}
										@partials.FormField() {
											<label for="search-authors" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Authors</label>
											<div class="mt-2 sm:col-span-2 sm:mt-0">
												<textarea
													rows="2"
													id="search-authors"
													type="text"
													name="search.authors"
													placeholder={ `+keyword -"some phrase"` }
													class="textarea mt-2 w-full bg-base-300 textarea-sm brightness-95 textarea-primary"
												>
													if request.Search.Authors != nil {
														{ *request.Search.Authors }
													}
												</textarea>
											</div>
										}
										@partials.FormField() {
											<label for="search-published-within" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Published within</label>
											<div class="mt-2 sm:col-span-2 sm:mt-0">
												<select id="subscription-published-within" name="search.published_within" class="select my-2 bg-base-300 select-primary">
													<option
														value="last_hour"
													>Last hour</option>
													<option
														value="last_half_day"
													>Last 12 hours</option>
													<option
														value="last_day"
													>Last day</option>
													<option
														value="last_week"
														selected
													>Last week</option>
													<option
														value="last_month"
													>Last month</option>
												</select>
											</div>
										}
										@partials.FormField() {
											<label for="search-view" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">View</label>
											<div class="mt-2 sm:col-span-2 sm:mt-0">
												<select id="search-view" name="search.view" class="select my-2 bg-base-300 select-primary">
													<option
														value={ string(models.ViewUnread) }
														if request.Search.View == models.ViewUnread {
															selected
														}
													>
														Unread
													</option>
													<option
														value={ string(models.ViewRead) }
														if request.Search.View == models.ViewRead {
															selected
														}
													>Read</option>
													<option
														value={ string(models.ViewAll) }
														if request.Search.View == models.ViewAll {
															selected
														}
													>All</option>
												</select>
											</div>
										}
										@partials.FormField() {
											<label for="search-sort" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Sort</label>
											<div class="mt-2 sm:col-span-2 sm:mt-0">
												<select id="search-sort" name="search.sort" class="select my-2 bg-base-300 select-primary">
													<option
														value={ string(models.SortMostRelevant) }
														if request.Search.Sort == models.SortMostRelevant {
															selected
														}
													>
														Most Relevant
													</option>
													<option
														value={ string(models.SortNewestFirst) }
														if request.Search.Sort == models.SortNewestFirst {
															selected
														}
													>Newest First</option>
													<option
														value={ string(models.SortOldestFirst) }
														if request.Search.Sort == models.SortOldestFirst {
															selected
														}
													>Oldest First</option>
												</select>
											</div>
										}
									</div>
								</el-disclosure>
							}
						</div>
						// Optional customisation.
						<div>
							<button type="button" command="--toggle" commandfor="customisation" class="flex w-full items-center justify-between text-left">
								<div>
									<h2 class="text-base/7 font-semibold">Customisation</h2>
									<p class="mt-1 max-w-2xl text-sm/6">Optional customisation for the subscription.</p>
								</div>
								<span class="ml-6 flex h-7 items-center">
									<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus in-aria-expanded:hidden">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-minus not-in-aria-expanded:hidden">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path>
									</svg>
								</span>
							</button>
							@partials.FormSection() {
								<el-disclosure
									id="customisation"
									hidden
								>
									<div class="space-y-8 border-b border-base-300 sm:space-y-0 sm:divide-y sm:divide-base-300 sm:border-t sm:border-t-base-300">
										@partials.FormField() {
											<label for="thumbnail" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Thumbnail</label>
											<div class="mt-2 sm:col-span-2 sm:mt-0">
												<div class="col-span-full mt-2 flex items-center gap-x-2">
													if request.Customisation != nil && request.Customisation.ImageURL != nil {
														@subscriptionThumbnail(&models.RemoteImage{URL: request.Customisation.ImageURL}, "")
													} else {
														@subscriptionThumbnail(nil, "")
													}
													<input
														id="thumbnail"
														type="file"
														class="file-input flex bg-base-content/10 file-input-primary"
														name="customisation.thumbnail"
														accept=".jpg,.png,.webp"
													/>
												</div>
											</div>
										}
									</div>
								</el-disclosure>
							}
						</div>
						// Subscription category management.
						if request.Customisation != nil {
							@CategoryManagement(request.SuggestedCategories, request.Customisation.GetCategories())
						} else {
							@CategoryManagement(request.SuggestedCategories, nil)
						}
					</div>
					<div class="mt-6 flex items-center justify-end gap-x-6">
						<div id="processing" class="htmx-indicator">
							Processing...
							<span class="loading loading-md loading-spinner"></span>
						</div>
						@partials.ButtonBack()
						switch action {
							case "add":
								<button type="submit" class="btn btn-primary">Add</button>
							case "edit":
								<button type="submit" class="btn btn-primary">Save</button>
						}
					</div>
				</form>
			}
		}
	}
}

// AddGroupSubscription is a page for adding a new group subscription.
templ AddGroupSubscription(request *models.GroupSubscriptionRequest) {
	@manageGroupSubscription("add", request)
}

// EditGroupSubscription is a page for editing a group subscription.
templ EditGroupSubscription(request *models.GroupSubscriptionRequest) {
	@manageGroupSubscription("edit", request)
}

// manageGroupSubscription generates the appropriate form layout for either adding or editing a group subscription.
templ manageGroupSubscription(action string, request *models.GroupSubscriptionRequest) {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				<div class="min-w-0 flex-1 pb-8">
					switch action {
						case "add":
							<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">
								Add a group subscription
							</h1>
						case "edit":
							<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">
								{ "Editing " + request.Customisation.GetNickname() }
							</h1>
					}
				</div>
				// hx-on::after-request="if(event.detail.successful) this.reset()"
				<form
					id="add-subscription"
					if action == "add" {
						hx-post="/subscription/add/group"
					} else {
						hx-post={ "/subscription/save/" + string(*request.SubscriptionID) }
					}
					hx-swap="none"
					hx-indicator="#processing"
					hx-encoding="multipart/form-data"
					hx-params="not suggestion_text,suggestions,category"
					hx-disinherit="*"
				>
					// Add hidden inputs when editing a subscription to know which subscription we are editing.
					if action == "edit" {
						<input type="hidden" name={ models.ParamSubscriptionID } value={ string(*request.SubscriptionID) }/>
						<input type="hidden" name="subscription_type" value={ string(models.SubscriptionTypeGroup) }/>
					}
					<div class="space-y-12 sm:space-y-16">
						// Subscription name, suggestions and existing subscriptions.
						<div>
							@partials.FormSection() {
								@partials.FormField() {
									<label for="nickname" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Nickname</label>
									<div class="mt-2 sm:col-span-2 sm:mt-0">
										<input
											id="nickname"
											type="text"
											name="customisation.nickname"
											if request.Customisation != nil && request.Customisation.GetNickname() != "" {
												value={ request.Customisation.GetNickname() }
											}
											placeholder="My cool subscription…"
											class="input bg-base-300 brightness-95 input-primary"
										/>
									</div>
								}
								@partials.FormField() {
									<label for="subscription-suggestion" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Add subscription</label>
									<div class="join mt-2 sm:col-span-2 sm:mt-0">
										<el-autocomplete id="suggestions" class="join join-item sm:col-span-4">
											<input
												id="subscription-suggestion"
												name="suggestion_text"
												class="input join-item bg-base-300 brightness-95 input-primary"
												placeholder="Subscription..."
												_="on keydown[key=='Enter'] send subscriptionSuggestionSelected then halt the event"
											/>
											<button
												type="button"
												class="btn join-item bg-base-100 brightness-95"
												aria-label="Show subscription suggestions"
											>
												<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-chevron-down transform not-in-aria-expanded:rotate-0 in-aria-expanded:-rotate-180">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18.707 8.293a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1 -1.414 0l-6 -6a1 1 0 0 1 1.414 -1.414l5.293 5.293l5.293 -5.293a1 1 0 0 1 1.414 0"></path>
												</svg>
											</button>
											<el-options popover anchor="bottom start" class="h-fit max-h-5/10 w-(--input-width) overflow-auto">
												for subscription := range slices.Values(request.SuggestedSubscriptions) {
													<el-option value={ subscription.GetTitle() }>
														<input type="hidden" name={ "suggestions[" + subscription.GetID() + "]" } value={ subscription.GetTitle() }/>
														{ subscription.GetTitle() }
													</el-option>
												}
											</el-options>
										</el-autocomplete>
										<button
											hx-post="/subscription/group/add"
											hx-target="#subscriptions"
											hx-encoding="application/x-www-form-urlencoded"
											hx-include="#suggestions,#subscriptions"
											hx-swap="beforeend"
											hx-trigger="click, subscriptionSuggestionSelected from:body"
											type="button"
											class="btn join-item btn-primary"
											_="on htmx:afterRequest set #subscription-suggestion.value to ''"
											aria-label="Add subscription to group"
										>
											<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
											</svg>
										</button>
									</div>
								}
								@partials.FormField() {
									<div class="block text-sm/6 font-medium text-base-content sm:pt-1.5">In subscriptions</div>
									<div
										id="subscriptions"
										class="mx-auto flex max-w-7xl flex-wrap items-center gap-2 px-4 py-3 sm:px-6 lg:px-8"
									>
										for id, name := range request.Subscriptions {
											@AddSubscriptionToGroup(id, name)
										}
									</div>
								}
							}
						</div>
						// Optional customisation.
						<div>
							<button type="button" command="--toggle" commandfor="customisation" class="flex w-full items-center justify-between text-left">
								<div>
									<h2 class="text-base/7 font-semibold">Customisation</h2>
									<p class="mt-1 max-w-2xl text-sm/6">Optional customisation for the subscription.</p>
								</div>
								<span class="ml-6 flex h-7 items-center">
									<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus in-aria-expanded:hidden">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
									</svg>
									<svg xmlns="http://www.w3.org/2000/svg" data-slot="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-minus not-in-aria-expanded:hidden">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path>
									</svg>
								</span>
							</button>
							@partials.FormSection() {
								<el-disclosure
									id="customisation"
									hidden
								>
									<div class="space-y-8 border-b border-base-300 sm:space-y-0 sm:divide-y sm:divide-base-300 sm:border-t sm:border-t-base-300">
										@partials.FormField() {
											<label for="thumbnail" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Thumbnail</label>
											<div class="mt-2 sm:col-span-2 sm:mt-0">
												<div class="col-span-full mt-2 flex items-center gap-x-2">
													if request.Customisation != nil && request.Customisation.ImageURL != nil {
														@subscriptionThumbnail(&models.RemoteImage{URL: request.Customisation.ImageURL}, "")
													} else {
														@subscriptionThumbnail(nil, "")
													}
													<input
														id="thumbnail"
														type="file"
														class="file-input flex bg-base-content/10 file-input-primary"
														name="customisation.thumbnail"
														accept=".jpg,.png,.webp"
													/>
												</div>
											</div>
										}
									</div>
								</el-disclosure>
							}
						</div>
						// Subscription category management.
						if request.Customisation != nil {
							@CategoryManagement(request.SuggestedCategories, request.Customisation.GetCategories())
						} else {
							@CategoryManagement(request.SuggestedCategories, nil)
						}
						// Optional article filtering.
						@subscriptionArticleFiltersFields(request.ArticleFilters)
					</div>
					<div class="mt-6 flex items-center justify-end gap-x-6">
						<div id="processing" class="htmx-indicator">
							Processing...
							<span class="loading loading-md loading-spinner"></span>
						</div>
						@partials.ButtonBack()
						switch action {
							case "add":
								<button type="submit" class="btn btn-primary">Add</button>
							case "edit":
								<button type="submit" class="btn btn-primary">Save</button>
						}
					</div>
				</form>
			}
		}
	}
}

// AddSubscriptionToGroup renders a button indicating a subscription is part of a group subscription. Clicking the
// button removes it from the group.
templ AddSubscriptionToGroup(id, name string) {
	<button
		class="btn btn-outline hover:btn-error"
		_="on click remove me"
		aria-label="Remove subscription from group"
	>
		<input type="hidden" name={ "subscriptions[" + id + "]" } value={ name }/>
		{ name }
		<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"></path>
		</svg>
	</button>
}

templ EditEmailSubscription(request *models.EditEmailSubscriptionRequest) {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				<div class="min-w-0 flex-1 pb-8">
					<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">
						{ "Editing " + request.Customisation.GetNickname() }
					</h1>
				</div>
				// hx-on::after-request="if(event.detail.successful) this.reset()"
				<form
					id="add-subscription"
					hx-post={ "/subscription/save/" + string(request.SubscriptionID) }
					hx-swap="none"
					hx-indicator="#processing"
					hx-encoding="multipart/form-data"
					hx-disinherit="*"
				>
					// Add hidden inputs when editing a subscription to know which subscription we are editing.
					<input type="hidden" name={ models.ParamSubscriptionID } value={ string(request.SubscriptionID) }/>
					<input type="hidden" name="subscription_type" value={ string(models.SubscriptionTypeEmail) }/>
					<div class="space-y-12 sm:space-y-16">
						// Subscription name, suggestions and existing subscriptions.
						<div>
							@partials.FormSection() {
								@partials.FormField() {
									<label for="nickname" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Nickname</label>
									<div class="mt-2 sm:col-span-2 sm:mt-0">
										<input
											id="nickname"
											type="text"
											name="customisation.nickname"
											if request.Customisation != nil && request.Customisation.GetNickname() != "" {
												value={ request.Customisation.GetNickname() }
											}
											placeholder="My cool subscription…"
											class="input bg-base-300 brightness-95 input-primary"
										/>
									</div>
								}
								@partials.FormField() {
									<label for="thumbnail" class="block text-sm/6 font-medium text-base-content sm:pt-1.5">Thumbnail</label>
									<div class="mt-2 sm:col-span-2 sm:mt-0">
										<div class="col-span-full mt-2 flex items-center gap-x-2">
											if request.Customisation != nil && request.Customisation.ImageURL != nil {
												@subscriptionThumbnail(&models.RemoteImage{URL: request.Customisation.ImageURL}, "")
											} else {
												@subscriptionThumbnail(nil, "")
											}
											<input
												id="thumbnail"
												type="file"
												class="file-input flex bg-base-content/10 file-input-primary"
												name="customisation.thumbnail"
												accept=".jpg,.png,.webp"
											/>
										</div>
									</div>
								}
							}
						</div>
						// Subscription category management.
						if request.Customisation != nil {
							@CategoryManagement(request.SuggestedCategories, request.Customisation.GetCategories())
						} else {
							@CategoryManagement(request.SuggestedCategories, nil)
						}
					</div>
					<div class="mt-6 flex items-center justify-end gap-x-6">
						<div id="processing" class="htmx-indicator">
							Processing...
							<span class="loading loading-md loading-spinner"></span>
						</div>
						@partials.ButtonBack()
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			}
		}
	}
}

// ExportSubscriptions renders a form for exporting all subscriptions as an OPML file.
templ ExportSubscriptions() {
	@content() {
		@templ.Fragment(ContentFragment) {
			@container() {
				<h1 class="sr-only">Export Subscriptions</h1>
				<div class="mt-8 md:flex md:items-center md:justify-between">
					<div class="min-w-0 flex-1">
						<h2 class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl">
							Export Subscriptions
						</h2>
					</div>
				</div>
				<p class="mt-2 max-w-4xl text-sm text-base-content/80">
					You can export your current subscription to an OPML file, which all good feed readers can import.
				</p>
				<div class="mt-10 space-y-8">
					<div class="mt-6 flex items-center justify-end gap-x-6">
						@partials.ButtonBack()
						<form method="post">
							<button type="submit" class="btn btn-primary">Export</button>
						</form>
					</div>
				</div>
				<center id="processing" class="htmx-indicator">
					Processing, this could take a few minutes...
					<span class="loading loading-md loading-spinner"></span>
				</center>
			}
		}
	}
}

// RemoveObjectModal renders a modal that will action an unsubscribe request when the user has confirmed.
templ RemoveSubscriptionModal(request *models.RemoveSubscriptionRequest) {
	{{ id := request.SubscriptionID + "-unsubscribe-modal" }}
	@partials.Modal(id, true) {
		<div class="sm:flex sm:items-start">
			<span class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full sm:mx-0 sm:size-10">
				<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle size-12">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v4"></path><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0"></path><path d="M12 16h.01"></path>
				</svg>
			</span>
			<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
				<h3 id="dialog-title" class="text-lg font-medium">Unsubscribe confirmation</h3>
				<div class="mt-2">
					<p class="text-sm">Are you sure you want to unsubscribe from { request.Nickname }?</p>
				</div>
			</div>
		</div>
		<div class="mt-5 flex flex-row-reverse items-center justify-center gap-x-2 sm:mt-4">
			<form
				hx-post={ "/remove/subscription/" + string(request.SubscriptionID) }
				hx-target={ "#" + request.SubscriptionID }
				hx-swap="delete transition:true"
				class="flex"
				_={ "on htmx:afterRequest(successful) close() on #" + id }
			>
				<input type="hidden" name="nickname" value={ request.Nickname }/>
				<input type="hidden" name="confirmed" value="true"/>
				<button
					type="submit"
					class="btn btn-primary"
				>Unsubscribe</button>
			</form>
			<button
				type="button"
				command="close"
				commandfor={ id }
				class="btn btn-secondary hover:btn-error"
			>Cancel</button>
		</div>
	}
}

templ subscriptionThumbnail(img *models.RemoteImage, name string) {
	if img != nil {
		// If the source has an image, use that as the avatar.
		<div class="avatar" aria-hidden="true">
			// rs:auto:48:48 - resize to 48x48 https://docs.imgproxy.net/usage/processing#resize
			// sh:0.5 - sharpen https://docs.imgproxy.net/usage/processing#sharpen
			// q:80 - quality https://docs.imgproxy.net/usage/processing#quality
			// sm:1 - strip metadata
			// kcr:1 - keep copyright
			// scp:1 - convert color profile to sRGB
			@partials.NewProxiedImage(img, "rs:auto:48:48/q:80/sm:1/kcr:1/scp:1/ext:webp",
				element.WithAttribute("width", "48"),
				element.WithAttribute("height", "48"),
				element.WithClasses("mask mask-squircle size-12"),
			)
		</div>
	} else {
		// Otherwise, take the first letter of the subscription name and create a placeholder avatar.
		<div class="avatar avatar-placeholder" aria-hidden="true">
			<div class="mask w-12 bg-neutral mask-squircle text-neutral-content">
				if name != "" {
					<span class="text-3xl capitalize">{ name[0:1] }</span>
				} else {
					<span class="text-3xl capitalize">S</span>
				}
			</div>
		</div>
	}
}

func subscriptionViewArticlesAttributes(s *models.Subscription) templ.Attributes {
	attrs := make(templ.Attributes)
	attrs["hx-target"] = ContentID.Target()
	attrs["hx-swap"] = "innerHTML show:window:top transition:true"
	attrs["hx-trigger"] = "click consume"
	attrs["hx-push-url"] = true
	switch s.GetSubscriptionType() {
	case models.SubscriptionTypeFeed, models.SubscriptionTypeEmail:
		filters := models.NewListDisplayFilters()
		filters.Subscriptions = []string{s.GetID()}
		if s.GetStats().IsUnread() {
			filters.View = models.ViewUnread
		} else {
			filters.View = models.ViewRead
		}
		values := filters.Values()
		values[models.ParamSubscriptionID] = s.GetID()
		attrs["hx-vals"] = generateHXVals(values)
		attrs["hx-get"] = "/list/articles"
	case models.SubscriptionTypeGroup:
		filters := models.NewListDisplayFilters()
		filters.Subscriptions = s.GroupData.Subscriptions
		if s.GetStats().IsUnread() {
			filters.View = models.ViewUnread
		} else {
			filters.View = models.ViewRead
		}
		values := filters.Values()
		values[models.ParamSubscriptionID] = s.GetID()
		attrs["hx-vals"] = generateHXVals(values)
		attrs["hx-get"] = "/list/articles"
	case models.SubscriptionTypeSearch:
		attrs["hx-post"] = "/search"
		s.SearchData.Search.SubscriptionID = new(s.GetID())
		attrs["hx-vals"] = s.SearchData.Search.HXVals()
	}
	return attrs
}

func subscriptionViewArticlesLink(s *models.Subscription) string {
	switch s.GetSubscriptionType() {
	case models.SubscriptionTypeFeed, models.SubscriptionTypeEmail:
		filters := models.NewListDisplayFilters()
		filters.Subscriptions = []string{s.GetID()}
		if s.GetStats().IsUnread() {
			filters.View = models.ViewUnread
		} else {
			filters.View = models.ViewRead
		}
		return "/list/articles?" + filters.QueryParams().Encode()
	case models.SubscriptionTypeGroup:
		filters := models.NewListDisplayFilters()
		filters.Subscriptions = s.GroupData.Subscriptions
		if s.GetStats().IsUnread() {
			filters.View = models.ViewUnread
		} else {
			filters.View = models.ViewRead
		}
		return "/list/articles?" + filters.QueryParams().Encode()
	case models.SubscriptionTypeSearch:
		s.SearchData.Search.SubscriptionID = new(s.GetID())
		return "/search?" + s.SearchData.Search.Query()
	}
	return "/list/articles"
}
