// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/go-syndication/types"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
	"strconv"
	"strings"
	"time"
)

// AddFeedsetsSuccessNotification renders a notification when a new user is successfully subscribed to one or more curated feedsets.
templ AddFeedsetsSuccessNotification(feedsets []string) {
	@Notification(models.NewSuccessMessage("Subscribed!", "You are now subscribed to the "+strings.Join(feedsets, ", ")+" feedsets(s)."), 10*time.Second) {
		<div class="mt-3 flex space-x-7">
			@NewLink(
				WithHXMethod(http.MethodGet, "/list/subscriptions"),
				WithHXTarget(ContentID.Target()),
				WithHXPushURL(true),
			) {
				Go to Subscriptions <span aria-hidden="true">&rarr;</span>
			}
		</div>
	}
}

// SubscriptionCard renders a subscription in a card format, suitable for showing together with other subscriptions in a list/grid.
templ SubscriptionCard(s *models.Subscription) {
	<div
		id={ s.GetID() }
		class={ "card card-border border-base-content/15 h-full bg-base-100 shadow-sm",
			templ.KV("row-span-2",len(s.GetCategories(0))== 0),
			templ.KV("row-span-3",len(s.GetCategories(0)) >0),
			templ.KV("opacity-50",!s.GetStats().IsUnread()) }
	>
		<div class="card-body">
			<div class="flex items-center card-section">
				// Heading containing thumbnail, subscription title, all as a link to the subscription articles.
				switch s.GetSubscriptionType() {
					case models.SubscriptionTypeFeed:
						{{ var view models.View }}
						if s.GetStats().IsUnread() {
							{{ view = models.ViewUnread }}
						} else {
							{{ view = models.ViewRead }}
						}
						@viewFeedSubscriptionLink(s.GetID(), s.GetTitle(), view,
							WithClasses("flex", "flex-1", "items-center", "gap-x-4"),
						) {
							<div class="flex flex-1 items-center">
								<div class="mr-4 shrink-0 self-center">
									@subscriptionThumbnail(s)
								</div>
								<div>
									<h4 id="subscription-name" class="text-lg font-bold line-clamp-2">{ s.GetTitle() }</h4>
								</div>
							</div>
						}
					case models.SubscriptionTypeSearch:
						<form class="flex flex-1">
							<input type="hidden" name={ models.ParamSubscriptionID } value={ s.GetID() }/>
							@NewLink(
								WithHXMethod(http.MethodPost, "/search"),
								WithHXInclude("[name='csrf_token']"),
								WithHXValsJS(s.SearchData.Search.HXVals()),
								WithHXTarget(ContentID.Target()),
								WithHXPushURL(true),
								WithHXSwap("innerHTML show:window:top transition:true"),
								WithClasses("flex", "flex-1", "items-center", "gap-x-4", "hover:text-accent"),
							) {
								<div class="flex flex-1 items-center">
									<div class="mr-4 shrink-0 self-center">
										@subscriptionThumbnail(s)
									</div>
									<div>
										<h4 id="subscription-name" class="text-lg font-bold line-clamp-2">{ s.GetTitle() }</h4>
									</div>
								</div>
							}
						</form>
					case models.SubscriptionTypeGroup:
						{{ overrides := map[string]any{models.ParamSort: string(models.SortNewestFirst), models.ParamSubscriptions: s.GroupData.Subscriptions} }}
						if s.GetStats().IsUnread() {
							{{ overrides[models.ParamView] = string(models.ViewUnread) }}
						} else {
							{{ overrides[models.ParamView] = string(models.ViewRead) }}
						}
						{{ overrides[models.ParamSubscriptionID] = s.GetID() }}
						@NewLink(
							WithHXMethod(http.MethodGet, "/list/articles"),
							WithHXInclude("#content-filters"),
							WithHXVals(overrides),
							WithHXTarget(ContentID.Target()),
							WithHXPushURL(true),
							WithHXSwap("innerHTML show:window:top transition:true"),
							WithClasses("flex", "flex-1", "items-center", "gap-x-4", "hover:text-accent"),
						) {
							<div class="flex items-center">
								<div class="mr-4 shrink-0 self-center">
									@subscriptionThumbnail(s)
								</div>
								<div>
									<h4 id="subscription-name" class="text-lg font-bold line-clamp-2">{ s.GetTitle() }</h4>
								</div>
							</div>
						}
				}
				<div class="flex flex-none">
					@subscriptionContextMenu(s)
				</div>
			</div>
			// Display up to 5 of the subscription categories.
			if len(s.GetCategories(0)) > 0 {
				<div class="flex justify-start my-2">
					<div class="flex flex-row flex-wrap p-2 gap-2">
						for category := range slices.Values(s.GetCategories(5)) {
							{{ filters := models.PageFiltersFromCtx(ctx, "/list/subscriptions").Values() }}
							{{ filters[models.ParamCategories] = category }}
							@NewLink(
								WithHXMethod(http.MethodGet, "/list/subscriptions"),
								WithHXTarget(ContentID.Target()),
								WithHXPushURL(true),
								WithHXVals(filters),
							) {
								<div class="flex gap-2 capitalize">
									<div class="badge badge-outline badge-sm">{ category }</div>
								</div>
							}
						}
					</div>
				</div>
			}
			// Show stats and info as appropriate.
			<div class="card-actions grid grid-cols-3 mt-auto">
				if s.Settings.ShowSubscriptionStats {
					if s.GetSubscriptionType() == models.SubscriptionTypeFeed {
						<p class="grid justify-end col-span-3 text-xs/4">
							{ s.GetStats().UpdateFrequency() }
						</p>
					}
				}
				<p class="col-span-2 text-xs/4">
					Last update
					if !s.GetUpdatedDate().IsZero() {
						@showTimestamp(s.GetUpdatedDate())
					} else {
						unknown
					}
				</p>
				if s.Settings.ShowSubscriptionStats {
					<p class="grid justify-end text-xs/4">
						{ s.GetStats().UnreadTotal() }
						Unread
					</p>
				}
			</div>
		</div>
	</div>
}

templ subscriptionContextMenu(s *models.Subscription) {
	<el-dropdown class="relative ml-auto">
		<button class="btn btn-sm btn-ghost btn-square">
			<span class="sr-only">s.GetTitle() + " Actions"</span>
			@tabler.DotsVertical(i.Props{Class: "size-5"})
		</button>
		<el-menu
			anchor="bottom end"
			popover
		>
			// View action.
			if s.GetSubscriptionType() == models.SubscriptionTypeFeed {
				@NewLink(
					WithCustomAttribute("href", s.GetLink()),
					WithCustomAttribute("rel", "noopener"),
					WithCustomAttribute("target", "_blank"),
				) {
					@tabler.ExternalLink(i.Props{Class: "size-4"})
					Feed Website
				}
				// Mark action.
				<form id={ "mark-" + s.GetID() }>
					// MarkURL returns the app URL for marking the subscription.
					{{ var markURL string }}
					if s.GetStats().IsUnread() {
						{{ markURL = "/mark/subscription/" + s.GetID() + "/read" }}
					} else {
						{{ markURL = "/mark/subscription/" + s.GetID() + "/unread" }}
					}
					@NewLink(
						WithHXMethod(http.MethodPost, markURL),
						WithHXInclude("[name='csrf_token'],#content-filters"),
						WithHXTarget("#"+s.GetID()),
					) {
						switch s.GetStats().IsUnread() {
							case true:
								@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
								Mark Read
							case false:
								@tabler.MailFilled(i.Props{Class: "size-4"})
								Mark Unread
						}
					}
				</form>
				// Favorite action. Wrapped in a div that can be targeted for hx-swapping.
				<div id={ "favorite_" + s.GetID() }>
					@ToggleFavorite(s.GetID(), string(models.ObjectTypeSubscription), s.IsFavorite())
				</div>
			}
			// Edit action.
			@NewLink(
				WithHXMethod(http.MethodGet, "/edit/subscription/"+s.GetID()),
				WithHXTarget(ContentID.Target()),
				WithHXSwap("innerHTML show:window:top transition:true"),
				WithHXPushURL(true),
			) {
				@tabler.Edit(i.Props{Class: "size-4"})
				Edit Subscription
			}
			// Unsubscribe action.
			<form>
				<input type="hidden" name="nickname" value={ s.GetTitle() }/>
				<input type="hidden" name="confirmed" value="false"/>
				@NewLink(
					WithHXMethod(http.MethodPost, "/remove/subscription/"+s.GetID()),
					WithHXTarget(ModalContainerID.Target()),
					WithHXInclude("[name='csrf_token']"),
					WithCustomAttribute("_", "on htmx:afterOnLoad wait 10ms then call document.getElementById('unsubscribe').show()"),
				) {
					@tabler.TrashFilled(i.Props{Class: "size-4"})
					Remove Subscription
				}
			</form>
			// Report issue action.
			@NewLink(
				WithHXMethod(http.MethodGet, "/issue/subscription/"+s.GetID()),
				WithHXTarget(ContentID.Target()),
			) {
				@tabler.FlagFilled(i.Props{Class: "size-4"})
				Report an issue
			}
		</el-menu>
	</el-dropdown>
}

templ viewFeedSubscriptionLink(id models.SubscriptionID, title string, view models.View, options ...Option[element]) {
	{{ values := models.PageFiltersFromCtx(ctx, "/list/articles").Values() }}
	{{ values[models.ParamSubscriptions] = id }} // used for filtering articles.
	{{ values[models.ParamSubscriptionID] = id }} // used for subscription actions.
	{{ values[models.ParamView] = view }}
	{{
		allOptions := []Option[element]{
			WithHXMethod(http.MethodGet, "/list/articles"),
			WithHXVals(values),
			WithHXTarget(ContentID.Target()),
			WithHXPushURL(true),
			WithHXSwap("innerHTML show:window:top transition:true"),
		}
		allOptions = append(allOptions, options...)
	}}
	@NewLink(allOptions...) {
		{ children... }
	}
}

// SubscriptionsGrid renders the list of subscriptions in a grid layout with filtering controls and an actions menu.
templ SubscriptionsGrid(pagination models.Pagination, subscriptions ...*models.Subscription) {
	{{ filters := models.PageFiltersFromCtx(ctx, "/list/subscriptions") }}
	@main() {
		// Hidden content filters.
		@generateFilters(filters)
		<div id="update-notifications" sse-connect={ "/list/subscriptions/updates?" + filters.QueryParams().Encode() } sse-swap="message" class="toast toast-center z-50"></div>
		@FilterControls("/list/subscriptions", models.GetCategoryCounts(subscriptions...), filters, subscriptionsActionsButton(filters))
		<section class="mt-4">
			if len(subscriptions) > 0 {
				@grid() {
					@Subscriptions(pagination, subscriptions...)
				}
			} else {
				@EmptyContent()
			}
		</section>
	}
}

// subscriptionsActionsButton creates a button containing a menu of actions to apply to a list of subscriptions, or
// actions related to subscriptions.
templ subscriptionsActionsButton(filters *models.ListDisplayFilters) {
	// Subscriptions actions menu.
	<el-dropdown class="inline-block flex-none">
		<button
			id="subscriptions-actions-button"
			class="inline-flex btn btn-wide"
		>
			Actions
			@tabler.ChevronDown(i.Props{Class: "-mr-1 size-5"})
		</button>
		<el-menu
			id="subscriptions-actions-menu"
			anchor="bottom end"
			popover
			_="on keydown from body if the event's key is 'x' and event.altKey then togglePopover() on me"
		>
			<div class="py-1">
				// Mark all subscriptions action.
				<form>
					for subscription := range slices.Values(filters.GetSubscriptions()) {
						<input type="hidden" name={ models.ParamSubscriptions } value={ subscription }/>
					}
					<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
					{{ var markText string }}
					{{ var markURL string }}
					{{ var markIcon templ.Component }}
					if filters.GetView() == models.ViewUnread {
						{{ markText = "Mark All Read" }}
						{{ markURL = "/list/subscriptions/mark/" + string(models.MarkRead) }}
						{{ markIcon = tabler.MailOpenedFilled(i.Props{Class: "size-4"}) }}
						<input type="hidden" name={ models.ParamMark } value={ models.MarkRead }/>
					} else {
						{{ markText = "Mark All Unread" }}
						{{ markURL = "/list/subscriptions/mark/" + string(models.MarkUnread) }}
						{{ markIcon = tabler.MailFilled(i.Props{Class: "size-4"}) }}
						<input type="hidden" name={ models.ParamMark } value={ models.MarkUnread }/>
					}
					@NewLink(
						WithHXMethod(http.MethodPost, markURL),
						WithHXTarget(ContentID.Target()),
						WithHXInclude("[name='csrf_token']"),
					) {
						@markIcon
						<span class="sr-only">{ markText }</span>
						{ markText }
					}
				</form>
			</div>
			<div class="py-1">
				@NewLink(
					WithHXMethod(http.MethodGet, "/user/subscription/add/feed"),
					WithHXTarget(ContentID.Target()),
					WithHXPushURL(true),
				) {
					@tabler.Plus(i.Props{Class: "size-4"})
					Add Feed Subscription
				}
			</div>
			<div class="py-1">
				@NewLink(
					WithHXMethod(http.MethodGet, "/user/subscription/add/search"),
					WithHXTarget(ContentID.Target()),
					WithHXInclude("#search-filters"),
					WithHXPushURL(true),
				) {
					@tabler.Plus(i.Props{Class: "size-4"})
					Add Search Subscription
				}
			</div>
			<div class="py-1">
				@NewLink(
					WithHXMethod(http.MethodGet, "/user/subscription/add/group"),
					WithHXTarget(ContentID.Target()),
					WithHXPushURL(true),
				) {
					@tabler.Plus(i.Props{Class: "size-4"})
					Add Group Subscription
				}
			</div>
		</el-menu>
	</el-dropdown>
}

// Subscriptions renders the given list of subscriptions as cards with an optional element to trigger pagination to load more.
templ Subscriptions(pagination models.Pagination, subscriptions ...*models.Subscription) {
	{{ filters := models.PageFiltersFromCtx(ctx, "/list/subscriptions") }}
	for subscription := range slices.Values(subscriptions) {
		@SubscriptionCard(subscription)
	}
	if pagination != "" && len(subscriptions) == filters.GetCount() {
		// Add pagination htmx props to last article.
		@PaginationControl(ctx, "/list/subscriptions/paginate", "#content-filters,[name='csrf_token']", pagination)
	}
}

templ EditSubscription(request *models.EditSubscriptionRequest) {
	@main() {
		<div class="min-w-0 flex-1 pb-8">
			<h2 class="page-title sm:truncate">Editing { request.Nickname }</h2>
		</div>
		if request.HasError() {
			<div role="alert" class="alert alert-error alert-outline mt-12">
				<div class="px-4 py-5 sm:p-6 space-y-4">
					<span class="gap-y-2">
						<p class="font-semibold text-base">Invalid Details</p>
						<p class="text-sm">There is a problem with the details. Please check and try again.</p>
					</span>
				</div>
			</div>
		}
		<div class="space-y-8">
			<form
				id="edit-subscription"
				hx-post={ "/edit/subscription/" + request.GetID() }
				hx-include="#current-categories,[name='csrf_token']"
				hx-swap="none"
				hx-indicator="#processing"
			>
				<input type="hidden" name={ models.ParamSubscriptionID } value={ request.SubscriptionID }/>
				<input type="hidden" name="subscription_type" value={ string(models.SubscriptionTypeFeed) }/>
				// Nickname.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="nickname" class="text-base/7 font-semibold">Nickname</label>
						<p class="mt-1 text-sm/6 ">A friendly name for this subscription.</p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input id="nickname" required type="text" name="nickname" value={ request.GetNickname() } placeholder="My Subscription" class="input input-primary bg-base-content/10"/>
						</div>
					</div>
				</div>
				// Filtering.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<h2 class="text-base/7 font-semibold">Filtering</h2>
						<div class="flex items-center">
							<p class="mt-1 text-sm/6 ">Filter articles by keywords/text in fields.</p>
							@HelpPopover("subscription-filters-help", "top end") {
								<div class="card-body bg-base-300 shadow-sm outline-1 -outline-offset-1 outline-base-content/15">
									<p>By default words are matched with OR (i.e., cats dogs will match cats OR dogs). The following operators can be used for more refined searches:</p>
									<p>+ signifies AND operation (i.e., food AND beverages)</p>
									<p>| signifies OR operation (i.e., food OR beverages)</p>
									<p>- negates a the word (i.e., NOT alcoholic)</p>
									<p>"" represents an exact phrase match (i.e., "rum-based drinks")</p>
									<p>* at the end of indicates a prefix match (i.e., match bird, birding and birds)</p>
								</div>
							}
						</div>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="sm:col-span-full mt-2">
							<div class="input input-primary bg-base-content/10 w-full">
								<label for="article_text_filters" class="block text-xs font-medium">Text:</label>
								<input id="article_text_filters" type="text" name="article_filters.text" value={ request.ArticleFilters.Text } placeholder="Text..." class="block w-full"/>
							</div>
						</div>
						<div class="sm:col-span-full mt-2">
							<div class="input input-primary bg-base-content/10 w-full">
								<label for="article_category_filters" class="block text-xs font-medium">Categories:</label>
								<input id="article_category_filters" type="text" name="article_filters.categories" value={ request.ArticleFilters.Categories } placeholder="Categories..." class="block w-full"/>
							</div>
						</div>
						<div class="sm:col-span-full mt-2">
							<div class="input input-primary bg-base-content/10 w-full">
								<label for="article_author_filters" class="block text-xs font-medium">Authors:</label>
								<input id="article_author_filters" type="text" name="article_filters.authors" value={ request.ArticleFilters.Authors } placeholder="Authors..." class="block w-full"/>
							</div>
						</div>
					</div>
				</div>
				// Full article content toggle.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="show-full-article-content" class="text-base/7 font-semibold">Always Show Full Article Content</label>
						<div class="flex items-center">
							<p class="mt-1 text-sm/6 ">
								Always fetch and show article content from original site.
							</p>
							@HelpPopover("show-full-article-help", "top end") {
								<div class="card-body bg-base-300 shadow-sm outline-1 -outline-offset-1 outline-base-content/15">
									<p>If articles in the subscription are only showing a summary, set this toggle to attempt to fetch the full content from the website.</p>
									<p>Note: fetching full content is based on a heuristic that tries to locate the article content on the page. It does not always produce optimal results.</p>
								</div>
							}
						</div>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input
								id="show-full-article-content"
								type="checkbox"
								if request.ShowFullArticleContent {
									checked="checked"
								}
								name="show_full_article_content"
								class="toggle toggle-sm toggle-primary"
							/>
						</div>
					</div>
				</div>
			</form>
			// Categories
			{{ categoryMgmtPath := "/user/subscription/category" }}
			@CategoryManagement(categoryMgmtPath, "categories", nil, request.Categories)
			// Action buttons.
			<div class="flex flex-1 items-center justify-end gap-x-6">
				<div id="processing" class="htmx-indicator">
					Processing...
					<span class="loading loading-spinner loading-md"></span>
				</div>
				<button type="button" onclick="history.back()" class="btn btn-secondary hover:btn-error">Back</button>
				<button type="submit" form="edit-subscription" class="btn btn-primary">Save</button>
			</div>
		</div>
	}
}

templ EditSubscriptionSuccessNotification(subscription *models.Subscription) {
	@Notification(&models.UserMessage{
		Status:  models.UserMessageStatusSuccess,
		Summary: subscription.GetTitle() + " updated",
	}, 15*time.Second) {
		<div class="mt-3 flex space-x-7">
			<button
				type="button"
				class="rounded-md text-sm font-medium hover:bg-accent/20 hover:text-accent-content focus:outline-2 focus:outline-offset-2 focus:outline-primary"
				hx-get="/list/subscriptions"
				hx-target={ ContentID.Target() }
				hx-push-url="true"
				_={ "on click remove #" + GetNotificationIDFromCtx(ctx) }
			>Go to subscriptions <span aria-hidden="true">&rarr;</span></button>
		</div>
	}
}

// AddFeedSubscription is a page for adding a new subscription to a feed.
templ AddFeedSubscription(request *models.AddFeedSubscriptionRequest) {
	@main() {
		<div class="min-w-0 flex-1 pb-8">
			<h2 class="page-title">Add A Subscription</h2>
		</div>
		if request.HasError() {
			<div role="alert" class="alert alert-error alert-outline mt-12">
				<div class="px-4 py-5 sm:p-6 space-y-4">
					<span class="gap-y-2">
						<p class="font-semibold text-base">Invalid Details</p>
						<p class="text-sm">There is a problem with the details. Please check and try again.</p>
					</span>
				</div>
			</div>
		}
		<div class="space-y-8">
			<form
				id="add-subscription"
				hx-post="/user/subscription/add/feed"
				hx-swap="none"
				hx-include="[name='user_categories'],[name='csrf_token']"
				hx-indicator="#processing"
				hx-on::after-request="if(event.detail.successful) this.reset()"
			>
				// URL.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<h2 class="text-base/7 font-semibold">Feed Website or URL</h2>
						<p class="mt-1 text-sm/6 ">Required. The feed's URL or website (feed detection from a website URL may or may not work).</p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input
								id="url"
								required
								type="url"
								name="url"
								value={ request.URL }
								placeholder="https://my-favorite-site/feed"
								class="input input-primary bg-base-content/10 w-full"
							/>
							if request.URLErr != nil {
								<p class="text-error py-2 text-xs/4 font-semibold">Error: { request.URLErr.Error() }</p>
							}
						</div>
					</div>
				</div>
				// Nickname.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<h2 class="text-base/7 font-semibold">Feed Nickname</h2>
						<p class="mt-1 text-sm/6 ">Optional. A Friendly name for the subscription. Will use the feed's name if not specified.</p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="sm:col-span-4 mt-2">
							<input
								id="nickname"
								type="text"
								name="nickname"
								value={ request.Nickname }
								placeholder="My cool subscription"
								class={ templ.KV("input input-primary bg-base-content/10",request.NicknameErr == nil), templ.KV("input input-error bg-base-content/10",request.NicknameErr !=nil) }
							/>
							if request.NicknameErr != nil {
								<p class="text-error py-2 text-xs/4 font-semibold">{ request.NicknameErr.Error() }</p>
							}
						</div>
					</div>
				</div>
			</form>
			// Categories
			{{ categoryMgmtPath := "/user/subscription/category" }}
			@CategoryManagement(categoryMgmtPath, "categories", nil, request.Categories)
			// Action buttons.
			<div class="flex flex-1 items-center justify-end gap-x-6">
				<div id="processing" class="htmx-indicator">
					Processing...
					<span class="loading loading-spinner loading-md"></span>
				</div>
				<button type="button" onclick="history.back()" class="btn btn-secondary hover:btn-error">Back</button>
				<button type="submit" form="add-subscription" class="btn btn-primary">Add</button>
			</div>
		</div>
	}
}

// AddSearchSubscription is a page for adding a new search subscription.
templ AddSearchSubscription(request *models.SearchSubscriptionRequest) {
	@manageSearchSubscription(request, "add")
}

// EditSearchSubscription is a page for editing a search subscription.
templ EditSearchSubscription(request *models.SearchSubscriptionRequest) {
	@manageSearchSubscription(request, "edit")
}

templ manageSearchSubscription(request *models.SearchSubscriptionRequest, action string) {
	@main() {
		<div class="min-w-0 flex-1 pb-8">
			switch action {
				case "add":
					<h2 class="page-title">Add A Search Subscription</h2>
				case "edit":
					<h2 class="page-title">{ "Editing "+request.Customisation.Nickname }</h2>
			}
		</div>
		// if request.HasError() {
		// 	<div role="alert" class="alert alert-error alert-outline mt-12">
		// 		<div class="px-4 py-5 sm:p-6 space-y-4">
		// 			<span class="gap-y-2">
		// 				<p class="font-semibold text-base">Invalid Details</p>
		// 				<p class="text-sm">There is a problem with the details. Please check and try again.</p>
		// 			</span>
		// 		</div>
		// 	</div>
		// }
		<div class="flex items-center border-b border-base-content/60">
			<h3 class="text-base font-semibold">Search Filters</h3>
			// Help dialog.
			<div class="ml-4">
				@HelpPopover("subscription-filter-operators-help", "bottom end") {
					<div class="card-body bg-base-300 shadow-sm outline-1 -outline-offset-1 outline-base-content/15">
						<p>By default words are matched with OR (i.e., cats dogs will match cats OR dogs). The following operators can be used for more refined searches:</p>
						<p>+ signifies AND operation (i.e., food AND beverages)</p>
						<p>| signifies OR operation (i.e., food OR beverages)</p>
						<p>- negates a the word (i.e., NOT alcoholic)</p>
						<p>"" represents an exact phrase match (i.e., "rum-based drinks")</p>
						<p>* at the end of indicates a prefix match (i.e., match bird, birding and birds)</p>
					</div>
				}
			</div>
		</div>
		<div class="space-y-8">
			// hx-on::after-request="if(event.detail.successful) this.reset()"
			<form
				id="manage-search-subscription"
				if action == "add" {
					hx-post="/user/subscription/add/search"
				} else {
					hx-post={ "/edit/subscription/" + request.Search.ID }
				}
				hx-swap="none"
				hx-include="[name='customisation.categories'],[name='csrf_token']"
				hx-params="not subscription-text"
				hx-vals="js:{'search.timezone': Intl.DateTimeFormat().resolvedOptions().timeZone}"
				hx-indicator="#processing"
			>
				<input type="hidden" name="subscription_type" value={ string(models.SubscriptionTypeSearch) }/>
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="subscription-filter-text" class="text-base/7 font-semibold">Includes the words</label>
						// <p class="mt-1 text-sm/6 "></p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input
								id="subscription-filter-text"
								type="text"
								name="search.text"
								value={ request.Search.Text }
								placeholder={ `e.g., "Breaking News" | Live` }
								class="input input-primary bg-base-content/10 w-full"
							/>
						</div>
					</div>
				</div>
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="subscription-filter-categories" class="text-base/7 font-semibold">Article Category Filters</label>
						// <p class="mt-1 text-sm/6 "></p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input
								id="subscription-filter-categories"
								type="text"
								name="search.categories"
								value={ request.Search.Categories }
								placeholder="e.g., drinks + mediation"
								class="input input-primary bg-base-content/10 w-full"
							/>
						</div>
					</div>
				</div>
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="subscription-filter-authors" class="text-base/7 font-semibold">Article Author Filters</label>
						// <p class="mt-1 text-sm/6 "></p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input
								id="subscription-filter-authors"
								type="text"
								name="search.authors"
								value={ request.Search.Authors }
								placeholder={ `e.g., -"John Smith"` }
								class="input input-primary bg-base-content/10 w-full"
							/>
						</div>
					</div>
				</div>
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="subscription-filter-subscriptions-search" class="text-base/7 font-semibold">In Subscriptions</label>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<label class="input input-primary bg-base-content/10 w-full">
								@tabler.Search(i.Props{Class: "size-5"})
								<input
									id="subscription-filter-subscriptions-search"
									name="subscription-text"
									placeholder="Search subscriptions..."
									autocomplete="off"
									hx-post="/search/subscription/suggestions"
									hx-trigger="input changed delay:500ms,consume"
									hx-target="#subscription-filter-subscriptions-options"
									hx-swap="innerHTML show:window:top transition:true"
									hx-params="subscription-text,csrf_token"
									hx-include="[name='csrf_token']"
									hx-push-url="false"
								/>
							</label>
							<div
								class="flex flex-wrap items-center mx-auto gap-2 max-w-7xl px-4 py-3 sm:px-6 lg:px-8"
								id="subscription-filter-subscriptions-options"
								hx-target="#subscription-filter-subscriptions"
								hx-vals={ models.GenerateHXVals(map[string]any{"subscriptions-input-name": "search.subscriptions"}) }
								_="on htmx:afterRequest set #subscription-filter-subscriptions-search.value to ''"
							></div>
							<div
								id="subscription-filter-subscriptions"
								class="flex flex-wrap items-center mx-auto gap-2 max-w-7xl px-4 py-3 sm:px-6 lg:px-8"
							>
								for subscription := range slices.Values(models.SubscriptionsFromCtx(ctx)) {
									@AddSearchSubscriptionFilter(subscription.GetID(), subscription.GetTitle(), "search.subscriptions")
								}
							</div>
						</div>
					</div>
				</div>
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="subscription-filter-published-within" class="text-base/7 font-semibold">Published Within</label>
						// <p class="mt-1 text-sm/6 "></p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full">
							<select id="subscription-filter-published-within" name="search.published_within" class="select select-primary my-2 bg-base-300">
								<option
									value="last_hour"
								>Last hour</option>
								<option
									value="last_half_day"
								>Last 12 hours</option>
								<option
									value="last_day"
								>Last day</option>
								<option
									value="last_week"
									selected
								>Last week</option>
								<option
									value="last_month"
								>Last month</option>
							</select>
						</div>
					</div>
				</div>
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="subscription-filter-view" class="text-base/7 font-semibold">View</label>
						// <p class="mt-1 text-sm/6 "></p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full">
							<select id="subscription-filter-view" name="search.view" class="select select-primary my-2 bg-base-300">
								<option
									value={ string(models.ViewUnread) }
									if request.Search.View == models.ViewUnread {
										selected
									}
								>
									Unread
								</option>
								<option
									value={ string(models.ViewRead) }
									if request.Search.View == models.ViewRead {
										selected
									}
								>Read</option>
								<option
									value={ string(models.ViewAll) }
									if request.Search.View == models.ViewAll {
										selected
									}
								>All</option>
							</select>
						</div>
					</div>
				</div>
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="subscription-filter-sort" class="text-base/7 font-semibold">Sort By</label>
						// <p class="mt-1 text-sm/6 "></p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full">
							<select id="subscription-filter-sort" name="search.sort" class="select select-primary my-2 bg-base-300">
								<option
									value={ string(models.SortMostRelevant) }
									if request.Search.Sort == models.SortMostRelevant {
										selected
									}
								>
									Most Relevant
								</option>
								<option
									value={ string(models.SortNewestFirst) }
									if request.Search.Sort == models.SortNewestFirst {
										selected
									}
								>Newest First</option>
								<option
									value={ string(models.SortOldestFirst) }
									if request.Search.Sort == models.SortOldestFirst {
										selected
									}
								>Oldest First</option>
							</select>
						</div>
					</div>
				</div>
			</form>
			<div class="border-b border-base-content/60">
				<h3 class="text-base font-semibold">Subscription Info</h3>
			</div>
			// Nickname.
			<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
				<div>
					<label for="subscription-nickname" class="text-base/7 font-semibold">Nickname</label>
					// <p class="mt-1 text-sm/6 "></p>
				</div>
				<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
					<div class="col-span-full mt-2">
						<input
							id="subscription-nickname"
							type="text"
							required
							name="customisation.nickname"
							value={ request.Customisation.Nickname }
							placeholder="My Search Subscription"
							class="input input-primary bg-base-content/10 w-full"
							form="manage-search-subscription"
							autocomplete="off"
						/>
					</div>
				</div>
			</div>
			// Categories
			{{ categoryMgmtPath := "/user/subscription/category" }}
			@CategoryManagement(categoryMgmtPath, "customisation.categories", nil, request.Customisation.Categories)
			// Action buttons.
			<div class="flex flex-1 items-center justify-end gap-x-6">
				<div id="processing" class="htmx-indicator">
					Processing...
					<span class="loading loading-spinner loading-md"></span>
				</div>
				<button type="button" onclick="history.back()" class="btn btn-secondary hover:btn-error">Back</button>
				<button type="submit" form="manage-search-subscription" class="btn btn-primary">
					if action == "add" {
						Add
					} else {
						Save
					}
				</button>
			</div>
		</div>
	}
}

// AddGroupSubscription is a page for adding a new group subscription.
templ AddGroupSubscription(request *models.GroupSubscriptionRequest) {
	@manageGroupSubscription(request, "add")
}

// EditGroupSubscription is a page for editing a group subscription.
templ EditGroupSubscription(request *models.GroupSubscriptionRequest) {
	@manageGroupSubscription(request, "edit")
}

templ manageGroupSubscription(request *models.GroupSubscriptionRequest, action string) {
	@main() {
		<div class="min-w-0 flex-1 pb-8">
			switch action {
				case "add":
					<h2 class="page-title">Add A Group Subscription</h2>
				case "edit":
					<h2 class="page-title">{ "Editing "+request.Customisation.Nickname }</h2>
			}
		</div>
		<div class="space-y-8">
			// hx-on::after-request="if(event.detail.successful) this.reset()"
			<form
				id="manage-group-subscription"
				if action == "add" {
					hx-post="/user/subscription/add/group"
				} else {
					hx-post={ "/edit/subscription/" + request.SubscriptionID }
				}
				hx-swap="none"
				hx-include="[name='customisation.categories'],[name='csrf_token']"
				hx-params="not subscription-text"
				hx-indicator="#processing"
			>
				<input type="hidden" name="subscription_type" value={ string(models.SubscriptionTypeGroup) }/>
				// Subscriptions.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="subscriptions-filter-subscriptions-search" class="text-base/7 font-semibold">In Subscriptions</label>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<label class="input input-primary bg-base-content/10 w-full">
								@tabler.Search(i.Props{Class: "size-5"})
								<input
									id="subscription-filter-subscriptions-search"
									name="subscription-text"
									placeholder="Search subscriptions..."
									autocomplete="off"
									hx-post="/search/subscription/suggestions"
									hx-trigger="input changed delay:500ms,consume"
									hx-target="#subscription-filter-subscriptions-options"
									hx-swap="innerHTML show:window:top transition:true"
									hx-params="subscription-text,csrf_token"
									hx-include="[name='csrf_token']"
									hx-push-url="false"
								/>
							</label>
							<div
								class="flex flex-wrap items-center mx-auto gap-2 max-w-7xl px-4 py-3 sm:px-6 lg:px-8"
								id="subscription-filter-subscriptions-options"
								hx-target="#subscription-filter-subscriptions"
								hx-vals={ models.GenerateHXVals(map[string]any{"subscriptions-input-name": "subscriptions"}) }
								_="on htmx:afterRequest set #subscription-filter-subscriptions-search.value to ''"
							></div>
							<div
								id="subscription-filter-subscriptions"
								class="flex flex-wrap items-center mx-auto gap-2 max-w-7xl px-4 py-3 sm:px-6 lg:px-8"
							>
								for subscription := range slices.Values(models.SubscriptionsFromCtx(ctx)) {
									@AddSearchSubscriptionFilter(subscription.GetID(), subscription.GetTitle(), "subscriptions")
								}
							</div>
						</div>
					</div>
				</div>
				// Nickname.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<label for="subscription-nickname" class="text-base/7 font-semibold">Nickname</label>
						// <p class="mt-1 text-sm/6 "></p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input
								id="subscription-nickname"
								type="text"
								required
								name="customisation.nickname"
								value={ request.Customisation.Nickname }
								placeholder="My Search Subscription"
								class="input input-primary bg-base-content/10 w-full"
								autocomplete="off"
							/>
						</div>
					</div>
				</div>
			</form>
			// Categories
			{{ categoryMgmtPath := "/user/subscription/category" }}
			@CategoryManagement(categoryMgmtPath, "customisation.categories", nil, request.Customisation.Categories)
			// Action buttons.
			<div class="flex flex-1 items-center justify-end gap-x-6">
				<div id="processing" class="htmx-indicator">
					Processing...
					<span class="loading loading-spinner loading-md"></span>
				</div>
				<button type="button" onclick="history.back()" class="btn btn-secondary hover:btn-error">Back</button>
				<button type="submit" form="manage-group-subscription" class="btn btn-primary">
					if action == "add" {
						Add
					} else {
						Save
					}
				</button>
			</div>
		</div>
	}
}

// ImportPage is a page for importing subscriptions from an external source (e.g., an OPML file).
templ ImportSubscriptions() {
	@main() {
		<div class="mx-auto max-w-3xl">
			<div class="min-w-0 flex-1 pb-8">
				<h2 class="text-2xl/7 font-bold tracking-tight sm:text-3xl">Import Subscriptions</h2>
			</div>
			<div class="md:flex md:items-center md:justify-between">
				<p class="mt-2 max-w-4xl text-sm text-base-content/80">
					You can import your existing subscriptions from an OPML file. Most feed services support generating an OPML file you can use.
				</p>
			</div>
			<form
				id="import-subscriptions-form"
				hx-encoding="multipart/form-data"
				hx-post="/user/import"
				hx-target="#import-results"
				hx-include="[name='csrf_token']"
				hx-indicator="#processing"
			>
				<div class="grid max-w-7xl grid-cols-1 items-center gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
					<div>
						<h3 class="text-base/7 font-semibold">OPML File</h3>
					</div>
					<div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:place-items-center sm:grid-cols-6 md:col-span-2">
						<div class="sm:col-span-full w-full">
							<input id="source" type="file" required name="source" class="file-input file-input-primary bg-base-content/10 w-full"/>
						</div>
					</div>
					<div class="grid col-span-full justify-end">
						<div class="flex gap-x-2 items-center">
							<div id="processing" class="htmx-indicator">
								Processing...
								<span class="loading loading-spinner loading-md"></span>
							</div>
							<button
								type="button"
								onclick="history.back()"
								class="btn btn-secondary hover:btn-error"
							>
								Back
							</button>
							<button
								type="submit"
								class="btn btn-primary"
							>
								Import
							</button>
						</div>
					</div>
				</div>
			</form>
			<div id="import-results" class="space-y-4"></div>
		</div>
	}
}

// ImportResults is a partial template that displays the results of an import.
templ ImportResults(results []*models.AddFeedSubscriptionResult) {
	{{ successfulResults := filterSuccessfulResults(results) }}
	{{ failedResults := filterUnsuccessfulResults(results) }}
	{{ warningResults := filterWarningResults(results) }}
	<div class="min-w-0 flex-1 pb-8">
		<h2 class="text-2xl/7 font-bold tracking-tight sm:text-3xl">Import Results</h2>
	</div>
	// Import results summary.
	<div class="stats shadow">
		<div class="stat">
			<div class="stat-figure text-success">
				@tabler.CircleCheck(i.Props{Class: "size-10 text-success"})
			</div>
			<div class="stat-title">Created</div>
			<div class="stat-value text-primary">{ strconv.Itoa(len(successfulResults)) }</div>
		</div>
		<div class="stat">
			<div class="stat-figure text-error">
				@tabler.ExclamationCircle(i.Props{Class: "size-10 text-error"})
			</div>
			<div class="stat-title">Failed</div>
			<div class="stat-value text-error">{ strconv.Itoa(len(failedResults)) }</div>
		</div>
		<div class="stat">
			<div class="stat-figure text-warning">
				@tabler.AlertTriangle(i.Props{Class: "size-10 text-warning"})
			</div>
			<div class="stat-title">Warnings</div>
			<div class="stat-value text-warning">{ strconv.Itoa(len(warningResults)) }</div>
		</div>
	</div>
	<div>
		@NewButton(
			WithHXMethod(http.MethodGet, "/list/subscriptions"),
			WithHXTarget(ContentID.Target()),
			WithHXVals(models.PageFiltersFromCtx(ctx, "/list/subscriptions").Values()),
			WithClasses("btn-primary"),
		) {
			Go to your subscriptions
		}
	</div>
	<div class="mt-10 space-y-8">
		<ul class="list">
			for response := range slices.Values(slices.Concat(successfulResults,failedResults,warningResults)) {
				<li class="list-row items-center">
					switch response.Message.Status {
						case models.UserMessageStatusSuccess:
							@tabler.CircleCheck(i.Props{Class: "size-10 text-success"})
							<div>
								<div>{ response.Message.Summary }</div>
							</div>
						case models.UserMessageStatusError:
							@tabler.ExclamationCircle(i.Props{Class: "size-10 text-error"})
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
						case models.UserMessageStatusWarning:
							@tabler.AlertTriangle(i.Props{Class: "size-10 text-warning"})
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
					}
				</li>
			}
		</ul>
	</div>
	@btnBackToTop()
}

func filterSuccessfulResults(results []*models.AddFeedSubscriptionResult) []*models.AddFeedSubscriptionResult {
	return slices.Collect(models.FilterSlice(results, func(result *models.AddFeedSubscriptionResult) bool {
		return result.Message.Status == models.UserMessageStatusSuccess
	}))
}

func filterWarningResults(results []*models.AddFeedSubscriptionResult) []*models.AddFeedSubscriptionResult {
	return slices.Collect(models.FilterSlice(results, func(result *models.AddFeedSubscriptionResult) bool {
		return result.Message.Status == models.UserMessageStatusWarning
	}))
}

func filterUnsuccessfulResults(results []*models.AddFeedSubscriptionResult) []*models.AddFeedSubscriptionResult {
	return slices.Collect(models.FilterSlice(results, func(result *models.AddFeedSubscriptionResult) bool {
		return result.Message.Status == models.UserMessageStatusError
	}))
}

// ExportSubscriptions renders a form for exporting all subscriptions as an OPML file.
templ ExportSubscriptions() {
	@main() {
		<div class="md:flex md:items-center md:justify-between mt-8">
			<div class="min-w-0 flex-1">
				<h2 class="page-title">Export Subscriptions</h2>
			</div>
		</div>
		<p class="mt-2 max-w-4xl text-sm text-base-content/80">
			You can export your current subscription to an OPML file, which all good feed readers can import.
		</p>
		<div class="mt-10 space-y-8">
			<div class="mt-6 flex items-center justify-end gap-x-6">
				<button type="button" onclick="history.back()" class="btn btn-secondary hover:btn-error">
					Back
				</button>
				<a
					role="button"
					class="btn btn-primary"
					href="/user/export/opml"
					download
				>
					Export
				</a>
			</div>
		</div>
		<center id="processing" class="htmx-indicator">
			Processing, this could take a few minutes...
			<span class="loading loading-spinner loading-md"></span>
		</center>
	}
}

// RemoveObjectModal renders a modal that will action an unsubscribe request when the user has confirmed.
templ RemoveSubscriptionModal(request *models.RemoveSubscriptionRequest) {
	{{ id := "unsubscribe" }}
	@Modal(id) {
		<div class="sm:flex sm:items-start">
			<div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full sm:mx-0 sm:size-10">
				@tabler.AlertTriangle(i.Props{Class: "size-12"})
			</div>
			<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
				<h3 id="dialog-title" class="text-base font-semibold">Unsubscribe confirmation</h3>
				<div class="mt-2">
					<p class="text-sm">Are you sure you want to unsubscribe from { request.Nickname }?</p>
				</div>
			</div>
		</div>
		<div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
			<form
				hx-post={ "/remove/subscription/" + string(request.SubscriptionID) }
				hx-target={ "#" + request.SubscriptionID }
				hx-include="[name='csrf_token']"
				hx-swap="delete transition:true"
				_="on htmx:afterRequest(successful) if successful remove #unsubscribe-modal"
			>
				<input type="hidden" name="nickname" value={ request.Nickname }/>
				<input type="hidden" name="confirmed" value="true"/>
				<button
					type="submit"
					class="inline-flex w-full justify-center rounded-md bg-error/80 px-3 py-2 text-sm font-semibold text-error-content shadow-xs hover:bg-error sm:ml-3 sm:w-auto"
				>Unsubscribe</button>
			</form>
			<button
				type="button"
				command="close"
				commandfor={ id }
				_={ "on click remove #" + id + "-modal" }
				class="mt-3 inline-flex w-full justify-center rounded-md bg-primary/80 px-3 py-2 text-sm font-semibold text-primary-content shadow-xs ring-1 ring-base-content/10 ring-inset hover:bg-primary sm:mt-0 sm:w-auto"
			>Cancel</button>
		</div>
	}
}

templ subscriptionThumbnail(subscription *models.Subscription) {
	if img := subscription.GetImage(); img != "" {
		// If the source has an image, use that as the avatar.
		<div class="avatar">
			<div class="rounded-box size-12 border border-base-content">
				@NewProxiedImage(&types.ImageInfo{Title: subscription.GetTitle(), URL: img}, "rs:auto:48:48/sh:0.5",
					WithCustomAttribute("width", "48"),
					WithCustomAttribute("height", "48"),
				)
			</div>
		</div>
	} else {
		// Otherwise, take the first letter of the title and create a placeholder avatar.
		<div class="avatar avatar-placeholder">
			<div class="bg-neutral text-neutral-content w-12 mask mask-squircle">
				<span class="text-3xl capitalize">{ subscription.GetTitle()[0:1] }</span>
			</div>
		</div>
	}
}
