// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/dustin/go-humanize"
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
	"strconv"
	"strings"
	"time"
)

type subscription interface {
	object[models.SubscriptionID]

	GetStats() *models.SubscriptionStats
}

// SubscriptionCard renders a subscription in a card format, suitable for showing together with other subscriptions in a list/grid.
templ SubscriptionCard(s subscription) {
	{{ user, _ := models.UserFromCtx(ctx) }}
	<li id={ s.GetID() }>
		<div class={ "card-base", templ.KV("opacity-50",!s.GetStats().IsUnread()) }>
			<div class="flex items-center card-section">
				<div class="flex flex-1">
					@ViewSubscriptionLink(s)
				</div>
				<div class="flex flex-none">
					@ContextMenu(s.GetTitle() + " Actions") {
						// View action.
						@NewLink(
							WithCustomAttribute("href", s.GetLink()),
							WithCustomAttribute("rel", "noopener"),
							WithCustomAttribute("target", "_blank"),
							WithClasses("context-menu-item-base"),
						) {
							@tabler.ExternalLink(i.Props{Class: "size-4"})
							Feed Website
						}
						// Mark action.
						<form id={ "mark-" + s.GetID() }>
							// MarkURL returns the app URL for marking the subscription.
							{{ var markURL string }}
							if s.GetStats().IsUnread() {
								{{ markURL = "/mark/subscription/" + s.GetID() + "/read" }}
							} else {
								{{ markURL = "/mark/subscription/" + s.GetID() + "/unread" }}
							}
							@NewLink(
								WithHXMethod(http.MethodPost, markURL),
								WithHXInclude("[name='csrf_token']"),
								WithHXTarget("#"+s.GetID()),
								WithHXSwap("outerHTML"),
								WithClasses("context-menu-item-base"),
							) {
								switch s.GetStats().IsUnread() {
									case true:
										@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
										Mark Read
									case false:
										@tabler.MailFilled(i.Props{Class: "size-4"})
										Mark Unread
								}
							}
							// @MarkObjectLink(s, "#"+s.GetID(), "outerHTML", "context-menu-item-base")
						</form>
						// Edit action.
						@NewLink(
							WithHXMethod(http.MethodGet, "/edit/subscription/"+s.GetID()),
							WithHXTarget(ContentID.Target()),
							WithHXSwap("innerHTML show:top"),
							WithHXPushURL(),
							WithClasses("context-menu-item-base"),
						) {
							@tabler.Edit(i.Props{Class: "size-4"})
							Edit Subscription
						}
						// Favorite action. Wrapped in a div that can be targeted for hx-swapping.
						<div id={ "favorite_" + s.GetID() }>
							@ToggleFavorite(s)
						</div>
						// Unsubscribe action.
						@NewLink(
							WithHXMethod(http.MethodGet, "/remove/subscription/"+s.GetID()),
							WithHXTarget(ModalContainerID.Target()),
							WithClasses("context-menu-item-base"),
							WithCustomAttribute("_", "on htmx:afterOnLoad wait 10ms then call document.getElementById('unsubscribe').show()"),
						) {
							@tabler.TrashFilled(i.Props{Class: "size-4"})
							Remove Subscription
						}
						// Report issue action.
						@NewLink(
							WithHXMethod(http.MethodGet, "/issue/subscription/"+s.GetID()),
							WithHXTarget(ContentID.Target()),
							WithClasses("context-menu-item-base"),
						) {
							@tabler.FlagFilled(i.Props{Class: "size-4"})
							Report an issue
						}
					}
				</div>
			</div>
			// Display up to 5 of the subscription categories.
			if len(s.GetCategories(0)) > 0 {
				<div class="flex justify-center">
					<div class="flex flex-row flex-wrap place-content-center p-2 gap-2">
						for category := range slices.Values(s.GetCategories(5)) {
							{{ filters := models.PageFiltersFromCtx(ctx, "/list/subscriptions").Values() }}
							{{ filters[models.ParamCategories] = category }}
							@NewLink(
								WithHXMethod(http.MethodGet, "/list/subscriptions"),
								WithHXTarget(ContentID.Target()),
								WithHXPushURL(),
								WithHXVals(filters),
							) {
								<div class="flex gap-2 capitalize">
									<div class="badge badge-accent badge-soft badge-sm">{ category }</div>
								</div>
							}
						}
					</div>
				</div>
			}
			// Display some subscription metrics.
			<dl class="-my-3 px-6 card-section">
				if user.GetSettings().ShowUnreadCounts {
					<div class="flex justify-between gap-x-4 text-sm/6">
						<dt class="">Unread Count</dt>
						<dd class="text-base-content/90">{ s.GetStats().UnreadTotal() }</dd>
					</div>
				}
				<div class="flex justify-between gap-x-4 text-sm/6">
					<dt class="">Update frequency</dt>
					<dd class="text-base-content/90">{ s.GetStats().DailyUpdateFrequency() }</dd>
				</div>
				<div class="flex justify-between gap-x-4 text-sm/6">
					<dt class="">Last update</dt>
					<dd class="text-base-content/90">{ humanize.Time(s.GetUpdatedDate()) }</dd>
				</div>
			</dl>
		</div>
	</li>
}

templ ViewSubscriptionLink(s subscription) {
	{{ overrides := map[string]string{models.ParamSortBy: string(models.SortByLastUpdated), "subscriptions": s.GetID()} }}
	if s.GetStats().IsUnread() {
		{{ overrides[models.ParamView] = string(models.ViewUnread) }}
	} else {
		{{ overrides[models.ParamView] = string(models.ViewRead) }}
	}
	@NewLink(
		WithHXMethod(http.MethodGet, "/list/articles"),
		WithHXInclude("#content-filters"),
		WithHXVals(overrides),
		WithHXTarget(ContentID.Target()),
		WithHXPushURL(),
		WithHXSwap("innerHTML show:top"),
		WithClasses("flex", "items-center", "gap-x-4", "hover:text-accent"),
	) {
		<div class="flex items-center">
			<div class="mr-4 shrink-0 self-center">
				// Generate a thumbnail to display next to the title.
				if img := s.GetImage(); img != nil {
					// If the source has an image, use that as the avatar.
					<div class="avatar">
						<div class="rounded-box size-12">
							<img
								src={ "/img-proxy/48x48/" + img.GetURL() }
								width="48"
								height="48"
								if img.GetTitle() != "" {
									alt={ img.GetTitle() }
								}
							/>
						</div>
					</div>
				} else {
					// Otherwise, take the first letter of the title and create a placeholder avatar.
					<div class="avatar avatar-placeholder">
						<div class="bg-neutral text-neutral-content w-12 mask mask-squircle">
							<span class="text-3xl capitalize">{ s.GetTitle()[0:1] }</span>
						</div>
					</div>
				}
			</div>
			<div>
				<h4 class="text-lg font-bold line-clamp-2">{ s.GetTitle() }</h4>
			</div>
		</div>
	}
}

templ SubscriptionsGrid(subscriptions models.Subscriptions, pagination models.Pagination) {
	{{ filters := models.PageFiltersFromCtx(ctx, "/list/subscriptions") }}
	@Main() {
		<div class="flex items-center justify-between mt-4">
			// Dynamic title containing view and sort state.
			<div class="min-w-0 flex-1">
				<h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight capitalize">
					// { filters.GetView() }
					Subscriptions
					// switch  {
					// 	case filters.GetSort() == models.SortLastUpdatedDesc:
					// 		Newest First
					// 	case filters.GetSort() == models.SortLastUpdatedAsc:
					// 		Oldest First
					// }
				</h2>
			</div>
			// Actions menu.
			<el-dropdown class="inline-block flex-none">
				<button class="inline-flex flex-col items-center">
					<span class="sr-only">Subscriptions Actions</span>
					@tabler.DotsVertical(i.Props{Class: "size-6"})
				</button>
				<el-menu anchor="bottom end" popover class="context-menu-base">
					<div class="py-1">
						// Mark all subscriptions action.
						@NewLink(
							WithHXMethod(http.MethodPost, "/list/subscriptions/mark"),
							WithHXTarget(ContentID.Target()),
							WithHXInclude("#content-filters,[name='csrf_token']"),
							WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "text-sm", "space-x-2", "focus:text-accent", "focus:outline-hidden"),
						) {
							if models.PageFiltersFromCtx(ctx,"/list/subscriptions").GetView() == models.ViewUnread {
								@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
								<span class="sr-only">Mark All Read</span>
								Mark all Read
							} else {
								@tabler.MailFilled(i.Props{Class: "size-4"})
								<span class="sr-only">Mark All Unread</span>
								Mark all Unread
							}
						}
					</div>
					<div class="py-1">
						@NewLink(
							WithHXMethod(http.MethodGet, "/user/subscription/add"),
							WithHXTarget(ContentID.Target()),
							WithHXPushURL(),
							WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "text-sm", "space-x-2", "focus:text-accent", "focus:outline-hidden"),
						) {
							@tabler.Plus(i.Props{Class: "size-4"})
							Add Subscription
						}
					</div>
				</el-menu>
			</el-dropdown>
		</div>
		// Hidden content filters.
		<div id="content-filters" class="hidden">
			<input type="hidden" name={ models.ParamCount } value={ filters.GetCount() }/>
			<input type="hidden" name={ models.ParamView } value={ filters.GetView() }/>
			<input type="hidden" name={ models.ParamSortBy } value={ string(filters.GetSort().SortBy) }/>
			<input type="hidden" name={ models.ParamSortOrder } value={ string(filters.GetSort().SortOrder) }/>
			if len(filters.GetCategories()) > 0 {
				<input type="hidden" name={ models.ParamCategories } value={ strings.Join(filters.GetCategories(), ",") }/>
			}
			if len(filters.GetSubscriptions()) > 0 {
				<input type="hidden" name={ models.ParamSubscriptions } value={ strings.Join(filters.GetSubscriptions(), ",") }/>
			}
		</div>
		<div id="update-notifications" sse-connect={ "/list/subscriptions/updates?" + filters.QueryParams().Encode() } sse-swap="message" class="toast toast-center z-50"></div>
		@FilterControls(subscriptions.GetCategoryCounts(), filters)
		<section class="mt-4">
			@Grid() {
				@SubscriptionsList(subscriptions, pagination)
			}
		</section>
	}
}

templ SubscriptionsList(subscriptions models.Subscriptions, pagination models.Pagination) {
	{{ filters := models.PageFiltersFromCtx(ctx, "/list/subscriptions") }}
	for subscription := range slices.Values(subscriptions) {
		@SubscriptionCard(subscription)
	}
	if pagination != "" && len(subscriptions) == filters.GetCount() {
		// Add pagination htmx props to last article.
		@PaginationControl(ctx, "/list/subscriptions/paginate", pagination)
	}
}

// SubscriptionsDockActions renders additional actions in the sidebar for acting on a list of subscriptions.
templ SubscriptionsDockActions() {
	<div class="items-center">
		<el-dropdown class="inline-block">
			<button class="inline-flex flex-col items-center">
				@tabler.Menu(i.Props{Class: "size-6"})
				<span class="dock-label">Actions</span>
			</button>
			<el-menu anchor="bottom end" popover class="context-menu-base">
				<div class="py-1">
					// Mark all subscriptions action.
					@NewLink(
						WithHXMethod(http.MethodPost, "/list/subscriptions/mark"),
						WithHXTarget(ContentID.Target()),
						WithHXInclude("#content-filters,[name='csrf_token']"),
						WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "text-sm", "space-x-2", "focus:text-accent", "focus:outline-hidden"),
					) {
						if models.PageFiltersFromCtx(ctx,"/list/subscriptions").GetView() == models.ViewUnread {
							@tabler.MailOpenedFilled(i.Props{Class: "size-4"})
							<span class="sr-only">Mark All Read</span>
							Mark all Read
						} else {
							@tabler.MailFilled(i.Props{Class: "size-4"})
							<span class="sr-only">Mark All Unread</span>
							Mark all Unread
						}
					}
				</div>
				<div class="py-1">
					@NewLink(
						WithHXMethod(http.MethodGet, "/user/subscription/add"),
						WithHXTarget(ContentID.Target()),
						WithHXPushURL(),
						WithClasses("group/item", "flex", "items-center", "px-4", "py-2", "text-sm", "space-x-2", "focus:text-accent", "focus:outline-hidden"),
					) {
						@tabler.Plus(i.Props{Class: "size-4"})
						Add Subscription
					}
				</div>
			</el-menu>
		</el-dropdown>
	</div>
}

// SubscriptionsSidebarActions renders additional actions in the sidebar for acting on a list of subscriptions.
templ SubscriptionsSidebarActions() {
	// Mark all subscriptions action.
	<li>
		@NewLink(
			WithHXMethod(http.MethodPost, "/list/subscriptions/mark"),
			WithHXTarget(ContentID.Target()),
			WithHXInclude("#content-filters,[name='csrf_token']"),
			WithClasses("group link link-hover hover:text-accent flex flex-col items-center p-2 text-xs/5 font-semibold text-center"),
		) {
			if models.PageFiltersFromCtx(ctx,"/list/subscriptions").GetView() == models.ViewUnread {
				@tabler.MailOpenedFilled(i.Props{Class: "size-6 shrink-0 text-current"})
				<span class="sr-only">Mark All Read</span>
				Mark all Read
			} else {
				@tabler.MailFilled(i.Props{Class: "size-6 shrink-0 text-current"})
				<span class="sr-only">Mark All Unread</span>
				Mark all Unread
			}
		}
	</li>
	// Add new subscription action.
	<li>
		@NewLink(
			WithHXMethod(http.MethodGet, "/user/subscription/add"),
			WithHXTarget(ContentID.Target()),
			WithHXPushURL(),
			WithClasses("group link link-hover hover:text-accent flex flex-col items-center p-2 text-xs/5 font-semibold text-center"),
		) {
			@tabler.Plus(i.Props{Class: "size-6 shrink-0 text-current	"})
			Add Subscription
		}
	</li>
}

templ EditSubscription(request *models.EditSubscriptionRequest) {
	@Main() {
		<div class="min-w-0 flex-1 pb-8">
			<h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight capitalize">Editing { request.Nickname }</h2>
		</div>
		if request.HasError() {
			<div role="alert" class="alert alert-error alert-outline mt-12">
				<div class="px-4 py-5 sm:p-6 space-y-4">
					<span class="gap-y-2">
						<p class="font-semibold text-base">Invalid Details</p>
						<p class="text-sm">There is a problem with the details. Please check and try again.</p>
					</span>
				</div>
			</div>
		}
		<div class="space-y-8">
			<form
				id="edit-subscription"
				hx-post={ "/edit/subscription/" + request.GetID() }
				hx-include="[name='user_categories'],[name='show_full_article_content'],[id='article_category_filters'],[id='article_author_filters'],[name='csrf_token']"
				hx-swap="none"
				hx-indicator="#processing"
			>
				<input type="hidden" name={ models.ParamSubscriptionID } value={ request.SubscriptionID }/>
				// Nickname.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<h2 class="text-base/7 font-semibold">Nickname</h2>
						<p class="mt-1 text-sm/6 text-base-content/60">A friendly name for this subscription.</p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input id="nickname" required type="text" name="user_nickname" value={ request.GetNickname() } placeholder="My Subscription" class="input input-primary bg-base-content/10"/>
						</div>
					</div>
				</div>
				// Filtering.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<h2 class="text-base/7 font-semibold">Filtering</h2>
						<div class="flex items-center">
							<p class="mt-1 text-sm/6 text-base-content/60">Filter articles by keywords/text in fields.</p>
							@HelpPopover("subscription-filters-help", "top end") {
								<div class="card-body">
									<p>By default words are matched with OR (i.e., cats dogs will match cats OR dogs). The following operators can be used for more refined searches:</p>
									<p>+ signifies AND operation (i.e., food AND beverages)</p>
									<p>| signifies OR operation (i.e., food OR beverages)</p>
									<p>- negates a the word (i.e., NOT alcoholic)</p>
									<p>"" represents an exact phrase match (i.e., "rum-based drinks")</p>
									<p>* at the end of indicates a prefix match (i.e., match bird, birding and birds)</p>
								</div>
							}
						</div>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="sm:col-span-full mt-2">
							<div class="input input-primary bg-base-content/10">
								<label for="name" class="block text-xs font-medium">Text:</label>
								<input id="article_text_filters" type="text" name="article_filters.text" value={ request.ArticleFilters.Text } placeholder="Text..." class="block w-full"/>
							</div>
						</div>
						<div class="sm:col-span-full mt-2">
							<div class="input input-primary bg-base-content/10">
								<label for="name" class="block text-xs font-medium">Categories:</label>
								<input id="article_category_filters" type="text" name="article_filters.categories" value={ request.ArticleFilters.Categories } placeholder="Categories..." class="block w-full"/>
							</div>
						</div>
						<div class="sm:col-span-full mt-2">
							<div class="input input-primary bg-base-content/10">
								<label for="name" class="block text-xs font-medium">Authors:</label>
								<input id="article_author_filters" type="text" name="article_filters.authors" value={ request.ArticleFilters.Authors } placeholder="Authors..." class="block w-full"/>
							</div>
						</div>
					</div>
				</div>
				// Full article content toggle.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<h2 class="text-base/7 font-semibold">Always Show Full Article Content</h2>
						<div class="flex items-center">
							<p class="mt-1 text-sm/6 text-base-content/60">
								Always fetch and show article content from original site.
							</p>
							@HelpPopover("show-full-article-help", "top end") {
								<div class="card-body">
									<p>If articles in the subscription are only showing a summary, set this toggle to attempt to fetch the full content from the website.</p>
									<p>Note: fetching full content is based on a heuristic that tries to locate the article content on the page. It does not always produce optimal results.</p>
								</div>
							}
						</div>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input
								type="checkbox"
								if request.ShowFullArticleContent {
									checked="checked"
								}
								name="show_full_article_content"
								class="toggle toggle-sm toggle-primary"
							/>
						</div>
					</div>
				</div>
			</form>
			// Categories
			{{ categoryMgmtPath := "/user/subscription/category" }}
			@CategoryManagement(categoryMgmtPath, nil, request.Categories)
			// Action buttons.
			<div class="flex flex-1 items-center justify-end gap-x-6">
				<div id="processing" class="htmx-indicator">
					Processing...
					<span class="loading loading-spinner loading-md"></span>
				</div>
				<button type="button" onclick="history.back()" class="btn btn-secondary btn-soft">Back</button>
				<button type="submit" form="edit-subscription" class="btn btn-primary btn-soft">Save</button>
			</div>
		</div>
	}
}

templ EditSubscriptionSuccessNotification(subscription subscription) {
	@Notification(&models.UserMessage{
		Status:  models.UserMessageStatusSuccess,
		Summary: subscription.GetTitle() + " updated",
	}, 15*time.Second) {
		<div class="mt-3 flex space-x-7">
			<button
				type="button"
				class="rounded-md text-sm font-medium hover:bg-accent/20 hover:text-accent-content focus:outline-2 focus:outline-offset-2 focus:outline-primary"
				hx-get="/list/subscriptions"
				hx-target={ ContentID.Target() }
				hx-push-url="true"
				_={ "on click remove #" + GetNotificationIDFromCtx(ctx) }
			>Go to subscriptions <span aria-hidden="true">&rarr;</span></button>
		</div>
	}
}

// AddSubscription is a page for adding a new subscription.
templ AddSubscription(request *models.SubscriptionRequest) {
	@Main() {
		<div class="min-w-0 flex-1 pb-8">
			<h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight capitalize">Add A Subscription</h2>
		</div>
		if request.HasError() {
			<div role="alert" class="alert alert-error alert-outline mt-12">
				<div class="px-4 py-5 sm:p-6 space-y-4">
					<span class="gap-y-2">
						<p class="font-semibold text-base">Invalid Details</p>
						<p class="text-sm">There is a problem with the details. Please check and try again.</p>
					</span>
				</div>
			</div>
		}
		<div class="space-y-8">
			<form
				id="add-subscription"
				hx-post="/user/subscription/add"
				hx-swap="none"
				hx-include="[name='user_categories'],[name='csrf_token']"
				hx-indicator="#processing"
				hx-on::after-request="if(event.detail.successful) this.reset()"
			>
				// URL.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<h2 class="text-base/7 font-semibold">Feed Website or URL</h2>
						<p class="mt-1 text-sm/6 text-base-content/60">Required. The feed's URL or website (feed detection from a website URL may or may not work).</p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="col-span-full mt-2">
							<input
								id="url"
								required
								type="url"
								name="url"
								value={ request.URL }
								placeholder="https://my-favorite-site/feed"
								class="input input-primary bg-base-content/10 w-full"
							/>
							if request.URLErr != nil {
								<p class="text-error py-2 text-xs/4 font-semibold">Error: { request.URLErr.Error() }</p>
							}
						</div>
					</div>
				</div>
				// Nickname.
				<div class="grid grid-cols-1 gap-x-8 py-6 md:grid-cols-3 items-center">
					<div>
						<h2 class="text-base/7 font-semibold">Feed Nickname</h2>
						<p class="mt-1 text-sm/6 text-base-content/60">Optional. A Friendly name for the subscription. Will use the feed's name if not specified.</p>
					</div>
					<div class="grid max-w-2xl grid-cols-1 sm:grid-cols-6 md:col-span-2">
						<div class="sm:col-span-4 mt-2">
							<input
								id="nickname"
								type="text"
								name="user_nickname"
								value={ request.Nickname }
								placeholder="My cool subscription"
								class={ templ.KV("input input-primary bg-base-content/10",request.NicknameErr == nil), templ.KV("input input-error bg-base-content/10",request.NicknameErr !=nil) }
							/>
							if request.NicknameErr != nil {
								<p class="text-error py-2 text-xs/4 font-semibold">{ request.NicknameErr.Error() }</p>
							}
						</div>
					</div>
				</div>
			</form>
			// Categories
			{{ categoryMgmtPath := "/user/subscription/category" }}
			@CategoryManagement(categoryMgmtPath, nil, request.Categories)
			// Action buttons.
			<div class="flex flex-1 items-center justify-end gap-x-6">
				<div id="processing" class="htmx-indicator">
					Processing...
					<span class="loading loading-spinner loading-md"></span>
				</div>
				<button type="button" onclick="history.back()" class="btn btn-secondary btn-soft">Back</button>
				<button type="submit" form="add-subscription" class="btn btn-primary btn-soft">Add</button>
			</div>
		</div>
	}
}

// ImportPage is a page for importing subscriptions from an external source (e.g., an OPML file).
templ ImportSubscriptions() {
	@Main() {
		<div class="md:flex md:items-center md:justify-between">
			<div class="min-w-0 flex-1">
				<h2 class="text-2xl/7 font-bold sm:text-3xl sm:tracking-tight">Import Subscriptions</h2>
			</div>
			<p class="mt-2 max-w-4xl text-sm sm:truncate text-base-content/80">
				You can import your existing subscriptions from an OPML file. Most feed services support generating an OPML file you can use.
			</p>
		</div>
		<div class="border-base-content/10 sm:divide-base-content/10 sm:border-t-base-content/10 mt-10 space-y-8 pb-12 sm:space-y-0 sm:divide-y sm:border-t sm:pb-0">
			<form
				id="import"
				hx-encoding="multipart/form-data"
				hx-post="/user/import"
				hx-target="#import-results"
				hx-include="[name='csrf_token']"
				hx-indicator="#processing"
			>
				<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
					<label for="source" class="block text-sm/6 font-medium">OPML file</label>
					<div class="mt-2 sm:col-span-2 sm:mt-0">
						<input id="source" type="file" required name="source" class="file-input file-input-primary bg-base-content/10"/>
					</div>
				</div>
				<div class="mt-6 flex items-center justify-end gap-x-6">
					<div id="processing" class="htmx-indicator">
						Processing...
						<span class="loading loading-spinner loading-md"></span>
					</div>
					<button
						type="button"
						onclick="history.back()"
						class="btn btn-secondary btn-soft"
					>
						Back
					</button>
					<button
						type="submit"
						class="btn btn-primary btn-soft"
					>
						Import
					</button>
				</div>
			</form>
		</div>
		<div id="import-results" class="space-y-4"></div>
	}
}

// ImportResults is a partial template that displays the results of an import.
templ ImportResults(results []*models.SubscriptionResult) {
	{{ successfulResults := filterSuccessfulResults(results) }}
	{{ failedResults := filterUnsuccessfulResults(results) }}
	<div class="min-w-0 flex-1 pb-8">
		<h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight capitalize">Import Results</h2>
	</div>
	<p class="mt-2 max-w-4xl text-sm sm:truncate text-base-content/80">
		{ "Imported: " + strconv.Itoa(len(successfulResults)) + " Failed: " + strconv.Itoa(len(failedResults)) }
	</p>
	@NewButton(
		WithHXMethod(http.MethodGet, "/list/subscriptions"),
		WithHXTarget(ContentID.Target()),
		WithHXVals(models.PageFiltersFromCtx(ctx, "/list/subscriptions").Values()),
		WithClasses("btn-primary"),
	) {
		Go to your subscriptions
	}
	<div class="mt-10 space-y-8 border-t border-neutral">
		<ul class="list">
			for response := range slices.Values(slices.Concat(successfulResults,failedResults)) {
				<li class="list-row items-center">
					switch response.Message.Status {
						case models.UserMessageStatusSuccess:
							@tabler.CircleCheck(i.Props{Class: "size-10 text-success"})
							<div>
								<div>{ response.Message.Summary }</div>
							</div>
						case models.UserMessageStatusError:
							@tabler.ExclamationCircle(i.Props{Class: "size-10 text-error"})
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
						case models.UserMessageStatusWarning:
							@tabler.AlertTriangle(i.Props{Class: "size-10 text-warning"})
							<div>
								<div>{ response.Message.Summary }</div>
								if response.Message.HasDetails() {
									<p class="list-col-wrap text-xs">
										{ response.Message.Details }
									</p>
								}
							</div>
					}
				</li>
			}
		</ul>
	</div>
	<button class="btn btn-neutral fixed right-0 bottom-0 m-4" href={ ContentID.Target() }>Back to top</button>
}

func filterSuccessfulResults(results []*models.SubscriptionResult) []*models.SubscriptionResult {
	return slices.Collect(models.FilterSlice(results, func(result *models.SubscriptionResult) bool {
		return result.Message.Status == models.UserMessageStatusSuccess
	}))
}

func filterUnsuccessfulResults(results []*models.SubscriptionResult) []*models.SubscriptionResult {
	return slices.Collect(models.FilterSlice(results, func(result *models.SubscriptionResult) bool {
		return result.Message.Status != models.UserMessageStatusSuccess
	}))
}

// ExportSubscriptions renders a form for exporting all subscriptions as an OPML file.
templ ExportSubscriptions() {
	@Main() {
		<div class="md:flex md:items-center md:justify-between mt-8">
			<div class="min-w-0 flex-1">
				<h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight">Export Subscriptions</h2>
			</div>
		</div>
		<p class="mt-2 max-w-4xl text-sm text-base-content/80">
			You can export your current subscription to an OPML file, which all good feed readers can import.
		</p>
		<div class="mt-10 space-y-8">
			<div class="mt-6 flex items-center justify-end gap-x-6">
				<button type="button" onclick="history.back()" class="btn btn-secondary btn-soft">
					Back
				</button>
				<a
					role="button"
					class="btn btn-primary btn-soft"
					href="/user/export/opml"
					download
				>
					Export
				</a>
			</div>
		</div>
		<center id="processing" class="htmx-indicator">
			Processing, this could take a few minutes...
			<span class="loading loading-spinner loading-md"></span>
		</center>
	}
}
