// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/config"
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web"
	"github.com/immanent-tech/foragd/web/htmx"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"github.com/immanent-tech/foragd/web/templates/slots"
	"github.com/immanent-tech/go-syndication/opengraph"
	"path/filepath"
	"slices"
)

var (
	// ContentID points to the element containing the main content of the page.
	ContentID = models.ElementID("content")
	// NotificationsID points to an element that can be used for displaying notifications to the user.
	NotificationsID = models.ElementID("notifications")
)

type templFragmentKey string

const (
	// BodyFragment is a fragment key pointing to tbe body section of a page.
	BodyFragment templFragmentKey = "body"
	// ContentFragment is a fragment key pointing to the main content of a page.
	ContentFragment templFragmentKey = "content"
	// PaginateFragment is a fragment key pointing to the content to render when paginating.
	PaginateFragment templFragmentKey = "paginate"
)

// Page contains data for rendering a full HTML page.
type Page struct {
	// Component is the main body content of the page.
	Component templ.Component
	// Title is a string for the (browser) titlebar.
	Title string
	// Description adds a meta tag with the given text.
	Description string
	// OGMetadata contains the Opengraph metadata for the page.
	OpenGraph *opengraph.OpenGraph
	// CanonicalLink is the link that will be used with <link rel="canonical> on the page.
	CanonicalLink string
}

// PageOption is a functional option applied to a page.
type PageOption func(*Page)

// WithPageTitle option sets the page title (displayed in the browser titlebar).
func WithPageTitle(title string) PageOption {
	return func(p *Page) {
		p.Title = config.AppName + " | " + title
	}
}

// WithPageDescription option sets a description meta tag in the page header.
func WithPageDescription(desc string) PageOption {
	return func(p *Page) {
		p.Description = desc
	}
}

// WithOpenGraphMetadata option sets the given metadata as appropriate Open Graph tags in the page header.
func WithOpenGraphMetadata(metadata *opengraph.OpenGraph) PageOption {
	return func(p *Page) {
		p.OpenGraph = metadata
	}
}

// WithCanonicalLink sets the <link rel="canonical> link for the page.
func WithCanonicalLink(link string) PageOption {
	return func(p *Page) {
		p.CanonicalLink = link
	}
}

// CreatePage creates a new page with the given body template and additional options.
templ CreatePage(template templ.Component, options ...PageOption) {
	// Build page with specified options.
	{{
		p := &Page{
			Component:   template,
			Title:       config.AppName,
			Description: config.AppDescription,
			OpenGraph:   NewOpenGraphMetadata(),
		}

		for option := range slices.Values(options) {
			option(p)
		}
	}}
	// Render page.
	<!DOCTYPE html>
	<html
		lang="en"
		_="on load
             set theme to localStorage.getItem('theme')
             if theme set @data-theme of me to theme else set @data-theme of me to 'greenhouse' end"
	>
		<head>
			<meta charset="UTF-8"/>
			<meta name="description" content={ p.Description }/>
			<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, interactive-widget=resizes-visual"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width"/>
			if p.OpenGraph != nil {
				@templ.Raw(p.OpenGraph.String())
			}
			if p.CanonicalLink != "" {
				<link rel="canonical" href={ p.CanonicalLink }/>
			} else {
				<link rel="canonical" href="https://foragd.app/"/>
			}
			//  iOS Safari Full screen.
			<meta name="apple-mobile-web-app-capable" content="yes"/>
			<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
			<meta name="apple-mobile-web-app-title" content="Foragd"/>
			//  Chrome Android Full screen.
			<meta name="mobile-web-app-capable" content="yes"/>
			//  Web app manifest.
			<link rel="manifest" href="/content/manifest.json"/>
			// Favicons.
			<link rel="apple-touch-icon" href="/content/apple-touch-icon.png"/>
			<link rel="icon" href="/content/favicon.svg" type="image/svg+xml"/>
			<link rel="shortcut icon" href="/content/favicon.ico" type="image/x-icon"/>
			// RSS feed.
			<link rel="alternate" type="application/rss+xml" title="Foragd RSS Feed" href="https://foragd.app/feed"/>
			// Performance.
			<link rel="preconnect" href="https://imgproxy.foragd.app"/>
			<link rel="preconnect" href="https://cdn.jsdelivr.net"/>
			<link rel="dns-prefetch" href="//auth.foragd.app"/>
			<link rel="preload" href="/content/fonts/inter/InterVariable.woff2" crossorigin as="font"/>
			<link rel="preload" href="/content/fonts/tex-gyre/pagella/texgyrepagella-bold.woff2" crossorigin as="font"/>
			<link rel="preload" href="/content/fonts/nunito/nunito-v32-latin-600.woff2" crossorigin as="font"/>
			<link rel="preload" href="/content/fonts/nunito/nunito-v32-latin-700.woff2" crossorigin as="font"/>
			// <link rel="preload" href={ "/content/fonts/inter/inter.css?v=" + config.GetVersion() } as="style" onload="this.onload=null;this.rel='stylesheet'"/>
			// <noscript><link rel="stylesheet" href={ "/content/fonts/inter/inter.css?v=" + config.GetVersion() }/></noscript>
			<link rel="stylesheet" href={ "/content/fonts/inter/inter.css?v=" + config.GetVersion() }/>
			<link rel="stylesheet" href={ "/content/fonts/tex-gyre/pagella/pagella.css?v=" + config.GetVersion() }/>
			<link rel="stylesheet" href={ "/content/fonts/nunito/nunito.css?v=" + config.GetVersion() }/>
			// Load style bundles from embedded FS.
			for styleFile := range slices.Values(web.GetStyleFilenames()) {
				// <link rel="preload" href={ filepath.Join("/content", styleFile+"?v="+config.GetVersion()) } as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				// <noscript><link rel="stylesheet" href={ filepath.Join("/content", styleFile+"?v="+config.GetVersion()) }/></noscript>
				<link rel="stylesheet" href={ filepath.Join("/content", styleFile+"?v="+config.GetVersion()) }/>
			}
			// Load script bundles from embedded FS.
			for scriptFile := range slices.Values(web.GetScriptFilenames()) {
				<script src={ filepath.Join("/content", scriptFile+"?v="+config.GetVersion()) } type="module"></script>
			}
			<script type="text/hyperscript" src="/content/scripts.hs"></script>
			<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" integrity="sha384-E7dy6eN+cKffMM/2+QF5MMP1q8KS0AT4IlmT4v3mG2mNZ7ISeLRPdlHrlWJK/8yx" type="module" crossorigin="anonymous"></script>
			if config.IsProduction() {
				<script defer src="https://cloud.umami.is/script.js" data-website-id="24250832-ccab-4bbc-bef9-6ba418e0ea51" crossorigin="anonymous"></script>
			}
			<link rel="preconnect" href="https://challenges.cloudflare.com"/>
			// Site-wide htmx config.
			<meta
				name="htmx-config"
				content={ templ.JSONString(htmx.Config{
				AllowNestedOOBSwaps: false,
				ResponseHandling: []*htmx.ResponseHandling{
					// Don't swap on no content.
					{Code: "204",Swap: false},
					// Swap all ok responses.
					{Code:"[23]..",Swap: true},
					// Swap for unprocessable inputs.
					{Code:"422",Swap: true},
					// Swap on errors.
					{Code: "[45]..",Swap: true,Error: true},
					// All other status should not swap.
					{Code:"...",Swap: false},
				},
				InlineStyleNonce: templ.GetNonce(ctx),
				InlineScriptNonce: templ.GetNonce(ctx),
				IncludeIndicatorStyles: false,
				HistoryRestoreAsHxRequest: false,
				GlobalViewTransitions: false,
				HistoryCacheSize: 10,
			}) }
			/>
			// Insert any additional header, if defined.
			if slots.HasSlot(ctx,slots.Header) {
				@slots.GetSlot(ctx, slots.Header)
			}
			<title>{ p.Title }</title>
		</head>
		<body
			class="flex h-full flex-col bg-base-100"
			_="on every htmx:beforeSend in <button:not(.no-disable)/> tell it toggle [@disabled='true'] until htmx:afterOnLoad end"
		>
			// log 'restoring scroll to ' + savedY
			<noscript>Foragd requires Javascript to function. Please enable or allow Javascript to run for the foragd.app domain.</noscript>
			// Hidden input to get and store user timezone from browser.
			<input id="timezone" type="hidden" name="timezone" _="init set my value to Intl.DateTimeFormat().resolvedOptions().timeZone"/>
			// Container for modals.
			<div id={ partials.ModalContainerID.String() }></div>
			// Main page content.
			@templ.Fragment(BodyFragment) {
				@p.Component
			}
			// Notifications.
			<div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end sm:items-start z-999">
				<div id={ NotificationsID.String() } class="flex w-full flex-col items-center space-y-4 m-4 sm:items-end"></div>
			</div>
		</body>
	</html>
}

templ UpdateTitle(title string) {
	<title>{ config.AppName + " | " + title }</title>
}

// NewMetadata creates a new opengraph Metadata object with properties set to values given by the options. Where a
// property is not set by an option, a default value will be used.
func NewOpenGraphMetadata(options ...opengraph.Option) *opengraph.OpenGraph {
	og := &opengraph.OpenGraph{
		Title:       config.AppName,
		ObjectType:  "website",
		URL:         config.GetBaseURL(),
		Image:       config.GetBaseURL() + "/content/logo-color.webp",
		Description: new(config.AppDescription),
	}
	for option := range slices.Values(options) {
		option(og)
	}
	return og
}
