// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import "github.com/immanent-tech/foragd/web/templates/element"

// UpdatesToast renders a toast notification to inform the user that updated content is available.
templ UpdatesToast(options ...element.PropertiesOption) {
	{{ props := element.NewProperties(options...) }}
	<div
		id="updates-toast"
		role="alert"
		class="z-99 alert alert-outline alert-soft alert-info"
	>
		<span>New updates available.</span>
		<div>
			<button
				class="btn btn-square btn-soft btn-sm btn-info"
				{ props.Attributes()... }
				_="on click scroll to the top of the body smoothly"
			>
				<span class="sr-only">Refresh</span>
				<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="hide-loading icon icon-tabler icons-tabler-outline icon-tabler-refresh size-4 text-info">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
				</svg>
				<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="show-loading icon icon-tabler icons-tabler-outline icon-tabler-refresh size-4 animate-spin text-info">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
				</svg>
			</button>
			<button class="btn btn-square btn-soft btn-sm btn-info" _="on click remove #updates-toast">
				<span class="sr-only">Close</span>
				<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x size-4 text-info">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"></path>
				</svg>
			</button>
		</div>
	</div>
}
