// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/config"
	"github.com/immanent-tech/foragd/models"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
)

templ planSelection(action, method, selectedID, selectedText string) {
	<div class="join join-vertical sm:join-horizontal w-full justify-center items-center">
		<div class="card w-96 bg-base-100 shadow-sm join-item">
			<div class="card-body">
				if selectedID == "Gatherer-85297d6" {
					<span class="badge badge-xs badge-primary">{ selectedText }</span>
				}
				<div class="flex justify-between">
					<h2 class="text-3xl font-bold">Gatherer</h2>
					<span class="text-xl">USD $4/mo</span>
				</div>
				<p class="mt-4 text-sm/6">Perfect for keeping up with the latest news feeds.</p>
				<ul class="mt-6 flex flex-col gap-2 text-xs">
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Last week article history</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>15 subscriptions</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Personal use only</span>
					</li>
				</ul>
				<div class="mt-6">
					<form action={ action } method={ method }>
						@UpdateCSRFToken()
						<input type="hidden" name={ models.ParamPlanID } value="Gatherer-85297d6"/>
						<button id="checkout-gatherer" type="submit" class="btn btn-accent btn-block">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
		<div class="card w-96 bg-base-100 shadow-sm join-item">
			<div class="card-body">
				if selectedID == "Collector-07ad4d0" {
					<span class="badge badge-xs badge-primary">{ selectedText }</span>
				}
				<div class="flex justify-between">
					<h2 class="text-3xl font-bold">Collector</h2>
					<span class="text-xl">USD $8/mo</span>
				</div>
				<p class="mt-4 text-sm/6">Great for following the news and your favorite blogs/content sites.</p>
				<ul class="mt-6 flex flex-col gap-2 text-xs">
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Last six months article history</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>150 subscriptions</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Subscription/Article favorites</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-warning"})
						<span>Selected new features as they are released</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Personal use only</span>
					</li>
				</ul>
				<div class="mt-6">
					<form action={ action } method={ method }>
						@UpdateCSRFToken()
						<input type="hidden" name={ models.ParamPlanID } value="Collector-07ad4d0"/>
						<button id="checkout-collector" type="submit" class="btn btn-accent btn-block">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
		<div class="card w-96 bg-base-100 shadow-sm join-item">
			<div class="card-body">
				if selectedID == "Curator-2c67637" {
					<span class="badge badge-xs badge-primary">{ selectedText }</span>
				}
				<div class="flex justify-between">
					<h2 class="text-3xl font-bold">Curator</h2>
					<span class="text-xl">USD $20/mo</span>
				</div>
				<p class="mt-4 text-sm/6">Extensive article history and all current and new features.</p>
				<ul class="mt-6 flex flex-col gap-2 text-xs">
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Last two years article history</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Unlimited subscriptions</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Group subscriptions</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Search subscriptions</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>Subscription/Article favorites</span>
					</li>
					<li>
						@tabler.Check(i.Props{Class: "size-4 me-2 inline-block text-success"})
						<span>All new features as they are released</span>
					</li>
				</ul>
				<div class="mt-6">
					<form action={ action } method={ method }>
						@UpdateCSRFToken()
						<input type="hidden" name={ models.ParamPlanID } value="Curator-2c67637"/>
						<button id="checkout-curator" type="submit" class="btn btn-accent btn-block">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}

// UserChooseSubscriptionPlanPage renders a full page for the user to choose their subscription plan, with any
// previously selected option highlighted. This is displayed after a user account has been created (in Auth0) and
// redirects the user to Stripe for payment.
templ UserChooseSubscriptionPlanPage(planID string) {
	@Page("Choose a Subscription Plan - "+config.AppName, nil) {
		@main() {
			<div class="mx-auto max-w-4xl text-center mb-16">
				<h1 id="pricing" class="text-lg sm:text-xl/8 font-semibold text-primary mb-16">Choose your plan.</h1>
				<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">You'll be taken to Stripe to finalise your account.</p>
				<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">Entering payment details is optional. You can start a trial today and pay later.</p>
			</div>
			@planSelection(models.RouteCheckoutSubscriptionPlan, "post", planID, "Selected")
		}
	}
}

// UserAccountIssuePage renders a full page with a message to the user indicating that their account has an issue that
// needs support to resolve. Usually, this will be displayed when a subscription plan payment has failed and requires
// manual intervention.
templ UserAccountIssuePage() {
	@Page("Account Issue - "+config.AppName, nil) {
		@main() {
			<div class="mx-auto max-w-4xl text-center mb-16">
				<h1 class="text-lg sm:text-xl/8 font-semibold text-primary mb-16">There is a problem with your account.</h1>
				<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">We cannot log you in as there is a problem with your account details.</p>
				<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">Please contact us to resolve all issues.</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					@NewLink(
						WithCustomAttribute("role", "button"),
						WithCustomAttribute("href", "/"),
						WithClasses("btn", "btn-primary"),
					) {
						Go Back
					}
					@NewMailtoLink(
						"support@immanent.tech",
						WithMailtoSubject("Foragd Account Issue"),
						WithLinkOptions(
							WithCustomAttribute("role", "button"),
							WithClasses("btn", "btn-ghost"),
						),
					) {
						Email Support <span aria-hidden="true">&rarr;</span>
					}
				</div>
			</div>
		}
	}
}
