// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/helpers/mailto"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"os"
)

// UserChooseSubscriptionPlanPage renders a full page for the user to choose their subscription plan, with any
// previously selected option highlighted. This is displayed after a user account has been created (in Auth0) and
// redirects the user to Stripe for payment.
templ UserChooseSubscriptionPlan(user *models.User, planID string) {
	@container() {
		if user != nil && user.Active() {
			// User has an active plan, show them an action to manage it.
			<div class="mx-auto max-w-4xl text-center mb-16">
				<h1 id="pricing" class="text-lg sm:text-xl/8 font-semibold text-primary mb-16">You already have an active plan.</h1>
				if mgmtLink := os.Getenv("FORAGD_STRIPE_SUBCRIPTIONMGMTURL"); mgmtLink != "" {
					<a role="button" class="btn btn-primary" href={ mgmtLink }>Manage Subscription Plan</a>
				} else {
					<a
						role="button"
						href={ mailto.Build("support@immanent.tech", mailto.WithSubject("Foragd Subscription Question")) }
						class="btn btn-primary"
					>
						Email support to manage your subscription
					</a>
				}
			</div>
		} else {
			// Show the user the plan options.
			<div class="mx-auto max-w-4xl text-center mb-16">
				<h1 id="pricing" class="text-lg sm:text-xl/8 font-semibold text-primary mb-16">Choose your plan.</h1>
				<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">You'll be taken to Stripe to finalise your account.</p>
				<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">Entering payment details is optional. You can start a trial today and pay later.</p>
			</div>
			@pricingGrid(models.RouteCheckout, "post", planID, "Selected")
		}
	}
}

// UserAccountIssuePage renders a full page with a message to the user indicating that their account has an issue that
// needs support to resolve. Usually, this will be displayed when a subscription plan payment has failed and requires
// manual intervention.
templ UserAccountIssue() {
	@container() {
		<div class="mx-auto max-w-4xl text-center mb-16">
			<h1 class="text-lg sm:text-xl/8 font-semibold text-primary mb-16">There is a problem with your account.</h1>
			<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">We cannot log you in as there is a problem with your account details.</p>
			<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">Please contact us to resolve all issues.</p>
			<div class="mt-10 flex items-center justify-center gap-x-6">
				@partials.ButtonBack()
				<a
					role="button"
					href={ mailto.Build("support@immanent.tech", mailto.WithSubject("Foragd Account Issue")) }
					class="btn btn-ghost"
				>
					Email Support <span aria-hidden="true">&rarr;</span>
				</a>
			</div>
		</div>
	}
}

templ DeactivateAccountModal() {
	{{ id := "deactivate-account" }}
	@partials.Modal(id, true) {
		<div class="sm:flex sm:items-start">
			<span class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full sm:mx-0 sm:size-10">
				<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle size-12">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v4"></path><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0"></path><path d="M12 16h.01"></path>
				</svg>
			</span>
			<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
				<h3 id="dialog-title" class="text-lg font-medium">Deactivate Account Confirmation</h3>
				<div class="mt-2">
					<p class="text-sm">Are you sure you want to deactivate your account?</p>
				</div>
			</div>
		</div>
		<div class="mt-5 sm:mt-4 sm:flex sm:justify-end gap-x-2">
			<button
				type="button"
				_={ "on htmx:afterRequest(successful) close() on #" + id }
				class="btn btn-ghost"
			>Cancel</button>
			<a
				role="button"
				href="/user/deactivate?confirmed=yes"
				class="btn btn-error"
			>Yes</a>
		</div>
	}
}

templ UserAvatar(user *models.User, attributes templ.Attributes) {
	@partials.NewProxiedImage(models.NewRemoteImage(user.GetAvatar(), "Avatar for user "+user.GetNickname()),
		"rs:auto:48:48/sh:0.5/ext:webp",
		element.WithClasses("mask mask-squircle"),
		element.WithAttribute("width", "48"),
		element.WithAttribute("height", "48"),
		element.WithID("user-avatar"),
		element.WithAttributes(attributes),
	)
}

templ Unsubscribe(token string) {
	@content() {
		@container() {
			<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">Unsubscribe</h1>
			<p>
				If you wish to unsubscribe from promotional emails from Foragd, click the following button.
			</p>
			<p>
				You will still recieve important administrative and account-related emails.
			</p>
			<div id="unsubscribe" class="mt-8 min-h-fill-safe">
				<button
					class="btn btn-primary hover:btn-success"
					hx-post={ "/unsubscribe/" + token }
					hx-target="#unsubscribe"
					hx-swap="innerHTML transition:true"
				>
					Unsubscribe
				</button>
			</div>
		}
	}
}

templ UnsubscribeResult(msg *models.UserMessage) {
	@content() {
		@container() {
			@templ.Fragment(ContentFragment) {
				<span class="font-semibold tracking-tight text-pretty">{ msg.Summary }</span>
				if msg.HasDetails() {
					<p>{ *msg.Details }</p>
				}
			}
		}
	}
}
