// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/helpers/mailto"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"github.com/immanent-tech/go-syndication/types"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"os"
)

// UserChooseSubscriptionPlanPage renders a full page for the user to choose their subscription plan, with any
// previously selected option highlighted. This is displayed after a user account has been created (in Auth0) and
// redirects the user to Stripe for payment.
templ UserChooseSubscriptionPlan(user *models.User, planID string) {
	<div class="ui-container">
		if user != nil && user.Active() {
			// User has an active plan, show them an action to manage it.
			<div class="mx-auto max-w-4xl text-center mb-16">
				<h1 id="pricing" class="text-lg sm:text-xl/8 font-semibold text-primary mb-16">You already have an active plan.</h1>
				if mgmtLink := os.Getenv("FORAGD_STRIPE_SUBCRIPTIONMGMTURL"); mgmtLink != "" {
					<a role="button" class="btn btn-primary" href={ mgmtLink }>Manage Subscription Plan</a>
				} else {
					<a
						role="button"
						href={ mailto.Build("support@immanent.tech", mailto.WithSubject("Foragd Subscription Question")) }
						class="btn btn-primary"
					>
						Email support to manage your subscription
					</a>
				}
			</div>
		} else {
			// Show the user the plan options.
			<div class="mx-auto max-w-4xl text-center mb-16">
				<h1 id="pricing" class="text-lg sm:text-xl/8 font-semibold text-primary mb-16">Choose your plan.</h1>
				<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">You'll be taken to Stripe to finalise your account.</p>
				<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">Entering payment details is optional. You can start a trial today and pay later.</p>
			</div>
			@pricingGrid(models.RouteCheckout, "post", planID, "Selected")
		}
	</div>
}

// UserAccountIssuePage renders a full page with a message to the user indicating that their account has an issue that
// needs support to resolve. Usually, this will be displayed when a subscription plan payment has failed and requires
// manual intervention.
templ UserAccountIssue() {
	<div class="ui-container">
		<div class="mx-auto max-w-4xl text-center mb-16">
			<h1 class="text-lg sm:text-xl/8 font-semibold text-primary mb-16">There is a problem with your account.</h1>
			<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">We cannot log you in as there is a problem with your account details.</p>
			<p class="mx-auto max-w-2xl text-center text-base/7 text-pretty text-base-content/80">Please contact us to resolve all issues.</p>
			<div class="mt-10 flex items-center justify-center gap-x-6">
				@partials.ButtonBack()
				<a
					role="button"
					href={ mailto.Build("support@immanent.tech", mailto.WithSubject("Foragd Account Issue")) }
					class="btn btn-ghost"
				>
					Email Support <span aria-hidden="true">&rarr;</span>
				</a>
			</div>
		</div>
	</div>
}

templ DeactivateAccountModal() {
	{{ id := "deactivate-account" }}
	@partials.Modal(id, true) {
		<div class="sm:flex sm:items-start">
			<div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full sm:mx-0 sm:size-10">
				@tabler.AlertTriangle(i.Props{Class: "size-12"})
			</div>
			<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
				<h3 id="dialog-title" class="ui-h3">Deactivate Account Confirmation</h3>
				<div class="mt-2">
					<p class="text-sm">Are you sure you want to deactivate your account?</p>
				</div>
			</div>
		</div>
		<div class="mt-5 sm:mt-4 sm:flex sm:justify-end gap-x-2">
			<button
				type="button"
				_={ "on click remove #el-dialog-" + id + " then halt the event's bubbling" }
				class="btn btn-ghost"
			>Cancel</button>
			<button
				type="button"
				hx-post={ models.RouteUserDeactivateAccount }
				hx-swap="none"
				class="btn btn-error"
			>Yes</button>
		</div>
	}
}

templ UserAvatar(user *models.User, attributes templ.Attributes) {
	@NewProxiedImage(&types.ImageInfo{URL: user.GetAvatar(), Title: "Avatar for user " + user.GetNickname()},
		"rs:auto:32:32/sh:0.5/ext:webp",
		WithClasses("flex rounded-full outline -outline-offset-1 outline-base-content/10"),
		WithAttribute("width", "32"),
		WithAttribute("height", "32"),
		WithID("user-avatar"),
		WithAttributes(attributes),
	)
}
