// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/pkg/formats/html"
	"github.com/immanent-tech/foragd/web/templates/element"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"slices"
	"strings"
)

var ViewerFAQ = []partials.FAQEntry{
	{
		ID:       "whatisit",
		Question: "What is a feed reader? How is it different from X, Facebook, Instagram, etc.?",
		Answer: `
				<p>A feed reader is an app that collects content from websites, blogs, and newsletters you choose and
				displays it in one place without algorithms deciding what you see or ads interrupting your reading.</p>

				<p>Most websites publish their content as an RSS or Atom feed: a standardised file that	lists their
				latest articles. A feed reader checks these files regularly and shows you new posts as they arrive, in
				chronological order, from only the sources you've subscribed to.</p>

				<p>This is fundamentally different from social platforms like Facebook, X (Twitter), or LinkedIn, where
				a proprietary algorithm selects and ranks what you see based on engagement, advertising revenue, and
				platform goals and not your preferences. It's also different from news aggregators like Apple News or
				Google News, which curate content editorially and promote sponsored stories.</p>

				<p>With a feed reader, you own your reading list. You can follow any website that publishes a feed, from
				major newspapers to small independent blogs and everything appears together, unfiltered and in the order
				it was published.</p>
				`,
	},
	{
		ID:       "how-it-works",
		Question: "How does the feed viewer work?",
		Answer: `
				<p>When you enter a URL, the feed viewer will fetch the source of the page.</p>

				<p>If the source is one of the known feed formats like RSS or Atom, the viewer will format and return
				the posts contained in the feed.</p>

				<p>If the source is normal webpage, the viewer will look at links in the page and try to find one that
				points to feed content, which it will then fetch, format and display.</p>
				`,
	},
	{
		ID:       "not-working",
		Question: "Why did the feed viewer not find content for my URL?",
		Answer: `
					<p>Unfortunately, not all websites have RSS and Atom feeds. While the viewer tries its best to find
					feed content, and uses a few tricks for this, there are still websites that cannot be parsed.</p>
					`,
	},
	{
		ID:       "privacy",
		Question: "Does the feed viewer collect or store any information about me, the URL or the feed content it fetches?",
		Answer: `
					<p>No. Content is fetched and displayed dynamically, and is not stored once you navigate away from the page.</p>

					<p>We do store common analytics services to track minimal, anonymous usage of the feed viewer. No
					personal information is collected or stored. The feed viewer does not require cookies.</p>

					<p>More information can be found in our <a href="/policies/privacy" class="link">Privacy Policy</a>.</p>
					`,
	},
	{
		ID:       "open-source",
		Question: "Is this open-source?",
		Answer: `
					<p>The underlying library that does most of the heavy lifting, <a
					href="https://github.com/immanent-tech/go-syndication" class="link">go-syndication</a> is
					open-source!</p>

					<p>The site itself is part of <a href="https://foragd.app" class="link">Foragd</a>, a beautiful, web
					based, online feed reader, that uses the go-syndication library.</p>
					`,
	},
}

templ Viewer(feed *models.Feed, errMsg *models.UserMessage) {
	@LayoutExternal() {
		@container() {
			<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": ["SoftwareApplication","WebApplication"],
  "name": "Foragd",
  "applicationCategory": "News & RSS Reader",
  "operatingSystem": "Web",
  "offers": {
    "@type": "Offer",
    "price": "59",
    "priceCurrency": "USD",
    "priceValidUntil": "2026-06-30"
  },
  "description": "A web-based RSS and feed reader. Follow any website, blog or newsletter in one place. No algorithms, no ads, fully searchable.",
  "url": "https://foragd.app/"
}
</script>
			<div class="isolate">
				<div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
					<div class="soft-gradient-top"></div>
				</div>
				<section id="viewer" class="mx-auto sm:max-w-5xl">
					<h1 class="mt-4 mb-2 scroll-mt-16 text-2xl/7 font-bold tracking-tight text-balance sm:mt-8 sm:mb-4 sm:text-3xl">
						Free RSS Feed Viewer: Preview Any Website's Feed
					</h1>
					<div class="mx-auto text-pretty">
						<p class="mt-4">
							Enter a URL in the input below to search for syndicated content (RSS, Atom, JSONFeed feeds) on
							the site. The feed content, if found, will be displayed below.
						</p>
						<p class="mt-4">
							Want to keep track of feeds and email newsletters in one place? Search across content and discover
							topics and interests? Try out <a href="https://foragd.app" class="link">Foragd</a>.
						</p>
					</div>
					<form
						id="viewer-form"
						hx-post="/viewer"
						hx-push-url="true"
						hx-target="#viewer-results"
						hx-swap="innerHTML"
						_="on htmx:beforeRequest set the innerHTML of #viewer-results to ''"
					>
						<div class="mt-12">
							<label for="url" class="block text-sm/6 font-medium text-neutral">Website URL</label>
							<div class="join mt-2 flex w-full">
								<input id="url" type="url" name="url" placeholder="https://some.site..." class="input join-item w-full bg-base-300 brightness-95 input-primary"/>
								<button type="submit" class="btn join-item flex shrink-0 items-center gap-x-1.5 px-3 py-2">
									Search
								</button>
							</div>
						</div>
						<div class="show-loading w-full sm:max-w-5xl">
							<div class="my-4 w-full">
								<div class="flex flex-1 p-6">
									<div class="sm:flex sm:items-center sm:justify-between">
										<div class="sm:flex sm:space-x-5">
											<div class="flex">
												<div class="mr-4 shrink-0 self-center">
													<div class="h-24 w-24 skeleton"></div>
												</div>
												<div class="space-y-2">
													<div class="h-4 w-28 skeleton"></div>
													<div class="h-4 w-full skeleton sm:w-96"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="grid grid-cols-1 justify-center gap-4 sm:grid-cols-3">
									<div class="flex w-full flex-col gap-4">
										<div class="h-32 w-full skeleton"></div>
										<div class="h-4 w-28 skeleton"></div>
										<div class="h-4 w-full skeleton"></div>
										<div class="h-4 w-full skeleton"></div>
									</div>
									<div class="flex w-full flex-col gap-4">
										<div class="h-32 w-full skeleton"></div>
										<div class="h-4 w-28 skeleton"></div>
										<div class="h-4 w-full skeleton"></div>
										<div class="h-4 w-full skeleton"></div>
									</div>
									<div class="flex w-full flex-col gap-4">
										<div class="h-32 w-full skeleton"></div>
										<div class="h-4 w-28 skeleton"></div>
										<div class="h-4 w-full skeleton"></div>
										<div class="h-4 w-full skeleton"></div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</section>
				<section id="viewer-results" class="mx-auto mt-8 mb-24 overflow-y-auto sm:max-w-5xl">
					switch  {
						case errMsg != nil:
							@ViewerError(errMsg)
						case feed != nil:
							@ViewerResults(feed)
					}
				</section>
				<section id="advanced-usage" class="mx-auto mt-8 max-w-5xl">
					<button type="button" command="--toggle" commandfor="advanced-usage-info" class="flex w-full items-start justify-between text-left">
						<h2 class="text-3xl font-semibold tracking-tight text-pretty sm:text-4xl">Advanced Usage</h2>
						<span class="ml-6 flex h-7 items-center">
							<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
								<path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
								<path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</span>
					</button>
					<el-disclosure id="advanced-usage-info" class="contents" hidden>
						<div class="mt-2 pr-12">
							<p class="mt-4">
								You can directly search for feed content for any website from the browser bar by navigating to:
							</p>
							<pre class="mt-4 overflow-x-auto text-sm">
								https://foragd.app/viewer/url/https://some.site
							</pre>
							<p class="mt-4">As an example, try this link:</p>
							<a
								href="https://foragd.app/viewer/url/https://foragd.app"
								class="link font-mono text-sm"
							>https://foragd.app/viewer/url/https://foragd.app</a>
							<p class="mt-4">
								You can also use this
								<a
									class="link"
									href="javascript:(function(){var currentUrl=window.location.href; var targetUrl='https://foragd.app/viewer/url/'+currentUrl; window.open(targetUrl,'_blank','noreferrer');})();"
									aria-label="Bookmarklet link"
								>
									Bookmarklet
								</a> (drag to your bookmarks then use on any site).
							</p>
						</div>
					</el-disclosure>
				</section>
				<section id="faq" class="mx-auto mt-8 max-w-5xl">
					<h2 class="text-3xl font-semibold tracking-tight text-pretty sm:text-4xl">Frequently asked questions</h2>
					<div class="mt-10">
						@partials.FAQ(ViewerFAQ)
					</div>
				</section>
				<div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
					<div class="soft-gradient-bottom"></div>
				</div>
			</div>
		}
	}
}

templ ViewerResults(feed *models.Feed) {
	<div aria-live="polite">
		<h2 id="profile-overview-title" class="sr-only">Feed Overview</h2>
		<div class="p-6">
			<div class="sm:flex sm:items-center sm:justify-between">
				<div class="sm:flex sm:space-x-5">
					if img := feed.GetImage(); img != nil {
						<div class="flex">
							<div class="mr-4 shrink-0 self-center">
								if img := feed.GetImage(); img != nil {
									// If the source has an image, use that as the avatar.
									<div class="avatar">
										<div class="mask w-12 mask-squircle">
											// rs:auto:48:48 - resize to 48x48 https://docs.imgproxy.net/usage/processing#resize
											// sh:0.5 - sharpen https://docs.imgproxy.net/usage/processing#sharpen
											// q:80 - quality https://docs.imgproxy.net/usage/processing#quality
											// sm:1 - strip metadata
											// kcr:1 - keep copyright
											// scp:1 - convert color profile to sRGB
											@partials.NewProxiedImage(img, "rs:auto:48:48/q:80/sm:1/kcr:1/scp:1/ext:webp",
												element.WithAttribute("width", "48"),
												element.WithAttribute("height", "48"),
												element.WithAttribute("loading", "lazy"),
												element.WithAttribute("decoding", "async"),
											)
										</div>
									</div>
								} else {
									// Otherwise, take the first letter of the title and create a placeholder avatar.
									<div class="avatar avatar-placeholder">
										<div class="mask w-12 bg-neutral mask-squircle text-neutral-content">
											<span class="text-3xl capitalize">{ feed.GetTitle()[0:1] }</span>
										</div>
									</div>
								}
							</div>
							<div>
								<h2 class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl">
									{ feed.GetTitle() }
								</h2>
								if feed.GetDescription() != "" {
									<p>{ feed.GetDescription() }</p>
								}
							</div>
						</div>
					}
				</div>
				<div class="mt-5 flex justify-center sm:mt-0">
					<a
						href={ feed.GetLink() }
						target="_blank"
						rel="noopener"
						role="button"
						class="btn flex link items-center link-hover btn-primary"
					>
						View Website
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icons-tabler-outline icon-tabler-external-link" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="mx-auto grid grid-cols-1 justify-center sm:grid-cols-3">
			<div class="px-6 py-5 text-center text-sm font-medium">
				<span class="">{ len(feed.GetItems()) }</span>
				<span class="">Items</span>
			</div>
			<div class="px-6 py-5 text-center text-sm font-medium">
				<span class="">Last Updated</span>
				<span class="label">
					if !feed.GetTimestamp().Equal(models.UnixEpoch) {
						<relative-time
							datetime={ feed.GetTimestamp().Format("2006-01-02T15:04:05-0700") }
							format="relative"
							class="tabular-nums"
						>
							{ feed.GetTimestamp().Format("Jan _2, 2006") }
						</relative-time>
					} else {
						Unknown
					}
				</span>
			</div>
		</div>
	</div>
	if len(feed.GetItems()) > 0 {
		@grid(element.WithClasses("items-stretch")) {
			for item := range slices.Values(feed.GetItems()) {
				@viewerItemCard(item)
			}
		}
		@partials.ButtonBackToTop()
	}
}

templ ViewerError(msg *models.UserMessage) {
	<div class="text-center">
		<h2 class="mt-4 mb-2 scroll-mt-16 text-xl/7 font-semibold tracking-tight sm:mt-8 sm:mb-4 sm:text-2xl">
			{ msg.Summary }
		</h2>
		if msg.HasDetails() {
			<p>{ *msg.Details }</p>
		}
	</div>
}

// inspectorItemCard renders a feed item in a card.
templ viewerItemCard(item *models.Item) {
	<div class="card w-full bg-base-200 shadow-sm">
		{{ var img *models.RemoteImage }}
		{{ img = item.GetImage() }}
		if img == nil {
			{{
				url, alt, err := html.ExtractImageFromHTML(item.GetContent())
				if err != nil {
					img = models.NewRemoteImage(url, alt)
				}
			}}
		}
		if img != nil {
			<figure>
				<img
					src={ img.GetURL() }
					alt={ img.GetTitle() }
					srcset={ partials.GenerateImageProxyURL(ctx, img.GetURL(), "rs:auto:280:280/sh:0.5/el:1/q:80/sm:1/kcr:1/scp:1") + " 280w, " + partials.GenerateImageProxyURL(ctx, img.GetURL(), "rs:auto:600:400/sh:0.5/el:1/q:80/sm:1/kcr:1/scp:1") + " 600w" }
					sizes="(max-width: 480px) 100vw, 600px"
					decoding="async"
					loading="lazy"
					class="card-img"
				/>
			</figure>
		}
		<div class="card-body">
			<div class="card-title line-clamp-3 tracking-tight text-balance">{ item.GetTitle() }</div>
			<div class="inline-grid shrink-0">
				// Author(s) and Published Time.
				if len(item.GetAuthors()) > 0 {
					{{
						authors := make([]string, 0)
						for author := range slices.Values(item.GetAuthors()) {
							authors = append(authors, author.String())
						}
					}}
					<strong class="truncate text-sm/6">
						{ strings.Join(authors,",") }
					</strong>
				}
				<p class="col-span-full text-sm/6 capitalize">
					Updated&nbsp;
					<relative-time
						datetime={ item.GetTimestamp().Format("2006-01-02T15:04:05-0700") }
						format="relative"
						class="tabular-nums"
					>
						{ item.GetTimestamp().Format("Jan _2, 2006") }
					</relative-time>
				</p>
			</div>
			<div data-disable-scripting class="prose-summary">
				switch  {
					case item.GetContent() != "":
						@templ.Raw(item.GetContent())
					case item.GetDescription() != "":
						@templ.Raw(item.GetDescription())
				}
			</div>
			<div class="card-actions justify-end mt-auto">
				<a
					href={ item.GetLink() }
					target="_blank"
					rel="noopener"
					role="button"
					class="btn flex link items-center link-hover btn-primary"
				>
					View
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icons-tabler-outline icon-tabler-external-link" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"></path>
					</svg>
				</a>
			</div>
		</div>
	</div>
}
