// Copyright 2026 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package templates

import (
	"github.com/immanent-tech/foragd/models"
	"github.com/immanent-tech/foragd/web/templates/partials"
	"github.com/immanent-tech/go-syndication"
	"github.com/immanent-tech/go-syndication/types"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
	"strings"
)

templ Viewer() {
	@header(nil)
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-8">
		<section id="viewer">
			<h2>Feed Viewer</h2>
			<p>
				Enter a URL in the input below to search for syndicated content (RSS, Atom, JSONFeed feeds) on the site.
				The feed content, if found, will be displayed below.
			</p>
			<p>
				Feed Viewer is powered by open-source! Check out the <a
	class="link"
	href="https://github.com/immanent-tech/go-syndication"
>go-syndication</a> library on GitHub.
			</p>
			<form
				id="viewer-form"
				hx-post="/viewer"
				hx-target="#viewer-results"
				hx-swap="innerHTML transition:true"
				hx-indicator="#processing"
			>
				<fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 w-full">
					<legend class="fieldset-legend">URL</legend>
					<div class="join">
						<input type="text" name="url" class="input w-full" placeholder="https://some.site"/>
						<button class="btn join-item">View</button>
					</div>
					<p class="label">Enter a URL of a site to inspect for feeds</p>
				</fieldset>
			</form>
		</section>
		<div id="processing" class="htmx-indicator my-4 flex justify-center mx-auto">
			<span class="flex loading loading-dots loading-lg"></span>
		</div>
		<section id="viewer-results" class="mt-8"></section>
	</div>
	@footer()
}

templ ViewerResults(feed *feeds.Feed) {
	<div class="overflow-hidden">
		<h2 id="profile-overview-title" class="sr-only">Feed Overview</h2>
		<div class="p-6">
			<div class="sm:flex sm:items-center sm:justify-between">
				<div class="sm:flex sm:space-x-5">
					if img := feed.GetImage(); img != nil {
						<div class="shrink-0">
							if img := feed.GetImage(); img != nil {
								// If the source has an image, use that as the avatar.
								<div class="avatar">
									<div class="rounded-box size-12 border border-base-content">
										// rs:auto:48:48 - resize to 48x48 https://docs.imgproxy.net/usage/processing#resize
										// sh:0.5 - sharpen https://docs.imgproxy.net/usage/processing#sharpen
										// q:80 - quality https://docs.imgproxy.net/usage/processing#quality
										// sm:1 - strip metadata
										// kcr:1 - keep copyright
										// scp:1 - convert color profile to sRGB
										@NewProxiedImage(img, "rs:auto:48:48/q:80/sm:1/kcr:1/scp:1",
											WithAttribute("width", "48"),
											WithAttribute("height", "48"),
											WithAttribute("loading", "lazy"),
											WithAttribute("decoding", "async"),
										)
									</div>
								</div>
							} else {
								// Otherwise, take the first letter of the title and create a placeholder avatar.
								<div class="avatar avatar-placeholder">
									<div class="bg-neutral text-neutral-content w-12 mask mask-squircle">
										<span class="text-3xl capitalize">{ feed.GetTitle()[0:1] }</span>
									</div>
								</div>
							}
						</div>
					}
					<div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
						<p class="text-xl font-bold">{ feed.GetTitle() }</p>
						if feed.GetDescription() != "" {
							<p class="text-sm font-medium">{ feed.GetDescription() }</p>
						}
					</div>
				</div>
				<div class="mt-5 flex justify-center sm:mt-0">
					@NewLink(
						WithAttribute("href", feed.GetLink()),
						WithAttribute("target", "_blank"),
						WithAttribute("rel", "noopener"),
						WithAttribute("role", "button"),
						WithClasses("btn", "btn-primary", "link-hover"),
					) {
						View Website
						@tabler.ExternalLink()
					}
				</div>
			</div>
		</div>
		<div class="mx-auto grid grid-cols-1 sm:grid-cols-3 justify-center">
			<div class="px-6 py-5 text-center text-sm font-medium">
				<span class="">{ len(feed.GetItems()) }</span>
				<span class="">Items</span>
			</div>
			<div class="px-6 py-5 text-center text-sm font-medium">
				<span class="">Last Updated</span>
				<span class="label">
					if !feed.GetUpdatedDate().Equal(models.UnixEpoch) {
						@showTimestamp(feed.GetUpdatedDate())
					} else {
						Unknown
					}
				</span>
			</div>
		</div>
	</div>
	if len(feed.GetItems()) > 0 {
		<div id="grid-objects" class="ui-grid">
			for item := range slices.Values(feed.GetItems()) {
				@viewerItemCard(item)
			}
		</div>
		@partials.ButtonBackToTop()
	}
}

// inspectorItemCard renders a feed item in a card.
templ viewerItemCard(item feeds.Item) {
	<div class="card bg-base-200 w-full shadow-sm">
		{{ var img *types.ImageInfo }}
		{{ img = item.GetImage() }}
		if img == nil {
			{{ img, _ = models.ExtractImageFromContent(item.GetContent()) }}
		}
		if img != nil {
			<figure>
				<img
					src={ img.GetURL() }
					alt={ img.GetTitle() }
					srcset={ generateImageProxyURL(ctx, img.GetURL(), "rs:auto:280:280/sh:0.5/el:1/q:80/sm:1/kcr:1/scp:1") + " 280w, " + generateImageProxyURL(ctx, img.GetURL(), "rs:auto:600:400/sh:0.5/el:1/q:80/sm:1/kcr:1/scp:1") + " 600w" }
					sizes="(max-width: 480px) 100vw, 600px"
					decoding="async"
					loading="lazy"
				/>
			</figure>
		}
		<div class="card-body">
			<h2 class="card-title">{ item.GetTitle() }</h2>
			<div class="flex-1 inline-grid">
				// Author(s) and Published Time.
				if len(item.GetAuthors()) > 0 {
					<p class="col-span-full text-sm/6 italic truncate">
						{ strings.Join(item.GetAuthors(),",") }
					</p>
				}
				<p class="col-span-full text-sm/6 capitalize">
					Updated&nbsp;
					@showTimestamp(item.GetUpdatedDate())
				</p>
			</div>
			<div data-disable-scripting class="prose-summary">
				switch  {
					case item.GetContent() != "":
						@templ.Raw(item.GetContent())
					case item.GetDescription() != "":
						@templ.Raw(item.GetDescription())
				}
			</div>
			<div class="card-actions justify-end">
				@NewLink(
					WithAttribute("href", item.GetLink()),
					WithAttribute("target", "_blank"),
					WithAttribute("rel", "noopener"),
					WithAttribute("role", "button"),
					WithClasses("btn", "btn-primary", "link-hover"),
				) {
					View
					@tabler.ExternalLink()
				}
			</div>
		</div>
	</div>
}
