// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package partials

import "github.com/joshuar/go-feed-me/internal/models"
import "github.com/joshuar/go-templ-daisyui/display/badge"
import "github.com/joshuar/go-templ-daisyui/modifiers/size"
import "github.com/joshuar/go-templ-daisyui/modifiers/color"
import "github.com/joshuar/go-templ-daisyui/display/text"

templ showItemArticle(item models.APIItem) {
	<div hx-disable="true">
		<h2>{ item.GetTitle() }</h2>
		<div class="flex w-full justify-items-end gap-2 p-2">
			for _, author := range item.Authors {
				@text.Build(author.Name, text.WithTextSize(text.XS), text.AsItalicText()).Show()
			}
			@showLastUpdated("Last Updated:", item.GetTimestamp())
		</div>
		<div class="flex flex-wrap justify-items-center">
			for _, category := range item.GetCategories() {
				@badge.Build(
					badge.WithSize(size.SM),
					badge.WithThemeColor(color.Neutral),
					badge.WithStyle(badge.Outline),
					badge.WithContent(category),
				).Show("p-1", "m-1")
			}
		</div>
		<div id="article_content">
			@templ.Raw(item.GetContent())
		</div>
	</div>
}
