// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/joshuar/go-templ-daisyui"

// buttonAddItemIcon shows a button as an icon to open the add item modal.
templ buttonAddItemIcon(classes ...string) {
	@components.NewButton("", "add",
		components.WithModifier(components.ButtonGhost),
		components.WithIcon(components.NewIcon("plus"), components.AlignMiddle),
		components.WithButtonTooltip("Add Item", components.AlignRight),
		components.WithClasses[components.Button](classes...),
		components.WithAttributes[components.Button](templ.Attributes{
			"hx-get":    "/subscription/add",
			"hx-target": "#command-modal",
			"_":         "on htmx:afterOnLoad wait 10ms then add .modal-open to #command-modal",
		})).Show()
}

// buttonToggleReadIcon shows a button as an icon to toggle read status.
templ buttonToggleReadIcon(classes ...string) {
	@components.NewButton("", "read",
		components.WithModifier(components.ButtonGhost),
		components.WithIcon(components.NewIcon("check"), components.AlignMiddle),
		components.WithButtonTooltip("Toggle Read Status", components.AlignRight),
		components.WithClasses[components.Button](classes...),
		components.WithAttributes[components.Button](templ.Attributes{
			"hx-get":    "/subscription/add",
			"hx-target": "#command-modal",
			"_":         "on htmx:afterOnLoad wait 10ms then add .modal-open to #command-modal",
		})).Show()
}
