// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package partials

import (
	"github.com/joshuar/go-feed-me/internal/models"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
	"github.com/joshuar/go-templ-daisyui/navigation/menu"
	"strconv"
)

templ showTitle(title string) {
	@text.Build(title,
		text.WithTextWeight(text.Semibold),
		text.WithTextSize(text.SM),
	).Show()
}

// showCategories shows a list of categories as badges.
templ showCategories(categories ...models.Category) {
	<div class="flex flex-wrap">
		for _, category := range categories {
			@badge.Build(
				badge.WithSize(size.SM),
				badge.WithThemeColor(color.Accent, true),
				badge.WithContent(category),
			).Show("p-1", "m-1")
		}
	</div>
}

// DisplayCardActions displays action buttons for a card, either as a horizontal
// list (on large screens) or a drop-down menu (on smaller screens).
func showCardActions(actions ...templ.Component) []templ.Component {
	var menus []templ.Component

	menus = append(menus,
		// Menu for large screens: horizontal layout, all buttons shown.
		menu.Build(
			menu.WithSize(size.SM),
			menu.WithLayout(menu.Horizontal),
			menu.WithRevealedBreakpoint(size.LG),
			menu.WithItems(actions...),
		).Show(),
		// Menu for small screens: buttons hidden behind drop-down.
		dropdown.Build(
			dropdown.WithHiddenBreakpoint(size.LG),
			dropdown.WithButton(
				button.WithSize(size.XS),
				button.WithThemeColor(color.Neutral, true),
				button.AsShape(button.Square, true),
				button.WithContent(icon.Build("fa-ellipsis-vertical")),
				button.WithExtraAttributes(templ.Attributes{
					"_": "on click halt the event's bubbling",
				}),
			),
			dropdown.WithOpenOptions(
				dropdown.From(dropdown.OpenTop, true),
			),
			dropdown.WithMenuContent(
				// menu.WithSize(size.SM),
				menu.WithLayout(menu.Vertical),
				menu.WithItems(actions...),
			),
		).Show(),
	)

	return menus
}

templ showFeedCardContent(feed *models.APIFeed) {
	<div class="flex">
		if feed.GetUserUnreadCount() > 0 {
			@badge.Build(
				badge.WithSize(size.SM),
				badge.WithThemeColor(color.Primary, false),
				badge.WithContent(strconv.Itoa(feed.GetUserUnreadCount())+" Unread"),
			).Show("absolute", "right-2", "top-2", "p-2")
		}
		@showTitle(feed.GetTitle())
	</div>
	@text.Build(feed.GetContent(), text.WithTextSize(text.SM)).Show()
}

templ showItemCardContent(item *models.APIItem) {
	<div class="flex">
		@showTitle(item.GetTitle())
	</div>
	@showLastUpdated("Last Updated:", item.GetTimestamp())
}

templ (c *Card) Show(classes ...string) {
	@c.Props.Show("w-full", "lg:w-1/2", "card-side", "h-48", "p-2", "m-auto")
}
