// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/joshuar/go-templ-daisyui/display/badge"
import "github.com/joshuar/go-templ-daisyui/display/icon"
import "github.com/joshuar/go-templ-daisyui/modifiers/size"
import "github.com/joshuar/go-templ-daisyui/modifiers/color"

templ (category *FeedCategoryFilter) Show() {
	@badge.Build(
		badge.WithSize(size.SM),
		badge.WithThemeColor(color.Accent, category.active),
		badge.WithContent(categoryBadgeContent(category.name, category.active)),
		badge.WithExtraAttributes(category.route.Attributes()),
	).Show("p-1 m-1")
}

templ categoryBadgeContent(category string, active bool) {
	<div>
		if active {
			@icon.Build("fa-xmark").Show()
			{ category }
		} else {
			@icon.Build("fa-plus").Show()
			{ category }
		}
	</div>
}
