// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/joshuar/go-templ-daisyui"

// templ ItemList() {
// 	<div hx-ext="ws" ws-connect="/home/feed">
// 		<div id="filters" hx-swap-oob="morphdom"></div>
// 		<div class="join join-vertical" id="items"></div>
// 		<form id="filters-control" ws-send>
// 			<input name="filter"/>
// 		</form>
// 	</div>
// }

// FeedItem displays an individual feed item as a card component.
templ FeedItem(item components.Card) {
	<div hx-swap-oob="beforeend:#items">
		<div class="join-item">
			@item.Show()
		</div>
	</div>
}

// skeletonCard displays a skeleton that can represent a feed card that is
// loading.
templ skeletonCard() {
	<div class="skeleton h-32 w-32"></div>
	<div class="flex items-center gap-4">
		<div class="flex flex-col gap-4">
			<div class="skeleton h-6 w-28"></div>
			<div class="skeleton h-4 w-24"></div>
		</div>
	</div>
}

templ FeedList() {
	<h1 class="text-center text-xl">Feeds</h1>
	<div hx-get="/feed/_all" hx-trigger="load">
		<div class="flex w-52 flex-row gap-4">
			for  range 5 {
				@skeletonCard()
			}
		</div>
	</div>
}

templ FeedItemsSummary(items ...components.Card) {
	<div class="flex flex-wrap justify-center mt-10">
		for _, item := range items {
			@item.Show()
		}
	</div>
}
