// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/joshuar/go-feed-me/internal/models"
import "github.com/joshuar/go-templ-daisyui/actions/button"

import "github.com/joshuar/go-templ-daisyui/modifiers/size"

// hsCopyText is hyperscript to insert the given text into the clipboard.
func hsCopyText(text string) string {
	return "on click writeText(" + text + ") on navigator.clipboard put 'Copied!' into me wait 1s put 'Copy' into me"
}

func applyBackgroundColor(status models.MessageStatus) string {
	switch status {
	case models.MessageStatusError:
		return "bg-error/50"
	case models.MessageStatusWarning:
		return "bg-warning/50"
	case models.MessageStatusSuccess:
		return "bg-success/50"
	case models.MessageStatusInfo:
		fallthrough
	default:
		return "bg-info/50"
	}
}

func applyTextColor(status models.MessageStatus) string {
	switch status {
	case models.MessageStatusError:
		return "text-error-content"
	case models.MessageStatusWarning:
		return "text-warning-content"
	case models.MessageStatusSuccess:
		return "text-success-content"
	case models.MessageStatusInfo:
		fallthrough
	default:
		return "text-info-content"
	}
}

// ShowMessage will show a models.Message as a collapsable component, with the summary shown and details revealed when
// the collapse is opened.
templ ShowMessage(msg *models.Message) {
	<div tabindex="0" class={ "collapse", "collapse-arrow", applyBackgroundColor(msg.Status) }>
		<input type="checkbox"/>
		<div class={ "collapse-title", "font-semibold", "text-justify", "text-sm", applyTextColor(msg.Status) }>
			{ msg.Summary } @CopyTextButton(msg.String())
		</div>
		<div class={ "collapse-content", "text-xs", "text-justify", applyTextColor(msg.Status) }>
			if msg.HasDetails() {
				{ *msg.Details }
			}
		</div>
	</div>
}

// CopyTextButton builds a button that will copy the given text to the clipboard when clicked.
templ CopyTextButton(text string) {
	<div>
		@button.Build(
			button.WithContent("Copy"),
			button.WithSize(size.SM),
			button.WithExtraAttributes(templ.Attributes{
				"_": hsCopyText(text),
			}),
		).Show()
	</div>
}
