// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

templ MainContent() {
	<header>
		<section>
			<div class="flex">
				<!-- Primary Pane -->
				<div id="primaryPane" class="basis-1/3 flex flex-col">
					<div hx-get="/feed/_all" hx-trigger="load">
						for  range 5 {
							@skeletonCard()
						}
					</div>
				</div>
				<div class="divider divider-horizontal"></div>
				<!-- Secondary Pane -->
				<div id="secondaryPane" class="basis-2/3 flex flex-col">
					<div hx-get="/feed/_all/item/_all" hx-trigger="load"></div>
				</div>
			</div>
		</section>
	</header>
}
