package partials

templ SettingsModal() {
	<div class="modal-box">
		<form hx-post="/home/settings">
			<h3 class="text-lg font-bold">Settings</h3>
			<div id="settings">
				@ThemeController()
			</div>
			<div class="join">
				// Add button.
				// @components.NewButton("Save", "save",
				// 	components.WithAttributes[components.Button](templ.Attributes{
				// 		"_": "on click take .modal-open from #command-modal wait 200ms",
				// 	}),
				// ).Show()
				// // Close button.
				// @components.NewButton("Close", "close",
				// 	components.WithAttributes[components.Button](templ.Attributes{
				// 		"_": "on click take .modal-open from #command-modal wait 200ms",
				// 	}),
				// ).Show()
			</div>
		</form>
	</div>
}
