package partials

import components "github.com/joshuar/go-templ-daisyui"

templ SettingsModal() {
	<div class="modal-box">
		<form hx-post="/home/settings">
			<h3 class="text-lg font-bold">Settings</h3>
			<div id="settings">
				@ThemeController()
			</div>
			<div class="join">
				// Add button.
				@components.ButtonTempl(components.NewButton("Save", "save",
					components.ButtonAttributes(templ.Attributes{
						"_": "on click take .modal-open from #command-modal wait 200ms",
					}),
				))
				// Close button.
				@components.ButtonTempl(components.NewButton("Close", "close",
					components.ButtonAttributes(templ.Attributes{
						"_": "on click take .modal-open from #command-modal wait 200ms",
					}),
				))
			</div>
		</form>
	</div>
}
