package partials

import "github.com/joshuar/go-templ-daisyui"

// NavigationLargeScreen is a container for navigation control on larger screens (i.e., desktop).
templ NavigationLargeScreen() {
	<div class="hidden h-full flex-[0.3] md:block">
		<!-- Left Sidebar -->
		@components.NewTabs(
			components.WithTabBox(),
			components.WithPanels(
				components.NewTabPanel("Items", ItemList()),
			),
		).Show()
		<div class="grid h-full place-content-center bg-green-600">
			<h1 class="text-xl">Large Screen</h1>
			<h1 class="text-xl">Navigation</h1>
		</div>
	</div>
}
