package partials

import (
	"github.com/joshuar/go-feed-me/web/templates/commands"
	components "github.com/joshuar/go-templ-daisyui"
)

templ CommandPrevButton() {
	<div>
		@commands.PrevCommand.Show()
	</div>
}

templ CommandNextButton() {
	<div>
		@commands.NextCommand.Show()
	</div>
}

templ CommandAddButton() {
	<div>
		@commands.AddCommand.Show()
	</div>
}

templ BottomNavBarButtons(buttons ...templ.Component) {
	for _, button := range buttons {
		@button
	}
}

templ BottomNavBar() {
	@Notifications()
	@components.BottomNavTempl(components.MD, components.JustifyAround,
		BottomNavBarButtons(
			CommandPrevButton(),
			CommandAddButton(),
			CommandNextButton(),
		))
}
