package partials

import components "github.com/joshuar/go-templ-daisyui"

templ ShowSignUpForm() {
	<div class="hero-content text-center">
		<div class="max-w-md">
			<h1 class="text-3xl font-bold">Sign-up to Go Feed Me</h1>
			<div id="signup-notifications"></div>
			@SignUpForm().Show()
		</div>
	</div>
}

templ SignupSuccess() {
	@components.Alert(components.AlertSuccess, "Account created!", "signup-notifications", true) {
		<a class="btn btn-primary" href="/login/auth0">Login with Auth0</a>
	}
}

templ SignupError() {
	@components.Alert(components.AlertError, "Oops! We had a problem creating your account account!", "signup-notifications", true)
	<p class="py-6">
		Please go back and try again.
	</p>
}
