// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

import "github.com/joshuar/go-feed-me/internal/models"

// Show renders the view filter.
templ (view *ViewFilter) Show() {
	<div role="tablist" class="tabs tabs-boxed tab-xs">
		<a
			role="tab"
			class={ "tab", templ.KV("tab-active",view.Active == models.ViewRead) }
			{ view.routes[models.ViewRead]... }
		>Read</a>
		<a
			role="tab"
			class={ "tab", templ.KV("tab-active",view.Active == models.ViewUnread) }
			{ view.routes[models.ViewUnread]... }
		>Unread</a>
		<a
			role="tab"
			class={ "tab", templ.KV("tab-active",view.Active == models.ViewAll) }
			{ view.routes[models.ViewAll]... }
		>All</a>
	</div>
}
