// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package partials

// Show renders the view filter as a set of badges joined together.
templ (view *ViewFilter) Show() {
	<div class="join">
		for _, view := range view.routes {
			@view.Show("join-item")
		}
	</div>
}
