@import 'tailwindcss' source(none);
@source "../web/templates/**/*.{html,templ}";
@source "/go/pkg/mod/github.com/sebasvil20/templicons@*/i/*.{go,templ}";
@source "*.{js}";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: all;
}

#content.htmx-swapping {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

#content.htmx-added {
  opacity: 0;
}

#content {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
