// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package settings

import "github.com/joshuar/go-feed-me/web/templates/layouts"
import "github.com/joshuar/go-feed-me/web/templates/partials/appbar"

templ Page() {
	@layouts.BuildPage(
		layouts.WithHeadOptions("Settings",
			layouts.WithPageDescription("Your home."),
			layouts.WithPageKeywords("feeds", "atom", "jsonfeed", "rss", "feed reader", "news", "current affairs"),
		),
		layouts.WithPageContent(appbar.AppBar().Show(), ThemeChangeMenu()),
	).Show()
}

templ ThemeChangeMenu() {
	<div class="dropdown mb-72">
		<div tabindex="0" role="button" class="btn m-1">
			Theme
			<svg
				width="12px"
				height="12px"
				class="inline-block h-2 w-2 fill-current opacity-60"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 2048 2048"
			>
				<path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
			</svg>
		</div>
		<ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl">
			<li>
				<input
					type="radio"
					name="theme-dropdown"
					class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
					aria-label="Default"
					value="default"
					data-set-theme="default"
				/>
			</li>
			<li>
				<input
					type="radio"
					name="theme-dropdown"
					class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
					aria-label="Retro"
					data-set-theme="retro"
					value="retro"
				/>
			</li>
			<li>
				<input
					type="radio"
					name="theme-dropdown"
					class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
					aria-label="Cyberpunk"
					data-set-theme="cyberpunk"
					value="cyberpunk"
				/>
			</li>
			<li>
				<input
					type="radio"
					name="theme-dropdown"
					class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
					aria-label="Valentine"
					value="valentine"
				/>
			</li>
			<li>
				<input
					type="radio"
					name="theme-dropdown"
					class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
					aria-label="Aqua"
					value="aqua"
				/>
			</li>
		</ul>
	</div>
}
