// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package content

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/classes/opacity"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/figure"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

type Article struct {
	*models.Article
	classes []components.Class
}

func NewArticleContent(article *models.Article) *Article {
	card := &Article{
		Article: article,
	}
	if !article.IsUnread() {
		card.classes = append(card.classes, opacity.Apply(75))
	}
	return card
}

// Visit is the action for visiting the webpage for the article.
templ (c *Article) Visit() {
	@partials.LinkWithIcon(tabler.ExternalLink(i.Props{Size: i.SizeXS}),
		"External Link",
		templ.Attributes{"href": c.GetLink()},
		[]string{"text-xs"},
	)
}

// Share is the action for sharing an article to an external service.
templ (c *Article) Share() {
	@partials.LinkWithIcon(tabler.Share(i.Props{Size: i.SizeXS}), "Share", nil, []string{"text-xs"})
}

// Mark is the action for marking an article read/unread.
templ (c *Article) Mark() {
	if c.IsUnread() {
		@partials.LinkWithIcon(
			tabler.Bookmark(i.Props{Size: i.SizeXS}),
			"Mark Read",
			c.markAttributes(),
			[]string{"text-xs"},
		)
	} else {
		@partials.LinkWithIcon(
			tabler.BookmarkFilled(i.Props{Size: i.SizeXS}),
			"Mark Unread",
			c.markAttributes(),
			[]string{"text-xs"},
		)
	}
}

// Summary displays a summary of the article.
templ (c *Article) Summary() {
	@link.Build(
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(c.viewAttributes()),
	).Show() {
		<div class="flex flex-row gap-2">
			switch value := c.image().(type) {
				case *figure.Props:
					@value.Show()
				case templ.Component:
					@value
			}
			<div class="text-sm flex-1 text-justify">{ c.GetTitle() }</div>
		</div>
		<div class="flex flex-row justify-end">
			<div class="text-xs uppercase font-semibold opacity-60">{ c.GetFeedTitle() }</div>
		</div>
	}
}

// Show will display the article as a card.
templ (c *Article) Card() {
	@card.Build(
		card.WithStyle(card.Border),
		card.WithLayout(card.LayoutSide),
		card.WithShadow(shadow.SM),
		card.WithExtraClasses("card-sm", "lg:card-md", "bg-base-300"),
		card.WithID(c.GetID()),
		card.WithImage(c.image()),
		card.WithBodyOptions(
			// Card title.
			card.WithTitle(link.Build(
				link.WithContent(c.GetTitle()),
				link.WithUnderlineOnHover(),
				link.WithExtraAttributes(c.viewAttributes()),
			).Show()),
			// Card content.
			card.WithContent(
				templ.Join(
					cardMeta(c.GetAuthors(), c.GetUpdatedDate()),
				),
			),
			// Card actions.
			card.WithActions(
				cardMenu(c.Share(), c.Visit(), c.Mark()),
			),
		),
		card.WithExtraClasses(c.classes...),
	).Show()
}

// Show will display the article content.
templ (c *Article) View() {
	<div class="flex justify-center">
		@article.Build(
			article.WithExtraClasses("shadow-sm", "bg-base-300", "rounded-box", "p-2", "overflow-scroll", "max-w-prose"),
			article.WithExtraAttributes(templ.Attributes{
				"hx-post":     "/articles/mark/read?articles=" + c.GetID(),
				"hx-swap":     "none",
				"hx-push-url": "false",
				"hx-trigger":  "load delay:2s",
			}),
		).Show() {
			<h2>
				@text.Build(c.GetTitle(),
					text.WithWeight(text.Semibold),
					text.WithSize(text.LG),
				).Show("flex-1")
			</h2>
			@cardMeta(c.GetAuthors(), c.GetUpdatedDate())
			// Display the categories associated with the article.
			for category := range slices.Values(c.GetCategories()) {
				@badge.Build(
					badge.WithStyle(badge.Ghost),
					badge.WithSize(badge.XS),
					badge.WithContent(category),
					badge.WithExtraClasses("capitalize", "w-fit-content"),
				).Show()
			}
			// Display the article content.
			<div id="article_content" class="text-sm max-w-prose">
				switch  {
					case c.GetContent() != "":
						@templ.Raw(c.GetContent())
					case c.GetDescription() != "":
						@templ.Raw(c.GetDescription())
				}
			</div>
			<div class="flex justify-center m-2 gap-2">
				<div>
					// Share article action.
					@c.Share()
				</div>
				<div>
					// Visit external article link action.
					@c.Visit()
				</div>
			</div>
		}
	</div>
}

// image returns an appropriate image to use in the article card. It will either be the article's image or a
// placeholder.
func (c Article) image() any {
	if c.GetImage() != nil {
		return figure.Build(
			image.Build(
				c.GetImage().URL(),
				image.WithLazyLoading(),
				image.WithExtraClasses("size-16", "object-scale-down", "rounded-box"),
			),
			figure.WithFigureClasses("m-2"),
		)
	}
	return articlePlaceholderImage()
}

func (c *Article) markAttributes() templ.Attributes {
	attributes := templ.Attributes{
		"hx-swap":        "morph:outerHTML",
		"hx-target":      "#" + c.GetID(),
		"hx-replace-url": "false",
		"_":              "on htmx:afterRequest send UpdateState to #drawer-subscriptions-list",
	}

	if c.IsUnread() {
		attributes["hx-post"] = "/articles/mark/" + string(models.MarkRead) + "?articles=" + c.GetID()
	} else {
		attributes["hx-post"] = "/article/mark/" + string(models.MarkUnread) + "?articles=" + c.GetID()
	}
	return attributes
}

func (c *Article) viewAttributes() templ.Attributes {
	return templ.Attributes{
		"hx-get":      "/view/" + c.GetID(),
		"hx-target":   partials.ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "morph:innerHTML scroll:top",
	}
}

templ articlePlaceholderImage() {
	<div class="content-center">
		@tabler.Article(i.Props{
			Size: "64",
		})
	</div>
}
