// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package content

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
	"strings"
	"time"
)

var CardsID = attributes.ID("cards")

// CardGrid renders the given card components in a grid container.
templ CardGrid(cards ...templ.Component) {
	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4"
		id={ CardsID.String() }
		hx-trigger="htmx:historyRestore from:body"
		hx-get={ models.PageStateFromCtx(ctx).String() }
		hx-target={ partials.ContentID.Target() }
	>
		for cards := range slices.Values(cards) {
			@cards
		}
	</div>
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
}

// CardControls renders a list of controls for manipulating cards.
templ CardControls(controls ...templ.Component) {
	<div id="card-controls" class="flex flex-row m-2">
		<div class="breadcrumbs text-sm flex-1">
			<ul>
				<li>
					@tabler.Home()
				</li>
				<li>
					@tabler.Rss()
				</li>
			</ul>
		</div>
		<div class="flex flex-row justify-end gap-2">
			for control := range slices.Values(controls) {
				@control
			}
		</div>
	</div>
}

// cardMenu creates a dropdown menu containing the given actions.
templ cardMenu(actions ...templ.Component) {
	@tooltip.Build("Actions").Show() {
		@dropdown.Build(
			dropdown.WithButtonContent(tabler.DotsVertical(i.Props{Size: i.SizeXS})),
			dropdown.WithButtonClasses(button.Ghost, button.XS),
			dropdown.WithOpenFrom(dropdown.OpenTop),
			dropdown.WithOpenAlignment(dropdown.AlignEnd),
			dropdown.WithMenuClasses("justify-end", "flex-nowrap", "grow"),
		).Show() {
			for item := range slices.Values(actions) {
				<li _="on click call document.activeElement.blur()">
					@item
				</li>
			}
		}
	}
}

templ cardMeta(authors []string, updated time.Time) {
	<div>
		if len(authors) > 0 {
			<strong>{ strings.Join(authors, ",") }</strong>
		}
		<span>
			@partials.ShowTimestamp(updated)
		</span>
	</div>
}

templ cardDescription(desc string) {
	if desc != "" {
		@text.Build(desc,
			text.WithSize(text.XS),
			text.WithOverflow(text.Truncate),
		).Show()
	}
}
