// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package content

import (
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/breadcrumbs"
	"slices"
)

var CardsID = attributes.ID("cards")

// CardGrid renders the given card components in a grid container.
templ CardGrid(cards ...templ.Component) {
	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4"
		id={ CardsID.String() }
	>
		for cards := range slices.Values(cards) {
			@cards
		}
	</div>
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
}

// CardControls renders a list of controls for manipulating cards.
templ CardControls(controls ...templ.Component) {
	<div id="card-controls" class="flex flex-row m-2">
		for control := range slices.Values(controls) {
			@control
		}
	</div>
}

templ CardBreadCrumbs(crumbs ...templ.Component) {
	{{ crumbs := append([]templ.Component{partials.LinkHomeIconOnly()}, crumbs...) }}
	@breadcrumbs.Build(
		breadcrumbs.WithClasses("text-sm", "flex-1"),
		breadcrumbs.WithCrumbs(crumbs...),
	).Show()
}

templ CardButtons(buttons ...templ.Component) {
	<div class="flex flex-row justify-end gap-2">
		for button := range slices.Values(buttons) {
			@button
		}
	</div>
}
