// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package content

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"sort"
	"strconv"
)

type Category struct {
	Label models.Category
	Count int
	route string
}

func (c Category) HXVal() string {
	return `{"` + models.ParamCategories + `":"` + c.Label + `"}`
}

func NewCategoryContent(category models.Category, count int, route models.Route) *Category {
	return &Category{
		Label: category,
		Count: count,
		route: route.Path,
	}
}

templ (c *Category) Badge() {
	@link.Build(
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":      c.route,
			"hx-include":  "#content-filters",
			"hx-vals":     c.HXVal(),
			"hx-push-url": "true",
			"hx-target":   partials.ContentID.Target(),
		}),
	).Show() {
		<div class="flex gap-2 w-full">
			<div class="flex-1 text-sm capitalize content-center">
				{ c.Label }
			</div>
			<div class="content-center">
				if c.Count > 0 {
					@badge.Build(
						badge.WithSize(badge.SM),
						badge.WithColor(badge.Secondary),
						badge.WithContent(strconv.Itoa(c.Count)),
						badge.WithExtraAttributes(templ.Attributes{
							"sse-swap": c.Label + "_count",
						}),
						badge.WithExtraClasses("grow", "text-nowrap"),
					).Show()
				}
			</div>
		</div>
	}
}

type Categories []*Category

// Sort will sort the slice of categories by the count values.
func (c Categories) Sort() {
	sort.Slice(c, func(i, j int) bool {
		return c[i].Count > c[j].Count
	})
}
