// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package content

import "github.com/joshuar/go-templ-daisyui"

// AppBarTop displays an app bar at the top of the page.
templ AppBarTop() {
	<div class="navbar bg-base-200">
		<div class="navbar-start">
			@appBarTopLeft()
		</div>
		<div class="navbar-center">
			@appBarTopCenter()
		</div>
		<div class="navbar-end">
			@appBarTopRight()
		</div>
	</div>
}

templ appBarTopLeft() {
	<label for="home_drawer_toggle" aria-label="Open Drawer" class="btn btn-square lg:hidden drawer-button">
		@components.Icon("fa-chevron-right")
	</label>
}

templ appBarTopCenter() {
	@components.TextInput(
		components.WithInsideLabels(components.Icon("fa-magnifying-glass"), nil),
		components.WithID[*components.TextInputProps]("search"),
		components.WithPlaceholder[*components.TextInputProps]("Search anything..."),
		components.WithAttributes[*components.TextInputProps](templ.Attributes{
			"tabindex":     0,
			"hx-post":      "/home/search",
			"hx-trigger":   "input changed delay:500ms, SearchRequest",
			"hx-target":    "#search-results",
			"hx-indicator": ".htmx-indicator",
		}),
	)
}

templ appBarTopRight() {
	<details class="dropdown dropdown-bottom dropdown-end [&_.swap-on]:opacity-100 [&_.swap-off]:opacity-0 [&[open]_.swap-off]:opacity-100 [&[open]_.swap-on]:opacity-0">
		<summary class="swap">
			@components.Icon("fa-bars", components.AsSwapOn())
			@components.Icon("fa-xmark", components.AsSwapOff())
		</summary>
		<ul class="p-2 menu dropdown-content z-[1] bg-base-200 rounded-box w-52">
			<li><button type="checkbox" data-toggle-theme="dark,light" class="toggle theme-controller"></button></li>
		</ul>
	</details>
}
