// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package content

import (
	"github.com/joshuar/go-feed-me/internal/models"
	"github.com/joshuar/go-templ-daisyui"
)

templ ShowItem(item *models.APIItem) {
	@item.AsArticle().Show()
	if len(item.CategoryBadges()) > 0 {
		<div class="badges">
			for _, badge := range item.CategoryBadges() {
				@badge.Show()
			}
		</div>
	}
}

templ ShowCards(name string, cards ...components.Card) {
	<form>
		for _, card := range cards {
			<div>
				// Render a hidden input for this feed.
				@components.NewHiddenInput(card.ID(), name, card.ID()).Show()
				// Render the feed card.
				@card.Show()
			</div>
		}
	</form>
}

templ ShowContent(backlink string, content templ.Component) {
	<div id="content">
		<!-- Content Header -->
		<div id="content-header" class="bg-orange-500 sticky top-0 w-full">
			@ContentHeader(backlink)
		</div>
		<!-- Content -->
		@content
	</div>
}
