// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package content

import "github.com/joshuar/go-templ-daisyui"

templ ContentHeader() {
	if BackLinkFromCtx(ctx) != "" {
		<form method="dialog" hx-target="#content" hx-get={ BackLinkFromCtx(ctx) }>
			@components.NewButton("", "back",
				components.AsShape(components.ButtonCircle),
				components.WithModifier(components.ButtonGhost),
				components.WithIcon(components.NewIcon("arrow-left"), components.AlignMiddle),
				components.WithClasses[components.Button]("left-2", "top-2"),
			).Show()
		</form>
	}
}
