// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package content

import "github.com/joshuar/go-templ-daisyui"

templ ContentHeader() {
	if NavigationFromCtx(ctx).Parent != "" {
		<form method="dialog" hx-target={ "#" + ContentTarget } hx-get={ NavigationFromCtx(ctx).Parent }>
			@components.NewButton("", "back",
				components.WithButtonShape(components.ButtonCircle),
				components.WithColor[components.Button](components.ColorGhost, false),
				components.WithIcon(components.NewIcon("fa-arrow-left"), components.AlignMiddle),
				// components.WithContainerAlignment(components.TopLeft),
			).Show()
		</form>
	}
}

templ DrawerMain() {
	<!-- Modal for commands -->
	<dialog id="command-modal" class="modal"></dialog>
	<!-- Content -->
	<div id="content">
		<!-- Content Header -->
		<div id="content-header" class="bg-orange-500 sticky top-0 w-full">
			@ContentHeader()
		</div>
		<div id="content-main">
			<!-- Content -->
			<form
				id={ ContentTarget }
				hx-get={ TriggerFromCtx(ctx) }
				hx-trigger="load"
				hx-swap="innerHTML"
			>
				@components.LoadingTempl("", components.XL)
			</form>
		</div>
	</div>
	<!-- Footer -->
	@AppBarBottom()
}

templ DrawerSide() {
	<div class="bg-base-200">
		@components.NewButton("", "add",
			components.WithColor[components.Button](components.ColorGhost, false),
			components.WithIcon(components.NewIcon("fa-plus"), components.AlignMiddle),
			components.WithButtonTooltip("Add Item", components.AlignRight),
			components.WithAttributes[components.Button](templ.Attributes{
				"hx-get":    "/subscription/add",
				"hx-target": "#command-modal",
				"_":         "on htmx:afterOnLoad wait 10ms then add .modal-open to #command-modal",
			})).Show()
	</div>
}
