// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package appbar

import (
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/input"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/joshuar/go-templ-daisyui/navigation/navbar"
	"github.com/sebasvil20/templicons/tabler"
)

func AppBar() *navbar.Props {
	return navbar.Build(navbar.WithID("content_app_bar"),
		navbar.WithBaseColor(color.Base200),
		navbar.NavBarStart(appBarTopLeft()),
		navbar.NavBarEnd(appBarTopRight()),
		navbar.NavBarCenter(appBarTopCenter()),
		navbar.WithExtraAttributes(templ.Attributes{
			"hx-swap-oob": "true",
			"hx-swap":     "morph:outerHTML",
		}),
	)
}

templ appBarTopLeft() {
	<div class="flex-none">
		<label for="home_drawer_toggle" aria-label="Open Drawer" class="btn btn-square lg:hidden drawer-button">
			@tabler.Menu()
		</label>
	</div>
}

templ appBarTopCenter() {
	<div class="flex-1">
		@input.Build(
			textinput.Build(
				textinput.WithID("search"),
				textinput.WithPlaceholder("Search anything..."),
				textinput.WithExtraAttributes(templ.Attributes{
					"tabindex":     0,
					"hx-post":      "/home/search",
					"hx-trigger":   "input changed delay:500ms, SearchRequest",
					"hx-target":    "#search-results",
					"hx-indicator": ".htmx-indicator",
				}),
			),
			input.WithLabel(input.Left, tabler.Search()),
		).Show()
	</div>
}

templ appBarTopRight() {
	<div title="Settings" class="flex-none">
		@dropdown.Build(
			dropdown.WithButtonContent(tabler.User()),
			dropdown.WithOpenAlignment(dropdown.AlignEnd),
			dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
		).Show() {
			<li>
				@link.Build(
					link.WithContent("Settings"),
					link.WithExtraAttributes(templ.Attributes{
						"href": "/settings",
					}),
					link.WithUnderlineOnHover(),
				).Show()
			</li>
			<li>
				@link.Build(
					link.WithContent("Logout"),
					link.WithExtraAttributes(templ.Attributes{
						"href": "/logout",
					}),
					link.WithUnderlineOnHover(),
				).Show()
			</li>
		}
	</div>
}
