// Copyright 2024 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package appbar

import (
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/input"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
)

templ appBarTopLeft() {
	<div class="flex-none">
		<label for="home_drawer_toggle" aria-label="Open Drawer" class="btn btn-square lg:hidden drawer-button">
			@icon.Build("fa-bars").Show()
		</label>
	</div>
}

templ appBarTopCenter() {
	<div class="flex-1">
		@input.Build(
			textinput.Build(
				textinput.WithID("search"),
				textinput.WithPlaceholder("Search anything..."),
				textinput.WithExtraAttributes(templ.Attributes{
					"tabindex":     0,
					"hx-post":      "/home/search",
					"hx-trigger":   "input changed delay:500ms, SearchRequest",
					"hx-target":    "#search-results",
					"hx-indicator": ".htmx-indicator",
				}),
			),
			input.WithLabel(input.Left, icon.Build("fa-magnifying-glass")),
		).Show()
	</div>
}

templ appBarTopRight() {
	<div class="flex-none">
		<div class="dropdown dropdown-end">
			<div
				tabindex="0"
				role="button"
				class="btn btn-ghost btn-circle
			avatar"
			>
				@icon.Build("fa-user-astronaut",
					icon.WithRelativeSize(size.XL),
				).Show()
			</div>
			<ul
				tabindex="0"
				class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
			>
				<li>
					<a class="justify-between">
						Profile
						<span class="badge">New</span>
					</a>
				</li>
				<li><a>Settings</a></li>
				<li>
					@partials.LogoutLink()
				</li>
			</ul>
		</div>
	</div>
}
