// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/classes/opacity"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/figure"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
	"strings"
)

// Layout is the complete page layout for the subscriptions page.
templ (page *ArticlesPage) Layout() {
	@layouts.Drawer() {
		@layouts.Header()
		@partials.Content() {
			@page.Content()
		}
	}
}

templ (page *ArticlesPage) Content() {
	<div id="content-filters" class="hidden">
		for name, value := range page.filters.Parameters() {
			@hiddeninput.Build(
				hiddeninput.WithName(name),
				hiddeninput.WithValue(attributes.Value(value)),
			).Show()
		}
	</div>
	<div id="card-controls" class="flex flex-row m-2">
		<div class="flex flex-row justify-end gap-2">
			@RefreshAction("/articles", page.filters.Parameters())
			@UpdateSorting("/articles", page.filters.GetSort())
			@UpdateFilters(page.articles.GetCategoryCounts(), "/articles", page.filters.GetCategories(), page.filters.GetView())
			@dropdown.Build(
				dropdown.WithButtonContent(tabler.DotsVertical()),
				dropdown.WithOpenAlignment(dropdown.AlignEnd),
				dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
			).Show() {
				<li>
					switch page.filters.GetView() {
						case models.ViewUnread:
							@partials.NewAction("/subscriptions/mark/"+string(models.MarkRead),
								partials.ActionMethod(http.MethodPost),
								partials.ActionValues(map[string]string{
									models.ParamSubscriptions: strings.Join(page.articles.GetSubscriptionIDs(), ","),
									"redirect":                "/home",
								}),
							) {
								<div class="flex gap-2">
									@tabler.Bookmark(i.Props{Size: i.SizeXS})
									Mark Read
								</div>
							}
						case models.ViewRead:
							fallthrough
						default:
							@partials.NewAction("/subscriptions/mark/"+string(models.MarkUnread),
								partials.ActionMethod(http.MethodPost),
								partials.ActionValues(map[string]string{
									models.ParamSubscriptions: strings.Join(page.articles.GetSubscriptionIDs(), ","),
									"redirect":                "/home",
								}),
							) {
								<div class="flex gap-2">
									@tabler.Bookmark(i.Props{Size: i.SizeXS})
									Mark Read
								</div>
							}
					}
				</li>
			}
		</div>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4" id={ CardsID.String() }>
		if len(page.articles) > 0 {
			@page.Cards()
		} else {
			@EmptyContent()
		}
	</div>
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
	@partials.Footer()
}

templ (page *ArticlesPage) Cards() {
	// Fragment: cards
	for cards := range slices.Values(page.generateCards(ctx)) {
		@cards
	}
}

// Template will render the home page based on the request details.
func (page *ArticlesPage) Template(req *http.Request) templ.Component {
	switch {
	case req.Method == http.MethodPost:
		return page.Cards()
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.Content()
	default:
		return templates.NewPage("Go Feed Me - Articles",
			templates.WithBodyContent(page.Layout()),
		)
	}
}

type Article struct {
	*models.Article
	classes []components.Class
}

func NewArticleContent(article *models.Article) *Article {
	card := &Article{
		Article: article,
	}
	if !article.IsUnread() {
		card.classes = append(card.classes, opacity.Apply(75))
	}
	return card
}

// visitLink is the link to the original article.
templ (c *Article) visitLink() {
	@link.Build(
		link.WithUnderlineOnHover(),
		link.WithAttributes(templ.Attributes{"href": c.GetLink()}),
		link.WithClasses("text-xs"),
	) {
		<div class="flex gap-2">
			@tabler.ExternalLink(i.Props{Size: i.SizeXS})
			Original Article
		</div>
	}
}

// shareLink is the link for sharing the article to external services.
templ (c *Article) shareLink() {
	// @link.Build(
	// 	link.WithContent(
	// 		partials.IconText(tabler.Share(i.Props{Size: i.SizeXS}), "Share")),
	// 	link.WithUnderlineOnHover(),
	// 	link.WithExtraClasses("text-xs"),
	// ).Show()
}

// markLink is the link for marking an article as read/unread
templ (c *Article) markLink() {
	if c.IsUnread() {
		@partials.LinkMarkRead("Mark Read", c.markAttributes())
	} else {
		@partials.LinkMarkUnread("Mark Unread", c.markAttributes())
	}
}

// ShowAsSummary shows a summarised version of the article.
templ (c *Article) ShowAsSummary() {
	@link.Build(
		link.WithUnderlineOnHover(),
		link.WithAttributes(c.viewAttributes()),
	) {
		<div class="flex flex-row gap-2">
			switch value := c.image().(type) {
				case *figure.Props:
					@value.Show()
				case templ.Component:
					@value
			}
			<div class="text-sm flex-1 text-justify">{ c.GetTitle() }</div>
		</div>
		<div class="flex flex-row justify-end">
			<div class="text-xs uppercase font-semibold opacity-60">{ c.GetFeedTitle() }</div>
		</div>
	}
}

// ShowAsCard shows the article as a card, for displaying in a collection of articles.
templ (c *Article) ShowAsCard() {
	@card.Build(
		card.WithStyle(card.Border),
		card.WithLayout(card.LayoutSide),
		card.WithShadow(shadow.SM),
		card.WithExtraClasses("card-sm", "lg:card-md", "bg-base-300"),
		card.WithID(c.GetID()),
		card.WithImage(c.image()),
		card.WithBodyOptions(
			// Card title.
			card.WithTitle(link.Build(
				link.WithUnderlineOnHover(),
				link.WithAttributes(c.viewAttributes()),
			)),
			// Card content.
			card.WithContent(
				templ.Join(
					partials.ContentMetadata(c.GetAuthors(), c.GetUpdatedDate()),
				),
			),
			// Card actions.
			card.WithActions(
				partials.ContentMenu(c.shareLink(), c.visitLink(), c.markLink()),
			),
		),
		card.WithExtraClasses(c.classes...),
	).Show()
}

templ (c *Article) ShowAsSearchSuggestion() {
	<li class="list-row" _="on click call document.activeElement.blur()">
		<div>
			<div class="list-col-wrap text-xs">
				@c.ShowAsSummary()
			</div>
		</div>
	</li>
}

// ShowContent shows the full article content.
templ (c *Article) ShowContent() {
	<div class="flex justify-center">
		@article.Build(
			article.WithExtraClasses("shadow-sm", "bg-neutral", "rounded-box", "p-2", "overflow-scroll", "max-w-prose"),
			article.WithExtraAttributes(templ.Attributes{
				"hx-post": "/articles/mark/read",
				"hx-swap": "none",
				"hx-vals": partials.GenerateHXVals(map[string]string{
					"articles": c.GetSubscriptionID() + "__" + c.GetID(),
				}),
				"hx-push-url": "false",
				"hx-trigger":  "load delay:2s",
			}),
		).Show() {
			<h2>
				@text.Build(c.GetTitle(),
					text.WithWeight(text.Semibold),
					text.WithSize(text.LG),
				).Show("flex-1")
			</h2>
			@partials.ContentMetadata(c.GetAuthors(), c.GetUpdatedDate())
			// Display the categories associated with the article.
			for category := range slices.Values(c.GetCategories()) {
				@badge.Build(
					badge.WithStyle(badge.Ghost),
					badge.WithSize(badge.XS),
					badge.WithContent(category),
					badge.WithExtraClasses("capitalize", "w-fit-content"),
				).Show()
			}
			// Display the article content.
			<div id="article_content" class="text-sm max-w-prose">
				switch  {
					case c.GetContent() != "":
						@templ.Raw(c.GetContent())
					case c.GetDescription() != "":
						@templ.Raw(c.GetDescription())
				}
			</div>
			<div class="flex justify-center m-2 gap-2">
				<div>
					// Share article action.
					@c.shareLink()
				</div>
				<div>
					// Visit external article link action.
					@c.visitLink()
				</div>
			</div>
		}
	</div>
}

// image returns an appropriate image to use in the article card. It will either be the article's image or a
// placeholder.
func (c Article) image() any {
	if c.GetImage() != nil {
		return figure.Build(
			image.Build(
				c.GetImage().URL(),
				image.WithLazyLoading(),
				image.WithExtraClasses("max-w-24", "h-full", "object-contain", "rounded-box"),
			),
			figure.WithFigureClasses("m-2"),
		)
	}
	return articlePlaceholderImage()
}

func (c *Article) markAttributes() templ.Attributes {
	attributes := templ.Attributes{
		"hx-swap":   "outerHTML",
		"hx-target": "#" + c.GetID(),
		"hx-vals": partials.GenerateHXVals(map[string]string{
			"articles": c.GetSubscriptionID() + "__" + c.GetID(),
		}),
		"_": "on htmx:afterRequest send UpdateState to #drawer-subscriptions-list",
	}

	if c.IsUnread() {
		attributes["hx-post"] = "/articles/mark/" + string(models.MarkRead)
	} else {
		attributes["hx-post"] = "/article/mark/" + string(models.MarkUnread)
	}
	return attributes
}

func (c *Article) viewAttributes() templ.Attributes {
	return templ.Attributes{
		"hx-get":      "/view/" + c.GetSubscriptionID() + "/" + c.GetID(),
		"hx-target":   partials.ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "innerHTML scroll:top",
	}
}

templ articlePlaceholderImage() {
	<div class="content-center">
		@tabler.Article(i.Props{
			Size: "64",
		})
	</div>
}
