// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/classes/opacity"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/figure"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"io"
	"slices"
)

templ (s *ArticlesPage) render() {
	@NewPage("Articles") {
		@partials.Drawer() {
			@partials.DrawerContent() {
				// Fragment: content header
				@partials.Fragment("content-header") {
					@Header()
				}
				@partials.Content() {
					// Fragment: content filters
					@partials.Fragment("content-filters") {
						<div id="content-filters" class="hidden">
							for name, value := range s.filters.Parameters() {
								@hiddeninput.Build(
									hiddeninput.WithName(name),
									hiddeninput.WithValue(attributes.Value(value)),
								).Show()
							}
						</div>
					}
					<div id="card-controls" class="flex flex-row m-2">
						<div class="flex flex-row justify-end gap-2">
							@RefreshAction("/articles", s.filters.Parameters())
							@UpdateSorting("/articles", s.filters.GetSort())
							@UpdateFilters(s.articles.GetCategoryCounts(), "/articles", s.filters.GetCategories(), s.filters.GetView())
							@CollectionActionsMenu(
								markAllArticles(s.filters.GetView(), s.articles.GetSubscriptionIDs()...),
							)
						</div>
					</div>
					<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4" id={ CardsID.String() }>
						if len(s.articles) > 0 {
							// Fragment: cards
							@partials.Fragment("cards") {
								for cards := range slices.Values(s.generateCards(ctx)) {
									@cards
								}
							}
						} else {
							@EmptyContent()
						}
					</div>
					<div id="content-loading" class="items-center justify-center">
						@loading.Build(loading.Bars,
							loading.AsHTMXIndicator(),
							loading.WithThemeColor(color.Accent),
						).Show()
					</div>
				}
				// Fragment: content footer
				@partials.Fragment("content-footer") {
					@partials.Footer()
				}
			}
			@partials.DrawerSide()
		}
	}
}

func (s *ArticlesPage) Render(ctx context.Context, w io.Writer) error {
	return s.render().Render(ctx, w)
}

type Article struct {
	*models.Article
	classes []components.Class
}

func NewArticleContent(article *models.Article) *Article {
	card := &Article{
		Article: article,
	}
	if !article.IsUnread() {
		card.classes = append(card.classes, opacity.Apply(75))
	}
	return card
}

// visitLink is the link to the original article.
templ (c *Article) visitLink() {
	@partials.LinkExternal("Original Article", c.GetLink())
}

// shareLink is the link for sharing the article to external services.
templ (c *Article) shareLink() {
	@link.Build(
		link.WithContent(
			partials.IconText(tabler.Share(i.Props{Size: i.SizeXS}), "Share")),
		link.WithUnderlineOnHover(),
		link.WithExtraClasses("text-xs"),
	).Show()
}

// markLink is the link for marking an article as read/unread
templ (c *Article) markLink() {
	if c.IsUnread() {
		@partials.LinkMarkRead("Mark Read", c.markAttributes())
	} else {
		@partials.LinkMarkUnread("Mark Unread", c.markAttributes())
	}
}

// ShowAsSummary shows a summarised version of the article.
templ (c *Article) ShowAsSummary() {
	@link.Build(
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(c.viewAttributes()),
	).Show() {
		<div class="flex flex-row gap-2">
			switch value := c.image().(type) {
				case *figure.Props:
					@value.Show()
				case templ.Component:
					@value
			}
			<div class="text-sm flex-1 text-justify">{ c.GetTitle() }</div>
		</div>
		<div class="flex flex-row justify-end">
			<div class="text-xs uppercase font-semibold opacity-60">{ c.GetFeedTitle() }</div>
		</div>
	}
}

// ShowAsCard shows the article as a card, for displaying in a collection of articles.
templ (c *Article) ShowAsCard() {
	@card.Build(
		card.WithStyle(card.Border),
		card.WithLayout(card.LayoutSide),
		card.WithShadow(shadow.SM),
		card.WithExtraClasses("card-sm", "lg:card-md", "bg-base-300"),
		card.WithID(c.GetID()),
		card.WithImage(c.image()),
		card.WithBodyOptions(
			// Card title.
			card.WithTitle(link.Build(
				link.WithContent(c.GetTitle()),
				link.WithUnderlineOnHover(),
				link.WithExtraAttributes(c.viewAttributes()),
			).Show()),
			// Card content.
			card.WithContent(
				templ.Join(
					partials.ContentMetadata(c.GetAuthors(), c.GetUpdatedDate()),
				),
			),
			// Card actions.
			card.WithActions(
				partials.ContentMenu(c.shareLink(), c.visitLink(), c.markLink()),
			),
		),
		card.WithExtraClasses(c.classes...),
	).Show()
}

templ (c *Article) ShowAsSearchSuggestion() {
	<li class="list-row" _="on click call document.activeElement.blur()">
		<div>
			<div class="list-col-wrap text-xs">
				@c.ShowAsSummary()
			</div>
		</div>
	</li>
}

// ShowContent shows the full article content.
templ (c *Article) ShowContent() {
	<div class="flex justify-center">
		@article.Build(
			article.WithExtraClasses("shadow-sm", "bg-neutral", "rounded-box", "p-2", "overflow-scroll", "max-w-prose"),
			article.WithExtraAttributes(templ.Attributes{
				"hx-post": "/articles/mark/read",
				"hx-swap": "none",
				"hx-vals": partials.GenerateHXVals(map[string]string{
					"articles": c.GetSubscriptionID() + "__" + c.GetID(),
				}),
				"hx-push-url": "false",
				"hx-trigger":  "load delay:2s",
			}),
		).Show() {
			<h2>
				@text.Build(c.GetTitle(),
					text.WithWeight(text.Semibold),
					text.WithSize(text.LG),
				).Show("flex-1")
			</h2>
			@partials.ContentMetadata(c.GetAuthors(), c.GetUpdatedDate())
			// Display the categories associated with the article.
			for category := range slices.Values(c.GetCategories()) {
				@badge.Build(
					badge.WithStyle(badge.Ghost),
					badge.WithSize(badge.XS),
					badge.WithContent(category),
					badge.WithExtraClasses("capitalize", "w-fit-content"),
				).Show()
			}
			// Display the article content.
			<div id="article_content" class="text-sm max-w-prose">
				switch  {
					case c.GetContent() != "":
						@templ.Raw(c.GetContent())
					case c.GetDescription() != "":
						@templ.Raw(c.GetDescription())
				}
			</div>
			<div class="flex justify-center m-2 gap-2">
				<div>
					// Share article action.
					@c.shareLink()
				</div>
				<div>
					// Visit external article link action.
					@c.visitLink()
				</div>
			</div>
		}
	</div>
}

// image returns an appropriate image to use in the article card. It will either be the article's image or a
// placeholder.
func (c Article) image() any {
	if c.GetImage() != nil {
		return figure.Build(
			image.Build(
				c.GetImage().URL(),
				image.WithLazyLoading(),
				image.WithExtraClasses("max-w-24", "h-full", "object-contain", "rounded-box"),
			),
			figure.WithFigureClasses("m-2"),
		)
	}
	return articlePlaceholderImage()
}

func (c *Article) markAttributes() templ.Attributes {
	attributes := templ.Attributes{
		"hx-swap":   "outerHTML",
		"hx-target": "#" + c.GetID(),
		"hx-vals": partials.GenerateHXVals(map[string]string{
			"articles": c.GetSubscriptionID() + "__" + c.GetID(),
		}),
		"_": "on htmx:afterRequest send UpdateState to #drawer-subscriptions-list",
	}

	if c.IsUnread() {
		attributes["hx-post"] = "/articles/mark/" + string(models.MarkRead)
	} else {
		attributes["hx-post"] = "/article/mark/" + string(models.MarkUnread)
	}
	return attributes
}

func (c *Article) viewAttributes() templ.Attributes {
	return templ.Attributes{
		"hx-get":      "/view/" + c.GetSubscriptionID() + "/" + c.GetID(),
		"hx-target":   partials.ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "innerHTML scroll:top",
	}
}

templ articlePlaceholderImage() {
	<div class="content-center">
		@tabler.Article(i.Props{
			Size: "64",
		})
	</div>
}
