// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

templ visitArticleLink(link string) {
	@partials.LinkWithIcon(tabler.ExternalLink(i.Props{Size: i.SizeXS}),
		"External Link",
		templ.Attributes{"href": link},
		[]string{"text-xs"},
	)
}

templ shareArticleLink() {
	@partials.LinkWithIcon(tabler.Share(i.Props{Size: i.SizeXS}), "Share", nil, []string{"text-xs"})
}

func markArticleLink(itemID models.ItemID, isUnread bool) templ.Component {
	// Set up htmx attributes for action.
	attributes := templ.Attributes{
		"hx-swap":        "morph:outerHTML",
		"hx-target":      "#" + itemID,
		"hx-replace-url": "false",
		"_":              TriggerSubscriptionListUpdateHS,
	}

	if isUnread {
		attributes["hx-post"] = "/article/" + string(models.MarkRead) + "/" + itemID
		return partials.LinkWithIcon(
			tabler.Bookmark(i.Props{Size: i.SizeXS}),
			"Mark Read",
			attributes,
			[]string{"text-xs"},
		)
	}
	attributes["hx-post"] = "/article/" + string(models.MarkUnread) + "/" + itemID
	return partials.LinkWithIcon(
		tabler.BookmarkFilled(i.Props{Size: i.SizeXS}),
		"Mark Unread",
		attributes,
		[]string{"text-xs"},
	)
}

// Show renders an item as an article.
templ BuildArticleLayout(art *models.Article) {
	@article.Build(
		article.WithExtraClasses("shadow-sm", "bg-base-300", "rounded-box", "p-2", "overflow-scroll"),
		article.WithExtraAttributes(templ.Attributes{
			"hx-post":     "/article/read/" + art.GetID(),
			"hx-swap":     "none",
			"hx-push-url": "false",
			"hx-trigger":  "load delay:2s",
		}),
	).Show() {
		<h2>
			@text.Build(art.GetTitle(),
				text.WithWeight(text.Semibold),
				text.WithSize(text.LG),
			).Show("flex-1")
		</h2>
		@showDetails(art.GetAuthors(), art.GetUpdatedDate())
		// Display the categories associated with the article.
		for category := range slices.Values(art.GetCategories()) {
			@badge.Build(
				badge.WithStyle(badge.Ghost),
				badge.WithSize(badge.XS),
				badge.WithContent(category),
				badge.WithExtraClasses("capitalize", "w-fit-content"),
			).Show()
		}
		// Display the article content.
		@showContent(art)
		<div class="flex justify-center m-2 gap-2">
			<div>
				// Share article action.
				@shareArticleLink()
			</div>
			<div>
				// Visit external article link action.
				@visitArticleLink(art.GetLink())
			</div>
		</div>
	}
}
