// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/url"
	"slices"
	"strings"
)

var defaultCardOptions = []card.Option{
	card.WithStyle(card.Border),
	card.WithShadow(shadow.SM),
	card.WithExtraClasses("card-sm", "lg:card-md", "bg-base-300"),
}

templ RefreshAction(route string) {
	@button.Build(
		button.AsShape(button.Square),
		button.WithContent(tabler.Refresh(i.Props{Size: i.SizeXS})),
		button.WithExtraAttributes(templ.Attributes{
			"hx-get":      route,
			"hx-include":  "#content-filters",
			"hx-target":   partials.ContentID.Target(),
			"hx-push-url": "false",
			"tabindex":    "0",
		}),
	).Show()
}

// MarkAllFeedsAction generates an action for the footer menu to mark all feeds as either read or unread, depending on
// the current view.
func MarkAllSubscriptionsAction(ctx context.Context, view models.View) templ.Component {
	// Create htmx attributes.
	attrs := templ.Attributes{
		"hx-replace-url":  "false",
		"hx-target":       partials.ContentID.Target(),
		"hx-target-error": partials.ErrorID.Target(),
		"hx-swap":         "morph:innerHTML swap:1s",
		"_":               "on htmx:afterOnLoad call history.back()",
	}

	switch view {
	case models.ViewUnread:
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkRead)
		return markReadLink("Mark All Read", attrs)
	case models.ViewRead:
		fallthrough
	default:
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkUnread)
		return markUnreadLink("Mark All Unread", attrs)
	}
}

// MarkAllItemsAction generates an action for the footer menu to mark all items of a feed as either read or unread,
// depending on the current view.
func MarkAllArticlesAction(ctx context.Context, view models.View, subIDs ...models.SubscriptionID) templ.Component {
	// Create htmx attributes.
	attrs := templ.Attributes{
		"hx-replace-url": "false",
		"hx-swap":        "none",
		"_":              TriggerSubscriptionListUpdateHS,
	}
	// Create url parameters.
	params := make(url.Values)
	params.Add(models.ParamSubscriptions, strings.Join(subIDs, ","))
	params.Add(models.ParamRedirect, "/subscriptions")

	switch view {
	case models.ViewUnread:
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkRead) + "?" + params.Encode()
		return markReadLink("Mark All Read", attrs)
	case models.ViewRead:
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkUnread) + "?" + params.Encode()
		return markUnreadLink("Mark All Unread", attrs)
	default:
		return nil
	}
}

templ markReadLink(label string, attributes templ.Attributes) {
	@partials.LinkWithIcon(
		tabler.Bookmark(i.Props{Size: i.SizeXS}),
		label,
		attributes,
		[]string{"text-xs"},
	)
}

templ markUnreadLink(label string, attributes templ.Attributes) {
	@partials.LinkWithIcon(
		tabler.BookmarkFilled(i.Props{Size: i.SizeXS}),
		label,
		attributes,
		[]string{"text-xs"},
	)
}

templ CollectionActionsMenu(actions ...templ.Component) {
	if len(actions) > 0 {
		<div id="card-actions">
			<div class="dropdown dropdown-bottom dropdown-end">
				<div tabindex="0" role="button" class="btn btn-square">
					@tabler.DotsVertical(i.Props{Size: i.SizeXS})
				</div>
				<div tabindex="0" class="card card-sm bg-base-100 z-1 w-48 shadow-md dropdown-content">
					<div class="card-body">
						for action := range slices.Values(actions) {
							if action != nil {
								@action
							}
						}
					</div>
				</div>
			</div>
		</div>
	}
}

// Filter represents a filter action on a page. It has a value (displayed in the UI) and a link which will trigger a
// htmx request.
type Filter struct {
	label  string
	name   string
	value  string
	route  string
	active bool
}

func (f Filter) HXVal() string {
	return `{"` + f.name + `":"` + f.value + `"}`
}

templ (filter *Filter) AsLink() {
	if filter.active {
		@link.Build(
			link.WithThemeColor(color.Primary),
			link.WithContent(filter.label),
			link.WithUnderlineOnHover(),
			link.WithExtraClasses("capitalize", "text-xs"),
			link.WithExtraAttributes(templ.Attributes{
				"hx-get":         filter.route,
				"hx-include":     "#content-filters",
				"hx-vals":        filter.HXVal(),
				"hx-params":      "not " + models.ParamCategories,
				"hx-replace-url": "true",
				"hx-target":      partials.ContentID.Target(),
			}),
		).Show()
	} else {
		@link.Build(
			link.WithContent(filter.label),
			link.WithUnderlineOnHover(),
			link.WithExtraClasses("capitalize", "text-xs"),
			link.WithExtraAttributes(templ.Attributes{
				"hx-get":         filter.route,
				"hx-include":     "#content-filters",
				"hx-vals":        filter.HXVal(),
				"hx-replace-url": "true",
				"hx-target":      partials.ContentID.Target(),
			}),
		).Show()
	}
}

// NewCategoryFilter creates a new category filter component. Existing filters will be utilised and the request URL will
// use the given path.
func newCategoryFilter(ctx context.Context, category models.CategoryCount, route models.Route) *Filter {
	filter := &Filter{
		label: category.Category,
		value: category.Category,
		name:  models.ParamCategories,
	}
	// Check if this category is in the current view filters.
	if route.HasCategory(category.Category) {
		filter.active = true

	} else {
		filter.value = category.Category
	}
	// Generate a view.
	filter.route = route.Path

	return filter
}

func newViewFilter(ctx context.Context, view models.View, route models.Route) *Filter {
	// Get the current view.
	filter := &Filter{
		label: string(view),
		name:  models.ParamView,
		value: string(view),
	}
	// If the current view filters indicate this view is active, mark as so.
	if route.IsView(view) {
		filter.active = true
	}
	// Set the view filter to this view.
	filter.route = route.Path

	return filter
}

templ UpdateFilters(categories models.CategoryCounts, route models.Route) {
	<div id="card-filters">
		<div class="dropdown dropdown-bottom dropdown-end">
			<div tabindex="0" role="button" class="btn btn-square">
				@tabler.Filter(i.Props{Size: i.SizeXS})
			</div>
			<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
				<li class="menu-title text-xs">View:</li>
				for view := range slices.Values([]models.View{models.ViewUnread,models.ViewRead,models.ViewAll}) {
					<li>
						@newViewFilter(ctx, view, route).AsLink()
					</li>
				}
				if len(categories) > 0 {
					<li class="menu-title text-xs">Category:</li>
					for category := range slices.Values(categories.GetTopCategories(10)) {
						<li>
							@newCategoryFilter(ctx, category, route).AsLink()
						</li>
					}
				}
			</ul>
		</div>
	</div>
}

templ UpdateSorting(route string, current models.Sort) {
	<div id="card-sorting">
		<div class="dropdown dropdown-bottom dropdown-end">
			<div tabindex="0" role="button" class="btn btn-square">
				@tabler.ArrowsSort(i.Props{Size: i.SizeXS})
			</div>
			<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
				<li class="menu-title text-xs">Sort:</li>
				<li>
					@NewSortFilter(ctx, models.SortLastUpdatedDesc, route, current).AsLink()
				</li>
				<li>
					@NewSortFilter(ctx, models.SortLastUpdatedAsc, route, current).AsLink()
				</li>
				if route == "/subscriptions" {
					<li>
						@NewSortFilter(ctx, models.SortUnreadCountDesc, route, current).AsLink()
					</li>
					<li>
						@NewSortFilter(ctx, models.SortUnreadCountAsc, route, current).AsLink()
					</li>
				}
			</ul>
		</div>
	</div>
}

type SortOption struct {
	active bool
	route  string
	value  models.Sort
	icon   templ.Component
}

func NewSortFilter(ctx context.Context, sort models.Sort, route string, current models.Sort) *SortOption {
	option := &SortOption{
		value: sort,
		route: route,
	}
	// Set this sort as active if indicated in the current view filters.
	if current.IsEqual(sort) {
		option.active = true
	}

	// Set icons to represent sort option.
	switch sort.SortBy {
	case models.SortByLastUpdated:
		switch sort.SortOrder {
		case models.SortOrderDesc:
			option.icon = tabler.SortDescending()
		case models.SortOrderAsc:
			option.icon = tabler.SortAscending()
		}
	case models.SortByUnreadCount:
		switch sort.SortOrder {
		case models.SortOrderDesc:
			option.icon = tabler.SortDescendingNumbers()
		case models.SortOrderAsc:
			option.icon = tabler.SortAscendingNumbers()
		}
	}

	return option
}

func (s SortOption) HXVal() string {
	return `{"` + models.ParamSortBy + `":"` + string(s.value.SortBy) + `", "` + models.ParamSortOrder + `":"` + string(s.value.SortOrder) + `"}`

}

templ (option *SortOption) Show() {
	<div class="flex gap-2">
		@option.icon
		{ option.value.String() }
	</div>
}

templ (option *SortOption) AsLink() {
	if option.active {
		@link.Build(
			link.WithThemeColor(color.Primary),
			link.WithContent(option.Show()),
			link.WithUnderlineOnHover(),
			link.WithExtraClasses("capitalize", "text-xs"),
			link.WithExtraAttributes(templ.Attributes{
				"hx-get":         option.route,
				"hx-include":     "#content-filters",
				"hx-vals":        option.HXVal(),
				"hx-replace-url": "true",
				"hx-target":      partials.ContentID.Target(),
			}),
		).Show()
	} else {
		@link.Build(
			link.WithContent(option.Show()),
			link.WithUnderlineOnHover(),
			link.WithExtraClasses("capitalize", "text-xs"),
			link.WithExtraAttributes(templ.Attributes{
				"hx-get":         option.route,
				"hx-include":     "#content-filters",
				"hx-vals":        option.HXVal(),
				"hx-replace-url": "true",
				"hx-target":      partials.ContentID.Target(),
			}),
		).Show()
	}
}

templ UpdateActions(actions ...templ.Component) {
	<div id="content-actions">
		@tooltip.Build("Actions").Show() {
			@dropdown.Build(
				dropdown.WithButtonContent(tabler.Menu(i.Props{Size: i.SizeSM})),
				dropdown.WithOpenFrom(dropdown.OpenTop),
				dropdown.WithOpenAlignment(dropdown.AlignEnd),
				dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
			).Show() {
				for item := range slices.Values(actions) {
					if item != nil {
						<li>
							@item
						</li>
					}
				}
			}
		}
	</div>
}
