// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/cards"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/url"
	"slices"
	"strings"
	"time"
)

var defaultCardOptions = []card.Option{
	card.WithStyle(card.Border),
	card.WithShadow(shadow.SM),
	card.WithExtraClasses("card-sm", "lg:card-md", "bg-base-300"),
}

func GenerateSubscriptionCards(ctx context.Context, subscriptions models.Subscriptions) []templ.Component {
	subscriptionCards := make([]templ.Component, 0, len(subscriptions))
	for subscription := range slices.Values(subscriptions) {
		subscriptionCards = append(subscriptionCards, cards.NewSubscriptionCard(subscription).Show())
	}
	return subscriptionCards
}

func GenerateArticleCards(ctx context.Context, articles models.Articles) []templ.Component {
	articleCards := make([]templ.Component, 0, len(articles))
	for article := range slices.Values(articles) {
		articleCards = append(articleCards, cards.NewArticleCard(article).Show())
	}
	return articleCards
}

templ PaginationControl(ctx context.Context, pagination models.Pagination) {
	{{ view := models.PageStateFromCtx(ctx) }}
	{{ view.Params.Set(models.ParamPagination, pagination) }}
	<div
		id="pagination_placeholder"
		hx-post={ view.String() }
		hx-trigger="intersect once"
		hx-target="#pagination_placeholder"
		hx-swap="outerHTML"
		hx-replace-url="false"
		hx-indicator="#content-loading"
	></div>
}

// viewAction returns the action for viewing the card's content. For a Feed card this would be the Feed's item as cards.
// For a Item card, this would be the item content.
func viewAction(ctx context.Context, id string, viewed bool) templ.Attributes {
	var view models.PageState
	switch models.IdentifyID(id) {
	case models.SubscriptionPFX:
		filters := models.FiltersFromCtx(ctx)
		filters.SortBy = models.SortByLastUpdated
		if viewed {
			filters.View = models.ViewUnread
		} else {
			filters.View = models.ViewRead
		}
		view = models.PageState{Path: "/subscription/" + id, Params: filters.ToQueryParams()}
	case models.ItemPFX:
		view = models.PageState{Path: "/article/" + id}
	}
	return templ.Attributes{
		"hx-get":      view.String(),
		"hx-target":   partials.ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "morph:innerHTML show:top",
	}
}

templ RefreshAction() {
	@button.Build(
		button.AsShape(button.Square),
		button.WithContent(tabler.Refresh(i.Props{Size: i.SizeXS})),
		button.WithExtraAttributes(templ.Attributes{
			"hx-get":      models.PageStateFromCtx(ctx).String(),
			"hx-target":   partials.ContentID.Target(),
			"hx-push-url": "false",
			"tabindex":    "0",
			"_":           TriggerSubscriptionListUpdateHS,
		}),
	).Show()
}

// MarkAllFeedsAction generates an action for the footer menu to mark all feeds as either read or unread, depending on
// the current view.
func MarkAllSubscriptionsAction(ctx context.Context) templ.Component {
	// Create htmx attributes.
	attrs := templ.Attributes{
		"hx-replace-url":  "false",
		"hx-target":       partials.ContentID.Target(),
		"hx-target-error": partials.ErrorID.Target(),
		"hx-swap":         "morph:innerHTML swap:1s",
		"_":               "on htmx:afterOnLoad call history.back()",
	}

	switch models.FiltersFromCtx(ctx).View {
	case models.ViewUnread:
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkRead)
		return markReadLink("Mark All Read", attrs)
	case models.ViewRead:
		fallthrough
	default:
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkUnread)
		return markUnreadLink("Mark All Unread", attrs)
	}
}

// MarkAllItemsAction generates an action for the footer menu to mark all items of a feed as either read or unread,
// depending on the current view.
func MarkAllArticlesAction(ctx context.Context, subIDs ...models.SubscriptionID) templ.Component {
	// Create htmx attributes.
	attrs := templ.Attributes{
		"hx-replace-url": "false",
		"hx-swap":        "none",
		"_":              TriggerSubscriptionListUpdateHS,
	}
	// Create url parameters.
	params := make(url.Values)
	params.Add(models.ParamSubscriptions, strings.Join(subIDs, ","))
	params.Add(models.ParamRedirect, "/home/subscriptions")

	switch models.FiltersFromCtx(ctx).View {
	case models.ViewUnread:
		attrs["hx-post"] = "/home/subscriptions/" + string(models.MarkRead) + "?" + params.Encode()
		return markReadLink("Mark All Read", attrs)
	case models.ViewRead:
		attrs["hx-post"] = "/home/subscriptions/" + string(models.MarkUnread) + "?" + params.Encode()
		return markUnreadLink("Mark All Unread", attrs)
	default:
		return nil
	}
}

templ markReadLink(label string, attributes templ.Attributes) {
	@partials.LinkWithIcon(
		tabler.Bookmark(i.Props{Size: i.SizeXS}),
		label,
		attributes,
		[]string{"text-xs"},
	)
}

templ markUnreadLink(label string, attributes templ.Attributes) {
	@partials.LinkWithIcon(
		tabler.BookmarkFilled(i.Props{Size: i.SizeXS}),
		label,
		attributes,
		[]string{"text-xs"},
	)
}

templ showDetails(authors []string, updated time.Time) {
	<div>
		if len(authors) > 0 {
			<strong>{ strings.Join(authors, ",") }</strong>
		}
		<span>
			@partials.ShowTimestamp(updated)
		</span>
	</div>
}

templ showContent(article *models.Article) {
	<div id="article_content" class="text-sm max-w-prose">
		switch  {
			case article.GetContent() != "":
				@templ.Raw(article.GetContent())
			case article.GetDescription() != "":
				@templ.Raw(article.GetDescription())
		}
	</div>
}

templ CollectionActionsMenu(actions ...templ.Component) {
	if len(actions) > 0 {
		<div id="card-actions">
			<div class="dropdown dropdown-bottom dropdown-end">
				<div tabindex="0" role="button" class="btn btn-square">
					@tabler.DotsVertical(i.Props{Size: i.SizeXS})
				</div>
				<div tabindex="0" class="card card-sm bg-base-100 z-1 w-48 shadow-md dropdown-content">
					<div class="card-body">
						for action := range slices.Values(actions) {
							if action != nil {
								@action
							}
						}
					</div>
				</div>
			</div>
		</div>
	}
}

// Filter represents a filter action on a page. It has a value (displayed in the UI) and a link which will trigger a
// htmx request.
type Filter struct {
	label  string
	value  string
	link   models.PageState
	active bool
}

templ (filter *Filter) AsLink() {
	if filter.active {
		@link.Build(
			link.WithThemeColor(color.Primary),
			link.WithContent(filter.label),
			link.WithUnderlineOnHover(),
			link.WithExtraClasses("capitalize", "text-xs"),
			link.WithExtraAttributes(templ.Attributes{
				"hx-get":         filter.link.String(),
				"hx-replace-url": "true",
				"hx-target":      partials.ContentID.Target(),
			}),
		).Show()
	} else {
		@link.Build(
			link.WithContent(filter.label),
			link.WithUnderlineOnHover(),
			link.WithExtraClasses("capitalize", "text-xs"),
			link.WithExtraAttributes(templ.Attributes{
				"hx-get":         filter.link.String(),
				"hx-replace-url": "true",
				"hx-target":      partials.ContentID.Target(),
			}),
		).Show()
	}
}

// NewCategoryFilter creates a new category filter component. Existing filters will be utilised and the request URL will
// use the given path.
func newCategoryFilter(ctx context.Context, category models.CategoryCount) *Filter {
	filter := &Filter{
		label: category.Category,
		value: category.Category,
	}
	view := models.PageStateFromCtx(ctx)
	filters := view.GetFilters()
	// Check if this category is in the current view filters.
	if found, _ := filters.HasCategory(category.Category); found {
		filter.active = true
		filters.RemoveCategory(category.Category)
	} else {
		filters.AddCategory(category.Category)
	}
	// Generate a view.
	view.Params = filters.ToQueryParams()
	filter.link = view

	return filter
}

func newViewFilter(ctx context.Context, view models.View) *Filter {
	// Get the current view.
	link := models.PageStateFromCtx(ctx)
	filters := link.GetFilters()
	filter := &Filter{
		label: string(view),
		value: string(view),
	}
	// If the current view filters indicate this view is active, mark as so.
	if view == filters.View {
		filter.active = true
	}
	// Set the view filter to this view.
	filters.View = view
	link.Params = filters.ToQueryParams()
	filter.link = link

	return filter
}

templ UpdateFilters(categories models.CategoryCounts) {
	<div id="card-filters">
		<div class="dropdown dropdown-bottom dropdown-end">
			<div tabindex="0" role="button" class="btn btn-square">
				@tabler.Filter(i.Props{Size: i.SizeXS})
			</div>
			<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
				<li class="menu-title text-xs">View:</li>
				for view := range slices.Values([]models.View{models.ViewUnread,models.ViewRead,models.ViewAll}) {
					<li>
						@newViewFilter(ctx, view).AsLink()
					</li>
				}
				if len(categories) > 0 {
					<li class="menu-title text-xs">Category:</li>
					for category := range slices.Values(categories.GetTopCategories(10)) {
						<li>
							@newCategoryFilter(ctx, category).AsLink()
						</li>
					}
				}
			</ul>
		</div>
	</div>
}

templ UpdateSorting(collection models.Collection) {
	<div id="card-sorting">
		<div class="dropdown dropdown-bottom dropdown-end">
			<div tabindex="0" role="button" class="btn btn-square">
				@tabler.ArrowsSort(i.Props{Size: i.SizeXS})
			</div>
			<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
				<li class="menu-title text-xs">Sort:</li>
				<li>
					@NewSortFilter(ctx, models.SortLastUpdatedDesc).AsLink()
				</li>
				<li>
					@NewSortFilter(ctx, models.SortLastUpdatedAsc).AsLink()
				</li>
				if collection == models.CollectionSubscriptions {
					<li>
						@NewSortFilter(ctx, models.SortUnreadCountDesc).AsLink()
					</li>
					<li>
						@NewSortFilter(ctx, models.SortUnreadCountAsc).AsLink()
					</li>
				}
			</ul>
		</div>
	</div>
}

type SortOption struct {
	active bool
	link   models.PageState
	label  string
	icon   templ.Component
}

func NewSortFilter(ctx context.Context, sort models.Sort) *SortOption {
	filters := models.FiltersFromCtx(ctx)
	option := &SortOption{
		label: sort.String(),
	}

	// Set this sort as active if indicated in the current view filters.
	if filters.SortBy == sort.SortBy && filters.SortOrder == sort.SortOrder {
		option.active = true
	}

	// Set icons to represent sort option.
	switch sort.SortBy {
	case models.SortByLastUpdated:
		switch sort.SortOrder {
		case models.SortOrderDesc:
			option.icon = tabler.SortDescending()
		case models.SortOrderAsc:
			option.icon = tabler.SortAscending()
		}
	case models.SortByUnreadCount:
		switch sort.SortOrder {
		case models.SortOrderDesc:
			option.icon = tabler.SortDescendingNumbers()
		case models.SortOrderAsc:
			option.icon = tabler.SortAscendingNumbers()
		}
	}

	// Generate a view.
	filters.SortBy = sort.SortBy
	filters.SortOrder = sort.SortOrder
	view := models.PageStateFromCtx(ctx)
	view.Params = filters.ToQueryParams()
	option.link = view

	return option
}

templ (option *SortOption) Show() {
	<div class="flex gap-2">
		@option.icon
		{ option.label }
	</div>
}

templ (option *SortOption) AsLink() {
	if option.active {
		@link.Build(
			link.WithThemeColor(color.Primary),
			link.WithContent(option.Show()),
			link.WithUnderlineOnHover(),
			link.WithExtraClasses("capitalize", "text-xs"),
			link.WithExtraAttributes(templ.Attributes{
				"hx-get":         option.link.String(),
				"hx-replace-url": "true",
				"hx-target":      partials.ContentID.Target(),
			}),
		).Show()
	} else {
		@link.Build(
			link.WithContent(option.Show()),
			link.WithUnderlineOnHover(),
			link.WithExtraClasses("capitalize", "text-xs"),
			link.WithExtraAttributes(templ.Attributes{
				"hx-get":         option.link.String(),
				"hx-replace-url": "true",
				"hx-target":      partials.ContentID.Target(),
			}),
		).Show()
	}
}

templ UpdateActions(actions ...templ.Component) {
	<div id="content-actions">
		@tooltip.Build("Actions").Show() {
			@dropdown.Build(
				dropdown.WithButtonContent(tabler.Menu(i.Props{Size: i.SizeSM})),
				dropdown.WithOpenFrom(dropdown.OpenTop),
				dropdown.WithOpenAlignment(dropdown.AlignEnd),
				dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
			).Show() {
				for item := range slices.Values(actions) {
					if item != nil {
						<li>
							@item
						</li>
					}
				}
			}
		}
	</div>
}
