// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
)

// EmptyContent renders a hero with options for the user when the request
// returned no other content.
templ EmptyContent() {
	@layouts.Drawer() {
		// Fragment: content header
		@partials.Fragment("content-header") {
			@layouts.Header()
		}
		@partials.Fragment("content") {
			@partials.Content() {
				@card.Build(
					card.WithSize(card.LG),
					card.WithShadow(shadow.XL),
					card.WithBaseColor(color.Base300),
					card.WithBodyOptions(
						card.WithCenteredContent(),
						card.WithTitle("Nothing here but 1s and 0s"),
					),
				).Show() {
					<p>Something else?</p>
					<div class="flex gap-2">
						@partials.NewAction("/home", partials.DisplayActionAsButton,
							partials.ActionPushURL(),
						) {
							Home
						}
						@partials.NewAction("/user/subscription/new", partials.DisplayActionAsButton,
							partials.ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+partials.ModalID.Target()),
							partials.ActionTarget(partials.ModalContainerID.Target()),
						) {
							New Subscription
						}
						@partials.NewAction("/user/subscription/new", partials.DisplayActionAsButton,
							partials.ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+partials.ModalID.Target()),
						) {
							Import Subscriptions
						}
					</div>
				}
			}
		}
		// Fragment: content footer
		@partials.Fragment("content-footer") {
			@partials.Footer()
		}
	}
}
