// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"context"
	"log/slog"
	"slices"

	"github.com/elastic/go-elasticsearch/v8/typedapi/types"

	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/providers/elastic/aggregations"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/veqryn/slog-context"
)

type HomePageData struct {
	Aggregations aggregations.AggregationResults
	Links        map[string]models.PageState
}

func (d *HomePageData) generateTopCategoriesLinks(ctx context.Context) templ.Component {
	// Get the top categories.
	topCategoriesSamplerAgg, err := aggregations.ExtractAggregation[*types.SamplerAggregate](d.Aggregations, "top_categories_sample")
	if err != nil {
		slogctx.FromCtx(ctx).Warn("Unable to show top categories.", slog.Any("error", err))
	}
	topCategoriesAgg, err := aggregations.ExtractAggregation[*types.StringTermsAggregate](topCategoriesSamplerAgg.Aggregations, "top_categories")
	if err != nil {
		slogctx.FromCtx(ctx).Warn("Unable to show top categories.", slog.Any("error", err))
	}
	// Generate category counts from buckets.
	var topCategoryCounts models.CategoryCounts
	for category := range slices.Values(topCategoriesAgg.Buckets.([]types.StringTermsBucket)) {
		topCategoryCounts = append(topCategoryCounts, models.CategoryCount{Category: category.Key.(string), Count: int(category.DocCount)})
	}
	topCategoryCounts.Sort()

	return createCategoryLinks(topCategoryCounts)
}

func (d *HomePageData) generateRareCategoriesLinks(ctx context.Context) templ.Component {
	// Get the rare categories.
	rareCategoriesAgg, err := aggregations.ExtractAggregation[*types.StringRareTermsAggregate](d.Aggregations, "rare_categories")
	if err != nil {
		slogctx.FromCtx(ctx).Warn("Unable to show rare categories.", slog.Any("error", err))
	}
	// Generate category counts from buckets.
	var rareCategoryCounts models.CategoryCounts
	for category := range slices.Values(rareCategoriesAgg.Buckets.([]types.StringRareTermsBucket)) {
		rareCategoryCounts = append(rareCategoryCounts, models.CategoryCount{Category: category.Key, Count: int(category.DocCount)})
	}
	rareCategoryCounts.Sort()

	count := 10
	if len(rareCategoryCounts) < 10 {
		count = len(rareCategoryCounts)
	}

	return createCategoryLinks(rareCategoryCounts[:count])
}

func GenerateHomePageContent(ctx context.Context, data *HomePageData, articles models.Articles) templ.Component {
	if data.Aggregations != nil {
		// Generate a links to top categories from the data.
		topCategories := data.generateTopCategoriesLinks(ctx)
		// Generate links to rare categories from the data.
		rareCategories := data.generateRareCategoriesLinks(ctx)
		// Generate a random collection of article cards from the data.
		randomItems := GenerateArticleCards(ctx, articles)
		return layoutHomePageContent(data.Links, topCategories, rareCategories, randomItems)
	}
	return layoutHomePageContent(data.Links, nil, nil, nil)

}

templ layoutHomePageContent(links map[string]models.PageState, topCategories, rareCategories templ.Component, randomItems []templ.Component) {
	{{ subscriptionsPage := links["subscriptions"] }}
	{{ articlesPage := links["articles"] }}
	<div class="flex flex-col max-w-fit p-2 justify-items-center">
		<h1>Go To:</h1>
		@button.Build(
			button.WithStyle(button.Ghost),
			button.WithExtraAttributes(templ.Attributes{
				"hx-get":      subscriptionsPage.String(),
				"hx-target":   partials.ContentID.Target(),
				"hx-swap":     "morph:innerHTML",
				"hx-push-url": "true",
			}),
		).Show() {
			<div class="capitalize">Subscriptions</div>
		}
		@button.Build(
			button.WithStyle(button.Ghost),
			button.WithExtraAttributes(templ.Attributes{
				"hx-get":      articlesPage.String(),
				"hx-target":   partials.ContentID.Target(),
				"hx-swap":     "morph:innerHTML",
				"hx-push-url": "true",
			}),
		).Show() {
			<div class="capitalize">Articles</div>
		}
		if topCategories != nil {
			<h1>Top Categories:</h1>
			<div id="top-categories" class="flex flex-row flex-wrap gap-2">
				@topCategories
			</div>
		}
		if rareCategories != nil {
			<h1>Interesting Categories:</h1>
			<div id="rare-categories" class="flex flex-wrap p-2">
				@rareCategories
			</div>
		}
		if randomItems != nil {
			<h1>Random Articles:</h1>
			@partials.CardGrid(randomItems...)
		}
	</div>
}

func createCategoryLinks(categoryCounts models.CategoryCounts) templ.Component {
	var categoryLinks []templ.Component
	for category := range slices.Values(categoryCounts) {
		articlesPage := models.PageState{Path: "/home/articles", Params: models.NewFilters().ToQueryParams()}
		articlesPage.Params.Set(models.ParamCategories, category.Category)
		attributes := templ.Attributes{
			"hx-get":      articlesPage.String(),
			"hx-push-url": "true",
			"hx-target":   partials.ContentID.Target(),
		}
		categoryLinks = append(categoryLinks,
			button.Build(
				button.WithStyle(button.Ghost),
				button.WithSize(button.XS),
				button.WithExtraAttributes(attributes),
				button.WithContent(category.Category),
			).Show(),
		)

	}
	return templ.Join(categoryLinks...)
}
