// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"context"
	"fmt"
	"log/slog"
	"slices"

	"github.com/elastic/go-elasticsearch/v8/typedapi/types"

	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/providers/elastic"
	"github.com/joshuar/go-feed-me/providers/elastic/aggregations"
	"github.com/joshuar/go-feed-me/providers/elastic/query"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/veqryn/slog-context"
)

type HomePageData aggregations.AggregationResults

func (d HomePageData) generateTopCategoriesLinks(ctx context.Context) templ.Component {
	// Get the top categories.
	topCategoriesSamplerAgg, err := aggregations.ExtractAggregation[*types.SamplerAggregate](d, "top_categories_sample")
	if err != nil {
		slogctx.FromCtx(ctx).Warn("Unable to show top categories.", slog.Any("error", err))
	}
	topCategoriesAgg, err := aggregations.ExtractAggregation[*types.StringTermsAggregate](topCategoriesSamplerAgg.Aggregations, "top_categories")
	if err != nil {
		slogctx.FromCtx(ctx).Warn("Unable to show top categories.", slog.Any("error", err))
	}
	// Generate category counts from buckets.
	var topCategoryCounts models.CategoryCounts
	for category := range slices.Values(topCategoriesAgg.Buckets.([]types.StringTermsBucket)) {
		topCategoryCounts = append(topCategoryCounts, models.CategoryCount{Category: category.Key.(string), Count: int(category.DocCount)})
	}
	topCategoryCounts.Sort()

	return createCategoryLinks(topCategoryCounts)
}

func (d HomePageData) generateRareCategoriesLinks(ctx context.Context) templ.Component {
	// Get the rare categories.
	rareCategoriesAgg, err := aggregations.ExtractAggregation[*types.StringRareTermsAggregate](d, "rare_categories")
	if err != nil {
		slogctx.FromCtx(ctx).Warn("Unable to show rare categories.", slog.Any("error", err))
	}
	// Generate category counts from buckets.
	var rareCategoryCounts models.CategoryCounts
	for category := range slices.Values(rareCategoriesAgg.Buckets.([]types.StringRareTermsBucket)) {
		rareCategoryCounts = append(rareCategoryCounts, models.CategoryCount{Category: category.Key, Count: int(category.DocCount)})
	}
	rareCategoryCounts.Sort()

	return createCategoryLinks(rareCategoryCounts[:10])
}

func (d HomePageData) generateRandomItemsCards(ctx context.Context, api *elastic.API) ([]templ.Component, error) {
	// Get the rare categories aggregation.
	randomItemsAgg, err := aggregations.ExtractAggregation[map[string]any](d, "random_items")
	if err != nil {
		return nil, fmt.Errorf("could not get random items: %w", err)
	}
	// itemsAgg, err := aggregations.ExtractAggregation[*types.StringTermsAggregate](randomItemsAgg, "sterms#items")
	itemsAgg := randomItemsAgg["sterms#items"].(map[string]any)
	// if err != nil {
	// 	return nil, fmt.Errorf("could not get random items: %w", err)
	// }
	var itemIDs []models.ItemID
	for bucket := range slices.Values(itemsAgg["buckets"].([]any)) {
		value := bucket.(map[string]any)
		itemIDs = append(itemIDs, value["key"].(string))
	}

	items, err := api.GetArticlesByID(ctx, itemIDs...)
	if err != nil {
		return nil, fmt.Errorf("could not get random items: %w", err)
	}

	cards := GenerateArticleCards(ctx, items, "")

	return cards, nil
	// return nil, nil
}

func GenerateHomePageContent(ctx context.Context, api *elastic.API) templ.Component {
	// Get the required data.
	data, err := getHomePageData(ctx, api)
	if err != nil {
		slogctx.FromCtx(ctx).Error("Could not generate home page content.", slog.Any("error", err))
	}
	// Generate a links to top categories from the data.
	topCategories := data.generateTopCategoriesLinks(ctx)
	// Generate links to rare categories from the data.
	rareCategories := data.generateRareCategoriesLinks(ctx)
	// Generate a random collection of article cards from the data.
	randomItems, err := data.generateRandomItemsCards(ctx, api)
	if err != nil {
		slogctx.FromCtx(ctx).Warn("Unable to random items.", slog.Any("error", err))
	}

	return layoutHomePageContent(topCategories, rareCategories, randomItems)
}

func getHomePageData(ctx context.Context, api *elastic.API) (HomePageData, error) {
	user, found := models.UserFromCtx(ctx)
	if !found {
		return nil, fmt.Errorf("%w: no user found", elastic.ErrFetchCtx)
	}
	// Get subscriptions.
	subscriptions := user.GetSubscriptions()
	// Query definition for fetching unread items for all subscriptions.
	query := query.Bool(
		query.BoolQueryName("item_filters"),
		query.Filter(
			// Must match any of the given feed IDs.
			query.FeedIDs(subscriptions.GetFeedIDs()...),
			// And should match one feed clause.
			query.Bool(
				query.Should(elastic.BuildSubscriptionQueries(subscriptions, models.ViewUnread)...),
			),
		),
	)

	var aggs []aggregations.Aggregation
	TermsField := "categories.raw"

	// Aggregation definition for fetching the top 10 item categories across all subscriptions.
	SampleField := "feed_id"
	DefaultMaxDocsPerValue := 10
	ShardSize := 1000
	aggs = append(aggs,
		aggregations.Aggregation{
			Name: "top_categories_sample",
			Definition: types.Aggregations{
				DiversifiedSampler: &types.DiversifiedSamplerAggregation{
					Field:           &SampleField,
					MaxDocsPerValue: &DefaultMaxDocsPerValue,
					ShardSize:       &ShardSize,
				},
				Aggregations: map[string]types.Aggregations{
					"top_categories": {
						Terms: &types.TermsAggregation{
							Field: &TermsField,
						},
					},
				},
			},
		},
	)
	// Aggregation definition for fetching the rare item categories across all subscriptions.
	MaxDocCount := int64(5)
	aggs = append(aggs,
		aggregations.Aggregation{
			Name: "rare_categories",
			Definition: types.Aggregations{
				RareTerms: &types.RareTermsAggregation{
					Field:       &TermsField,
					MaxDocCount: &MaxDocCount,
				},
			},
		},
	)

	// Aggregation definition for fetching a set of random items from all subscriptions.
	ItemIDField := "item_id"
	aggs = append(aggs,
		aggregations.Aggregation{
			Name: "random_items",
			Definition: types.Aggregations{
				RandomSampler: &types.RandomSamplerAggregation{
					Probability: 0.1,
				},
				Aggregations: map[string]types.Aggregations{
					"items": {
						Terms: &types.TermsAggregation{
							Field: &ItemIDField,
						},
					},
				},
			},
		},
	)

	// Perform the request.
	resp, err := api.ItemsAggregation(ctx, query, aggs...)
	if err != nil {
		return nil, fmt.Errorf("%w: %w", elastic.ErrReqFailed, err)
	}

	return resp.Aggregations, nil
}

templ layoutHomePageContent(topCategories, rareCategories templ.Component, randomItems []templ.Component) {
	{{ subscriptionsPage := models.PageState{Path: "/home/subscriptions", Params: models.NewFilters().ToQueryParams()} }}
	{{ articlesPage := models.PageState{Path: "/home/articles", Params: models.NewFilters().ToQueryParams()} }}
	<div class="flex flex-col max-w-fit p-2 justify-items-center">
		<h1>Go To:</h1>
		@button.Build(
			button.WithStyle(button.Ghost),
			button.WithExtraAttributes(templ.Attributes{
				"hx-get":      subscriptionsPage.String(),
				"hx-target":   partials.ContentID.Target(),
				"hx-swap":     "morph:innerHTML",
				"hx-push-url": "true",
			}),
		).Show() {
			<div class="capitalize">Subscriptions</div>
		}
		@button.Build(
			button.WithStyle(button.Ghost),
			button.WithExtraAttributes(templ.Attributes{
				"hx-get":      articlesPage.String(),
				"hx-target":   partials.ContentID.Target(),
				"hx-swap":     "morph:innerHTML",
				"hx-push-url": "true",
			}),
		).Show() {
			<div class="capitalize">Articles</div>
		}
		if topCategories != nil {
			<h1>Top Categories:</h1>
			<div id="top-categories" class="flex flex-row flex-wrap gap-2">
				@topCategories
			</div>
		}
		if rareCategories != nil {
			<h1>Interesting Categories:</h1>
			<div id="rare-categories" class="flex flex-wrap p-2">
				@rareCategories
			</div>
		}
		if randomItems != nil {
			<h1>Random Articles:</h1>
			@partials.CardGrid(randomItems...)
		}
	</div>
}

func createCategoryLinks(categoryCounts models.CategoryCounts) templ.Component {
	var categoryLinks []templ.Component
	for category := range slices.Values(categoryCounts) {
		articlesPage := models.PageState{Path: "/home/articles", Params: models.NewFilters().ToQueryParams()}
		articlesPage.Params.Set(models.ParamCategories, category.Category)
		attributes := templ.Attributes{
			"hx-get":      articlesPage.String(),
			"hx-push-url": "true",
			"hx-target":   partials.ContentID.Target(),
		}
		categoryLinks = append(categoryLinks, partials.InactiveButton(category.Category, attributes))
	}
	return templ.Join(categoryLinks...)
}
