// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"context"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/classes/opacity"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/avatar"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/figure"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/placeholder"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/url"
	"slices"
	"strconv"
	"strings"
	"time"
)

var defaultCardOptions = []card.Option{
	card.WithStyle(card.Border),
	card.WithShadow(shadow.SM),
	card.WithExtraClasses("card-sm", "lg:card-md", "bg-base-300"),
}

func GenerateSubscriptionCards(ctx context.Context, pagination models.Pagination, subscriptions models.Subscriptions) []templ.Component {
	filters := models.FiltersFromCtx(ctx)
	cards := make([]templ.Component, 0, len(subscriptions))
	for idx, subscription := range subscriptions {
		cardOptions := slices.Clone(defaultCardOptions)
		cardOptions = append(cardOptions,
			card.WithID(subscription.GetID()),
			card.WithBodyOptions(
				// Card title.
				card.WithTitle(subscriptionCardTitle(subscription)),
				// Card content.
				card.WithContent(
					templ.Join(
						showDetails(subscription.GetAuthors(), subscription.GetUpdatedDate()),
						showDescription(subscription.GetDescription()),
					),
				),
				// Card actions.
				card.WithActions(
					buildCardActionsMenu(
						// Share subscription action.
						partials.LinkWithIcon(tabler.Share(i.Props{Size: i.SizeXS}), "Share", nil, []string{"text-xs"}),
						// Visit subscription link action.
						partials.LinkWithIcon(tabler.ExternalLink(i.Props{Size: i.SizeXS}),
							"Visit "+models.ParseDomain(subscription.GetLink()),
							templ.Attributes{
								"href": subscription.GetLink(),
								"_":    "on mouseenter add .menu-active to me end on mouseleave remove .menu-active from me end",
							},
							[]string{"text-xs"},
						),
						// Mark subscription action.
						markSubscriptionAction(subscription.GetID(), subscription.IsUnread()),
						// Edit subscription action.
						editSubscriptionAction(subscription.GetID()),
						// Unsubscribe from subscription action.
						unsubscribeAction(subscription.GetID())),
				),
			),
		)
		// Reduce opacity for read articles.
		if !subscription.IsUnread() {
			cardOptions = append(cardOptions, card.WithExtraClasses(opacity.Apply(75)))
		}
		cards = append(cards, card.Build(cardOptions...).Show())
		// Add pagination htmx props to last article.
		if idx == len(subscriptions)-1 && len(subscriptions) == filters.CountAsInt() {
			cards = append(cards, paginationControl(ctx, pagination))
		}
	}
	return cards
}

templ subscriptionCardTitle(subscription *models.Subscription) {
	// Generate a thumbnail to display next to the title.
	if subscription.GetImage() != nil {
		// If the source has an image, use that as the avatar.
		@avatar.Build(
			subscription.GetImage().URL(),
			avatar.WithWidth("w-12"),
			avatar.WithImageOptions(image.WithLazyLoading()),
			avatar.WithExtraClasses("rounded"),
		).Show()
	} else {
		// Otherwise, take the first letter of the title and create a placeholder avatar.
		@placeholder.Build(subscription.GetTitle()[0:1], placeholder.SM).Show()
	}
	// Title text is a link to the view action of the card.
	<div class="text-sm flex-1">
		@link.Build(
			link.WithContent(subscription.GetTitle()),
			link.WithUnderlineOnHover(),
			link.WithExtraAttributes(viewAction(ctx, subscription.GetID(), subscription.IsUnread())),
		).Show()
	</div>
	// Display unread count (if any).
	<div class="flex-none">
		if subscription.IsUnread() {
			@badge.Build(
				badge.WithSize(badge.SM),
				badge.WithColor(badge.Secondary),
				badge.WithContent(strconv.Itoa(subscription.UnreadCount)+" Unread"),
				badge.WithExtraAttributes(templ.Attributes{
					"sse-swap": subscription.GetFeedID() + "_unread",
				}),
			).Show()
		}
	</div>
}

func GenerateArticleCards(ctx context.Context, articles models.Articles, pagination models.Pagination) []templ.Component {
	filters := models.FiltersFromCtx(ctx)
	cards := make([]templ.Component, 0, len(articles))
	for idx, article := range articles {
		cardOptions := slices.Clone(defaultCardOptions)
		// Add an image if the article has one.
		if articleImage := article.Item.GetImage(); articleImage != nil {
			cardOptions = append(cardOptions,
				card.WithImage(
					image.Build(
						articleImage.URL(),
						image.WithLazyLoading(),
						image.WithExtraClasses("h-40", "max-w-full", "aspect-auto", "object-contain", "rounded-box"),
					),
					figure.WithFigureClasses("m-2"),
				),
			)
		}
		cardOptions = append(cardOptions,
			card.WithID(article.Item.GetID()),
			card.WithBodyOptions(
				// Card title.
				card.WithTitle(
					link.Build(
						link.WithContent(article.Item.GetTitle()),
						link.WithUnderlineOnHover(),
						link.WithExtraAttributes(viewAction(ctx, article.Item.ItemID, article.IsUnread())),
					).Show(),
				),
				// Card content.
				card.WithContent(
					templ.Join(
						showDetails(article.Item.GetAuthors(), article.Item.GetUpdatedDate()),
						showCategories(article.Item.GetCategories()...),
					),
				),
				// Card actions.
				card.WithActions(
					buildCardActionsMenu(
						// Share article action.
						partials.LinkWithIcon(tabler.Share(i.Props{Size: i.SizeXS}), "Share", nil, []string{"text-xs"}),
						// Visit external article link action.
						partials.LinkWithIcon(tabler.ExternalLink(i.Props{Size: i.SizeXS}),
							"External Link",
							templ.Attributes{"href": article.Item.GetLink()},
							[]string{"text-xs"},
						),
						// Mark article action.
						markArticleAction(article.FeedID, article.ItemID, article.IsUnread()),
					),
				),
			),
		)
		// Reduce opacity for read articles.
		if !article.IsUnread() {
			cardOptions = append(cardOptions, card.WithExtraClasses(opacity.Apply(75)))
		}

		// Append the card to the list of cards.
		cards = append(cards, card.Build(cardOptions...).Show())

		// Add a pagination trigger element after the last card .
		if idx == len(articles)-1 && len(articles) == filters.CountAsInt() && pagination != "" {
			cards = append(cards, paginationControl(ctx, pagination))
		}

	}
	return cards
}

templ paginationControl(ctx context.Context, pagination models.Pagination) {
	{{ view := models.PageStateFromCtx(ctx) }}
	{{ view.Params.Set(models.ParamPagination, pagination) }}
	<div
		id="pagination_placeholder"
		hx-post={ view.String() }
		hx-trigger="intersect once"
		hx-target="#pagination_placeholder"
		hx-swap="outerHTML"
		hx-replace-url="false"
		hx-indicator="#content-loading"
	></div>
}

// buildCardActionsMenu generates a menu for the card containing the given actions.
templ buildCardActionsMenu(actions ...templ.Component) {
	@tooltip.Build("Actions").Show() {
		@dropdown.Build(
			dropdown.WithButtonContent(tabler.DotsVertical(i.Props{Size: i.SizeXS})),
			dropdown.WithButtonClasses(button.Ghost, button.XS),
			dropdown.WithOpenFrom(dropdown.OpenTop),
			dropdown.WithOpenAlignment(dropdown.AlignEnd),
			dropdown.WithMenuClasses("justify-end", "flex-nowrap", "grow"),
		).Show() {
			for item := range slices.Values(actions) {
				<li _="on click call document.activeElement.blur()">
					@item
				</li>
			}
		}
	}
}

// viewAction returns the action for viewing the card's content. For a Feed card this would be the Feed's item as cards.
// For a Item card, this would be the item content.
func viewAction(ctx context.Context, id string, viewed bool) templ.Attributes {
	var view models.PageState
	switch models.IdentifyID(id) {
	case models.SubscriptionPFX:
		filters := models.FiltersFromCtx(ctx)
		filters.SortBy = models.SortByLastUpdated
		view = models.PageState{Path: "/subscription/" + id, Params: filters.ToQueryParams()}
		if viewed {
			filters.View = models.ViewUnread
		} else {
			filters.View = models.ViewRead
		}
	case models.ItemPFX:
		view = models.PageState{Path: "/article/" + id}
	}
	return templ.Attributes{
		"hx-get":      view.String(),
		"hx-target":   partials.ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "morph:innerHTML show:top",
	}
}

templ RefreshAction() {
	@button.Build(
		button.AsShape(button.Square),
		button.WithContent(tabler.Refresh(i.Props{Size: i.SizeXS})),
		button.WithExtraAttributes(templ.Attributes{
			"hx-get":      models.PageStateFromCtx(ctx).String(),
			"hx-target":   partials.ContentID.Target(),
			"hx-push-url": "false",
			"tabindex":    "0",
		}),
	).Show()
}

func markSubscriptionAction(id models.SubscriptionID, isRead bool) templ.Component {
	// Create htmx attributes: don't replace URL, swap the subscription card only.
	attrs := templ.Attributes{
		"hx-replace-url":  "false",
		"hx-target":       "#" + id,
		"hx-target-error": partials.ErrorID.Target(),
		"hx-swap":         "outerHTML swap:1s",
	}
	if isRead {
		attrs["hx-post"] = "/subscription/" + string(models.MarkRead) + "/" + id
		return markReadLink("Mark Read", attrs)
	}
	attrs["hx-post"] = "/subscription/" + string(models.MarkUnread) + "/" + id
	return markUnreadLink("Mark Unread", attrs)
}

// MarkAllFeedsAction generates an action for the footer menu to mark all feeds as either read or unread, depending on
// the current view.
func MarkAllSubscriptionsAction(ctx context.Context) templ.Component {
	// Create htmx attributes.
	attrs := templ.Attributes{
		"hx-replace-url":  "false",
		"hx-target":       partials.ContentID.Target(),
		"hx-target-error": partials.ErrorID.Target(),
		"hx-swap":         "morph:innerHTML swap:1s",
		"_":               "on htmx:afterOnLoad call history.back()",
	}

	switch models.FiltersFromCtx(ctx).View {
	case models.ViewUnread:
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkRead)
		return markReadLink("Mark All Read", attrs)
	case models.ViewRead:
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkUnread)
		return markUnreadLink("Mark All Unread", attrs)
	default:
		return nil
	}
}

func markArticleAction(feedID models.FeedID, itemID models.ItemID, isUnread bool) templ.Component {
	// Set up htmx attributes for action.
	attributes := templ.Attributes{
		"hx-swap":        "outerHTML swap:1s",
		"hx-target":      "#" + itemID,
		"hx-replace-url": "false",
	}

	if isUnread {
		attributes["hx-post"] = "/article/" + string(models.MarkRead) + "/" + itemID
		return markReadLink("Mark Read", attributes)
	}
	attributes["hx-post"] = "/article/" + string(models.MarkUnread) + "/" + itemID
	return markUnreadLink("Mark Unread", attributes)
}

// MarkAllItemsAction generates an action for the footer menu to mark all items of a feed as either read or unread,
// depending on the current view.
func MarkAllArticlesAction(ctx context.Context, subIDs ...models.SubscriptionID) templ.Component {
	// Create htmx attributes.
	attrs := templ.Attributes{
		"hx-replace-url": "false",
		"hx-swap":        "none",
	}
	// Create url parameters.
	params := make(url.Values)
	params.Add(models.ParamSubscriptions, strings.Join(subIDs, ","))
	params.Add(models.ParamRedirect, "/home/subscriptions")

	switch models.FiltersFromCtx(ctx).View {
	case models.ViewUnread:
		attrs["hx-post"] = "/home/subscriptions/" + string(models.MarkRead) + "?" + params.Encode()
		return markReadLink("Mark All Read", attrs)
	case models.ViewRead:
		attrs["hx-post"] = "/home/subscriptions/" + string(models.MarkUnread) + "?" + params.Encode()
		return markUnreadLink("Mark All Unread", attrs)
	default:
		return nil
	}
}

// AddSubscriptionButton creates a button for displaying a modal to add a new subscription.
func AddSubscriptionAction() templ.Component {
	return openModalLink(
		"hx-get",
		"/subscription/new",
		templ.Join(tabler.CloudPlus(i.Props{Size: i.SizeXS}), components.SetContent("Add Subscription")),
	)
}

// ImportAction creates a button for displaying a modal to import feeds (i.e. // via opml).
func ImportAction() templ.Component {
	return openModalLink(
		"hx-get",
		"/subscription/import",
		templ.Join(tabler.CloudUpload(i.Props{Size: i.SizeXS}), components.SetContent("Import Subscriptions")),
	)
}

func editSubscriptionAction(id models.SubscriptionID) templ.Component {
	return openModalLink(
		"hx-get",
		"/subscription/edit/"+id,
		templ.Join(tabler.Edit(i.Props{Size: i.SizeXS}), components.SetContent("Edit")),
	)
}

func unsubscribeAction(id models.SubscriptionID) templ.Component {
	return openModalLink(
		"hx-delete",
		"/subscription/remove/"+id+"?confirmation=no",
		templ.Join(tabler.Trash(i.Props{Size: i.SizeSM}), components.SetContent("Unsubscribe")),
	)
}

templ markReadLink(label string, attributes templ.Attributes) {
	@partials.LinkWithIcon(
		tabler.Bookmark(i.Props{Size: i.SizeXS}),
		label,
		attributes,
		[]string{"text-xs"},
	)
}

templ markUnreadLink(label string, attributes templ.Attributes) {
	@partials.LinkWithIcon(
		tabler.BookmarkFilled(i.Props{Size: i.SizeXS}),
		label,
		attributes,
		[]string{"text-xs"},
	)
}

// Show renders an item as an article.
templ BuildArticleLayout(art *models.Article) {
	@article.Build(
		article.WithExtraClasses("shadow-sm", "bg-base-300", "rounded-box", "p-2", "overflow-scroll"),
		article.WithExtraAttributes(templ.Attributes{
			"hx-post":     "/article/read/" + art.ItemID,
			"hx-swap":     "none",
			"hx-push-url": "false",
			"hx-trigger":  "load delay:2s",
		}),
	).Show() {
		<h2>
			@text.Build(art.Item.GetTitle(),
				text.WithWeight(text.Semibold),
				text.WithSize(text.LG),
			).Show("flex-1")
		</h2>
		@showDetails(art.Item.GetAuthors(), art.Item.GetUpdatedDate())
		// Display the categories associated with the article.
		@showCategories(art.Item.GetCategories()...)
		// Display the article content.
		@showContent(art)
	}
}

templ showCategories(categories ...models.Category) {
	if len(categories) > 0 {
		<div class="grid grid-flow-row auto-rows-max">
			for category := range slices.Values(categories) {
				<div>
					@partials.InactiveBadge(category, nil)
				</div>
			}
		</div>
	}
}

templ showDescription(desc string) {
	if desc != "" {
		@text.Build(desc,
			text.WithSize(text.XS),
			text.WithOverflow(text.Truncate),
		).Show()
	}
}

templ showDetails(authors []string, updated time.Time) {
	<div>
		if len(authors) > 0 {
			<strong>{ strings.Join(authors, ",") }</strong>
		}
		<span>
			@partials.ShowTimestamp(updated)
		</span>
	</div>
}

templ showContent(article *models.Article) {
	<div id="article_content" class="text-sm max-w-prose">
		switch  {
			case article.Item.GetContent() != "":
				@templ.Raw(article.Item.GetContent())
			case article.Item.GetDescription() != "":
				@templ.Raw(article.Item.GetDescription())
		}
	</div>
}


templ CollectionActionsMenu(actions ...templ.Component) {
	<div id="card-actions">
		<div class="dropdown dropdown-bottom dropdown-end">
			<div tabindex="0" role="button" class="btn btn-square">
				@tabler.DotsVertical(i.Props{Size: i.SizeXS})
			</div>
			<div tabindex="0" class="card card-sm bg-base-100 z-1 w-48 shadow-md dropdown-content">
				<div class="card-body">
					for action := range slices.Values(actions) {
						@action
					}
				</div>
			</div>
		</div>
	</div>
}
