// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import "slices"

templ SearchSuggestions(suggestions ...templ.Component) {
	<ul class="list dropdown-content bg-base-200/90 w-screen lg:w-full rounded-box shadow-md" tabindex="3">
		for suggestion := range slices.Values(suggestions) {
			@suggestion
		}
	</ul>
}

templ SearchSuggestionHeader(text string) {
	<li class="p-4 pb-2 text-xs opacity-60 tracking-wide">{ text }</li>
}

templ SearchResultsPage(subscriptions []*Subscription, articles []*Article) {
	// <script type="text/hyperscript">
	// 	on load hide #search-suggestions
	// </script>
	<div class="m-2">
		if len(subscriptions) > 0 {
			<div id="subscription-results">
				<div class="grid grid-cols-2 md:grid-cols-6 justify-center gap-4">
					for subscription := range slices.Values(subscriptions) {
						<div class="rounded-box shadow-md bg-base-300 p-4">
							@subscription.Summary()
						</div>
					}
				</div>
			</div>
		}
		if len(articles) > 0 {
			<div id="article-results">
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4">
					for article := range slices.Values(articles) {
						<div class="rounded-box shadow-md bg-base-300 p-4">
							@article.summary()
						</div>
					}
				</div>
			</div>
		}
	</div>
}
