// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
)

type SettingsPage struct {
	subscriptions models.Subscriptions
}

// Template will render the home page based on the request details.
func (page *SettingsPage) Template(req *http.Request) templ.Component {
	switch {
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Settings",
			templates.WithBodyContent(page.layout()),
		)
	}
}

func NewSettingsPage(subscriptions models.Subscriptions) *SettingsPage {
	return &SettingsPage{
		subscriptions: subscriptions,
	}
}

templ (page *SettingsPage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

templ (page *SettingsPage) content() {
	<div class="tabs justify-center">
		<input type="radio" name="settings" class="tab" aria-label="Display" checked="checked"/>
		<div class="tab-content bg-base-100 p-10">
			@themePreviews()
		</div>
		<input type="radio" name="settings" class="tab" aria-label="Subscriptions"/>
		<div class="tab-content bg-base-100 p-10">
			@page.subscriptionList()
		</div>
		<input type="radio" name="settings" class="tab" aria-label="Tab 2"/>
		<div class="tab-content bg-base-100 p-10">Tab content 2</div>
	</div>
}

templ (page *SettingsPage) subscriptionList() {
	<div class="overflow-x-auto">
		<table class="table table-xs">
			<!-- head -->
			<thead class="text-xs">
				<tr>
					<th>
						<label>
							<input type="checkbox" class="checkbox checkbox-xs"/>
						</label>
					</th>
					<th>Name</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				for  subscription := range slices.Values(page.subscriptions) {
					<tr>
						<th>
							<label>
								<input type="checkbox" class="checkbox checkbox-xs"/>
							</label>
						</th>
						<td>{ subscription.GetTitle() }</td>
						<td>
							@partials.NewAction("/user/subscription/edit/"+subscription.GetID(), partials.DisplayActionAsLink,
								partials.ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+partials.ModalID.Target()),
								partials.ActionTarget(partials.ModalContainerID.Target()),
								partials.ActionLinkOptions(
									link.WithClasses("text-xs"),
								),
							) {
								@tabler.Edit(i.Props{Size: i.SizeXS})
							}
						</td>
						<td>
							@partials.NewAction("/user/favorite/subscription/"+subscription.GetID(), partials.DisplayActionAsLink,
								partials.ActionMethod(http.MethodPut),
								partials.ActionSwap("none"),
								partials.ActionLinkOptions(
									link.WithClasses("text-xs"),
								),
							) {
								@tabler.Star(i.Props{Size: i.SizeXS})
							}
						</td>
						<td>
							@partials.NewAction("/subscriptions/remove", partials.DisplayActionAsLink,
								partials.ActionMethod(http.MethodPost),
								partials.ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+partials.ModalID.Target()),
								partials.ActionTarget(partials.ModalContainerID.Target()),
								partials.ActionValues(map[string]string{
									"subscriptions": subscription.GetID(),
									"confirmation":  "no",
								}),
								partials.ActionLinkOptions(
									link.WithClasses("text-xs"),
								),
							) {
								@tabler.Trash(i.Props{Size: i.SizeXS})
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

templ themePreviews() {
	<h2>Theme (click/tap to apply):</h2>
	<div class=" rounded-box grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
		@themePreview("light")
		@themePreview("dark")
		@themePreview("synthwave")
		@themePreview("retro")
		@themePreview("valentine")
		@themePreview("aqua")
		@themePreview("lofi")
		@themePreview("black")
		@themePreview("dracula")
		@themePreview("business")
		@themePreview("night")
		@themePreview("coffee")
		@themePreview("dim")
		@themePreview("nord")
		@themePreview("sunset")
		@themePreview("caramellatte")
		@themePreview("mocha")
	</div>
}

templ themePreview(theme string) {
	<div
		class="border-base-content/20 hover:border-base-content/40 overflow-hidden rounded-lg border outline-2 outline-offset-2 outline-transparent"
		data-act-class="outline-base-content!"
		data-set-theme={ theme }
		_="on click set #page-theme.value to @data-set-theme"
		hx-trigger="click"
		hx-put={ "/user/settings/theme/" + theme }
		hx-swap="none"
	>
		<div class="bg-base-100 text-base-content w-full cursor-pointer font-sans" data-theme={ theme }>
			<div class="grid grid-cols-5 grid-rows-3">
				<div class="bg-base-200 col-start-1 row-span-2 row-start-1"></div>
				<div class="bg-base-300 col-start-1 row-start-3"></div>
				<div class="bg-base-100 col-span-4 col-start-2 row-span-3 row-start-1 flex flex-col gap-1 p-2">
					<div class="font-bold">{ theme }</div>
					<div class="flex flex-wrap gap-1">
						<div class="bg-primary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-primary-content text-sm font-bold">A</div>
						</div>
						<div class="bg-secondary flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-secondary-content text-sm font-bold">A</div>
						</div>
						<div class="bg-accent flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-accent-content text-sm font-bold">A</div>
						</div>
						<div class="bg-neutral flex aspect-square w-5 items-center justify-center rounded lg:w-6">
							<div class="text-neutral-content text-sm font-bold">A</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
