// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/input/fieldset"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
)

const SignupPath = "/signup"

var SignupDetailsID = attributes.ID("signup-details")
var SignupFormID = attributes.ID("signup-form")

templ SignUpPage(userDetails *models.UserSignupRequest) {
	<div class="hero bg-base-200 min-h-screen">
		<div class="hero-content flex-col lg:flex-row-reverse">
			<div class="text-center lg:text-left">
				<h1 class="text-5xl font-bold">Sign-up now!</h1>
				<p class="py-6">
					Enter your details below to create an account.
				</p>
			</div>
			<div id={ SignupDetailsID.String() } class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
				<div class="card-body">
					@SignupForm(userDetails)
				</div>
			</div>
		</div>
	</div>
}

templ SignupForm(userDetails *models.UserSignupRequest) {
	if userDetails.Msg != nil {
		@partials.Alert(userDetails.Msg, nil)
	}
	@form.Build(
		form.WithID(SignupFormID.String()),
		form.WithExtraAttributes(
			templ.Attributes{
				"hx-post":   SignupPath,
				"hx-target": SignupFormID.Target(),
				"hx-swap":   "outerHTML",
			},
		),
		form.WithElements(
			fieldset.Build(
				fieldset.WithField("Nickname",
					textinput.Build(
						textinput.WithName("nickname"),
						textinput.WithValue(userDetails.Nickname),
					),
				),
				fieldset.WithField("Email",
					textinput.Build(
						textinput.WithName("email"),
						textinput.AsType(textinput.Email),
						textinput.WithPlaceholder("you@yourdomain.com"),
						textinput.Required(),
						textinput.Validate(),
						textinput.ValidateHint("Valid email address is required."),
						textinput.WithValue(userDetails.Email),
					),
				),
				fieldset.WithField("Password",
					textinput.Build(
						textinput.WithName("password"),
						textinput.AsType(textinput.Password),
						textinput.Required(),
						textinput.Validate(),
						textinput.ValidatePattern(`(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}`),
						textinput.ValidateMinLength(10),
						textinput.ValidateHint("Password needs to be minimum 10 characters and include at least one: lowercase letter, uppercase letter and number"),
						textinput.WithValue(userDetails.Password),
					),
				),
				fieldset.WithField("",
					button.Build(
						button.AsSubmit(),
						button.WithContent("Sign-up"),
					),
				),
			).Show(),
		),
	).Show()
}
