// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/input/fieldset"
	"github.com/joshuar/go-templ-daisyui/input/fileinput"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/input/option"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/joshuar/go-templ-daisyui/layout/join"

	"github.com/sebasvil20/templicons/tabler"
	"slices"
)

templ EditSubscriptionModal(edits *models.SubscriptionEdit, topCategories []models.Category, msg *models.UserMessage) {
	@modal.Build(
		modal.WithID(partials.ModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
	).Show() {
		@text.Build("Edit Subscription", text.WithSize(text.LG)).Show()
		if msg != nil {
			@partials.Alert(msg, nil)
		}
		// Display the Subscription details.
		@form.Build(
			form.WithID("subscription-details"),
			form.WithExtraAttributes(
				templ.Attributes{
					"hx-put":       "/user/subscription/edit/" + edits.SubscriptionID,
					"hx-swap":      "none",
					"hx-indicator": "#add-processing",
				},
			),
			form.WithElements(
				fieldset.Build(
					fieldset.WithField("",
						hiddeninput.Build(
							hiddeninput.WithName("subscription_id"),
							hiddeninput.WithValue(edits.SubscriptionID),
						),
					),
					fieldset.WithField("Nickname (optional)",
						textinput.Build(
							textinput.WithName("user_nickname"),
							textinput.WithValue(edits.Title),
							textinput.WithPlaceholder("My memorable feed name"),
							textinput.Required(),
						),
					),
				).Show(),
			),
		).Show()
		@editCategories(edits.Categories, topCategories)
		// Add a button to submit the Subscription details when finished editing.
		@fieldset.Build(
			fieldset.WithField("",
				button.Build(
					button.WithContent("Make it so!"),
					button.WithExtraAttributes(templ.Attributes{
						"form": "subscription-details",
						"_":    "on click remove @open from " + partials.ModalID.Target(),
					})),
			),
		).Show()
		<center id="add-processing" class="htmx-indicator">
			Adding
			@loading.Build(loading.Infinity).Show()
		</center>
	}
}

// NewSubscriptionModal will display a modal for the user to enter new Subscription details.
templ NewSubscriptionModal(request *models.SubscriptionRequest, result *models.UserMessage) {
	@modal.Build(
		modal.WithID(partials.ModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
		modal.WithExtraAttributes(templ.Attributes{
			"hx-target-error": "#modal-errors",
		}),
	).Show() {
		@text.Build("Add a new subscription", text.WithSize(text.LG)).Show()
		<div id="modal-errors">
			if result != nil {
				@partials.Alert(result, nil)
			}
		</div>
		// Display the Subscription details.
		@form.Build(
			form.WithID("subscription_details"),
			form.WithExtraAttributes(
				templ.Attributes{
					"hx-put":       "/user/subscription/new",
					"hx-target":    partials.ModalID.Target(),
					"hx-swap":      "outerHTML",
					"hx-indicator": "#add-processing",
				},
			),
			form.WithElements(
				fieldset.Build(
					fieldset.WithLegend("Subscription details:"),
					fieldset.WithField("URL",
						textinput.Build(
							textinput.AsType(textinput.URL),
							textinput.WithName("url"),
							textinput.WithPlaceholder("https://awesomefeed.lol.rss"),
							textinput.Required(),
							textinput.Validate(),
							textinput.ValidateHint("A valid URL to a feed is required."),
							textinput.WithValue(request.GetURL()),
						),
					),
					fieldset.WithField("Nickname (optional)",
						textinput.Build(
							textinput.WithName("user_nickname"),
							textinput.WithValue(request.GetNickname()),
							textinput.WithPlaceholder("My memorable feed name"),
						),
					),
				).Show(),
			),
		).Show()
		@editCategories(request.Categories, nil)
		// Add a button to submit the Subscription details when finished editing.
		@fieldset.Build(
			fieldset.WithField("",
				button.Build(
					button.WithContent("Make it so!"),
					button.WithExtraAttributes(templ.Attributes{
						"form": "subscription_details",
					})),
			),
		).Show()
		<center id="add-processing" class="htmx-indicator">
			Adding
			@loading.Build(loading.Infinity).Show()
		</center>
	}
}

templ editCategories(existing []models.Category, suggested []models.Category) {
	<form
		id="editCategories"
		_={ `on submit
      halt the event
      set categoryInput to (first <input/> in me).value
      set formID to my id
      send newCategory(category: categoryInput, formTarget: 'subscription-details') to #categories
      set value of first <input/> in me to ''
      ` }
	>
		<fieldset class="fieldset">
			<label class="label">Add Category (optional)</label>
			@join.Horizontally() {
				@textinput.Build(
					textinput.WithPlaceholder("CoolStuff"),
					textinput.WithExtraAttributes(templ.Attributes{
						"list": "categorySuggestions",
					}),
				).Show("join-item")
				@button.Build(
					button.AsShape(button.Square),
					button.WithContent(tabler.CategoryPlus()),
				).Show("join-item")
			}
			<datalist id="categorySuggestions">
				for category := range slices.Values(suggested) {
					<option value={ category }></option>
				}
			</datalist>
		</fieldset>
	</form>
	<form>
		<fieldset
			id="categories"
			class="fieldset"
			_="
			on newCategory(category, formTarget)
			  make a <input/>
			  set its type to 'hidden'
			  set its name to 'user_categories[]'
			  set its value to category
			  set its id to category
			  set its @form to formTarget
			  append it to me
			  make a <li/> then put category into it
       		  put it at the start of #shown-categories
			end

			on delCategory(category)
			  tell <input[id=`${category}`]/>
			  	remove yourself
			  end
			for el in #shown-categories.children
         	  if innerHTML of el == category
           	  	remove el
         	  end
       		end
			"
		>
			<label class="label">Current Categories (click a category to remove):</label>
			<ul
				id="shown-categories"
				_="on click send delCategory(category: innerHTML of target) to #categories"
			>
				for category := range slices.Values(existing) {
					<li>{ category }</li>
				}
			</ul>
			for category := range slices.Values(existing) {
				@hiddeninput.Build(
					hiddeninput.WithID(category),
					hiddeninput.WithName("user_categories[]"),
					hiddeninput.WithValue(category),
					hiddeninput.WithExtraAttributes(templ.Attributes{
						"form": "subscription-details",
					}),
				).Show()
			}
		</fieldset>
	</form>
}

templ ImportSubscriptionLayout() {
	<div class="max-w-md text-center">
		<h1 class="font-bold">Import Subscriptions</h1>
		<div class="py-6">
			@option.Build(
				option.WithLabel("Pick Import Method:"),
				option.Required(),
				option.WithName("source"),
				option.WithValues(
					// option.Value{Label: "From OPML URL", Value: string(models.ImportSourceOPMLURL)},
					option.Value{Label: "From OPML File", Value: string(models.ImportSourceOPMLFile)},
					// option.Value{Label: "From a list URLs", Value: string(models.ImportSourceURLs)},
				),
				option.WithExtraAttributes(templ.Attributes{
					"hx-put":    "/subscriptions/import",
					"hx-target": "#import-subscriptions",
				}),
			).Show()
		</div>
		<div class="py-6">
			@form.Build(
				form.WithID("import-subscriptions"),
				form.WithExtraAttributes(
					templ.Attributes{
						"hx-post":      "/subscriptions/import",
						"hx-encoding":  "multipart/form-data",
						"hx-target":    "#import-results",
						"hx-indicator": "#import-processing",
					},
				),
			).Show()
		</div>
		<center id="import-processing" class="htmx-indicator">
			Processing
			@loading.Build(loading.Infinity).Show()
		</center>
	</div>
	<div id="import-results" class="py-6"></div>
}

// ImportFromOPML shows inputs for choosing an OPML file as the input source.
templ ImportFromOPML() {
	<p>Select the OPML file to use:</p>
	@fieldset.Build(
		fieldset.WithField("",
			hiddeninput.Build(
				hiddeninput.WithName("source"),
				hiddeninput.WithValue(string(models.ImportSourceOPMLFile)),
			),
		),
		fieldset.WithField("",
			fileinput.Build(
				fileinput.WithName("data"),
				fileinput.Required(),
			),
		),
		fieldset.WithField("",
			button.Build(
				button.WithContent("Import"),
			),
		),
	).Show()
	// <progress id="import-form-progress" class="progress" value="0" max="100"></progress>
}

templ ImportResults(results map[*models.SubscriptionRequest]*models.UserMessage) {
	// {{ numSuccess := len(requests.FilterByStatus(models.UserMessageStatusSuccess)) }}
	// {{ numFail := len(requests) - numSuccess }}
	<div class="max-w-md text-center">
		<h1 class="font-bold">Import Results</h1>
		// <p class="py-4">Imported: { strconv.Itoa(numSuccess) } Failed: { strconv.Itoa(numFail) }</p>
	</div>
	<div class="overflow-x-auto">
		<table class="table table-xs">
			<thead>
				<tr>
					<th>Status</th>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
				for _, response := range results {
					<tr>
						<td class="capitalize">{ string(response.Status) }</td>
						<td>{ response.Summary }</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
