// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package views

import (
	"context"
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/server/session"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/actions/modal"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/avatar"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/placeholder"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/joshuar/go-templ-daisyui/input/fieldset"
	"github.com/joshuar/go-templ-daisyui/input/fileinput"
	"github.com/joshuar/go-templ-daisyui/input/form"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/input/option"
	"github.com/joshuar/go-templ-daisyui/input/textinput"
	"github.com/joshuar/go-templ-daisyui/layout/join"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/breadcrumbs"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
	"strconv"
)

type SubscriptionsPage struct {
	filters       *models.SubscriptionFilters
	subscriptions models.Subscriptions
	pagination    models.Pagination
}

func NewSubscriptionsPage(subscriptions models.Subscriptions, filters *models.SubscriptionFilters, pagination models.Pagination) *SubscriptionsPage {
	return &SubscriptionsPage{
		filters:       filters,
		subscriptions: subscriptions,
		pagination:    pagination,
	}
}

// Layout is the complete page layout for the subscriptions page.
templ (page *SubscriptionsPage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

// Content is the content section of the subscriptions page.
templ (page *SubscriptionsPage) content() {
	// Fragment: content filters
	<div id="content-filters" class="hidden">
		for name, value := range page.filters.Parameters() {
			@hiddeninput.Build(
				hiddeninput.WithName(name),
				hiddeninput.WithValue(attributes.Value(value)),
			)
		}
	</div>
	<div id="card-controls" class="m-2">
		<div class="flex flex-row">
			<div class="flex-1">
				@breadcrumbs.Build(
					breadcrumbs.WithClasses("text-sm", "flex-1"),
					breadcrumbs.WithCrumbs(partials.SubscriptionList()),
				).Show()
			</div>
			<div class="flex-none content-center">
				<div class="grid grid-flow-col auto-cols-max gap-2">
					<div>
						@partials.RefreshButton("/subscriptions", page.filters.Parameters())
					</div>
					@UpdateSorting("/subscriptions", page.filters.GetSort())
					@UpdateFilters(page.subscriptions.GetCategoryCounts(), "/subscriptions", page.filters.GetCategories(), page.filters.GetView())
					@dropdown.Build(
						dropdown.WithButtonContent(tabler.DotsVertical(i.Props{Size: i.SizeXS})),
						dropdown.WithButtonClasses(button.SM, button.Square, button.Primary),
						dropdown.WithOpenAlignment(dropdown.AlignEnd),
						dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52"),
					).Show() {
						<li>
							switch page.filters.GetView() {
								case models.ViewUnread:
									@partials.NewAction("/subscriptions/mark/"+string(models.MarkRead), partials.DisplayActionAsLink,
										partials.ActionMethod(http.MethodPost),
										partials.ActionValues(map[string]string{
											"redirect": "/home",
										}),
										partials.ActionLinkOptions(
											link.WithClasses("text-xs"),
										),
									) {
										<div class="flex gap-2">
											@tabler.Bookmark(i.Props{Size: i.SizeXS})
											Mark Read
										</div>
									}
								case models.ViewRead:
									fallthrough
								default:
									@partials.NewAction("/subscriptions/mark/"+string(models.MarkUnread), partials.DisplayActionAsLink,
										partials.ActionMethod(http.MethodPost),
										partials.ActionValues(map[string]string{
											"redirect": "/home",
										}),
										partials.ActionLinkOptions(
											link.WithClasses("text-xs"),
										),
									) {
										<div class="flex gap-2">
											@tabler.Bookmark(i.Props{Size: i.SizeXS})
											Mark Read
										</div>
									}
							}
						</li>
					}
				</div>
			</div>
		</div>
	</div>
	@layouts.CardGrid() {
		if len(page.subscriptions) > 0 {
			@page.Cards()
		} else {
			@page.emptyContent()
		}
	}
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
}

// emptyContent will render a hero with some options when there are no articles to display.
templ (page *SubscriptionsPage) emptyContent() {
	<div class="hero bg-base-200 min-h-screen rounded-box">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">No content to show</h1>
				<p class="py-6">
					Try adjusting your filters, or maybe there is nothing left to read?
				</p>
				@partials.NewAction("/home", partials.DisplayActionAsButton,
					partials.ActionPushURL(),
					partials.ActionButtonOptions(
						button.WithClasses(button.Primary),
					),
				) {
					Take me home
				}
			</div>
		</div>
	</div>
}

// Cards is the list of subscriptions as cards within the subscriptions page.
templ (page *SubscriptionsPage) Cards() {
	for cards := range slices.Values(page.generateCards(ctx)) {
		@cards
	}
}

// Template will render the home page based on the request details.
func (page *SubscriptionsPage) Template(req *http.Request) templ.Component {
	switch {
	case req.Method == http.MethodPost:
		return page.Cards()
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Subscriptions",
			templates.WithBodyContent(page.layout()),
		)
	}
}

func (page *SubscriptionsPage) generateCards(ctx context.Context) []templ.Component {
	cards := make([]templ.Component, 0, len(page.subscriptions))
	for subscription := range slices.Values(page.subscriptions) {
		cards = append(cards, NewSubscriptionContent(subscription).Card())
	}
	// Add pagination element if pagination is required.
	if page.pagination != "" && len(cards) == page.filters.GetCount() {
		// Add pagination htmx props to last article.
		cards = append(cards, layouts.PaginationControl(ctx, "/subscriptions", page.pagination))
	}
	return cards
}

type Subscription struct {
	*models.Subscription
	classes []components.Class
}

func NewSubscriptionContent(subscription *models.Subscription) *Subscription {
	card := &Subscription{
		Subscription: subscription,
	}
	if !subscription.IsUnread() {
		card.classes = append(card.classes, "brightness-50")
	}
	return card
}

// Summary displays the subscription's image (or a avatar), title and unread count (if any).
templ (c *Subscription) Summary() {
	@link.Build(
		link.WithAttributes(c.viewAttributes()),
	) {
		<div class="flex flex-row gap-2">
			<div class="flex flex-1 gap-2">
				// Generate a thumbnail to display next to the title.
				if c.GetImage() != nil {
					// If the source has an image, use that as the avatar.
					@avatar.Build(
						c.GetImage().URL(),
						avatar.WithWidth("w-12"),
						avatar.WithImageOptions(image.WithLazyLoading()),
						avatar.WithExtraClasses("rounded"),
					).Show()
				} else {
					// Otherwise, take the first letter of the title and create a placeholder avatar.
					@placeholder.Build(c.GetTitle()[0:1], placeholder.SM).Show()
				}
				// Title text is a link to the view action of the card.
				<div class="text-sm grow content-center">
					{ c.GetTitle() }
				</div>
			</div>
			<div class="flex flex-none justify-end">
				// Display unread count (if any).
				<div class="content-center">
					if c.IsUnread() {
						@badge.Build(
							badge.WithSize(badge.SM),
							badge.WithColor(badge.Accent),
							badge.WithContent(strconv.Itoa(c.GetUnreadCount())+" Unread"),
							badge.WithExtraAttributes(templ.Attributes{
								"sse-swap": c.GetFeedID() + "_unread",
							}),
							badge.WithExtraClasses("grow", "text-nowrap"),
						).Show()
					}
				</div>
			</div>
		</div>
	}
}

// State displays the subscription title and its unread count (if any).
templ (s *Subscription) State() {
	@link.Build(
		link.WithAttributes(s.viewAttributes()),
	) {
		<div class="flex gap-2 w-full">
			<div class="flex-1 text-sm content-center">
				{ s.GetTitle() }
			</div>
			// Display unread count (if any).
			<div class="content-center">
				if s.IsUnread() {
					@badge.Build(
						badge.WithSize(badge.SM),
						badge.WithColor(badge.Secondary),
						badge.WithContent(strconv.Itoa(s.GetUnreadCount())+" Unread"),
						badge.WithExtraAttributes(templ.Attributes{
							"sse-swap": s.GetFeedID() + "_unread",
						}),
						badge.WithExtraClasses("grow", "text-nowrap"),
					).Show()
				}
			</div>
		</div>
	}
}

// Card displays the subscription as a card.
templ (c *Subscription) Card() {
	@card.Build(
		card.WithStyle(card.Border),
		card.WithShadow(shadow.SM),
		card.WithClasses("card-sm", "lg:card-md", "bg-neutral"),
		card.WithClasses(c.classes...),
		card.WithAttributes(templ.Attributes{
			"id": c.GetID(),
		}),
	) {
		@card.BuildBody() {
			// Card title.
			<h2 class="card-title">
				@c.Summary()
			</h2>
			// Card body.
			@partials.ContentMetadata(c.GetAuthors(), c.GetUpdatedDate())
			@text.Build(
				text.WithSize(text.XS),
				text.WithOverflow(text.Truncate),
			) {
				{ c.GetDescription() }
			}
			// Actions menu.
			@card.Actions() {
				@tooltip.Build("Actions").Show() {
					@dropdown.Build(
						dropdown.WithButtonContent(tabler.DotsVertical(i.Props{Size: i.SizeXS})),
						dropdown.WithButtonClasses(button.XS, button.Secondary),
						dropdown.WithOpenFrom(dropdown.OpenTop),
						dropdown.WithOpenAlignment(dropdown.AlignEnd),
						dropdown.WithMenuClasses("justify-end", "flex-nowrap", "grow"),
					).Show() {
						// Visit action.
						<li _="on click call document.activeElement.blur()">
							@link.Build(
								link.WithAttributes(templ.Attributes{"href": c.GetLink()}),
								link.WithClasses("text-xs"),
							) {
								<div class="flex gap-2">
									@tabler.ExternalLink(i.Props{Size: i.SizeXS})
									Feed Website
								</div>
							}
						</li>
						// Mark action.
						<li _="on click call document.activeElement.blur()">
							if c.IsUnread() {
								@partials.LinkMarkRead("Mark Read", c.markAttributes())
							} else {
								@partials.LinkMarkUnread("Mark Unread", c.markAttributes())
							}
						</li>
						// Edit action.
						<li _="on click call document.activeElement.blur()">
							@partials.NewAction("/user/subscription/edit/"+c.GetID(), partials.DisplayActionAsLink,
								partials.ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+partials.ModalID.Target()),
								partials.ActionTarget(partials.ModalContainerID.Target()),
								partials.ActionLinkOptions(
									link.WithClasses("text-xs"),
								),
							) {
								<div class="flex gap-2">
									@tabler.Edit(i.Props{Size: i.SizeXS})
									Edit Subscription
								</div>
							}
						</li>
						// Favourite action.
						<li _="on click call document.activeElement.blur()">
							@partials.NewAction("/user/favourite/subscription/"+c.GetID(), partials.DisplayActionAsLink,
								partials.ActionMethod(http.MethodPut),
								partials.ActionSwap("none"),
								partials.ActionLinkOptions(
									link.WithClasses("text-xs"),
								),
							) {
								<div class="flex gap-2">
									@tabler.Star(i.Props{Size: i.SizeXS})
									Favourite
								</div>
							}
						</li>
						// Unsubscribe action.
						<li _="on click call document.activeElement.blur()">
							@partials.NewAction("/subscriptions/remove", partials.DisplayActionAsLink,
								partials.ActionMethod(http.MethodPost),
								partials.ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+partials.ModalID.Target()),
								partials.ActionTarget(partials.ModalContainerID.Target()),
								partials.ActionValues(map[string]string{
									"subscriptions": c.GetID(),
									"confirmation":  "no",
								}),
								partials.ActionLinkOptions(
									link.WithClasses("text-xs"),
								),
							) {
								<div class="flex gap-2">
									@tabler.Trash()
									Remove Subscription
								</div>
							}
						</li>
					}
				}
			}
		}
	}
}

templ (c *Subscription) ShowAsSearchSuggestion() {
	<li class="list-row" _="on click call document.activeElement.blur()">
		<div>
			<div class="list-col-wrap text-xs">
				@c.Summary()
			</div>
			// <div class="text-xs uppercase font-semibold opacity-60">{ article.Item.FeedTitle }</div>
		</div>
	</li>
}

func (c *Subscription) markAttributes() templ.Attributes {
	parameters := map[string]string{
		"subscriptions": c.GetID(),
	}
	// Create htmx attributes: don't replace URL, swap the subscription card only.
	attrs := templ.Attributes{
		"hx-target":       "#" + c.GetID(),
		"hx-target-error": partials.ErrorID.Target(),
		"hx-swap":         "outerHTML",
		"hx-vals":         partials.GenerateHXVals(parameters),
	}
	if c.IsUnread() {
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkRead)
		return attrs
	}
	attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkUnread)
	return attrs
}

func (c *Subscription) viewAttributes() templ.Attributes {
	overrides := map[string]string{
		models.ParamSortBy: string(models.SortByLastUpdated),
		"subscriptions":    c.GetID(),
	}
	if c.IsUnread() {
		overrides[models.ParamView] = string(models.ViewUnread)
	} else {
		overrides[models.ParamView] = string(models.ViewRead)
	}
	return templ.Attributes{
		"hx-get":      "/articles",
		"hx-include":  "#content-filters",
		"hx-vals":     partials.GenerateHXVals(overrides),
		"hx-target":   partials.ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "innerHTML show:top",
	}
}

templ EditSubscriptionModal(edits *models.SubscriptionEdit, topCategories []models.Category, msg *models.UserMessage) {
	@modal.Build(
		modal.WithID(partials.ModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
	).Show() {
		@text.Build(text.WithSize(text.LG)) {
			Edit Subscription
		}
		if msg != nil {
			@partials.Alert(msg)
		}
		// Display the Subscription details.
		@form.Build(
			form.WithID("subscription-details"),
			form.WithAttributes(
				templ.Attributes{
					"hx-put":       "/user/subscription/edit/" + edits.SubscriptionID,
					"hx-swap":      "none",
					"hx-indicator": "#add-processing",
				},
			),
		) {
			@fieldset.Build() {
				@hiddeninput.Build(
					hiddeninput.WithName("subscription_id"),
					hiddeninput.WithValue(edits.SubscriptionID),
				)
				<label class="fieldset-label">Nickname (optional)</label>
				@textinput.Build(
					textinput.WithName("user_nickname"),
					textinput.WithValue(edits.Title),
					textinput.WithPlaceholder("My memorable feed name"),
					textinput.Required(),
				).Show()
			}
		}
		@editCategories(edits.Categories, topCategories)
		// Add a button to submit the Subscription details when finished editing.
		@fieldset.Build() {
			<div>
				@button.Build(
					button.WithAttributes(templ.Attributes{
						"form": "subscription-details",
						"_":    "on click remove @open from " + partials.ModalID.Target(),
					}),
					button.WithClasses(button.Primary),
				) {
					Make it so!
				}
			</div>
		}
		<center id="add-processing" class="htmx-indicator">
			Adding
			@loading.Build(loading.Infinity).Show()
		</center>
	}
}

type AddSubscriptionResults map[*models.SubscriptionRequest]*models.AddSubscriptionResult

func (r AddSubscriptionResults) GetSuccessful() []*models.AddSubscriptionResult {
	return slices.Collect(models.FilterMapValues(r, func(result *models.AddSubscriptionResult) bool {
		return result.Message.Status == models.UserMessageStatusSuccess
	}))
}

func (r AddSubscriptionResults) GetFailed() []*models.AddSubscriptionResult {
	return slices.Collect(models.FilterMapValues(r, func(result *models.AddSubscriptionResult) bool {
		return result.Message.Status != models.UserMessageStatusSuccess
	}))
}

// NewSubscriptionModal will display a modal for the user to enter new Subscription details.
templ NewSubscriptionModal(request *models.SubscriptionRequest) {
	@modal.Build(
		modal.WithID(partials.ModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
	).Show() {
		@text.Build(text.WithSize(text.LG)) {
			Add a new subscription
		}
		<div id="modal-errors"></div>
		// Display the Subscription details.
		@form.Build(
			form.WithID("subscription-details"),
		) {
			@fieldset.Build() {
				<label class="label font-semibold">URL</label>
				@textinput.Build(
					textinput.AsType(textinput.URL),
					textinput.WithName("url"),
					textinput.WithPlaceholder("https://awesomefeed.lol.rss"),
					textinput.Required(),
					textinput.Validate(),
					textinput.ValidateHint("A valid URL to a feed is required."),
					textinput.WithValue(request.GetURL()),
				).Show()
				<label class="label italic">Required. The URL to the feed source.</label>
				<label class="label font-semibold">Nickname</label>
				@textinput.Build(
					textinput.WithName("user_nickname"),
					textinput.WithValue(request.GetNickname()),
					textinput.WithPlaceholder("My memorable feed name"),
				).Show()
				<label class="label italic">(Optional) A friendly/memorable name for the feed.</label>
			}
		}
		@editCategories(request.Categories, nil)
		// Add a button to submit the Subscription details when finished editing.
		@fieldset.Build() {
			@button.Build(
				button.WithClasses(button.SM),
				button.WithAttributes(templ.Attributes{
					"form":         "subscription-details",
					"hx-post":      "/user/subscription/new",
					"hx-target":    partials.ModalID.Target(),
					"hx-indicator": "#add-processing",
				}),
			) {
				Make it so!
			}
		}
		<center id="add-processing" class="htmx-indicator">
			Adding
			@loading.Build(loading.Infinity).Show()
		</center>
	}
}

templ SubscriptionAddedModal(result *models.AddSubscriptionResult) {
	@modal.Build(
		modal.WithID(partials.ModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
	).Show() {
		<ul class="list">
			<li class="list-row">
				switch result.Message.Status {
					case models.UserMessageStatusSuccess:
						@tabler.CircleCheck(i.Props{Class: "size-10 text-success"})
						<div>
							<div>{ result.Message.Summary }</div>
							<div class="text-xs uppercase font-semibold">{ result.Subscription.GetTitle() }</div>
						</div>
					case models.UserMessageStatusError:
						@tabler.CircleX(i.Props{Class: "size-10 text-error"})
						<div>
							<div>{ result.Message.Summary }</div>
						</div>
					case models.UserMessageStatusWarning:
						@tabler.ExclamationCircle(i.Props{Class: "size-10 text-warning"})
						<div>
							<div>{ result.Message.Summary }</div>
						</div>
				}
				if result.Message.HasDetails() {
					<p class="list-col-wrap text-xs">
						{ *result.Message.Details }
					</p>
				}
			</li>
		</ul>
		<div class="modal-action">
			<form method="dialog">
				@partials.NewAction("/user/subscription/new", partials.DisplayActionAsButton,
					partials.ActionHyperScript("on htmx:afterOnLoad wait 10ms then add @open to "+partials.ModalID.Target()),
					partials.ActionTarget(partials.ModalContainerID.Target()),
					partials.ActionButtonOptions(
						button.WithClasses(button.SM),
					),
				) {
					Add another
				}
				<button class="btn btn-sm" _="on click send removeModal">Close</button>
			</form>
		</div>
	}
}

// ImportSubscriptionsModal is a modal to present the user with options for importing subscriptions from external
//sources (e.g., OPML).
templ ImportSubscriptionsModal() {
	@modal.Build(
		modal.WithID(partials.ModalID.String()),
		modal.WithCloseButton(),
		modal.WithCloseOutside(),
	).Show() {
		<div class="max-w-md text-center">
			<h1 class="font-bold">Import Subscriptions</h1>
			<div class="py-6">
				@option.Build(
					option.WithLabel("Pick Import Method:"),
					option.Required(),
					option.WithName("source"),
					option.WithValues(
						// option.Value{Label: "From OPML URL", Value: string(models.ImportSourceOPMLURL)},
						option.Value{Label: "From OPML File", Value: string(models.ImportSourceOPMLFile)},
						// option.Value{Label: "From a list URLs", Value: string(models.ImportSourceURLs)},
					),
					option.WithExtraAttributes(templ.Attributes{
						"hx-put":    "/user/import",
						"hx-target": "#import-subscriptions",
					}),
				).Show()
			</div>
			<div class="py-6">
				@form.Build(
					form.WithID("import-subscriptions"),
					form.WithAttributes(
						templ.Attributes{
							"hx-post":      "/user/import",
							"hx-encoding":  "multipart/form-data",
							"hx-target":    "#content",
							"hx-indicator": "#import-processing",
							"_":            "on htmx:afterRequest wait 10ms then remove @open from " + partials.ModalID.Target(),
						},
					),
				)
			</div>
			<center id="import-processing" class="htmx-indicator">
				Processing
				@loading.Build(loading.Infinity).Show()
			</center>
		</div>
		<div id="import-results" class="py-6"></div>
	}
}

// SetupOPMLImport is a partial template for setting up subscriptions import via an OPML file.
templ SetupOPMLImport() {
	<p>Select the OPML file to use:</p>
	@fieldset.Build() {
		@hiddeninput.Build(
			hiddeninput.WithName("source"),
			hiddeninput.WithValue(string(models.ImportSourceOPMLFile)),
		)
		@fileinput.Build(
			fileinput.WithName("data"),
			fileinput.Required(),
		).Show()
		@button.Build() {
			Import
		}
	}
	// <progress id="import-form-progress" class="progress" value="0" max="100"></progress>
}

// ImportResults is a partial template that displays the results of an import.
templ ImportResults(results AddSubscriptionResults) {
	{{ successfulResults := results.GetSuccessful() }}
	{{ failedResults := results.GetFailed() }}
	<div>
		<div class="max-w-md text-center">
			<h1 class="font-bold">Import Results</h1>
			<p class="py-4">Imported: { strconv.Itoa(len(successfulResults)) } Failed: { strconv.Itoa(len(failedResults)) }</p>
			@partials.NewAction("/subscriptions", partials.DisplayActionAsButton,
				partials.ActionValues(session.SubscriptionFiltersFromSession(ctx).Parameters()),
				partials.ActionButtonOptions(
					button.WithClasses(button.Primary),
				),
			) {
				Go to your subscriptions
			}
		</div>
		<ul class="list bg-base-100 rounded-box shadow-md">
			for response := range slices.Values(slices.Concat(successfulResults,failedResults)) {
				<li class="list-row">
					switch response.Message.Status {
						case models.UserMessageStatusSuccess:
							@tabler.CircleCheck(i.Props{Class: "size-10 text-success"})
							<div>
								<div>{ response.Message.Summary }</div>
								<div class="text-xs uppercase font-semibold">{ response.Subscription.GetTitle() }</div>
							</div>
						case models.UserMessageStatusError:
							@tabler.CircleX(i.Props{Class: "size-10 text-error"})
							<div>
								<div>{ response.Message.Summary }</div>
							</div>
						case models.UserMessageStatusWarning:
							@tabler.ExclamationCircle(i.Props{Class: "size-10 text-warning"})
							<div>
								<div>{ response.Message.Summary }</div>
							</div>
					}
					if response.Message.HasDetails() {
						<p class="list-col-wrap text-xs">
							{ *response.Message.Details }
						</p>
					}
				</li>
			}
		</ul>
		@link.Build(
			link.WithHref("#"),
			link.WithClasses("btn", "btn-primary", "fixed", "right-0", "bottom-0", "m-4"),
		) {
			Back to top
		}
	</div>
}

templ editCategories(existing []models.Category, suggested []models.Category) {
	<form
		id="editCategories"
		_={ `on submit
      halt the event
      set categoryInput to (first <input/> in me).value
      set formID to my id
      send newCategory(category: categoryInput, formTarget: 'subscription-details') to #categories
      set value of first <input/> in me to ''
      ` }
	>
		<fieldset class="fieldset">
			<label class="label font-semibold">Add Category</label>
			@join.Horizontally() {
				@textinput.Build(
					textinput.WithPlaceholder("CoolStuff"),
					textinput.WithExtraAttributes(templ.Attributes{
						"list": "categorySuggestions",
					}),
				).Show("join-item")
				@button.Build(
					button.WithClasses(button.Square, button.Secondary, "join-item"),
				) {
					@tabler.CategoryPlus()
				}
			}
			<label class="label italic">(Optional) Custom categories to assign to the feed.</label>
			<datalist id="categorySuggestions">
				for category := range slices.Values(suggested) {
					<option value={ category }></option>
				}
			</datalist>
		</fieldset>
	</form>
	<form>
		<fieldset
			id="categories"
			class="fieldset"
			_="
			on newCategory(category, formTarget)
			  make a <input/>
			  set its type to 'hidden'
			  set its name to 'user_categories'
			  set its value to category
			  set its id to category
			  set its @form to formTarget
			  append it to me
			  make a <li/> then put category into it
       		  put it at the start of #shown-categories
			end

			on delCategory(category)
			  tell <input[id=`${category}`]/>
			  	remove yourself
			  end
			for el in #shown-categories.children
         	  if innerHTML of el == category
           	  	remove el
         	  end
       		end
			"
		>
			<label class="label text-semibold">Current Categories:</label>
			<ul
				id="shown-categories"
				_="on click send delCategory(category: innerHTML of target) to #categories"
			>
				for category := range slices.Values(existing) {
					<li>{ category }</li>
				}
			</ul>
			<label class="label italic">(click a category to remove)</label>
			for category := range slices.Values(existing) {
				@hiddeninput.Build(
					hiddeninput.WithID(category),
					hiddeninput.WithName("user_categories[]"),
					hiddeninput.WithValue(category),
					hiddeninput.WithAttributes(templ.Attributes{
						"form": "subscription-details",
					}),
				)
			}
		</fieldset>
	</form>
}
