// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package views

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/classes/opacity"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/avatar"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/placeholder"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/breadcrumbs"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"strconv"
)

templ (page *SubscriptionsPage) Show() {
	@NewPage("Subscriptions") {
		@partials.Drawer() {
			@partials.DrawerContent() {
				// Fragment: content header
				@partials.Fragment("content-header") {
					@Header()
				}
				@partials.Fragment("content") {
					@partials.Content() {
						// Fragment: content filters
						@partials.Fragment("content-filters") {
							<div id="content-filters" class="hidden">
								for name, value := range page.filters.Parameters() {
									@hiddeninput.Build(
										hiddeninput.WithName(name),
										hiddeninput.WithValue(attributes.Value(value)),
									).Show()
								}
							</div>
						}
						<div id="card-controls" class="flex flex-row justify-end m-2">
							@breadcrumbs.Build(
								breadcrumbs.WithClasses("text-sm", "flex-1"),
								breadcrumbs.WithCrumbs(partials.LinkHomeIconOnly(), partials.SubscriptionList()),
							).Show()
							<div class="flex flex-row justify-end gap-2">
								@RefreshAction("/subscriptions", page.filters.Parameters())
								@UpdateSorting("/subscriptions", page.filters.GetSort())
								@UpdateFilters(page.categories, "/subscriptions", page.filters.GetCategories(), page.filters.GetView())
								@CollectionActionsMenu(
									markAllSubscriptionsAction(page.filters.GetView()),
								)
							</div>
						</div>
						<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4" id={ CardsID.String() }>
							// Fragment: cards
							@partials.Fragment("cards") {
								@templ.Join(page.cards...)
							}
						</div>
						<div id="content-loading" class="items-center justify-center">
							@loading.Build(loading.Bars,
								loading.AsHTMXIndicator(),
								loading.WithThemeColor(color.Accent),
							).Show()
						</div>
					}
				}
				// Fragment: content footer
				@partials.Fragment("content-footer") {
					@partials.Footer()
				}
			}
			@partials.DrawerSide() {
				@partials.FavouritesList()
			}
		}
	}
}

type Subscription struct {
	*models.Subscription
	classes []components.Class
}

func NewSubscriptionContent(subscription *models.Subscription) *Subscription {
	card := &Subscription{
		Subscription: subscription,
	}
	if !subscription.IsUnread() {
		card.classes = append(card.classes, opacity.Apply(75))
	}
	return card
}

// Visit is the action for visiting the subscription's source webpage.
templ (c *Subscription) Visit() {
	@partials.LinkExternal("Feed Website", c.GetLink())
}

// Share is the action for sharing the subscription to an external service.
templ (c *Subscription) Share() {
	@link.Build(
		link.WithContent(
			partials.IconText(tabler.Share(i.Props{Size: i.SizeXS}), "Share")),
		link.WithUnderlineOnHover(),
		link.WithExtraClasses("text-xs"),
	).Show()
}

// Mark is the action for marking a subscription read/unread.
templ (c *Subscription) Mark() {
	if c.IsUnread() {
		@partials.LinkMarkRead("Mark Read", c.markAttributes())
	} else {
		@partials.LinkMarkUnread("Mark Unread", c.markAttributes())
	}
}

// Edit is the action for editing a subscription.
templ (c *Subscription) Edit() {
	@link.Build(
		link.WithContent(
			partials.IconText(tabler.Edit(i.Props{Size: i.SizeXS}), "Edit Subcription")),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(templ.Attributes{
			"hx-get":    "/user/subscription/edit/" + c.GetID(),
			"hx-target": partials.ModalContainerID.Target(),
			"_":         "on htmx:afterOnLoad wait 10ms then add @open to " + partials.ModalID.Target(),
		}),
		link.WithExtraClasses("text-xs"),
	).Show()
}

// Unsubscribe is the action for unsubscribing from a subscription.
func (c *Subscription) Unsubscribe() templ.Component {
	parameters := map[string]string{
		"subscriptions": c.GetID(),
		"confirmation":  "no",
	}
	return link.Build(
		link.WithContent(
			partials.IconText(tabler.Trash(i.Props{Size: i.SizeXS}), "Unsubscribe")),
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(templ.Attributes{
			"hx-post":   "/subscriptions/remove",
			"hx-vals":   partials.GenerateHXVals(parameters),
			"hx-target": partials.ModalContainerID.Target(),
			"_":         "on htmx:afterOnLoad wait 10ms then add @open to " + partials.ModalID.Target(),
		}),
		link.WithExtraClasses("text-xs"),
	).Show()
}

// Summary displays the subscription's image (or a avatar), title and unread count (if any).
templ (c *Subscription) Summary() {
	@link.Build(
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(c.viewAttributes()),
	).Show() {
		<div class="flex flex-row gap-2">
			// Generate a thumbnail to display next to the title.
			if c.GetImage() != nil {
				// If the source has an image, use that as the avatar.
				@avatar.Build(
					c.GetImage().URL(),
					avatar.WithWidth("w-12"),
					avatar.WithImageOptions(image.WithLazyLoading()),
					avatar.WithExtraClasses("rounded"),
				).Show()
			} else {
				// Otherwise, take the first letter of the title and create a placeholder avatar.
				@placeholder.Build(c.GetTitle()[0:1], placeholder.SM).Show()
			}
			// Title text is a link to the view action of the card.
			<div class="text-sm grow content-center">
				{ c.GetTitle() }
			</div>
			// Display unread count (if any).
			<div class="content-center">
				if c.IsUnread() {
					@badge.Build(
						badge.WithSize(badge.SM),
						badge.WithColor(badge.Secondary),
						badge.WithContent(strconv.Itoa(c.GetUnreadCount())+" Unread"),
						badge.WithExtraAttributes(templ.Attributes{
							"sse-swap": c.GetFeedID() + "_unread",
						}),
						badge.WithExtraClasses("grow", "text-nowrap"),
					).Show()
				}
			</div>
		</div>
	}
}

// State displays the subscription title and its unread count (if any).
templ (s *Subscription) State() {
	@link.Build(
		link.WithUnderlineOnHover(),
		link.WithExtraAttributes(s.viewAttributes()),
	).Show() {
		<div class="flex gap-2 w-full">
			<div class="flex-1 text-sm content-center">
				{ s.GetTitle() }
			</div>
			// Display unread count (if any).
			<div class="content-center">
				if s.IsUnread() {
					@badge.Build(
						badge.WithSize(badge.SM),
						badge.WithColor(badge.Secondary),
						badge.WithContent(strconv.Itoa(s.GetUnreadCount())+" Unread"),
						badge.WithExtraAttributes(templ.Attributes{
							"sse-swap": s.GetFeedID() + "_unread",
						}),
						badge.WithExtraClasses("grow", "text-nowrap"),
					).Show()
				}
			</div>
		</div>
	}
}

// Card displays the subscription as a card.
templ (c *Subscription) Card() {
	@card.Build(
		card.WithStyle(card.Border),
		card.WithShadow(shadow.SM),
		card.WithExtraClasses("card-sm", "lg:card-md", "bg-base-300"),
		card.WithID(c.GetID()),
		card.WithBodyOptions(
			// Card title.
			card.WithTitle(c.Summary()),
			// Card content.
			card.WithContent(
				templ.Join(
					partials.ContentMetadata(c.GetAuthors(), c.GetUpdatedDate()),
					text.Build(c.GetDescription(),
						text.WithSize(text.XS),
						text.WithOverflow(text.Truncate),
					).Show(),
				),
			),
			// Card actions.
			card.WithActions(
				partials.ContentMenu(c.Share(), c.Visit(), c.Mark(), c.Edit(), c.Unsubscribe()),
			),
		),
		card.WithExtraClasses(c.classes...),
	).Show()
}

templ (c *Subscription) ShowAsSearchSuggestion() {
	<li class="list-row" _="on click call document.activeElement.blur()">
		<div>
			<div class="list-col-wrap text-xs">
				@c.Summary()
			</div>
			// <div class="text-xs uppercase font-semibold opacity-60">{ article.Item.FeedTitle }</div>
		</div>
	</li>
}

func (c *Subscription) markAttributes() templ.Attributes {
	parameters := map[string]string{
		"subscriptions": c.GetID(),
	}
	// Create htmx attributes: don't replace URL, swap the subscription card only.
	attrs := templ.Attributes{
		"hx-target":       "#" + c.GetID(),
		"hx-target-error": partials.ErrorID.Target(),
		"hx-swap":         "outerHTML",
		"hx-vals":         partials.GenerateHXVals(parameters),
	}
	if c.IsUnread() {
		attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkRead)
		return attrs
	}
	attrs["hx-post"] = "/subscriptions/mark/" + string(models.MarkUnread)
	return attrs
}

func (c *Subscription) viewAttributes() templ.Attributes {
	overrides := map[string]string{
		models.ParamSortBy: string(models.SortByLastUpdated),
		"subscriptions":    c.GetID(),
	}
	if c.IsUnread() {
		overrides[models.ParamView] = string(models.ViewUnread)
	} else {
		overrides[models.ParamView] = string(models.ViewRead)
	}
	return templ.Attributes{
		"hx-get":      "/articles",
		"hx-include":  "#content-filters",
		"hx-vals":     partials.GenerateHXVals(overrides),
		"hx-target":   partials.ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "innerHTML show:top",
	}
}
