@plugin 'daisyui/theme' {
  name: 'latte';
  default: true;
  --color-primary: #4a65fc;
  --color-accent: #c64e33;
  --color-neutral: #70748a;
}

@plugin 'daisyui/theme' {
  name: 'light';
  default: true;
  --color-secondary: #d82b87;
}
