@import 'tailwindcss' source('../templates/**/*.{html,templ}');
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
  themes:
    light,
    dark,
    synthwave,
    lofi,
    black,
    forest --prefersdark,
    dracula,
    business,
    night,
    dim,
    nord,
    garden,
    winter,
    pastel,
    silk --default;
}

/* Inter font styling */
/* https://tailwindcss.com/plus/ui-blocks/documentation#add-the-inter-font-family */
/* https://rsms.me/inter/#usage */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1,
    'cv02' 1,
    'cv03' 1,
    'cv04' 1,
    'cv11' 1;
  --sidebar-width: var(--w-sm);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@theme {
  --aspect-ratio: 3 / 2;
}

/* Use page view transitions. */
@view-transition {
  navigation: auto;
}

@layer base {
  el-menu {
    @apply bg-base-300 outline-base-content/15 origin-top-right rounded-md py-2 outline-1 -outline-offset-1 transition transition-discrete [--anchor-gap:--spacing(2.5)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in;
    a {
      @apply focus:text-accent flex items-center gap-4 px-4 py-2 text-sm no-underline hover:underline focus:outline-hidden;
    }
  }
  dialog {
    @apply backdrop:bg-transparent;
  }
  el-dialog-backdrop {
    @apply bg-base-100/25 fixed inset-0 transition-opacity duration-300 ease-linear data-closed:opacity-0;
  }
  el-dialog-panel {
    @apply transition duration-200 data-closed:scale-95 data-closed:opacity-0;
  }
}

/* Custom Component Classes */
/* See also: https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes */
@layer components {
  .page-title {
    @apply text-2xl/7 font-bold tracking-tight sm:text-3xl;
  }

  .card.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .toast {
    & > .alert {
      transition:
        opacity 1s,
        translate 1s;
      opacity: 1;
      translate: 0 0;
      @starting-style {
        opacity: 0;
        translate: 0 10px;
      }
    }
  }

  .logo-landing {
    @apply fill-base-content stroke-base-content;
    .leaf-left {
      path {
        @apply fill-primary;
      }
    }
    .leaf-center {
      path {
        @apply fill-secondary;
      }
    }
    .leaf-right {
      path {
        @apply fill-accent;
      }
    }
    path {
      @apply fill-base-content stroke-base-content;
    }
    ellipse {
      @apply stroke-base-content;
    }
    circle {
      @apply stroke-base-content;
    }
  }
  .logo-drawer {
    @apply fill-accent stroke-accent;
    path {
      @apply fill-accent stroke-accent;
    }
    ellipse {
      @apply stroke-accent;
    }
    circle {
      @apply stroke-accent;
    }
  }
}

@utility responsive-img {
  width: 100%;
  height: auto;
  aspect-ratio: var(--aspect-ratio);
  object-fit: cover;
  /* Prevent haptic touch previews */
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

@utility responsive-video {
  max-width: fit-content;
  height: auto;
  aspect-ratio: var(--aspect-ratio);
  object-fit: cover;
}
