package search

import "github.com/joshuar/go-templ-daisyui"

// templ SearchInputTempl(input model.SearchRequest) {
// 	<div class="dropdown">
// 		<label class={ "form-control w-full max-w-xs" }>
// 			<label class="input input-primary flex items-center gap-2">
// 				@components.FontAwesomeTempl(components.NewIcon("magnifying-glass"))
// 				@components.InputTempl(components.GenerateInput())
// 				@components.LoadingRingTempl(components.SM)
// 			</label>
// 		</label>
// 		<ul id="search-results" tabindex="0" class="dropdown-content bg-base-100 rounded-box z-[1] w-full p-2 shadow"></ul>
// 	</div>
// }
templ SearchResultsTempl(results SearchResults) {
	for _, result := range results {
		switch res := result.(type) {
			case components.Button:
				<li>
					@components.ButtonTempl(res)
				</li>
		}
	}
}
