// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"context"
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/actions/dropdown"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/classes/shadow"
	"github.com/joshuar/go-templ-daisyui/display/article"
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/card"
	"github.com/joshuar/go-templ-daisyui/display/figure"
	"github.com/joshuar/go-templ-daisyui/display/image"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/feedback/tooltip"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/navigation/link"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
	"strings"
)

type ArticlesPage struct {
	filters    *models.ArticleFilters
	articles   models.Articles
	pagination models.Pagination
}

func NewArticlesPage(articles models.Articles, filters *models.ArticleFilters, pagination models.Pagination) *ArticlesPage {
	return &ArticlesPage{
		articles:   articles,
		filters:    filters,
		pagination: pagination,
	}
}

// Template will render the home page based on the request details.
func (page *ArticlesPage) Template(req *http.Request) templ.Component {
	switch {
	case req.Method == http.MethodPost:
		return page.cards()
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Articles",
			templates.WithBodyContent(page.layout()),
		)
	}
}

// layout is the complete page layout for the articles page.
templ (page *ArticlesPage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

// content is the main content to show for a collection of articles.
templ (page *ArticlesPage) content() {
	<div id="content-filters" class="hidden">
		for name, value := range page.filters.Parameters() {
			@hiddeninput.Build(
				hiddeninput.WithName(name),
				hiddeninput.WithValue(attributes.Value(value)),
			)
		}
	</div>
	<div id="card-controls" class="controls">
		@partials.NewAction("/articles", partials.DisplayActionAsButton,
			partials.ActionInclude("#content-filters"),
			partials.ActionValues(page.filters.Parameters()),
		) {
			@tabler.Refresh()
		}
		@UpdateSorting("/articles", page.filters.GetSort())
		@UpdateFilters(page.articles.GetCategoryCounts(), "/articles", page.filters.GetCategories(), page.filters.GetView())
		@dropdown.Build(
			dropdown.WithButtonContent(tabler.DotsVertical()),
			dropdown.WithOpenAlignment(dropdown.AlignEnd),
			dropdown.WithMenuClasses("flex-nowrap", "grow", "min-w-52", "text-xs"),
		).Show() {
			<li>
				switch page.filters.GetView() {
					case models.ViewUnread:
						@partials.NewAction("/subscriptions/mark/"+string(models.MarkRead), partials.DisplayActionAsLink,
							partials.ActionMethod(http.MethodPost),
							partials.ActionValues(map[string]string{
								models.ParamSubscriptions: strings.Join(page.articles.GetSubscriptionIDs(), ","),
								"redirect":                "/subscriptions",
							}),
						) {
							<div class="flex gap-2">
								@tabler.Bookmark(i.Props{Size: i.SizeXS})
								Mark Read
							</div>
						}
					default:
						@partials.NewAction("/subscriptions/mark/"+string(models.MarkUnread), partials.DisplayActionAsLink,
							partials.ActionMethod(http.MethodPost),
							partials.ActionValues(map[string]string{
								models.ParamSubscriptions: strings.Join(page.articles.GetSubscriptionIDs(), ","),
								"redirect":                "/subscriptions",
							}),
						) {
							<div class="flex gap-2">
								@tabler.Bookmark(i.Props{Size: i.SizeXS})
								Mark Read
							</div>
						}
				}
			</li>
		}
	</div>
	@layouts.CardGrid() {
		if len(page.articles) > 0 {
			@page.cards()
		} else {
			@page.emptyContent()
		}
	}
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
	@partials.Footer()
}

// emptyContent will render a hero with some options when there are no articles to display.
templ (page *ArticlesPage) emptyContent() {
	<div class="hero bg-base-200 min-h-screen rounded-box">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">No content to show</h1>
				<p class="py-6">
					Try adjusting your filters, or maybe there is nothing left to read?
				</p>
				@partials.NewAction("/home", partials.DisplayActionAsButton,
					partials.ActionButtonOptions(
						button.WithClasses(button.Primary),
					),
				) {
					Take me home
				}
			</div>
		</div>
	</div>
}

func (s ArticlesPage) generateCards(ctx context.Context) []templ.Component {
	cards := make([]templ.Component, 0, len(s.articles))
	for article := range slices.Values(s.articles) {
		cards = append(cards, NewArticleContent(article).Card())
	}
	// Add pagination element if pagination is required.
	if s.pagination != "" && len(cards) == s.filters.GetCount() {
		// Add pagination htmx props to last article.
		cards = append(cards, layouts.PaginationControl(ctx, "/articles", s.pagination))
	}
	return cards
}

// cards will render just the article cards.
templ (page *ArticlesPage) cards() {
	for cards := range slices.Values(page.generateCards(ctx)) {
		@cards
	}
}

type Article struct {
	*models.Article
	classes []components.Class
}

func NewArticleContent(article *models.Article) *Article {
	card := &Article{
		Article: article,
	}
	if !article.IsUnread() {
		card.classes = append(card.classes, "brightness-50")
	}
	return card
}

// ShowAsSummary shows a summarised version of the article.
templ (c *Article) summary() {
	@link.Build(
		link.WithAttributes(c.viewAttributes()),
	) {
		<div class="flex flex-row gap-2">
			@c.image()
			<div class="text-sm flex-1 text-justify">{ c.GetTitle() }</div>
		</div>
		<div class="flex flex-row justify-end">
			<div class="text-xs uppercase font-semibold">{ c.GetFeedTitle() }</div>
		</div>
	}
}

// Card shows the article as a card, for displaying in a collection of articles.
templ (c *Article) Card() {
	@card.Build(
		card.WithStyle(card.Border),
		card.WithLayout(card.LayoutSide),
		card.WithShadow(shadow.SM),
		card.WithClasses("article-card", "card-xs", "lg:card-sm", "bg-neutral"),
		card.WithClasses(c.classes...),
		card.WithAttributes(templ.Attributes{
			"id": c.GetID(),
		}),
	) {
		//
		// Card Image.
		//
		@c.image()
		//
		// Card Body.
		//
		@card.BuildBody() {
			// Display title.
			<div class="card-title">
				@link.Build(
					link.WithAttributes(c.viewAttributes()),
				) {
					{ c.GetTitle() }
				}
			</div>
			// Display authors and updated date at bottom left.
			// Display actions menu at bottom right.
			@card.Actions() {
				<div>
					if len(c.GetAuthors()) > 0 {
						<strong>{ strings.Join(c.GetAuthors(), ",") }</strong>
					}
					<span class="text-xs italic">
						@partials.ShowTimestamp(c.GetUpdatedDate())
					</span>
				</div>
				@tooltip.Build("Actions") {
					@dropdown.Build(
						dropdown.WithButtonContent(tabler.DotsVertical()),
						dropdown.WithOpenFrom(dropdown.OpenTop),
						dropdown.WithOpenAlignment(dropdown.AlignEnd),
						dropdown.WithMenuClasses("justify-end", "flex-nowrap", "grow"),
					).Show() {
						// Visit action.
						<li _="on click call document.activeElement.blur()">
							@c.visitAction()
						</li>
						// Mark action.
						<li _="on click call document.activeElement.blur()">
							@MarkArticleLink(c.GetSubscriptionID(), c.GetID(), c.IsUnread())
						</li>
						// Favorite action.
						<li _="on click call document.activeElement.blur()">
							if c.Favorite {
								@partials.NewAction("/user/favorite/article/"+c.GetID(), partials.DisplayActionAsLink,
									partials.ActionMethod(http.MethodDelete),
									partials.ActionSwap("none"),
									partials.ActionLinkOptions(
										link.WithClasses("text-xs"),
									),
								) {
									<div class="icontext">
										@tabler.BookmarkOff(i.Props{Size: i.SizeXS})
										Remove Favorite
									</div>
								}
							} else {
								@partials.NewAction("/user/favorite/article/"+c.GetID(), partials.DisplayActionAsLink,
									partials.ActionMethod(http.MethodPut),
									partials.ActionSwap("none"),
									partials.ActionLinkOptions(
										link.WithClasses("text-xs"),
									),
								) {
									<div class="icontext">
										@tabler.Bookmark(i.Props{Size: i.SizeXS})
										Add Favorite
									</div>
								}
							}
						</li>
					}
				}
			}
		}
	}
}

templ (c *Article) ShowAsSearchSuggestion() {
	<li class="list-row" _="on click call document.activeElement.blur()">
		<div>
			<div class="list-col-wrap text-xs">
				@c.summary()
			</div>
		</div>
	</li>
}

// Content shows the full article content.
templ (c *Article) Content() {
	<div class="flex justify-center">
		@article.Build(
			article.WithExtraClasses("shadow-sm", "bg-neutral", "rounded-box", "p-2", "overflow-scroll", "max-w-prose"),
		).Show() {
			<h2>
				@text.Build(
					text.WithWeight(text.Semibold),
					text.WithSize(text.LG),
				) {
					{ c.GetTitle() }
				}
			</h2>
			<div>
				if len(c.GetAuthors()) > 0 {
					<strong>{ strings.Join(c.GetAuthors(), ",") }</strong>
				}
				<span class="text-xs">
					@partials.ShowTimestamp(c.GetUpdatedDate())
				</span>
			</div> // Display the categories associated with the article.
			for category := range slices.Values(c.GetCategories()) {
				@badge.Build(
					badge.WithStyle(badge.Ghost),
					badge.WithSize(badge.XS),
					badge.WithContent(category),
					badge.WithExtraClasses("capitalize", "w-fit-content"),
				).Show()
			}
			// Display the article content.
			<div id="article_content" class="text-sm max-w-prose">
				switch  {
					case c.GetContent() != "":
						@templ.Raw(c.GetContent())
					case c.GetDescription() != "":
						@templ.Raw(c.GetDescription())
				}
			</div>
			<div class="flex justify-center m-2 gap-2">
				// <div>
				// 	// Share article action.
				// 	@c.shareLink()
				// </div>
				<div>
					// Visit external article link action.
					@c.visitAction()
				</div>
			</div>
		}
	</div>
	<div
		hx-post="/articles/mark/read"
		hx-swap="none"
		hx-trigger="intersect once"
		hx-vals={ partials.GenerateHXVals(map[string]string{
					"articles": c.GetSubscriptionID() + "__" + c.GetID(),
				}) }
		hx-push-url="false"
		_="on htmx:afterRequest remove me"
	></div>
}

// MarkArticleLink generates a link/action that will mark the article read/unread depending on its current
// read state.
templ MarkArticleLink(subscriptionID models.SubscriptionID, itemID models.ItemID, unread bool) {
	{{ var mark string }}
	if unread {
		{{ mark = "read" }}
	} else {
		{{ mark = "unread" }}
	}
	@partials.NewAction("/subscription/"+subscriptionID+"/article/"+itemID+"/mark/"+mark, partials.DisplayActionAsLink,
		partials.ActionMethod(http.MethodPost),
		partials.ActionTarget("#"+itemID),
		partials.ActionSwap("outerHTML"),
		partials.ActionInclude("[name='view']"),
		partials.ActionLinkOptions(
			link.WithClasses("text-xs"),
		),
	) {
		<div class="icontext">
			switch mark {
				case "read":
					@tabler.Bookmark()
					Mark Read
				case "unread":
					@tabler.BookmarkFilled()
					Mark Unread
			}
		</div>
	}
}

templ (a *Article) visitAction() {
	@link.Build(
		link.WithAttributes(templ.Attributes{"href": a.GetLink()}),
		link.WithClasses("text-xs"),
	) {
		<div class="flex gap-2">
			@tabler.ExternalLink(i.Props{Size: i.SizeXS})
			Original Article
		</div>
	}
}

// image returns an appropriate image to use in the article card. It will either be the article's image or a
// placeholder.
templ (c Article) image() {
	if c.GetImage().URL != "" {
		@figure.Build(
			image.Build(
				c.GetImage().URL,
				image.WithLazyLoading(),
			),
			figure.WithFigureClasses("max-w-24"),
		).Show()
	}
}

func (c *Article) viewAttributes() templ.Attributes {
	return templ.Attributes{
		"hx-get":      "/article/" + c.GetID(),
		"hx-target":   partials.ContentID.Target(),
		"hx-push-url": "true",
		"hx-swap":     "innerHTML scroll:top",
	}
}
