// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"net/http"
	"slices"
)

type ArticlesPage struct {
	filters    *models.ArticleFilters
	articles   models.Articles
	pagination models.Pagination
}

func NewArticlesPage(articles models.Articles, filters *models.ArticleFilters, pagination models.Pagination) *ArticlesPage {
	return &ArticlesPage{
		articles:   articles,
		filters:    filters,
		pagination: pagination,
	}
}

// Template will render the home page based on the request details.
func (page *ArticlesPage) Template(req *http.Request) templ.Component {
	switch {
	case req.Method == http.MethodPost:
		return page.list()
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Articles",
			templates.WithBodyContent(page.layout()),
		)
	}
}

// layout is the complete page layout for the articles page.
templ (page *ArticlesPage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

// content is the main content to show for a collection of articles.
templ (page *ArticlesPage) content() {
	<div id="content-filters" class="hidden">
		for name, value := range page.filters.Parameters() {
			@hiddeninput.Build(
				hiddeninput.WithName(name),
				hiddeninput.WithValue(attributes.Value(value)),
			)
		}
	</div>
	@partials.ListControls{
		Path:       "/articles",
		Filters:    page.filters,
		Categories: page.articles.GetCategoryCounts(),
	}.Template()
	if len(page.articles) > 0 {
		@layouts.Grid() {
			@page.list()
		}
	} else {
		@layouts.EmptyContent()
	}
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
	@partials.Footer()
}

// list will render the articles as items.
templ (page *ArticlesPage) list() {
	for article := range slices.Values(page.articles) {
		@partials.NewArticleContent(article).ShowAsItem()
	}
	// Add pagination element if pagination is required.
	if page.pagination != "" && len(page.articles) == page.filters.GetCount() {
		// Add pagination htmx props to last article.
		@layouts.PaginationControl(ctx, "/articles", page.pagination)
	}
}

type ArticlePage struct {
	article *models.Article
}

func NewArticlePage(article *models.Article) *ArticlePage {
	return &ArticlePage{
		article: article,
	}
}

// Template will render the home page based on the request details.
func (page *ArticlePage) Template(req *http.Request) templ.Component {
	switch {
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - "+page.article.GetTitle(),
			templates.WithBodyContent(page.layout()),
		)
	}
}

// layout is the complete page layout for the articles page.
templ (page *ArticlePage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

// content is the main content to show for a collection of articles.
templ (page *ArticlePage) content() {
	@partials.NewArticleContent(page.article).Content()
}
