// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/server/session"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"net/http"
	"slices"
	"strconv"
)

type HomePage struct {
	Subscriptions  models.SubscriptionsSlice
	TopCategories  models.CategoryCounts
	RareCategories models.CategoryCounts
	RandomArticles []templ.Component
}

// Template will render the home page based on the request details.
func (page *HomePage) Template(req *http.Request) templ.Component {
	switch {
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Home",
			templates.WithBodyContent(page.layout()),
		)
	}
}

// layout renders the full home page content and layout.
templ (page *HomePage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

// content renders the home page content.
templ (page *HomePage) content() {
	if page == nil || len(page.Subscriptions) == 0 {
		@emptyHome()
	} else {
		<div class="mt-8">
			<h3 class="text-base font-semibold">Stats</h3>
			<dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
				<div class="relative overflow-hidden rounded-lg bg-base-200/75 px-4 pt-5 pb-12 shadow-sm inset-ring inset-ring-base-content/10 sm:px-6 sm:pt-6">
					<dt>
						<div class="absolute rounded-md bg-primary p-3">
							@partials.HeroIconSubscription("size-6 text-primary-content")
						</div>
						<p class="ml-16 truncate text-sm font-medium ">Unread Subscriptions</p>
					</dt>
					<dd class="ml-16 flex items-baseline pb-6 sm:pb-7">
						<p class="text-2xl font-semibold">{ strconv.Itoa(len(page.Subscriptions)) }</p>
						<div class="absolute inset-x-0 bottom-0 bg-base-200/20 px-4 py-4 sm:px-6">
							<div class="text-sm">
								<a
									hx-get="/subscriptions"
									hx-target={ partials.ContentID.Target() }
									hx-push-url="true"
									hx-vals={ session.SubscriptionFiltersFromSession(ctx).HXVals() }
									class="link link-hover font-medium text-primary hover:text-accent"
								>
									View all<span class="sr-only">Total unread subscriptions</span>
								</a>
							</div>
						</div>
					</dd>
				</div>
				<div class="relative overflow-hidden rounded-lg bg-base-200/75 px-4 pt-5 pb-12 shadow-sm inset-ring inset-ring-base-content/10 sm:px-6 sm:pt-6">
					<dt>
						<div class="absolute rounded-md bg-primary p-3">
							@partials.HeroIconArticle("size-6 text-primary-content")
						</div>
						<p class="ml-16 truncate text-sm font-medium ">Unread Articles</p>
					</dt>
					<dd class="ml-16 flex items-baseline pb-6 sm:pb-7">
						<p class="text-2xl font-semibold">{ strconv.Itoa(page.Subscriptions.GetTotalUnreadCount()) }</p>
						<div class="absolute inset-x-0 bottom-0 bg-base-200/20 px-4 py-4 sm:px-6">
							<div class="text-sm">
								<a
									hx-get="/articles"
									hx-target={ partials.ContentID.Target() }
									hx-push-url="true"
									hx-vals={ session.ArticleFiltersFromSession(ctx).HXVals() }
									class="link link-hover font-medium text-primary hover:text-accent"
								>
									View all<span class="sr-only">Total unread articles</span>
								</a>
							</div>
						</div>
					</dd>
				</div>
			</dl>
		</div>
		if page.TopCategories != nil {
			<div class="mt-8">
				<h3 class="text-base font-semibold">Top Categories</h3>
				<div class="flex justify-center gap-2 p-4 m-4">
					<div id="top-categories" class="flex flex-row flex-wrap place-content-center p-2 gap-2">
						for category := range slices.Values(page.TopCategories) {
							@categoryBadge(category)
						}
					</div>
				</div>
			</div>
		}
		if page.RareCategories != nil {
			<div class="mt-8">
				<h3 class="text-base font-semibold">Interesting Categories</h3>
				<div class="flex justify-center gap-2 p-4 m-4">
					<div id="top-categories" class="flex flex-row flex-wrap place-content-center p-2 gap-2">
						for category := range slices.Values(page.RareCategories) {
							@categoryBadge(category)
						}
					</div>
				</div>
			</div>
		}
		if page.RandomArticles != nil {
			<div class="mt-8">
				<h3 class="text-base font-semibold">Random Articles</h3>
				@layouts.CardGrid() {
					for article := range slices.Values(page.RandomArticles) {
						@article
					}
				}
			</div>
		}
	}
}

templ categoryBadge(category models.CategoryCount) {
	@partials.NewAction("/articles", partials.DisplayActionAsLink,
		partials.ActionValues(session.ArticleFiltersFromSession(ctx).Parameters()),
		partials.ActionPushURL(),
	) {
		<div class="flex gap-2 text-sm capitalize">
			<span class="inline-flex items-center rounded-md bg-primary/10 px-2 py-1 text-xs font-medium text-primary">{ category.Category+ " "+ strconv.Itoa(category.Count) } </span>
		</div>
	}
}

templ emptyHome() {
	<div class="mt-16">
		<h2 class="text-base font-semibold">Welcome home</h2>
		<p class="mt-1 text-sm text-base-content">It looks like you don't have any feeds to read. Try one of the following to get started.</p>
		<ul role="list" class="mt-6 grid grid-cols-1 gap-6 border-y border-base-content py-6 sm:grid-cols-2">
			<li class="flow-root">
				<div class="relative -m-2 flex items-center space-x-4 rounded-xl p-2 focus-within:outline-2 focus-within:outline-primary hover:bg-accent/50 hover:text-accent-content">
					<div class="flex size-16 shrink-0 items-center justify-center rounded-lg bg-primary">
						@partials.HeroIconAdd("size-6", "text-primary-content")
					</div>
					<div>
						<h3 class="text-sm font-medium ">
							<a
								hx-get="/user/subscription/add"
								hx-target={ partials.ContentID.Target() }
								hx-push-url="true"
								class="focus:outline-hidden"
							>
								<span aria-hidden="true" class="absolute inset-0"></span>
								<span>Add a subscription</span>
								<span aria-hidden="true">&rarr;</span>
							</a>
						</h3>
						<p class="mt-1 text-sm text-base-content">Add a single subscription from a URL or webpage.</p>
					</div>
				</div>
			</li>
			<li class="flow-root">
				<div class="relative -m-2 flex items-center space-x-4 rounded-xl p-2 focus-within:outline-2 focus-within:outline-secondary hover:bg-accent/50 hover:text-accent-content">
					<div class="flex size-16 shrink-0 items-center justify-center rounded-lg bg-secondary">
						@partials.HeroIconImport("size-6", "text-secondary-content")
					</div>
					<div>
						<h3 class="text-sm font-medium">
							<a
								hx-get="/user/import"
								hx-target={ partials.ContentID.Target() }
								hx-push-url="true"
								class="focus:outline-hidden"
							>
								<span aria-hidden="true" class="absolute inset-0"></span>
								<span>Import subscriptions</span>
								<span aria-hidden="true">&rarr;</span>
							</a>
						</h3>
						<p class="mt-1 text-sm text-base-content">Import multiple subscriptions using an OPML file.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
}
