// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package views

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
)

templ SearchSuggestions(suggestions ...templ.Component) {
	<ul
		class="list dropdown-content bg-base-200/90 w-screen lg:w-full rounded-box shadow-md"
		tabindex="3"
		_="on click remove me"
	>
		for suggestion := range slices.Values(suggestions) {
			@suggestion
		}
		<div class="flex items-center">
			More results...
		</div>
	</ul>
}

templ SearchSuggestionHeader(text string) {
	<li class="p-4 pb-2 text-xs opacity-60 tracking-wide">{ text }</li>
}

type SearchResultsPage struct {
	subscriptions []*partials.Subscription
	articles      []*partials.Article
	search        *models.SearchRequest
	favoriteID    models.FavoriteID
}

func NewSearchResultsPage(fav *models.Favorite, search *models.SearchRequest, subscriptions []*partials.Subscription, articles []*partials.Article) *SearchResultsPage {
	page := &SearchResultsPage{
		search:        search,
		subscriptions: subscriptions,
		articles:      articles,
	}
	if fav != nil {
		page.favoriteID = fav.GetID()
	}
	return page
}

// Template will render the home page based on the request details.
func (page *SearchResultsPage) Template(req *http.Request) templ.Component {
	switch {
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Search Results",
			templates.WithBodyContent(page.layout()),
		)
	}
}

// layout is the complete page layout for the articles page.
templ (page *SearchResultsPage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

templ (page *SearchResultsPage) content() {
	// <script type="text/hyperscript">
	// 	on load hide #search-suggestions
	// </script>
	<div class="controls">
		<div id="favorite_button">
			if page.favoriteID != "" {
				@RemoveFavoriteSearchButton(page.favoriteID)
			} else {
				@AddFavoriteSearchButton()
			}
		</div>
	</div>
	<div id="search_request" class="hidden">
		@hiddeninput.Build(
			hiddeninput.WithName("text"),
			hiddeninput.WithValue(attributes.Value(page.search.Text)),
		)
	</div>
	<div class="flex flex-col m-2 gap-2 items-center">
		if len(page.subscriptions) > 0 {
			<div tabindex="0" id="subscription-results" class="collapse collapse-arrow bg-base-200 border-base-300 border">
				<input type="checkbox"/>
				<div class="collapse-title font-semibold">Subscriptions ({ len(page.subscriptions) } results)</div>
				<div class="collapse-content text-xs">
					<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols3 justify-center gap-4">
						for subscription := range slices.Values(page.subscriptions) {
							<div class="grid-item">
								@subscription.ShowAsSearchResult()
							</div>
						}
					</div>
				</div>
			</div>
		}
		if len(page.articles) > 0 {
			<div tabindex="0" id="article-results" class="collapse collapse-arrow bg-base-200 border-base-300 border">
				<input type="checkbox"/>
				<div class="collapse-title font-semibold">Articles ({ len(page.articles) } results)</div>
				<div class="collapse-content text-sm">
					<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4">
						for article := range slices.Values(page.articles) {
							<div class="grid-item">
								@article.ShowAsSearchResult()
							</div>
						}
					</div>
				</div>
			</div>
		}
	</div>
}

templ AddFavoriteSearchButton() {
	@partials.NewAction("/user/favorite/search", partials.DisplayActionAsButton,
		partials.ActionMethod(http.MethodPut),
		partials.ActionTarget("#favorite_button"),
		partials.ActionInclude("#search_request"),
	) {
		@tabler.Heart()
	}
}

templ RemoveFavoriteSearchButton(id models.FavoriteID) {
	@partials.NewAction("/user/favorite/search", partials.DisplayActionAsButton,
		partials.ActionMethod(http.MethodDelete),
		partials.ActionTarget("#favorite_button"),
		partials.ActionInclude("#search_request"),
	) {
		@tabler.HeartFilled()
	}
}
