// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package views

import (
	"github.com/immanent-tech/go-feed-me/models"
	"github.com/immanent-tech/go-feed-me/web/templates/layouts"
	"github.com/immanent-tech/go-feed-me/web/templates/partials"
	"slices"
)

type SubscriptionsPage struct {
	filters       *models.SubscriptionFilters
	subscriptions models.SubscriptionsSlice
	pagination    models.Pagination
}

func NewSubscriptionsPage(subscriptions models.SubscriptionsSlice, filters *models.SubscriptionFilters, pagination models.Pagination) *SubscriptionsPage {
	return &SubscriptionsPage{
		filters:       filters,
		subscriptions: subscriptions,
		pagination:    pagination,
	}
}

// Content renders subscription cards and filter/sorting controls.
templ (page *SubscriptionsPage) Content() {
	// Hidden content filters.
	<div id="content-filters" class="hidden">
		for name, value := range page.filters.Parameters() {
			<input type="hidden" name={ name } value={ value }/>
		}
	</div>
	// Mobile breadcrumbs/navigation.
	<div class="breadcrumbs-mobile">
		<ul>
			<li aria-label="Back">
				<a href="/home" class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
					<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="mr-1 -ml-1 size-5 shrink-0 text-base-content/50">
						<path d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" fill-rule="evenodd"></path>
					</svg>
					Back to Home
				</a>
			</li>
		</ul>
	</div>
	// Desktop breadcrumbs/navigation.
	<div class="breadcrumbs-desktop">
		<ul>
			<li aria-label="Home">
				<a href="/home" class="link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
					Home
				</a>
			</li>
			<li aria-label="Subscriptions">
				<a href="#" class="ml-4 link link-hover text-sm font-medium text-base-content/50 hover:text-base-content">
					Subscriptions
				</a>
			</li>
		</ul>
	</div>
	<div id="update-notifications" sse-connect={ "/subscriptions/updates?" + page.filters.Query() } sse-swap="message" class="toast toast-center z-50"></div>
	@partials.ListControls{
		Path:       "/subscriptions",
		Filters:    page.filters,
		Categories: page.subscriptions.GetCategoryCounts(),
	}.Template()
	@layouts.Grid() {
		@page.List()
	}
}

// List renders just subscription cards. Called when paginating through subscriptions.
templ (page *SubscriptionsPage) List() {
	for subscription := range slices.Values(page.subscriptions) {
		@partials.NewSubscriptionContent(subscription).Card()
	}
	if page.pagination != "" && len(page.subscriptions) == page.filters.GetCount() {
		// Add pagination htmx props to last article.
		@layouts.PaginationControl(ctx, "/subscriptions", page.pagination)
	}
}
