// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package views

import (
	"github.com/angelofallars/htmx-go"
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/sebasvil20/templicons/i"
	"github.com/sebasvil20/templicons/tabler"
	"net/http"
	"slices"
)

type SubscriptionsPage struct {
	filters       *models.SubscriptionFilters
	subscriptions models.SubscriptionsSlice
	pagination    models.Pagination
}

func NewSubscriptionsPage(subscriptions models.SubscriptionsSlice, filters *models.SubscriptionFilters, pagination models.Pagination) *SubscriptionsPage {
	return &SubscriptionsPage{
		filters:       filters,
		subscriptions: subscriptions,
		pagination:    pagination,
	}
}

// Template will render the home page based on the request details.
func (page *SubscriptionsPage) Template(req *http.Request) templ.Component {
	switch {
	case req.Method == http.MethodPost:
		return page.list()
	case htmx.IsHTMX(req) && !htmx.IsHistoryRestoreRequest(req):
		return page.content()
	default:
		return templates.NewPage("Go Feed Me - Subscriptions",
			templates.WithBodyContent(page.layout()),
		)
	}
}

// Layout is the complete page layout for the subscriptions page.
templ (page *SubscriptionsPage) layout() {
	@layouts.Drawer() {
		@page.content()
	}
}

// Content is the content section of the subscriptions page.
templ (page *SubscriptionsPage) content() {
	// Fragment: content filters
	<div id="content-filters" class="hidden">
		for name, value := range page.filters.Parameters() {
			@hiddeninput.Build(
				hiddeninput.WithName(name),
				hiddeninput.WithValue(attributes.Value(value)),
			)
		}
	</div>
	@partials.ListControls{
		Path:       "/subscriptions",
		Filters:    page.filters,
		Categories: page.subscriptions.GetCategoryCounts(),
	}.Template()
	if len(page.subscriptions) > 0 {
		@layouts.CardGrid() {
			@page.list()
		}
	} else {
		@layouts.EmptyContent()
	}
	<div id="content-loading" class="items-center justify-center">
		@loading.Build(loading.Bars,
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
}

// Cards is the list of subscriptions as cards within the subscriptions page.
templ (page *SubscriptionsPage) list() {
	for subscription := range slices.Values(page.subscriptions) {
		@partials.NewSubscriptionContent(subscription).Card()
	}
	if page.pagination != "" && len(page.subscriptions) == page.filters.GetCount() {
		// Add pagination htmx props to last article.
		@layouts.PaginationControl(ctx, "/subscriptions", page.pagination)
	}
}

templ markAllSubscriptionsLink(mark models.Mark) {
	@partials.NewAction("/subscriptions/mark/"+string(mark), partials.DisplayActionAsLink,
		partials.ActionMethod(http.MethodPost),
		partials.ActionInclude("#content-filters"),
	) {
		<div class="flex gap-2">
			switch mark {
				case models.MarkUnread:
					@tabler.Bookmark(i.Props{Size: i.SizeXS})
					Mark All Unread
				case models.MarkRead:
					@tabler.Bookmark()
					Mark All Read
			}
		</div>
	}
}
