// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later


package views

import (
	"github.com/joshuar/go-feed-me/models"
	"github.com/joshuar/go-feed-me/web/templates/layouts"
	"github.com/joshuar/go-feed-me/web/templates/partials"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/input/hiddeninput"
	"slices"
)

type SubscriptionsPage struct {
	filters       *models.SubscriptionFilters
	subscriptions models.SubscriptionsSlice
	pagination    models.Pagination
}

func NewSubscriptionsPage(subscriptions models.SubscriptionsSlice, filters *models.SubscriptionFilters, pagination models.Pagination) *SubscriptionsPage {
	return &SubscriptionsPage{
		filters:       filters,
		subscriptions: subscriptions,
		pagination:    pagination,
	}
}

// Content renders subscription cards and filter/sorting controls.
templ (page *SubscriptionsPage) Content() {
	// Fragment: content filters
	<div id="content-filters" class="hidden">
		for name, value := range page.filters.Parameters() {
			@hiddeninput.Build(
				hiddeninput.WithName(name),
				hiddeninput.WithValue(attributes.Value(value)),
			)
		}
	</div>
	@partials.ListControls{
		Path:       "/subscriptions",
		Filters:    page.filters,
		Categories: page.subscriptions.GetCategoryCounts(),
	}.Template()
	@layouts.CardGrid() {
		@page.List()
	}
}

// List renders just subscription cards. Called when paginating through subscriptions.
templ (page *SubscriptionsPage) List() {
	for subscription := range slices.Values(page.subscriptions) {
		@partials.NewSubscriptionContent(subscription).Card()
	}
	if page.pagination != "" && len(page.subscriptions) == page.filters.GetCount() {
		// Add pagination htmx props to last article.
		@layouts.PaginationControl(ctx, "/subscriptions", page.pagination)
	}
}
