// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package panes

import (
	"github.com/joshuar/go-templ-daisyui"
	"strconv"
)

templ Header() {
	<div
		id="content-header"
		hx-swap-oob="true"
		class="bg-base-300 sticky top-0 max-w-full"
	>
		@components.NewMenu(
			components.WithLayout[*components.Menu](components.HorizontalLayout),
			components.WithItems[*components.Menu](
				backButton(),
				refreshButton(),
				markAllReadButton(),
			),
		).Show()
	</div>
}

// AppBarBottom displays an app bar at the bottom of the content.
templ Footer() {
	<div
		id="content-footer"
		hx-swap-oob="true"
		class="bg-base-300 sticky bottom-0 py-12 max-w-full"
	>
		<h1 class="text-center text-xl">Footer</h1>
	</div>
}

// Cards displays a list of the given cards.
templ Cards(header, footer, cards templ.Component) {
	@header
	<div id="content" class="flex flex-col">
		@cards
	</div>
	@footer
}

templ FeedCard(feed Feed) {
	@components.Text(
		feed.GetTitle(),
		components.WithTextSize(components.TextLG),
		components.WithTextWeight(components.TextSemibold),
	)
	@components.Badge(
		components.WithColor[*components.BadgeProps](components.ColorPrimary, false),
		components.WithBadgeDescription(strconv.Itoa(feed.GetUnreadCount())),
	)
	@templ.Raw(feed.GetContent())
}
