// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package panes

import (
	"github.com/joshuar/go-templ-daisyui/display/badge"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/feedback/loading"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"

	"strconv"
)

templ Header() {
	<div
		id="content-header"
		hx-swap-oob="true"
		class="bg-base-300 sticky top-0"
	>
		// {{ markReadURL := models.PageNavigationFromCtx(ctx).GenerateActionURL(models.StateRead) }}
		// @menu.Build(
		// 	menu.WithLayout(menu.Horizontal),
		// 	menu.WithItems(
		// 		navButton(models.PageNavigationFromCtx(ctx).Parent.String(), "fa-arrow-left", "Back"),
		// 		navButton(models.PageNavigationFromCtx(ctx).Current.String(), "fa-rotate", "Refresh"),
		// 	// navButton(markReadURL.String(), "fa-check", "Mark All Read"),
		// 	),
		// ).Show()
	</div>
}

// AppBarBottom displays an app bar at the bottom of the content.
templ Footer() {
	<div
		id="content-footer"
		hx-swap-oob="true"
		class="bg-base-300 sticky bottom-0 py-12"
	>
		<h1 class="text-center text-xl">Footer</h1>
	</div>
}

templ Items(items ...templ.Component) {
	for _, item := range items {
		@item
	}
}

// AllContent will display all content (headers, footers, main content, etc.)
templ AllContent(bar, header, footer templ.Component, items ...templ.Component) {
	@bar
	@header
	<div id="content" class="container mx-auto p-4 items-center justify-center">
		@Items(items...)
		@loading.Build(loading.Bars,
			loading.WithID("content-loading"),
			loading.AsHTMXIndicator(),
			loading.WithThemeColor(color.Accent),
		).Show()
	</div>
	// <div class="flex flex-col items-center justify-center">
	// </div>
	@footer
}

templ FeedCard(feed Feed) {
	@text.Build(feed.GetTitle(),
		text.WithTextSize(text.LG),
		text.WithTextWeight(text.Semibold),
	).Show()
	@badge.Build(
		badge.WithThemeColor(color.Primary, false),
		badge.WithText(strconv.Itoa(feed.GetUserUnreadCount())),
	).Show()
	@templ.Raw(feed.GetContent())
}
