// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package panes

import (
	"context"
	"github.com/joshuar/go-feed-me/internal/models"
	"github.com/joshuar/go-templ-daisyui/actions/button"
	"github.com/joshuar/go-templ-daisyui/attributes"
	"github.com/joshuar/go-templ-daisyui/display/icon"
	"github.com/joshuar/go-templ-daisyui/display/text"
	"github.com/joshuar/go-templ-daisyui/input/toggle"
	"github.com/joshuar/go-templ-daisyui/modifiers/color"
	"github.com/joshuar/go-templ-daisyui/modifiers/size"
)

// setReadToggleValue sets the value attribute of the read/unread toggle. It
// should be set to the opposite of the current value as this is the value sent
// when the user clicks the toggle.
func setReadToggleValue(ctx context.Context) string {
	currentValue := models.PageNavigationFromCtx(ctx).State()
	switch currentValue {
	case models.StateRead:
		return string(models.StateUnread)
	case models.StateUnread:
		fallthrough
	default:
		return string(models.StateRead)
	}
}

templ Drawer() {
	<ul
		id="drawer_menu"
		hx-swap-oob="true"
		class="menu bg-base-200 text-base-content items-center justify-center min-h-full max-w-32 p-4"
	>
		<li>
			@text.Build("Actions",
				text.WithTextWeight(text.Bold),
				text.WithTextSize(text.SM),
			).Show()
		</li>
		<li>
			@button.Build(
				button.WithSize(size.SM),
				button.WithID("add"),
				button.WithThemeColor(color.Primary, false),
				button.WithContent(icon.Build("fa-plus")),
				button.WithExtraAttributes(templ.Attributes{
					"hx-get":    "/subscription/new",
					"hx-target": "#command_modal",
					"_":         "on htmx:afterOnLoad wait 10ms then add .modal-open to #add_subscription_modal",
				}),
			).Show()
		</li>
		<li>
			@text.Build("Filters",
				text.WithTextWeight(text.Bold),
				text.WithTextSize(text.SM),
			).Show()
		</li>
		<li>
			@toggle.Build(
				toggle.WithID("state"),
				toggle.WithName("state"),
				toggle.WithValue(attributes.Value(setReadToggleValue(ctx))),
				toggle.WithChecked(models.PageNavigationFromCtx(ctx).ShowRead()),
				toggle.WithSize(size.SM),
				toggle.WithExtraAttributes(templ.Attributes{
					"hx-get": models.StripQueryParams(models.PageNavigationFromCtx(ctx).Current,
						"state").String(),
					"hx-target":   "#" + ContentTarget,
					"hx-push-url": "true",
				}),
			).Show()
		</li>
	</ul>
}
