// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: 	AGPL-3.0-or-later

package panes

import (
	"context"
	"github.com/joshuar/go-feed-me/internal/models"
	"github.com/joshuar/go-templ-daisyui"
)

// setReadToggleValue sets the value attribute of the read/unread toggle. It
// should be set to the opposite of the current value as this is the value sent
// when the user clicks the toggle.
func setReadToggleValue(ctx context.Context) string {
	currentValue := models.PageNavigationFromCtx(ctx).State()
	switch currentValue {
	case models.StateRead:
		return string(models.StateUnread)
	case models.StateUnread:
		fallthrough
	default:
		return string(models.StateRead)
	}
}

templ Drawer() {
	<ul
		id="drawer_menu"
		hx-swap-oob="true"
		class="menu bg-base-200 text-base-content items-center justify-center min-h-full max-w-32 p-4"
	>
		<li>
			@components.Text("Actions",
				components.WithTextWeight(components.TextBold),
				components.WithTextSize(components.TextSM),
			)
		</li>
		<li>
			@components.Button(
				components.WithResponsiveSize[*components.ButtonProps](components.SM),
				components.WithID[*components.ButtonProps]("add"),
				components.WithColor[*components.ButtonProps](components.ColorGhost, false),
				components.WithButtonContent(components.AsIconContent("fa-plus")),
				components.WithAttributes[*components.ButtonProps](templ.Attributes{
					"hx-get":    "/subscription/add",
					"hx-target": "#command_modal",
					"_":         "on htmx:afterOnLoad wait 10ms then add .modal-open to #add_subscription_modal",
				}))
		</li>
		<li>
			@components.Text("Filters",
				components.WithTextWeight(components.TextBold),
				components.WithTextSize(components.TextSM),
			)
		</li>
		<li>
			@components.Toggle(
				components.WithID[*components.ToggleProps]("state"),
				components.WithName[*components.ToggleProps]("state"),
				components.WithValue[*components.ToggleProps](setReadToggleValue(ctx)),
				components.WithChecked[*components.ToggleProps](models.PageNavigationFromCtx(ctx).ShowRead()),
				components.WithResponsiveSize[*components.ToggleProps](components.SM),
				components.WithAttributes[*components.ToggleProps](templ.Attributes{
					"hx-get": models.StripQueryParams(models.PageNavigationFromCtx(ctx).Current,
						"state").String(),
					"hx-target":   "#" + ContentTarget,
					"hx-push-url": "true",
				}),
			)
		</li>
	</ul>
}
